* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#data-table-assistant td {
    white-space: normal;
    text-align: left;
}
#permissions td {
    white-space: normal;
    text-align: left;
}
@media
only screen and (max-width: 800px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    #data-table-assistant tbody{
        overflow:auto;
        display: block;
    }
    #permissions tbody{
        overflow:auto;
        display: block;
    }
    #data-table-assistant tbody:before{
        overflow-x:scroll;
        width: auto;
    }
    #permissions tbody:before{
        overflow-x:scroll;
        width: auto;
    }
    #data-table-assistant tbody td:before {
        text-align: left;
    }
    #data-table-assistant tbody td {
        text-align: right;
    }
    #permissions tbody td:before {
        text-align: left;
    }
    #permissions tbody td {
        text-align: right;
    }
    /* Force table to not be like tables anymore */
    #data-table-assistant thead {
        display: block;
    }
    #data-table-assistant th {
        display: block;
    }
    #permissions thead {
        display: block;
    }
    #permissions th {
        display: block;
    }
    #data-table-assistant thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #permissions thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #data-table-assistant tr {
        border: 1px solid #ccc;
        display: block;
    }
    #permissions tr {
        border: 1px solid #ccc;
        display: block;
    }
    #data-table-assistant td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        display: block;
    }
    #permissions td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        display: block;
    }
    #data-table-assistant td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    #permissions td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    #data-table-assistant td:nth-of-type(1):before {
        content: "Nombre";
    }

    #data-table-assistant td:nth-of-type(2):before {
        content: "Apellido";
    }
    #data-table-assistant td:nth-of-type(3):before {
        content: "Teléfono";
    }
    #data-table-assistant td:nth-of-type(4):before {
        content: "Celular";
    }
    #data-table-assistant td:nth-of-type(5):before {
        content: "Email";
    }
    #data-table-assistant td:nth-of-type(6):before {
        content: "Operaciones";
    }

    #permissions td:nth-of-type(1):before {
        content: "CONSULTORIO";
    }
    #permissions td:nth-of-type(2):before {
        content: "VER";
    }
    #permissions td:nth-of-type(3):before {
        content: "AGREGAR";
    }
    #permissions td:nth-of-type(4):before {
        content: "EDITAR";
    }
    #permissions td:nth-of-type(5):before {
        content: "ELIMINAR";
    }
    #permissions td:nth-of-type(6):before {
        content: "CORTE DE CAJA";
    }
}