.actions a.action{
    cursor: pointer;
}

.consult_patient{
    padding-left: 40px;
}

.fc-slats table tbody tr {
    height: 40px;
}

.fc-time-grid-event.fc-short .fc-time {
    font-size: 13px;
}

.fc-time-grid-event.fc-short .fc-title {
    font-size: 13px;
}

.fc-event .fc-time{
    font-size: 13px;
}

.fc-event .fc-title{
    font-size: 13px;
}

#small_calendar_modal .fc-day-number{
    font-size: 16px;
    cursor: pointer;
}