/*
 *= require doctor/odontology
 *= require croppie/croppie
 */
#vital_sign_chart_type li{
    list-style: none;
    padding: 5px;
    border: 1px #00b0dd solid;
    margin-bottom: -1px;
    cursor: pointer;
    font-weight: bold;
}
#line_divs{
    width: 100%;
}
#horizontal_div{
    width: 33%;
    float: left;
    background: #0c7cd5;
}
.hide_comp{
    display: none;
}

#sections_menu{
    list-style: none;
}

#sections_menu li{
    padding: 2px;
}

#sections_menu li a{
    font-size: 14px;
    font-weight: bold;
    color: #4C4C4C;
    cursor: pointer;
    border-bottom: #4C4C4C 1px solid;
}

.patient_info_section{
    padding-top: 10px;
    padding-bottom: 10px;
}

/** Overriding template styles */



/* Aparatos y Sistemas */

.system_button{
    color: white;
    text-align: center;
    cursor: pointer;
}

.system_button .color-block.bgm-cyan{
    padding: 20px 30px;
    margin-bottom: 10px;
}

.close_form_holder{
    float: right;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.save_data_system{
    float: right;
}

.form_item_holder{
    padding-top: 10px;
}

/* consultas */

.form-control:not(.fc-alt).consultation_field{
    border: 1px #A4A4A4 solid;
    padding: 5px;
    font-size: 14px;
}

.consultation_section{
    border: 1px #A4A4A4 solid;
    padding: 10px;
}

#new_medical_consultation i.zmdi-delete{
    cursor: pointer;
    font-size: 18px;
}