
#div_parent_view_files{
    /*opacity: 0.5; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(13, 14, 13, 0.5);
    /*background: rgba(0,0,0,0.5);*/
}

#div_container_view_files{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    /*background: white;
    background-color: black; */
}

#div_container_view_files span{
    color: #ffffff;
}
#div_container_view_files label{
    color: #ffffff;
}

#pageNumber{
    color: #ffffff;
}

#loadingBar{
    color: #ffffff;
}

#thumbnailView{
    width: 100% !important;
}