.fc-slats table tbody tr {
    height: 40px;
}

.fc-time-grid-event.fc-short .fc-time {
    font-size: 13px;
}

.fc-time-grid-event.fc-short .fc-title {
    font-size: 13px;
}

.fc-event .fc-time{
    font-size: 13px;
}

.fc-event .fc-title{
    font-size: 13px;
}

#small_calendar .fc-toolbar{
    background: #00a5bb;
}
#small_calendar .fc-toolbar h2{
    font-size: 16px;
}

#small_calendar {
    margin: 0 auto;
    font-size: 10px;
}
#small_calendar .fc-header-title h2 {
    font-size: .9em;
    white-space: normal !important;
}
#small_calendar .fc-view-month .fc-event, #small_calendar .fc-view-agendaWeek .fc-event {
    font-size: 0;
    overflow: hidden;
    height: 2px;
}
#small_calendar .fc-view-agendaWeek .fc-event-vert {
    font-size: 0;
    overflow: hidden;
    width: 2px !important;
}
#small_calendar .fc-agenda-axis {
    width: 20px !important;
    font-size: .7em;
}

#small_calendar .fc-button-content {
    padding: 0;
}

#small_calendar .fc-day-number{
    font-size: 16px;
    cursor: pointer;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background: none;
}

.asset_holder{
    padding: 5px;
    color: white;
}


.asset_holder a{
    color: white;
    cursor: pointer;
}

.asset_item{
    cursor: pointer;
}

.asset_items_holder{
    background: white;
    color: gray;
}
