* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.table-striped td {
    white-space: normal;
    text-align: left;
}

/** config laboratory **/
#studies_holder{
    max-height: 500px;
    overflow-y: scroll;
}

#study_indications_holder{
    max-height: 500px;
    overflow-y: scroll;
}

.list_item{
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.list_item.active{
    border: 1px solid gray;
    background: #8D70FF;
    color: white;
}

#study_indications_holder{
    background: #8D70FF;
    color: white;
}

.list_item i{
    font-size: 20px;
    font-weight: bold;
}

.col-title{
    text-align: center;
    font-weight: bold;
}

#studies_holder{
    background: #CEECF0;
}

.holder{
    border: 1px solid #c0c0c0;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 650px;
    overflow-y: scroll;
}

@media
only screen and (max-width: 800px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    tbody{
        overflow:auto;
    }

    tbody:before{
        overflow-x:scroll;
        width: auto;
    }
    .table-striped tbody td:before {
        text-align: left;
    }
    .table-striped tbody td {
        text-align: right;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "ID";
    }

    td:nth-of-type(2):before {
        content: "Nombre";
    }
    td:nth-of-type(3):before {
        content: "Dirección";
    }
    td:nth-of-type(4):before {
        content: "Teléfono";
    }
    td:nth-of-type(5):before {
        content: "Email";
    }
    td:nth-of-type(6):before {
        content: "Ciudad";
    }
    td:nth-of-type(7):before {
        content: "Operaciones";
    }

}