/*
 *= require croppie/croppie
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.trash-red{
    color: red;
}

.download-file{
    color:green;
}

.name-file{
    color:#2196f3;
}

#delete_link{
    float: left;
    width: 5%;
}
#book_title{
    float: left;
    width: 95%;
}
.table-striped td {
    white-space: normal;
    text-align: left;
}

label.bold{
    font-weight: bold;
}

#exploration-consultation .col-md-6{
    margin-top: 20px;
}

#vital_sign_chart_type li{
    list-style: none;
    padding: 5px;
    border: 1px #00b0dd solid;
    margin-bottom: -1px;
    cursor: pointer;
    font-weight: bold;
}

.fileinput-preview.thumbnail{
    border:  1px dotted #c0c0c0;
}

div.panel{
    opacity: 1;
    max-height: 500px;
}

.note-editable.panel-body ol{
    padding-left: 50px;
}

.note-editable.panel-body ul{
    padding-left: 50px;
}

/* Apartado de aparatos y sistemas */
.color-block {
    height: 70px;
    color: rgba(255,255,255,0.9);
    text-align: center;
    padding: 15px 0;
    border-radius: 2px;
    margin-bottom: 25px;
}

.close_form_holder{
    font-size: 25px;
    cursor: pointer;
    float: right;
}

.form_button{
    cursor: pointer;
}

/****/

.form_item_holder{
    padding: 15px;
}

.system_description{
    padding: 15px;
}

.system_description{
    font-size: 15px;
}

.save_data_system{
    float: right;
    padding: 10px 45px;
}
/* Finaliza apartado de aparatos y sistemas */


/* new consultation form*/
.form-control:not(.fc-alt).consultation_field{
    border: 1px #A4A4A4 solid;
    padding: 5px;
    font-size: 14px;
}

.consultation_section{
    border: 1px #A4A4A4 solid;
    padding: 10px;
}

#new_medical_consultation i.zmdi-delete{
    cursor: pointer;
    font-size: 18px;
}

.tab-content{
    padding: 0 0;
}

#urological_background_form .hide_comp{
    display: none;
}

@media
only screen and (max-width: 800px),
(min-device-width: 768px) and (max-device-width: 1024px) {


    .table-striped tbody{
        overflow:auto;
    }

    .table-striped tbody:before{
        overflow-x:scroll;
        width: auto;
    }
    .table-striped tbody td:before {
        text-align: left;
    }
    .table-striped tbody td {
        text-align: right;
    }
    /* Force table to not be like tables anymore */
    .table-striped table,.table-striped thead,.table-striped tbody,.table-striped th,.table-striped td,.table-striped tr {
        display: block;
    }

    .table-striped thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-striped tr {
        border: 1px solid #ccc;
    }

    .table-striped  td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .table-striped td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    #data-table-medical-expedients td:nth-of-type(1):before {
        content: "Folio";
    }

    #data-table-medical-expedients td:nth-of-type(2):before {
        content: "Paciente";
    }

    #data-table-medical-expedients td:nth-of-type(3):before {
        content: "Genero";
    }
    #data-table-medical-expedients td:nth-of-type(4):before {
        content: "Edad";
    }
    #data-table-medical-expedients td:nth-of-type(5):before {
        content: "Teléfono";
    }
    #data-table-medical-expedients td:nth-of-type(6):before {
        content: "Celular";
    }
    #data-table-medical-expedients td:nth-of-type(7):before {
        content: "Ultima consulta";
    }
    #data-table-medical-expedients td:nth-of-type(8):before {
        content: "Operaciones";
    }

    #data-table-vital_signs td:nth-of-type(1):before {
        content: "Fecha";
    }
    #data-table-vital_signs td:nth-of-type(2):before {
        content: "Altura";
    }
    #data-table-vital_signs td:nth-of-type(3):before {
        content: "Peso";
    }
    #data-table-vital_signs td:nth-of-type(4):before {
        content: "Temperatura";
    }
    #data-table-vital_signs td:nth-of-type(5):before {
        content: "Mostrar";
    }

    .consult_data td:nth-of-type(1):before {
        content: "";
    }
    .consult_data td:nth-of-type(2):before {
        content: "FECHA";
    }
    .consult_data td:nth-of-type(3):before {
        content: "CONDICIÓN";
    }
    .consult_data td:nth-of-type(4):before {
        content: "DIAGNÓSTICO";
    }
    .consult_data td:nth-of-type(5):before {
        content: "RECOMENDACIONES";
    }



}