.teeth{
    padding: 5px;
    width: 50px;
    height: 50px;
    float: left;
}

.teeth_holder{
    width: 40px;
    height: 40px;
}

.teeth_holder .section{
    float: left;
    width: 33%;
    height: 33%;
    border-radius: 50%;
}

.teeth_holder .section_teeth{
    border: #000000 1px solid;
}

#odontogram_botton .teeth{
    border-top: #000000 1px solid;
}

.section_teeth:hover{
    background: gray;
}

.the_theet_8{
    border-right: #000000 1px solid;
}
.the_theet_24{
    border-right: #000000 1px solid;
}