label.bold{
    font-weight: bold;
}

.day_schedule .time-input-holder{
    height: 60px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.table-striped td {
    white-space: normal;
    text-align: left;
}

.fileinput .fileinput-preview{
    margin-top: 20px;
    border: 2px #c0c0c0 dotted;
    width: 280px;
    height: 280px;
}

.fileinput .thumbnail > img{
    width: 100%;
}

@media
only screen and (max-width: 800px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .table-striped tbody{
        overflow:auto;
    }

    .table-striped tbody:before{
        overflow-x:scroll;
        width: auto;
    }
    .table-striped tbody td:before {
        text-align: left;
    }
    .table-striped tbody td {
        text-align: right;
    }
    /* Force table to not be like tables anymore */
    .table-striped table {
        display: block;
    }
    .table-striped thead {
        display: block;
    }
    .table-striped tbody {
        display: block;
    }
    .table-striped th {
        display: block;
    }
    .table-striped td {
        display: block;
    }
    .table-striped tr {
        display: block;
    }
    .table-striped thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-striped tr {
        border: 1px solid #ccc;
    }

    .table-striped td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .table-striped td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }


    .table-striped td:nth-of-type(1):before {
        content: "Nombre";
    }
    .table-striped td:nth-of-type(2):before {
        content: "Dirección";
    }
    .table-striped td:nth-of-type(3):before {
        content: "Teléfono";
    }
    .table-striped td:nth-of-type(4):before {
        content: "Tiempo consulta";
    }
    .table-striped td:nth-of-type(5):before {
        content: "Operaciones";
    }

}


.cc-selector-2 input{
    position:absolute;
    z-index:999;
}


.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
/* background-size:contain;
width:100px;*/
.drinkcard-cc{
    cursor:pointer;
    background-size:cover;
    background-repeat:no-repeat;
    display:inline-block;
    width:100%;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.template_a{
    height:20em;
}
.template_b{
    height:26em;
}

.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/*
.cc-selector-2 label{ margin-left: 5%; }
*/