/*
 *= require croppie/croppie
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.table-striped td {
    white-space: normal;
    text-align: left;
}

.fileinput .fileinput-preview{
    border: 2px #c0c0c0 dotted;
    width: 210px;
    height: 210px;
    margin-left: 20px;
}



.fileinput .thumbnail > img{
    width: 100%;
}

.patient_show strong{
    font-size: 15px;
}
.patient_show span{
    font-size: 14px;
}

@media
only screen and (max-width: 800px),
(min-device-width: 768px) and (max-device-width: 1024px) {

   #data-table-patient tbody{
        overflow:auto;
       display: block;
    }

    #data-table-patient tbody:before{
        overflow-x:scroll;
        width: auto;
    }
    #data-table-patient tbody td:before {
        text-align: left;
    }
    #data-table-patient tbody td {
        text-align: right;
    }
    /* Force table to not be like tables anymore */
    #data-table-patient thead {
        display: block;
    }
    #data-table-patient  th {
        display: block;
    }
    #data-table-patient thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #data-table-patient tr {
        border: 1px solid #ccc;
        display: block;
    }

    #data-table-patient td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        display: block;
    }

    #data-table-patient td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    #data-table-patient td:nth-of-type(1):before {
        content: "Nombre";
    }

    #data-table-patient td:nth-of-type(2):before {
        content: "Apellido";
    }

    #data-table-patient td:nth-of-type(3):before {
        content: "Género";
    }

    #data-table-patient td:nth-of-type(4):before {
        content: "Edad";
    }

    #data-table-patient td:nth-of-type(5):before {
        content: "Teléfono";
    }

    #data-table-patient td:nth-of-type(6):before {
        content: "Celular";
    }

    #data-table-patient td:nth-of-type(7):before {
        content: "Email";
    }

    #data-table-patient td:nth-of-type(8):before {
        content: "Operaciones";
    }
}