/*
 *= require jquery-ui.css.erb
 */
.sortable{
    min-height: 200px;
}
.appointment_stack ul{
    list-style: none;
}

.appointment_stack ul li{
    font-size: 14px;
    background: #fff;
    word-break: break-all;
}

.appointment_stack ul li.in_consult{
    font-size: 14px;
    background: #8BC34A;
    color: white;
}

.appointment_stack ul li.in_consult :hover{
   color: black;
}

.appointment_stack ul li div{
    border: 1px #c0c0c0 solid;
    padding: 10px;
}

.appointment_stack ul li:hover{
    background-color: #E6E6E6;
    cursor: pointer;
}

.appointment_stack ul li strong{
    color: #0a68b4;
}

.dashed-placeholder {
    border: 2px dotted #999;
    min-height: 50px;
}