<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:doctor, @laboratory],html: {multipart: true} do |f| %>
  <% if @laboratory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laboratory.errors.count, "error") %> prohibited this laboratory from being saved:</h2>

      <ul>
      <% @laboratory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <div class="row">
          <div class="col-md-12">
              <div class="form-group fg-line">
                <strong>Nombre</strong>
                <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Nombre' %>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group fg-line">
                <strong>Contacto</strong>
                <%= f.text_field :contact, class: 'form-control input-lg', placeholder: 'Contacto' %>
              </div>
          </div>
          <div class="col-md-6" style="padding-top: 10px;">
            <div class="form-group">
              <strong>Tipo</strong>
              <%= f.select(:clinical_order_type_id, ClinicalOrderType.all.collect {|c| [c.name , c.id]}, {  }, { :class => "selectpicker form-control"}) %>
            </div>
          </div>
          <div class="col-md-8">
              <div class="form-group fg-line">
                <strong>Dirección</strong>
                <%= f.text_field :address, class: 'form-control input-lg' , placeholder: 'Dirección'%>
              </div>
          </div>

          <div class="col-md-4">
            <div class="form-group fg-line">
              <%
                city_id = ""
                if @laboratory.city.nil?
                  name = ""
                else
                  name = @laboratory.city.format_city_state_and_country
                  city_id = @laboratory.city.id
                end
              %>
              <strong>Ciudad</strong>
              <%= f.text_field :city_id, :city => city_id , :autocomplete => "off", :value => name, :class=>"form-control input-lg search-city", :id=>"admin_doctor_city_id", :placeholder => "Ciudad" %>
            </div>
          </div>

          <div class="col-md-6">
              <div class="form-group fg-line">
                <strong>Teléfono</strong>
                <%= f.text_field :telephone, class: 'form-control input-lg', placeholder: 'Teléfono' %>
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Email</strong>
              <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'Email' %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Observaciones</strong>
              <%= f.text_field :observations, class: 'form-control input-lg' , placeholder: 'Observaciones'%>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <strong>Logo</strong><br><br>
              <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-primary btn-file m-r-10">
                  <span class="fileinput-new">Seleccionar Imagen</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="laboratory[logo]">
              </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <%= f.hidden_field :is_custom, :value => 1 %>
          </div>

        </div>


          </div>
          </div>
          </div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_laboratories_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
          </div>
<% end %>