<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de laboratorios</h2>
        </div>
      </div>
      <div class="col-xs-6">
          <%= link_to 'Agregar', new_doctor_laboratory_path, class: "pull-right btn bgm-green waves-effect" %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-laboratory" class="table table-striped" data-source="<%= doctor_laboratories_url(format: "json")%>">
    <thead>
    <tr>
      <th data-column-id="name">NOMBRE</th>
      <th data-column-id="address">DIRECCIÓN</th>
      <th data-column-id="telephone">TELÉFONO</th>
      <th data-column-id="email">EMAIL</th>
      <th data-column-id="city">CIUDAD</th>
      <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
      <th data-column-id="configs" data-formatter="configs" data-sortable="false" data-width="300px">CONFIG</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>


</div></div></div></div>
