

<div style="display: block;" id="table_custom_template">
  <div class="row">
    <div class="col-md-12">
      <label class="col-md-2">Tama&ntilde;o de header en CM</label>
      <div class="col-md-2">
        <input type="number" step="any" class="form-control" id="header_cm_<%= CustomTemplatePrescription.first.id %>" name="header_cm_<%= CustomTemplatePrescription.first.id %>" value="<%= CustomTemplatePrescription.first.header_cm %>"/>
      </div>
      <label class="col-md-2">Tama&ntilde; del footer en CM</label>
      <div class="col-md-2">
        <input type="number" step="any" class="form-control" id="footer_cm_<%= CustomTemplatePrescription.first.id %>" name="footer_cm_<%= CustomTemplatePrescription.first.id %>" value="<%=  CustomTemplatePrescription.first.footer_cm %>"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="col-md-2">Orientaci&oacute;n de papel</label>
      <div class="col-md-2">
        <select name="orientation_<%= CustomTemplatePrescription.first.id %>" class="selectpicker form-control">
          <% CustomTemplatePrescription::ORIENTATIONS.each do |orientation|
            val = orientation.keys.first
          %>
              <option <%= val == CustomTemplatePrescription.first.orientation ? 'selected' : '' %> value="<%= val %>"><%= orientation[val] %></option>
          <% end %>
        </select>
      </div>
      <label class="col-md-2">Tama&ntilde;o de papel</label>
      <div class="col-md-2">
        <select name="page_size_<%= CustomTemplatePrescription.first.id %>" class="selectpicker form-control">
          <% CustomTemplatePrescription::PAGE_SIZE.each do |page|
            val = page.keys.first
          %>
              <option <%= val == CustomTemplatePrescription.first.page_size ? 'selected' : '' %> value="<%= val %>"><%= page[val] %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-12">
      <input type="button" id="add_new_custom_field" onclick="opne_add_new_custom_field()" value="Agregar Componente" class="pull-right btn bgm-green waves-effect">
    </div>
  </div>

  <br>
  <% if CustomTemplatePrescription.first.custom_template_prescription_fields.joins(:fields_prescription).where("fields_prescriptions.field_prescription_type_id = 1").count > 0 %>
      <div class="row">
        <h4 style="text-align: center">Campos del doctor</h4>
        <div class="col-md-12">
          <table width="100%" class="table table-bordered table-hover text-center">
            <thead>
            <tr>
              <th>CAMPO</th>
              <th>FUENTE</th>
              <th>TEXTO EN NEGRITA</th>
              <th>TAMA&Ntilde;O DE FUENTE</th>
              <th>MOSTRAR CAMPO</th>
              <th>POSICI&Oacute;N X (CM)</th>
              <th>POSICI&Oacute;N Y (CM)</th>
              <th>ANCHO (CM)</th>
              <th>SECCIÓN DEL DOCUMENTO</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% CustomTemplatePrescription.first.custom_template_prescription_fields.joins(:fields_prescription).where("fields_prescriptions.field_prescription_type_id = 1").each do |custom_field| %>
                <tr id="prescription_field_<%=custom_field.id%>">
                  <td><strong><%= custom_field.fields_prescription.name %></strong></td>
                  <td>
                    <select name="custom_field_font_<%= custom_field.id %>" class="selectpicker form-control">
                      <% FieldsPrescription::FONT_FAMILY.each do |font| %>
                          <option <%= custom_field.font == font ? 'selected' : '' %> value="<%= font %>"><%= font %></option>
                      <% end %>
                    </select>
                  </td>
                  <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" <%= custom_field.is_bold ? 'checked="checked"' : '' %>  name="is_bold_<%= custom_field.id %>" id="is_bold_<%= custom_field.id %>">
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td>
                    <select name="custom_field_size_<%= custom_field.id %>" class="selectpicker form-control">
                      <% FieldsPrescription::SIZE_STYLE.each do |size| %>
                          <option <%= custom_field.size == size ? 'selected' : '' %> value="<%= size %>"><%= size.to_s+"Px" %></option>
                      <% end %>
                    </select>
                  </td>
                  <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" <%= custom_field.show_field ? 'checked="checked"' : '' %>  name="show_field_<%= custom_field.id %>" id="show_field_<%= custom_field.id %>">
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="position_left_cm_<%= custom_field.id %>" name="position_left_cm_<%= custom_field.id %>" value="<%= custom_field.position_left_cm %>"/>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="position_top_cm_<%= custom_field.id %>" name="position_top_cm_<%= custom_field.id %>" value="<%= custom_field.position_top_cm %>"/>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="width_cm_<%= custom_field.id %>" name="width_cm_<%= custom_field.id %>" value="<%= custom_field.width_box %>"/>
                  </td>
                  <td>
                    <select name="section_document_<%= custom_field.id %>" class="selectpicker form-control">
                      <% CustomTemplatePrescriptionField::SECTIONS.each do |section|
                        val = section.keys.first
                      %>
                          <option <%= custom_field.section == val ? 'selected' : '' %> value="<%= val %>"><%= section[val] %></option>
                      <% end %>
                    </select>
                  </td>
                  <td>
                    <a href="javascript:void(0)" onclick="deleteFieldPrescription(<%= custom_field.id %>)">Eliminar</a>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
  <% end %>
  <!-- Fin de tabla campos -->

  <br>
  <% if CustomTemplatePrescription.first.custom_template_prescription_fields.joins(:fields_prescription).where("fields_prescriptions.field_prescription_type_id = 2").count > 0 %>
      <div class="row">
        <h4 style="text-align: center">Etiquetas</h4>
        <div class="col-md-12">
          <table width="100%" class="table table-bordered table-hover text-center">
            <thead>
            <tr>
              <th>Etiqueta</th>
              <th>FUENTE</th>
              <th>TEXTO EN NEGRITA</th>
              <th>TAMA&Ntilde;O DE FUENTE</th>
              <th>MOSTRAR CAMPO</th>
              <th>POSICI&Oacute;N X (CM)</th>
              <th>POSICI&Oacute;N Y (CM)</th>
              <th>ANCHO (CM)</th>
              <th>SECCIÓN DEL DOCUMENTO</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% CustomTemplatePrescription.first.custom_template_prescription_fields.joins(:fields_prescription).where("fields_prescriptions.field_prescription_type_id = 2").each do |custom_field| %>
                <tr id="prescription_field_<%=custom_field.id%>">
                  <td><strong><%= custom_field.label %></strong></td>
                  <td>
                    <select name="custom_field_font_<%= custom_field.id %>" class="selectpicker form-control">
                      <% FieldsPrescription::FONT_FAMILY.each do |font| %>
                          <option <%= custom_field.font == font ? 'selected' : '' %> value="<%= font %>"><%= font %></option>
                      <% end %>
                    </select>
                  </td>
                  <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" <%= custom_field.is_bold ? 'checked="checked"' : '' %>  name="is_bold_<%= custom_field.id %>" id="is_bold_<%= custom_field.id %>">
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td>
                    <select name="custom_field_size_<%= custom_field.id %>" class="selectpicker form-control">
                      <% FieldsPrescription::SIZE_STYLE.each do |size| %>
                          <option <%= custom_field.size == size ? 'selected' : '' %> value="<%= size %>"><%= size.to_s+"Px" %></option>
                      <% end %>
                    </select>
                  </td>
                  <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" <%= custom_field.show_field ? 'checked="checked"' : '' %>  name="show_field_<%= custom_field.id %>" id="show_field_<%= custom_field.id %>">
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="position_left_cm_<%= custom_field.id %>" name="position_left_cm_<%= custom_field.id %>" value="<%= custom_field.position_left_cm %>"/>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="position_top_cm_<%= custom_field.id %>" name="position_top_cm_<%= custom_field.id %>" value="<%= custom_field.position_top_cm %>"/>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="width_cm_<%= custom_field.id %>" name="width_cm_<%= custom_field.id %>" value="<%= custom_field.width_box %>"/>
                  </td>
                  <td>
                    <select name="section_document_<%= custom_field.id %>" class="selectpicker form-control">
                      <% CustomTemplatePrescriptionField::SECTIONS.each do |section|
                        val = section.keys.first
                      %>
                          <option <%= custom_field.section == val ? 'selected' : '' %> value="<%= val %>"><%= section[val] %></option>
                      <% end %>
                    </select>
                  </td>
                  <td>
                    <a href="javascript:void(0)" onclick="deleteFieldPrescription(<%= custom_field.id %>)">Eliminar</a>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
  <% end %>
  <!-- Fin de tabla Etiqutas -->
  <br>
  <% if CustomTemplatePrescription.first.custom_template_prescription_fields.joins(:fields_prescription).where("fields_prescriptions.field_prescription_type_id = 3").count > 0 %>
      <div class="row">
        <h4 style="text-align: center">Formas</h4>
        <div class="col-md-12">
          <table width="100%" class="table table-bordered table-hover text-center">
            <thead>
            <tr>
              <th>NOMBRE</th>
              <th>VERTICAL</th>
              <th>MOSTRAR CAMPO</th>
              <th>POSICI&Oacute;N X (CM)</th>
              <th>POSICI&Oacute;N Y (CM)</th>
              <th>LARGO/PERÍMETRO (CM)</th>
              <th>ANCHO (CM)</th>
              <th>SECCIÓN DEL DOCUMENTO</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% CustomTemplatePrescription.first.custom_template_prescription_fields.joins(:fields_prescription).where("fields_prescriptions.field_prescription_type_id = 3").each do |custom_field| %>
                <tr id="prescription_field_<%=custom_field.id%>">
                  <td><strong><%= custom_field.fields_prescription.name %></strong></td>
                  <input type="hidden" name="custom_field_font_<%= custom_field.id %>" value="Arial">
                  <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" <%= custom_field.is_bold ? 'checked="checked"' : '' %> <%= custom_field.fields_prescription.id == 22 ? '':'disabled'  %> name="is_bold_<%= custom_field.id %>" id="is_bold_<%= custom_field.id %>" >
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" <%= custom_field.show_field ? 'checked="checked"' : '' %>  name="show_field_<%= custom_field.id %>" id="show_field_<%= custom_field.id %>">
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="position_left_cm_<%= custom_field.id %>" name="position_left_cm_<%= custom_field.id %>" value="<%= custom_field.position_left_cm %>"/>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="position_top_cm_<%= custom_field.id %>" name="position_top_cm_<%= custom_field.id %>" value="<%= custom_field.position_top_cm %>"/>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="custom_field_size_<%= custom_field.id %>" name="custom_field_size_<%= custom_field.id %>" value="<%= custom_field.size %>"/>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" <%= custom_field.fields_prescription.id == 24 ? '':'disabled'  %> id="width_cm_<%= custom_field.id %>" name="width_cm_<%= custom_field.id %>" value="<%= custom_field.width_box %>"/>
                  </td>
                  <td>
                    <select name="section_document_<%= custom_field.id %>" class="selectpicker form-control">
                      <% CustomTemplatePrescriptionField::SECTIONS.each do |section|
                        val = section.keys.first
                      %>
                          <option <%= custom_field.section == val ? 'selected' : '' %> value="<%= val %>"><%= section[val] %></option>
                      <% end %>
                    </select>
                  </td>
                  <td>
                    <a href="javascript:void(0)" onclick="deleteFieldPrescription(<%= custom_field.id %>)">Eliminar</a>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
  <% end %>
  <!-- Fin de tabla campos -->
  <br>
  <% if CustomTemplatePrescription.first.custom_template_prescription_fields.joins(:fields_prescription).where("fields_prescriptions.field_prescription_type_id = 4").count > 0 %>
      <div class="row">
        <h4 style="text-align: center">Imagenes</h4>
        <div class="col-md-12">
          <table width="100%" class="table table-bordered table-hover text-center">
            <thead>
            <tr>
              <th>RUTA</th>
              <th>MOSTRAR CAMPO</th>
              <th>POSICI&Oacute;N X (CM)</th>
              <th>POSICI&Oacute;N Y (CM)</th>
              <th>ALTO (CM)</th>
              <th>ANCHO (CM)</th>
              <th>SECCIÓN DEL DOCUMENTO</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% CustomTemplatePrescription.first.custom_template_prescription_fields.joins(:fields_prescription).where("fields_prescriptions.field_prescription_type_id = 4").each do |custom_field| %>
                <tr id="prescription_field_<%=custom_field.id%>">
                  <input type="hidden" name="custom_field_font_<%= custom_field.id %>" value="Arial">
                  <input type="hidden" value="<%= custom_field.extra %>" name="custom_field_extra_<%= custom_field.id %>">
                  <td> <a href="javascript:void(0);" onclick="view_field_image(<%= custom_field.id %>)"> Ver imagen </a> </td>
                  <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" <%= custom_field.show_field ? 'checked="checked"' : '' %>  name="show_field_<%= custom_field.id %>" id="show_field_<%= custom_field.id %>">
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="position_left_cm_<%= custom_field.id %>" name="position_left_cm_<%= custom_field.id %>" value="<%= custom_field.position_left_cm %>"/>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="position_top_cm_<%= custom_field.id %>" name="position_top_cm_<%= custom_field.id %>" value="<%= custom_field.position_top_cm %>"/>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="custom_field_size_<%= custom_field.id %>" name="custom_field_size_<%= custom_field.id %>" value="<%= custom_field.size %>"/>
                  </td>
                  <td>
                    <input type="number" step="any" class="form-control" id="width_cm_<%= custom_field.id %>" name="width_cm_<%= custom_field.id %>" value="<%= custom_field.width_box %>"/>
                  </td>
                  <td>
                    <select name="section_document_<%= custom_field.id %>" class="selectpicker form-control">
                      <% CustomTemplatePrescriptionField::SECTIONS.each do |section|
                        val = section.keys.first
                      %>
                          <option <%= custom_field.section == val ? 'selected' : '' %> value="<%= val %>"><%= section[val] %></option>
                      <% end %>
                    </select>
                  </td>
                  <td>
                    <a href="javascript:void(0)" onclick="deleteFieldPrescription(<%= custom_field.id %>)">Eliminar</a>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
  <% end %>
  <!-- Fin de tabla campos -->
</div>

<%= hidden_field_tag 'url_delete_field_prescription', url_for(:controller => 'doctor/account_settings', :action => 'delete_prescription_field', :only_path => false) %>
<%= hidden_field_tag 'url_add_prescription_field', url_for(:controller => 'doctor/account_settings',:action => 'add_prescription_field', :only_path => false) %>
<%= hidden_field_tag 'url_get_fields_toadd', url_for(:controller => 'doctor/account_settings',:action => 'get_fields_toadd', :only_path => false) %>
<%= hidden_field_tag 'url_add_file_prescription', url_for(:controller => 'doctor/account_settings',:action => 'add_file_prescription', :only_path => false) %>
<%= hidden_field_tag 'url_view_field_image', url_for(:controller => 'doctor/account_settings',:action => 'download_image', :only_path => false) %>


<div class="modal fade" id="new_component_custom_prescription_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_specialty_title">Agregar campo nuevo</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <select name="custom_field_type" class="selectpicker form-control" id="custom_field_type">
              <% FieldPrescriptionType.all.each do |type| %>
                  <option value="<%= type.id %>"><%= type.name %></option>
              <% end %>
            </select>
          </div>
          <div class="col-xs-12" id="new_field_div">
            <select name="new_field" class="selectpicker form-control" id="new_field">
            </select>
          </div>
          <div class="col-xs-12" id="label_div" style="display: none">
            <strong>Nombre de la etiqueta:</strong>
            <input type="text" id="label_name" name="label_name" value="" class="form-control">
          </div>
          <div class="col-xs-12" id="image_div" style="display: none">
            <strong>Ruta de la imagen:</strong>
            <input type="file" id="image_pres" name="image_pres" value="" accept="image/*" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_new_field_btn" onClick="add_new_custom_field_prescription()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="view_image_field" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12" id="image_field_div">
            <img src="" id="image_field_img" width="100%" height="100%;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>