<p id="notice" style="font-size: large;color: red"><%= notice %></p>
<%= form_for [:admin, @doctor_profile], html: {multipart: true} do |f| %>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12 block-header">
        <h2>Informaci&oacute;n personal</h2>
      </div>
      <div class="col-md-4" >
        <input type="hidden" id="picture64" name="picture64">
        <input type="hidden" id="crop_image_64" name="crop_image_64">
        <div id="results"></div>
        <img id="result-image" />
        <br>
        <div class="row" id="upload_picture">
          <div id="picture_profile_doctor" >

              <% if !@doctor_profile.picture.nil? %>
                  <img src = "<%= image_url(download_profile_image_admin_doctors_path(@doctor_profile)) %>" width="250" height="200">
              <% end %>


          </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" id="button_crop_size" onClick="open_crop_image_modal()">Subir imagen</button>
        <button type="button" class="btn btn-primary" id="take_picture_id" onClick="open_camera()">Tomar foto</button>
      </div>
      <div class="col-md-8">
        <div class="col-xs-12">
          <label class="control-label">Nombre</label>:
          <label><%= @doctor_profile.user.person.name %></label>
          <label><%= @doctor_profile.user.person.last_name %></label>
        </div>
        <div class="col-xs-12">
          <label class="control-label">Tel&eacute;fono</label>:
          <label><%= @doctor_profile.user.person.telephone %></label>
        </div>
        <div class="col-xs-12">
          <label class="control-label">CURP</label>:
          <label><%= @doctor_profile.curp %></label>
        </div>
        <div class="col-xs-12">
          <label class="control-label">Usuario</label>:
          <label><%= @doctor_profile.user.user_name %></label>
        </div>
        <div class="col-xs-12">
          <label class="control-label">Correo</label>:
          <label><%= @doctor_profile.user.email %></label>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="form-group fg-line">
            <div style="text-align: center"><strong>Especialidades:</strong></div><br>

            <table class="table">
              <thead>
              <th>Especialidad</th>
              <th>Cédula Profesional</th>
              <th>Universidad</th>
              </thead>
              <tbody>
              <%  @doctor_profile.identity_cards.each do |ic| %>
                  <tr id="doctor_identity_card_<%= ic.id %>">
                    <td id="i_card_specialty_<%= ic.id %>"><%= ic.specialty.name %></td>
                    <td id="i_card_identity_<%= ic.id %>"><%= ic.identity %></td>
                    <td id="i_card_institute_<%= ic.id %>"><%= ic.institute %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      </div>
  </div>
</div>



    <div class="card">
      <div class="card-body card-padding">
        <div class="row">

          <input type="button" value="Editar" class="pull-right btn bgm-green waves-effect" id="enable_form" onclick="enable_fields()">
          <div class="col-xs-12 block-header">
            <h2>Información Fiscal</h2>
          </div>

          <%= f.fields_for :fiscal_information do |fi| %>

              <div>
                <%= fi.hidden_field :id%>
              </div>

              <div class="col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :rfc,"RFC" , :for => "admin_doctor_fiscal_information_rfc", :class=>"control-label" %>
                  <%= fi.text_field :rfc, :class=>"form-control input-lg required",disabled: true, :id=>"admin_doctor_fiscal_information_rfc", :placeholder => "RFC" %>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :bussiness_name, "Razón Social" , :for => "admin_doctor_fiscal_information_bussiness_name", :class=>"control-label"  %>
                  <%= fi.text_field :bussiness_name, :class=>"form-control input-lg required",disabled: true, :id=>"admin_doctor_fiscal_information_bussiness_name", :placeholder => "Razón Social" %>
                </div>
              </div>
              <div class="col-md-8 col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :fiscal_address, "Dirección" , :for => "admin_doctor_fiscal_information_fiscal_address", :class=>"control-label"  %>
                  <%= fi.text_field :fiscal_address, :class=>"form-control input-lg required",disabled: true, :id=>"admin_doctor_fiscal_information_fiscal_address", :placeholder => "Dirección" %>
                </div>
              </div>
              <div class="col-md-2 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :int_number, "No. Int" , :for => "admin_doctor_fiscal_information_int_number", :class=>"control-label"  %>
                  <%= fi.text_field :int_number, :class=>"form-control input-lg",disabled: true, :id=>"admin_doctor_fiscal_information_int_number", :placeholder => "No. Int" %>
                </div>
              </div>
              <div class="col-md-2 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :ext_number, "No. Ext" , :for => "admin_doctor_fiscal_information_ext_number", :class=>"control-label"  %>
                  <%= fi.text_field :ext_number, :class=>"form-control input-lg",disabled: true, :id=>"admin_doctor_fiscal_information_ext_number", :placeholder => "No. Ext" %>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :suburb, "Colonia" , :for => "admin_doctor_fiscal_information_suburb", :class=>"control-label"  %>
                  <%= fi.text_field :suburb, :class=>"form-control input-lg required",disabled: true, :id=>"admin_doctor_fiscal_information_suburb", :placeholder => "Colonia" %>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :locality, "localidad" , :for => "admin_doctor_fiscal_information_locality", :class=>"control-label"  %>
                  <%= fi.text_field :locality, :class=>"form-control input-lg required",disabled: true, :id=>"admin_doctor_fiscal_information_locality", :placeholder => "Localidad" %>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :zip, "Código postal" , :for => "admin_doctor_fiscal_information_zip", :class=>"control-label"  %>
                  <%= fi.number_field :zip, :class=>"form-control input-lg required",disabled: true, :id=>"admin_doctor_fiscal_information_zip", :placeholder => "Código Postal" %>
                </div>
              </div>

              <div class="col-md-6 col-xs-12">
                <div class="form-group fg-line">
                  <%
                    city_id = ""
                    if @doctor_profile.fiscal_information.city.nil?
                      name = ""
                    else
                      name = @doctor_profile.fiscal_information.city.format_city_state_and_country
                      city_id = @doctor_profile.fiscal_information.city.id
                    end
                  %>
                  <%= fi.label :city_id,"Ciudad" , :for => "admin_doctor_fiscal_information_city_id", :class=>"control-label" %>
                  <%= fi.text_field :city_id, :city => city_id, :autocomplete => "off" , :value => name,disabled: true, :class=>"form-control input-lg search-city required", :id=>"admin_doctor_fiscal_information_city_id", :placeholder => "Ciudad" %>
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :serie, "Serie" , :for => "admin_doctor_fiscal_information_serie", :class=>"control-label"  %>
                  <%= fi.text_field :serie, :class=>"form-control input-lg required",disabled: true, :id=>"admin_doctor_fiscal_information_serie", :placeholder => "Serie" %>
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :folio, "Folio inicial" , :for => "admin_doctor_fiscal_information_folio", :class=>"control-label"  %>
                  <%= fi.number_field :folio, :class=>"form-control input-lg required",disabled: true, :id=>"admin_doctor_fiscal_information_folio", :placeholder => "Folio inicia" %>
                </div>
              </div>
              <input type="hidden" value="1" id="change_files_fiscal" name="change_files_fiscal">
              <div class="col-xs-12">
                <label id="full_checkbox">
                  <input type="checkbox" value="1" id="change_pass">
                  <i class="input-helper"></i> Modificar datos fiscales
                </label>
              </div>
              <% if @doctor_profile.fiscal_information.certificate_stamp != "" && @doctor_profile.fiscal_information.certificate_stamp != nil && @doctor_profile.fiscal_information.certificate_key != "" && @doctor_profile.fiscal_information.certificate_key != nil%>
              <div id="actual_fiscal_datas" style="display: block">
                <div class="col-md-4 col-xs-12">
                  <div class="form-group fg-line">
                    <%= fi.label :certificate_stamp, "Certificado actual", :class=>"control-label"  %>
                    <br>
                    <label class="control-label" style="font-style: italic;font-weight: bold"><%= @doctor_profile.fiscal_information.certificate_stamp.file == nil ? "Sin certificado" : @doctor_profile.fiscal_information.certificate_stamp.file.filename %></label>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <div class="form-group fg-line">
                    <%= fi.label :certificate_stamp, "Llave actual", :class=>"control-label"  %>
                    <br>
                    <label class="control-label" style="font-style: italic;font-weight: bold"><%=  @doctor_profile.fiscal_information.certificate_key.file == nil ? "Sin llave" : @doctor_profile.fiscal_information.certificate_key.file.filename  %></label>
                  </div>
                </div>
              </div>
              <% end %>
              <div id="change_fiscal_datas" style="display: none">
              <div class="col-md-4 col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :certificate_stamp, "Certificado", :class=>"control-label"  %>
                  <br>
                  <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-primary btn-file m-r-10">
                  <span class="fileinput-new">Seleccionar Archivo Cer</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="doctor[fiscal_information_attributes][certificate_stamp]" accept=".cer">
              </span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                  </div>
                </div>

              </div>
              <div class="col-md-4 col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :certificate_stamp, "Llave", :class=>"control-label"  %>
                  <br>
                  <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-primary btn-file m-r-10">
                  <span class="fileinput-new">Seleccionar Archivo Key</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="doctor[fiscal_information_attributes][certificate_key]" accept=".key">
              </span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="form-group fg-line">
                  <% if !@new_doctor.nil? %>
                      <%= fi.label :certificate_password, "Contraseña" , :for => "admin_doctor_fiscal_information_certificate_password", :class=>"control-label"  %>
                      <%= fi.password_field :certificate_password, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_certificate_password", :placeholder => "Contraseña" %>
                  <% else %>
                        <%= fi.label :certificate_password, "Contraseña" , :for => "admin_doctor_fiscal_information_certificate_password", :class=>"control-label"  %>
                        <%= fi.password_field :certificate_password, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_certificate_password", :placeholder => "Contraseña" %>
                  <% end %>
                </div>
              </div>
              </div>
              <div class="col-md-8 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :tax_regime, "Régimen" , :for => "admin_doctor_fiscal_information_tax_regime", :class=>"control-label"  %>
                  <%= fi.text_field :tax_regime,disabled: true, :class=>"form-control input-lg required", :id=>"admin_doctor_fiscal_information_tax_regime", :placeholder => "Régimen" %>
                </div>
              </div>
              <div class="col-md-4 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :iva, "I.V.A" , :for => "admin_doctor_fiscal_information_iva", :class=>"control-label"  %>
                  <%= fi.number_field :iva,disabled: true, :class=>"form-control input-lg required", :id=>"admin_doctor_fiscal_information_iva", :placeholder => "Tasa de IVA" %>
                </div>
              </div>

          <% end  %>

        </div>
      </div>
    </div>

          <div class="col-md-6 col-xs-12">
<input type="hidden" id="from_doctor" name="from_doctor" value="1">
    </div>
    <div class="col-md-6 col-xs-12">
      <span class="col-md-3 col-xs-12"></span>
      <a href="<%= doctor_index_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
      <span class="col-md-1 col-xs-12"></span>
      <button type="submit" class="btn btn-primary col-md-4 col-xs-12" onclick="validateNointerior()">Actualizar</button>
    </div>

<% end %>

<div class="modal fade" id="crop_image_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="crop_image_title">Seleccionar imagen</h4>
      </div>
      <div class="modal-body">
        <input type="file" id="upload" value="Choose a file">
        <div id="upload-demo"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="add_crop_image" onClick="crop64()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="take_picture" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_foto_cam">Tomar fotografia</h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-6"><video id="video"></video></div>

        <div class="col-xs-6"><canvas id="canvas"></canvas></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_picture_cam" onClick="take_snapshot()">Tomar Foto</button>
        <button type="button" class="btn btn-link" onclick="close_camera()">Cerrar</button>
      </div>
    </div>
  </div>
</div>