
<% if flash[:notice] %>
    <div class="alert alert-info">
      <p id="notice"><%= flash[:notice] %></p>
    </div>
<% end %>


<div class="card">
  <div class="card-body card-padding">

    <h4 class="card-header">
      CONFIGURACI&Oacute;N DE RECETA PERSONALIZADA
    </h4>


    <div class="panel-body">
      <form action="<%= doctor_settings_update_path %>" method="post" accept-charset="UTF-8">

        <div class="row">
          <%= render 'doctor_settings_prescription' %>
        </div>

        <div class="row">
          <button type="submit" class="btn btn-primary col-md-2 pull-right">Guardar</button>
        </div>

        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      </form>
    </div>


  </div>
</div>



<%= hidden_field_tag 'url_new_currency_exchange', url_for(:controller => 'doctor/account_settings', :action => 'add_currency_exchange', :only_path => false) %>
<%= hidden_field_tag 'url_delete_currency_exchange', url_for(:controller => 'doctor/account_settings', :action => 'delete_currency_exchange', :only_path => false) %>
<%= hidden_field_tag 'url_create_custom_prescription', url_for(:controller => 'doctor/account_settings', :action => 'create_custom_prescription', :only_path => false) %>
<%= hidden_field_tag 'url_create_custom_report', url_for(:controller => 'doctor/account_settings', :action => 'create_custom_report', :only_path => false) %>



