<div class="card">
  <div class="card-body card-padding">
    <%
      html_configs = Setting.where('code IN (?)',[Const::SETTING_PDF_HEADER, Const::SETTING_PDF_FOOTER,Const::SETTING_TICKET_HEADER,Const::SETTING_TICKET_FOOTER])

      ticket_width_config = Setting.find_by_code(Const::SETTING_TICKET_WIDTH)
      ticket_height_config = Setting.find_by_code(Const::SETTING_TICKET_HEIGHT)
      consultation_template = Setting.find_by_code(Const::SETTING_TEMPLATE_CONSULTATION)
    %>


    <table class="table">
      <% html_configs.each do |c| %>
          <tr>
            <td width="300">
              <h4><%= c.name %></h4>
              <div><%= c.description %></div>
            </td>
            <td>
              <div id="<%= c.code %>" class="html_editor"></div>
               <input type="hidden" class="html_editor_value" value="<%= c.data %>">
            </td>
          </tr>
      <% end %>
      <tr>
        <td>
          <h4><%= ticket_width_config.name %></h4>
          <div><%= ticket_width_config.description %></div>
        </td>
        <td>
          <input id="<%= ticket_width_config.code %>" type="number" value="<%= ticket_width_config.data %>">
        </td>
      </tr>
      <tr>
        <td>
          <h4><%= ticket_height_config.name %></h4>
          <div><%= ticket_height_config.description %></div>
        </td>
        <td>
          <input id="<%= ticket_height_config.code %>" type="number" value="<%= ticket_height_config.data %>">
        </td>
      </tr>
      <tr>
        <td>
          <h4>Imágenes</h4>
          <div>Imágenes que pueden ser usadas en los membretes.</div>
        </td>
        <td>
          <a class="btn btn-success pull-right" id="new_consultation_field_image">Agregar imagen</a>
          <ul>
            <% SettingImage.order('name ASC').each do |cf| %>
                <li><%= cf.code %> - <%= cf.name %><br>
                  <img width="100" src="<%= download_files_path(Const::DOWNLOAD_SETTING_IMAGE, cf.id) %>">
                </li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4><%= consultation_template.name %></h4>
          <div><%= consultation_template.description %></div>
        </td>
        <td>
          <ul>
            <% ConsultationField.order('name ASC').each do |cf| %>
                <li><%= cf.code %> - <%= cf.name %></li>
            <% end %>
          </ul>

          <div id="<%= consultation_template.code %>" class="html_editor"></div>
          <input type="hidden" class="html_editor_value" value="<%= consultation_template.data %>">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a class="btn btn-primary pull-right" id="save_settings">Guardar</a>
        </td>
      </tr>
    </table>


  </div>
</div>




<div class="modal fade" id="add_consultation_image_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_consultation_image_title">Agregar imagen</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="<%= save_image_cli_settings_path %>" id="new_consultation_image_form" enctype="multipart/form-data">
          <strong>Nombre</strong>
          <input type="text" class="form-control" name="name">

          <strong>Código</strong>
          <input type="text" class="form-control" name="code">

          <strong>Imagen</strong>
          <input type="file" class="form-control" name="image">
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_consultation_field_image">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>