  <div class="profile-menu">
    <a href="">
      <div class="profile-pic" style="height: 77px;">

      </div>

      <div class="profile-info">
        <%= current_user.person.full_name %>
        <i class="zmdi zmdi-caret-down"></i>
      </div>
    </a>


  </div>

  <ul class="main-menu app_menu">
    <li class="active">



    </li>


    <li class="sub-menu">
      <a href=""><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Farmacia</a>
      <ul>
        <li><%= link_to 'Compras', index_type_certificate_doctor_certificate_index_path  %></li>
      </ul>
    </li>


  </ul>