<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:admin, @doctor_vaccine] do |f| %>
  <% if @doctor_vaccine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor_vaccine.errors.count, "error") %> prohibited this doctor_vaccine from being saved:</h2>

      <ul>
      <% @doctor_vaccine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :name,'Nombre', :class=>"control-label"  %><br>
              <%= f.text_field :name, :class =>  "form-control input-lg required", :placeholder => "Nombre"  %>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :prevent_disease,'Enfermedad que previene', :class=>"control-label"  %><br>
              <%= f.text_field :prevent_disease, :class =>  "form-control input-lg required", :placeholder => "Enfermedad que previene"  %>
            </div>
          </div>

          <div class="col-xs-12">
            Cartilla de vacunación: <br>
              <%= f.select :vaccine_book_id,
                           VaccineBook.all.collect {|p| [ (p.name), p.id ] },
                           {}, class: 'selectpicker form-control' %>
          </div>

          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_vaccines_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
          </div>
<% end %>
