<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-header">
          <h2>Lista de Consultas</h2>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-6 col-xs-12">
          <%
            doctors_id = ""
            assistant = Assistant.find(session[:assistant_id])
            assistant.doctors.each do |doc|
              doctors_id += doc.id.to_s + ","
            end
            doctors_id = doctors_id.chop
          %>
          <strong>Doctor</strong>
          <%= select_tag("doctor_for_search", options_for_select(Doctor.where("doctors.id in (#{doctors_id})").map{|pa| [pa.name+ " " + pa.last_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
        </div>
        <div class="col-md-6 col-xs-12">
          <strong>Paciente</strong>
          <%= select_tag("patient_for_search", options_for_select(Patient.joins(:medical_expedient).where("medical_expedients.doctor_id in (#{doctors_id})").map{|pa| [pa.name+ " " + pa.last_name, pa.id]}),include_blank: "Todo", :class => "selectpicker form-control", 'data-live-search' => 'true') %>
        </div>
      </div>
      <br>
        <div class="row">
          <div class="col-md-3">
            <strong>Fecha Inicio</strong>
            <input type="text" placeholder="Fecha de Inicio" class="input-lg form-control date-picker" id="start_date_search">
          </div>
          <div class="col-md-3">
            <strong>Fecha Fin</strong>
            <input type="text" placeholder="Fecha Fin" class="input-lg form-control date-picker" id="end_date_search">
          </div>

          <div class="col-md-6">
            <a class="btn btn-primary" onclick="searchConsults()">Filtrar</a>
            <a class="btn bgm-indigo" onclick="allConsults()">Ver todos</a>
            <a class="btn btn-danger" onclick="exportPdf()">PDF</a>
          </div>
        </div>
      <div class="col-xs-12">
        <table  id="data-table-consultations" class="table table-striped" data-source="<%= shared_assistant_medical_consultations_path(format: "json")%>">
          <thead>
          <tr>
            <th data-column-id="date_consultation">FECHA</th>
            <th data-column-id="expedient">EXPEDIENTE</th>
            <th data-column-id="patient_name">PACIENTE</th>
            <th data-column-id="diagnostic">DIAGNÓSTICO</th>
            <th data-column-id="office">CONSULTORIO</th>
            <th data-column-id="price">COSTO</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>

<%= hidden_field_tag 'url_print_report', url_for(:controller => 'shared_assistant/medical_consultations', :action => 'print_report', :only_path => false) %>
<%= hidden_field_tag 'url_get_doctor_patients', url_for(:controller => 'doctor/transactions', :action => 'get_doctor_patients', :only_path => false) %>