<style>

  #consultations_table{
    width: 100%;
  }

  #consultations_table thead th{
    font-size: 14px;
  }
  #consultations_table tr td{
    font-size: 12px;
    padding: 5px;
  }

  #consultations_table tr td.expedient{
    text-align: center;
  }

  #consultations_table tr td.currency{
    text-align: right;
  }

    #params table{
      font-size: 12px;
    }


    .float{
      float: left;
    }

    .logo{
      width: 20%;
    }

    .text{
      width: 80%;
    }


</style>

<div>
  <div class="float logo">
    <%= wicked_pdf_image_tag 'imagotipo-azul.png',:width => "60" %>
  </div>
  <div class="float text">
    <h2 style="margin: 0; padding: 0;">Reporte de consultas</h2>
    <label>
      <%= @doctor.gender_id == Gender::MAN ? "Dr. " : "Dra. " %> <%= @doctor.full_name %>
    </label>
  </div>
</div>

<div style="clear: both;">
</div>

<br>

<div id="params">
  <table>
    <tr>
      <td><strong>Fecha Inicio:</strong></td>
      <td><%= @start_date %></td>
    </tr>
    <tr>
      <td><strong>Fecha Fin:</strong></td>
      <td><%= @end_date %></td>
    </tr>
    <tr>
      <td><strong>Paciente:</strong></td>
      <td><%= @patient_name %></td>
    </tr>
    <tr>
      <td><strong>Consultorio:</strong></td>
      <td><%= @office_name %></td>
    </tr>
  </table>
  <br>
</div>

<table id="consultations_table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Expediente</th>
      <th>Paciente</th>
      <th>Diagnóstico</th>
      <th>Consultorio</th>
      <th>Costo</th>
    </tr>
  </thead>
  <tbody>
  <%
    total = 0
    @consultations.each do |consult|
    total += consult.price
  %>
  <tr>
    <td><%= consult.date_consultation.strftime('%d/%m/%Y') %></td>
    <td class="expedient"><%= consult.medical_expedient.folio %></td>
    <td><%= consult.medical_expedient.patient.full_name %></td>
    <td><%= consult.diagnostic %></td>
    <td><%= consult.office.name %></td>
    <td class="currency"><%= number_to_currency consult.price %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<br><br>
<div>

  <table style="font-size: 14px;">
    <tr>
      <td><strong>Número de consultas: </strong></td>
      <td><%= @consultations.size %></td>
    </tr>
    <tr>
      <td><strong>Total cobrado: </strong></td>
      <td><%= number_to_currency total %></td>
    </tr>
  </table>
</div>