<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:cli, @hospital_admission], html: {:onsubmit => "return validate_hospital_admission();" } do |f| %>
    <% if @hospital_admission.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@hospital_admission.errors.count, "error") %> prohibited this attention type from being saved:</h2>

          <ul>
            <% @hospital_admission.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
          <div class="col-md-12 col-xs-12">
            <%
            if @hospital_admission.admission_date.nil?
              admission_date = Time.now.strftime('%d/%m/%Y %I:%M %p')
              else
              admission_date = @hospital_admission.admission_date.strftime('%d/%m/%Y %I:%M %p')
              end
            %>
            <div class="form-group fg-line">
              <%= f.label :admission_date,'Fecha de admisión', :class=>"control-label" %><br>
              <%= f.text_field :admission_date, class: 'form-control input-lg date-time-picker', placeholder: 'Fecha', :value => admission_date%>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <%
              patient_id = ""
              if @hospital_admission.patient.nil?
                name = ""
              else
                name = @hospital_admission.patient.full_name
                patient_id = @hospital_admission.patient.id
              end
            %>
            <div class="form-group fg-line">
              <%= f.label :patient_id,"Nombre del paciente", :class=>"control-label bold" %><br>
              <%=  f.text_field :patient_id, :current_value => patient_id, :autocomplete => "off" , :value => name, :class=>"form-control input-lg search-patient required", :id=>"cli_hospital_admission_patient_id",:placeholder => "Seleccione un paciente" %>
            </div>
    </div>
          <div class="col-md-6 col-xs-12">
            <%
              doctor_id = ""
              if @hospital_admission.doctor.nil?
                name = ""
              else
                name = @hospital_admission.doctor.user.person.full_name
                doctor_id = @hospital_admission.doctor.id
              end
            %>
            <div class="form-group fg-line">
              <%= f.label :doctor_id,"Nombre del médico", :class=>"control-label bold" %><br>
              <%=  f.text_field :doctor_id, :current_value => doctor_id, :autocomplete => "off" , :value => name, :class=>"form-control input-lg search-doctor required", :id=>"cli_hospital_admission_doctor_id",:placeholder => "Asigne un médico" %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <%= f.label :triage_id,'Triage', :class=>"control-label" %><br>
              <%= f.select :triage_id, Triage.all.map{|data| [data.level,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <%= f.label :attention_type_id,'Tipo de atención', :class=>"control-label" %><br>
              <%= f.select :attention_type_id, AttentionType.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>

          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= cli_hospital_admissions_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
<% end %>
