<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <%= render '/messages' %>
      <div class="col-md-6">
        <h4 class="page_title">Admisiones hospitalarias cerradas</h4>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-12">
        <div class="datatable_custom bootgrid-header">
          <table id="data-table-hospital_admissions_closed" class="table table-striped table-condensed table-custom" data-source="<%= cli_hospital_admissions_url(format: "json",closed:true) %>">
            <thead>
            <tr>
              <th data-column-id="patient">Paciente</th>
              <th data-column-id="doctor">Medico tratante</th>
              <th data-column-id="triage">Triage</th>
              <th data-column-id="attention_type">Tipo de atención</th>
              <th data-column-id="admission_date">Fecha de admisión</th>
              <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'url_open_admission', open_admission_cli_hospital_admissions_url %>