<style>

  #charges_table_content{
    width: 100%;
    padding-top: 0.1cm;
    border: 1px solid #0a0a0a;
  }

  #charges_table_content thead th{
    font-size: 13px;
  }
  #charges_table_content tr td{
    font-size: 12px;
  }

  #charges_table_content tr td{

  }


  #params table{
    font-size: 12px;
  }


  .float{
    float: left;
  }

  .logo{
    width: 20%;
    padding-top: 0.5cm;
  }

  .text{
    width: 80%;
  }

  tr { page-break-inside: avoid }


</style>

<div>
  <div class="float logo">
    <% clinic_info = ClinicInfo.first %>
    <% if !clinic_info.logo_identifier.nil? %>
        <%= wicked_pdf_image_tag_for_public clinic_info.logo.url,:width => "60" %>
    <% else %>
        <%= wicked_pdf_image_tag 'imagotipo-azul.png',:width => "60" %>
    <% end %>
  </div>
  <div class="float text">
    <h2 style="margin: 0; padding-left: 3cm;padding-top: 0.5cm">Admisión Hospitalaria</h2>
  </div>
</div>

<div style="clear: both;">
</div>


  <table style="width: 100%; font-size: 11px">
    <tr>
      <td style="width: 25%"><strong>Fecha:</strong></td>
      <td style="width: 75%"><%= @admission.admission_date.strftime("%d/%m/%Y") %></td>
    </tr>
    <tr>
      <td style="width: 25%"><strong>Paciente:</strong></td>
      <td style="width: 75%"><%= @admission.patient.full_name %></td>
    </tr>
    <tr>
      <td style="width: 25%"><strong>Médico tratante:</strong></td>
      <td style="width: 75%"><%= @admission.doctor.user.person.full_name %></td>
    </tr>
  </table>
<%
  total = 0
  debt = 0
  discount_balance = 0
  total_paid = 0
  @admission.medicament_assortments.each do |ic|

    total += ic.cost
    debt += ic.residue
    discount_balance += ic.discount
%>
<% end %>
<%  @admission.service_charges.each do |ic|
  total += ic.cost
  debt += ic.residue
  discount_balance += ic.discount
%>
<% end %>
<%
  @admission.admission_transactions.each do |ic|
    total_paid += ic.amount
%>
<% end %>

<% if @admission.service_charges.count > 0 %>
    <br>
  <div align="center">
    <label style="font-weight: bold;font-size: 14px">Servicios</label>
  </div>
<table id='charges_table_content' class='table table-striped'><thead><tr>
  <th style="text-align: left;width: 10%">Fecha</th>
  <th style="text-align: left;width: 35%">Nombre</th>
  <th style="text-align: left;width: 40%">Observaciones</th>
  <th style="text-align: right;width: 15%">Costo</th>
</tr></thead><tbody>
<% services_total = 0.0 %>
<%  @admission.service_charges.each do |ic|%>
    <% services_total += ic.cost %>
    <tr id="charge_<%= ic.id %>">
      <td ><%= ic.created_at.strftime('%d/%m/%Y') %></td>
      <td ><%= ic.hospital_service.name %></td>
      <td style="text-align: left"><%= ic.observations %></td>
      <td style="text-align: right"><%= number_to_currency(ic.cost,:unit => "$") %></td>
    </tr>
<% end %>
<tr>
  <td></td>
  <td></td>
  <td ></td>
  <td style="font-weight: bold;text-align: right"><%= number_to_currency(services_total,:unit => "$") %></td>
</tr>
</tbody>
</table>
    <% end %>
<% if @admission.medicament_assortments.count > 0 %>
    <br>
    <div align="center">
      <label style="font-weight: bold;font-size: 14px">Medicamentos</label>
    </div>
    <table id='charges_table_content' class='table table-striped'><thead><tr>
      <th style="text-align: left;width: 10%">Fecha</th>
      <th style="text-align: left;width: 65%">Nombre</th>
      <th style="text-align: left;width: 10%">Cantidad</th>
      <th  style="text-align: right;width: 15%">Costo</th>
    </tr></thead><tbody>
    <% meds_total = 0.0 %>
    <%  @admission.medicament_assortments.each do |ic|%>
        <% ic.medicament_assortment_items.each do |med| %>
            <% meds_total += med.cost %>
            <tr id="charge_<%= med.id %>">
              <td ><%= ic.created_at.strftime('%d/%m/%Y') %></td>
              <td ><%= med.medicament.comercial_name %></td>
              <td style="text-align: center;"><%= med.quantity %></td>
              <td  style="text-align: right;"><%= number_to_currency(med.cost,:unit => "$") %></td>
            </tr>
        <% end %>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td style="font-weight: bold;"></td>
      <td style="text-align: right;font-weight: bold;"><%= number_to_currency(meds_total) %></td>
    </tr>
    </tbody>
    </table>
    <br>
    <div align="center">
      <label style="font-weight: bold;font-size: 14px">Materiales</label>
    </div>
    <table id='charges_table_content' class='table table-striped'><thead><tr>
      <th style="text-align: left;width: 10%">Fecha</th>
      <th style="text-align: left;width: 65%">Nombre</th>
      <th style="text-align: left;width: 10%">Cantidad</th>
      <th style="text-align: right;width: 15%" >Costo</th>
    </tr></thead><tbody>
    <% art_total = 0.0 %>
    <%  @admission.medicament_assortments.each do |ic|%>
        <% ic.assortment_pharmacy_items.each do |med| %>
            <% art_total += med.cost %>
            <tr id="charge_<%= med.id %>">
              <td ><%= ic.created_at.strftime('%d/%m/%Y') %></td>
              <td ><%= med.pharmacy_item.description %></td>
              <td style="text-align: center;"><%= med.quantity %></td>
              <td style="text-align: right;"><%= number_to_currency(med.cost,:unit => "$") %></td>
            </tr>
        <% end %>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td style="font-weight: bold;"></td>
      <td style="font-weight: bold;text-align: right"><%= number_to_currency(art_total) %></td>
    </tr>
    </tbody>
    </table>
<% end %>
<br>
<div align="center">
  <label style="font-weight: bold;font-size: 14px">Lista de pagos</label>
</div>
<table width="65%" align="center" style="border: solid 1px black;font-size: 13px" class='table table-striped' ><thead><tr>
  <th style="text-align: left;width: 10%">Folio</th>
  <th style="text-align: left;width: 10%">Fecha de pago</th>
  <th style="text-align: left;width: 10%">Cantidad</th>
  <th style="text-align: left;width: 10%">Estado</th>
</tr></thead><tbody>
<% if @admission.admission_transactions.count > 0 || @admission.hospital_admission_discounts.count > 0 %>
    <%
      @admission.admission_transactions.each do |ic|
    %>

        <tr id="payment_<%= ic.id %>">
          <td ><%= ic.folio %></td>
          <td ><%= ic.created_at.strftime('%d/%m/%Y ') %></td>
          <td ><%= number_to_currency(ic.amount,:unit => "$") %></td>
          <td ><%= ic.is_cancel? ? "Cancelado" : "Pagado" %></td>
          </td>
        </tr>
    <% end %>
  <% end %>
</tbody>
</table>
<br>
<hr style="border-top: 2px dotted black"/>
<div align="center">
  <label style="font-weight: bold;font-size: 14px">Balance de la cuenta</label>
</div>
<table  width="75%" align="center" style="border: solid 1px black;font-size: 13px" >
  <tr>
    <td style="width: 25%;text-align: left">Cobros totales</td>
    <td style="width: 25%;text-align: center">Descuento</td>
    <td style="width: 25%;text-align: center">Abono</td>
    <td style="width: 25%;text-align: right">Deuda</td>
  </tr>
  <tr>
    <td style="width: 25%; font-weight: bold;text-align: left"><%= number_to_currency((total),:unit => "$") %></td>
    <td style="width: 25%;color: #0a68b4; font-weight: bold;text-align: center" ><%= number_to_currency(discount_balance,:unit => "$") %></td>
    <td style="width: 25%;color: green; font-weight: bold;text-align: center"><%=number_to_currency(total_paid,:unit => "$") %></td>
    <% total_debt = (total-discount_balance) - total_paid %>
    <td style="width: 25%;color: <%= total_debt > 0 ? 'blue' : 'red' %>; font-weight: bold;text-align: right" ><%=number_to_currency(total_debt,:unit => "$") %></td>
  </tr>
  <tr>
</table>