
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <%= render '/messages' %>
      <div class="col-md-6">
        <h4 class="page_title">Admisiones hospitalarias</h4>
      </div>
      <div class="col-md-6">

          <% if can? :new, HospitalAdmission %>
              <%= link_to 'Agregar', new_cli_hospital_admission_path, class: "pull-right btn bgm-green waves-effect" %>
          <% end %>
        <% if can? :close_admissions, HospitalAdmission %>
            <a class="pull-right btn bgm-blue waves-effect" id="close_admissions_btn" style="margin-right: 10px" href="javascript:void(0)">Cerrar admisiones</a>
        <% end %>
      </div>
      <div class="col-md-12">
        <div class="datatable_custom bootgrid-header">
          <table id="data-table-hospital-admission" class="table table-striped table-condensed table-custom" data-source="<%= cli_hospital_admissions_url(format: "json") %>"
                 data-can-edit="<%= can? :edit, HospitalAdmission %>"
                 data-can-show="<%= can? :show, HospitalAdmission %>"
                 data-can-print="<%= can? :print_pdf_admission, HospitalAdmission %>"
                 data-can-invoice="<%= can? :open_invoice_admission, HospitalAdmission %>">
            <thead>
            <tr>
              <th data-column-id="patient">Paciente</th>
              <th data-column-id="doctor">Medico tratante</th>
              <th data-column-id="triage">Triage</th>
              <th data-column-id="attention_type">Tipo de atención</th>
              <th data-column-id="admission_date">Fecha de admisión</th>
              <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= hidden_field_tag 'url_close_admissions', close_admissions_cli_hospital_admissions_url %>