<input type="hidden" value="<%= @admission.id %>" id="admission_id">
<div class="card">
  <div class="card-body card-padding">
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-header" style="text-align: center">
            <h1>Facturaci&oacute;n electrónica</h1>
          </div>
        </div>
        <div class="col-xs-12" >
          <div class="new_invoice_section">
            Datos del emisor
          </div>
          <a data-toggle="modal" href="#emisor_fiscal_info_modal" style="margin-top: 15px;" class="pull-right btn bgm-green waves-effect">Cambiar datos de emisor</a>
          <div class="row fiscal_info" id="fiscal_emisor_open"></div>
        </div>
        <div class="col-xs-12">
          <div class="new_invoice_section">
            Datos del receptor
          </div>
          <a data-toggle="modal" href="#add_patient_fiscal_data_modal" style="margin-top: 15px;" class="pull-right btn bgm-green waves-effect">Agregar datos de paciente</a>
          <a data-toggle="modal" href="#add_general_fiscal_data_modal" style="margin-top: 15px;" class="pull-left btn bgm-green waves-effect">Agregar datos generales</a>
        </div>
        <div class="col-md-12" style="padding: 5px;"></div>
        <div class="col-xs-6">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> Nombre o Razón Social</strong>
            <input type="text" class="form-control input-lg" id="fiscal_business_name_open" >
          </div>
        </div>
        <div class="col-xs-6">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> RFC</strong>
            <input type="text" class="form-control input-lg" id="fiscal_rfc_open" >
          </div>
        </div>
        <div class="col-xs-6">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> Direcci&oacute;n</strong>
            <input type="text" class="form-control input-lg" id="fiscal_address_open" >
          </div>
        </div>
        <div class="col-xs-6">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> Colonia</strong>
            <input type="text" class="form-control input-lg" id="fiscal_suburb_open" >
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> No. Ext.</strong>
            <input type="text" class="form-control input-lg" id="fiscal_ext_number_open" >
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong>No. Int.</strong>
            <input type="text" class="form-control input-lg" id="fiscal_int_number_open" >
          </div>
        </div>

        <div class="col-xs-4">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> C&oacute;digo postal</strong>
            <input type="text" class="form-control input-lg" id="fiscal_zip_open" >
          </div>
        </div>
        <div class="col-xs-3">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> Localidad</strong>
            <input type="text" class="form-control input-lg" id="fiscal_locality_open" >
          </div>
        </div>
        <div class="col-xs-3">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> Ciudad</strong>
            <input type="text" class="form-control input-lg" id="fiscal_city_open" >
          </div>
        </div>
        <div class="col-xs-3">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> Estado</strong>
            <input type="text" class="form-control input-lg" id="fiscal_state_open" >
          </div>
        </div>
        <div class="col-xs-3">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> Pa&iacute;s</strong>
            <input type="text" class="form-control input-lg" id="fiscal_country_open" >
          </div>
        </div>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_invoice_section">
            Conceptos
          </div>
          <!--<a data-toggle="modal" onclick="clear_add_concept()" href="#add_concept_modal" style="margin-top: 15px;" class="pull-right btn bgm-green waves-effect">Agregar concepto</a>-->
        </div>

        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_concepts_open" class="col-xs-12">

          <table id="concepts_open" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Cant.</th>
              <th width="15%" style="text-align: center">Unidad</th>
              <th width="30%" style="text-align: center">Descipcion</th>
              <th width="15%" style="text-align: center">P. Unitario</th>
              <th width="15%" style="text-align: center">Importe</th>
            </tr>
            </thead>
            <tbody>


            </tbody>
          </table>
        </div>
        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div class="col-xs-8" style="text-align: center"><span></span></div>
        <div class="col-xs-4">
          <strong >Subtotal:</strong>
          <input type="text" class="form-control input-lg" id="open_invoice_subtotal" disabled>
        </div>
        <div class="col-xs-8" style="text-align: center"><span></span></div>
        <div class="col-xs-4">
          <input type="checkbox" name="with_iva" id="with_iva" onclick="calculate_with_iva()"> I.V.A (16%)
          <input type="text" class="form-control input-lg" id="total_iva_amount" disabled>
        </div>
        <div class="col-xs-8" style="text-align: center"><span></span></div>
        <div class="col-xs-4">
          <input type="checkbox" name="with_isr" id="with_isr" onclick="calculate_with_isr()"> RET. I.S.R (10%)
          <input type="text" class="form-control input-lg" id="total_isr_amount" disabled>
        </div>
        <div class="col-xs-8" style="text-align: center"><span></span></div>
        <div class="col-xs-4">
          <strong >Total:</strong>
          <input type="text" class="form-control input-lg" id="open_invoice_total" disabled>
        </div>
        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div class="col-xs-6">
          <strong >Forma de pago:</strong> <br>
          <select class="selectpicker form-control bs-select-hidden" id="payment_type_open">
            <%  PaymentWay.all.each do |s| %>
                <option value="<%= s.id %>"><%=  s.name   %></option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-6">
          <strong >Condiciones de pago:</strong> <br>
          <input type="text" class="form-control input-lg" value="Contado" disabled>
        </div>
        <div class="col-xs-6">
          <strong >Metodo de pago:</strong> <br>
          <div class="col-xs-9">
            <textarea class="form-control input-lg" id="payment_methods_box_open" rows="2" style="font-size: small" disabled></textarea>
          </div>
          <div class="col-xs-1" style="z-index: 1">
            <a  onclick='openPaymentMethodsopen()'  class="btn bgm-green btn-icon waves-effect waves-circle waves-float btn-show"  ><i class="zmdi zmdi-plus-circle-o zmdi-hc-fw"  title="Agregar"></i></a>
          </div>

          <div class="col-xs-1" >
            <a  onclick='clearPaymentMethodsopen()'   class="btn bgm-orange btn-icon waves-effect waves-circle waves-float btn-show"  ><i class="zmdi zmdi-time-restore-setting zmdi-hc-fw"   title="Limpiar"></i></a>
          </div>
          <div class="col-xs-1">
            <span></span>
          </div>
        </div>
        <div class="col-xs-6" id="account_div">
          <strong >Número de cuenta (opcional):</strong> <br>
          <input type="text" class="form-control input-lg" id="account_number_open" >
        </div>
      </div>
    </div>
    </form>
  </div>
  <input type="hidden"  id="is_open_invoice" value="1" >
  <input type="hidden"  id="emisor_data_id" >
  <input type="hidden"  id="concept_id_counter" >
  <div class="modal-footer">
    <div id="loading_image_open">
    </div>
    <div class="col-md-4">
      <label>Los campos con <strong style="color: red">*</strong>  son obligatorios</label>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" id="stamp_admission_invoice_btn" onclick="stamp_open_invoice()">Facturar</button>
      <a href="<%= cli_hospital_admissions_path %>" class="btn btn-danger">Atrás</a>
    </div>


  </div>
</div>

<%= hidden_field_tag 'url_get_emisor_info', url_for(:controller => 'cli/hospital_admissions', :action => 'get_emisor_info', :only_path => false) %>
<%= hidden_field_tag 'url_stamp_admission', url_for(:controller => 'cli/hospital_admissions', :action => 'stamp_admission_invoice', :only_path => false) %>
<%= hidden_field_tag 'url_get_payments', url_for(:controller => 'cli/hospital_admissions', :action => 'get_payments', :only_path => false) %>


<div class="modal fade" id="emisor_fiscal_info_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Cambiar datos de emisor</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">
              <br>
              <div class="col-md-12 col-xs-12">
                <strong>Información fiscal</strong>
                <%= select_tag("emisor_fiscal_data", options_for_select(EmisorFiscalInformation.all.map{|pa| [pa.bussiness_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="set_data_emisor_btn" onclick="change_emisor_data()" >Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="add_patient_fiscal_data_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Agregar datos de paciente</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">
              <br>
              <div class="col-md-12 col-xs-12">
                <strong>Información fiscal</strong>
                <%= select_tag("fiscal_patient_for_search", options_for_select(@admission.patient.patient_fiscal_informations.all.map{|pa| [pa.business_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="set_data_patis" onclick="set_receptor_data('patient')">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="add_general_fiscal_data_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Agregar datos de paciente</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">
              <br>
              <div class="col-md-12 col-xs-12">
                <strong>Información fiscal</strong>
                    <%= select_tag("fiscal_for_search", options_for_select(GeneralFiscalInfo.all.map{|pa| [pa.business_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="set_data_a" onclick="set_receptor_data('general')" >Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_concept_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Agregar concepto</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">
              <br>
              <div class="col-xs-6">
                <strong >Cantidad:</strong> <br>
                <input type="number" class="form-control input-lg" id="concept_quantity" >
              </div>
              <div class="col-xs-6" style="padding-top: 10px;">
                <strong >Unidad:</strong> <br>
                <select class="selectpicker form-control bs-select-hidden" id="concept_unity">
                  <%  MeasureUnit.all.each do |s| %>
                      <option value="<%= s.name %>"><%=  s.name   %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-xs-12">
                <strong >Descripci&oacute;n:</strong> <br>
                <textarea rows="3" class="form-control input-lg" id="concept_description"></textarea>
              </div>
              <div class="col-xs-12">
                <strong >Importe:</strong> <br>
                <input type="number" class="form-control input-lg" id="concept_amount" >
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="add_transaction_btn" onclick="add_concept_to_table()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete_concept_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_disease_title">Eliminar concepto</h4>
      </div>
      <div class="modal-body">
        ¿Confirma que desea eliminar el concepto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete_medicament_btn" onClick="delete_concept()">Eliminar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="select_pay_method_open" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">
            <div class="row">
              <br>
              <div class="col-xs-12">
                <strong >Metodo de pago:</strong> <br>
                <select class="selectpicker form-control bs-select-hidden" id="payment_method_open" >
                  <%  PaymentMethod.all.each do |s| %>
                      <option value="<%= s.code %>"><%=  s.name   %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="send_email_btn" onclick="add_payment_methodopen()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'url_get_patient_fiscal', url_for(:controller => 'doctor/transactions', :action => 'get_patient_fiscal', :only_path => false) %>
<%= hidden_field_tag 'url_get_patient_fiscal_to_set', url_for(:controller => 'doctor/transactions', :action => 'get_patient_fiscal_to_set', :only_path => false) %>


<%= hidden_field_tag 'url_get_receptor', url_for(:controller => 'doctor/invoices', :action => 'get_receptor_email', :only_path => false) %>
<%= hidden_field_tag 'url_send_invoice_mail', url_for(:controller => 'doctor/invoices', :action => 'send_invoice_email', :only_path => false) %>

<div class="modal fade" id="send_email_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center"> Enviar factura por correo electronico</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">
            <div class="row" id="emails_div">
            </div>
            <div class="row">
              <a href="javascript:void(0);" onclick="addemailfield()"><i style="font-size: 1.33em" class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Agregar correo</a>
              <br>
              <div class="col-xs-12" >
                <strong >Correo electronico:</strong> <br>
                <input type="text" class="form-control input-lg" id="email_receptor" >
                <input type="hidden"  id="transac_receptor_id" >
                <input type="hidden" id="invoice_id">
              </div>
              <div class="col-xs-12" id="text_emails_div">

              </div>
              <div id="loading_email_sending">

              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="send_email_btn" onclick="send_invoice_email_open()">Enviar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal" onclick="cancelSendmeail()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
