<style>

  #donation_table{
    width: 100%;
    border-collapse: collapse;
  }

  #donation_table thead th{
    border: black 1px solid;
    padding: 10px;
  }
  #donation_table tbody td{
    border: black 1px solid;
    padding: 5px;
  }
</style>

<br><br>
<br><br>

<header>

  <div id="main_header_holder">
      <strong style=""><%= @clinic.name %></strong>
      <div><%= @clinic.address %>, <%= @clinic.city.format_city_state_and_country %></div>
      <div>Tel. <%= @clinic.telephone %>, Fax. <%= @clinic.fax %></div>
  </div>

  <div style="clear: both;"></div>
  <hr>

</header>

<table id="donation_table">
  <thead>
  <tr>
    <th>DESCRIPCIÓN</th>
    <th>MONTO</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>

      <%= @concept %>

    </td>
    <td><%= number_to_currency(@total) %></td>
  </tr>
  </tbody>
</table>

<a onclick="printZpl('Esta es una cadena Cool\ncon Algunos saltos de línea')">Imprimir</a>