

<input type="hidden" value="<%= @hospital_admission.id %>" id="hospital_admission_id">
<input type="hidden" id="is_show" value="1">
<div class="card">
  <div class="card-body card-padding">
    <h5>Datos de la admisión hospitalaria</h5>
    <table class="table" style="font-size: 12px">
      <tr>
        <td><strong>Fecha de admisión</strong></td>
        <td><%=@hospital_admission.admission_date.strftime('%d/%m/%Y %I:%M %p') %></td>
        <td><strong>Tipo de atención</strong></td>
        <td><%=@hospital_admission.attention_type.name %></td>
        <td><strong>Triage</strong></td>
        <td><div style="background: <%= '#'+@hospital_admission.triage.color %>;width: 40px;height: 20px"></div></td>
      </tr>
      <tr>
        <td><strong>Paciente</strong></td>
        <td><%=@hospital_admission.patient.full_name %></td>
        <td><strong>Médico</strong></td>
        <td><%= @hospital_admission.doctor.present? ? @hospital_admission.doctor.full_name_title : 'No asignado' %></td>
        <td></td>
        <td></td>
        <input type="hidden" id="patient_id" value="<%= @hospital_admission.patient.id %>">
      </tr>


    </table>

     </div>
</div>

<div class="card">
  <div class="card-body card-padding">

    <div class="row">

      <div class="col-xs-8">
        <h4>Datos de la cuenta</h4>
      </div>



      <div class="col-xs-12">
        <% if !@hospital_admission.is_closed %>
        <div class="row" style="font-size: 11px">
          <div class="col-xs-4">
            <strong >Servicio o paquete:</strong> <br>
            <input type="text" name="hospital_service" id="hospital_service" class="form-control input-lg" >
          </div>
          <div class="col-xs-2">
            <strong >Costo:</strong> <br>
            <input type="number" class="form-control input-lg" id="service_cost" >
          </div>
          <div class="col-xs-5">
            <strong >Observaciones:</strong> <br>
            <input type="text" class="form-control input-lg" name="observations" id="observations" >
          </div>
          <div class="col-xs-1" style="padding-top: 10px;"     >
            <a  id="add_service_to_admission_btn"  class="btn bgm-green waves-effect  pull-right" title="Agregar servicio" > Agregar</a>
          </div>
        </div>
        <% end %>
        <div class="block-header" style="padding-top: 1em">
          <h2 style="text-align: center">Cargos</h2>
        </div>
        <div class="form-group fg-line">

          <table class="table">
            <thead>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Costo</th>
            <th>Descuento</th>
            <th>Saldo</th>

            <th></th>
            </thead>
            <tbody>
            <%
              total = 0
              debt = 0
              discount_balance = 0
              total_paid = 0
              @hospital_admission.medicament_assortments.each do |ic|

              total += ic.cost
              debt += ic.residue
              discount_balance += ic.discount
            %>
                <tr id="charge_<%= ic.id %>">
                  <td ><%= ic.created_at.strftime('%d/%m/%Y %I:%M %p') %></td>
                  <td >Surtido de medicamentos</td>
                  <td ><%= number_to_currency(ic.cost,:unit => "$") %></td>
                  <td ><%= number_to_currency(ic.discount,:unit => "$") %></td>
                  <td ><%= number_to_currency(ic.residue,:unit => "$") %></td>
                  <td>
                    <% if !@hospital_admission.is_closed %>
                        <a  href='javascript:void(0)' onclick='setEditItemCharge(<%= ic.id %>,"assortment")'>
                          <i class='zmdi zmdi-money-off zmdi-hc-fw' style='font-size: 1.73em;' title='Editar descuento'></i></a>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            <%  @hospital_admission.service_charges.each do |ic|
              total += ic.cost
              debt += ic.residue
              discount_balance += ic.discount
            %>
                <tr id="charge_<%= ic.id %>">
                  <td ><%= ic.created_at.strftime('%d/%m/%Y %I:%M %p') %></td>
                  <td ><%= ic.hospital_service.name %></td>
                  <td ><%= number_to_currency(ic.cost,:unit => "$") %></td>
                  <td ><%= number_to_currency(ic.discount,:unit => "$") %></td>
                  <td ><%= number_to_currency(ic.residue,:unit => "$") %></td>
                  <td>
                    <% if !@hospital_admission.is_closed %>
                    <a  href='javascript:void(0)' onclick='setEditItemCharge(<%= ic.id %>,"service")'>
                      <i class='zmdi zmdi-money-off zmdi-hc-fw' style='font-size: 1.73em;' title='Editar descuento'></i></a>

                        <a  class="delete_service_admission" url="<%= delete_service_cli_hospital_admissions_path(ic.id) %>">
                          <i class='zmdi zmdi-delete zmdi-hc-fw' style='font-size: 1.73em;' title='Eliminar servicio'></i></a>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            <tr>
              <td></td>
              <td></td>
              <td style="font-weight: bold;"><%= number_to_currency(total) %></td>
              <td style="color: #0a68b4; font-weight: bold;"><%= number_to_currency(discount_balance) %></td>
              <td style="color: red; font-weight: bold;"><%= number_to_currency(debt) %></td>

            </tr>
            </tbody>
          </table>

        </div>
      </div>




      <% if @hospital_admission.admission_transactions.count > 0 || @hospital_admission.hospital_admission_discounts.count > 0 %>
      <div class="col-xs-12">
        <div class="block-header" style="padding-top: 1em">
          <h2 style="text-align: center">Pagos
          </h2>
        </div>
        <div class="form-group fg-line">

          <table class="table">
            <thead>
            <th>Folio</th>
            <th>Fecha de pago</th>
            <th>Cantidad</th>
            <th>Estado</th>
            <th></th>
            </thead>
            <tbody>
            <%
              clinic = ClinicInfo.find(1)
              @hospital_admission.admission_transactions.where("is_cancel = 0").each do |ic|
                total_paid += ic.amount
            %>

                <tr id="payment_<%= ic.id %>">
                  <td ><%= ic.folio %></td>
                  <td ><%= ic.created_at.strftime('%d/%m/%Y %I:%M %p') %></td>
                  <td ><%= number_to_currency(ic.amount,:unit => "$") %></td>
                  <td ><%= ic.is_cancel? ? "Cancelado" : "Pagado" %></td>
                  <td>
                    <% if !ic.is_cancel && !@hospital_admission.is_closed %>
                        <a  href='javascript:void(0)' onclick='setCancelPayment(<%= ic.id %>,<%= ic.amount %>)'>
                          <i class='zmdi zmdi-close-circle-o zmdi-hc-fw' style='font-size: 1.73em;' title='Cancelar pago'></i></a>
                    <% end %>

                    <a style='font-size: 1.73em;' href="<%= ticket_pdfs_path(Const::TICKET_ADMISSION,ic.id) %>" target="_blank">
                      <i class="zmdi zmdi-print"></i>
                    </a>
                  </td>
                </tr>
            <% end %>

            <tr>
              <td colspan="2"></td>
              <td style="color: green; font-weight: bold;"><%= number_to_currency(total_paid) %></td>
              <td colspan="2"></td>
            </tr>




            </tbody>
          </table>

        </div>
      </div>
          <% end %>

    </div></div></div>

<div class="card">
  <div class="card-body card-padding">
      <% if !@hospital_admission.is_closed %>

          <buttonn data-toggle="modal" href="#paymentModal"
                   class="btn bgm-green waves-effect  pull-right" title="Agregar pago">

          Agregar pago</buttonn>

      <% end %>
    <h4>Resumen de la cuenta</h4>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="form-group fg-line">
          <label class="control-label" >Total</label><br>
          <input type="text" class="form-control input-lg" id="total_admission"  readonly value="<%= number_to_currency((total),:unit => "$") %>">
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="form-group fg-line">
          <label class="control-label" >Descuento</label><br>
          <input type="text" style="color: blue;" class="form-control input-lg" id="discount_admission"  readonly value="<%= number_to_currency(discount_balance,:unit => "$") %>">
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="form-group fg-line">
          <label class="control-label" >Abono</label><br>
          <input type="text" class="form-control input-lg" id="payment_admission"  readonly value="<%=number_to_currency(total_paid,:unit => "$") %>">
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="form-group fg-line">
          <label class="control-label" >Deuda</label><br>
          <% total_debt = (total-discount_balance) - total_paid %>
          <input style="color: red" type="text" class="form-control input-lg" id="debt_admission" readonly value="<%=number_to_currency(total_debt,:unit => "$") %>">
        </div>
      </div>

    </div></div></div>


<div class="col-xs-6">

</div>
<div class="col-xs-6">
  <span class="col-xs-3"></span>
  <a href="<%= cli_hospital_admissions_path %>" class="btn btn-danger col-xs-4">Atrás</a>
  <span class="col-xs-1"></span>
  <% if !@hospital_admission.is_closed %>
      <a href="javascript:void(0)" onclick="setCloseOtherCharge(<%= @hospital_admission.id  %>)" class="btn btn-primary pull-right col-xs-4" style="margin-right: 20px;">Cerrar admisión</a>
  <% end %>
</div>



<div class="modal fade" id="paymentModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Agregar pago de servicio</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">
              <br>
              <div class="col-xs-12">
                <strong>Cuenta:</strong> <br>
                <%= select_tag("account", options_for_select(current_user.accounts.map{|pa| [pa.account_number + "-" + pa.bank.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
              </div>
              <div class="col-xs-6">
                <strong>Método de Pago:</strong> <br>
                <%= select_tag("payment_method", options_for_select(PaymentMethod.all.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
              </div>
              <div class="col-xs-6">
                <strong >Cantidad a abonar:</strong> <br>
                <input type="number" class="form-control input-lg" id="payment_cost" >
              </div>
              <div class="col-xs-12">
                <strong >Detalles:</strong> <br>
                <input type="text" class="form-control input-lg" id="details" >
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_transaction_btn" onclick="generate_payment()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="addDiscountModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Agregar descuadasdento</h4>
      </div>
      <div class="modal-body">

        <strong>Monto</strong>
        <input type="number" class="form-control input-lg" id="discount_amount" placeholder="Ingrese el monto">

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_discount_btn" onclick="generate_discount()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<%= hidden_field_tag 'url_get_services_select', url_for(:controller => 'cli/hospital_admissions', :action => 'get_services_select', :only_path => false) %>
<%= hidden_field_tag 'url_close_admission', url_for(:controller => 'cli/hospital_admissions', :action => 'close_admission', :only_path => false) %>
<%= hidden_field_tag 'url_check_close_permission', url_for(:controller => 'cli/other_charges', :action => 'check_close_permission', :only_path => false) %>
<%= hidden_field_tag 'url_cancel_payment_admission_payment', url_for(:controller => 'cli/hospital_admissions', :action => 'cancel_payment_admission', :only_path => false) %>
<%= hidden_field_tag 'url_check_cancel_permission', url_for(:controller => 'cli/other_charges', :action => 'check_cancel_permission', :only_path => false) %>
<%= hidden_field_tag 'url_icon_xml', image_path("XML.png") %>
<%= hidden_field_tag 'url_set_fiscal_info', url_for(:controller => 'doctor/transactions', :action => 'setFiscalInfo', :only_path => false) %>
<%= hidden_field_tag 'url_get_fiscal_info', url_for(:controller => 'doctor/transactions', :action => 'getFiscalInfos', :only_path => false) %>
<%= hidden_field_tag 'url_get_service_cost', url_for(:controller => 'cli/hospital_admissions', :action => 'get_service_cost', :only_path => false) %>
<%= hidden_field_tag 'url_generate_cost', url_for(:controller => 'cli/hospital_admissions', :action => 'generate_cost', :only_path => false) %>
<%= hidden_field_tag 'url_generate_discount', url_for(:controller => 'cli/hospital_admissions', :action => 'generate_discount', :only_path => false) %>
<%= hidden_field_tag 'url_get_residue', url_for(:controller => 'cli/hospital_admissions', :action => 'get_residue', :only_path => false) %>
<%= hidden_field_tag 'url_generate_payment', url_for(:controller => 'cli/hospital_admissions', :action => 'generate_payment', :only_path => false) %>
<%= hidden_field_tag 'url_get_clinic_info', url_for(:controller => 'admin/clinic_infos', :action => 'getClinicInfo', :only_path => false) %>
<%= hidden_field_tag 'url_stamp_action', url_for(:controller => 'cli/hospital_admissions', :action => 'stamp', :only_path => false) %>
<%= hidden_field_tag 'url_get_receptor', url_for(:controller => 'cli/hospital_admissions', :action => 'get_receptor_email', :only_path => false) %>
<%= hidden_field_tag 'url_cancel_invoice', url_for(:controller => 'cli/hospital_admissions', :action => 'cancel_invoice', :only_path => false) %>
<%= hidden_field_tag 'url_send_invoice_mail', url_for(:controller => 'cli/hospital_admissions', :action => 'send_invoice_email', :only_path => false) %>
<%= hidden_field_tag 'url_update_service_discount', url_for(:controller => 'cli/hospital_admissions', :action => 'update_service_discount', :only_path => false) %>

<div class="modal fade" id="send_email_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center"> Enviar factura por correo electronico</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">

            <div class="row" id="emails_div">

            </div>
            <div class="row">
              <a href="javascript:void(0);" onclick="addemailfield()"><i style="font-size: 1.33em" class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Agregar correo</a>
              <br>
              <div class="col-xs-12" >
                <strong >Correo electronico:</strong> <br>
                <input type="text" class="form-control input-lg" id="email_receptor" >
                <input type="hidden"  id="transac_receptor_id" >
                <input type="hidden" id="invoice_id">
              </div>
              <div class="col-xs-12" id="text_emails_div">

              </div>
              <!-- <input  type="button" onclick="addemailfield()" value="agregar email">-->
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="send_email_btn" onclick="send_invoice_email()">Enviar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="stamp_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Generar factura</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="row">

            <div class="col-md-6">
              <div class="new_invoice_section">
                Datos del emisor
              </div>
              <div class="row fiscal_info" id="fiscal_emisor_info"></div>
            </div>

            <div class="col-md-6">
              <div class="new_invoice_section">
                Datos del receptor
              </div>

              <div class="row fiscal_info" id="">

                <div class="col-md-3">
                  <strong>Seleccionar:</strong>
                </div>
                <div class="col-md-9">
                  <select onchange="setFiscalInfo()" class="selectpicker form-control"
                          id="fiscal_info_for_invoice">
                  </select>
                </div>

                <div id="fiscal_receptor_info"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="new_invoice_section">
                  Conceptos
                </div>
                <div id="table_invoice" class="table"></div>
              </div>
              <input type="hidden" class="form-control input-lg" id="fiscal_business_name" >
              <input type="hidden" class="form-control input-lg" id="fiscal_rfc" >
              <input type="hidden" class="form-control input-lg" id="fiscal_address" >
              <input type="hidden" class="form-control input-lg" id="fiscal_ext_number" >
              <input type="hidden" class="form-control input-lg" id="fiscal_int_number" >
              <input type="hidden" class="form-control input-lg" id="fiscal_suburb" >
              <input type="hidden" class="form-control input-lg" id="fiscal_zip" >
              <input type="hidden" class="form-control input-lg" id="fiscal_locality" >
              <input type="hidden" class="form-control input-lg" id="fiscal_city" >
              <input type="hidden" class="form-control input-lg" id="fiscal_state" >
              <input type="hidden" class="form-control input-lg" id="fiscal_id_patient" >
              <input type="hidden" class="form-control input-lg" id="fiscal_country" >
              <input type="hidden" class="form-control input-lg" id="fiscal_amount" >
              <div class="col-xs-6">
                <strong >Forma de pago:</strong> <br>
                <select class="selectpicker form-control bs-select-hidden" id="payment_type">
                  <%  PaymentWay.all.each do |s| %>
                      <option value="<%= s.id %>"><%=  s.name   %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-xs-6">
                <strong >Condiciones de pago:</strong> <br>
                <input type="text" class="form-control input-lg" value="Contado" disabled>
              </div>
              <div class="col-xs-6">
                <strong >Metodo de pago:</strong> <br>
                <div class="col-xs-9">
                  <textarea class="form-control input-lg" id="payment_methods_box" rows="2" style="font-size: small" disabled></textarea>
                </div>
                <div class="col-xs-1" style="z-index: 1">
                  <a href='#' onclick='openPaymentMethods()'  class="btn bgm-green btn-icon waves-effect waves-circle waves-float btn-show"  ><i class="zmdi zmdi-plus-circle-o zmdi-hc-fw" title="Agregar"></i></a>
                </div>
                <div class="col-xs-1">
                  <a href='#' onclick='clearPaymentMethods()'  class="btn bgm-orange btn-icon waves-effect waves-circle waves-float btn-show"  ><i class="zmdi zmdi-time-restore-setting zmdi-hc-fw  " title="Limpiar"></i></a>
                </div>
                <div class="col-xs-1">
                  <span></span>
                </div>


              </div>
              <div class="col-xs-6" id="account_div">
                <strong >Número de cuenta (si aplica):</strong> <br>
                <input type="text" class="form-control input-lg" id="account_number" >
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="stamp_consult_invoice" onclick="stamp_invoice()">Facturar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="select_pay_method" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">
            <div class="row">
              <br>
              <div class="col-xs-12">
                <strong >Metodo de pago:</strong> <br>
                <select class="selectpicker form-control bs-select-hidden" id="payment_method" >
                  <%  PaymentMethod.all.each do |s| %>
                      <option value="<%= s.code %>"><%=  s.name   %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="send_email_btn" onclick="add_payment_method()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cancel_payment_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cancel_title">Cancelar pago</h4>
        <br>
        Para cancelar un pago es necesario validar el permiso del usuario
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <strong>Nombre de usuario o correo electronico:</strong> <br>
            <input type="text" class="form-control input-lg" id="user_name" autocomplete="off">
          </div>
          <div class="col-xs-12">
            <strong>Contraseña:</strong> <br>
            <input type="password" class="form-control input-lg" id="password" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="cancel_payment_btn" onClick="cancel_payment()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="change_discount_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_disease_title">Modificar descuento</h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-12">
          <strong>Descuento:</strong> <br>
          <input type="number" class="form-control input-lg" id="new_service_discount">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_discount_btn" onClick="update_discount()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="paymentModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Agregar pago de servicio</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">
              <br>
              <div class="col-xs-12">
                <strong>Cuenta:</strong> <br>
                <%= select_tag("account", options_for_select(current_user.accounts.map{|pa| [pa.account_number + "-" + pa.bank.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
              </div>
              <div class="col-xs-6">
                <strong>Método de Pago:</strong> <br>
                <%= select_tag("payment_method", options_for_select(PaymentMethod.all.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
              </div>
              <div class="col-xs-6">
                <strong >Cantidad a abonar:</strong> <br>
                <input type="number" class="form-control input-lg" id="payment_cost" >
              </div>
              <div class="col-xs-12">
                <strong >Detalles:</strong> <br>
                <input type="text" class="form-control input-lg" id="details" >
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_transaction_btn" onclick="generate_payment()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="close_other_charge_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cancel_title">Cerrar admisión</h4>
        <br>
        Para cerrar la admisión es necesario validar el permiso del usuario
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <strong>Nombre de usuario o correo electrónico:</strong> <br>
            <input type="text" class="form-control input-lg" id="user_name_close" autocomplete="off">
          </div>
          <div class="col-xs-12">
            <strong>Contraseña:</strong> <br>
            <input type="password" class="form-control input-lg" id="password_close" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="close_charge_btn" onClick="close_other_charge()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'url_search_services', hospital_services_items_autocompletes_url %>