<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/invoice' %>

</head>
<body>

    <% fiscal_info = @invoice_data.admission_invoice_emisor %>
    <% if fiscal_info.no_int != nil %>
        <% direccion_emisor = fiscal_info.address + " No. Ext: " + fiscal_info.no_ext + " No. Int: " + fiscal_info.no_int + " Col. " + fiscal_info.suburb %>
    <% else direccion_emisor = fiscal_info.address + " " + fiscal_info.no_ext + " Col. " + fiscal_info.suburb %>
    <% end%>

    <% datos_cliente = @invoice_data.admission_invoice_receptor %>
    <% if @invoice_data.admission_invoice_receptor.no_int != nil && @invoice_data.admission_invoice_receptor.no_int != "-" %>
        <% direccion_cliente = @invoice_data.admission_invoice_receptor.address + " No. Ext: " + @invoice_data.admission_invoice_receptor.no_ext + " No. Int: " + @invoice_data.admission_invoice_receptor.no_int + " Col. " + @invoice_data.admission_invoice_receptor.suburb %>
    <% else direccion_cliente = @invoice_data.admission_invoice_receptor.address + " " + @invoice_data.admission_invoice_receptor.no_ext + " Col. " + @invoice_data.admission_invoice_receptor.suburb %>
    <% end%>

<% factura = @invoice_data   %>

<div id="encabezado">
  <div id="logo_consultorio">

          <% if !ClinicInfo.first.logo_identifier.nil? %>
              <%= wicked_pdf_image_tag_for_public ClinicInfo.first.logo.url,:width => "180",  :height=>"120" %>
          <% end %>

  </div>
      <div id="dato_emisor">
        <table style="width:100%">
          <tr><td style="border-bottom: 1px black solid"><strong>Datos del emisor:</strong></td></tr>
          <tr><td><strong><%= @invoice_data.admission_invoice_emisor.business_name %></strong></td></tr>
          <tr><td><%=@invoice_data.admission_invoice_emisor.rfc %></td></tr>
          <tr><td><%= direccion_emisor %></td></tr>
          <tr><td><%= @invoice_data.admission_invoice_emisor.city + ", " + @invoice_data.admission_invoice_emisor.state + ", " + @invoice_data.admission_invoice_emisor.country  + ". C.P. " + fiscal_info.zip %></td></tr>
          <tr><td><%= @invoice_data.admission_invoice_emisor.tax_regime %></td></tr>
        </table></div>

      <div id="dato_cliente">
        <table style="width:80%">
          <tr> <td style="border-bottom: 1px black solid"><strong>Datos del cliente:</strong></td></tr>

              <tr>  <td><%= @invoice_data.admission_invoice_receptor.business_name %></td></tr>
              <tr>  <td><%= @invoice_data.admission_invoice_receptor.rfc %></td></tr>
               <tr>  <td><%= direccion_cliente %></td></tr>
              <tr> <td><%= @invoice_data.admission_invoice_receptor.city + ", " + @invoice_data.admission_invoice_receptor.state + ", " + @invoice_data.admission_invoice_receptor.country  + ". C.P. " + @invoice_data.admission_invoice_receptor.zip %></td></tr>


        </table></div>


  <div id="dato_emision"> <table style="width:100%">
      <tr> <td style="border-bottom: 1px black solid"><strong>Datos del expedicion:</strong></td></tr>
      <tr>  <td><strong>Factura: </strong> <%= factura.serie  + "-" + factura.folio.to_s%></td></tr>
      <tr>  <td><strong>Folio fiscal:</strong>  <%= factura.UUID%></td></tr>
      <tr> <td><strong>Fecha y hora de emision:</strong>  <%= factura.created_at.strftime('%Y-%m-%d')+"T"+factura.created_at.strftime('%H:%M:%S')%></td></tr>

        <tr> <td><strong>Lugar de expedici&oacute;n:</strong>  <%=  ClinicInfo.first.city.name + ", " + ClinicInfo.first.city.state.name + ", " + ClinicInfo.first.city.state.country.name%></td></tr>


  </table></div>
</div>

<br><br>
<table id="conceptos" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th width="15%">Cant.</th>
    <th width="15%">Unidad</th>
    <th width="40%">Descripción</th>
    <th width="15%">P. Unitario</th>
    <th width="15%">Importe</th>
  </tr>
  </thead>
  <tbody>
  <% factura_total = 0 %>
  <%
    total_records = factura.admission_invoice_concepts.size
    cont = 1
  %>
  <% factura.admission_invoice_concepts.each do |concept| %>
      <% factura_total += concept.cost %>
  <tr class="row_factura" id="<%= cont == total_records  ? 'last_record' : '' %>" >
    <td style="text-align: center; vertical-align: top"><%=concept.quantity %></td>
    <td style="text-align: center;vertical-align: top"><%= concept.unit %></td>
    <td style="text-align: left;vertical-align: top; padding-left: 10px;"><%=concept.description %></td>
    <td style="text-align: center;vertical-align: top"><%= number_to_currency(concept.unit_price,:unit => "$") %></td>
    <td style="text-align: center;vertical-align: top"><%=number_to_currency(concept.cost,:unit => "$") %></td>
  </tr>
<%
  cont = cont + 1
  end %>

  </tbody>
</table>

<% subtotal_invoice = factura_total
  factura_total = factura_total -  factura.isr + factura.iva
    factura_total = "%.2f" %factura_total%>

<% if @invoice_data.cancel %>
  <div id="cancel_div" >CANCELADA</div>
<% end %>
<br>
<div id="detalles_pago">

<div id="datos_pago">
  <div id="condiciones">
    <strong>Condiciones de Pago:</strong><%= factura.payment_condition%><br>
    <strong>M&eacute;todo de Pago:</strong><%= factura.payment_methos_name %><br>
    <strong>No. Cta. de Pago:</strong><%= factura.account_number%><br>
  </div>
  <br>
  <div id="certificados">
    <strong>No. de Serie del Certificado CSD del Emisor</strong><br>
    <%= EmisorFiscalInformation.first.certificate_number %><br>
   <strong>No. de Serie del Certificado CSD del SAT</strong><br>
    <%=factura.no_cert_sat %><br>
    <strong>Fecha y Hora de la Certificaci&oacute;n</strong><br>
    <%= factura.certification_date %></td>
  </div>
</div>
  <div id="logo_medsi"><br>
    Emitido desde:<br>
    <%= wicked_pdf_image_tag "medsi_logo.png",:width => "110",  :height=>"80" %>

  </div>
  <div id="totales">
    <table style="width:100%">
      <tr>
        <td>Subtotal:</td>
      </tr>
      <tr>
        <%
        if @invoice_data.iva > 0
          iva_percent = (@invoice_data.iva*100)/@invoice_data.subtotal
          iva_percent = "%.1f" %iva_percent
        else
          iva_percent = 0
        end
        %>
        <td>I.V.A. <%=iva_percent.to_s %>%:</td>
      </tr>
      <tr>
        <% if @invoice_data == nil %>
        <td><% if datos_cliente.person_type == "Moral" %>
              Ret. ISR <%= @invoice_data.doctor.fiscal_information.isr%>%:
          <% else %>
              Ret. ISR 0%:
          <% end%></td>
        <% else %>
            <td>
            <%= "Ret. ISR " + (@invoice_data.isr*10).to_s+ "%:" %>
              </td>
        <% end%>
      </tr>
      <tr>
        <td>Total:</td>
      </tr>

    </table>


  </div>
  <div id="montos">
    <table style="width:100%;text-align: right" id="table_totals">
      <tr>
        <td style=" border-bottom: 1px white solid"><%= number_to_currency(subtotal_invoice,:unit => "$") %></td>
      </tr>
      <tr >
        <td style=" border-bottom: 1px white solid"><%= number_to_currency(factura.iva,:unit => "$") %></td>
      </tr>
      <tr>
        <td style=" border-bottom: 1px white solid">
              <%= number_to_currency(factura.isr,:unit => "$") %>
      </tr>
      <tr>
        <td style=" border-bottom: 1px white solid">
          <%=number_to_currency(factura_total,:unit => "$") %></td>
      </tr>

    </table>
    <br>
    <br>


  </div>
  <div id="montoletras" style="text-align: right">
    <% invoice_cents = factura_total.split(".") %>
    Son: <%= numero_a_palabras(factura_total) + " pesos "+ invoice_cents[1].to_s + "/100 M.N"%>

  </div>
</div>

<br style="clear:both">
<br>



<div id="main_table">
  <div id="qr">

    <%= wicked_pdf_image_tag_for_public factura.qr_code,:width => "140",  :height=>"140" %>
  </div>
  <div id="cadenas">
    <div id="title_seals">
      <div class="half" id="seal_sat">
        SELLO DIGITAL DEL EMISOR
      </div>
      <div class="half_data">
        <%=factura.transmitter_seal %>
      </div>
    </div>
    <div>
      <div class="half">
        SELLO DIGITAL SAT
      </div>
      <div class="half_data" id="seal_sat">
        <%=factura.sat_seal %>
      </div>
    </div>
    <div id="original_title">
      CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICADO DIGITAL
    </div>
    <div id="original_string">
      <%= factura.original_string_text %>
    </div>

  </div>
</div>

</body>
</html>