<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:shared_assistant, @info] do |f| %>
    <% if @info.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@info.errors.count, "error") %> prohibited this info from being saved:</h2>

          <ul>
            <% @info.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :person_type,"Tipo de persona", :class=>"control-label" %><br>
              <%= f.select(:person_type, options_for_select(['Física','Moral']), {  }, { :class => "selectpicker form-control"}) %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :business_name,"Razón social", :class=>"control-label" %><br>
      <%= f.text_field :business_name, :class => "form-control input-lg required" %>
    </div>
    </div>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :rfc,"RFC", :class=>"control-label" %><br>
      <%= f.text_field :rfc, :class => "form-control input-lg required" %>
    </div>
      </div>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :address,"Dirección fiscal", :class=>"control-label" %><br>
              <%= f.text_field :address, :class => "form-control input-lg required"  %>
            </div>
          </div>


          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :locality,"Localidad", :class=>"control-label" %><br>
              <%= f.text_field :locality, :class => "form-control input-lg required"  %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :ext_number,"Númer exterior", :class=>"control-label" %><br>
              <%= f.text_field :ext_number, :class => "form-control input-lg required"  %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :int_number,"Número interior", :class=>"control-label" %><br>
              <%= f.text_field :int_number, :class => "form-control input-lg required"  %>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :zip,"Código postal", :class=>"control-label" %><br>
              <%= f.text_field :zip, :class => "form-control input-lg required"  %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :suburb,"Colonia", :class=>"control-label" %><br>
              <%= f.text_field :suburb, :class => "form-control input-lg required"  %>
            </div>
          </div>
          <div class="col-md-4">
            <%
              city_id = ""
              if @info.city.nil?
                name = ""
              else
                name = @info.city.format_city_state_and_country
                city_id = @info.city.id
              end
            %>
            <div class="form-group fg-line">
              <%= f.label :city_id,"Ciudad", :class=>"control-label bold" %><br>
              <%=  f.text_field :city_id, :city => city_id, :autocomplete => "off" , :value => name, :class=>"form-control input-lg search-city required", :id=>"admin_doctor_city_id",:placeholder => "Seleccione una ciudad" %>
            </div>
          </div>
          <div class=" col-md-6 col-xs-12">
            <% if @info.id == nil %>
                <%
                  doctors_id = ""
                  assistant = Assistant.find(session[:assistant_id])
                  assistant.doctors.each do |doc|
                    doctors_id += doc.id.to_s + ","
                  end
                  doctors_id = doctors_id.chop
                %>
                Doctor
                <%= select_tag("general_fiscal_info[doctor_id]", options_for_select(Doctor.where("doctors.id in (#{doctors_id})").map{|pa| [pa.name+ " " + pa.last_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
            <% end %>
          </div>
    </div></div></div>
    <div class="col-md-6 col-xs-12">

</div>
<div class="col-md-6 col-xs-12">
  <span class="col-md-3 col-xs-12"></span>
  <a href="<%= shared_assistant_general_fiscal_infos_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
  <span class="col-md-1 col-xs-12"></span>
  <button type="submit" class="btn btn-primary col-md-4 col-xs-12" id="submit_new_info"><%= @text_button %></button>
</div>
      <% end %>