<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2 class="page_title">Lista de datos fiscales</h2>
        </div>
      </div>
      <div class="col-xs-6">
    <%= link_to 'Agregar', new_shared_assistant_general_fiscal_info_path, class: "pull-right btn bgm-green waves-effect" %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-general_fiscal_info" class="table table-striped" data-source="<%= shared_assistant_general_fiscal_infos_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id = "business_name">Razón social</th>
    <th data-column-id = "rfc">RFC</th>
    <th data-column-id = "doctor">Doctor</th>
    <th data-column-id = "city">Ciudad</th>
    <th data-column-id = "zip">Código postal</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
</div></div></div></div>


<%= hidden_field_tag 'url_show_contact', url_for(:controller => 'shared_assistant/general_fiscal_infos', :action => 'get_fiscal_data', :only_path => false) %>

<div class="modal fade" id="show_data_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <h4 class="modal-title" id="data_modal_title"><label id="o_name"></label></h4>
      </div>
      <div class="modal-body">
        <div class="form-group fg-line">
          <div class="row" style="font-size: 14px">
            <div class="col-xs-12">
              <label class="control-label">Razón social</label>:
              <label id="o_business_name"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">RFC</label>:
              <label id="o_rfc"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Dirección</label>:
              <label id="o_address"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Localidad</label>:
              <label id="o_locality"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Número exterior</label>:
              <label id="o_ext_number"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Número interior</label>:
              <label id="o_int_number"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Código postal</label>:
              <label id="o_zip"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Colonia</label>:
              <label id="o_suburb"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Ciudad</label>:
              <label id="o_city"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

