<%= form_for [:doctor, @office],html: {multipart: true} do |f| %>

<div class="card">
  <div class="card-body card-padding">
    <div class="">

    <% if @office.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@office.errors.count, "error") %> prohibited this office from being saved:</h2>

          <ul>
            <% @office.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

      <%= f.hidden_field :lat %>
      <%= f.hidden_field :lng %>

      <div class="row">
        <div class="col-xs-6" style="padding-top: 10px;">
            <%= f.label :hospital_id ,"Hospital", :class=>"control-label bold" %><br>
            <%= f.select(:hospital_id, Hospital.all.collect {|c| [c.name, c.id]}, {  }, { :class => "selectpicker form-control", 'data-live-search' => 'true'}) %>
        </div>

        <div class="col-xs-6">
          <div class="form-group fg-line">
            <%= f.label :name ,"Nombre", :class=>"control-label bold" %><br>
            <%= f.text_field :name, :class => "form-control input-lg required", :placeholder => "Nombre" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group fg-line">
            <%= f.label :address, "Dirección",:class=>"control-label bold" %><br>
            <%= f.text_field :address, :class => "form-control input-lg required", :placeholder => "Dirección" %>
          </div>
        </div>
        <%
          city_id = ""
          if @office.city.nil?
            name = ""
          else
            name = @office.city.format_city_state_and_country
            city_id = @office.city.id
          end
        %>
        <div class="col-md-6">
          <div class="form-group fg-line">
            <%= f.label :city,"Ciudad" , :for => "", :class=>"control-label bold" %><br>
            <%= f.text_field :city_id, :city => city_id, :autocomplete => "off" , :value => name, :class=>"form-control input-lg search-city ", :id=>"client_office_city_id",:placeholder => "Ciudad" %>
          </div>
          <div style="display: none;">
            <input type="text" id="PreventChromeAutocomplete" name="PreventChromeAutocomplete" autocomplete="address-level4" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group fg-line">
            <%= f.label :telephone,"Teléfono", :class=>"control-label bold" %><br>
            <%= f.text_field :telephone, :class => "form-control input-lg required",:minlength=>"10",
                             :maxlength=>"50", :placeholder => "Teléfono"  %>
          </div>
        </div>

          <div class="col-xs-3">
            <div class="form-group fg-line">
              <%= f.label :consult_duration,"Duración de la Consulta" , :for => "", :class=>"control-label bold" %><br>
              <%= f.select :consult_duration, [20,30,45,60], {:include_blank => false}, {:class => "selectpicker"}  %>&nbsp; Minutos
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group fg-line">
              <%= f.label :folio,"Folio de inicio para recetas" , :for => "", :class=>"control-label bold" %><br>
              <%= f.number_field :folio, {:class => "form-control"}  %>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="map_holder">
              <div>
                <div class="row">
                  <div class="col-xs-10">
                    <h3>Establecer ubicación del consultorio:</h3>
                  </div>
                  <div class="col-xs-2">
                    <h3 style="text-align: right; cursor: pointer; color:#7c7c7c;" title="No deseo mostrar la ubicación" onclick="dontSetLocationToOffice();">&times;</h3>
                  </div>
                </div>
              </div>
              <div id="map" style="height: 400px;"></div>
            </div>
          </div>

          <div class="col-md-6" style="text-align: center">
            <div class="fileinput <%= (!@office.logo_identifier.nil?)? "fileinput-exists" : "fileinput-new" %> " data-provides="fileinput" id="file_logo">
              <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                <% if !@office.logo_identifier.nil? %>
                    <img src = "<%= image_url(download_image_doctor_offices_path(@office)) %>">
                <% end %>
              </div>
              <div>
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new">Subir logo</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                      <%= f.file_field :logo,accept: 'image/png,image/gif,image/jpeg', class: '' , placeholder: ''%>
                                    </span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Eliminar</a>
              </div>
            </div>
          </div>


      </div>

      <input type="hidden" id="office_id" value="<%= @office != nil ? @office.id : "" %>">


    </div></div></div>

    <div class="card">
      <div class="card-body card-padding">
        <div class="row">

          <div class="col-xs-12 block-header">
            <h2>Horarios
            </h2>
          </div>

          <% if @office.id != nil %>
          <div class="col-xs-12">
            <div class="checkbox m-b-10">
              <label>
                <input class="" type="checkbox" id="schedule_changes">
                <i class="input-helper"></i><strong> Hacer cambios en mi horario</strong>
              </label>
            </div>
          </div>
          <% end %>

          <div>
            <% Day.week_days.each do |k,v| %>
                <div class="col-md-2 col-xs-12">
                  <div class="checkbox m-b-10">
                    <label>
                      <input class="day_select" type="checkbox" value="<%= k %>" id="check_day_<%= k %>" <%= schedule_has_day(@office,k) ? "checked":""  %>>
                      <i class="input-helper"></i> <%= v %>
                    </label>
                  </div>
                </div>
            <% end %>
          </div>

          <div class="col-xs-12">
            <hr>
          </div>

          <div style="font-size: 18px;">
            <% Day.week_days.each do |k,v|
              office_schedules = schedule_by_day(@office,k)
            %>
                <div class="col-xs-12 day_schedule" id="day_<%= k %>" style="<%= schedule_has_day(@office,k) ? "":"display: none;"  %>">
                  <div class="col-xs-2" style="padding-top: 15px; text-align: right;"><%= v %>  <i onclick="addScheduleByDay(<%= k %>)" class="zmdi zmdi-plus-circle add-schedule-btn"></i></div>
                  <div class="col-xs-10">
                      <div class="row hours">
                        <% if office_schedules.length == 0 %>
                            <div>
                              <div class="col-xs-4 time-input-holder">
                                <div class="input-group form-group">
                                  <span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
                                  <div class="dtp-container fg-line">
                                    <input type="text" class="form-control time-picker input-lg start-time" placeholder="H. Inicial">
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-4 time-input-holder">
                                <div class="input-group form-group">
                                  <span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
                                  <div class="dtp-container fg-line">
                                    <input type="text" class="form-control time-picker input-lg end-time" placeholder="H. Final">
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-4 time-input-holder"></div>
                            </div>
                        <% else %>
                            <% first_time = true; %>
                            <% office_schedules.each do |s| %>
                                <div>
                                  <div class="col-xs-4 time-input-holder">
                                    <div class="input-group form-group">
                                      <span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
                                      <div class="dtp-container fg-line">
                                        <input type="text" class="form-control time-picker input-lg start-time" placeholder="H. Inicial" value="<%= s.start.strftime("%I:%M %p") %>">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-4 time-input-holder">
                                    <div class="input-group form-group">
                                      <span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
                                      <div class="dtp-container fg-line">
                                        <input type="text" class="form-control time-picker input-lg end-time" placeholder="H. Final" value="<%= s.end.strftime("%I:%M %p") %>">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-4 time-input-holder">
                                    <% if !first_time %>
                                        <i class="zmdi zmdi-delete delete-schedule-btn"></i>
                                    <% end %>
                                  </div>
                                </div>
                                <% first_time = false %>
                            <% end %>
                        <% end %>
                      </div>
                  </div>
                </div>
            <% end %>
          </div>

          <div class="col-xs-12" style="font-size: 14px;">
            <div class="alert alert-danger alert-dismissible" role="alert" id="schedule_errors" style="display: none">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div id="schedule_errors_msg"></div>
              <div id="text_errors_msg"></div>
            </div>
            <hr>

          </div>




        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">
      <span class="col-md-3 col-xs-12"></span>
      <a href="<%= doctor_offices_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
      <span class="col-md-1 col-xs-12"></span>
      <a class="btn btn-primary col-md-4 col-xs-12" id="save_schedule">Guardar</a>
    </div>
<% end %>

<%= javascript_include_tag 'doctor/offices_map' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_KEY'] %>&signed_in=true&callback=initMap"
        async defer>
</script>


<%= hidden_field_tag 'url_doctor_offices', doctor_offices_url %>
