<p id="notice"><%= notice %></p>
  <div class="card">
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-xs-6">
          <div class="card-header">
            <h2 class="page_title">Lista de Consultorios</h2>
          </div>
        </div>

        <div class="col-xs-6">
          <% if can? :office_manage, Office %>
              <%= link_to 'Asignacion de consultorios', office_manage_doctor_offices_path, class: "pull-left btn bgm-blue waves-effect" %>
              <% end %>
                  <% if can? :new, Office %>
          <%= link_to 'Agregar', new_doctor_office_path, class: "pull-right btn bgm-green waves-effect" %>
                      <% end %>
        </div>
        <div class="col-xs-12">

  <table id="data-table-office" class="table table-striped" data-source="<%= doctor_offices_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Office %>"
         data-can-manage="<%= can? :manage, Office %>"
         data-can-show="<%= can? :show, Office %>"
         data-can-delete="<%= can? :destroy, Office %>">
  <thead>
  <tr>
    <th data-column-id = "name" >NOMBRE</th>
    <th data-column-id = "address">DIRECCIÓN</th>
    <th data-column-id = "telephone" >TELÉFONO</th>
    <th data-column-id = "time" >TIEMPO CONSULTA</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
</div></div></div></div>

<%= hidden_field_tag 'url_show_office', url_for(:controller => 'doctor/offices', :action => 'get_office_data', :only_path => false) %>

<div class="modal fade" id="show_office_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <h4 class="modal-title" id="add_vaccinate_date_modal_title"><label id="o_name"></label></h4>
      </div>
      <div class="modal-body">
        <div class="form-group fg-line">
          <div class="row" style="font-size: 14px">
            <div class="col-md-12 col-xs-12">
              <label class="control-label">Hospital</label>:
              <label id="o_hospital"></label>
            </div>
            <div class="col-md-12 col-xs-12">
              <label class="control-label">Tel&eacute;fono</label>:
              <label id="o_telephone"></label>
            </div>
            <div class="col-md-12 col-xs-12">
              <label class="control-label">Duraci&oacute;n de consulta</label>:
              <label id="o_duration"></label> Minutos
            </div>
            <div class="col-md-12 col-xs-12">
              <label class="control-label">Ciudad</label>:
              <label id="o_city"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Direcci&oacute;n</label>:
              <label id="o_address"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Folio</label>:
              <label id="o_folio"></label>
            </div>
          </div>
          <div class="row">
            <div style="text-align: center;font-size: 16px"><strong>Horarios</strong></div>
            <div id="table_times"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="newTemplate" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Plantilla para la receta</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="url_add_template" value="<%= selected_prescription_doctor_offices_path %>"/>
       <div class="row">
          <label class="col-md-4">Seleccione una plantilla:</label>
        </div>
        <div class="row">
          <div class="cc-selector-2">
            <div class="col-md-4">
              <strong><%= TemplatePrescription.first.name %></strong>
              <input checked="checked" id="template_a" type="radio" name="templates" value="<%= TemplatePrescription.first.id %>" />
              <label class="drinkcard-cc template_a" for="template_a" style="background-size: 21em 16em; background-image:url(<%= image_path("prescription_a.png")%>)"></label>
            </div>
            <div class="col-md-4">
              <strong><%= TemplatePrescription.second.name %></strong>
              <input   id="template_b" type="radio" name="templates" value="<%= TemplatePrescription.second.id %>" />
              <div class="row">
                <label class="drinkcard-cc template_b"for="template_b" style="background-size: 18em 22em; background-image:url(<%= image_path("prescription_b.png")%>)"></label>
              </div>
            </div>
            <div class="col-md-4">
              <strong><%= TemplatePrescription.third.name %></strong>
              <input   id="template_c" type="radio" name="templates" value="<%= TemplatePrescription.third.id %>" />
              <label class="drinkcard-cc template_b"for="template_c" style="background-size: 21em 28em; background-image:url(<%= image_path("prescription_c.png")%>)"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <div class="col-md-6 text-left">

          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn btn-link" id="btn-save-office-template">Guardar</button>
            <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>