<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2 class="page_title">Plantilla de recetas por consultorio</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <a data-toggle="modal" href="#newTemplate" class="pull-right btn bgm-green waves-effect" id="btn-new-consultation">Seleccionar plantilla</a>
      </div>
      <div class="col-xs-12">

        <table id="data-template-prescription" class="table table-striped" data-source="<%= doctor_offices_url(format: "json")%>">
          <thead>
          <tr>
            <th data-column-id = "office" >CONSULTORIO</th>
            <th data-column-id = "template">PLANTILLA</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
          </tr>
          </thead>
          <% @offices_has_template.each do |office| %>
            <tr>
              <td><%= office.name %></td>
              <td><%= office.template_prescription.name %></td>
              <td><%= delete_prescription_doctor_offices_path(office,format: :json) %></td>
            </tr>
          <% end %>
          <tbody>

          </tbody>
        </table>
      </div></div></div></div>


<div class="modal fade" data-backdrop="static" data-keyboard="false" id="newTemplate" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Plantilla para la receta</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="url_add_template" value="<%= selected_prescription_doctor_offices_path %>"/>
        <div class="row">
          <label class="col-md-2">Consultorio:</label>
          <div class="col-md-10">
            <% selected = (@offices_not_template.size == 1)? @offices_not_template.first.id.to_s : ""%>
            <%= select_tag :office, options_from_collection_for_select(@offices_not_template, :id, :name, selected),{:class => "selectpicker form-control", include_blank: "Seleccione un Consultorio"} %>
          </div>
        </div>

        <div class="row">
          <label class="col-md-4">Seleccione una plantilla:</label>
        </div>
        <div class="row">
          <div class="cc-selector-2">
          <div class="col-md-4">
            <strong><%= TemplatePrescription.first.name %></strong>
            <input checked="checked" id="template_a" type="radio" name="templates" value="<%= TemplatePrescription.first.id %>" />
            <label class="drinkcard-cc template_a" for="template_a" style="background-size: 21em 16em; background-image:url(<%= image_path("prescription_a.png")%>)"></label>
          </div>
          <div class="col-md-4">
            <strong><%= TemplatePrescription.second.name %></strong>
            <input   id="template_b" type="radio" name="templates" value="<%= TemplatePrescription.second.id %>" />
            <div class="row">
              <label class="drinkcard-cc template_b"for="template_b" style="background-size: 18em 22em; background-image:url(<%= image_path("prescription_b.png")%>)"></label>
            </div>
          </div>
          <div class="col-md-4">
            <strong><%= TemplatePrescription.third.name %></strong>
            <input   id="template_c" type="radio" name="templates" value="<%= TemplatePrescription.third.id %>" />
            <label class="drinkcard-cc template_b"for="template_c" style="background-size: 21em 28em; background-image:url(<%= image_path("prescription_c.png")%>)"></label>
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <div class="col-md-6 text-left">
            <div id="error_explanation">
              <ul>
                <li>Seleccione un consultorio</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn btn-link" id="btn-save-template">Guardar</button>
            <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>