<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @office.address %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @office.telephone %>
</p>

<p>
  <% @office.office_times.each do |ot| %>
  <%= Day.week_days[ot.day] %> <%= ot.start %> - <%= ot.end %> <br>
  <% end %>

</p>

<%= link_to 'Edit', edit_doctor_office_path(@office) %> |
<%= link_to 'Back', doctor_offices_path %>
