<div class="card">
  <div class="card-body card-padding">
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-header" style="text-align: center">
            <h1>Surtido de medicamentos</h1>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="new_purchase_section">
            Datos del surtido
          </div>
        </div>
        <div class="col-md-12" style="padding: 5px;"></div>
        <div class="col-xs-4">
          <div class="  ">
            <strong style="color: red">*</strong><strong> Amisiones hospitalarias activas</strong>
            <%= select_tag("hospital_admission", options_for_select(HospitalAdmission.where("is_closed = 0").map{|pa| [pa.patient.full_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> Almacen</strong>
            <%= select_tag("warehouse", options_for_select(current_user.warehouses.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong style="color: red">*</strong><strong> Folio</strong>
            <input type="number" class="form-control input-lg" id="folio" readonly>
          </div>
        </div>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_purchase_section">
            Lista de articulos
          </div>
          <!---->
          <div style="padding-top: 15px">
          <div class="col-xs-5">
            <strong >Medicamento o artículo:</strong> <br>
            <input type="text" id="item_medicament" autocomplete="off"
                   name="item_medicament"
                   class="form-control  "
                   placeholder="Escriba el nombre del medicamento para comenzar a buscar...">
          </div>
          <div class="col-xs-2">
            <strong >Cantidad:</strong> <br>
            <input type="number" class="form-control input-lg" id="item_quantity" >
          </div>
          <div class="col-xs-3" style="padding-top: 10px;">
          <div id="current_lot_div">
              <strong >Lote:</strong> <br>
              <select name="lot" id="lot" class="selectpicker form-control bs-select-hidden" data-live-search="true"></select>
            </div>
          </div>
          <div class="col-xs-2" style="padding-top: 25px;"     >
            <a  onclick='add_item_to_table()'  class="btn bgm-green btn-icon waves-effect waves-circle waves-float btn-show" title="Agregar" ><i class="zmdi zmdi-plus-circle-o zmdi-hc-fw"  title="Agregar"></i></a>
          </div>
          </div>
        </div>




        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_pharmacy_item" class="col-xs-12">

          <table id="pharmacy_items" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Cantidad</th>
              <th width="15%" style="text-align: center">Artículo</th>
              <th width="15%" style="text-align: center">Lote (si aplica)</th>
              <th width="10%" style="text-align: center"></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <div id="loading_image_open">
    </div>
    <div class="col-md-4">
      <label>Los campos con <strong style="color: red">*</strong>  son obligatorios</label>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" id="stamp_open_invoice_btn" onclick="save_assortment()">Guardar</button>
      <a href="<%= cli_medicament_assortments_path %>" class="btn btn-danger">Atrás</a>
    </div>


  </div>
</div>

<%= hidden_field_tag 'url_get_save_assortment', url_for(:controller => 'cli/medicament_assortments', :action => 'save_assortment', :only_path => false) %>
<%= hidden_field_tag 'url_get_lot', url_for(:controller => 'cli/medicament_assortments', :action => 'get_lot', :only_path => false) %>
<%= hidden_field_tag 'url_get_last_folio', url_for(:controller => 'cli/medicament_assortments', :action => 'get_last_folio', :only_path => false) %>
<%= hidden_field_tag 'url_check_quantity_waste', url_for(:controller => 'cli/medicament_wastes', :action => 'check_quantity', :only_path => false) %>
<%= hidden_field_tag 'url_get_item_cost', url_for(:controller => 'cli/medicament_assortments', :action => 'get_item_cost', :only_path => false) %>
<%= hidden_field_tag 'url_check_quantity_waste_pharmacy', url_for(:controller => 'cli/medicament_wastes', :action => 'check_quantity_pharmacy', :only_path => false) %>
<%= hidden_field_tag 'url_find_medicaments_pharmacy_items', medicaments_pharmacy_items_autocompletes_url %>
<div class="modal fade" id="add_pharmacy_item_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Agregar artículo</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">
              <br>
              <div class="col-xs-12">
                <strong >Articulo:</strong> <br>
                <input type="text" id="item_pharmacy" autocomplete="off"
                       name="item_pharmacy"
                       class="form-control  search-pharmacy-item"
                       placeholder="Escriba el nombre del artículo para comenzar a buscar...">
              </div>
              <div class="col-xs-6">
                <strong >Cantidad:</strong> <br>
                <input type="number" class="form-control input-lg" id="item_pharmacy_quantity" >
              </div>
              <div class="col-xs-6">
                <strong >Precio:</strong> <br>
                <input type="number" class="form-control input-lg" id="item_pharmacy_price" readonly >
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="add_transaction_btn" onclick="add_pharmact_item_to_table()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_medicament_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Agregar medicamento</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">
              <br>
              <div class="col-xs-12">
                <strong >Medicamento:</strong> <br>
                <input type="text" id="item_medicament" autocomplete="off"
                       name="item_medicament"
                       class="form-control  "
                       placeholder="Escriba el nombre del medicamento para comenzar a buscar...">
              </div>
              <div class="col-xs-6">
                <strong >Cantidad:</strong> <br>
                <input type="number" class="form-control input-lg" id="item_quantity" >
              </div>
              <div class="col-xs-6">
                <strong >Precio:</strong> <br>
                <input type="number" class="form-control input-lg" id="item_price" readonly >
              </div>
              <div id="current_lot_div">
              <div class="col-xs-12" style="padding-top: 10px;">
                <strong >Lote:</strong> <br>
                <select name="lot" id="lot" class="selectpicker form-control bs-select-hidden" data-live-search="true"></select>
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="add_transaction_btn" onclick="add_medicament_to_table()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>






