<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de Surtido de medicamentos</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, MedicamentAssortment %>
          <%= link_to 'Agregar', new_cli_medicament_assortment_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-medicament_assortments" class="table table-striped" data-source="<%= cli_medicament_assortments_url(format: "json")%>"
         data-can-show="<%= can? :show, MedicamentAssortment %>">
  <thead>
  <tr>
    <th data-column-id="patient">Paciente</th>
    <th data-column-id="warehouse">Almancen seleccionado</th>
    <th data-column-id="date">Fecha</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
