<div class="card">
  <div class="card-body card-padding">
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-header" style="text-align: center">
            <h1>Surtido de medicamentos  y artículos de farmacia</h1>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="new_purchase_section">
            Datos del surtido
          </div>
        </div>
        <div class="col-md-12" style="padding: 5px;"></div>
        <div class="col-xs-6">
          <div class="  ">
            <strong style="color: red"></strong><strong> Paciente: </strong>
            <%= @medicament_assortment.hospital_admission.patient.full_name %><br>
            <strong style="color: red"></strong><strong> Almacen: </strong>
            <%= @medicament_assortment.warehouse.name %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong style="color: red"></strong><strong>Folio: </strong>
            <%= @medicament_assortment.folio %><br>
            <strong style="color: red"></strong><strong> Fecha: </strong>
            <%= @medicament_assortment.created_at.strftime("%d/%m/%Y") %><br>
          </div>
        </div>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_purchase_section">
            Medicamentos
          </div>
        </div>

        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_concepts_open" class="col-xs-12">

          <table id="medicaments_items" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Cantidad</th>
              <th width="15%" style="text-align: center">Medicamento</th>
              <th width="30%" style="text-align: center">Lote</th>
              <th width="10%" style="text-align: center"></th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <%  @medicament_assortment.medicament_assortment_items.each do |ic| %>
                <tr id="medicament_purchase_item_<%= ic.id %>">
                  <td ><%= ic.quantity %></td>
                  <td ><%= ic.medicament.comercial_name %></td>
                  <td ><%= ic.lot.name %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_purchase_section">
            Articulos de farmacia
          </div>
        </div>

        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_pharmacy_item" class="col-xs-12">

          <table id="pharmacy_items" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Cantidad</th>
              <th width="15%" style="text-align: center">Artículo</th>
              <th width="10%" style="text-align: center"></th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <%  @medicament_assortment.assortment_pharmacy_items.each do |ic| %>
                <tr id="medicament_purchase_item_<%= ic.id %>">
                  <td ><%= ic.quantity %></td>
                  <td ><%= ic.pharmacy_item.description + "(" + ic.pharmacy_item.code + ")" %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <div id="loading_image_open">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
      <a href="<%= cli_medicament_assortments_path %>" class="btn btn-danger">Atrás</a>
    </div>


  </div>
</div>

