<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:cli, @hospital_service] do |f| %>
    <% if @hospital_service.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@hospital_service.errors.count, "error") %> prohibited this attention type from being saved:</h2>

          <ul>
            <% @hospital_service.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :code,'Código', :class=>"control-label" %><br>
              <%= f.text_field :code, :class => "form-control input-lg", :placeholder => "Código" %>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :name,'Nombre', :class=>"control-label" %><br>
      <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Nombre" %>
    </div>
    </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :cost,'Costo', :class=>"control-label" %><br>
              <%= f.text_field :cost, :class => "form-control input-lg", :placeholder => "Ingrese el costo sugerido" %>
            </div>
          </div>
          <div class="checkbox col-md-6">
            <label>
              <input type="checkbox"  name="is_fixed_cost" id="is_fixed_cost" <%= @hospital_service.is_fixed_cost ? 'checked': '' %>>
              <i class="input-helper"></i>
              <strong class="font_size_medical_history">¿Permitir costo variable?</strong>
            </label>
          </div>
          <div class="col-xs-12"></div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <%= f.label :hospital_service_category_id,'Categoría', :class=>"control-label" %><br>
              <%= f.select :hospital_service_category_id, HospitalServiceCategory.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control",'data-live-search' => 'true'}  %>
            </div>
          </div>
          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= cli_hospital_services_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
<% end %>
