<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <%= render '/messages' %>
      <div class="col-md-6">
        <h4 class="page_title">Servicios hospitalarios</h4>
      </div>
      <div class="col-md-6">
        <% if can? :new, HospitalService %>
            <%= link_to 'Agregar', new_cli_hospital_service_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
      </div>
      <div class="col-md-12">
        <div class="datatable_custom bootgrid-header">
          <table id="data-table-hospital_services" class="table table-striped table-condensed table-custom" data-source="<%= cli_hospital_services_url(format: "json") %>"
                 data-can-edit="<%= can? :edit, HospitalService %>"
                 data-can-delete="<%= can? :destroy, HospitalService %>">
            <thead>
            <tr>
              <th data-column-id="code">Código</th>
              <th data-column-id="name">Nombre</th>
              <th data-column-id="cost">Costo</th>
              <th data-column-id="category">Categoría</th>
              <th data-column-id="is_fixed_cost">¿Costo variable?</th>
              <th data-column-id="commands">Operaciones</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>