<div class="card">
  <div class="card-body card-padding">
    <h4>Lista de servicios</h4>

      <div class="row">
        <div class="col-md-2">
          <strong>Fecha inicio</strong>
          <input class="w-100 date-picker" value="" type="text" name="start_date" id="start_date" aria-required="true" aria-invalid="false">
        </div>
        <div class="col-md-2">
          <strong>Fecha fin</strong>
          <input class="w-100 date-picker" value="" type="text" name="end_date" id="end_date" aria-required="true" aria-invalid="false">
        </div>
        <div class="col-md-2">
          <strong>Servicio</strong>
          <% hospital_service = HospitalService.all %>
          <select class="selectpicker form-control" id="hospital_service_id" data-live-search="true">
            <option value="">Seleccione un servicio</option>
            <% hospital_service.each do |hs| %>
            <option value="<%= hs.id %>"><%= hs.name %></option>
            <% end %>
          </select>
        </div>
        <div class="col-md-2">
          <strong>Código</strong>
          <input class="w-100" value="" type="text" id="code" aria-required="true" aria-invalid="false">
        </div>
        <div class="col-md-4">
          <a class="btn btn-primary" onclick="search_services()">Buscar</a>
            <a class="btn btn-success" onclick="export_excel()">Excel</a>
            <a class="btn btn-danger" onclick="export_pdf()">Pdf</a>
        </div>

      </div>


    <div id="services_table"></div>

  </div>


</div>

<%= hidden_field_tag 'url_search_services', url_for(:controller => 'cli/hospital_services', :action => 'search_services', :only_path => false) %>
<%= hidden_field_tag 'url_export_services', url_for(:controller => 'cli/hospital_services', :action => 'export_services', :only_path => false, :format => 'xlsx') %>
<%= hidden_field_tag 'url_print_services_report', report_services_pdfs_path %>

