
<div id="email_doctor_holder" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;color: #585858;background: #CEECF5;">

  <div id="header_email_doctor" style="margin-bottom: 30px;text-align: center;">
    <br><br>
    <img style="width:300px;" src="http://medsi.com.mx/email_logo.png">
  </div>

  <div id="content_email_doctor">


    <table style="width:100%">
      <tr>
        <td style="width:20%"></td>
        <td style="width:60%">

            <div style="background: white;text-align: center;padding: 20px;border-radius: 25px;">
              <strong style="font-size: 20px;">
                Estimado doctor <%= @data['name'] %> <%= @data['last_name'] %>
              </strong>
              <div style="font-size: 15px;">
                <br><br>
                Gracias por su interés en Medsi, la plataforma tecnológica más completa de México.<br>
                Para completar su registro un colaborador le contactará en un plazo no mayor a 24 hrs.
                <br><br>
                <br>

                Medsi. Conectando tu salud.
              </div>
            </div>

        </td>
        <td style="width:20%"></td>
      </tr>
    </table>


  </div>

  <br>

  <div id="footer_email_doctor" style="background: #00bcd4;padding: 20px;text-align: center;color: white;">
    Copyright &copy; Todos los derechos reservados. Tech Systems | Innovation & Development
  </div>

  <div id="last_message" style="text-align: center;padding: 20px;font-size: 12px;">
    Para saber más de nosotros visite <a href="http://www.techsystems.com.mx/" target="_blank">http://www.techsystems.com.mx/</a>
  </div>

</div>