<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MEDSI</title>

  <%= stylesheet_link_tag 'application', params[:controller], :media => "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>
<div class="login-content">
  <!-- Login -->
  <div class="toggled" id="l-login">
    <div class="wrap">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><p style="font-family: 'Lato';"><%= message %></p></div>
      <% end %>
      <div style="padding: 10px;">
        <%= image_tag('img/login_logo.png', :width => '100%') %>
      </div>
      <%= form_for(:session, url: login_path, class: '') do |f| %>
          <div class="avatar">
            <img src="<%= image_path("MEDSI.gif") %>">
          </div>
          <%= f.text_field :email, class: '', placeholder:'Usuario', value: @username %>
          <div class="bar">
            <i></i>
          </div>
          <%= f.password_field :password, class: '', placeholder: 'Contrase&ntilde;a'.html_safe %>
          <div align="center" style="margin-top: 10px;">
            <ul class="login-navigation">
              <li data-block="#l-forget-password">
                <a href="#"  id="forget_pass_btn" class="" type="button">¿Olvidó su contraseña?</a>
              </li>
            </ul>
          </div>
          <label id="response_email_success"></label>
          <button type="submit" id="submit_login">Ingresar</button>
      <% end %>
    </div>
  </div>

  <!-- Forgot Password -->
  <div class="lc-block" id="l-forget-password">
    <div class="wrap">
      <p class="text-left" style="padding-top: 10px; margin-bottom: 10px;">Por favor ingrese su correo electronico con el cual fue registrado al sistema.</p>
      <p class="text-left" style="padding-top: 10px; margin-bottom: 10px;">Si no lo recuerda favor de ponerse en contacto con soporte tecnico.</p>

      <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
        <div class="fg-line">
          <input type="text" id ="user_email" class="" placeholder="Correo electronico">
        </div>
      </div>
      <label id="response_email_reset"></label>
      <div class="btn-group-wrap">
        <div class="btn-group" role="group" aria-label="">
          <ul class="login-navigation" style="">
            <li data-block="#l-login" style="margin-right: -8px;">
              <button class="btn btn-info" data-block="#l-login" id="return_reset_pass_btn" type="button">Regresar</button>&nbsp;&nbsp;
            </li>
          </ul>
        </div>
        <div class="btn-group" role="group" aria-label="">
          <button class="btn bgm-green waves-effect" id="send_email" onclick="send_password_mail()" type="button">Enviar</button>
        </div>
      </div>
    </div>
    <div align="center">
      <p><img src="<%= image_path("medsilogogde.png") %>" width="147" height="80"></p>
    </div>
  </div>
  <%= hidden_field_tag 'url_send_new_password', url_for(:controller => 'sessions', :action => 'send_password_mail', :only_path => false) %>
</div>
</body>
</html>


<%= hidden_field_tag 'url_autocomplete_cities', admin_search_city_url %>
<%= hidden_field_tag 'url_autocomplete_doctors', admin_search_doctor_url %>
<%= hidden_field_tag 'url_autocomplete_patients', find_patients_doctor_patients_url %>
<%= hidden_field_tag 'url_autocomplete_medical_histories', find_disease_doctor_medical_histories_url %>
<%= hidden_field_tag 'url_autocomplete_medicaments', find_medicament_admin_medicaments_url %>
<%= hidden_field_tag 'url_autocomplete_pharmacy_items', search_pharmacy_item_cli_pharmacy_items_url %>
<%= hidden_field_tag 'url_autocomplete_persons', find_person_admin_persons_url %>
<%= hidden_field_tag 'url_setCurrentOffice', set_current_office_doctor_offices_url %>