<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MEDSI::Conectando tu salud</title>

  <%= stylesheet_link_tag 'application', params[:controller], :media => "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>

<body class="login-content">
<!-- Login -->
<div class="lc-block toggled" id="l-login" style="width: 400px; margin-left: auto; margin-right: auto;   border-radius: 25px; margin-top: 100px;  background: rgba(255, 255, 255, 0.4);">
      <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        <div class="fg-line">
          <input type="password" name="password" id="password" class="form-control" placeholder="Nueva contraseña">
        </div>
      </div>

      <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        <div class="fg-line">
          <input type="password" name="repeat_password" id="repeat_password" class="form-control" placeholder="Repetir contraseña">
        </div>
      </div>

      <div class="clearfix"></div>

      <input type="hidden" id="user_id" value="22">
      <label id="email_reset_valid"></label>
      <button onclick="reset_password()"  class="btn bgm-blue waves-effect">Establecer nueva contraseña</button>

</div>

</body>
</html>

<%= hidden_field_tag 'url_reset_password', url_for(:controller => 'sessions', :action => 'reset_password', :only_path => false) %>
<%= hidden_field_tag 'reset_password', @user_info_required %>
<%= hidden_field_tag 'login_url', login_path %>



<%= hidden_field_tag 'url_autocomplete_cities', admin_search_city_url %>
<%= hidden_field_tag 'url_autocomplete_doctors', admin_search_doctor_url %>
<%= hidden_field_tag 'url_autocomplete_patients', find_patients_doctor_patients_url %>
<%= hidden_field_tag 'url_autocomplete_medical_histories', find_disease_doctor_medical_histories_url %>
<%= hidden_field_tag 'url_autocomplete_pharmacy_items', search_pharmacy_item_cli_pharmacy_items_url %>
<%= hidden_field_tag 'url_autocomplete_medicaments', find_medicament_admin_medicaments_url %>
<%= hidden_field_tag 'url_autocomplete_persons', find_person_admin_persons_url %>
<%= hidden_field_tag 'url_setCurrentOffice', set_current_office_doctor_offices_url %>