<h4>
  Estimado(a) <%= @activity.doctor.user.person.gender_id == Gender::MAN ? 'Dr.':'Dra.' %> <%= @activity.doctor.user.person.full_name %>.
</h4>

<br>

<div style="font-size: 18px;">
  Usted tiene una nueva cita.
  <br><br>
  Los detalles de la cita son:<br><br>

  <%
    days = ["Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"]
    months = ["","Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]
  %>

  <strong>Paciente: </strong> <%= @patient.full_name %><br>
  <strong>Consultorio: </strong> <%= @activity.offices.first.name %><br>
  <strong>Dirección: </strong> <%= @activity.offices.first.address %><br>
  <strong>Teléfono: </strong> <%= @activity.offices.first.telephone %><br>
  <strong>Fecha: </strong> <%= days[@activity.start_date.strftime('%w').to_i] %> <%= @activity.start_date.strftime('%d') %> de
  <%= months[@activity.start_date.strftime('%_m').to_i] %> de <%= @activity.start_date.strftime('%Y') %> a las <%= @activity.start_date.strftime('%l:%M %p') %>

  <br><br>

</div>
<hr>
<div>
  MEDSI<br>
  Conectando tu Salud
</div>
