<h2>Sustancias activas de <%= @medicament.comercial_name %></h2>
<input type="hidden" id="medicament_id" value="<%= @medicament.id %>">

<div class="card">
  <div class="card-body card-padding">
    <div class="row">

      <div class="col-xs-12 block-header">
        <h2>Sustancias activas</h2>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group fg-float">
            <div class="fg-line">
              <a data-toggle="modal" href="#addsubstancemodal" ><i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Agregar</a>
            </div><span class="input-group-addon"></span>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group fg-line">


          <table class="table">
            <thead>
            <th>Nombre</th>
            <th></th>
            </thead>
            <tbody>
            <%  @medicament.active_substances.each do |ic| %>
                <tr id="substance_<%= ic.id %>">
                  <td id="susbtance_name_<%= ic.id %>"><%= ic.name %></td>
                  <td>
                    <a data-toggle="modal" href="#deletesubstance" onclick="setupdeletesusbtance(<%= ic.id %>)"><i class="zmdi zmdi-delete" style='font-size: 1.73em;'></i></a>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div></div></div>
<div class="col-xs-6">

</div>
<div class="col-xs-6">
  <span class="col-xs-3"></span>

  <span class="col-xs-1"></span>
  <a href="<%= admin_medicaments_path %>" class="btn btn-danger col-xs-4">Atrás</a>
</div>

<div class="modal fade" id="addsubstancemodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_specialty_title">Agregar sustancia activa</h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-12">
          <strong>Sustancia activa</strong>
          <%= select_tag("active_substance", options_for_select(ActiveSubstance.all.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
        </div>
        <br>
      </div>
      <br>
      <div class="modal-footer">
        <br>
        <button type="button" class="btn btn-danger" id="add_specialty_btn" onClick="addSusbtance()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deletesubstance" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_specialty_title">Eliminar sustancia activa</h4>
      </div>
      <div class="modal-body">
        ¿Confirma que desea eliminar la sustancia activa del medicamento?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete_substance_btn" onClick="deleteSusbtance()">Eliminar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'url_add_substance', url_for(:controller => 'admin/medicaments', :action => 'add_substance', :only_path => false) %>
<%= hidden_field_tag 'url_delete_substance', url_for(:controller => 'admin/medicaments', :action => 'delete_substance', :only_path => false) %>