<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de Medicamentos</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, Medicament %>
          <%= link_to 'Agregar', new_admin_medicament_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
      </div>
      <div class="col-xs-12">
  <table id="data-table-medicament" class="table table-striped" data-source="<%= admin_medicaments_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Medicament %>"
         data-can-manage="<%= can? :active_substance, Medicament %>"
         data-can-delete="<%= can? :destroy, Medicament %>"
  >
  <thead>
  <tr>
    <th data-column-id="id">ID</th>
    <th data-column-id="comercial_name">NOMBRE COMERCIAL</th>
    <th data-column-id="category">CATEGORÍA</th>
    <th data-column-id="presentation">PRESENTACIÓN</th>
    <th data-column-id="active_substance">SUSTANCIA ACTIVA</th>
    <th data-column-id="contraindication">CONTRAINDICACIONES</th>
    <th data-column-id="brand">Laboratorio</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
