<h4 class="system_name">
  APARATO DIGESTIVO
</h4>

<%
  cols = DigestiveAp.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'description' => {
          :class => 'col-md-12',
          :label => 'DESCRIPCIÓN',
          :placeholder => 'Hábitos de comida, apetito, problemas para deglutir, pirosis, náuseas, vómitos, hematemesis, ritmo intestinal, color y tamaño de las heces, cambio del ritmo intestinal (estreñimiento, diarrea), dolor con la deposición, rectorragia o deposiciones negras o de color alquitrán (melena), hemorroides, dolor abdominal (localización, tipo, duración, relación con las comidas y drogas). Intolerancia a alimentos, eructación o ventosidades excesivas. Ictericia, problemas de hígado o de vesícula, hepatitis.'
      },
      'anorexia' => {
          :label => 'ANOREXIA, HIPOREXIA, HIPEROREXIA',
          :placeholder => '¿tiene últimamente más o menos apetito?'
      },
      'polidipsia' => {
          :label => 'POLIDIPSIA',
          :placeholder => '¿tiene más sed de lo habitual?'
      },
      'nauseas' => {
          :label => 'NÁUSEAS',
          :placeholder => '¿tiene ganas de vomitar?'
      },
      'vomitos' => {
          :label => 'VÓMITOS',
          :placeholder => '¿Ha vomitado? ¿Cuántas veces y desde cuándo? ¿Cómo son los vómitos? ¿Van precedidos de náuseas (por irritación) u ocurren de repente, sin previo aviso (centrales)? ¿Siente calmado su estómago tras vomitar?'
      },
      'dispepsia' => {
          :label => 'DISPEPSIA',
          :placeholder => '¿siente que hace mal la digestión, que es lenta o pesada?'
      },
      'disfagia' => {
          :label => 'DISFAGIA',
          :placeholder => '¿nota dificultad para tragar?'
      },
      'odinofagia' => {
          :label => 'ODINOFAGIA',
          :placeholder => '¿siente dolor al tragar?'
      },
      'rectorragia' => {
          :label => 'RECTORRAGIA',
          :placeholder => '¿aparece sangre roja al hacer de vientre?'
      },
      'melenas' => {
          :label => 'MELENAS',
          :placeholder => '¿al hacer de vientre le parece que sus heces son negras o como marrón oscuro?'
      },
      'abdominalgia' => {
          :label => 'ABDOMINALGIA',
          :placeholder => '¿tiene dolor en la tripa? ¿En qué zona? ¿Desde cuándo? ¿Empezó de forma brusca o ha sido poco a poco? ¿Es un dolor continuo o intermitente (que va y viene)? ¿Aumenta o se relaja tras las comidas? ¿Es difuso o lo puede señalar a punta de dedo? ¿Es de tipo urente, como ardor? ¿Aumenta con alguna postura, movimiento o maniobra? ¿Se irradia hacia alguna zona, aunque sea fuera del abdomen (escápula, hombro, lumbares, etc.)? ¿Ha padecido alguna vez el mismo dolor? ¿Y qué le diagnosticaron? Para saber la intensidad del dolor podemos preguntar: ¿le impide realizar su actividad diaria normal? ¿Le impide dormir?'
      },
      'pirosis' => {
          :label => 'PIROSIS',
          :placeholder => '¿siente un dolor de tipo quemazón o ardor?'
      },
      'hematemesis' => {
          :label => 'HEMATEMESIS',
          :placeholder => '¿ha vomitado sangre?'
      },
      'acolia' => {
          :label => 'ACOLIA',
          :placeholder => '¿nota sus heces demasiado claras al hacer de vientre?'
      },
      'meteorismo' => {
          :label => 'METEORISMO',
          :placeholder => '¿presenta flatulencias?'
      },
      'tenesmo' => {
          :label => 'TENESMO',
          :placeholder => 'tras hacer de vientre, ¿se siente insatisfecho? ¿Siente ganas de que no haya terminado y de que quiere hacer más, aunque no sale nada?'
      }
  }
%>

<script>
    var digestive_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var digestive_aps_url = "<%= doctor_digestive_aps_path %>";
</script>

<%
  records = @medical_history.digestive_aps
%>

<%= render partial: '/doctor/expedients/systems/form_section', locals: {:records => records,:form_config => form_config, :cols => cols} %>