<h4 class="system_name">
  APARATO RESPIRATORIO
</h4>


<%
  cols = RespiratoryAp.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'description' => {
          :class => 'col-md-12',
          :label => 'DESCRIPCIÓN',
          :placeholder => 'Historia de tos, esputo, (color, cantidad, volumen en 24 horas, tiempo del día), hemoptisis, dolor del pecho al respirar, fiebre, sudores nocturnos, dificultad para respirar, cianosis distal, (de labios y lechos ungueales). Sibilancias, ultima Rx de Tórax, historia de asma, bronquitis, enfisema, neumonía, tuberculosis.'
      },
      'cough' => {
          :label => 'TOS',
          :placeholder => '¿tiene tos? ¿Cuándo empezó? ¿Es seca o productiva? ¿Seguro que no es productiva, no se traga nada al toser? Y si es productiva… ¿cómo es? ¿De qué color? ¿Cuánta cantidad? ¿Se produce más en un una horario o posición determinada?'
      },
      'chest_pain' => {
          :label => 'DOLOR TORÁCICO',
          :placeholder => '¿le duele el pecho? ¿Desde cuándo? ¿En qué zona le duele, por delante o en un costado? ¿Y es la primera vez que le duele así? ¿Es un dolor de tipo pinchazo o de tipo opresivo, como si le estuvieran comprimiendo (algunos hacen el SIGNO DE LEVINE, con el puño cerrado, cuando es cardíaco)? ¿Se acompaña de angustia (cardíaco)? ¿Se acompaña de náuseas, vómito o sudoración (CORTEJO VEGETATIVO)? ¿Aumenta tras tragar (esofágico)? ¿Es de tipo difuso (interno) o lo puede señalar a punta de dedo (mecánico)? ¿Se ha dado algún golpe o ha hecho alguna maniobra brusca? ¿Aumenta al realizar algún esfuerzo (cardíaco)? ¿Aumenta con el estrés, la tristeza o una gran preocupación (cardíaco)? ¿Aumenta con alguna postura (mecánico)? ¿Aumenta con la inspiración profunda (respiratorio)? ¿Se calma al apoyarse o tumbarse sobre el lado que me duele (pleurítico)? ¿Disminuye al agacharse (pericárdico)? ¿Es un dolor intensísimo y desgarrador localizado entre? ¿Escápulas (disección aórtica)?'
      },
      'dyspnoea' => {
          :label => 'DISNEA',
          :placeholder => '¿tiene usted la sensación de que le falta el aire? Es mucho mejor realizar esta pregunta y no “¿se fatiga usted?”, ya que muchos pacientes confunden fatiga con cansancio (astenia). ¿Cuándo nota usted sensación de falta de aire, al subir escaleras (grado II), al hacer pequeños esfuerzos como caminar un poco (grado III) o incluso en reposo (grado IV de la NYHA)? ¿Y esta sensación de falta de aire la tenía habitualmente o ha aumentado en estos últimos días u horas? ¿Esta sensación de falta de aire, ¿ha aparecido bruscamente (TEP) o poco a poco (descompensación INSUF. CARDÍACA)?'
      },
      'hemoptisis' => {
          :label => 'HEMOPTISIS',
          :placeholder => '¿expectora algo rojo o naranja al toser, como con burbujitas?'
      },
      'epistaxis' => {
          :label => 'EPÍSTAXIS',
          :placeholder => '¿sangra por la nariz?'
      },
      'cyanosis' => {
          :label => 'CIANOSIS',
          :placeholder => '¿se ha notado alguna vez azul, especialmente en manos, pies o alrededor de los labios?'
      }
  }
%>

<script>
    var respiratory_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var respiratory_aps_url = "<%= doctor_respiratory_aps_path %>";
</script>

<%
  records = @medical_history.respiratory_aps
%>

<%= render partial: '/doctor/expedients/systems/form_section', locals: {:records => records, :form_config => form_config, :cols => cols} %>