<h4 class="system_name">
  APARATO URINARIO
</h4>


<%
  cols = UrinaryAp.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'description' => {
          :class => 'col-md-12',
          :label => 'DESCRIPCIÓN',
          :placeholder => 'Frecuencia de la micción, poliuria, nicturia, polaquiuria, ardor o dolor al orinar, hematuria, infecciones de orina, dolor en los riñones o flanco, cálculos en el riñón, cólico ureteral, dolor supra púbico, incontinencia. Entre los varones: disminución del calibre o fuerza del chorro urinario, goteo.'
      },
      'disuria' => {
          :label => 'DISURIA',
            :placeholder => '¿tiene escozor al orinar?'
      },
      'polaquiuria' => {
          :label => 'POLAQUIURIA',
          :placeholder => '¿está orinando con mucha frecuencia últimamente? No confundir con orinar grandes cantidades (poliuria).'
      },
      'incontinencia' => {
          :label => 'INCONTINENCIA',
          :placeholder => '¿tiene pérdidas incontroladas de orina?'
      },
      'poliuria' => {
          :label => 'POLIURIA, OLIGURIA, ANURIA',
          :placeholder => '¿Orina grandes cantidades? ¿Está orinando menos de lo habitual últimamente?'
      },
      'nicturia' => {
          :label => 'NICTURIA',
          :placeholder => '¿se despierta por la noche para tener que orinar?'
      },
      'hematuria' => {
          :label => 'HEMATURIA',
          :placeholder => '¿percibe un color rojo al orinar? Hematuria no es sinónimo a orina roja, pero hay que descartar hematuria obligatoriamente.'
      },
      'prostatismo' => {
          :label => 'PROSTATISMO',
          :placeholder => '¿le cuesta iniciar la micción? ¿No puede iniciar la micción hasta que siente su vejiga rebosando? ¿Y una vez iniciada percibe un chorro débil? ¿Siente que al final no vacía bien, que queda orina remanente en la vejiga?'
      },
      'tenesmo' => {
          :label => 'TENESMO',
          :placeholder => 'tras orinar, ¿se siente insatisfecho? ¿Siente ganas de que no haya terminado y de que quiere hacer más, aunque no sale nada?'
      }
  }
%>

<script>
    var urinary_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var urinary_aps_url = "<%= doctor_urinary_aps_path %>";
</script>

<%
  records = @medical_history.urinary_aps
%>

<%= render partial: '/doctor/expedients/systems/form_section', locals: {:records => records, :form_config => form_config, :cols => cols} %>