<div class="row">
  <% cols.each do |i| %>
      <% if form_config[i].nil? %>
          <div class="col-md-12 alert alert-danger">Configuración no encontrada para el campo: <%= i %></div>
      <% next
         end %>
      <div class="<%= form_config[i][:class].present? ? form_config[i][:class] : 'col-md-6' %> form_item_holder">
        <strong><%= form_config[i][:label] %></strong>
        <textarea name="<%= i %>"
                  class="form-control input-lg"
                  placeholder="<%= form_config[i][:placeholder] %>"
                  rows="3"></textarea>
      </div>
  <% end %>

  <input type="hidden" name="id" value="">

  <div class="col-md-12 response_message" style="display: none;">

  </div>
</div>

<div class="row">
  <br>
  <button class="btn btn-primary save_data_system" form="<%= @key %>">Guardar</button>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>

  <div class="col-md-12">

    <table class="table">
      <thead>
      <tr>
        <th>Fecha</th>
        <th>Resumen</th>
      </tr>
      </thead>
      <tbody>

      <% records.each do |r|
        r_json = r.as_json
      %>
      <tr>
        <td><%= r.created_at.strftime('%d/%m/%Y') %></td>
        <td>
          <% cols.each do |col| %>
          <% if r_json[col].present? %>
          <strong><%= form_config[col][:label] %></strong>: <%= r_json[col] %><br>
          <% end %>
          <% end #end cols.each %>
        </td>
      </tr>
      <% end %>

      </tbody>
    </table>


  </div>
</div>