<h4 class="system_name">
  SISTEMA NERVIOSO
</h4>

<%
  cols = NervousSi.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'description' => {
          :class => 'col-md-12',
          :label => 'DESCRIPCIÓN',
          :placeholder => 'Cambios en el estado de ánimo, atención o habla, cambios en la orientación, memoria, cefalea, mareos, vértigo, desmayos, crisis convulsivas, debilidad, parálisis, perdida de la sensibilidad, hormigueo (parestesias), temblor u otros movimientos involuntarios, crisis epilépticas.'
      },
      'headache' => {
          :label => 'CEFALEA',
          :placeholder => ' ¿siente dolor de cabeza? ¿Desde cuándo? ¿Ha aparecido de forma brusca? ¿Paulatinamente? ¿Es la primera vez que le ocurre o le ha ocurrido más veces? ¿En qué zona dela cabeza? ¿Es en un lado de la cabeza (orgánico) o en ambos lados (funcional)?, ¿es un dolor de tipo pulsátil? ¿Se acompaña de algún otro síntoma? Para cuantificar la intensidad de todo dolor: ¿le impide realizar su actividad diaria normal? ¿Le impide dormir?'
      },
      'convulsions' => {
          :label => 'CONVULSIONES',
          :placeholder => '¿ha convulsionado alguna vez?'
      },
      'transitory_deficit' => {
            :label => 'DÉFICIT TRANSITORIO',
          :placeholder => '¿en algún momento ha sentido pérdida o disminución de alguna función (mover extremidades, cojera, pronunciar bien, escribir bien, sentir, equilibrio, etc.)?'
      },
      'confusion' => {
          :label => 'CONFUSIÓN',
          :placeholder => 'Confusión'
      },
      'obnubilation' => {
          :label => 'OBNUBILACIÓN',
          :placeholder => '¿siente dificultad para concentrarse o realizar tareas complejas?'
      },
      'march' => {
          :label => 'MARCHA',
          :placeholder => ' a veces mejor preguntar a los familiares ¿camina como siempre o nota que camina raro?'
      },
      'balance' => {
          :label => 'EQUILIBRIO',
          :placeholder => '¿En algún momento se ha caído? ¿Siente sensación de giro de objetos o que su alrededor se mueve?'
      },
      'language' => {
          :label => 'LENGUAJE',
          :placeholder => 'preguntar al familiar. Ver tema exploración'
      },
      'sleep_vigil' => {
          :label => 'SUEÑO-VIGILIA',
          :placeholder => '¿siente que haya cambiado últimamente su ciclo para dormir?'
      }
  }
%>

<script>
    var nervous_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var nervous_sis_url = "<%= doctor_nervous_sis_path %>";
</script>

<%
  records = @medical_history.nervous_sis
%>

<%= render partial: '/doctor/expedients/systems/form_section', locals: {:records => records, :form_config => form_config, :cols => cols} %>