<h4 class="system_name">
  SISTEMA LOCOMOTOR
</h4>
<div class="system_description">

</div>

<%
  cols = LocomotorSi.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'mialgias' => {
          :label => 'MIALGIAS',
          :placeholder => '¿dolores musculares? '
      },
      'artralgias' => {
          :label => 'ARTRALGIAS',
          :placeholder => '¿tiene dolores articulares? ¿son más por la mañana? ¿ceden con la actividad (reumático) o aumentan con ella (mecánico)?'
      },
      'articular_rigideces' => {
          :label => 'RIGIDECES ARTICULARES',
          :placeholder => '¿siente rigidez articular? ¿disminuye con la actividad?'
      },
      'inflammations' => {
          :label => 'INFLAMACIONES',
          :placeholder => '¿siente alguna articulación hinchada, roja, caliente?'
      }
  }
%>

<script>
    var locomotor_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var locomotor_sis_url = "<%= doctor_locomotor_sis_path %>";
</script>

<%
  records = @medical_history.locomotor_sis
%>

<%= render partial: '/doctor/expedients/systems/form_section', locals: {:records => records, :form_config => form_config, :cols => cols} %>