<h4 class="system_name">
  SISTEMA OTORRINOLARINGOLOGICO
</h4>
<div class="system_description">

</div>

<%
  cols = OtolaryngologySi.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'otalgia' => {
          :label => 'OTALGIA',
          :placeholder => '¿le duele el oído? '
      },
      'otorrea' => {
          :label => 'OTORREA',
          :placeholder => '¿ha supurado algo por el oído? ¿de qué color? ¿se ha calmado el dolor tras supurar? '
      },
      'otorragia' => {
          :label => 'OTORRAGIA',
          :placeholder => '¿ha sangrado por el oído? '
      },
      'hypoacusia' => {
          :label => 'HIPOACUSIA',
          :placeholder => '¿siente que oye menos? '
      },
      'epistaxis' => {
          :label => 'EPISTAXIS',
          :placeholder => '¿Sangra por la naríz?'
      },
      'rinorrea' => {
          :label => 'RINORREA',
          :placeholder => '¿tiene moquillos? ¿son espesos o como agüilla? ¿de qué color es? '
      },
      'odinofagia' => {
          :label => 'ODINOFAGIA',
          :placeholder => '¿Siente dolor al tragar?'
      },
      'phonation' => {
          :label => 'FONACIÓN',
          :placeholder => '¿le ha cambiado la voz? ¿le duele al hablar o le cuesta hacerlo?'
      }
  }
%>

<script>
    var otolaryngology_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var otolaryngology_sis_url = "<%= doctor_otolaryngology_sis_path %>";
</script>

<%
  records = @medical_history.otolaryngology_sis
%>

<%= render partial: '/doctor/expedients/systems/form_section', locals: {:records => records, :form_config => form_config, :cols => cols} %>