<div class="block-header">
      <h2>Operaciones en : <%= @daily_cash.account.account_number %> - <%= @daily_cash.account.office_name %></h2>

      <% if session[:role] == 'shared_assistant' %>
      <a class="btn btn-primary" href="<%=  shared_assistant_daily_cashes_path  %>" style="float: right; ">Atrás</a>
      <% else %>
      <a class="btn btn-primary" href="<%= @prev == 'history' ? history_doctor_daily_cashes_path :  doctor_daily_cashes_path  %>" style="float: right; ">Atrás</a>
      <% end %>

</div>

<br>

<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12">
        <% if !@daily_cash %>
        <% else %>

        <h4>Datos de la Caja</h4>
        <div>
          <table class="table">
            <tr>
              <td><strong>Responsable</strong><br>
                <% user = @daily_cash.user; %>
                <%= user.owner_name %>
              </td>
              <td><strong>Fecha Apertura</strong><br>
                <%= @daily_cash.start_date.strftime('%d/%m/%Y') %>
              </td>
              <td><strong>Cuenta</strong><br>
                <%= @daily_cash.account.account_number+' ( '+@daily_cash.account.bank.name+' )' %>
              </td>
            </tr>

            <tr>
              <td><strong>Saldo Inicial</strong><br>
                <% @daily_cash.dc_balances.each do |dcb| %>
                    <%= number_to_currency(dcb.start, unit: dcb.currency.symbol+' ') %> (<%= dcb.currency.iso_code %>)<br>
                <% end %>
              </td>
              <td><strong>Saldo Actual:</strong><br>
                <% @daily_cash.dc_balances.each do |dcb| %>
                    <%= number_to_currency(dcb.end, unit: dcb.currency.symbol+' ') %> (<%= dcb.currency.iso_code %>)<br>
                <% end %>
              </td>
              <td>

              </td>
            </tr>

          </table>
        </div>
        <% end %>

      </div>

    </div>
  </div>
</div>


<input type="hidden" id="office_id" value="<%= @office_id %>">
<% if @daily_cash %>
<input type="hidden" id="current_cash_balance" value="<%= @daily_cash.end_balance %>">
<input type="hidden" id="daily_cash_account" value="<%= @daily_cash.account.id %>">
<% end %>


<% if @daily_cash != nil %>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12">
            <table class="table">
              <thead>
              <tr>
                <th>Cuenta</th>
                <th>Tipo Movimiento</th>
                <th>Tipo de Transaccion</th>
                <th>Método de Pago</th>
                <th>Cantidad</th>
                <th>Detalles</th>
                <th>Responsable</th>
              </tr>
              </thead>
              <tbody>
              <% @daily_cash.movements.order('date DESC').each do |t| %>
                  <tr>
                    <td><%= t.get_account.account_number %> (<%= t.get_account.bank.name %>)</td>
                    <td>
                      <label class="btn <%= t.t_type == 1 ? 'btn-success':'btn-danger' %> btn-xs waves-effect"><%= t.date.strftime('%I:%M %P') %> - <%= t.t_type == 1 ? 'Ingreso':'Egreso' %></label>
                    </td>
                    <td><%= t.transaction_type.name %></td>
                    <td><%= t.payment_method.name %></td>
                    <td><%= number_to_currency(t.amount) +' - '+t.currency.iso_code %></td>
                    <td>
                      <%
                        details = ''
                        case t.chargeable_type
                          when 'OtherMovement'
                            details << 'Tipo de Movimiento: '+t.chargeable.movement_type.name + '<br>'
                            details << 'Detalles: '+t.chargeable.details
                          when 'Charge'
                            details << 'Paciente: '+t.chargeable.medical_consultation.patient.full_name + ' <br> '
                            details << 'Fecha Consulta: '+t.chargeable.medical_consultation.date_consultation.strftime('%d/%m/%Y %I:%M %P') + ' <br> '
                            details << 'Detalles: '+t.chargeable.details
                          when 'Transfer'
                            details << 'Transferencia de ' + t.chargeable.from.account_number+' ('+t.chargeable.from.bank.name+') a '+ t.chargeable.to.account_number+' ('+t.chargeable.to.bank.name+')<br>'
                            details << 'Detalles: '+t.description
                          when 'ChargeReportStudy'
                            details << 'Estudio: ' + t.chargeable.get_study+'<br>'
                            details << 'Paciente: ' + t.chargeable.get_patient+'<br>'
                            details << 'Detalles: '+t.description

                        end
                      %>
                      <%= simple_format details %>
                    </td>
                    <td><%= t.user.user_name %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>


      </div>
    </div>
  </div>
</div>
<% end %>
