<%= form_for [:admin, @general_consultation_type],:html => { :onsubmit => "return check_office();"} do |a| %>
  <% if @general_consultation_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_consultation_type.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @general_consultation_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="card">
      <div class="card-header">

        <input type="hidden" name="general_account[id]" value="<%= @general_consultation_type.id %>">

        <div class="row">


          <div class="col-md-12">
            <div class="form-group fg-line">
              <strong id="account_numero_cuenta">Nombre</strong>
              <%= a.text_field :name, class: 'form-control input-lg required' , placeholder: 'Nombre de tipo de consulta'%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Costo</strong>
              <%= a.number_field :cost, class: 'form-control input-lg required' , placeholder: 'Costo'%>
            </div>
          </div>
        </div>


      </div>
    </div>





    <div class="col-md-6 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">
      <span class="col-md-3 col-xs-12"></span>
      <a href="<%= admin_general_consultation_types_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
      <span class="col-md-1 col-xs-12"></span>
      <button type="submit" class="btn btn-primary col-md-4 col-xs-12">Guardar</button>
    </div>
<% end %>

