<div class="card">
<div class="card-body card-padding">
  <div class="row">
    <div class="col-xs-6">
      <div class="card-header">
        <h2>Lista de Tipos de consultas</h2>
      </div>
    </div>
    <div class="col-xs-6">
          <%= link_to 'Control de tipos de consultas', consultation_type_manage_admin_general_consultation_types_path, class: "pull-left btn bgm-blue waves-effect" %>
      <%= link_to 'Agregar', new_admin_general_consultation_type_path, class: "pull-right btn bgm-green waves-effect" %>
  </div>
    <div class="col-xs-12">


      <table  id="data-table-general-consultation-types" class="table table-striped" data-source="<%= admin_general_consultation_types_url(format: "json")%>">
        <thead>
        <tr>
          <th data-column-id="name">NOMBRE</th>
          <th data-column-id="cost">COSTO</th>
          <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
</div></div>

