<%= form_for [:admin, @assistant],:html => { :onsubmit => "return checkuser_exist();" } do |a| %>
  <% if @assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
      <% @assistant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="card">
      <div class="card-header">


        <div class="row">
          <div class="col-md-6">
              <div class="form-group fg-line">
                <strong>Nombre(s)</strong>
                <%= a.text_field :name, class: 'form-control input-lg required', placeholder: 'Nombre(s)' %>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group fg-line">
                <strong>Apellidos</strong>
                <%= a.text_field :last_name, class: 'form-control input-lg required' , placeholder: 'Apellidos'%>
              </div>
          </div></div>
        <div class="row">
          <div class="col-md-4">
              <div class="form-group fg-line">
                <strong>Tel&eacute;fono</strong>
                <%= a.text_field :telephone, class: 'form-control input-lg required',:minlength=>"10",
                                 :maxlength=>"20", placeholder: 'Teléfono' %>
              </div>
          </div>

          <div class="col-md-4">
              <div class="form-group fg-line">
                <strong>Celular</strong>
                <%= a.text_field :cellphone, class: 'form-control input-lg number',:minlength=>"10",
                                 :maxlength=>"10", placeholder: 'Celular' %>
              </div>
          </div>

         


        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="bootstrap-select">
              <strong>G&eacute;nero</strong><br>
              <%= a.select :gender_id, Gender.all.map{|gender| [gender.name,gender.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-6">
            <%
              if !@assistant.birth_day.nil?
                date_format = @assistant.birth_day.strftime('%d/%m/%Y')
              else
                date_format = ''
              end
            %>
            <div class="form-group">
              <%= a.label :birth_day,"Fecha de nacimiento", :class=>"control-label" %><br>
              <%= a.text_field :birth_day, class: 'form-control input-lg required date-picker', value: date_format ,:placeholder => "Ej: dd/mm/aaaa"  %>
              <span class="input-group-addon last" id="age_label"></span>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="fg-line">
                <strong>Dirección</strong>
                <%= a.text_area :address, {:class => "form-control input-lg", :rows => 3, :placeholder => "Dirección"}  %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <%
                city_id = ""
                if @assistant.city.nil?
                  name = ""
                else
                  name = @assistant.city.format_city_state_and_country
                  city_id = @assistant.city.id
                end
              %>
              <strong>Ciudad</strong>
              <%= a.text_field :city_id, :city => city_id , :autocomplete => "off", :value => name, :class=>"form-control input-lg search-city required", :id=>"admin_doctor_city_id", :placeholder => "Ciudad" %>
            </div>
          </div>
        </div>

        <%= a.hidden_field :shared, :value => true %>
      </div>
    </div>

    <% if @assistant.id != nil %>
    <input type="hidden" id="assistant_id" value="<%= @assistant.id %>">
        <div class="block-header">
          <h2>Agregar Doctores de la clinica</h2>
          <ul class="actions">
            <li>
              <a data-toggle="modal" href="#addDoctorModal"><i class="zmdi zmdi-local-hospital zmdi-hc-fw"></i></a>
            </li>
          </ul>
        </div>

        <div class="card">
          <div class="card-body card-padding">
            <div class="row">
              <div class="col-xs-12 block-header">
                <h2>Doctores</h2>
              </div>
              <div class="col-xs-12">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <%  @assistant.doctors.each do |es| %>
                      <tr id="doctor_<%= es.id %>">
                        <td><%= es.name %></td>
                        <td><%= es.last_name %></td>
                        <td>
                          <a  onclick="deleteDoctor(<%= es.id %>,'<%= es.name + ' ' +  es.last_name %>' )"><i class="zmdi zmdi-delete"></i></a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    <% end %>
   <div class="block-header">
      <h2>Datos de Acceso</h2>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">
          <%= a.fields_for :user do |u| %>

              <div>
                <%= u.hidden_field :id%>
              </div>

              <div class="col-md-6">
                <div class="form-group fg-line">
                  <strong>Usuario:</strong>
                  <%= u.text_field :user_name, class: 'form-control input-lg required', placeholder: 'Usuario' %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group fg-line">
                  <% if @assistant.id == nil %>
                      <input type="hidden" id="edit_assistant" value="0">
                      <strong>Contraseña:</strong>
                      <%= u.password_field :password, class: 'form-control input-lg required', placeholder: 'Contraseña' %>
                  <% else %>
                      <input type="hidden" id="edit_assistant" value=<%= @assistant.id %>>
                      <div class="checkbox m-b-15">
                        <label>
                          <input type="checkbox" value="1" id="change_pass">
                          <i class="input-helper"></i> Modificar contrase&ntilde;a
                        </label>
                      </div>
                      <div style="display: none;" id="modificate_pass">
                        <strong>Contraseña:</strong>
                        <%= u.password_field :password, class: 'form-control input-lg required', placeholder: 'Contraseña' %>
                      </div>
                  <% end %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group fg-line">
                  <strong>Email:</strong>
                  <%= u.text_field :email, class: 'form-control input-lg required email', placeholder: 'Email' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-md-6 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">
      <span class="col-md-3 col-xs-12"></span>
      <a href="<%= admin_assistants_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
      <span class="col-md-1 col-xs-12"></span>
      <button type="submit" class="btn btn-primary col-md-4 col-xs-12">Guardar</button>
    </div>
<% end %>
<%= hidden_field_tag 'url_check_user', url_for(:controller => 'doctor/assistants', :action => 'check_new_user', :only_path => false) %>
