<div class="block-header">
<h2>Editar Asistente compartido</h2>
</div>

<%= render 'form' %>


<div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_email_setting_title">Agregar doctor</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <strong>Seleccione un doctor</strong>
            <input type="text" class="form-control input-lg search-doctor" name="doctor_id" id="select_doctor_add_office" autocomplete="off">
          </div>
          <div class="col-xs-12">
            <strong>Seleccione un consultorio del doctor</strong>
            <select id="doctor_offices" class="selectpicker form-control bs-select-hidden" name="doctor_offices">
            </select>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" id="load_offices">Cargar Consultorios</button>
        <button type="button" class="btn btn-primary" id="add_doctor_assistant" onClick="addDoctorAssistant()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'url_addDoctor_assistant', url_for(:controller => 'admin/assistants', :action => 'add_doctor_assistant', :only_path => false) %>
<%= hidden_field_tag 'url_deleteDoctor_assistant', url_for(:controller => 'admin/assistants', :action => 'delete_doctor_assistant', :only_path => false) %>
<%= hidden_field_tag 'url_get_doctor_offices', url_for(:controller => 'admin/assistants', :action => 'get_doctor_offices', :only_path => false) %>
