<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de aseguradoras</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :prices, Insurance %>
        <%= link_to 'Configurar precios', prices_cli_insurances_path, class: "pull-left btn bgm-blue waves-effect" %>
            <% end %>
                <% if can? :new, Insurance %>
          <%= link_to 'Agregar', new_cli_insurance_path, class: "pull-right btn bgm-green waves-effect" %>
                    <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-insurances" class="table table-striped" data-source="<%= cli_insurances_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Insurance %>"
         data-can-manage="<%= can? :active_insurence, Insurance %>"
         data-can-delete="<%= can? :destroy, Insurance %>">
  <thead>
  <tr>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="telephone">Teléfono</th>
    <th data-column-id="address">Dirección</th>
    <th data-column-id="contact">Contacto</th>
    <th data-column-id="state">Estado</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
<%= hidden_field_tag 'url_active_insurence', url_for(:controller => 'cli/insurances', :action => 'active_insurence', :only_path => false) %>