<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-header">
          <h2>Precios de servicios por aseguradora</h2>
        </div>
      </div>
      <div class="row">
      </div>
      <br><br>
      <div class="col-xs-8">
        <strong>Servicios hospitalarios</strong>
        <%= select_tag("hospital_service", options_for_select(HospitalService.where("is_user = 1").map{|pa| [pa.name, pa.id]}.insert(0, "Todos")), :class => "selectpicker form-control",'data-live-search' => 'true') %>
      </div>

      <div class="col-xs-1">
        <!--<input type="button" class="pull-right btn bgm-blue waves-effect" onclick="search_services()" value="Buscar">-->
      </div>
      <div class="col-xs-3 content2" style="color: #4cae4c">
        <!--<input type="button" class="pull-right btn bgm-green waves-effect" onclick="save_prices()" value="Guardar">-->
        Precio actualizado con exito.
      </div>


      <div class="col-xs-12">

        <div id="prices_div" style="margin-top: 10px"></div>
      </div>
    </div></div>


</div>
<input type="hidden" id="insurances_amount" value="<%= @insurences_amount %>">
<%= hidden_field_tag 'url_get_services', url_for(:controller => 'cli/insurances', :action => 'get_services', :only_path => false) %>
<%= hidden_field_tag 'url_set_prices_asurence', url_for(:controller => 'cli/insurances', :action => 'set_prices', :only_path => false, :format => 'xls') %>
<%= hidden_field_tag 'url_save_price_asurence', url_for(:controller => 'cli/insurances', :action => 'save_price', :only_path => false) %>


