<%= form_for [:admin, @person], url:  @person.id.present? ? admin_person_path(@person.id) : admin_persons_path ,:html => { :onsubmit => "return checkuser_exist();" } do |a| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="card">
      <div class="card-header">


        <div class="row">
          <div class="col-md-6">
              <div class="form-group fg-line">
                <strong>Nombre(s)</strong>
                <%= a.text_field :name, class: 'form-control input-lg required', placeholder: 'Nombre(s)' %>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group fg-line">
                <strong>Apellidos</strong>
                <%= a.text_field :last_name, class: 'form-control input-lg required' , placeholder: 'Apellidos'%>
              </div>
          </div></div>
        <div class="row">
          <div class="col-md-4">
              <div class="form-group fg-line">
                <strong>Tel&eacute;fono</strong>
                <%= a.text_field :telephone, class: 'form-control input-lg required',:minlength=>"10",
                                 :maxlength=>"20", placeholder: 'Teléfono' %>
              </div>
          </div>

          <div class="col-md-4">
              <div class="form-group fg-line">
                <strong>Celular</strong>
                <%= a.text_field :cellphone, class: 'form-control input-lg number',:minlength=>"10",
                                 :maxlength=>"10", placeholder: 'Celular' %>
              </div>
          </div>

         


        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="bootstrap-select">
              <strong>G&eacute;nero</strong><br>
              <%= a.select :gender_id, Gender.all.map{|gender| [gender.name,gender.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-6">
            <%
              if !@person.birth_day.nil?
                date_format = @person.birth_day.strftime('%d/%m/%Y')
              else
                date_format = ''
              end
            %>
            <div class="form-group">
              <%= a.label :birth_day,"Fecha de nacimiento", :class=>"control-label" %><br>
              <%= a.text_field :birth_day, class: 'form-control input-lg required date-picker', value: date_format ,:placeholder => "Ej: dd/mm/aaaa"  %>
              <span class="input-group-addon last" id="age_label"></span>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="fg-line">
                <strong>Dirección</strong>
                <%= a.text_area :address, {:class => "form-control input-lg", :rows => 3, :placeholder => "Dirección"}  %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <%
                city_id = ""
                if @person.city.nil?
                  name = ""
                else
                  name = @person.city.format_city_state_and_country
                  city_id = @person.city.id
                end
              %>
              <strong>Ciudad</strong>
              <%= a.text_field :city_id, :city => city_id , :autocomplete => "off", :value => name, :class=>"form-control input-lg search-city required", :id=>"admin_doctor_city_id", :placeholder => "Ciudad" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block-header">
      <h2>Configuraciones</h2>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">
          <%= a.fields_for :user do |u| %>

              <div class="row">
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <%= u.check_box :can_cancel_payment %>
                      <i class="input-helper"></i>
                      <strong class="font_size_medical_history">¿Puede cancelar pagos?</strong>
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <%= u.check_box :can_close_charge %>
                      <i class="input-helper"></i>
                      <strong class="font_size_medical_history">¿Puede cerrar cobros y admisiones?</strong>
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <%= u.check_box :is_doctor %>
                      <i class="input-helper"></i>
                      <strong class="font_size_medical_history">¿Es Médico?</strong>
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <%= u.check_box :is_active %>
                      <i class="input-helper"></i>
                      <strong class="font_size_medical_history">¿Usuario activo?</strong>
                    </label>
                  </div>
                </div>
              </div>

        </div>
      </div>
    </div>
              <% if @person.id != nil %>
                  <input type="hidden" id="user_id" value="<%= @person.user.id %>">
              <div class="block-header">
                <h2>Agendas de médicos</h2>
              </div>

              <div class="card">
                <div class="card-header">
                  <div class="row">


                    <div class="col-xs-12" style="margin-top: 15px">
                      <a data-toggle="modal" onclick="clear_doctor_modal()" href="#add_doctor_modal" style="margin-top: 15px;" class="pull-right btn bgm-green waves-effect">Agregar médico</a>
                    </div>

                    <div class="col-xs-12" style="text-align: center"><span><br></span></div>
                    <div id="table_doctor_agenda" class="col-xs-12">

                      <table id="doctors_agendas" class="table">
                        <thead>
                        <tr>
                          <th width="15%" style="text-align: center">Nombre</th>
                          <th width="10%" style="text-align: center"></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                    </div>

                        </div>
                  <button type="button" class="pull-right btn btn-primary" id="add_pharmacy_item_btn" onclick="save_doctors()">Guardar</button>
                        </div>
                        </div>

                  <% end %>
   <div class="block-header">
      <h2>Datos de Acceso</h2>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">

              <div>
                <%= u.hidden_field :id%>
              </div>

              <div class="col-md-6">
                <div class="form-group fg-line">
                  <strong>Usuario:</strong>
                  <%= u.text_field :user_name, class: 'form-control input-lg required', placeholder: 'Usuario' %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group fg-line">
                  <% if @person.id == nil %>
                      <input type="hidden" id="edit_person" value="0">
                      <strong>Contraseña:</strong>
                      <%= u.password_field :password, class: 'form-control input-lg required', placeholder: 'Contraseña' %>
                  <% else %>
                      <input type="hidden" id="edit_person" value=<%= @person.id %>>
                      <div class="checkbox m-b-15">
                        <label>
                          <input type="checkbox" value="1" id="change_pass">
                          <i class="input-helper"></i> Modificar contrase&ntilde;a
                        </label>
                      </div>
                      <div style="display: none;" id="modificate_pass">
                        <strong>Contraseña:</strong>
                        <%= u.password_field :password, class: 'form-control input-lg required', placeholder: 'Contraseña' %>
                      </div>
                  <% end %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group fg-line">
                  <strong>Email:</strong>
                  <%= u.text_field :email, class: 'form-control input-lg required email', placeholder: 'Email' %>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  Tipo de Usuario :
                  <%= u.select :role_id, Role.all.map{|type| [type.name, type.id]}, {},:class => "selectpicker form-control"  %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-md-6 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">
      <span class="col-md-3 col-xs-12"></span>
      <a href="<%= admin_persons_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
      <span class="col-md-1 col-xs-12"></span>
      <button type="submit" class="btn btn-primary col-md-4 col-xs-12">Guardar</button>
    </div>
<% end %>
<%= hidden_field_tag 'url_check_user', url_for(:controller => 'doctor/assistants', :action => 'check_new_user', :only_path => false) %>
<%= hidden_field_tag 'url_save_doctors_agenda', url_for(:controller => 'admin/persons', :action => 'save_doctors_agendas', :only_path => false) %>
<%= hidden_field_tag 'url_get_doctors_agenda', url_for(:controller => 'admin/persons', :action => 'get_doctors_agendas', :only_path => false) %>

<div class="modal fade" id="add_doctor_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Agregar médico</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">

              <div class="col-xs-12">
                <input  autocomplete="off"  class="form-control input-lg search-doctor  ui-autocomplete-input" id="agenda_doctor" placeholder="Seleccione un médico" type="text">
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_pharmacy_item_btn" onclick="add_doctor_table()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>