<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2 class="page_title">Lista de Usuarios</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, Person %>
        <%= link_to 'Agregar', new_admin_person_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
      </div>
      <div class="col-xs-12">


        <table id="data-table-persons" class="table table-striped" data-source="<%= admin_persons_url(format: "json")%>"
               data-can-edit="<%= can? :edit, Person %>"
               data-can-delete="<%= can? :destroy, Person %>">
          <thead>
          <tr>
            <th data-column-id="name" >NOMBRE</th>
            <th data-column-id="telephone">TELÉFONO</th>
            <th data-column-id="type" >Rol</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

      </div></div></div></div>



