<div class="card">
  <div class="card-body card-padding">

    <div class="row">
      <div class="col-md-6">
        <h4>Estados de sala de espera</h4>
      </div>
      <div class="col-md-6"><a class="btn btn-success pull-right" id="new_waiting_room_status_btn">Agregar</a></div>
    </div>

   <div id="waiting_room_status_form" style="display: none;">
      <div class="row">
        <div class="col-md-4">
          <strong>Nombre</strong>
          <input type="hidden" id="waiting_room_status_id">
          <input class="form-control" type="text" id="waiting_room_status_name" placeholder="Ingrese el nombre">
        </div>
        <div class="col-md-8">
          <strong>Descripción</strong>
          <textarea class="form-control" id="waiting_room_status_description" placeholder="Ingrese la descripción"></textarea>
        </div>
        <div class="col-md-12">
          <% WaitingRoomActivity.all.each do |wra| %>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="<%= wra.id %>" name="waiting_room_activities" class="waiting_room_activity" id="waiting_room_activity_<%= wra.id %>">
                  <i class="input-helper"></i>
                  <%= wra.name %>
                </label>
              </div>
          <% end %>
        </div>
        <div class="col-md-12" style="padding-top: 10px;">
          <a class="btn btn-link pull-right" id="cancel_waiting_room_btn">Cancelar</a>
          <a class="btn btn-primary pull-right" id="save_waiting_room_btn" url="<%= admin_waiting_room_statuses_path %>">Aceptar</a>
        </div>
      </div>
    </div>

    <div>
      <ul id="waiting_room_statuses" url="<%= save_order_admin_waiting_room_statuses_path %>">
        <% WaitingRoomStatus.order('s_order ASC').each do |wr| %>
        <li class="waiting_room_status_item" waiting_room_status_id="<%= wr.id %>">
          <div><strong><%= wr.name %></strong>
            <i class="zmdi zmdi-swap-vertical pull-right op_icon move_status_icon"></i>
            <i class="zmdi zmdi-edit pull-right op_icon edit_icon" url="<%= admin_waiting_room_status_path(wr.id) %>"></i>
          </div>
          <small><%= wr.description %></small><br>
          <div class="activities_list">
            <%= wr.waiting_room_activities.map{|a| "<label>"+a.name+"</label>"}.join(" ").html_safe %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>