<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:admin, @fixed_asset_activity], html: {:onsubmit => "return check_color("+@fixed_asset_activity.id.to_s+");" }  do |f| %>
    <% if @fixed_asset_activity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fixed_asset_activity.errors.count, "error") %> prohibited this attention type from being saved:</h2>

          <ul>
            <% @fixed_asset_activity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :name,'Nombre', :class=>"control-label" %><br>
      <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Nombre" %>
    </div>
    </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :color,'Seleccione un color', :class=>"control-label " %><br>
              <%= f.text_field :color, :class => "form-control input-lg color" %>
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="bootstrap-select">
              <strong>Activo fijo</strong><br>
              <%= f.select :fixed_asset_id, FixedAsset.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker "}  %>
            </div>
          </div>


          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_fixed_asset_activities_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
<% end %>
      <%= hidden_field_tag 'url_check_color_waste', url_for(:controller => 'admin/fixed_asset_activities', :action => 'check_color', :only_path => false) %>