<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de actividades de activos fijos</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, FixedAssetActivity %>
          <%= link_to 'Agregar', new_admin_fixed_asset_activity_path, class: "pull-right btn bgm-green waves-effect" %>
            <% end%>
  </div>
      <div class="col-xs-12">
  <table id="data-table-fixed_asset_activities" class="table table-striped" data-source="<%= admin_fixed_asset_activities_url(format: "json")%>"
         data-can-edit="<%= can? :edit, FixedAssetActivity %>"
         data-can-delete="<%= can? :destroy, FixedAssetActivity %>">
  <thead>
  <tr>
    <th data-column-id="id">ID</th>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="fixed_asset">Activo fijo</th>
    <th data-column-id="color">Color</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
