<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2>USUARIOS</h2>
          <form id="import_users_id" method="post" action="<%= import_user_admin_importations_path %>"  enctype="multipart/form-data">
            <strong>Archivo de usuarios</strong>
            <input type="file" id="upload_file" value="Choose a file" name="upload_file" accept=".csv" >
            <input type="submit"  value="Migrar" onclick="showUsersLoading()" >
            <div id="loading_image_import_user"> </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>