<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2>Importaciones a MEDSI</h2>
          Pacientes
          <form id="import_form_id" method="post" action="<%= admin_importations_path %>"  enctype="multipart/form-data">
          <strong>Doctor</strong>
          <%= select_tag("doctor_for_migrate", options_for_select(Doctor.all.map{|pa| [pa.name+ " " + pa.last_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
          <strong>Archivo</strong>
          <input type="file" id="upload_file" value="Choose a file" name="upload_file" accept=".csv" >
          <input type="submit"  value="Migrar" onclick="patientsLoading()">
            <div id="loading_image_pacientes"> </div>
          </form>
        </div>

      </div>
      </div>
  </div>
</div>


<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2>ANTECEDENTES</h2>
          <form id="import_formmh_id" method="post" action="<%= import_medical_history_admin_importations_path %>"  enctype="multipart/form-data">
            <strong>Doctor</strong>
            <%= select_tag("doctor_for_migrate", options_for_select(Doctor.all.map{|pa| [pa.name+ " " + pa.last_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
            <strong>Archivo</strong>
            <input type="file" id="upload_file" value="Choose a file" name="upload_file" accept=".csv" >
            <input type="submit"  value="Migrar" onclick="backroundsLoading()">
            <div id="loading_image_antecedentes"> </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2>CONSULTAS</h2>
          <form id="import_formmh_id" method="post" action="<%= import_medical_consultation_admin_importations_path %>"  enctype="multipart/form-data">
            <strong>Doctor</strong>
            <%= select_tag("doctor_for_migrate", options_for_select(Doctor.all.map{|pa| [pa.name+ " " + pa.last_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
            <strong>Archivo</strong>
            <input type="file" id="upload_file" value="Choose a file" name="upload_file" accept=".csv" >
            <input type="submit"  value="Migrar" onclick="showConsultsLoading()" >
            <div id="loading_image_consultas"> </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2>EMBARAZOS</h2>
          <form id="import_formmh_id" method="post" action="<%= import_pregnancy_admin_importations_path %>"  enctype="multipart/form-data">
            <strong>Doctor</strong>
            <%= select_tag("doctor_for_migrate", options_for_select(Doctor.all.map{|pa| [pa.name+ " " + pa.last_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
            <strong>Archivo</strong>
            <input type="file" id="upload_file" value="Choose a file" name="upload_file" accept=".csv" >
            <br>
            <input type="submit"  value="Migrar" onclick="showPregnantLoading()">
            <div id="loading_image_embarazos"> </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>


<%= hidden_field_tag 'url_migrate_patients', url_for(:controller => 'admin/importations', :action => 'import_patients', :only_path => false) %>