<div class="card">
  <div class="card-header">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group fg-line">
          <strong>Nombre del usuario</strong>
          <input class="form-control input-lg search-person" placeholder="Ingrese el nombre del usuario" type="text" name="user_name" id="user_name" autocomplete="off" aria-required="true">
        </div>
      </div>
    </div>
    <div class="row" id="consultation_types_div" >
      <% ConsultationType.where("is_local = 1").each do |consultation_type| %>
          <div class="col-md-4">
            <div class="checkbox"style="padding-left: 20px">
              <label>
                <input type="checkbox" class="s_parent" value="<%=consultation_type.id%>" id="consultation_type_<%=consultation_type.id%>">
                <i class="input-helper"></i>
                <strong class="font_size_medical_history"><%= consultation_type.name+" (" + number_to_currency(consultation_type.cost,:unit => "$") + ")" %> </strong>
              </label>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<button class="btn btn-primary" onclick="saveConsultationTypes()" >Guardar Cambios</button>

<%= hidden_field_tag 'url_get_user_consultation_types', url_for(:controller => 'admin/general_consultation_types', :action => 'get_consultation_types', :only_path => false) %>
<%= hidden_field_tag 'url_save_user_consultation_types', url_for(:controller => 'admin/general_consultation_types', :action => 'save_consultation_types', :only_path => false) %>