<div class="card">
<div class="card-body card-padding">
  <div class="row">
    <div class="col-xs-6">
      <div class="card-header">
        <h2>Lista de Tipos de consultas</h2>
      </div>
    </div>
    <div class="col-xs-6">
      <% if can? :manage, ConsultationType %>
          <%= link_to 'Control de tipos de consultas', consultation_type_manage_admin_general_consultation_types_path, class: "pull-left btn bgm-blue waves-effect" %>
      <% end %>
      <% if can? :new, ConsultationType %>
      <a class="btn btn-success" data-toggle="modal" data-target="#add_consultation_type_modal" onclick="resetForm()">Agregar tipo de consulta</a>
      <% end %>
  </div>
    <div class="col-xs-12">


      <table  id="data-table-consultation-types" class="table table-striped" data-source="<%= doctor_consultation_types_url(format: "json")%>"
              data-can-edit="<%= can? :edit, ConsultationType %>"
              data-can-delete="<%= can? :destroy, ConsultationType %>">
        <thead>
        <tr>
          <th data-column-id="name">NOMBRE</th>
          <th data-column-id="cost">COSTO</th>
          <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
</div></div>

<div class="modal fade" id="add_consultation_type_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_consultation_title">Agregar tipo de consulta
        </h4>
      </div>
      <div class="modal-body">

        <strong>Nombre:</strong>
        <input type="text" class="form-control input-lg" id="name_consultation_type" placeholder="Ingrese el tipo de consulta">
        <input type="hidden" id="id_consultation_type">

        <strong>Costo:</strong>
        <input type="number" class="form-control input-lg" id="cost_consultation_type" placeholder="Ingrese el costo de la consulta">

        <div class="checkbox">
          <label>
            <input type="checkbox"  name="is_editable_price" id="is_editable_price">
            <i class="input-helper"></i>
            <strong class="font_size_medical_history">¿Precio modificable?</strong>
          </label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveConsultationType()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="consultation_types_path" value="<%= doctor_consultation_types_path %>">