<% cli = ClinicInfo.first %>


<% if cli.banner.present? %>
    <div style="text-align: center;">
      <img src = "<%= image_url(download_banner_admin_clinic_infos_path(cli)) %>" width="100%">
    </div>
<% end %>