<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<header>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>

  <style>
      html, body, img {
          margin: 0px !important;
          padding: 0px !important;
          border: 0px !important;
      }

      .field-attribute {
          margin: 0px !important;
          padding: 0px !important;
          position: absolute;
      }

      .container {
          width: 100%;
          height: 100%;
          position: relative;
      }

      .sheet {
          padding: 0px !important;
          margin: 0px !important;
          border: 0px !important;
      }

      .qr-table {
          border-width: 0 !important;
          border-style: none !important;
          border-color: #0000ff !important;
          border-collapse: collapse !important;
          text-align: right !important;
      }

      .qr-table td {
          border-left: solid 4px #000 !important;
          padding: 0 !important;
          margin: 0 !important;
          width: 0px !important;
          height: 4px !important;
      }

      .qr-table td.black { border-color: #000 !important;}
      .qr-table td.white { border-color: #fff !important; }

  </style>
</header>
<body onload="onloadBody()">
<div class="">
  <div class="">
  <%
     doctor = @consultation.office.doctor
     elements_ids = [];
     @template_custom.custom_template_prescription_fields.where(section: "BODY").where(show_field: true).order(position_top_cm: :asc).each do |field|
      # if field.show_field
       elements_ids << field.id
         size = "#{field.size.to_s}px"
         font = field.font
         if field.is_bold
           is_bold = "bold"
         else
           is_bold = "normal"
         end

         top = (field.position_top_cm.to_f * 37.795275591).to_i.to_s+"px"
         left = (field.position_left_cm.to_f * 37.795275591).to_i.to_s+"px"
         width = (field.width_box.to_f * 37.795275591).to_i.to_s+"px"
  %>
            <% case field.fields_prescription.id %>
            <% when FieldsPrescription::LABEL %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= field.label %></label>
             <% when FieldsPrescription::LINE %>
            <% linesize = field.size * 37.795275591 %>
              <% if field.is_bold %>
                <hr style=" top: <%= top %>; left: <%= left %>;" id="info_<%= field.id %>" class="field-attribute" width="0.1" size="<%= linesize %>">
                <% else %>
                <hr style=" top: <%= top %>; left: <%= left %>;" id="info_<%= field.id %>" class="field-attribute" width="<%= linesize %>">
                <% end %>
            <% when FieldsPrescription::SQUARE %>
            <% large = field.size * 37.795275591 %>
            <div class="field-attribute" style="border: solid 1px; width: <%= large %>px;height: <%= large %>px; top: <%= top %>; left: <%= left %>; "></div>
            <% when FieldsPrescription::RECTANGLE %>
            <% long = field.size * 37.795275591 %>
            <% long_width = field.width_box * 37.795275591 %>
            <div class="field-attribute" style="border: solid 1px; width: <%= long_width %>px;height: <%= long %>px; top: <%= top %>; left: <%= left %>; "></div>
            <% when FieldsPrescription::CIRCLE %>
            <% long = field.size * 37.795275591 %>
            <div class="field-attribute" style="border-radius: 50%/50%;border: solid 1px; width: <%= long %>px;height: <%= long %>px; top: <%= top %>; left: <%= left %>; "></div>
            <% when FieldsPrescription::IMAGE %>
            <% long = field.size * 37.795275591 %>
            <% long_width = field.width_box * 37.795275591 %>
            <div class="field-attribute" style="top: <%= top %>; left: <%= left %>; z-index: -1 ">
              <%= wicked_pdf_image_tag_for_public field.extra.url,:width => long_width,  :height=>long %>
            </div>
            <% when FieldsPrescription::DOCTOR_NAME %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= doctor.full_name_title %></label>
            <% when FieldsPrescription::OFFICE_NAME_DOCTOR %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.office.name %></label>
            <% when FieldsPrescription::ADDRESS_OFFICE_DOCTOR %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.office.address %></label>
            <% when FieldsPrescription::PHONE_OFFICE %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.office.telephone %></label>
            <% when FieldsPrescription::CELL_DOCTOR %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= doctor.cellphone %></label>
            <% when FieldsPrescription::MEDICAL_SPECIALTIES %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%
                   unless doctor.pres_show_speciality

                     specialtities = []
                     doctor.specialties.each do |specialti|
                       specialtities << specialti.name.to_s
                     end
                     if specialtities.size > 0
                %>
                          <%= specialtities.join(",") %>
                      <% end
                         else
                           if doctor.pres_speciality.present? %>
                          <%= doctor.pres_speciality %>
                      <%  end
                          end %></label>
            <% when FieldsPrescription::ACADEMIC_STUDIES %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%
                   if doctor.pres_show_studies and doctor.pres_studies.present?  %>
                      <%= doctor.pres_studies %>
                  <% else %>
                      <% if doctor.identity_cards.size > 0 %>
                          <%= doctor.identity_cards.last.institute %>
                      <%  end %>
                  <%  end %></label>
            <% when FieldsPrescription::PROFESSIONAL_IDENTITY_CARD %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;">
                  <% unless doctor.pres_show_professional_license %>

                      <% if doctor.identity_cards.size > 0 %>
                          <%= @consultation.office.doctor.identity_cards.last.identity %>
                          <br>
                          <%= @consultation.office.doctor.identity_cards.last.institute %>
                      <% end %>

                  <% else
                       if doctor.pres_professional_license.present?
                  %>
                          <%= doctor.pres_professional_license %>
                      <%
                         end
                         end %></label>
            <% when FieldsPrescription::PATIENT_NAME %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.medical_expedient.patient.full_name %></label>
            <% when FieldsPrescription::AGE_PATIENT %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.medical_expedient.patient.age_and_month %></label>
            <% when FieldsPrescription::DATE_CONSULTATION %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.date_consultation.strftime("%d/%m/%Y") %></label>
            <% when FieldsPrescription::DIAGNOSTIC_CONSULTATION %>
                <% if @consultation.print_diagnostic %>
                <div id="info_<%= field.id %>" data-name="diagnostico" class="field-attribute" style="top: <%= top %>; left: <%= left %>; width: <%= width %>;">
                  <label  style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>;"><%= @consultation.diagnostic %></label>
                </div>
                <% end %>
            <% when FieldsPrescription::MEDICAL_TREATMENT %>
                  <label id="info_<%= field.id %>" class="field-attribute" data-name="tratamiento" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;">
                    <%  @consultation.prescription.medical_indications.each_with_index do |medical, index|  %>
                        <%= (index+1).to_s+".-"+medical.medicament.comercial_name+" ("+medical.medicament.presentation+") Marca: "+ medical.medicament.brand+".- Dosis: " + medical.dose %> <br>
                    <% end %>
                    <br>
                    <strong>Recomendaciones:</strong> <%= @consultation.prescription.recommendations %>
                  </label>
            <% when FieldsPrescription::BINDING_CODE_EXPEDIENT %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.medical_expedient.code %></label>
            <% when FieldsPrescription::QR_CODE_EXPEDIENT %>
                <div id="info_<%= field.id %>" class="field-attribute" data-name="qr" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top:<%= top %>; left: <%= left %>; width: <%= width %>;"><%
                   qr = RQRCode::QRCode.new(@consultation.medical_expedient.code.to_s, :size => 1, :level => :m, :mode => :number )
                   html_qr = Nokogiri::HTML(qr.as_html)
                   table = html_qr.at_css 'table'
                   table.set_attribute('class', 'qr-table')
                %>
                  <%= raw html_qr.to_html %></div>
            <% when FieldsPrescription::FOLIO_CONSULTATION %>
                    <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.folio %></label>
            <% when FieldsPrescription::WEIGHT_PATIENT %>
                    <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.vital_sign.weight %> Kg</label>
            <% when FieldsPrescription::HEIGHT_PATIENT %>
                    <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.vital_sign.height %> Cm</label>
            <% when FieldsPrescription::CRANIAL_PERIMETER %>
                    <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @consultation.vital_sign.head_circumference %> Cm</label>
            <% when FieldsPrescription::LOGO_OFFICE %>
                    <% if !@consultation.office.logo_identifier.nil? %>
                        <div id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;">
                          <%= wicked_pdf_image_tag_for_public @consultation.office.logo.url,:width => width.to_i.to_s %>
                        </div>
                    <% end %>
            <% when FieldsPrescription::EXTRA_DATA %>
                    <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= doctor.pres_another_info %></label>
            <%  else

                end
            %>

      <%  #end
          end
      %>
    <input type="hidden" id="elementsIds" value="<%= elements_ids.to_json %>"/>
  </div>
</div>
</body>
<script>
    function onloadBody(){
            // rest of code here
            var array_ids = JSON.parse($("#elementsIds").val());

            var height_before = 0;
            var top_before = 0;
            for(var i = 0; i < array_ids.length; i ++){
                var id = array_ids[i];
                var element_id = "info_"+id;
                var id_aux = "#"+element_id;

                if(i != 0){
                    // segundo elemento del arreglo
                    var height = parseInt($( id_aux ).height());
                    var value_top = document.getElementById(element_id).style.top.split("px");
                    var top = parseInt(value_top[0]);
                    var name = $(id_aux).data('name');

                        // el alto mas el top anterior, chocha con el siguiente elemento
                        if(parseInt(top_before + height_before) > parseInt(top)){
                            var aux = top_before + height_before;
                            if(aux < 0){
                                aux = aux * -1;
                            }
                            var top_before = aux.toString()+"px";
                            document.getElementById(element_id).style.top = top_before;
                        }
                        // no chochan los elementos
                        // se resetea el height
                        height_before = parseInt($( id_aux ).height());

                        var value_top = document.getElementById(element_id).style.top.split("px");
                        top_before = parseInt(value_top[0]);

                }else{
                    height_before = parseInt( $( id_aux ).height());
                    var name = $(id_aux).data('name');
                    $('#log_text').append(","+name+"offsetH: "+height_before);

                    var h_aux = $( id_aux ).height();
                    $('#log_text').append(","+name+" height "+h_aux);

                    var value_top = document.getElementById(element_id).style.top.split("px");

                    top_before = parseInt(value_top[0]);
                }
            }
    }

</script>
</html>
