.new_purchase_section{
    background: #0a68b4;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    border-radius: 12px;
}
ul li a .text{
    font-size: 12px;
}
.filter-option{
    font-size: 12px;
}