
.chart_title{
    border-bottom: #4C4C4C 1px solid;
    font-weight: bold;
}

.small_chart{
    padding: 15px;
    margin-bottom: 25px;
}

.chart_holder_small{
    height: 200px;
}

.big_chart{
    padding: 15px;
    margin-bottom: 25px;
}
.chart_holder_big{
    height: 470px;
}

#total_ece{
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
    line-height: 180px;
}

.marker{
    border-radius: 50%;
    opacity: 0.7;
}

.mark_table{
    border-radius: 50%;
    opacity: 0.7;
    height: 20px;
    width: 20px;
}

#patients_by_city{
    overflow-y: scroll;
}

.icon_max_min{
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.icon_max_min{
    margin-left: 10px;
}


.icon_max_min_map{
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.icon_max_min_map{
    margin-left: 10px;
}