.new_purchase_section{
    background: #0a68b4;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
}