.room_status{
    float: left;
    padding: 15px;
}


.waiting_room_list{
    background: #F2F2F2;
    min-height: 200px;
}

.waiting_room_list{
    list-style: none;
}

.waiting_room_list li{
    padding: 5px;
    background: white;
    border: #E6E6E6 1px solid;
}

#refresh_dashboard{
    cursor: pointer;
}

i.menu{
    cursor: pointer;
}

.triage_color{
    width: 12px;
    height: 12px;
    margin-bottom: 0px;
}

.patient_name{
    font-weight: bold;
}