<style>
  #calendar_doctor .fc-toolbar{
    background-color: #00a5bb;
  }
</style>



    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div style="padding: 10px; font-size: 16px;">
            <strong><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> Agendas</strong>
          </div>


          <div style="background: #00bcd4;" class="asset_holder">
            <a><i class="zmdi zmdi-hospital-alt zmdi-hc-fw"></i> Médicos</a>
            <div class="asset_items_holder">
              <% current_user.doctors.each do |doctor| %>
                  <div href="javascript:void(0)" onclick="show_schedule(<%= doctor.id %>,'<%= doctor.user.person.full_name %>')">
                    <i class="zmdi zmdi-assignment-account zmdi-hc-fw"></i> <%= doctor.user.person.full_name %>
                  </div>
              <% end %>
            </div>
          </div>

          <% FixedAsset.all.each do |fixed|
          %>
              <div class="<%= fixed.color %> asset_holder">
                <a class="fixed_asset_parent"><i class="zmdi zmdi-menu zmdi-hc-fw"></i> <%= fixed.name %></a>
                <div class="asset_items_holder">
                  <% FixedAssetItem.where("fixed_asset_id = #{fixed.id}").each do |item| %>
                      <div class="asset_item" href="javascript:void(0)" onclick="show_fixed_schedule(<%= item.id %>,'<%= item.name %>','<%= fixed.color %>')"><i class="zmdi zmdi-window-minimize zmdi-hc-fw"></i> <%= item.name %></div>
                  <% end %>
                </div>
              </div>
          <% end %>

        </div>


      </div>
      <div class="col-md-9" id="calendar_holder">
        <div class="card">
            <div style="padding:10px; font-size: 20px;font-weight: bold" id="schedule_title">Seleccione una agenda del menu lateral</div>
          <div id="calendar_doctor">
          </div>
        </div>
      </div>
    </div>


<!-- Add event -->
<div class="modal fade" id="addNew-event" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addEventTitle">Agregar Actividad</h4>
      </div>
      <div class="modal-body">
        <form class="addEvent" role="form">

          <div class="row">

            <div class="col-xs-12">
              <div class="form-group">
                <label for="eventName">Tipo</label>
                <div class="event-tag">
                  <% ActivityType.all.each do |at| %>
                  <span
                  data-tag="<%= at.color %>"
                  class="<%= at.color %>" activity-type="<%= at.id %>"></span>
                      <strong class="activity_type_name"><%= at.name %></strong>&nbsp;&nbsp;&nbsp;
                  <% end %>
                </div>
              </div>
            </div>
          </div>
            <div class="row" id="add_personal_support_div" style="display: none;">
              <div class="col-md-12">
                <strong>Agregar participantes:</strong>
              </div>
              <div class="col-xs-8 col-md-8">
                  <select class="selectpicker form-control" id="personal_supports" multiple data-selected-text-format="count" data-count-selected-text="{0} participantes">
                    <% #@doctor.personalsupports.each do |o| %>
                        <!--<option </option>-->
                    <% #end %>
                  </select>
              </div>
            </div>

          <div class="row">

            <div class="col-md-6">
              <strong>Consultorio:</strong> <br>
                <select class="selectpicker" id="activity_office">
                  <% if current_user.offices.count > 1 %>
                  <option value="">Todos los consultorios</option>
                  <% end %>
                  <% current_user.offices.each do |o| %>
                      <option id="office_<%= o.id %>" duration="<%= o.consult_duration %>" value="<%= o.id %>"><%= o.name %></option>
                  <% end %>
                </select>
            </div>

            <div class="col-md-6">
              <strong>Estado:</strong> <br>
                <select class="selectpicker" id="activity_status">
                  <% ActivityStatus.all.each do |as| %>
                      <option class="activity_status option_status_<%= as.activity_type.id %>" value="<%= as.id %>"><%= as.name %></option>
                  <% end %>
                </select>
            </div>

            <div class="col-xs-12" id="patient_div" style="display: none;">
              <br>
              <div class="form-group">
                <label for="activity_name">Paciente</label>
                <div class="fg-line">
                  <input type="text" class="input-sm form-control input-lg search-patient" name="" id="activity_patient" placeholder="Ingrese el nombre del paciente">
                </div>
              </div>
            </div>

            </div>
          <div class="row">
            <div class="col-xs-12">
              <br>
              <div class="form-group">
                <label for="activity_name">Actividad</label>
                <div class="fg-line">
                  <input type="text" class="input-sm form-control input-lg" id="activity_name" placeholder="Ingrese el nombre de la actividad">
                </div>
              </div>
            </div>
            </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_details">Detalles</label>
                <div class="fg-line">
                  <textarea class="input-sm form-control input-lg" id="activity_details" placeholder="Ingrese los detalles de la actividad"></textarea>
                </div>
              </div>
            </div>
          </div>

            <div class="row">
            <div class="col-md-3">
             <div class="form-group fg-line">
                <label for="activity_start_date">Fecha Inicio</label>
                <input class="form-control input-lg date-picker"
                       id="activity_start_date" placeholder="Fecha Inicio" type="text">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group fg-line">
                <label for="activity_start_time">Hora Inicio</label>
                <input class="form-control input-lg form-control time-picker"
                       id="activity_start_time" placeholder="H. Inicio" type="text">
              </div>
            </div>
            <div class="col-md-3">

             <div class="form-group fg-line">
                <label for="activity_end_date">Fecha Fin</label>
                <input class="form-control input-lg form-control date-picker"
                       id="activity_end_date" placeholder="Fecha Fin" type="text">
              </div>


            </div>
            <div class="col-md-3">
              <div class="form-group fg-line">
                <label for="activity_end_time">Hora Fin</label>
                <input class="form-control input-lg form-control time-picker"
                       id="activity_end_time" placeholder="H. Fin" type="text">
              </div>
            </div>
              </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="checkbox m-b-10">
                <label>
                  <input class="" type="checkbox" id="all_day_activity">
                  <i class="input-helper"></i>Todo el día
                </label>
              </div>
            </div>
          </div>



        </form>
      </div>
      <input type="hidden" id="url_validate_date" value="<%= validate_date_doctor_activities_url %>"/>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="addEvent">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="activity_operation" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div style="text-align: center"><h4 class="modal-title" id="activity_book_title">Información de la actividad</h4></div>
      </div>
      <div class="modal-body" id="activity_information" style="font-size: 16px;">

      </div>
      <div class="modal-footer">
        <div style="">
        <button type="button" class="btn btn-danger" id="delete_activity_modal" onClick="delete_activity_modal()">Eliminar</button>
        <button type="button" class="btn btn-primary waves-effect" id="delete_activity_modal" onClick="update_activity_modal()">Editar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="change_date_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <div style="text-align: center"><h4 class="modal-title" id="">Seleccionar fecha</h4></div>
      </div>
      <div class="modal-body" id="small_calendar_modal" style="height: 400px;">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<% if !@activate_notification.nil? and @activate_notification %>

    <%= hidden_field_tag 'active_notification', @activate_notification %>
    <%= hidden_field_tag 'title_notification', @title_notification %>
    <%= hidden_field_tag 'message_notification', @message_notification %>
    <%= hidden_field_tag 'type_notification', @type_notification %>

<% end %>

<%= hidden_field_tag 'url_load_doctor_offices', url_for(:controller => 'admin/doctors', :action => 'get_doctor_offices', :only_path => true) %>
<%= hidden_field_tag 'url_load_asset_activities', url_for(:controller => 'admin/fixed_asset_activities', :action => 'load_asset_activities', :only_path => true) %>

<%= hidden_field_tag 'asset_activities_url', admin_asset_activities_path  %>
<%= hidden_field_tag 'url_get_fixed_asset_activities', url_for(:controller => 'admin/fixed_assets', :action => 'get_fixed_asset_activities', :only_path => true) %>

<%= hidden_field_tag 'load_fixed_activity', admin_asset_activities_path %>
<%= hidden_field_tag 'url_delete_fixed_activity', delete_fixed_activity_admin_fixed_asset_activities_url  %>
<input type="hidden" id="fixed_asset_item_id">
<input type="hidden" id="doctor_id">
<!-- Add event -->

<!--<div class="modal fade" id="asset_activity_operations" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div style="text-align: center"><h4 class="modal-title" id="activity_book_title">Información de la actividad</h4></div>
      </div>
      <div class="modal-body" id="asset_activity_information" style="font-size: 16px;">

      </div>
      <div class="modal-footer">
        <div style="">
          <button type="button" class="btn btn-danger" id="delete_asset_activity_modal">Eliminar</button>
          <button type="button" class="btn btn-primary waves-effect" id="edit_asset_activity_btn">Editar</button>
          <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="modal fade" id="addNew-event_fixed" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addEventTitleAsset">Agregar Actividad</h4>
      </div>
      <div class="modal-body">
        <form class="addEvent" role="form">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="eventName">Tipo</label>
                <div class="event-tag" id="fixed_asset_acitivities_div">
                  <% FixedAssetActivity.all.each do |at| %>
                  <span
                  data-tag="<%= at.color %>" style="background: <%= at.color %> "
                  class="<%= at.color %>" activity-type-fixed="<%= at.id %>"></span>
                      <strong class="activity_type_name_fixed"><%= at.name %></strong>&nbsp;&nbsp;&nbsp;
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <%= hidden_field_tag 'edit_asset_activity_id' , '' %>
          <%= hidden_field_tag 'form_action_asset_activity' , 'add' %>

          <div class="row">
            <div class="col-xs-12">
              <br>
              <div class="form-group">
                <label for="activity_name">Actividad</label>
                <div class="fg-line">
                  <input type="text" class="input-sm form-control input-lg" id="activity_name_fixed" placeholder="Ingrese el nombre de la actividad">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_details">Detalles</label>
                <div class="fg-line">
                  <textarea class="input-sm form-control input-lg" id="activity_details_fixed" placeholder="Ingrese los detalles de la actividad"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group fg-line">
                <label for="activity_start_date">Fecha Inicio</label>
                <input class="form-control input-lg date-picker"
                       id="activity_start_date_fixed" placeholder="Fecha Inicio" type="text">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group fg-line">
                <label for="activity_start_time">Hora Inicio</label>
                <input class="form-control input-lg form-control time-picker"
                       id="activity_start_time_fixed" placeholder="H. Inicio" type="text">
              </div>
            </div>
            <div class="col-md-3">

              <div class="form-group fg-line">
                <label for="activity_end_date">Fecha Fin</label>
                <input class="form-control input-lg form-control date-picker"
                       id="activity_end_date_fixed" placeholder="Fecha Fin" type="text">
              </div>


            </div>
            <div class="col-md-3">
              <div class="form-group fg-line">
                <label for="activity_end_time">Hora Fin</label>
                <input class="form-control input-lg form-control time-picker"
                       id="activity_end_time_fixed" placeholder="H. Fin" type="text">
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete_asset_activity_modal">Eliminar</button>
        <button type="submit" class="btn btn-primary" id="addEventCalendar_fixed">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>