<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Terminos y condiciones</h4>
    </div>
    <div class="modal-body">
      <h2 style="text-align: center; color: #064475;">TÉRMINOS Y CONDICIONES DE USO DE LA PLATAFORMA MÉDICA DIGITAL MEDSI</h2>
      <p>
        Los términos y condiciones de uso que a continuación se presentan (en
        lo sucesivo convencionalmente denominados “<strong>Términos de Uso</strong>”)
        constituyen un acuerdo expreso entre la sociedad mercantil denominada
        <strong>Sistemas Tecnológicos J2, S.A. de C.V.</strong> (en lo sucesivo
        convencionalmente denominada como la “<strong>Sociedad</strong>” o
        “<strong>TechSystems</strong>”, indistintamente) y cualquier usuario que use o tenga
        acceso, directa e indirectamente, a la plataforma digital Medsi (en lo
        sucesivo convencionalmente denominada “<strong>Medsi</strong>”),
        independientemente de la versión, aplicación, herramienta, dispositivo
        (aparato de telefonía móvil, ordenador, etc.), presentación, etc. de esta
        última.
      </p>
      <p>
        Se denomina en lo sucesivo y convencionalmente “<strong>Usuario</strong>” a quien utilice
        la plataforma digital Medsi, para cualquier fin, función y/o utilidad
        que le dé, independientemente si se trata de algún médico, paciente u
        otro. Las diferentes categorías o clasificaciones de Usuarios obligan a los
        mismos a la observación y cumplimiento de los presentes Términos de
        Uso y las prerrogativas, características, beneficios o restricciones que
        conllevan dichas clases, no constituyen ni implican de ninguna forma el
        incumplimiento de los presentes términos.
      </p>
      <p>
        La utilización de Medsi, por parte de cualquier persona, le atribuye la
        calidad de Usuario y ello implica su adhesión plena e incondicional a
        estos Términos de Uso así como al Aviso de Privacidad y políticas de
        confidencialidad de la Sociedad, por ello se invita y exhorta al Usuario
        a leerlos y evaluarlos ya que su aceptación significa también sujeción
        expresa a las modificaciones que pudieran surgir, mismas que se
        informarán oportunamente al Usuario a través de
        https://www.medsi.com.mx/ y que surtirán efecto inmediatamente
        después de su publicación.
      </p>

      <h2 style="color: #064475;">OBJETO</h2>

      <p>
        Medsi es una plataforma digital especializada que ofrece diversos
        servicios al sector salud privado a través del manejo electrónico del
        expediente médico de las personas, con servicios especializados en las
        áreas de Pediatría y Ginecología.
      </p>
      <p>
        El Usuario reconoce que el uso de Medsi no implica ningún derecho de
        propiedad ni posesión de dicha plataforma digital ni de sus contenidos,
        incluyendo enunciativa no limitativamente la Propiedad Intelectual, pues
        como Usuario única y exclusivamente tiene derecho a acceder y usar los
        servicios de la mencionada plataforma.
      </p>
      <p>
        La Sociedad se reserva expresamente el derecho a modificar en cualquier momento
        y sin necesidad de previo aviso la presentación, configuración, información,
        servicios, contenido y en general cualquier parte o aspecto relacionado directa
        o indirectamente con Medsi.
      </p>

      <h2 style="color: #064475;">ACCESO Y UTILIZACIÓN</h2>
      <p>
        El acceso y utilización de Medsi para los médicos y demás profesionistas del
        sector salud, tendrá el costo y las prerrogativas que éstos elijan adquirir a
        través del contrato o medio correspondiente, lo cual estará relacionado
        directamente con la calidad de Usuario que tendrán. El acceso y utilización de
        Medsi para los pacientes será gratuito. La Sociedad se reserva el derecho a
        modificar el precio, costo, modalidad, prerrogativas, restricciones y contenido
        de los diferentes paquetes o clases de Usuarios de Medsi, sin contraer ninguna
        responsabilidad.
      </p>

      <p>
        Tanto la adquisición de Medsi como los pagos o transacciones que se realicen a
        través de dicha plataforma podrían estar sujetos a cargos adicionales aplicados
        por las instituciones bancarias y/o empresas intermediarias, según sus propios
        términos y condiciones de servicios.
      </p>
      <p>
        La Sociedad no adquirirá ni tendrá ninguna responsabilidad u obligación respecto
        a las transacciones que se realicen a través de Medsi, pues dicha plataforma sólo
        facilita la realización y procesamiento de pagos, cobros, transferencias y demás
        transacciones, siendo un medio o vínculo de conexión entre las partes interesadas
        en dichos actos (médicos, pacientes, instituciones bancarias, etc.).

        La Sociedad no se hace responsable por el incumplimiento o cualquier otro perjuicio
        originado de las transacciones entre Usuarios, pacientes y demás terceros,
        realizadas a través de Medsi, toda vez que dichas transacciones se realizan
        bajo el propio riesgo de aquellos y la plataforma en comento únicamente ofrece
        el medio de contacto entre los mismos.
      </p>

      <p>
        Los Usuarios de Medsi pertenecientes al sector salud privado son los únicos
        responsables del contenido y la actualización de la información de los expedientes
        médicos de sus pacientes y estos últimos son los responsables del manejo y publicidad
        que le den a dicha información. Los Usuarios médicos no asumen responsabilidad
        por el manejo que sus pacientes le den a sus expedientes clínicos. La Sociedad,
        por su parte, cuenta con sistemas de protección de datos, privacidad y confidencialidad
        propios, asegurando el manejo responsable de la información que soporta, sin embargo
        no asume ningún tipo de responsabilidad u obligación respecto a lo que cada Usuario,
        sea médico, paciente u otro tercero, elija, consciente e inconscientemente, realizar
        con dicha información.

        Los Usuarios de Medsi pertenecientes al sector salud privado son los únicos responsables
        del manejo, oferta, comercialización y disponibilidad de los servicios que ofrezcan,
        sus costos, horarios, condiciones de prestación de dichos servicios, etc.

        Para acceder a Medsi el Usuario estará obligado a registrarse en dicha plataforma a
        través de su dispositivo móvil o por medio de la plataforma web correspondiente,
        proporcionando los datos que les sean solicitados. Una vez registrado se le enviará al
        Usuario un correo de activación de la cuenta que le corresponde, al correo electrónico
        proporcionado, el cual contendrá un enlace en el que el Usuario tendrá que ingresar
        para que pueda formar parte de la plataforma. La clave del Usuario y su contraseña son
        datos únicos y propios del Usuario, por lo que éste asume la responsabilidad de mantener
        la confidencialidad y el uso de sus datos de Usuario y contraseña. El Usuario de
        igual manera podrá registrarse utilizando una cuenta alterna de redes sociales de
        manera enunciativa, no limitativa, como son Facebook, Twitter y Google Plus, en el
        caso de que se opte por esta opción, Medsi tomará los datos de registro así como el
        perfil que el Usuario proporcionó en la red social correspondiente.

        Independientemente de la vía o medio de acceso a Medsi, el Usuario deberá aceptar
        haber leído y conocer los presentes Términos de Uso y demás reglas de confidencialidad
        y privacidad de Medsi.

        El Usuario podrá en cualquier momento modificar sus datos de registro, así como sus
        contraseñas o claves. La veracidad, fidelidad y exactitud de los datos de registro es
        responsabilidad única y exclusiva del Usuario.

        El Usuario podrá en cualquier momento eliminar su cuenta de la plataforma y sus datos
        a través de una solicitud al correo atencion@techsystems.com.mx.
      </p>

      <p>
        El Usuario podrá consultar los servicios y amenidades de Medsi en
        https://www.medsi.com.mx/

        Sólo los Usuarios del sector salud que adquieran de la Sociedad la licencia de uso de
        la plataforma y sean autorizados por la misma, tienen derecho al acceso y uso de Medsi,
        así como a ofrecer y prestar sus servicios a través de la plataforma. Cualquier otro acceso
        o uso que se le dé a Medsi se considerará ilegal y será sancionado en base a la
        legislación aplicable. Los Usuarios que tengan la calidad de pacientes o se beneficien
        de los servicios de los profesionistas del sector salud a través de Medsi podrán acceder
        y usar Medsi de forma gratuita.

        Cada Usuario que ofrezca sus servicios a través de la plataforma será el responsable
        de la configuración de privacidad de su respectiva cuenta, la cual podrá modificar,
        ampliar o restringir en todo momento mientras su licencia de acceso y uso esté vigente.

        El Usuario autoriza a la Sociedad para que le envíe notificaciones de actualización
        de la plataforma, de mantenimiento, promociones, costos, nuevas funcionalidades y servicios
        y en general cualquier aviso que se estime necesario y conveniente para el Usuario.
      </p>

      <h2 style="color: #064475;">OBLIGACIONES DE HACER USO CORRECTO DE MEDSI Y DE LOS SERVICIOS</h2>

      <p>
        El Usuario se compromete y obliga a utilizar la plataforma digital médica Medsi, la
        información, el contenido y los servicios, entre otros, conforme a las leyes aplicables
        así como a lo dispuesto en estos Términos de Uso y en total respeto al orden público,
        la moral, la privacidad, la confidencialidad y las buenas costumbres. De igual manera,
        el Usuario se compromete y obliga a no lesionar o dañar los derechos o intereses de la
        Sociedad y de las personas vinculadas o relacionadas con ésta, directa o indirectamente o de terceros.

        El Usuario utilizará Medsi, su información, contenido y/o los servicios de manera que no dañe,
        inutilice, deteriore o menoscabe dicha plataforma.

        El Usuario hará uso de la información, contenido y/o servicios de Medsi empleando para ello
        únicamente los medios o procedimientos establecidos dentro de dicha plataforma.
      </p>

      <h2 style="color: #064475;">OBLIGACIÓN DE HACER USO CORRECTO DE LA INFORMACIÓN Y CONTENIDO DE MEDSI</h2>

      <p>
        El Usuario se obliga a usar la información y Contenido de Medsi de forma diligente, correcta,
        apropiada y lícita.

        De forma enunciativa no limitativa, el Usuario se compromete y obliga a abstenerse de:

        1.- Utilizar la información y contenido en comento, de forma, con fines o efectos contrarios a
        la ley, al orden público, a la moral, buenas costumbres y a lo establecido en estos Términos de Uso.

        2.- Dar un uso, manejo o publicidad indebidos a la información y contenido de Medsi,
        sea directa o indirectamente, intencionalmente o no, con o sin fines de lucro, con la
        intención o no de prestar servicios profesionales o recibirlos.

        Cualquier uso ajeno o distinto que el Usuario dé o pretenda dar al contenido e información
        que exista en la plataforma, deberá contar para ello con autorización expresa del titular
        de dicha información o contenido. La Sociedad no adquiere ningún tipo de responsabilidad
        en caso de que no exista tal autorización, pues tanto el Usuario ofertante de servicios como
        el Usuario que se beneficia de los mismos son responsables del uso, manejo o publicidad que
        le den a la información y contenido que tengan a su alcance.

        3.- Modificar, manipular, alterar, invalidar, ocultar, dar un uso no apropiado o indebido a
        las marcas, logotipos, avisos comerciales, slogans, patentes, diseños industriales, nombres
        comerciales y signos distintivos en general de la Sociedad y de los productos, sistemas, servicios,
        personas, etc. vinculadas directa o indirectamente con la misma.

        La Sociedad declara que todo el contenido utilizado en la plataforma, mismo que se señala
        de manera enunciativa y ejemplificativa en el párrafo inmediato anterior, se encuentra
        debidamente registrado y protegido por las autoridades y leyes correspondientes en México.
        Todos estos derechos de propiedad intelectual, incluyendo derechos de autor y derechos de
        propiedad industrial, pertenecen a la Sociedad.

        4.- Suprimir, eludir o modificar cualquier mecanismo o procedimiento establecido para
        el correcto funcionamiento de Medsi.
      </p>

      <h2 style="color: #064475;">OBLIGACIÓN DE OBSERVAR LAS INSTRUCCIONES</h2>

      <p>
        El Usuario se compromete a seguir, cumplir y acatar cualquier instrucción impartida
        por la Sociedad, por la misma plataforma digital Medsi o por el personal autorizado,
        relacionada con el acceso y uso de dicha plataforma, su contenido, información y
        los servicios que se ofrecen a través de la misma.
      </p>

      <h2 style="color: #064475;">RESPONSABILIDAD POR DAÑOS Y PERJUICIOS</h2>

      <p>
        El Usuario responderá por cualquier daño y/o perjuicio de cualquier naturaleza que
        ocasionare a la Sociedad o algún tercero, por incumplir estos Términos de Uso o cualquier
        normatividad aplicable.

        Sin perjuicio de lo establecido en el párrafo anterior, en el supuesto de que la Sociedad
        fuera sancionada, multada o condenada por autoridad competente a indemnizar a cualquier
        persona por un daño y/o perjuicio causado por algún Usuario, el Usuario responsable deberá
        responder de dicha sanción, multa o condena en favor de la Sociedad, en el monto que
        corresponda, lo que se obliga a realizar dentro de los 30 días naturales siguientes en
        que la Sociedad o la autoridad competente, indistintamente, haga de su conocimiento, el
        monto respectivo. En caso de no proceder en tiempo y forma con base a lo anterior, el
        Usuario se obliga a pagar a la Sociedad por concepto de pena convencional por el mero
        retraso en el cumplimiento de la obligación, una cantidad equivalente a la totalidad
        de la suerte principal en que se hubiera afectado a la Sociedad.
      </p>

      <h2 style="color: #064475;">DATOS DE CARÁCTER PERSONAL</h2>

     <p>
       Para utilizar algunos de los servicios de Medsi será necesario que el Usuario proporcione
       algunos datos personales y sensibles, cuyo tratamiento en general podrá consultar en el
       siguiente Aviso de Privacidad:
       http://www.techsystems.com.mx/archivos/AvisoPrivacidad.pdf.

       La Sociedad podrá administrar de forma automática dichos datos. Los Usuarios al acceder a
       la plataforma en cuestión están autorizando a la Sociedad a realizar el manejo, almacenamiento,
       análisis y estudio de dichos datos y con base en ellos.

       La Sociedad no asume responsabilidad alguna respecto a la veracidad y fidelidad de los
       datos personales de los Usuarios. En caso de que estos últimos dieran información
       falsa o confusa, la Sociedad podrá reservarles, restringirles o negarles el derecho
       de acceso y uso de Medsi.

       Por el hecho de proporcionar sus datos personales para el acceso y uso de Medsi,
       los Usuarios están autorizando a la Sociedad a dar a conocer a cualquier autoridad
       competente la información respectiva, en caso de que ésta sea solicitada por los medios
       jurídicos correspondientes.

       La Sociedad se reserva el derecho de almacenar y de utilizar los datos personales
       de los Usuarios para sus propios propósitos internos de acuerdo a lo establecido
       en el Aviso de Privacidad correspondiente y conforme a la ley aplicable.

     </p>

      <h2 style="color: #064475;">UTILIZACIÓN DE MEDSI, DE LOS SERVICIOS Y DE LOS CONTENIDOS BAJO LA EXCLUSIVA RESPONSABILIDAD DEL USUARIO</h2>

      <p>
        El Usuario deberá garantizar que él o cualquiera que utilice su clave de
        acceso a Medsi no realizará ninguna actividad contraria, adversa o diferente
        a los fines, servicios, objetivos y propósitos de Medsi, así como tampoco
        ninguno de los siguientes supuestos que se mencionan de manera enunciativa:

        <ul>
          <li>Compartir propaganda, información, avisos, noticias, etc. de algún sistema,
            plataforma, aplicación, software, etc. similar, en todo o en parte, a Medsi.
          </li>
          <li>
            Compartir imágenes y propaganda política o religiosa.
          </li>
          <li>
            Compartir cualquier tipo de contenido obsceno, difamatorio, degradante
            o que viole la privacidad y derechos de cualquier persona.
          </li>
          <li>
            Compartir, publicar, reproducir, alterar y/o mostrar, indebidamente y para
            fines ajenos a la prestación o goce de servicios a través de Medsi, de cualquier
            información que hubiera sido obtenida en calidad de confidencial y sin
            autorización o permiso de su titular.
          </li>
          <li>
            Publicar, utilizar o transmitir dentro del sistema de la plataforma Medsi,
            información violatoria de cualquier ley aplicable en México o algún otro
            país donde se utilice Medsi o que sea contraria a las políticas de privacidad
            y confidencialidad de la Sociedad.
          </li>
          <li>
            Queda prohibido cualquier otro uso que atente contra el orden público,
            la moral y las buenas costumbres.
          </li>
        </ul>

      La Sociedad se reserva el derecho de revisar, remover, editar o bloquear cualquier
      contenido o información que el Usuario haya publicado, enviado, compartido, hecho
      público, etc., siempre que lo estime conveniente, pudiendo incluso suspender o
      prohibir el acceso y uso de Medsi al Usuario, ya sea de manera temporal o permanentemente.

      El Usuario entiende y reconoce que la información, datos, diagnósticos, recetas, estudios,
      expedientes, etc. que se comparte, maneja, muestra o contiene en Medsi es responsabilidad
      de su emisor. La Sociedad no es responsable de cualquier acción que el Usuario decida
      realizar o no en base y/o como resultado de la información contenida en Medsi.

      La Sociedad es ajena e independiente a los vínculos de internet externos y que puedan
      ser accedidos por medio de o dentro de Medsi y por consiguiente no asume responsabilidad
      alguna respecto a la veracidad, capacidad y legalidad del contenido de la
      información de dichos vínculos.
      </p>

      <h2 style="color: #064475;">EXCLUSIÓN DE GARANTÍAS Y DE RESPONSABILIDAD</h2>

    <p>
      Disponibilidad y continuidad: La Sociedad no tiene control total de los factores y accesos
      que pudieran afectar el correcto desempeño de Medsi, por lo tanto, no se garantiza a los
      Usuarios la no ocurrencia de fallas en la operación y/o de los servicios de la plataforma
      en cuestión, lo que el Usuario conoce, entiende y acepta.

      Exclusión de garantías y de responsabilidad por el Contenido, virus y otros elementos dañinos:
      La Sociedad no controla y no garantiza la ausencia de virus en el contenido de Medsi, ni la
      ausencia de otros elementos que puedan producir alteraciones en el sistema informático
      del Usuario o en la plataforma misma.

      Por el sólo hecho de acceder a Medsi, los Usuarios renuncian a su derecho de demandar por
      cualquier vía a la Sociedad, por todo daño o perjuicio que sufrieran en su sistema informático
      (software), o en su dispositivo móvil, por haber usado Medsi y/o los servicios y/o el
      contenido, o porque éstos le hubieran transmitido un virus o cualquier otro elemento dañino.

      Se prohíbe el uso de cualquier método, sistema, técnica o herramienta de carácter tecnológico,
      no incluidos en alguno de los manuales o tutoriales publicados por la Sociedad o que no
      estén aprobados para el funcionamiento de Medsi. Si el Usuario no cumpliera con lo establecido
      en este párrafo, la Sociedad no se hará responsable por los daños que se pudieran presentar.

      Licencia: La Sociedad autoriza a los Usuarios a utilizar Medsi exclusivamente en los términos
      y condiciones aquí expresadas, sin que ello implique que les concede licencia o autorización
      alguna o algún tipo de derecho distinto al acceso y uso de dicha plataforma. La propiedad
      Intelectual de Medsi (marcas registradas o no y/o usadas en México o en el extranjero,
      invenciones (patentadas o no), diseños industriales, modelos de utilidad, información
      confidencial, nombres comerciales, avisos comerciales, reservas de derechos, dominios,
      así como todo tipo de derechos patrimoniales sobre obras y creaciones protegidas por
      derechos de autor y demás formas de propiedad industrial o intelectual reconocida o que
      lleguen a reconocer las leyes correspondientes) pertenece única y exclusivamente a la Sociedad.

      La Sociedad se reserva el derecho a negar o retirar el acceso a Medsi y/o a los servicios,
      en cualquier momento y sin necesidad de previo aviso, por iniciativa propia o a petición de
      cualquier persona, a aquellos Usuarios que den un uso indebido a dicha plataforma, a cualquiera
      de sus partes o secciones o a su contenido e información, o que incumplan total o parcialmente
      estos Términos de Uso y/o las condiciones que resulten aplicables.
    </p>

      <h2 style="color: #064475;">DURACIÓN Y TERMINACIÓN</h2>

      <p>
        La prestación de los servicio de Medsi tendrán la duración que los Usuarios que ofrezcan
        sus servicios a través de la misma elijan y adquieran.

        En caso de que la sociedad lo estime necesario, podrá terminar, suspender o interrumpir,
        en cualquier momento, la prestación de los servicios a través de Medsi, lo que realizará
        unilateralmente, tomando todas las precauciones y medidas de seguridad posibles.
      </p>

      <h2 style="color: #064475;">SANCIONES</h2>

    <p>
      Independientemente de los tipos penales, eventos, supuestos y actos que los Usuarios realicen
      y que se encuentren sancionados o condenados por las leyes correspondientes, la sanción o
      infracción por el mal uso de Medsi quedará a consideración de la Sociedad, pudiendo ésta,
      en todo momento, recurrir a las vías judiciales o extrajudiciales que correspondan.
    </p>

      <h2 style="color: #064475;">OTRAS DISPOSICIONES</h2>

    <p>
      El Usuario acepta que una versión impresa de éstos Términos y Condiciones y de cualquier
      comunicación enviada y/o recibida en forma electrónica, será admisible como medio
      probatorio en cualquier procedimiento judicial y/o administrativo.

      Los presentes Términos de Uso se han redactado originalmente en idioma español en los Estados
      Unidos Mexicanos. En el caso de que alguna versión traducida de estos Términos de Uso
      entre en conflicto con la presente versión, prevalecerá esta última.

      En todo lo relacionado con la interpretación y cumplimiento de lo aquí dispuesto, por el
      sólo hecho de acceder a Medsi, el Usuario acepta someterse a las leyes aplicables y a la
      jurisdicción de los tribunales competentes en la ciudad de Mérida, Yucatán, México,
      renunciado a cualquier otra jurisdicción que por razón de sus domicilios presentes o futuros,
      o por cualquiera otra razón pudiese corresponderles.

      En caso de que alguno de los términos y condiciones aquí expresados sea considerado no
      ejecutable o se declare nulo o inválido de acuerdo con la legislación aplicable, éste será
      sustituido por un término o condición del mismo sentido y espíritu, que sea válido y que
      pueda cumplir con mayor rigor el objetivo de la disposición no ejecutable o que haya sido
      declarada nula o inválida. Los demás términos y condiciones continuarán en plena vigencia.

      Cualquier derecho que no se haya conferido expresamente en éste documento se entiende
      reservado a la Sociedad.
    </p>

      <p>Última Modificación: agosto de 2016.</p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link" id="accept_terms_conditions" >Aceptar</button>
      <button type="button" class="btn btn-link" id="cancel_terms_conditions">Cancelar</button>
    </div>
  </div>
</div>
<input type="hidden" id="update_terms" value="<%= doctor_update_terms_conditions_url %>"/>