<h4 class="system_name">
  APARATO GENITAL
</h4>

<%
  cols = GenitalAp.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'description' => {
          :class => 'col-md-12',
          :label => 'DESCRIPCIÓN',
          :placeholder => 'Masculinos: hernias, secreción o lesiones de pene, dolor o masas testiculares, dolor o tumefacción escrotal, antecedente de enfermedades de transmisión sexual y su tratamiento. Hábito, interés, función y satisfacción sexual, métodos anticonceptivos, uso de preservativos y problemas. Exposición a la infección por el VIH.
          Femeninos: Edad de la menarquía, regularidad, frecuencia y duración del período, volumen de la hemorragia, hemorragia entre los períodos o después del coito, ultima menstruación, dismenorrea, tensión premenstrual, edad de la menopausia, tensión posmenopáusica. Si la paciente nació después de 1971, exposición al dietilestilbestrol (DES) por consumo de la madre durante la gestación (se relaciona con carcinoma de cuello uterino). Flujo vaginal, picor, lesiones, bultos, enfermedades de transmisión sexual y su tratamiento. Número de embarazos, número y tipo de partos, número de abortos (espontáneos e inducidos). Complicaciones del embarazo, métodos anticonceptivos. Preferencia, interés, función, satisfacción y posibles problemas sexuales, incluida la dispareunia. Infección por VIH.'
      },
      'menarquia' => {
          :label => 'MENARQUIA',
          :placeholder => '¿a qué edad fue su primera regla?'
      },
      'menstrual_rhythm' => {
          :label => 'RITMO MENSTRUAL',
          :placeholder => '¿cada cuánto le suele venir la regla? ¿Y cuánto suele durar? Primero se escribe el número de los días que suele durar el ciclo y luego el número de días que suele manchar. Ej.: 28/5, 26-32/5, 30/5-8, etc.'
      },
      'hypermenorrea' => {
          :label => 'HIPERMENORREA, HIPOMENORREA',
          :placeholder => '¿mancha mucha cantidad? ¿Cuántas compresas? ¿Tiene menos flujo de lo habitual?'
      },
      'amenorrea' => {
          :label => 'AMENORREA',
          :placeholder => '¿desde cuándo no tiene la regla?'
      },
      'metrorragia' => {
          :label => 'METRORRAGIA',
          :placeholder => '¿mancha fuera del período de la regla?'
      },
      'leucorrea' => {
          :label => 'LEUCORREA',
          :placeholder => '¿tiene flujo blanco o amarillo, maloliente?'
      },
      'dismenorrea' => {
          :label => 'DISMENORREA',
          :placeholder => '¿tiene una menstruación dolorosa?'
      },
      'dispareunia' => {
          :label => 'DISPAREUNIA',
          :placeholder => 'si me permite la pregunta… ¿siete dolor a la hora de mantener relaciones?'
      },
      'impotence' => {
          :label => 'IMPOTENCIA',
          :placeholder => 'si me permite que le pregunte… ¿tiene dificultad a la hora de mantener las relaciones? ¿Y me podría decir dónde reside la dificultad?'
      },
      'libido' => {
          :label => 'LÍBIDO',
          :placeholder => 'si me permite la pregunta… ¿siente un aumento o disminución de su apetito sexual?'
      }
  }
%>

<script>
    var genital_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var genital_aps_url = "<%= doctor_genital_aps_path %>";
</script>

<%
  record = @medical_history.genital_ap.nil? ? {} : @medical_history.genital_ap.as_json
%>

<%= render partial: '/doctor/medical_expedients/systems/form_section', locals: {:record => record, :form_config => form_config, :cols => cols} %>