<h4 class="system_name">
  APARATO CARDIOVASCULAR
</h4>

<%
  cols = CardiovascularAp.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'description' => {
          :class => 'col-md-12',
          :label => 'DESCRIPCIÓN',
          :placeholder => 'Palpitaciones, disnea, dolor precordial o retroesternal, opresión durante el ejercicio, edema de miembros inferiores, historia de hipertensión arterial o de haber estado ingiriendo drogas para el corazón, claudicación intermitente, electrocardiograma u otras pruebas cardiacas (ecocardiograma), historia de ortopnea (preguntar sobre el número de almohadas que usa para dormir). Fiebre reumática, soplos.'
      },
      'chest_pain' => {
          :label => 'DOLOR TORÁCICO',
          :placeholder => '¿le duele el pecho? ¿Desde cuándo? ¿En qué zona le duele, por delante o en un costado? ¿Y es la primera vez que le duele así? ¿Es un dolor de tipo pinchazo o de tipo opresivo, como si le estuvieran comprimiendo (algunos hacen el SIGNO DE LEVINE, con el puño cerrado, cuando es cardíaco)? ¿Se acompaña de angustia (cardíaco)? ¿Se acompaña de náuseas, vómito o sudoración (CORTEJO VEGETATIVO)? ¿Aumenta tras tragar (esofágico)? ¿Es de tipo difuso (interno) o lo puede señalar a punta de dedo (mecánico)? ¿Se ha dado algún golpe o ha hecho alguna maniobra brusca? ¿Aumenta al realizar algún esfuerzo (cardíaco)? ¿Aumenta con el estrés, la tristeza o una gran preocupación (cardíaco)? ¿Aumenta con alguna postura (mecánico)? ¿Aumenta con la inspiración profunda (respiratorio)? ¿Se calma al apoyarse o tumbarse sobre el lado que me duele (pleurítico)? ¿Disminuye al agacharse (pericárdico)? ¿Es un dolor intensísimo y desgarrador localizado entre? ¿Escápulas (disección aórtica)?'
      },
      'edema' => {
          :label => 'EDEMAS',
          :placeholder => '¿se le hinchan los pies últimamente (especialmente por las tardes)?'
      },
      'dyspnoea' => {
          :label => 'DISNEA',
          :placeholder => '¿tiene usted la sensación de que le falta el aire? Es mucho mejor realizar esta pregunta y no “¿se fatiga usted?”, ya que muchos pacientes confunden fatiga con cansancio (astenia). ¿Cuándo nota usted sensación de falta de aire, al subir escaleras (grado II), al hacer pequeños esfuerzos como caminar un poco (grado III) o incluso en reposo (grado IV de la NYHA)? ¿Y esta sensación de falta de aire la tenía habitualmente o ha aumentado en estos últimos días u horas? ¿Esta sensación de falta de aire, ¿ha aparecido bruscamente (TEP) o poco a poco (descompensación INSUF. CARDÍACA)?'
      },
      'paroxysmal_nocturnal_dyspnea' => {
          :label => 'DISNEA PAROXÍSTICA NOCTURNA',
          :placeholder => '¿se despierta por la noche porque le falta el aire?'
      },
      'orthopnea' => {
          :label => 'ORTOPNEA',
          :placeholder => '¿con cuántas almohadas duerme usted?'
      },
      'palpitations' => {
          :label => 'PALPITACIONES',
          :placeholder => '¿siente latir fuerte su corazón?'
      },
      'syncope_presyncope' => {
          :label => 'SÍNCOPE, PRESÍNCOPE',
          :placeholder => '¿ha perdido el conocimiento en algún momento (síncope) o ha sentido que lo iba a perder (presíncope)?'
      },
      'peripheral_vascular' => {
          :label => 'VASCULAR PERIFERICO',
          :placeholder => 'Claudicación intermitente, calambres en las piernas, varices venosas, coágulos anteriores en las venas, edema en pantorrillas y pies, tumefacción con eritema o dolor.'
      }
  }
%>

<script>
  var cardio_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
  var cardiovascular_aps_url = "<%= doctor_cardiovascular_aps_path %>";
</script>

<%
  record = @medical_history.cardiovascular_ap.nil? ? {} : @medical_history.cardiovascular_ap.as_json
%>

<%= render partial: '/doctor/medical_expedients/systems/form_section', locals: {:record => record, :form_config => form_config, :cols => cols} %>