<div class="row">
  <% cols.each do |i| %>
      <% if form_config[i].nil? %>
          <div class="col-md-12 alert alert-danger">Configuración no encontrada para el campo: <%= i %></div>
      <% next
         end %>
      <div class="<%= form_config[i][:class].present? ? form_config[i][:class] : 'col-md-6' %> form_item_holder">
        <strong><%= form_config[i][:label] %></strong>
        <textarea name="<%= i %>"
                  class="form-control input-lg"
                  placeholder="<%= form_config[i][:placeholder] %>"
                  rows="3"><%= record[i].nil? ? '' : record[i]  %></textarea>
      </div>
  <% end %>
  <input type="hidden" name="id" value="<%= record["id"].nil? ? '' : record["id"] %>">
  <div class="col-md-12 response_message" style="display: none;">

  </div>
</div>