<h4 class="system_name">
  INFECCIONES
</h4>

<%
  cols = InfectionOt.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'description' => {
          :class => 'col-md-12',
          :label => 'DESCRIPCIÓN',
          :placeholder => '¿ha tenido fiebre? ¿de cuánto? ¿ha tomado algún medicamento para disminuirla? Especificar cuándo y dosis. ¿Ha aparecido de forma brusca o poco a poco? ¿es continua o va y viene (intermitente)? ¿continuamente es la misma temperatura o a veces disminuye un poco, sin salirse del rango de fiebre (fluctuante)?'
      },
      'contacts' => {
          :label => 'CONTACTOS',
          :placeholder => '¿alguien más en su ámbito padece el mismo proceso?'
      },
      'stings' => {
          :label => 'PICADURAS',
          :placeholder => 'ha sufrido alguna picadura últimamente? '
      },
      'environment' => {
          :label => 'AMBIENTE',
          :placeholder => '¿dónde vive? ¿en qué trabaja? ¿qué suele hacer los días festivos? '
      },
      'foods' => {
          :label => 'COMIDAS',
          :placeholder => '¿qué ha comido últimamente algún alimento a término medio de cocimiento o caducada? '
      },
      'travels' => {
          :label => 'VIAJES',
          :placeholder => '¿ha viajado últimamente o estado en contacto con alguien que haya viajado? '
      },
      'internal_surgery_prosthesis' => {
          :label => 'CIRUGÍA Y PRÓTESIS INTERNAS',
          :placeholder => '¿de qué le han operado y cuándo? ¿tiene algún aparato dentro de su cuerpo? '
      },
      'intravenous_drugs' => {
          :label => 'DROGAS INTRAVENOSAS',
          :placeholder => 'Si me permite la pregunta, por favor, ¿es adicto a alguna sustancia? ¿y cómo se la toma? '
      },
      'tattoos' => {
          :label => 'TATUAJES',
          :placeholder => '¿tiene algún tatuaje? ¿dónde se lo realizaron (en qué establecimiento)?'
      },
      'transfusions' => {
          :label => 'TRANSFUSIONES',
          :placeholder => '¿alguna vez en su vida han tenido que transfundirle sangre?'
      },
      'sexual_activity' => {
          :label => ' ACTIVIDAD SEXUAL',
          :placeholder => 'Si me permite la pregunta, por favor, necesito saber si ha mantenido alguna relación de riesgo. Nunca preguntar delante del familiar, sino esperar a tener una oportunidad a solas.'
      }
  }
%>

<script>
    var infection_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var infection_ots_url = "<%= doctor_infection_ots_path %>";
</script>

<%
  record = @medical_history.infection_ot.nil? ? {} : @medical_history.infection_ot.as_json
%>

<%= render partial: '/doctor/medical_expedients/systems/form_section', locals: {:record => record, :form_config => form_config, :cols => cols} %>