<h4 class="system_name">
  ÓRGANOS DE LOS SENTIDOS
</h4>
<div class="system_description">

</div>

<%
  cols = SenseOrgan.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'hair' => {
          :label => 'CABELLO',
          :placeholder => 'Investigar sobre caída, cambios de coloración en el mismo.'
      },
      'skin' => {
          :label => 'PIEL',
          :placeholder => 'Investigar sobre cambios de pigmentación, aparecimiento de masas, prurito, sequedad, heridas, cambios en el tamaño o el color de los lunares.'
      },
      'head' => {
          :label => 'CABEZA',
          :placeholder => 'Cefaleas, inconciencia, traumatismo craneal, aturdimiento, mareos. OJOS: investigar sobre visión borrosa, diplopía, inflamación, edema de los párpados, lagrimeo excesivo, fotofobia, fosfenos, escotomas, dolor, enrojecimiento, visión borrosa, glaucoma, cataratas, uso de anteojos, última etc.'
      },
      'ears' => {
          :label => 'OIDOS',
          :placeholder => 'Investigar sobre la agudeza auditiva, Otorrea, Otorragia, vértigo, acufenos, otalgia, si la audición esta disminuida, uso o no de audífonos, etc.'
      },
      'nose' => {
          :label => 'NARIZ',
          :placeholder => 'Investigar sobre el número de catarros al Año, curso, obstrucción nasal, epistaxis, cambios en el olfato, secreción o picor, rinitis alérgica.'
      },
      'mouth' => {
          :label => 'BOCA',
          :placeholder => 'Sequedad de la boca, condición general de los dientes y encías (está referido por el paciente), Historia de dolor, abscesos, extracciones, anotar última visita al dentista, investigar sobre lengua dolorosa, dentadura postiza y encaje de las mismas; gingivorragia y lesiones linguales.'
      },
      'throat' => {
          :label => 'GARGANTA',
          :placeholder => 'Dolores de garganta (acompañada de fiebre, o de nódulos en el cuello), disfagia, ronquera.'
      },
      'neck' => {
          :label => 'CUELLO',
          :placeholder => 'Investigar sobre aparecimiento de masas, movilidad (dolorosa o no). (Ganglios, bocio) dolor o rigidez.'
      },
      'breasts' => {
          :label => 'MAMAS',
          :placeholder => 'Bultos, dolor o molestias, secreción por el pezón, autoexploración mamaria (hallazgos).'
      }
  }
%>

<script>
    var sense_organ_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var sense_organ_url = "<%= doctor_sense_organs_path %>";
</script>

<%
  record = @medical_history.sense_organ.nil? ? {} : @medical_history.sense_organ.as_json
%>

<%= render partial: '/doctor/medical_expedients/systems/form_section', locals: {:record => record, :form_config => form_config, :cols => cols} %>