<h4 class="system_name">
  SISTEMA METABOLICO
</h4>

<%
  cols = MetabolicSi.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'description' => {
          :class => 'col-md-12',
          :label => 'DESCRIPCIÓN',
          :placeholder => 'Preguntas residuales que cuando se formulan irán incluidas más bien en otros aparatos o sistemas.'
      },
      'weight' => {
          :label => 'PESO',
          :placeholder => '¿ha variado su peso últimamente? '
      },
      'size_body_shape' => {
          :label => 'TAMAÑO Y FORMA DEL CUERPO',
          :placeholder => '¿ha variado la forma de su cuerpo últimamente? '
      },
      'asthenia' => {
          :label => 'ASTENIA',
          :placeholder => '¿Siente cansancio últimamente?'
      },
      'weakness' => {
          :label => 'DEBILIDAD',
          :placeholder => '¿siente pérdida de fuerza?'
      },
      'appetite' => {
          :label => 'APETITO',
          :placeholder => '¿Tiene últimamente más o menos apetito? Anorexia, Hiporexia, Hiperorexia.'
      },
      'thirst' => {
          :label => 'SED',
          :placeholder => '¿Tiene más sed de lo normal? (Polidipsia)'
      },
      'hot_cold' => {
          :label => 'CALOR/FRÍO',
          :placeholder => '¿siente intolerancia al calor o al frío de reciente aparición? '
      },
      'sex' => {
          :label => 'SEXO',
          :placeholder => 'Si me permite la pregunta, ¿mantiene una actividad sexual normal o sufre dificultades? '
      },
      'galactorrea' => {
          :label => 'GALACTORREA',
          :placeholder => '¿tiene secreción por el pezón? ¿por uno (orgánico) o por ambos (funcional)? '
      },
      'age_puberty' => {
          :label => 'EDAD PUBERTAD',
          :placeholder => '¿cuándo tuvo su vello pubiano? ¿cuándo fue su primera regla?, etc.'
      }
  }
%>

<script>
    var metabolic_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var metabolic_sis_url = "<%= doctor_metabolic_sis_path %>";
</script>

<%
  record = @medical_history.metabolic_si.nil? ? {} : @medical_history.metabolic_si.as_json
%>

<%= render partial: '/doctor/medical_expedients/systems/form_section', locals: {:record => record, :form_config => form_config, :cols => cols} %>