<h4 class="system_name">
  SISTEMA PSICOSOMÁTICO
</h4>

<%
  cols = PsychosomaticSi.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'description' => {
          :class => 'col-md-12',
          :label => 'DESCRIPCIÓN',
          :placeholder => 'Nerviosismo, tensión, estado de ánimo, incluida la depresión, problemas de memoria, tentativas de suicidio. Aquí lo ponemos por separado con un fin pedagógico, pero suele incluirse dentro del anterior apartado (nervioso).'
      },
      'personalidad' => {
          :label => 'PERSONALIDAD',
          :placeholder => 'preguntar a los familiares si le ven raro'
      },
      'ansiedad' => {
          :label => 'ANSIEDAD',
          :placeholder => '¿tiene últimamente la sensación de que pierde un tanto el control, latiéndole deprisa el corazón, respirando deprisa, con sensación de ahogo, temblores, rigidez o debilidad muscular? ¿Tiene dificultad para conciliar el sueño?'
      },
      'animo' => {
          :label => 'ÁNIMO',
          :placeholder => '¿cómo está de ánimo últimamente? ¿Cómo se imagina el futuro?'
      },
      'amnesia' => {
          :label => 'AMNESIA',
          :placeholder => 'preguntar a los familiares.'
      }
  }
%>

<script>
    var psychosomatic_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var psychosomatic_sis_url = "<%= doctor_psychosomatic_sis_path %>";
</script>

<%
  record = @medical_history.psychosomatic_si.nil? ? {} : @medical_history.psychosomatic_si.as_json
%>

<%= render partial: '/doctor/medical_expedients/systems/form_section', locals: {:record => record, :form_config => form_config, :cols => cols} %>