<h4 class="system_name">
  SISTEMA HEMATOLOGICO
</h4>

<%
  cols = HematologicalSi.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'description' => {
          :class => 'col-md-12',
          :label => 'DESCRIPCIÓN',
          :placeholder => 'Anemia, facilidad para sangrar, hemorragias, transfusiones antiguas, reacciones a las transfusiones.'
      },
      'astenia' => {
          :label => 'ASTENIA',
          :placeholder => '¿siente cansancio últimamente?'
      },
      'palidez' => {
          :label => 'PALIDEZ',
          :placeholder => 'preguntar a los familiares si le ven más pálido últimamente'
      },
      'hemorrhages' => {
          :label => 'HEMORRAGIAS',
          :placeholder => '¿¿sangra por algún sitio con frecuencia (ejemplo por la nariz, epistaxis)? ¿Orina de color rojo? ¿Al hacer de vientre nota sus heces muy oscuras? ¿Se le ha hinchado alguna articulación últimamente (posible hemartros)? ¿Tiene grandes cardenales ante golpes mínimos?'
      },
      'adenopathies' => {
          :label => 'ADENOPATÍAS',
          :placeholder => '¿nota algún bulto en el cuello, en axilas, en ingle u otras zonas? No olvidar explorar sea cual sea la respuesta.'
      }
  }
%>

<script>
    var hematological_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var hematological_sis_url = "<%= doctor_hematological_sis_path %>";
</script>

<%
  record = @medical_history.hematological_si.nil? ? {} : @medical_history.hematological_si.as_json
%>

<%= render partial: '/doctor/medical_expedients/systems/form_section', locals: {:record => record, :form_config => form_config, :cols => cols} %>