<h4 class="system_name">
  SISTEMA OFTALMOLÓGICO
</h4>
<div class="system_description">

</div>

<%
  cols = OphthalmologicalSi.column_names - ['id','medical_history_id', 'created_at','updated_at']
  form_config = {
      'agudeza' => {
          :label => 'AGUDEZA',
          :placeholder => '¿ve con la misma definición de siempre? Que se tape un ojo y luego otro.'
      },
      'diplopia' => {
          :label => 'DIPLOPIA',
          :placeholder => ' ¿ve doble?'
      },
      'eye_pain' => {
          :label => 'DOLOR OCULAR',
          :placeholder => '¿siente dolor al mover los ojos?'
      },
      'photofobia' => {
          :label => 'FOTOFOBIA',
          :placeholder => '¿siente dolor en los ojos con la luz?'
      },
      'amaurosis' => {
          :label => 'AMAUROSIS',
          :placeholder => '¿en algún momento ha perdido la visión transitoriamente (AMAUROSIS FUGAX)? ¿En uno o en ambos ojos?'
      },
      'fotopsias' => {
          :label => 'FOTOPSIAS',
          :placeholder => '¿en algún momento siente destellos de luz sin haber luz?'
      },
      'miodesopsias' => {
          :label => 'MIODESOPSIAS',
          :placeholder => '¿en algún momento ha sentido opacidades móviles, como si fueran moscas volantes?'
      },
      'picor' => {
          :label => 'PICOR',
          :placeholder => '¿siente picor, dolor o escozor en los ojos?'
      },
      'pitanas' => {
          :label => 'LAGAÑAS',
          :placeholder => '¿le ha costado despegar los ojos al despertarse esta mañana? ¿Tenía algo? ¿De qué color era?'
      }
  }
%>

<script>
    var ophthalmological_items = [<% cols.each do |i| %>"<%= i %>",<% end %>"id"];
    var ophthalmological_sis_url = "<%= doctor_ophthalmological_sis_path %>";
</script>

<%
  record = @medical_history.ophthalmological_si.nil? ? {} : @medical_history.ophthalmological_si.as_json
%>

<%= render partial: '/doctor/medical_expedients/systems/form_section', locals: {:record => record, :form_config => form_config, :cols => cols} %>