<div style="text-align: center;">

  <p>
    <strong>Datos del Médico</strong>
  </p>

  <p>
    <strong>Nombre</strong>
  <div>
    <%= @data['name'] %>
  </div>
  </p>

  <p>
    <strong>Apellido</strong>
  <div>
    <%= @data['last_name'] %>
  </div>
  </p>


  <p>
    <strong>Teléfono</strong>
  <div>
    <%= @data['phone'] %>
  </div>
  </p>


  <p>
    <strong>Email</strong>
  <div>
    <%= @data['email'] %>
  </div>
  </p>

  <p>
    <strong>Ciudad</strong>
  <div>
    <%= @data['city'] %>
  </div>
  </p>

  <p>
    <strong>Especialidad</strong>
  <div>
    <%= @data['specialty'] %>
  </div>
  </p>

  <p>
    <strong>Comentarios</strong>
  <div>
    <%= @data['comments'] %>
  </div>
  </p>

</div>