<div class="card">
  <div class="card-body card-padding">
    <div class="row">

<%= form_for [:admin, @disease_category] do |f| %>
    <% if @disease_category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@disease_category.errors.count, "error") %> prohibited this disease category from being saved:</h2>

          <ul>
            <% @disease_category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-xs-6">
            <div class="form-group fg-line">
      <%= f.label :code, :class=>"control-label"  %><br>
      <%= f.text_field :code, :class =>  "form-control input-lg", :placeholder => "Codigo"  %>
    </div>
      </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :name, :class=>"control-label"  %><br>
              <%= f.text_field :name, :class =>  "form-control input-lg", :placeholder => "Nombre"  %>
            </div>
          </div>


          <% if @disease_category.id != nil %>
              <table class = "table">
                <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Enfermedad</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                <% @disease_category.diseases.each do |disease| %>
                    <tr>
                      <td><%= disease.code %></td>
                      <td><%= disease.name %></td>
                      <td>
                        <a data-toggle="modal" href="#deleteDiseaseModal" onclick="setupDeleteDialogDisease(<%= disease.id %>,<%=@disease_category.id %>)"><i class="zmdi zmdi-delete"></i></a>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
</div></div></div>



<div class="col-xs-6">

</div>
<div class="col-xs-6">
  <span class="col-xs-3"></span>
  <a href="<%= admin_disease_categories_path %>" class="btn btn-danger col-xs-4">Atrás</a>
  <span class="col-xs-1"></span>
  <button type="submit" class="btn btn-primary col-xs-4"><%= @textd_button %></button>
</div>

      <% end %>