<div class="block-header">
<h2>Editar Categoría de Enfermedad</h2>
</div>
<ul class="actions">
  <li>
    <a data-toggle="modal" href="#addDiseaseModal" onClick="setupAddDiseaseModal(<%=@disease_category.id %>)"><i class="zmdi zmdi-account-box"></i></a>
  </li>
</ul>

<%= render 'form' %>

<div class="modal fade" id="addDiseaseModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_Disease_title">Agregar Enfermedad</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <br><br>
            <div class="form-group fg-line">
              <label>Codigo: </label><br>
              <input type="text" name="code" id="new_code_input" class="form-control input-lg" placeholder="Codigo">
              <input type="hidden" name="id" id="add_code_id">
            </div>
            <div class="form-group fg-line">
              <label>Enfermedad: </label><br>
              <input type="text" name="disease" id="new_disease_input" class="form-control input-lg" placeholder="Enfermedad">
              <input type="hidden" name="id" id="add_disease_id">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_disease_btn" onClick="saveDisease(<%=@disease_category.id %>,'<%=@disease_category.code %>')">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteDiseaseModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_disease_title">Eliminar Enfermedad</h4>
      </div>
      <div class="modal-body">
        ¿Confirma que desea eliminar la enfermedad?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete-disease" onClick="deleteDesease()">Eliminar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
