<div class="card">
  <div class="card-body card-padding">

    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-success pull-right" id="new_consultation_field">Agregar campo</a>
      </div>
      <div class="col-md-6">
        <strong>Campos del formulario de consulta</strong>
        <div class="list_holder">
          <ul class="connectedSortable" id="non_active_fields">
            <% ConsultationField.where('active = 0').order('name ASC').each do |cf| %>
                <li field="<%= cf.id %>" class="consultation_field_item">
                  <%= cf.name %> - <%= cf.get_type %>
                  <% if cf.is_custom %>
                      <i class="zmdi zmdi-edit pull-right edit_field" url="<%= admin_consultation_field_path(cf.id) %>"></i>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <strong>Campos activos</strong>
        <div class="list_holder">
          <ul class="connectedSortable" id="active_fields">
            <% ConsultationField.where('active = 1').order('field_order ASC').each do |cf| %>
                <li field="<%= cf.id %>" class="consultation_field_item">
                  <%= cf.name %> - <%= cf.get_type %>
                  <% if cf.is_custom %>
                      <i class="zmdi zmdi-edit pull-right edit_field" url="<%= admin_consultation_field_path(cf.id) %>"></i>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>


      <div class="col-md-12">

      </div>


      <div class="col-md-12">
        <hr>
        <h3>Vista previa del formulario de consulta</h3>
        <div id="consultation_form_preview" class="row"></div>
      </div>

    </div>

  </div>
</div>

<%= hidden_field_tag 'url_save_configuration_fields', save_fields_config_admin_consultation_fields_path %>
<%= hidden_field_tag 'url_form_medical_consultation', medical_consultations_preview_partials_path %>

<div class="modal fade" id="add_consultation_field_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_consultation_field_title">Agregar campo</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="url_update">
        <strong>Tipo</strong>
        <% types = Const::consultation_field_types %>
        <select class="form-control selectpicker" id="field_type">
          <% types.each do |key, v| %>
          <option value="<%= key %>"><%= v %></option>
          <% end %>
        </select>

        <strong>Nombre</strong>
        <input type="text" class="form-control" id="field_name">

        <strong>Código</strong>
        <input type="text" class="form-control" id="field_code">

        <br><br>
        <label class="radio radio-inline m-r-20">
          <input type="radio" name="field_class" value="col-md-12" checked>
          <i class="input-helper"></i>
          Pantalla completa
        </label>

        <label class="radio radio-inline m-r-20">
          <input type="radio" name="field_class" value="col-md-6">
          <i class="input-helper"></i>
          Media pantalla
        </label>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" url="<%= admin_consultation_fields_path %>" id="save_consultation_field">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
