<p id="notice" style="font-size: large;color: red"><%= notice %></p>
<%= form_for [:admin, @doctor], html: {multipart: true,:onsubmit => "return checkuser_exist();" } do |f| %>
    <div class="card">
      <div class="card-body card-padding">
        <div class="row">
          <% if @doctor.errors.any? %>
              <div id="error_explanation">
                <strong><%= pluralize(@doctor.errors.count, "error","errores") %> en el formulario:</strong>
                <ul>
                  <% @doctor.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="col-xs-12 block-header">
            <h2>Información Personal</h2>
          </div>
          <input type="hidden" id="doctor_user_id" name="doctor_user_id" value="<%= !@user_doctor.nil? ? @user_doctor.id : "" %>">
          <% if @doctor.id == nil %>
              <input type="hidden" id="edit_doctor" value="0">
          <% else %>
              <input type="hidden" id="edit_doctor" value=<%= @doctor.id %>>
          <% end %>
          <% if @doctor.id != nil %>
              <div class="col-md-12 col-xs-12">
                <div class="form-group fg-line">
                  <strong>Especialidades:</strong><br>

                  <table class="table">
                    <thead>
                    <th>Especialidad</th>
                    <th>Cédula Profesional</th>
                    <th>Universidad</th>
                    <th></th>
                    </thead>
                    <tbody>
                    <%  @doctor.identity_cards.each do |ic| %>
                        <tr id="doctor_identity_card_<%= ic.id %>">
                          <td id="i_card_specialty_<%= ic.id %>"><%= ic.specialty.name %></td>
                          <td id="i_card_identity_<%= ic.id %>"><%= ic.identity %></td>
                          <td id="i_card_institute_<%= ic.id %>"><%= ic.institute %></td>
                          <td>
                            <a data-toggle="modal" href="#addIdentityCardModal" onclick="setupEditDialogIdentityCard(<%= ic.id %>,'<%= ic.identity %>',<%= ic.specialty.id %>,'<%= ic.institute %>')"><i class="zmdi zmdi-edit"></i></a>
                            &nbsp;&nbsp;
                            <a data-toggle="modal" href="#deleteIdentityCardModal" onclick="setupDeleteDialogIdentityCard(<%= ic.id %>)"><i class="zmdi zmdi-delete"></i></a>
                          </td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>

                </div>
              </div>
          <% end  %>

          <div class="col-md-12 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :curp,"CURP", :for => "admin_doctor_curp", :class=>"control-label" %>
              <%= f.text_field :curp, :class=>"form-control input-lg required", :id=>"admin_doctor_curp", :placeholder => "CURP" %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :digital_sign, "Firma Digital", :class=>"control-label"  %>
              <br>
              <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-primary btn-file m-r-10">
                  <span class="fileinput-new">Seleccionar Imagen</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="doctor[digital_sign]">
              </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <div class="checkbox">
                <label>
                  <input type="checkbox" <%= @doctor.searcher_visible ? 'checked=true value=1' : 'value=0' %>  name="doctor[searcher_visible]" id="doctor_searcher_visible">
                  <i class="input-helper"></i>
                  <strong class="font_size_medical_history">Mostrar doctor en el buscador</strong>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :time_zone_id,"Zona horaria" , :class=>"control-label" %><br>
              <%= f.select :time_zone_id, TimeZone.order('country_name ASC').all.map{|tz| [tz.country_name+' - '+tz.rails_name+' ('+tz.utc_value+')',tz.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-body card-padding">
        <div class="row">


          <div class="col-xs-12 block-header">
            <h2>Información Fiscal</h2>
          </div>

          <%= f.fields_for :fiscal_information do |fi| %>

              <div>
                <%= fi.hidden_field :id%>
              </div>

              <div class="col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :rfc,"RFC" , :for => "admin_doctor_fiscal_information_rfc", :class=>"control-label" %>
                  <%= fi.text_field :rfc, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_rfc", :placeholder => "RFC" %>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :bussiness_name, "Razón Social" , :for => "admin_doctor_fiscal_information_bussiness_name", :class=>"control-label"  %>
                  <%= fi.text_field :bussiness_name, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_bussiness_name", :placeholder => "Razón Social" %>
                </div>
              </div>
              <div class="col-md-8 col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :fiscal_address, "Dirección" , :for => "admin_doctor_fiscal_information_fiscal_address", :class=>"control-label"  %>
                  <%= fi.text_field :fiscal_address, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_fiscal_address", :placeholder => "Dirección" %>
                </div>
              </div>
              <div class="col-md-2 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :int_number, "No. Int" , :for => "admin_doctor_fiscal_information_int_number", :class=>"control-label"  %>
                  <%= fi.text_field :int_number, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_int_number", :placeholder => "No. Int" %>
                </div>
              </div>
              <div class="col-md-2 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :ext_number, "No. Ext" , :for => "admin_doctor_fiscal_information_ext_number", :class=>"control-label"  %>
                  <%= fi.text_field :ext_number, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_ext_number", :placeholder => "No. Ext" %>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :suburb, "Colonia" , :for => "admin_doctor_fiscal_information_suburb", :class=>"control-label"  %>
                  <%= fi.text_field :suburb, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_suburb", :placeholder => "Colonia" %>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :locality, "localidad" , :for => "admin_doctor_fiscal_information_locality", :class=>"control-label"  %>
                  <%= fi.text_field :locality, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_locality", :placeholder => "Localidad" %>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="form-group fg-line">
                  <%= fi.label :zip, "Código postal" , :for => "admin_doctor_fiscal_information_zip", :class=>"control-label"  %>
                  <%= fi.number_field :zip, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_zip", :placeholder => "Código Postal" %>
                </div>
              </div>

              <div class="col-md-6 col-xs-12">
                <div class="form-group fg-line">
                  <%
                    city_id = ""
                    if @doctor.fiscal_information.city.nil?
                      name = ""
                    else
                      name = @doctor.fiscal_information.city.format_city_state_and_country
                      city_id = @doctor.fiscal_information.city.id
                    end
                  %>
                  <%= fi.label :city_id,"Ciudad" , :for => "admin_doctor_fiscal_information_city_id", :class=>"control-label" %>
                  <%= fi.text_field :city_id, :city => city_id, :autocomplete => "off" , :value => name, :class=>"form-control input-lg search-city", :id=>"admin_doctor_fiscal_information_city_id", :placeholder => "Ciudad" %>
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :serie, "Serie" , :for => "admin_doctor_fiscal_information_serie", :class=>"control-label"  %>
                  <%= fi.text_field :serie, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_serie", :placeholder => "Serie" %>
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :folio, "Folio inicial" , :for => "admin_doctor_fiscal_information_folio", :class=>"control-label"  %>
                  <%= fi.number_field :folio, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_folio", :placeholder => "Folio inicia" %>
                </div>
              </div>

              <% if !@new_doctor %>
                  <div class="row">
                    <div class="checkbox col-md-4">
                      <label>
                        <input type="checkbox" value="1" id="change_files_fiscal" name="change_files_fiscal">
                        <i class="input-helper"></i> Modificar datos fiscales
                      </label>
                    </div>
                  </div>
              <% end %>

              <div style="<%= !@new_doctor ? "display: none;" : "" %>" id="div_files_fiscal">
                <div class="col-md-4 col-xs-12">

                  <div class="form-group fg-line">
                    <%= fi.label :certificate_stamp, "Certificado", :class=>"control-label"  %>
                    <br>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-primary btn-file m-r-10">
                  <span class="fileinput-new">Seleccionar Archivo Cer</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="doctor[fiscal_information_attributes][certificate_stamp]" accept=".cer" id="certificate_stamp_file">
              </span>
                      <span class="fileinput-filename"></span>
                      <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <div class="form-group fg-line">
                    <%= fi.label :certificate_stamp, "Llave", :class=>"control-label"  %>
                    <br>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-primary btn-file m-r-10">
                  <span class="fileinput-new">Seleccionar Archivo Key</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="doctor[fiscal_information_attributes][certificate_key]" accept=".key" id="certificate_key_file">
              </span>
                      <span class="fileinput-filename"></span>
                      <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <div class="form-group fg-line">
                    <%= fi.label :certificate_password, "Contraseña" , :for => "admin_doctor_fiscal_information_certificate_password", :class=>"control-label"  %>
                    <%= fi.password_field :certificate_password, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_certificate_password", :placeholder => "Contraseña" %>
                  </div>
                </div>
              </div>

              <div class="col-md-8 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :tax_regime, "Régimen" , :for => "admin_doctor_fiscal_information_tax_regime", :class=>"control-label"  %>
                  <%= fi.text_field :tax_regime, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_tax_regime", :placeholder => "Régimen" %>
                </div>
              </div>
              <div class="col-md-4 col-xs-6">
                <div class="form-group fg-line">
                  <%= fi.label :iva, "I.V.A" , :for => "admin_doctor_fiscal_information_iva", :class=>"control-label"  %>
                  <%= fi.number_field :iva, :class=>"form-control input-lg", :id=>"admin_doctor_fiscal_information_iva", :placeholder => "Tasa de IVA" %>
                </div>
              </div>

          <% end  %>

        </div>
      </div>
    </div>






    <div class="col-md-6 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">
      <span class="col-md-3 col-xs-12"></span>
      <a href="<%= admin_persons_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
      <span class="col-md-1 col-xs-12"></span>
      <button type="submit" class="btn btn-primary col-md-4 col-xs-12" onclick="validateNointerior()"><%= @text_button %></button>
    </div>

<% end %>
<%= hidden_field_tag 'url_check_user', url_for(:controller => 'admin/doctors', :action => 'check_new_user', :only_path => false) %>
