<div class="block-header">
  <h2>Cambiar Datos del Médico</h2>

  <ul class="actions">
    <li>
      <a data-toggle="modal" href="#addIdentityCardModal" onClick="setupAddIdentityCardModal()"><i class="zmdi zmdi-account-box"></i></a>
    </li>
    <li>
      <%= link_to admin_doctors_path do %>
          <i class="zmdi zmdi-close-circle-o"></i>
      <% end %>
    </li>
  </ul>

</div>
<input type="hidden" id="doctors_view" value="1" name="doctors_view">
<%= render 'form' %>

<% if @doctor.id != nil %>
    <input type="hidden" id="edit_doctor_id" value="<%= @doctor.id %>">
<% end %>

<div class="modal fade" id="addIdentityCardModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_specialty_title">Agregar Especialidad</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            Especialidad: <br>
            <div class="btn-group bootstrap-select">
              <select class="selectpicker" id="new_specialty_select">
                <%  Specialty.all.each do |s| %>
                <option value="<%= s.id %>"><%= s.name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="col-xs-12">
            <br>
            <div class="form-group fg-line">
              <label>Cédula Profesional: </label><br>
              <input type="text" name="identity" id="new_identity_input" class="form-control input-lg" placeholder="Cédula profesional">
              <input type="hidden" name="id" id="add_specialty_id">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <label>Universidad: </label><br>
              <input type="text" name="institute" id="new_identity_institute" class="form-control input-lg" placeholder="Universidad">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_specialty_btn" onClick="saveSpecialty('add')">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteIdentityCardModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_specialty_title">Eliminar Especialidad</h4>
      </div>
      <div class="modal-body">
        ¿Confirma que desea eliminar la Especialidad?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_specialty_btn" onClick="deleteSpecialty()">Eliminar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addLicenseModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_license_title">Agregar Licencia</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <label for="add_licence_start_date" class="control-label">Fecha de Inicio</label>
              <input class="form-control input-lg form-control date-picker" id="add_licence_start_date" placeholder="Fecha de Inicio" type="text" name="license[start_date]">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <label for="add_licence_end_date" class="control-label">Fecha Fin</label>
              <input class="form-control input-lg form-control date-picker" id="add_licence_end_date" placeholder="Fecha Fin" type="text" name="license[end_date]">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">
              Especialidades
            </div>
            <div class="col-xs-6 col-md-6">
              Precios
            </div>
          </div>
          <div class="col-xs-12 col-md-12">

            <% Feature.all.each do |f| %>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                      <div class="checkbox m-b-15">
                        <label>
                          <input type="checkbox" value="<%= f.id %>" class="feature" id="new_license_feature_<%= f.id %>">
                          <i class="input-helper"></i> <%= f.name %>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                      <div class="fg-line">
                        <input type="number" class="form-control" id="price_license_<%= f.id %>" value="<%= f.cost %>" />
                      </div>
                    </div>
                </div>
            <% end %>
            <input type="hidden" value="<%= Feature.all.to_json(only:[:id,:cost]) %>" id="all_features"/>
          </div>
          <div class="col-xs-12">
            Estado: <br>
            <div class="btn-group bootstrap-select">
              <select class="selectpicker" id="new_license_status">
                  <option value="<%= License::ACTIVE %>"><%= License::ACTIVE %></option>
                  <option value="<%= License::ENDED %>"><%= License::ENDED %></option>
                  <option value="<%= License::CANCELED %>"><%= License::CANCELED %></option>
              </select>
            </div>
          </div>
          <div class="col-xs-12">
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="1" id="new_license_current">
                  <i class="input-helper"></i> ¿Licencia actual?
                </label>
              </div>
          </div>
          <div class="col-xs-12">
            Tipo de distribuci&oacute;n <br>
            <div class="btn-group bootstrap-select">
              <select class="selectpicker" id="distribution_type">
                <% DistributionType.all.each do |type| %>
                <option value="<%= type.id %>"><%= type.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            Detalle de la licencia: <br>
            <div class="fg-line">
              <textarea class="form-control" id="detail_license" cols="5" rows="5"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <div id="errors_licenses">

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_license_btn" onClick="saveLicense('add')">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addEmailSettingModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_email_setting_title">Agregar Cuenta de Correo</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <label for="email_host" class="control-label">Host</label>
              <input class="form-control input-lg form-control" id="email_host" placeholder="Host" type="text">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <label for="email_username" class="control-label">Usuario (Email)</label>
              <input class="form-control input-lg form-control" id="email_username" placeholder="Usuario" type="text">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <label for="email_password" class="control-label">Contraseña</label>
              <input class="form-control input-lg form-control" id="email_password" placeholder="Contraseña" type="text">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <label for="email_password" class="control-label">Puerto</label>
              <input class="form-control input-lg form-control" id="email_port" placeholder="Puerto" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_email_setting_btn" onClick="saveEmailSetting('add')">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>