<p id="notice" style="font-size: large;color: red"><%= notice %></p>
<div class="card">
<div class="card-body card-padding">
  <div class="row">
    <div class="col-xs-6">
      <div class="card-header">
        <h2>Lista de Médicos</h2>
      </div>
    </div>
    <div class="col-xs-6">
      <%= link_to 'Agregar', new_admin_doctor_path, class: "pull-right btn bgm-green waves-effect" %>
  </div>
    <div class="col-xs-12">


      <table  id="data-table-doctor" class="table table-striped" data-source="<%= admin_doctors_url(format: "json")%>">
        <thead>
        <tr>
          <th data-column-id="id">ID</th>
          <th data-column-id="name">NOMBRE</th>
          <th data-column-id="last_name">APELLIDO</th>
          <th data-column-id="address">DIRECCIÓN</th>
          <th data-column-id="doctor.city">CIUDAD</th>
          <th data-column-id="telephone">MEDIO DE CONTACTO</th>
          <th data-column-id="doctor.fiscal_information">DATOS FISCALES</th>
          <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
</div></div>
