

<style>
  #main_content{
    position: absolute;
    top: 550px;
    left: 200px;
    width: 850px;
  }

    #doctor_name{
      font-family: Helvetica, Arial, sans-serif;
      font-size: 40px;
      color: #9b9b9b;
    }

    #message{
      padding-top: 10px;
      font-size: 25px;
      text-align: justify;
      color: #9b9b9b;
    }

    #license_details{
      font-size: 25px;
      color: #9b9b9b;
      text-align: right;
      width: 700px;
    }

    #license_items{
      color: #0dbaeb;
    }

  #license_items span{
    color: #9b9b9b;
  }

    .medsi_value{
      color: #0dbaeb !important;
    }

    #license_greetings{
      margin-top: 100px;
      text-align: center;
      width: 600px;
      color: #9b9b9b;
    }

  #license_greetings span{
    font-size: 25px;
  }
  #license_greetings label{
    font-size: 30px;
  }


</style>


<div id="main_content">

  <div id="doctor_name">
    Apreciable: <strong><%= @license.doctor.full_name_title %></strong>
  </div>
  <div id="message">
    El equipo <strong>TechSystems</strong> le da la bienvenida a la plataforma Médica Medsi; el sistema que le ayudará a administrar su consultorio y poder llevar el expediente clínico de manera electrónica. Este certificado le da los siguientes beneficios:
    <ul id="license_items">
      <li><span>Uso del sistema por un año comprendido a partir de la fecha de implementación.</span></li>
      <li><span>Actualizaciones ilimitadas.</span></li>
      <li><span>Facturación electrónica ilimitada.</span></li>
      <li><span>Asistencia y soporte 24/7.</span></li>
      <li><span>Respaldo de su información.</span></li>
    </ul>
  </div>

  <div id="license_details">

    <strong>Licencia No: <span class="medsi_value"><%= @license.code %></span></strong><br>
    <strong>Versión: <span class="medsi_value"><%= @version    %></span></strong><br>

  </div>

  <div id="license_greetings">
    <span>Enhorabuena bienvenido a la era digital.</span><br><br>
    <label>Nuestro equipo le envía un saludo cordial.</label>
  </div>

</div>

<div style="margin-top: -7px;">
  <%= wicked_pdf_image_tag 'certificado.jpg' %>
</div>