<p id="notice"><%= notice %></p>
<div class="block-header">
  <h2>Mostrando Datos del Médico</h2>
  <ul class="actions">
    <li>
      <%= link_to edit_admin_doctor_path(@doctor) do %>
          <i class="zmdi zmdi-edit"></i>
      <% end %>
    </li>
    <li>
      <%= link_to admin_doctors_path do %>
          <i class="zmdi zmdi-close-circle-o"></i>
      <% end %>
    </li>
  </ul>
</div>

<div class="card">
  <div class="card-body card-padding">
    <div class="row">

      <div style="font-size: 20px">
        <div class="col-xs-12">
          <label class="control-label">Nombre</label>:
          <label><%= @doctor.name %></label>
          <label><%= @doctor.last_name %></label>
        </div>
        <div class="col-xs-12">
          <label class="control-label">Cédula Profesional</label>:
          <label><%= @doctor.identity_card %></label>
        </div>
        <div class="col-xs-12">
          <label class="control-label">CURP</label>:
          <label><%= @doctor.curp %></label>
        </div>
        <div class="col-xs-12">
          <label class="control-label">Género</label>:
          <label><%= @doctor.gender.name %></label>
        </div>
        <div class="col-xs-12">
          <label class="control-label">Fecha de Nacimiento</label>:
          <label><%= @doctor.birth_date %></label>
        </div>


        <div class="col-xs-12">
          <label class="control-label">Firma</label>:
          <%= image_tag(download_image_admin_doctors_path(@doctor), width: '200') %>
        </div>
        <div class="col-xs-12">
          <label class="control-label">Dirección</label>:
          <label><%= @doctor.address %></label> <label><%= @doctor.city.name %>, <%= @doctor.city.state.name %>, <%= @doctor.city.state.country.name %></label>
        </div>

        <div class="col-xs-12 block-header">
          <hr>
          <h2>Información Fiscal</h2>
        </div>
        <div class="col-xs-12">
          <label class="control-label">RFC</label>:
          <label><%= @doctor.fiscal_information.rfc %></label>
        </div>
        <div class="col-xs-12">
          <label class="control-label">Razón Social</label>:
          <label><%= @doctor.fiscal_information.bussiness_name %></label>
        </div>
        <div class="col-xs-4">
          <label class="control-label">Dirección</label>:
          <label><%= @doctor.fiscal_information.fiscal_address %></label>
        </div>
        <div class="col-xs-4">
          <label class="control-label">No. Ext</label>:
          <label><%= @doctor.fiscal_information.ext_number %></label>
        </div>
        <div class="col-xs-4">
          <label><%= @doctor.city.name %>, <%= @doctor.city.state.name %></label>
        </div>
        <div class="col-xs-12">
          <label class="control-label">Régimen Fiscal</label>:
          <label><%= @doctor.fiscal_information.tax_regime %></label>
        </div>

        <%= link_to 'Editar', edit_admin_doctor_path(@doctor), :class => "btn btn-info" %>
        <%= link_to 'Atrás', admin_doctors_path, :class => "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>