<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de lotes</h2>
        </div>
      </div>
      <div class="col-xs-6">

  </div>
      <div class="col-xs-12">
  <table id="data-table-lots" class="table table-striped" data-source="<%= admin_lots_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Lot %>">
  <thead>
  <tr>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="expiration_date">Caducidad</th>
    <th data-column-id="medicament">Medicamento</th>
    <th data-column-id="quantity">Cantidad</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>


<div class="modal fade" id="editExpirationDateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_fiscal_info_title">Cambiar fecha de caducidad</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>Nueva fecha</strong></label>
                <div class="dtp-container fg-line">
                  <input type="text" class="form-control date-picker input-lg" id="expiration_date" placeholder="Ingresar fecha">
                </div>
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="edit_expiration_date_btn" onClick="saveExpirationDate()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'url_edit_expiration_date', url_for(:controller => 'admin/lots', :action => 'edit_expiration_date', :only_path => false) %>