<div class="profile-menu">
  <a href="">
    <div class="profile-pic" style="height: 77px;">

    </div>

    <div class="profile-info">
          <%= current_user.user_patient.full_name %>
      <i class="zmdi zmdi-caret-down"></i>
    </div>
  </a>

  <ul class="main-menu">
    <li>
      <%= link_to logout_path do %>
          <i class="zmdi zmdi-time-restore"></i> Salir
      <% end %>
    </li>
  </ul>
</div>

<ul class="main-menu">
  <li class="active">
        <%= link_to patient_index_index_path do %>
            <i class="zmdi zmdi-home"></i> Inicio
        <% end %>
  </li>


  <li class="sub-menu">
    <a href=""><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> Citas</a>
    <ul>
      <li><%= link_to 'Nueva Cita', new_patient_appointment_path  %></li>
      <li><%= link_to 'Historial', patient_appointments_path  %></li>
    </ul>
  </li>

  <li class="active">
    <%= link_to patient_expedients_path do %>
        <i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i> Expedientes
    <% end %>
  </li>



    </ul>
