<%= stylesheet_link_tag 'new_chat_main', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'new_chat_main', 'data-turbolinks-track' => true %>

<%= subscribe_to "/messages/private/#{@channel}" %>
<%= hidden_field_tag 'channel', @channel %>
<%= hidden_field_tag 'me', @name %>
<%= hidden_field_tag 'send_message_url', send_message_path %>

<div id="new_user_chat">
  <div id="user_chat_header" class="alert alert-info">
    <strong>Tipo de usuario: </strong> <%= @user_type %><br>
    <strong>Nombre: </strong> <%= @user_name %><br>
    <strong>Correo: </strong> <%= @user_email %><br>
  </div>
  <div id="user_chat_content">

  </div>
  <div id="input_message_holder">
    <textarea id="chat_message" class="form-control" placeholder="Escribe tu mensaje aquí"></textarea>
  </div>
  <div id="user_chat_buttons">
    <a class="btn btn-danger" id="close_chat_btn">Cerrar</a>
    <a class="btn btn-primary" id="send_message_btn">Enviar</a>
  </div>
</div>