<%
  template = Setting.find_by_code(Const::SETTING_TEMPLATE_CONSULTATION).data
  @medical_expedient.medical_consultations.order('date_consultation DESC').each do |consultation|
  temp = template.clone
%>
    <% html = HtmlParser::medical_consultation_annotation(consultation, temp) %>
    <div class="page-break"></div><br>
    <div class="section_title">Consulta <%= date_hour(consultation.date_consultation) %></div>
    <%= html.html_safe %>
<% end %>
