<table width="100%" class="zui-table zui-table-rounded size_content_table">
  <thead class="table_head_clinical">
  <tr>
    <th colspan="2"><span>Exploraciones</span></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="container-tables">

        <table width="100%" class="table_parent table_consultations" style="font-size: 10px;">
          <thead>
          <tr>
            <th><span>Fecha</span></th>
            <th><span>Detalle</span></th>
          </tr>
          </thead>
          <tbody>
          <% consultations.order('date_consultation DESC').each do |mc| %>
              <% if mc.exploration != nil %>
                  <tr>
                    <td width="16%"><%= I18n.localize(mc.date_consultation,:format => :expedient) %></td>
                    <td>

                      <div class="row">
                        <div class="col-xs-12" style="">
                          <strong><%= mc.exploration.exploration_type == nil ? "Exploración" : mc.exploration.exploration_type.name %></strong>
                          <br><br>
                        </div>
                        <% if mc.exploration.showPhysical %>
                            <div class="col-md-4"><strong>Mamas: </strong>
                              <%= mc.exploration.breasts %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Abdomen: </strong>
                              <%= mc.exploration.abdomen %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Cabeza y cuello: </strong>
                              <%= mc.exploration.head %>
                            </div>

                            <div class="col-md-4">
                              <strong class="exploration_label">Pulmones: </strong>
                              <%= mc.exploration.lungs %>
                            </div>

                            <div class="col-md-4">
                              <strong class="exploration_label">Extremidades: </strong>
                              <%= mc.exploration.extremities %>
                            </div>

                            <div class="col-md-4">
                              <strong class="exploration_label">Cardio: </strong>
                              <%= mc.exploration.heart %>
                            </div>

                            <div class="col-md-4">
                              <strong class="exploration_label">Otro: </strong>
                              <%= mc.exploration.other %>
                            </div>
                        <% end %>

                        <% if mc.exploration.showPelvic %>

                            <div class="col-md-4">
                              <strong class="exploration_label">Vulva: </strong>
                              <%= mc.exploration.vulva %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Vagina: </strong>
                              <%= mc.exploration.vagina %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Cervix: </strong>
                              <%= mc.exploration.cervix %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Útero: </strong>
                              <%= mc.exploration.uterine_height %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Ovarios: </strong>
                              <%= mc.exploration.ovaries %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Edemas: </strong>
                              <%= mc.exploration.edemas %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Anexos: </strong>
                              <%= mc.exploration.annexed %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Recto - Vaginal: </strong>
                              <%= mc.exploration.rectum %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Pelvis: </strong>
                              <%= mc.exploration.pelvis %>
                            </div>

                        <% end %>
                      </div>

                    </td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>