<%
  medical_history_ped = @medical_expedient.medical_history
  ifb = medical_history_ped.inherited_family_background
  gob= medical_history_ped.gynecologist_obstetrical_background

%>
<div class="section_title">Antecedentes ginecológicos | heredo - familiares</div>
<% if ifb.present? %>

    <table class="pdf_table">
      <tr>
        <td class="bold">Antecedente</td>
        <td class="bold">Observación</td>
      </tr>
      <tr>
        <td width="30%"><input type="checkbox" <%= ifb.gynecological_diseases ? 'checked':'' %>> Ginecopatías</td>
        <td><%= ifb.gynecological_diseases_description %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= ifb.mammary_dysplasia ? 'checked':'' %>> Mastopatías</td>
        <td><%= ifb.mammary_dysplasia_description %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= ifb.twinhood ? 'checked':'' %>> Gemelaridad</td>
        <td><%= ifb.twinhood_description %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= ifb.congenital_anomalies ? 'checked':'' %>> Defectos congénitos y malformaciones</td>
        <td><%= ifb.congenital_anomalies_description %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= ifb.infertility ? 'checked':'' %>> Infertilidad</td>
        <td><%= ifb.infertility_description %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= ifb.others ? 'checked':'' %>> Otros</td>
        <td><%= ifb.others_description %></td>
      </tr>
      <tr>
        <td class="bold">Anotaciones</td>
        <td><%= ifb.anotations %></td>
      </tr>
    </table>
<% end %>

<div class="section_title">Antecedentes ginecológicos | gineco - obstétricos</div>
<% if !gob.nil? %>

    <table class="pdf_table">
      <tr>
        <td class="bold">Antecedente</td>
        <td class="bold">Observación</td>
      </tr>
      <tr>
        <td width="30%" class="bold">Menarca</td>
        <td><%= gob.menstruation_start_age %></td>
      </tr>
      <tr>
        <td class="bold">Ciclos</td>
        <td><%= gob.cycles %></td>
      </tr>
      <tr>
        <td class="bold">IVS</td>
        <td><%= gob.ivs %></td>
      </tr>
      <tr>
        <td class="bold"></td>
        <td>
          <strong>G</strong><%= gob.gestations %>&nbsp;&nbsp;&nbsp;
          <strong>P</strong><%= gob.natural_birth %>&nbsp;&nbsp;&nbsp;
          <strong>A</strong><%= gob.abortion_number %>&nbsp;&nbsp;&nbsp;
          <strong>C</strong><%= gob.caesarean_surgery %>
        </td>
      </tr>
      <tr>
        <td class="bold">Causas del aborto</td>
        <td><%= gob.abortion_causes %></td>
      </tr>
      <tr>
        <td class="bold">FUP</td>
        <td><%= gob.fup.present? ? gob.fup.strftime('%d/%m/%Y') : '' %></td>
      </tr>
      <tr>
        <td class="bold">FUM</td>
        <td><%= gob.menses_last_date.present? ? gob.menses_last_date.strftime('%d/%m/%Y') : '' %></td>
      </tr>
      <tr>
        <td class="bold">FUPAP</td>
        <td><%= gob.papanicolau_last_date.present? ? gob.papanicolau_last_date.strftime('%d/%m/%Y') : '' %></td>
      </tr>
      <tr>
        <td class="bold">Menopausia</td>
        <td><%= gob.menopause %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= gob.married ? 'checked':''  %>> ¿Casada?</td>
        <td><%= gob.spouse_name %> , <%= gob.information_spouse %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= gob.sexually_active ? 'checked':''  %>> ¿Sexualmente activa?</td>
        <td></td>
      </tr>
      <tr>
        <td class="bold">Compañeros sexuales</td>
        <td><%= gob.sexual_partners %></td>
      </tr>
      <tr>
        <td class="bold">Tipo de relación</td>
        <td><%= gob.relationship_type %></td>
      </tr>
      <tr>
        <td class="bold">Métodos anticonceptivos</td>
        <td><%= gob.contraceptives_method %></td>
      </tr>
      <tr>
        <td class="bold">Enfermedades de transmisión sexual</td>
        <td><%= gob.std %></td>
      </tr>
      <tr>
        <td class="bold">Anotaciones</td>
        <td><%= gob.anotations %></td>
      </tr>
    </table>
<% end %>