<style>
  .hospitalization_data h1{
    font-size: 35px;
    text-align: center;
    margin-top: 250px;
  }
  .hospitalization_data .details{
    font-size: 25px;
    text-align: center;
  }
</style>
<% count = @medical_expedient.patient.hospital_admissions.size %>

<% @medical_expedient.patient.hospital_admissions.order('created_at DESC').each do |ho| %>
    <div class="page-break"></div><br>
    <div class="hospitalization_data">
      <h1>Hospitalización <%= count %></h1>

      <div class="details">
        <strong>Fecha de admisión</strong><br><%= human_full(ho.admission_date) %><br><br>
        <strong>Médico</strong><br><%= ho.doctor.full_name_title %><br><br>
        <strong>Triage</strong><br><%= ho.triage.level %><br><br>
        <strong>Tipo de atención</strong><br><%= ho.attention_type.name %><br><br>
      </div>
    </div>
    <% if ho.patient_valorations.size > 0 %>
        <div class="page-break"></div><br>
        <div class="section_title">Valoraciones</div>
    <% end %>

    <% html_table = HtmlParser::valorations_table(ho,self) %>
    <%= html_table.html_safe %>

    <% ho.medical_annotations.order('created_at DESC').each do |ma| %>
        <div class="page-break"></div><br>
        <% html = HtmlParser::medical_annotation(ma, self) %>
        <%= html.html_safe %>
    <% end %>

    <% count -= 1 %>
<% end %>