<% medical_history = @medical_expedient.medical_history %>
<% if medical_history.present? %>

    <div class="section_title">Historia clínica | Antecedentes no patológicos</div>
    <table class="pdf_table">
      <tr>
        <td class="bold">Antecedente</td>
        <td class="bold">Observación</td>
      </tr>
      <tr>
        <td width="30%"><input type="checkbox" <%= (medical_history.no_pathological.smoking)? "checked" : "" %>/> Tabaquismo</td>
        <td><%= medical_history.no_pathological.smoking_description %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= (medical_history.no_pathological.alcoholism)? "checked" : "" %>/> Alcoholismo</td>
        <td><%= medical_history.no_pathological.alcoholism_description %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= (medical_history.no_pathological.drugs)? "checked" : "" %>/> Toxicomanías</td>
        <td><%= medical_history.no_pathological.drugs_description %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= (medical_history.no_pathological.play_sport)? "checked" : "" %>/>  ¿Practica alg&uacute;n deporte?</td>
        <td><%= medical_history.no_pathological.play_sport_description %></td>
      </tr>
      <tr>
        <td class="bold">Escolaridad</td>
        <td><%= medical_history.no_pathological.scholarship %></td>
      </tr>
      <tr>
        <td class="bold">Estado civil</td>
        <td>
          <% if @medical_expedient.patient.gender.id == Gender::MAN %>
              <%= medical_history.no_pathological.marital_status != nil ? medical_history.no_pathological.marital_status.male: ''  %>
          <% else %>
              <%= medical_history.no_pathological.marital_status != nil ? medical_history.no_pathological.marital_status.female: ''  %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="bold">Religión</td>
        <td><%= medical_history.no_pathological.religion %></td>
      </tr>
      <tr>
        <td class="bold">Anotaciones</td>
        <td><%= medical_history.no_pathological.annotations %></td>
      </tr>
    </table>


    <% if medical_history.family_disease.present? %>
        <div class="section_title">Historia clínica | Antecedentes patológicos</div>
        <table class="pdf_table">
          <tr>
            <td class="bold">Antecedente</td>
            <td class="bold">Observación</td>
          </tr>
          <tr>
            <td width="30%"><input type="checkbox" <%= (medical_history.family_disease.diabetes)? "checked" : "" %>/> Diabetes</td>
            <td><%= medical_history.family_disease.diabetes_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= (medical_history.family_disease.hypertension)? "checked" : "" %>/> Hipertensi&oacute;n</td>
            <td><%= medical_history.family_disease.hypertension_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= (medical_history.family_disease.overweight)? "checked" : "" %>/> Sobrepeso</td>
            <td><%= medical_history.family_disease.overweight_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= (medical_history.family_disease.asthma)? "checked" : "" %>/> Asma</td>
            <td><%= medical_history.family_disease.asthma_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= (medical_history.family_disease.cancer)? "checked" : "" %>/> C&aacute;ncer</td>
            <td><%= medical_history.family_disease.cancer_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= medical_history.family_disease.psychiatric_diseases ? 'checked':'' %>> Enfermedades psiquiátricas</td>
            <td><%= medical_history.family_disease.psychiatric_diseases_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= medical_history.family_disease.neurological_diseases ? 'checked':'' %>> Enfermedades neurológicas</td>
            <td><%= medical_history.family_disease.neurological_diseases_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= medical_history.family_disease.cardiovascular_diseases ? 'checked':'' %>> Enfermedades cardiovasculares</td>
            <td><%= medical_history.family_disease.cardiovascular_diseases_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= medical_history.family_disease.bronchopulmonary_diseases ? 'checked':'' %>> Enfermedades broncopulmonares</td>
            <td><%= medical_history.family_disease.bronchopulmonary_diseases_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= medical_history.family_disease.thyroid_diseases ? 'checked':'' %>> Enfermedades tiroideas</td>
            <td><%= medical_history.family_disease.thyroid_diseases_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= medical_history.family_disease.kidney_diseases ? 'checked':'' %>> Enfermedades renales</td>
            <td><%= medical_history.family_disease.kidney_diseases_description %></td>
          </tr>
          <tr>
            <td><input type="checkbox" <%= (medical_history.family_disease.other_diseases)? "checked" : "" %>/> Otras</td>
            <td><%= medical_history.family_disease.diseases.map{|disease| disease.name}.join(", ") %></td>
          </tr>
          <tr>
            <td class="bold">Anotaciones</td>
            <td><%= medical_history.family_disease.annotations %></td>
          </tr>
        </table>
    <% end %>

    <div class="page-break"></div><br>

    <div class="section_title">Historia clínica | Padecimientos del paciente</div>
    <table class="pdf_table">
      <tr>
        <td width="30%" class="bold">Cirug&iacute;as</td>
        <td><%= medical_history.surgeries %></td>
      </tr>
      <tr>
        <td class="bold">Transfusiones</td>
        <td><%= medical_history.transfusions %></td>
      </tr>
      <tr>
        <td><input type="checkbox" <%= (medical_history.allergy_medicament)? "checked" : "" %>/>
          ¿Al&eacute;rgico alg&uacute;n medicamento?</td>
        <td><%= medical_history.allergy_medicament_description %></td>
      </tr>
      <tr>
        <td class="bold">Otras alergias</td>
        <td><%= medical_history.other_allergies %></td>
      </tr>
      <tr>
        <td class="bold">Padecimientos recientes</td>
        <td><%= medical_history.recent_diseases %></td>
      </tr>
    </table>

    <div class="section_title">Historia clínica | Medicamentos de rutina</div>
    <table class="pdf_table">
      <tr>
        <td width="30%" class="bold">Medicamentos</td>
        <td><%= medical_history.medicaments.map{|medicament| medicament.comercial_name}.join(", ") %></td>
      </tr>
      <tr>
        <td class="bold">Otros medicamentos</td>
        <td><%= medical_history.other_medicines %></td>
      </tr>
    </table>

<% end %>
