<div class="section_title">Datos generales del paciente</div>
<table class="pdf_table">
  <tr>
    <td width="25%" rowspan="9">
      <% if !@medical_expedient.patient.picture.nil?
           root_array = @medical_expedient.patient.picture.split("/")
           root_real = []
           flag = false
           root_array.each do |folder|
             root_real << folder if flag
             if folder == "uploads"
               flag = true
               root_real << folder
             end
           end
      %>
          <%= wicked_pdf_image_tag_for_public "/"+root_real.join("/"),:width => "90%" %>
      <% end %>
    </td>
    <td width="15%" class="bold">Nombre</td>
    <td><%= @medical_expedient.patient.full_name %></td>
  </tr>
  <tr>
    <td class="bold">Género</td>
    <td><%= @medical_expedient.patient.gender.name %></td>
  </tr>
  <tr>
    <td class="bold">Edad</td>
    <td><%= CalculateAge::calculate(self, @medical_expedient.patient.birth_day) %></td>
  </tr>
  <tr>
    <td class="bold">Dirección</td>
    <td><%= @medical_expedient.patient.address %>, <%= @medical_expedient.patient.city.present? ? @medical_expedient.patient.city.format_city_state_and_country : '' %>
    </td>
  </tr>
  <tr>
    <td class="bold">Teléfono</td>
    <td><%= @medical_expedient.patient.phone %></td>
  </tr>
  <tr>
    <td class="bold">Celular</td>
    <td><%= @medical_expedient.patient.cell %></td>
  </tr>
  <tr>
    <td class="bold">Email</td>
    <td><%= @medical_expedient.patient.email %></td>
  </tr>
  <tr>
    <td class="bold">Tipo de sangre</td>
    <td><%= @medical_expedient.patient.blood_type.name %></td>
  </tr>
  <tr>
    <td class="bold">Ocupación</td>
    <td><%= @medical_expedient.patient.occupation %></td>
  </tr>
</table>