<%
medical_history_ped = @medical_expedient.medical_history
%>
<div class="page-break"></div><br>
<div class="section_title">Antecedentes pediátricos | perinatales</div>
<% if medical_history_ped.perinatal_information.present? %>

    <table class="pdf_table">
      <tr>
        <td width="30%" class="bold">Hospital/Cl&iacute;nica de nacimiento</td>
        <td><%= medical_history_ped.perinatal_information.hospital %></td>
      </tr>
      <tr>
        <td class="bold">Ciudad de nacimiento</td>
        <td><%= medical_history_ped.perinatal_information.city.name if !medical_history_ped.perinatal_information.city.nil? %></td>
      </tr>
      <tr>
        <td class="bold">Fecha de nacimiento</td>
        <td><%= only_date(@medical_expedient.patient.birth_day) %></td>
      </tr>
      <tr>
        <td class="bold">Peso al nacer</td>
        <td><%= medical_history_ped.perinatal_information.weight %> Kg</td>
      </tr>
      <tr>
        <td class="bold">Altura al nacer</td>
        <td><%= medical_history_ped.perinatal_information.height %> Cm</td>
      </tr>
      <tr>
        <td class="bold">Riesgos en el embarazo</td>
        <td><%= medical_history_ped.perinatal_information.pregnat_risks %></td>
      </tr>
      <tr>
        <td class="bold">Otra informaci&oacute;n importante</td>
        <td><%= medical_history_ped.perinatal_information.other_info %></td>
      </tr>
    </table>
<% end %>

<div class="section_title">Antecedentes pediátricos | no patológicos</div>
<% if medical_history_ped.child_non_pathological_info.present? %>

    <table class="pdf_table">
    <tr>
      <td class="bold" width="30%">Escolaridad</td>
      <td><%= medical_history_ped.child_non_pathological_info.child_academic_grade %></td>
    </tr>
      <tr>
        <td class="bold">Tipo de vivienda</td>
        <td><%= medical_history_ped.child_non_pathological_info.house_type %></td>
      </tr>
      <tr>
        <td class="bold">N&uacute;mero de personas en la vivienda</td>
        <td><%= medical_history_ped.child_non_pathological_info.number_people %></td>
      </tr>

      <% medical_history_ped.child_non_pathological_info.parent_infos.each do |parent| %>
          <tr>
            <td class="bold">Parentesco</td>
            <td><%= parent.gender %></td>
          </tr>
          <tr>
            <td class="bold">Nombre</td>
            <td><%= parent.full_name %></td>
          </tr>
          <tr>
            <td class="bold">Fecha de nacimiento</td>
            <td><%= only_date(parent.birth_date) %></td>
          </tr>
          <tr>
            <td class="bold">Tipo de Sangre</td>
            <td><%= parent.blood_type.name %></td>
          </tr>
          <tr>
            <td class="bold">Escolaridad</td>
            <td><%= parent.academic_grade %></td>
          </tr>
      <% end %>


    </table>

<% end %>

<% if @show_percentile_chart %>
    <div class="page-break"></div><br>
    <div class="section_title">Gráficas de percentiles | <%= @title_type_data_percentile %></div>
    <div id="container_graph_length" class="percentile_chart"></div>

    <div class="page-break"></div><br>
    <div class="section_title">Gráficas de percentiles | <%= @title_type_data_percentile %></div>
    <% if @result_imc.nil? %>
        <div id="container_graph_head" class="percentile_chart"></div>
    <% else %>
        <div id="container_graph_imc" class="percentile_chart"></div>
    <% end %>

    <div class="page-break"></div><br>
    <div class="section_title">Gráficas de percentiles | <%= @title_type_data_percentile %></div>
    <div id="container_graph_weight" class="percentile_chart"></div>


    <input type="hidden" id="percentile_weight" value="<%= @result_weight.to_json %>"/>
    <% if !@result_imc.nil? %>
        <input type="hidden" id="percentile_imc" value="<%= @result_imc.to_json %>"/>
    <% end %>
    <% if !@result_head.nil? %>
        <input type="hidden" id="percentile_head" value="<%= @result_head.to_json %>"/>
    <% end %>
    <input type="hidden" id="percentile_length" value="<%= @result_size.to_json %>"/>
    <input type="hidden" id="subtitle_graph_percentile" value="<%= @subtitle_graph_percentile %>"/>
<% end %>

