<% if @medical_expedient.patient.vaccine_books.size > 0 %>
    <div class="page-break"></div><br>
    <div class="section_title">Vacunas</div>
    <%  @medical_expedient.patient.vaccine_books.each do |book|
    %>
        <div>
          <div id="book_title">
            <strong class="f-20"><%= book.name %></strong>
          </div>
          <table class="pdf_table vaccine_table">
            <thead>
            <tr>
              <th>Vacuna</th>
              <th>Enfermedad que previene</th>
              <th>Dosis</th>
              <th>Edad y frecuencia</th>
              <th>Fecha de vacunaci&oacute;n</th>
            </tr>
            </thead>
            <tbody>
            <% book.vaccines.each do |vaccine| %>
                <%
                  is_first_time = true
                  application_ages = vaccine.application_ages
                  application_ages.each do |aa| %>
                    <tr>
                      <% if is_first_time %>
                          <td style="background: <%= vaccine.color %>; color: <%= vaccine.label_is_black ? 'black' : 'white' %>;" class="vaccine_info text-center" rowspan="<%= application_ages.size %>"><%= vaccine.name %></td>
                          <td class="vaccine_info" rowspan="<%= application_ages.size %>"><%= vaccine.prevent_disease %></td>
                      <%
                        is_first_time = false
                        end %>
                      <td class="text-left"><%= aa.dose %></td>
                      <td><%= aa.age %></td>
                      <td style="width: 150px;">
                        <%
                          application_date = ''
                          vaccination = Vaccination.where('patient_id = ? AND application_age_id = ?', @medical_expedient.patient, aa.id).first
                          if vaccination.present? && vaccination.vaccinate_date.present?
                            application_date = vaccination.vaccinate_date.strftime('%d/%m/%Y')
                          end
                        %>
                        <%= application_date %>
                      </td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>

    <% end %>

<% end %>