<br>
<table width="100%" class="zui-table zui-table-rounded size_content_table">
  <tbody>
  <tr>
    <td>
      <div class="container-table-hr">
        <% if  @type == "weight" %>
            <script>
                $("#title_div").html("VALORACIONES DE PESO");
            </script>
        <% end %>
        <% if  @type == "height" %>
            <script>
                $("#title_div").html("VALORACIONES DE ALTURA");
            </script>
        <% end %>
        <% if  @type == "temperature" %>
            <script>
                $("#title_div").html("VALORACIONES DE TEMPERATURA");
            </script>
        <% end %>
        <% if  @type == "blood_pressure" %>
            <script>
                $("#title_div").html("VALORACIONES DE PRESIÓN SANGUINEA");
            </script>
        <% end %>
        <br>
        <div id="container_graph_valoration" style="height: 600px; margin: 10px auto; width: 500px;"></div>
      </div>
    </td>
  </tr>
  </tbody>
</table>


<input type="hidden" id="valoration_data" value="<%= @data.to_json %>"/>
<input type="hidden" id="valoration_type" value="<%= @type %>"/>