<table width="100%" class="zui-table zui-table-rounded size_content_table">
  <thead class="table_head_clinical">
  <tr>
    <th colspan="2"><span>Valoraciones</span></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="container-tables">

            <table width="100%" class="table_parent">
              <thead>
              <tr style="font-size: 10px;">
                <th><span>Fecha</span></th>
                <th><span>Altura <br> (cm)</span></th>
                <th><span>Peso <br> (Kg)</span></th>
                <% if @has_gin %>
                    <th><span>ECO/<br>RCGT</span></th>
                    <th><span>FU</span></th>
                    <th><span>PRES</span></th>
                    <th><span>FF</span></th>
                    <% end %>
                <th><span>TA</span></th>
                <th><span>Temp</span></th>
                <th><span>Gluc</span></th>
                <% if @has_gin %>
                <th><span>VDRL</span></th>
                <th><span>EGO</span></th>
                <% end %>
                <% if @has_ped %>
                    <th><span>Sat<br>Ox</span></th>
                <% end %>
                <th><span>Otros</span></th>
                <th><span>Frec<br>car</span></th>
                <th><span>Frec<br>res</span></th>
              </tr>
              </thead>
              <tbody>
              <% consultations.order('date_consultation DESC').each do |consultation| %>
                <% if !consultation.vital_sign.blood_pressure.blank? or
                      !consultation.vital_sign.glucose.blank? or
                      !consultation.vital_sign.weight.blank? or
                      !consultation.vital_sign.head_circumference.blank? or
                      !consultation.vital_sign.height.blank? or
                      !consultation.vital_sign.imc.blank? or
                      !consultation.vital_sign.suggested_weight.blank? or
                      !consultation.vital_sign.temperature.blank?
                %>
                  <tr style="font-size: 10px;">
                    <td><%= I18n.localize(consultation.date_consultation,:format => :expedient) %></td>
                    <td><%= consultation.vital_sign.height %></td>
                    <td><%= consultation.vital_sign.weight %></td>
                    <% if @has_gin %>
                    <td><%= consultation.vital_sign.eco_rctg %></td>
                    <td><%= consultation.vital_sign.fu %></td>
                    <td><%= consultation.vital_sign.pres %></td>
                    <td><%= consultation.vital_sign.ff %></td>
                    <% end %>
                    <td><%= consultation.vital_sign.blood_pressure %></td>
                    <td><%= consultation.vital_sign.temperature %></td>
                    <td><%= consultation.vital_sign.glucose %></td>
                    <% if @has_gin %>
                    <td><%= consultation.vital_sign.vdrl %></td>
                    <td><%= consultation.vital_sign.ego %></td>
                    <% end %>
                    <% if @has_ped %>
                        <td><%= consultation.vital_sign.oxygen_saturation %></td>
                    <% end %>
                    <td><%= consultation.vital_sign.other %></td>
                    <td><%= consultation.vital_sign.heart_rate %></td>
                    <td><%= consultation.vital_sign.breathing_frequency %></td>
                  </tr>
              <% end
                 end %>
              </tbody>
            </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>