<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/medical_expedient.css' %>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/vaccines.css' %>


  <%= wicked_pdf_javascript_include_tag "doctor/highchartlibs.js" %>


</head>
<style>
  div.alwaysbreak { page-break-before: always; }

  table tbody tr{
    page-break-inside: avoid !important;
  }
</style>
<body onload="onloadBody()">

<div id="title_div" style="color: #1EB8D1;text-align: center;font-size: 16pt;font-weight: bold"></div><br>
<div id="nameexp" style="width: 100%;text-align: center">
  <div id="patiennamediv" style="width: 40%;float: left;padding-left: 50px">
    <strong>Paciente:</strong> <%= @medical_expedient.patient.full_name %>
  </div>
  <div id="expnamediv" style="width: 50%;float: left">
    <strong>No. de Expediente:</strong> <%= @medical_expedient.folio %>
  </div>
</div>
<br>
<hr>
<%= render 'doctor/print_medical_expedients/valoration_graphs' %>
</body>
<script>
    function onloadBody(){
        respaux = $("#valoration_data").val();
        resp = JSON.parse(respaux);
        type = $("#valoration_type").val();
        if(resp.length == 0){
            return;
        }
        var firstDate = new Date(resp[0].date);
        var lastDate = new Date(resp[resp.length - 1].date);
        var maxDays = Math.round((lastDate-firstDate)/(1000*60*60*24));

        var currentDates = {};
        var days = 0;
        console.log(resp);
        $.each(resp, function (idx,item) {
            days = Math.round((new Date(item.date)-firstDate)/(1000*60*60*24));
            if(item.val != null){
                currentDates["d"+days] = item.val;
            }
        });
        var dataArray = [];
        var dataSystolicPressure = [];
        var dataDiastolicPressure = [];
        for(var i = 0; i <= maxDays ; i++){
            if(type == "blood_pressure"){
                if(currentDates["d"+i] != undefined){
                    dataSystolicPressure[i] = currentDates["d"+i].systolic_pressure;
                    dataDiastolicPressure[i] = currentDates["d"+i].diastolic_pressure;
                }else{
                    dataSystolicPressure[i] = null;
                    dataDiastolicPressure[i] = null;
                }
            }else{
                if(currentDates["d"+i] != undefined){
                    dataArray[i] = currentDates["d"+i];
                }else{
                    dataArray[i] = null;
                }
            }
        }

        var conf = {
            suffix:"",
            yTitle:"",
            title:"",
            subtitle:"De la primera a la última consulta",
            series_name:""
        };

        switch (type){
            case "weight":
                conf.suffix = " Kg";
                conf.yTitle = "Peso (Kg)";
                conf.title = "Historial de Peso";
                conf.series_name = "Peso";
                break;
            case "height":
                conf.suffix = " Cm";
                conf.yTitle = "Estatura (Cm)";
                conf.title = "Historial de Estatura";
                conf.series_name = "Estaura";
                break;
            case "temperature":
                conf.suffix = " °C";
                conf.yTitle = "Temperatura °C";
                conf.title = "Historial de temperatura";
                conf.series_name = "Temperatura";
                break;
            case "blood_pressure":
                conf.suffix = " mmHg";
                conf.yTitle = "Tensión Arterial";
                conf.title = "Historial de tensión arterial";
                conf.series_name = "Tensión Arterial";
                break;
        }

        var data = [];
        if(type == "blood_pressure"){
            data.push({
                name: "Presión Sistólica",
                data: dataSystolicPressure
            });
            data.push({
                name: "Presión Diastólica",
                data: dataDiastolicPressure
            });
        }else{
            data = [{
                name: conf.series_name,
                data: dataArray
            }];
        }
        var chart = new Highcharts.Chart({
            chart: {
                type: 'line',
                renderTo: 'container_graph_valoration',
                zoomType: 'xy',
                events: {
                    load: function() {
                        //$('.highcharts-scrollbar tspan').text("Edgar")
                    }
                }
            },
            title: {
                text: conf.title,
                x: -20 //center
            },
            subtitle: {
                text: conf.subtitle,
                x: -20
            },
            xAxis: {
                labels: {
                    formatter: function() {
                        return this.value +' días'
                    }
                }
            },
            yAxis: {
                title: {
                    text: conf.yTitle
                }
            },
            plotOptions:{
                series:{
                    connectNulls:true,
                    shadow: false,
                    animation: false
                }
            },
            tooltip: {
                valueSuffix: conf.suffix
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: data
        });
    }


</script>
</html>
