<table width="100%" class="zui-table zui-table-rounded size_content_table">
  <thead class="table_head_clinical">
  <tr>
    <th colspan="2"><span>Consultas</span></th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
<% consultations.order('date_consultation DESC').each do |consultation| %>
    <table class="consultation_table">
      <tr class="header_consultation">
        <td colspan="4"><strong>Folio de consulta: </strong> <%= consultation.folio %></td>
      </tr>
      <tr>
        <td style="width: 10%"><strong>Fecha</strong></td>
        <td style="width: 20%"><%= I18n.localize(consultation.date_consultation,:format => :expedient) %></td>
        <td style="width: 20%"><strong>Padecimiento</strong></td>
        <td style="width: 50%"><%= consultation.current_condition %></td>
      </tr>

      <tr>
        <td colspan="2"><strong>Diagn&oacute;stico</strong></td>
        <td colspan="2"><%= consultation.diagnostic %></td>
      </tr>

      <% if consultation.diseases.size > 0 %>
          <tr>
            <td colspan="2"><strong>Enfermedades</strong></td>
            <td colspan="2"><%= consultation.diseases.map{|disease| disease.code + " - " + disease.name}.join(", ") %></td>
          </tr>
      <% end %>

      <% if consultation.prescription.medical_indications.size > 0 %>
          <tr>
            <td colspan="2"><strong>Tratamiento</strong></td>
            <td colspan="2"><%= simple_format consultation.prescription.medical_indications.map{|indication| '- '+indication.medicament.comercial_name+" ("+indication.medicament.presentation+") : "+indication.dose}.join("<br>") %></td>
          </tr>
      <% end %>

      <tr>
        <td colspan="2"><strong>Recomendaciones</strong></td>
        <td colspan="2"><%= consultation.prescription.recommendations %></td>
      </tr>

      <% if consultation.notes != '<p><br></p>' %>
          <tr>
            <td colspan="2"><strong>Anotaciones generales</strong></td>
            <td colspan="2"><%= consultation.notes.html_safe %></td>
          </tr>
      <% end %>

      <% if consultation.patient_valorations.size > 0 %>
          <tr class="header_consultation">
            <td colspan="4" style="text-align: center;"><strong>Valoraciones</strong></td>
          </tr>
      <% end %>


      <% consultation.patient_valorations.each do |v| %>
      <tr>
        <td colspan="2"><strong><%= v.valoration_type.name %></strong></td>
        <td colspan="2">
          <% v.patient_valoration_fields.each do |field| %>

          <% if field.data.present? %>
              <strong><%= field.valoration_field.name %>: </strong> <%= field.data %> <br>
          <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  <br>
<% end %>




