<%
  medical_history_ped = @medical_expedient.medical_history
  ifb = medical_history_ped.inherited_family_background
  gob= medical_history_ped.gynecologist_obstetrical_background

%>

<table width="100%" class="zui-table zui-table-rounded size_content_table">
  <thead class="table_head_clinical">
  <tr>
    <th colspan="2"><span>Antecedentes Ginecológicos</span></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <% if !ifb.nil? %>
          <div class="container-table-hr">
            <strong>Antecedentes Heredo - Familiares</strong>
            <dl>
              <dd>
                <input type="checkbox" <%= ifb.gynecological_diseases ? 'checked':'' %>> Ginecopatías.
                <strong>Descripción: </strong> <%= ifb.gynecological_diseases_description %>
              </dd>
              <dd>
                <input type="checkbox" <%= ifb.mammary_dysplasia ? 'checked':'' %>> Mastopatías.
                <strong>Descripción: </strong> <%= ifb.mammary_dysplasia_description %>
              </dd>
              <dd>
                <input type="checkbox" <%= ifb.twinhood ? 'checked':'' %>> Gemelaridad.
                <strong>Descripción: </strong> <%= ifb.twinhood_description %>
              </dd>
              <dd>
                <input type="checkbox" <%= ifb.congenital_anomalies ? 'checked':'' %>> Defectos congénitos y malformaciones.
                <strong>Descripción: </strong> <%= ifb.congenital_anomalies_description %>
              </dd>
              <dd>
                <input type="checkbox" <%= ifb.infertility ? 'checked':'' %>> Infertilidad.
                <strong>Descripción: </strong> <%= ifb.infertility_description %>
              </dd>
              <dd>
                <input type="checkbox" <%= ifb.others ? 'checked':'' %>> Otros.
                <strong>Descripción: </strong> <%= ifb.others_description %>
              </dd>
              <dd>
                <br>
                <strong>Anotaciones: </strong> <%= ifb.anotations %>
              </dd>
            </dl>
          </div>

      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <hr>
    </td>
  </tr>
  <tr>
    <td>
      <% if !gob.nil? %>
          <div class="container-table-hr">
            <strong>Antecedentes Gineco - Obstétricos</strong>
            <dl>
              <dd>
                <strong>Menarca:</strong> <%= gob.menstruation_start_age %>
              </dd>
              <dd>
                <strong>Ciclos:</strong> <%= gob.cycles %>
              </dd>
              <dd>
                <strong>IVS:</strong> <%= gob.ivs %>
              </dd>

              <dd>
                <strong>G</strong> <%= gob.gestations %>
                <strong>P</strong><%= gob.natural_birth %>
                <strong>A</strong><%= gob.abortion_number %>
                <strong>C</strong><%= gob.caesarean_surgery %>

              </dd>
              <dd>
                <strong>Causas: </strong> <%= gob.abortion_causes %>
              </dd>

              <dd>
                <strong>FUP: </strong> <%= gob.fup.present? ? gob.fup.strftime('%d/%m/%Y') : '' %> &nbsp;&nbsp;&nbsp;&nbsp;
                <strong>FUM: </strong> <%= gob.menses_last_date.present? ? gob.menses_last_date.strftime('%d/%m/%Y') : '' %>&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>FUPAP: </strong> <%= gob.papanicolau_last_date.present? ? gob.papanicolau_last_date.strftime('%d/%m/%Y') : '' %>
              </dd>
              <dd>
                <strong>Menopausia: </strong> <%= gob.menopause %>
              </dd>
              <dd>
                <input type="checkbox" <%= gob.married ? 'checked':''  %>> <strong> ¿Casada?</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Nombre del cónyuge: </strong> <%= gob.spouse_name %><br>
                <strong>Información del cónyuge: </strong> <%= gob.information_spouse %>
              </dd>
              <dd>
                <input type="checkbox" <%= gob.sexually_active ? 'checked':''  %>><strong> ¿Sexualmente activa?</strong>
              </dd>
              <dd>
                <strong>Compañeros sexuales: </strong> <%= gob.sexual_partners %>
              </dd>
              <dd>
                <strong>Tipo de Relación: </strong> <%= gob.relationship_type %>
              </dd>
              <dd>
                <strong>Métodos anticonceptivos: </strong> <%= gob.contraceptives_method %>
              </dd>
              <dd>
                <strong>Enfermedades de transmisión sexual: </strong> <%= gob.std %>
              </dd>
              <dd>
                <strong>Anotaciones: </strong> <%= gob.anotations %>
              </dd>
            </dl>
          </div>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>