<style>
  .pdf_data_table{
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
    margin-bottom: 10px;
  }

  .pdf_data_table td{
    border: 1px black solid;
    padding: 5px;
  }

    .hospitalization_data, .hospitalization_data td{
      font-size: 12px;
      border-collapse: collapse;
      border: 1px black solid;
      padding: 5px;
    }
</style>

<h3>HOSPITALIZACIONES </h3>

<% count = @medical_expedient.patient.hospital_admissions.size %>

<% @medical_expedient.patient.hospital_admissions.each do |ho| %>
    <h3>Hospitalización <%= count %></h3>
    <table class="hospitalization_data">
      <tr>
        <td style="width: 300px;"><strong>Fecha de admisión</strong></td>
        <td style="width: 500px;"><%= ho.admission_date.strftime('%d/%m/%Y %l:%M %p') %></td>
      </tr>
      <tr>
        <td class="hospitalization_data_label"><strong>Médico</strong></td>
        <td><%= ho.doctor.full_name_title %></td>
      </tr>
      <tr>
        <td class="hospitalization_data_label"><strong>Triage</strong></td>
        <td><label style=" width:100%; text-align: center; background: <%= "#"+ho.triage.color %>;"><%= ho.triage.level %></label></td>
      </tr>
      <tr>
        <td class="hospitalization_data_label"><strong>Tipo de atención</strong></td>
        <td><%= ho.attention_type.name %></td>
      </tr>
    </table>
    <% if ho.patient_valorations.size > 0 %>
        <h3>Valoraciones</h3>
    <% end %>

    <% ho.patient_valorations.order('created_at DESC').each do |pv| %>
        <table class="pdf_data_table">
          <tr>
            <td style="width: 250px;">
              <strong>Fecha</strong><br>
              <%= pv.created_at.strftime('%d/%m/%Y %l:%M %p') %><br>

              <strong>Tipo</strong><br>
              <%= pv.valoration_type.name %><br>

              <strong>Responsable</strong><br>
              <%= pv.user.person.full_name %><br>

            </td>
            <td>
              <% pv.patient_valoration_fields.each do |field| %>
                  <div>
                    <strong><%= field.valoration_field.name %>: </strong>
                    <%= field.data %>
                  </div>
              <% end %>
            </td>
          </tr>
        </table>
    <% end %>


    <% if ho.medical_annotations.size > 0 %>
        <h3>Notas médicas</h3>
    <% end %>

    <% ho.medical_annotations.order('created_at DESC').each do |ma| %>
        <table class="pdf_data_table">
          <tr>
            <td style="width: 250px;">
              <strong>Fecha</strong><br>
              <%= ma.created_at.strftime('%d/%m/%Y %l:%M %p') %><br>

              <strong>Tipo</strong><br>
              <%= ma.medical_annotation_type.name %><br>

              <strong>Responsable</strong><br>
              <%= ma.user.person.full_name %><br>

            </td>
            <td>
              <% ma.annotation_fields.each do |field| %>
                  <div>
                    <strong><%= field.medical_annotation_field.label %>: </strong>
                    <%= field.data %>
                  </div>
              <% end %>
            </td>
          </tr>
        </table>
    <% end %>

    <% count -= 1 %>
<% end %>