<%
  medical_history_ped = @medical_expedient.medical_history
%>
<style>
  #last_consults {
    font-size: 7pt;
    color: #1EB8D1 ;
    border-collapse: collapse;
    width: 100%;
  }

  #last_consults td, #last_consults th {
    border: 0.1em solid #1EB8D1;
    text-align: left;

  }

#motherheight{
  border-top:0.1111111111111111111111em solid #1EB8D1;
  border-left:0.1em solid #1EB8D1;
  height: 17px;
  vertical-align: bottom;
}
#fatherheight{
  border-top:0.1111111111111111111111em solid #1EB8D1;
  border-right: 0.1em solid #1EB8D1;
  height: 17px;
  vertical-align: text-bottom;
}
#imcinfo_div{
  border-bottom:0.13em solid #1EB8D1;
  border-left:0.111em solid #1EB8D1;
  border-right: 0.111em solid #1EB8D1;
  color: #1EB8D1 ;
  height: 17px;
}
  #recent_consults{
    position: absolute;
    top: 110px;
    left: 45px;
    float: left;
    width: 300px;
    height: 150px;
  }
  #all_graph{
    float: left;
    width: 700px;
    border: none;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: -1;
  }
  #heightleftlabel{
    width: 2%;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);

    bottom: 50%;
    position: absolute;
    color: #1EB8D1;

  }

  #weightleftlabel{
    width: 2%;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    bottom: 15%;
    position: absolute;
    color: #1EB8D1;
  }
  #heightrightlabel{
    width: 1%;
    transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    top: 150px;
    left: 660px;
    bottom: 75%;
    position: absolute;
    color: #1EB8D1;
  }
  #yearslabel{
    top: 850px;
    left: 300px;
    position: absolute;
    color: #1EB8D1;
  }
  #weightrightlabel{
    width: 1%;
    transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    position: absolute;
    top: 600px;
    left: 680px;
    color: #1EB8D1;
  }
  #left_values{
    float: left;
    width: 5%;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
  }
  #container_graph_weight{
    height: 850px;
    float: left;
    width: 85%;
  }

    #right_values{
      float: left;
      width: 5%;
      padding-left: 8px;
    }
</style>
<br>
<table width="100%" class="zui-table zui-table-rounded size_content_table">
  <tbody>
  <tr>
    <td>
      <div class="container-table-hr">
        <% if  (@graph_type.to_i == 1  || @graph_type.to_i == 3) && @data_type != 1 %>
            <script>
              $("#title_div").html("PERCENTILES DE ESTATURA POR EDAD Y PESO POR EDAD");
            </script>
        <% else %>

        <% end %>

        <% if  @graph_type.to_i == 1 && @data_type == 1 %>
            <script>
                $("#title_div").html("PERCENTILES DE ALTURA POR EDAD");
            </script>
            <div id="container_graph_length" style="height: 600px; margin: 10px auto; width: 500px;"></div>
        <% end %>
        <br>
        <% if  @graph_type.to_i == 2 %>
        <% if @result_imc.nil? %>
                <script>
                    $("#title_div").html("PERCENTILES DE PERÍMETRO CEFÁLICO POR EDAD");
                </script>
            <div id="container_graph_head" style="height: 600px; margin: 10px auto; width: 500px;"></div>
        <% else %>
                <script>
                    $("#title_div").html("PERCENTILES DE IMC POR EDAD");
                </script>
            <div id="container_graph_imc" style="height: 600px; margin: 10px auto; width: 500px;"></div>
        <% end %>
        <% end %>
        <br>
        <% if  (@graph_type.to_i == 3 || @graph_type.to_i == 1) && @data_type != 1 %>
            <div id="recent_consults">
              <div id="parents_div" style="font-size: 7pt;width: 100%;color: #1EB8D1">
                <div id="motherheight" style="width: 50%;float: left;text-align: center">Estatura de la madre:_________</div>
                <div id="fatherheight"style="width: 50%;float: left;text-align: center">Estatura del padre:________</div>
              </div>
              <table id="last_consults">
                <thead>
                <th>Fecha</th>
                <th>Edad</th>
                <th>Peso</th>
                <th>Estatura</th>
                <th>IMC</th>
                </thead>
                <% one_year_percentile = 365.25
                  @medical_expedient.medical_consultations.last(5).sort.reverse.each do |consult| %>
                    <% imc_val = ((consult.vital_sign.weight/consult.vital_sign.height)/consult.vital_sign.height)*10000  %>
                    <tr>
                      <th><%= consult.date_consultation.strftime('%d/%m/%Y') %> </th>
                      <th><%= (consult.age_in_days_patient_in_consultation.to_f/one_year_percentile.to_f).round(2)%></th>
                      <th><%= consult.vital_sign.weight %></th>
                      <th><%= consult.vital_sign.height %></th>
                      <th><%=  "%.2f" %imc_val %></th>
                    </tr>
                <% end %>
              </table>
              <div id="imcinfo_div" style="font-size: 6pt;">*Para calcular el IMC: Peso (kgs) ÷ Estatura (cm) ÷ Estatura (cm) x 10,0000</div>
            </div>
            <div id="all_graph">
              <div id="yearslabel"> EDAD (AÑOS)  </div>
              <div id="heightleftlabel"> ESTATURA  </div>
              <div id="weightleftlabel"> PESO </div>
              <div id="left_values">
                    <div style="height: 170px"></div>
                <div style="height: 30px"><strong>cm</strong></div>
                <%initial_value = 160
                  (0..16).each do |counter|%>
                    <div style="height: 22px"><%=initial_value %></div>
                <% initial_value -=5
                  end %>
                <div style="height: 40px"></div>
                <% initial_value = 35
                   (0..5).each do |counter|%>
                    <div style="height: 25px"> <%=initial_value %> </div>
                <% initial_value -=5
                   end %>
                <div style="height: 5px"><strong>kg</strong></div>
              </div>
              <div id="container_graph_weight"></div>
              <div id="right_values">
                <div style="height: 10px"><strong>cm</strong></div>
                <div style="height: 30px"></div>
                <% initial_value = 190
                  (0..8).each do |counter|%>
                    <div style="height: 26px"> <%=initial_value %> </div>

                <% initial_value -=5
                  end %>
                <div style="height: 10px"></div>
                <% initial_value = 105
                   (0..19).each do |counter|%>
                    <div style="height: 25px"> <%=initial_value %> </div>
                <% initial_value -=5
                   end %>
                <div style="height: 5px"><strong>kg</strong></div>
              </div>
              <div id="heightrightlabel"> ESTATURA  </div>
              <div id="weightrightlabel"> PESO </div>
            </div>
        <% end %>
        <br>
        <% if  @graph_type.to_i == 3 && @data_type == 1 %>
            <script>
                $("#title_div").html("PERCENTILES DE PESO POR EDAD");
            </script>
            <div id="container_graph_weight" style="height: 600px; margin: 10px auto; width: 500px;"></div>
        <% end %>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<input type="hidden" id="percentile_weight" value="<%= @result_weight.to_json %>"/>
<% if !@result_imc.nil? %>
    <input type="hidden" id="percentile_imc" value="<%= @result_imc.to_json %>"/>
<% end %>
<% if !@result_head.nil? %>
    <input type="hidden" id="percentile_head" value="<%= @result_head.to_json %>"/>
<% end %>
<input type="hidden" id="percentile_length" value="<%= @result_size.to_json %>"/>
<input type="hidden" id="subtitle_graph_percentile" value="<%= @subtitle_graph_percentile %>"/>