<%
medical_history_ped = @medical_expedient.medical_history
%>

<table width="100%" class="zui-table zui-table-rounded size_content_table">
  <thead class="table_head_clinical">
  <tr>
    <th colspan="2"><span>Antecedentes pedi&aacute;tricos</span></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          <% if !medical_history_ped.perinatal_information.nil? %>
            <div class="container-table-hr">
              <strong>Antecedentes perinatales</strong>
              <dl>
                <dd>
                  <strong>Hospital/Cl&iacute;nica de nacimiento:</strong> <span><%= medical_history_ped.perinatal_information.hospital %></span>
                </dd>
                <dd>
                  <strong>Ciudad de Nacimiento:</strong> <span><%= medical_history_ped.perinatal_information.city.name if !medical_history_ped.perinatal_information.city.nil? %></span>
                </dd>
                <dd>
                  <%
                    if !@medical_expedient.patient.birth_day.nil?
                      date_format = I18n.localize(@medical_expedient.patient.birth_day, :format => :patient)
                    else
                      date_format = ''
                    end

                  %>
                  <strong>Fecha de Nacimiento:</strong> <span><%= date_format %></span>
                </dd>


                <dd>
                  <strong>Peso al nacer:</strong> <span><%=  medical_history_ped.perinatal_information.weight %> Kg</span>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>Altura al nacer: </strong><span><%=  medical_history_ped.perinatal_information.height %> cm</span>
                </dd>
                <dd>
                  <strong>Riesgos en el embarazo:</strong> <span><%= medical_history_ped.perinatal_information.pregnat_risks %></span>
                </dd>
                <dd>
                  <strong>Otra informaci&oacute;n importante:</strong> <span><%= medical_history_ped.perinatal_information.other_info %></span>
                </dd>
              </dl>
            </div>
        <% end %>
      </td>
    </tr>
  <tr>
    <td>
      <hr>
    </td>
  </tr>
  <tr>
    <td>
      <% if !medical_history_ped.child_non_pathological_info.nil? %>
          <div class="container-table-hr">
            <strong>Antecedentes no patol&oacute;gicos</strong>
            <dl>
              <dd>
                <strong>Escolaridad:</strong> <span><%= medical_history_ped.child_non_pathological_info.child_academic_grade %></span>
              </dd>
              <dd>
                <strong>Tipo de Vivienda:</strong> <span><%= medical_history_ped.child_non_pathological_info.house_type %></span>
              </dd>
              <dd>
                <strong>N&uacute;mero de personas en la vivienda:</strong> <span><%= medical_history_ped.child_non_pathological_info.number_people %></span>
              </dd>
              <dd>
                <strong>Informaci&oacute;n de los padres:</strong>
              </dd>
              <dd>
                <table width="100%" class="table_parent">
                  <thead>
                  <tr>
                    <th><span>Parentesco</span></th>
                    <th><span>Nombre</span></th>
                    <th><span>Fec. Nacimiento</span></th>
                    <th><span>Tipo de Sangre</span></th>
                    <th><span>Escolaridad</span></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% medical_history_ped.child_non_pathological_info.parent_infos.each do |parent| %>
                      <tr>
                        <td><%= parent.gender %></td>
                        <td><%= parent.full_name %></td>
                        <td><%= I18n.localize(parent.birth_date,:format => :patient) %></td>
                        <td><%= parent.blood_type.name %></td>
                        <td><%= parent.academic_grade %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </dd>
            </dl>
          </div>
      <% end %>
    </td>
  </tr>
    <tr>
      <td>
        <hr>
      </td>
    </tr>

  </tbody>
</table>
<br>
<table width="100%" class="zui-table zui-table-rounded size_content_table">
  <tbody>
  <tr>
    <td>
      <div class="container-table-hr">
        <strong>Gr&aacute;ficas de percentiles</strong>
        <h3><%= @title_type_data_percentile %></h3>
        <div id="container_graph_length" style="height: 600px; margin: 10px auto; width: 500px;"></div>
        <br>
        <% if @result_imc.nil? %>
            <div id="container_graph_head" style="height: 600px; margin: 10px auto; width: 500px;"></div>
        <% else %>
            <div id="container_graph_imc" style="height: 600px; margin: 10px auto; width: 500px;"></div>
        <% end %>
        <br>
        <div id="container_graph_weight" style="height: 600px; margin: 10px auto; width: 500px;"></div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<input type="hidden" id="percentile_weight" value="<%= @result_weight.to_json %>"/>
<% if !@result_imc.nil? %>
    <input type="hidden" id="percentile_imc" value="<%= @result_imc.to_json %>"/>
<% end %>
<% if !@result_head.nil? %>
    <input type="hidden" id="percentile_head" value="<%= @result_head.to_json %>"/>
<% end %>
<input type="hidden" id="percentile_length" value="<%= @result_size.to_json %>"/>
<input type="hidden" id="subtitle_graph_percentile" value="<%= @subtitle_graph_percentile %>"/>