<table width="100%" class="zui-table zui-table-rounded size_content_table">
  <thead class="table_head_clinical">
  <tr>
    <th colspan="2"><span>Embarazos</span></th>
  </tr>
  </thead>
</table>

          <% @medical_expedient.pregnancies.each do |preg| %>

            <table width="100%" class="table_parent table_consultations" style="font-size: 10px;">

              <tbody>

              <tr>
                <td>Datos del embarazo</td>
                <td>
                  <dd>
                    <strong>Fecha de la última menstruación: </strong><%= preg.last_menstruation_date != nil ? preg.last_menstruation_date.strftime('%d/%m/%Y') : '' %><br>
                    <strong>Fecha probable de parto: </strong> <%= preg.probable_birth_date != nil ? preg.probable_birth_date.strftime('%d/%m/%Y') :'' %><br>
                    <strong>Peso inicial: </strong><%= preg.initial_weight %> Kg<br>
                    <% if !preg.active %>
                        <strong>Fecha de finalización de embarazo: </strong> <%= preg.pregnancy_end_date != nil ? preg.pregnancy_end_date.strftime('%d/%m/%Y') :'' %><br>
                        <strong>Finalización del embarazo: </strong> <%= preg.pregnancy_end_success ? 'Exitoso' : 'Interrumpido' %>
                    <% end %>
                  </dd>
                </td>
              </tr>

              <% if !preg.birth_info.nil? %>

              <tr>
                <td>Datos del parto</td>
                <td>
                  <dd>
                    <div class="row">
                      <div class="col-md-4">
                        <strong>Fecha: </strong>
                        <%= preg.birth_info.date.strftime('%d/%b/%Y %I:%M %p') %>
                      </div>
                      <div class="col-md-4">
                        <strong>Lugar: </strong>
                        <%= preg.birth_info.hospital %>
                      </div>
                      <div class="col-md-4">
                        <strong>Tipo de Parto: </strong>
                        <%= preg.birth_info.birth_type.nil? ? '':preg.birth_info.birth_type.name %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <strong>Observaciones: </strong>
                        <%= preg.birth_info.observations %>
                      </div>
                      <div class="col-md-6">
                        <strong>RPM: </strong>
                        <%= preg.birth_info.rpm %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <strong>Alumbramiento: </strong>
                        <%= preg.birth_info.delivery_type.nil? ? '':preg.birth_info.delivery_type.name %>
                      </div>
                      <div class="col-md-6">
                        <strong>Episiotomía: </strong>
                        <%= preg.birth_info.episiotomy_type.nil? ? '':preg.birth_info.episiotomy_type.name %>
                      </div>
                      <div class="col-md-6">
                        <strong>Desgarro: </strong>
                        <%= preg.birth_info.tear_type.nil? ? '':preg.birth_info.tear_type.name %>
                      </div>
                      <div class="col-md-6">
                        <strong>Duración: </strong>
                        <%= preg.birth_info.duration_type.nil? ? '':preg.birth_info.duration_type.name %>
                      </div>
                    </div>
                  </dd>
                </td>
              </tr>

              <tr>
                <td>Datos del neonato</td>
                <td>
                  <dd>
                  <% preg.birth_info.neonate_infos.each do |ni| %>
                      <div class="row">
                        <div class="col-md-6">
                          <strong>Nombre: </strong>
                          <%= ni.child_name %>
                        </div>
                        <div class="col-md-6">
                          <strong>Género: </strong>
                          <%= ni.gender.name %>
                        </div>
                        <div class="col-md-4">
                          <strong>Fecha de nacimiento: </strong>
                          <%= ni.birthdate.strftime('%d/%b/%Y %I:%M %p') %>
                        </div>
                        <div class="col-md-4">
                          <strong>Peso: </strong>
                          <%= ni.weight %> Kg
                        </div>
                        <div class="col-md-4">
                          <strong>Altura: </strong>
                          <%= ni.height %> Cm
                        </div>

                        <div class="col-md-6">
                          <strong>A: </strong><%= ni.apgar_appearance %>
                          <strong>P: </strong><%= ni.apgar_pulse %>
                          <strong>G: </strong><%= ni.apgar_gesture %>
                          <strong>A: </strong><%= ni.apgar_activity %>
                          <strong>R: </strong><%= ni.apgar_breathing %>
                        </div>

                        <div class="col-md-6">
                          <strong>Tipo de sangre: </strong>
                          <%= ni.blood_type.name %>
                        </div>

                        <div class="col-md-6">
                          <strong>Anormalidades: </strong>
                          <%= ni.abnormalities %>
                        </div>
                        <div class="col-md-6">
                          <strong>Observaciones: </strong>
                          <%= ni.observations %>
                        </div>
                        <div class="col-md-6">
                          <strong>Atendió:</strong>
                          <%= ni.attended %>
                        </div>
                        <div class="col-md-6">
                          <strong>Pediatra: </strong>
                          <%= ni.pediatrician %>
                        </div>

                      </div>
                      <br>
                  <% end %>
                  </dd>
                </td>
              </tr>

              <% end %>



              <% if !preg.abortion.nil? %>
              <tr>
                <td>Datos del aborto</td>
                <td>
                  <dd>
                    <div class="row">
                      <div class="col-md-6">
                        <strong>Fecha y hora: </strong>
                        <%= preg.abortion.date.strftime('%d de %b %Y %I:%M %p') %>
                      </div>
                      <div class="col-md-6">
                        <strong>Lugar: </strong>
                        <%= preg.abortion.hospital %>
                      </div>
                      <div class="col-md-6">
                        <strong>Tipo de Aborto: </strong>
                        <%= preg.abortion.abortion_type.name %>
                      </div>
                      <div class="col-md-6">
                        <strong>Observaciones: </strong>
                        <%= preg.abortion.observations %>
                      </div>
                    </div>
                  </dd>
                </td>
              </tr>
              <% end %>

              </tbody>

              </table>

            <br><br>




          <% end #@medical_expedient.pregnancies.each do |preg|  %>

