<%
    all_colors = ['#D1C100', '#D16E15', '#55BCD1', '#D155A9', '#CCD100', '#4968D1', '#795FD1', '#9D20D1', '#D15D87', '#D15E6E', '#31BED1', '#23D14D']

%>

<table width="100%" class="vaccines_table" style="font-size: 12px;">
      <thead>
      <tr>
        <th>Vacuna</th>
        <th>Enfermedad que previene</th>
        <th>Dosis</th>
        <th>Edad y frecuencia</th>
        <th>Fecha de vacunacion</th>
      </tr>
      </thead>
      <tbody>
      <% vaccines_book.vaccines.each do |vaccine| %>
        <%
           color_bg = all_colors[rand(rand*(all_colors.size - 1))] %>

          <% if vaccine.application_ages.count > 1 %>
              <tr>
                <td style="background-color: <%= color_bg %>; width: 20%;" ROWSPAN = <%= vaccine.application_ages.count %>><%=vaccine.name %></td>
                <td style=" width: 20%;"  ROWSPAN = <%= vaccine.application_ages.count %>><%=vaccine.prevent_disease %></td>
                <% if vaccine.application_ages.first.vaccinations != nil && vaccine.application_ages.first.vaccinations.count > 0 %>
                    <td style=" width: 20%;" align="center" class="vaccine_aplicated_cell"><%=vaccine.application_ages.first.age %></td>
                    <td style=" width: 20%;" align="center" class="vaccine_aplicated_cell"><%=vaccine.application_ages.first.dose %></td>
                    <td style=" width: 20%;" align="center" class="vaccine_aplicated_cell"><%=vaccine.application_ages.first.vaccinations.first.vaccinate_date%></td>
                <% else%>
                    <td style=" width: 20%;" align="center"><%=vaccine.application_ages.first.age %></td>
                    <td style=" width: 20%;" align="center"><%=vaccine.application_ages.first.dose %></td>
                    <td style=" width: 20%;" align="center">N/A</td>
                <% end %>
                <% vaccine.application_ages.drop(1).each do |application| %>
                    <tr>

                      <% if application.vaccinations != nil && application.vaccinations.count > 0 %>
                          <td style=" width: 20%;" align="center" class="vaccine_aplicated_cell"><%=application.age %></td>
                          <td style=" width: 20%;" align="center" class="vaccine_aplicated_cell"><%=application.dose %></td>
                          <td style=" width: 20%;" align="center" class="vaccine_aplicated_cell"><%=application.vaccinations.first.vaccinate_date%></td>
                      <% else %>
                          <td style=" width: 20%;" align="center"><%=application.age %></td>
                          <td style=" width: 20%;" align="center"><%=application.dose %></td>
                          <td style=" width: 20%;" align="center">N/A</td>
                      <% end %>
                    </tr>
                <% end%>

                </TR>
          <% else %>
              <tr>
                <td style="background-color: <%= color_bg %>; width: 20%;" ROWSPAN = <%= vaccine.application_ages.count %>><%=vaccine.name %></td>
                <td style=" width: 20%;" ROWSPAN = <%= vaccine.application_ages.count %>><%=vaccine.prevent_disease %></td>
                <% if vaccine.application_ages.first.vaccinations != nil && vaccine.application_ages.first.vaccinations.count > 0 %>
                    <td style=" width: 20%;" align="center" class="vaccine_aplicated_cell" ><%=vaccine.application_ages.first.age %></td>
                    <td style=" width: 20%;" align="center" class="vaccine_aplicated_cell"><%=vaccine.application_ages.first.dose %></td>
                    <td style=" width: 20%;" align="center" class="vaccine_aplicated_cell"><%=vaccine.application_ages.first.vaccinations.first.vaccinate_date%></td>
                <% else%>
                    <td style=" width: 20%;" align="center"><%=vaccine.application_ages.first.age %></td>
                    <td style=" width: 20%;" align="center"><%=vaccine.application_ages.first.dose %></td>
                    <td style=" width: 20%;" align="center">N/A</td>
                <% end %>

              </tr>
          <% end %>

      <% end %>
      </tbody>
</table>