<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/medical_expedient.css' %>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/vaccines.css' %>


  <%= wicked_pdf_javascript_include_tag "doctor/highchartlibs.js" %>


</head>
<style>
  div.alwaysbreak { page-break-before: always; }

  table tbody tr{
    page-break-inside: avoid !important;
  }
</style>
<body onload="onloadBody()">
<div id="title_div" style="color: #1EB8D1;text-align: center;font-size: 16pt;font-weight: bold"></div><br>
<% medical_history = @medical_expedient.medical_history %>
<div id="nameexp" style="width: 100%;text-align: center">
 <div id="patiennamediv" style="width: 40%;float: left;padding-left: 50px">
<strong>Paciente:</strong> <%= @medical_expedient.patient.full_name %>
 </div>
  <div id="expnamediv" style="width: 50%;float: left">
    <strong>No. de Expediente:</strong> <%= @medical_expedient.folio %>
  </div>
</div>
<br>
<hr>
<% @has_gin = false
   @has_ped = false%>
<% session[:doctor_features].each do |f|
  case f
    when  Feature::PED
      #pediatricos
      @has_ped = true
%>
        <%= render 'doctor/print_medical_expedients/pediatrics_graphs' %>

    <% else %>
    <% end
       end
    %>




</body>
<script>
  function onloadBody(){

    if($('#percentile_head').length){
      var percentile_head = JSON.parse($('#percentile_head').val());
      var initYAxis = 30;
      <% if  @graph_type.to_i == 2 %>
      initTablePercentile(percentile_head,'container_graph_head', 'Circunferencia de la cabeza', 'Circunferencia (Cms)', 'Cm', initYAxis);
      <% end %>
    }
    if($('#percentile_imc').length){
      var percentile_imc = JSON.parse($('#percentile_imc').val());
      var initYAxis = 0;
      <% if  @graph_type.to_i == 2 %>
      initTablePercentile(percentile_imc,'container_graph_imc', ' Indice de masa corporal', 'IMC (Kg/m²)', 'Kg/m²', initYAxis);
      <% end %>
    }
    if($('#percentile_length').length){
      var percentile_length = JSON.parse($('#percentile_length').val());
      var initYAxis = 50;
      <% if  @graph_type.to_i == 1 && @data_type ==1 %>
      initTablePercentile(percentile_length, 'container_graph_length', 'Altura', 'Altura (Cms)', 'Cm', initYAxis);
      <% elsif @graph_type.to_i == 1 && @data_type !=1 %>
        var percentile_weight = JSON.parse($('#percentile_weight').val());
        initTablePercentileCombine(percentile_weight,'container_graph_weight', 'Peso', 'Peso (Kgs)','Kg', initYAxis);
      <% end %>

    }
    if($('#percentile_weight').length){
      var percentile_weight = JSON.parse($('#percentile_weight').val());
      var initYAxis = 0;
      <% if  @graph_type.to_i == 3 && @data_type == 1%>
      initTablePercentile(percentile_weight,'container_graph_weight', 'Peso', 'Peso (Kgs)','Kg', initYAxis);
      <% elsif @graph_type.to_i == 3 && @data_type != 1 %>
        initTablePercentileCombine(percentile_weight,'container_graph_weight', 'Peso', 'Peso (Kgs)','Kg', initYAxis);
      <%  end %>
    }
  }

  function initTablePercentile(Data, container, title, titleY, unit, minYAxis){
    var subtitle = $('#subtitle_graph_percentile').val();
    Highcharts.setOptions({
      lang: {
        resetZoom: "Restablecer Zoom"
      }});
    var chart = new Highcharts.Chart({
      chart: {
        type: 'line',
        renderTo: container,
        zoomType: 'xy',
        events: {
          load: function() {
            //$('.highcharts-scrollbar tspan').text("Edgar")
          }
        }
      },
      title: {
        text: 'Percentiles de '+title,
        x: -20 //center
      },
      subtitle: {
        text: subtitle,
        x: -20
      },
      xAxis: {
        title: {
          text: 'Años'
        },
        labels: {
          formatter: function() {
            return this.value +' años'
          }
        }
        //categories: ['1 año', '2 años', '3 años', '4 años', '5 años']
      },
      yAxis: {
        title: {
          text: titleY
        },
        labels: {
          formatter: function() {
            return this.value +' '+unit
          }
        },
        min: minYAxis
      },
      tooltip: {
        crosshairs: [{
          width: 1.5,
          dashStyle: 'solid',
          color: 'blue'
        },{
          width: 1.5,
          dashStyle: 'solid',
          color: 'blue'
        }],
        headerFormat: '<b>{point.x:.0f} años</b><br>',
        valueSuffix: ' '+unit
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 10
      },

      plotOptions: {
        series: {
          enableMouseTracking: false,
          shadow: false,
          animation: false
        },
        line: {
          marker: {
            enabled: false
          }
        }
      },
      series: Data.data
    });
  }
  function initTablePercentileCombine(Data, container, title, titleY, unit, minYAxis){
      var subtitle = $('#subtitle_graph_percentile').val();
      Highcharts.setOptions({
          lang: {
              resetZoom: "Restablecer Zoom"
          }});
      var len = Data.length -1;
      var lastPoint = Data[len];
      var chart = new Highcharts.Chart({
          chart: {
              backgroundColor: '#F9F9F5',
              type: 'line',
              renderTo: container,
              zoomType: 'xy',
              events: {
                  load: function() {
                      //$('.highcharts-scrollbar tspan').text("Edgar")
                  }
              }
          },
          credits: {
              enabled: false
          },
          title: {
              text:''
          },
          subtitle: {
              text: "",
              x: -20
          },
          xAxis: {
              //alternateGridColor: 'rgba(216, 236, 180, 0.2)',
              title: {
                  text: ''
              },
              labels: {
                  formatter: function() {
                      return this.value +' años'
                  }
              }
              //categories: ['1 año', '2 años', '3 años', '4 años', '5 años']
          },
          yAxis: [{labels: {
              enabled: false
          },
              title: {
                  text: null
              }}
          ]
          ,
          tooltip: {
              crosshairs: [{
                  width: 1.5,
                  dashStyle: 'solid',
                  color: 'blue'
              },{
                  width: 1.5,
                  dashStyle: 'solid',
                  color: 'blue'
              }],
              headerFormat: '<b>{point.x:.0f} años</b><br>',
              valueSuffix: ' '+unit
          },
          legend:{
              enabled: false
          },
        /*   legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'middle',
         borderWidth: 10
         },*/
          plotOptions: {
              series: {
                  enableMouseTracking: false,
                  shadow: false,
                  animation: false
              },
              line: {
                  marker: {
                      enabled: false
                  }
              }
          },
          series: Data.data
      });
  }
</script>
</html>
