<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/medical_expedient.css' %>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/vaccines.css' %>

  <%= wicked_pdf_javascript_include_tag "doctor/highchartlibs.js" %>
</head>
<style>
    table tbody tr{
      page-break-inside: avoid !important;
    }
</style>
<body onload="onloadBody()">
<table width="100%" class="zui-table zui-table-rounded size_content_table">
  <thead class="table_head">
  <tr>
    <th colspan="2"><span>DATOS GENERALES DEL PACIENTE</span></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="11" style="width: 30%">
      <div class="container-table">
      <% if !@medical_expedient.patient.picture.nil?
           root_array = @medical_expedient.patient.picture.split("/")
           root_real = []
           flag = false
           root_array.each do |folder|
             root_real << folder if flag
            if folder == "uploads"
              flag = true
              root_real << folder
            end
           end
      %>
      <%= wicked_pdf_image_tag_for_public "/"+root_real.join("/"),:width => "170",  :height=>"170" %>
      <% end %>
      </div>
    </td>
    <td style="width: 70%">
      <div style="margin-top: 20px;">
      <strong>Nombre:</strong> <%= @medical_expedient.patient.full_name %>
      </div>
    </td>
  </tr>
  <tr>
    <td><strong>G&eacute;nero:</strong> <%= @medical_expedient.patient.gender.name %></td>
  </tr>
  <tr>
    <td><strong>Edad:</strong><%= @medical_expedient.patient.age_and_month %></td>
  </tr>
  <tr>
    <td><strong>Direcci&oacute;n:</strong> <%= @medical_expedient.patient.address %></td>
  </tr>
  <tr>
    <td><strong>Tel&eacute;fono:</strong> <%= @medical_expedient.patient.phone %></td>
  </tr>
  <tr>
    <td><strong>Celular:</strong> <%= @medical_expedient.patient.cell %></td>
  </tr>
  <tr>
    <td><strong>Email:</strong> <%= @medical_expedient.patient.email %></td>
  </tr>
  <tr>
    <td><strong>Tipo de sangre:</strong> <%= @medical_expedient.patient.blood_type.name %></td>
  </tr>

  <tr>
    <td><strong>Ocupaci&oacute;n:</strong> <%= @medical_expedient.patient.occupation %></td>
  </tr>
  </tbody>
</table>
<br>
<% medical_history = @medical_expedient.medical_history %>
<% if medical_history.present? %>
    <table width="100%" class="zui-table zui-table-rounded size_content_table">
      <thead class="table_head">
      <tr>
        <th colspan="2"><span>HISTORIA CL&Iacute;NICA</span></th>
      </tr>
      </thead>
    </table>
    <br>
    <table width="100%" class=" zui-table-rounded size_content_table">
      <thead class="table_head_clinical">
      <tr>
        <th><span>Antecedentes generales</span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="container-table">
            <dl>
              <dt><strong>Antecedentes no patol&oacute;gicos</strong></dt>
              <dd>
                <input type="checkbox" <%= (medical_history.no_pathological.smoking)? "checked" : "" %>/>
                <i class="input-helper"></i>
                <span>Tabaquismo.</span>
                <strong>Grado: </strong> <span><%= medical_history.no_pathological.smoking_description %></span>
              </dd>
              <dd>
                <input type="checkbox" <%= (medical_history.no_pathological.alcoholism)? "checked" : "" %>/>
                <i class="input-helper"></i>
                <span>Alcoholismo.</span>
                <strong>Grado: </strong> <span><%= medical_history.no_pathological.alcoholism_description %></span>
              </dd>
              <dd>
                <input type="checkbox" <%= (medical_history.no_pathological.drugs)? "checked" : "" %>/>
                <i class="input-helper"></i>
                <span>Toxicomanías.</span>
                <strong>Grado: </strong> <span><%= medical_history.no_pathological.drugs_description %></span>
              </dd>
              <dd>
                <input type="checkbox" <%= (medical_history.no_pathological.play_sport)? "checked" : "" %>/>
                <i class="input-helper"></i>
                <span>¿Practica alg&uacute;n deporte?.</span>
                <span><%= medical_history.no_pathological.play_sport_description %></span>
              </dd>
              <dd>
                <strong>Escolaridad: </strong><%= medical_history.no_pathological.scholarship %>
              </dd>
              <dd>
                <strong>Estado Civil: </strong>
                <% if @medical_expedient.patient.gender.id == Gender::MAN %>
                    <%= medical_history.no_pathological.marital_status != nil ? medical_history.no_pathological.marital_status.male: ''  %>
                <% else %>
                    <%= medical_history.no_pathological.marital_status != nil ? medical_history.no_pathological.marital_status.female: ''  %>
                <% end %>
              </dd>
              <dd>
                <strong>Religión: </strong><%= medical_history.no_pathological.religion %>
              </dd>
              <dt>
                <strong>Anotaciones:</strong> <span><%= medical_history.no_pathological.annotations %></span>
              </dt>
            </dl>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>

          <% if medical_history.family_disease.present? %>
              <div class="container-table-hr">
                <strong>Antecedentes patol&oacute;gicos</strong>
                <dl>
                  <dt><strong>Familiares con enfermedades</strong></dt>
                  <dd>
                    <input type="checkbox" <%= (medical_history.family_disease.diabetes)? "checked" : "" %>/>
                    <i class="input-helper"></i>
                    <span>Diabetes.</span>
                    <span><%= medical_history.family_disease.diabetes_description %></span>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= (medical_history.family_disease.hypertension)? "checked" : "" %>/>
                    <i class="input-helper"></i>
                    <span>Hypertensi&oacute;n.</span>
                    <span><%= medical_history.family_disease.hypertension_description %></span>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= (medical_history.family_disease.overweight)? "checked" : "" %>/>
                    <i class="input-helper"></i>
                    <span>Sobrepeso.</span>
                    <span><%= medical_history.family_disease.overweight_description %></span>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= (medical_history.family_disease.asthma)? "checked" : "" %>/>
                    <i class="input-helper"></i>
                    <span>Asma.</span>
                    <span><%= medical_history.family_disease.asthma_description %></span>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= (medical_history.family_disease.cancer)? "checked" : "" %>/>
                    <i class="input-helper"></i>
                    <span>C&aacute;ncer.</span>
                    <span><%= medical_history.family_disease.cancer_description %></span>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= medical_history.family_disease.psychiatric_diseases ? 'checked':'' %>> Enfermedades Psiquiátricas.
                    <strong>Descripción: </strong> <%= medical_history.family_disease.psychiatric_diseases_description %>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= medical_history.family_disease.neurological_diseases ? 'checked':'' %>> Enfermedades Neurológicas.
                    <strong>Descripción: </strong> <%= medical_history.family_disease.neurological_diseases_description %>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= medical_history.family_disease.cardiovascular_diseases ? 'checked':'' %>> Enfermedades Cardiovasculares.
                    <strong>Descripción: </strong> <%= medical_history.family_disease.cardiovascular_diseases_description %>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= medical_history.family_disease.bronchopulmonary_diseases ? 'checked':'' %>> Enfermedades Broncopulmonares.
                    <strong>Descripción: </strong> <%= medical_history.family_disease.bronchopulmonary_diseases_description %>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= medical_history.family_disease.thyroid_diseases ? 'checked':'' %>> Enfermedades Tiroideas.
                    <strong>Descripción: </strong> <%= medical_history.family_disease.thyroid_diseases_description %>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= medical_history.family_disease.kidney_diseases ? 'checked':'' %>> Enfermedades Renales.
                    <strong>Descripción: </strong> <%= medical_history.family_disease.kidney_diseases_description %>
                  </dd>
                  <dd>
                    <input type="checkbox" <%= (medical_history.family_disease.other_diseases)? "checked" : "" %>/>
                    <i class="input-helper"></i>
                    <span>Otras.</span> <span><%= medical_history.family_disease.diseases.map{|disease| disease.name}.join(", ") %></span>
                  </dd>
                  <dt>
                    <strong>Anotaciones:</strong> <span><%= medical_history.family_disease.annotations %></span>
                  </dt>
                </dl>
              </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <div class="container-table-hr">
            <strong>Padecimientos del paciente</strong>
            <dl>
              <dd>
                <strong>Cirug&iacute;as:</strong> <span><%= medical_history.surgeries %></span>
              </dd>
              <dd>
                <strong>Transfusiones:</strong> <span><%= medical_history.transfusions %></span>
              </dd>
              <dd>
                <input type="checkbox" <%= (medical_history.allergy_medicament)? "checked" : "" %>/>
                <i class="input-helper"></i>
                <strong>¿Al&eacute;rgico alg&uacute;n medicamento?</strong>
                <span><%= medical_history.allergy_medicament_description %></span>
              </dd>
              <dd>
                <strong>Otras alergias:</strong> <span><%= medical_history.other_allergies %></span>
              </dd>
              <dd>
                <strong>Padecimientos Recientes:</strong> <span><%= medical_history.recent_diseases %></span>
              </dd>
            </dl>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <div class="container-table-hr">
            <strong>Medicamentos de rutina</strong>
            <dl>
              <dd>
                <strong>Medicamentos:</strong> <span><%= medical_history.medicaments.map{|medicament| medicament.comercial_name}.join(", ") %></span>
              </dd>
              <dd>
                <strong>Otros Medicamentos:</strong> <span><%= medical_history.other_medicines %></span>
              </dd>
            </dl>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
<% end %>

<% all_consultations = @medical_expedient.medical_consultations %>

<%= render 'doctor/print_medical_expedients/gynecologist' %>
<%= render 'doctor/print_medical_expedients/pediatrics' %>
<%= render 'doctor/print_medical_expedients/consultation', consultations: all_consultations %>
<%= render 'doctor/print_medical_expedients/hospitalizations' %>

<% # render 'doctor/print_medical_expedients/pregnancies' %>


<% vaccines_children  = @medical_expedient.patient.vaccine_books %>
<br><br><br>
<table width="100%" class="zui-table zui-table-rounded size_content_table" style="font-size: 10px;">
  <thead class="table_head_clinical">
  <tr>
    <th colspan="2"><span>Vacunaci&oacute;n</span></th>
  </tr>
  </thead>
  <tbody>
  <% vaccines_children.each do |vaccines| %>
      <tr>
        <td>
          <div class="container-table">
            <dl>
              <dt><strong>Cartilla Nacional de Salud de <%= vaccines.name.upcase %> (de <%= vaccines.start_age %> a <%= vaccines.end_age %> a&ntilde;os)</strong></dt>
              <dd>
                <%= render 'doctor/print_medical_expedients/vacciness', vaccines_book: vaccines %>
              </dd>
            </dl>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>



</body>
    <script>
        function onloadBody(){

            if($('#percentile_head').length){
                var percentile_head = JSON.parse($('#percentile_head').val());
                var initYAxis = 30;
                initTablePercentile(percentile_head,'container_graph_head', 'Circunferencia de la cabeza', 'Circunferencia (Cms)', 'Cm', initYAxis);
            }
            if($('#percentile_imc').length){
                var percentile_imc = JSON.parse($('#percentile_imc').val());
                var initYAxis = 0;
                initTablePercentile(percentile_imc,'container_graph_imc', ' Indice de masa corporal', 'IMC (Kg/m²)', 'Kg/m²', initYAxis);
            }
            if($('#percentile_length').length){
                var percentile_length = JSON.parse($('#percentile_length').val());
                var initYAxis = 50;
                initTablePercentile(percentile_length, 'container_graph_length', 'Altura', 'Altura (Cms)', 'Cm', initYAxis);
            }
            if($('#percentile_weight').length){
                var percentile_weight = JSON.parse($('#percentile_weight').val());
                var initYAxis = 0;
                initTablePercentile(percentile_weight,'container_graph_weight', 'Peso', 'Peso (Kgs)','Kg', initYAxis);
            }
        }

            function initTablePercentile(Data, container, title, titleY, unit, minYAxis){
                var subtitle = $('#subtitle_graph_percentile').val();
                Highcharts.setOptions({
                    lang: {
                        resetZoom: "Restablecer Zoom"
                    }});
                var chart = new Highcharts.Chart({
                    chart: {
                        type: 'line',
                        renderTo: container,
                        zoomType: 'xy',
                        events: {
                            load: function() {
                                //$('.highcharts-scrollbar tspan').text("Edgar")
                            }
                        }
                    },
                    title: {
                        text: 'Percentiles de '+title,
                        x: -20 //center
                    },
                    subtitle: {
                        text: subtitle,
                        x: -20
                    },
                    xAxis: {
                        title: {
                            text: 'Años'
                        },
                        labels: {
                            formatter: function() {
                                return this.value +' años'
                            }
                        }
                        //categories: ['1 año', '2 años', '3 años', '4 años', '5 años']
                    },
                    yAxis: {
                        scrollbar: {
                            enabled: true
                        },
                        title: {
                            text: titleY
                        },
                        labels: {
                            formatter: function() {
                                return this.value +' '+unit
                            }
                        },
                        min: minYAxis
                    },
                    tooltip: {
                        crosshairs: [{
                            width: 1.5,
                            dashStyle: 'solid',
                            color: 'blue'
                        },{
                            width: 1.5,
                            dashStyle: 'solid',
                            color: 'blue'
                        }],
                        headerFormat: '<b>{point.x:.0f} años</b><br>',
                        valueSuffix: ' '+unit
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 10
                    },
                    scrollbar: {
                        enabled: true
                    },
                    plotOptions: {
                        series: {
                         enableMouseTracking: false,
                         shadow: false,
                         animation: false
                         },
                        line: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    series: Data.data
                });
            }
    </script>
</html>
