<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/medical_expedient' %>
</head>
<body>
<hr>
<table width="100%" style="">
  <tbody>
  <tr>
    <td class="type_text_footer" style="text-align: center;">Este documento fue impreso desde el sistema Medsi.</td>
    <td><%= wicked_pdf_image_tag 'imagotipo-azul.png',:width => "40",  :height=>"40" %></td>
  </tr>
  </tbody>
</table>
</body>
</html>
