<!DOCTYPE html>
<html lang="en">
<head>
  <script>
      function number_pages() {
          var vars={};
          var x=document.location.search.substring(1).split('&');
          for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
          var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
          for(var i in x) {
              var y = document.getElementsByClassName(x[i]);
              for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
          }
      }
  </script>
</head>
<body  onload="number_pages()">
<table width="100%">
  <tr>
    <td>
      <span>Fecha de Impresi&oacute;n:  <%= I18n.localize(Time.now, :format => :expedient) %></span>
    </td>
    <td style=" text-align: right;">
      <span>P&aacute;gina <span class="page"></span> de <span class="topage"></span> </span>
    </td>
  </tr>
</table>
</body>
</html>