
<%= hidden_field_tag 'patient_id',@patient_vaccine_book.id %>
<%
   all_colors = ['#D1C100', '#D16E15', '#55BCD1', '#D155A9', '#CCD100', '#4968D1', '#795FD1', '#9D20D1', '#D15D87', '#D15E6E', '#31BED1', '#23D14D']

%>
<div class="col-xs-6">
  <h3>Cartilla(s) de Vacunación: </h3>
</div>
<div class="col-xs-6" style="align-content: center">
  <button type="button" class="pull-left btn bgm-green waves-effect" id="add_vaccine_book_to_patient" onClick="addVacineBookPatient('show')">Agregar Cartilla</button>
</div>
<%  @patient_vaccine_book.vaccine_books.each do |book| %>
    <hr>
    <div id="book_title"><h4><%= book.name %></h4></div>
    <div id="delete_link"><a  onclick="deleteBook(<%=book.id%>,'<%= book.name %>')" title="Eliminar cartilla de vacunación"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></a></div>
    <TABLE  id="vaccine_book" class="vaccines_table">
      <thead>
      <tr>
        <th>Vacuna</th>
        <th>Enfermedad que previene</th>
        <th>Dosis</th>
        <th>Edad y frecuencia</th>
        <th>Fecha de vacunaci&oacute;n</th>
      </tr>
      </thead>
      <tbody>
      <% book.vaccines.each do |vaccine| %>
          <%
             color_bg = all_colors[rand(rand*(all_colors.size - 1))] %>

          <% if vaccine.application_ages.count > 1 %>
              <TR>
                <TD style="background-color: <%= color_bg %>;" ROWSPAN = <%= vaccine.application_ages.count %>><%=vaccine.name %></TD>
                <TD ROWSPAN = <%= vaccine.application_ages.count %>><%=vaccine.prevent_disease %></TD>
                <% if vaccine.application_ages.first.vaccinations.select { |f| f.patient_id  == @patient_vaccine_book.id } != nil && vaccine.application_ages.first.vaccinations.select { |f| f.patient_id  == @patient_vaccine_book.id }.count > 0 %>
                    <TD align="center" class="vaccine_aplicated_cell"><%=vaccine.application_ages.first.dose %></TD>
                    <TD align="center" class="vaccine_aplicated_cell"><%=vaccine.application_ages.first.age %></TD>
                    <TD align="center" class="vaccine_aplicated_cell"><a data-toggle="modal" href="#addVaccinateDateModal" onclick="setModalVaccination(<%=vaccine.application_ages.first.id%>)" title="Cambiar fecha de vacunación"><%=vaccine.application_ages.first.vaccinations.select { |f| f.patient_id  == @patient_vaccine_book.id }.first.vaccinate_date %></a></TD>
                <% else%>
                    <TD align="center"><%=vaccine.application_ages.first.age %></TD>
                    <TD align="center"><%=vaccine.application_ages.first.dose %></TD>
                    <TD align="center"><a data-toggle="modal" href="#addVaccinateDateModal" onclick="setModalVaccination(<%=vaccine.application_ages.first.id%>)" title="Agregar fecha de vacunación"><i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i></a></TD>
                <% end %>
                <% vaccine.application_ages.drop(1).each do |application| %>
                    <TR>
                      <% if application.vaccinations.select { |f| f.patient_id  == @patient_vaccine_book.id } != nil && application.vaccinations.select { |f| f.patient_id  == @patient_vaccine_book.id }.count > 0 %>
                          <TD align="center" class="vaccine_aplicated_cell"><%=application.dose %></TD>
                          <TD align="center" class="vaccine_aplicated_cell"><%=application.age %></TD>
                          <TD align="center" class="vaccine_aplicated_cell"><a data-toggle="modal" href="#addVaccinateDateModal" onclick="setModalVaccination(<%=application.id%>)" title="Cambiar fecha de vacunación"><%=application.vaccinations.select { |f| f.patient_id  == @patient_vaccine_book.id }.first.vaccinate_date%></a></TD>
                      <% else%>
                          <TD align="center"><%=application.dose %></TD>
                          <TD align="center"><%=application.age %></TD>
                          <TD align="center"><a data-toggle="modal" href="#addVaccinateDateModal" onclick="setModalVaccination(<%=application.id%>)" title="Agregar fecha de vacunación"><i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i></a></TD>
                      <% end %>
                    </TR>
                <% end%>

                </TR>
          <% else %>
              <TR>
                <TD style="background-color: <%= color_bg %>;" ROWSPAN = <%= vaccine.application_ages.count %>><%=vaccine.name %></TD>
                <TD ROWSPAN = <%= vaccine.application_ages.count %>><%=vaccine.prevent_disease %></TD>
                <% m = vaccine.application_ages.first.vaccinations.select { |f| f.patient_id  == @patient_vaccine_book.id }%>
                <% if vaccine.application_ages.first.vaccinations.select { |f| f.patient_id  == @patient_vaccine_book.id } != nil && vaccine.application_ages.first.vaccinations.select { |f| f.patient_id  == @patient_vaccine_book.id }.count > 0 %>
                    <TD align="center" class="vaccine_aplicated_cell" ><%=vaccine.application_ages.first.age %></TD>
                    <TD align="center" class="vaccine_aplicated_cell"><%=vaccine.application_ages.first.dose %></TD>
                    <TD align="center" class="vaccine_aplicated_cell"><a data-toggle="modal" href="#addVaccinateDateModal" onclick="setModalVaccination(<%=vaccine.application_ages.first.id%>)" title="Cambiar fecha de vacunación"><%=vaccine.application_ages.first.vaccinations.select { |f| f.patient_id  == @patient_vaccine_book.id }.first.vaccinate_date%></a></TD>
                <% else%>
                    <TD align="center"><%=vaccine.application_ages.first.age %></TD>
                    <TD align="center"><%=vaccine.application_ages.first.dose %></TD>
                    <TD align="center"><a data-toggle="modal" href="#addVaccinateDateModal" onclick="setModalVaccination(<%=vaccine.application_ages.first.id%>)" title="Agregar fecha de vacunación"><i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i></a></TD>
                <% end %>

              </TR>
          <% end%>

      <% end %>
      </tbody>
    </TABLE>
<% end %>

