<% doctor = Doctor.find(session[:doctor_id])
   exchanges = doctor.currency_exchanges
%>
<script>
  var assistant_permissions = {};
  <% Permission.all.each do |ap| %>
  assistant_permissions["<%= ap.name %>"] = [];
  <% end %>
  <% @assistant.office_permissions.each do |p| %>
  assistant_permissions["<%= p.permission.name %>"].push(<%= p.office.id %>);
  <% end %>

    var assistant_id = <%= @assistant.id %>;
    var charge_reports = <%= doctor.charge_reports.present? ? doctor.charge_reports : 0 %>;
    var picture_default_waiting_room = "<%= image_url("profile_doctor.jpg") %>";
</script>

<input type="hidden" id="url_validate_date" value="<%= validate_date_doctor_activities_url %>"/>

<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="block-header">
        <ul class="actions">
          <li>
            <a class="action" id="res_calendar_assistant"><i class="zmdi zmdi-window-restore"></i></a>
            <a class="action" id="max_calendar_assistant"><i class="zmdi zmdi-window-maximize"></i></a>
          </li>
        </ul>
      </div>
      <input type="hidden" id="is_agenda_page" value="yes">
      <div id="calendar_assistant"></div>
      <div id="calendar_a_min" style="background: #00BCD4; padding: 10px; color:white; font-size: 16px;"></div>
    </div>

    <div class="col-sm-6">
      <div class="block-header">
        <ul class="actions">
          <li>
            <a class="action" id="min_waiting_room_assistant"><i class="zmdi zmdi-window-minimize"></i></a>
            <a class="action" id="res_waiting_room_assistant"><i class="zmdi zmdi-window-restore"></i></a>
            <a class="action" id="max_waiting_room_assistant"><i class="zmdi zmdi-window-maximize"></i></a>

          </li>
        </ul>
      </div>
      <div class="card" id="waiting_room_a">
        <div class="listview">
          <div class="lv-header">
            Sala de Espera
          </div>
          <div class="lv-body" id="waiting_room_items">
            <small id="no_wroom_items" class="lv-small" style="margin-left: 10px;">No hay pacientes en la sala de espera...</small>
          </div>
          <a class="lv-footer" href="">Ver Todos</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="block-header">
        <ul class="actions">
          <li>
            <a class="action" id="min_med_consultations"><i class="zmdi zmdi-window-minimize"></i></a>
            <a class="action" id="res_med_consultations"><i class="zmdi zmdi-window-restore"></i></a>
            <a class="action" id="max_med_consultations"><i class="zmdi zmdi-window-maximize"></i></a>
          </li>
        </ul>
      </div>
      <div class="card" id="med_consult_a">
        <div class="listview">
          <div class="lv-header">
            Consultas por cobrar
            <% if @daily_cash == nil %>
                <br><br>
            <label style="color: red;">NO HAY UN CORTE DE CAJA ABIERTO</label>
            <% end %>
          </div>
          <% if !@daily_cash.nil? %>
          <div class="lv-body" id="consultation_items">
          </div>
          <% end %>
          <a class="lv-footer" href="">Ver Todos</a>
        </div>
      </div>
    </div>

  </div>
</div>


<div>
  <input type="hidden" id="assistant_office_id" value="">
  <input type="hidden" id="daily_cash_id" value="<%= @daily_cash != nil ? @daily_cash.id : '' %>">
</div>


<div class="modal fade" id="addNew-event" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addEventTitle">Agregar Actividad</h4>
      </div>
      <div class="modal-body">
        <form class="addEvent" role="form">

          <div class="row">

          <div class="form-group">
            <label for="eventName">Tipo</label>
            <div class="event-tag">
              <% ActivityType.all.each do |at| %>
                  <span
                  data-tag="<%= at.color %>"
                  class="<%= at.color %>" activity-type="<%= at.id %>"></span>
                  <strong class="activity_type_name"><%= at.name %></strong>&nbsp;&nbsp;&nbsp;
              <% end %>
            </div>
          </div>

            <div class="col-xs-12" id="add_personal_support_div" style="display: none;">
              <div class="col-md-4 col-xs-4">
                <strong>Agregar participantes:</strong>
              </div>
              <div class="col-xs-8 col-md-8">
                <select class="selectpicker form-control" id="personal_supports" multiple data-selected-text-format="count" data-count-selected-text="{0} participantes">
                  <% @doctor.personalsupports.each do |o| %>
                      <option value="<%= o.id %>"><%= o.full_name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="col-xs-6">
              <strong>Consultorio:</strong> <br>
              <div class="btn-group bootstrap-select">
                <select class="selectpicker" id="activity_office">
                  <option id="office_all" value="all">Todos los consultorios</option>
                      <% @assistant.doctors.first.offices.active_offices.each do |o| %>
                          <option class="activity_office" id="office_<%= o.id %>" duration="<%= o.consult_duration %>" value="<%= o.id %>"><%= o.name %></option>
                      <% end %>
                </select>
              </div>
            </div>
            <div class="col-xs-6">
              <strong>Estado:</strong> <br>
              <div class="btn-group bootstrap-select">
                <select class="selectpicker" id="activity_status">
                  <% ActivityStatus.all.each do |as| %>
                      <option class="activity_status option_status_<%= as.activity_type.id %>" value="<%= as.id %>"><%= as.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

          
            <div class="col-xs-12" id="patient_div">
              <br>
              <div class="form-group">
                <label for="activity_name">Paciente</label>
                <div class="fg-line">
                  <input type="text" class="input-sm form-control input-lg search-patient" name="" id="activity_patient" placeholder="Ingrese el paciente">
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_name">Actividad</label>
                <div class="fg-line">
                  <input type="text" class="input-sm form-control input-lg" id="activity_name" placeholder="Ingrese el nombre de la actividad">
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_details">Detalles</label>
                <div class="fg-line">
                  <textarea class="input-sm form-control input-lg" id="activity_details" placeholder="Ingrese los detalles"></textarea>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group fg-line">
                <label for="activity_start_date">Fecha Inicio</label>
                <input class="form-control input-lg form-control date-picker"
                       id="activity_start_date" placeholder="Fecha Inicio" type="text">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group fg-line">
                <label for="activity_start_time">Hora Inicio</label>
                <input class="form-control input-lg form-control time-picker"
                       id="activity_start_time" placeholder="H. Inicio" type="text">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group fg-line">
                <label for="activity_end_date">Fecha Fin</label>
                <input class="form-control input-lg form-control date-picker"
                       id="activity_end_date" placeholder="Fecha Fin" type="text">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group fg-line">
                <label for="activity_end_time">Hora Fin</label>
                <input class="form-control input-lg form-control time-picker"
                       id="activity_end_time" placeholder="H. Fin" type="text">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="checkbox m-b-10">
                <label>
                  <input class="" type="checkbox" id="all_day_activity">
                  <i class="input-helper"></i>Todo el día
                </label>
              </div>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="addEvent">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="generate_charge_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="generate_charge_title">Generar cobro</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="add_charge_url" value="<%= create_charge_doctor_daily_cashes_path %>">
        <form class="" role="form">
          <div class="row">
            <input type="hidden" id="quick_charge_type" value="consult">
            <div class="col-xs-6">
              <strong>Método de Pago:</strong> <br>
              <select class="selectpicker form-control" id="charge_payment_method">
                <% @payment_methods.each do |pm| %>
                    <option id="payment_method_<%= pm.id %>" affect_local="<%= pm.affect_local ? 1 : 0  %>" value="<%= pm.id %>"><%= pm.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-xs-6">
              <strong id="">Cuenta:</strong> <br>
              <select class="selectpicker form-control" id="charge_account">
                <option value="">Seleccionar cuenta...</option>
                <%
                  @all_accounts.each do |a|
                %>
                    <option id="account_<%= a.id %>" class="t_account account_office_<%= a.office_id %> <%= a.bank.is_local ? 'local_account' : 'bank_account' %>"
                            currency="<%= a.bank.is_local ? '' : a.currency_id %>" value="<%= a.id %>" iso_code = "<%= a.currency.iso_code %>">
                      <%= a.account_number %> - <%= a.bank.name %> <%= a.bank.is_local ? '' : '('+a.currency.iso_code+')' %>
                    </option>
                <% end %>
              </select>

              <br>
            </div>
            <div class="col-xs-6">
              <strong>Moneda:</strong> <br>
              <select class="selectpicker form-control" id="doctor_currency">
                <% exchanges.each do |ex| %>
                    <option id="currency_doc_<%= ex.currency_id %>"  value="<%= ex.currency_id %>"><%= ex.currency.iso_code %></option>
                <% end %>
              </select>
            </div>
            <div class="col-xs-6">
              <strong>Monto:</strong> <br>
              <input type="number" class="form-control input-lg" id="charge_amount">
              <input type="hidden" class="form-control input-lg" id="charge_amount2">
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_details">Detalles</label>
                <div class="fg-line">
                  <textarea class="input-sm form-control input-lg" id="charge_details" placeholder=""></textarea>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_transaction_btn" onclick="addCharge()">Cobrar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="activity_operation" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Información de la actividad</h4>
      </div>
      <div class="modal-body">

        <div id="activity_info" style="font-size: 16px;">

        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-link" id="in_w_room_btn" onclick="setPatientInWroom()">En espera</button>
        <button type="submit" class="btn btn-danger" id="delete_activity_btn" onclick="deleteActivity()">Eliminar</button>
        <button type="submit" class="btn btn-primary" id="update_activity_btn" onclick="update_activity_modal()">Editar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="change_date_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <div style="text-align: center"><h4 class="modal-title" id="">Seleccionar fecha</h4></div>
      </div>
      <div class="modal-body" id="small_calendar_modal">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<% if !@activate_notification.nil? and @activate_notification %>

    <%= hidden_field_tag 'active_notification', @activate_notification %>
    <%= hidden_field_tag 'title_notification', @title_notification %>
    <%= hidden_field_tag 'message_notification', @message_notification %>
    <%= hidden_field_tag 'type_notification', @type_notification %>

<% end %>