
<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Cartillas de vacunación</h2>
  </div>
      </div>
      <div class="col-xs-6">
  <button type="button" class="pull-right btn bgm-green waves-effect" id="add_vaccine_book_to_patient" onClick="addVacineBookPatient()">Agregar</button>
    </div>
    <div class="col-xs-12">


  <table id="data-table-vaccines-books" class="table table-striped" data-source="<%= doctor_vaccine_book_path(format:"json")%>">
    <thead>
    <tr>
      <th data-column-id="id">ID</th>
      <th data-column-id="name">NOMBRE</th>
      <th data-column-id="vaccine_books">CARTILLAS</th>
      <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
    </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div></div></div></div>


<div class="modal fade" id="addbookpatient" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccine_title">Agregar Vacuna</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <strong>Paciente</strong>
              <div class="dtp-container fg-line">
                <input type="text" id="vaccinebook-patient" class="form-control input-lg search-patient">

              </div>
            </div>
          </div>
          <div class="col-xs-12">
            Vacuna: <br>
            <div class="btn-group bootstrap-select">
              <select class="selectpicker" id="vaccine_book_select">
                <%  VaccineBook.all.each do |s| %>
                    <option value="<%= s.id %>"><%= s.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_book_to_patient_btn" onClick="saveVaccioneBook()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<%= hidden_field_tag 'url_vaccine_book_patient', url_for(:controller => 'admin/vaccine_books', :action => 'add_book_patient', :only_path => false) %>