<div class="card">
  <div class="card-body card-padding">
    <div class="row">

<%= form_for [:admin, @finkok_config] do |f| %>
    <% if @finkok_config.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@finkok_config.errors.count, "error") %> prohibited this group from being saved:</h2>

          <ul>
            <% @finkok_config.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
          <div class="col-xs-12">
              <strong>Seleccione el ambiente para facturar</strong>
              <%= f.select :environment, [['pruebas', 'pruebas'], ['produccion', 'produccion']], {}, {:class => "selectpicker form-control"}  %>
          </div>
          <div class="col-xs-6">
            <div class="form-group fg-line">
      <%= f.label :test_username,"Usuario de prueba", :class=>"control-label"  %><br>
      <%= f.text_field :test_username, :class =>  "form-control input-lg", :placeholder => "Usuario de prueba"  %>
    </div>
      </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :test_password,"Usuario de prueba", :class=>"control-label"  %><br>
              <%= f.text_field :test_password, :class =>  "form-control input-lg", :placeholder => "Password de prueba"  %>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :test_wsdl,"web service url prueba", :class=>"control-label"  %><br>
              <%= f.text_field :test_wsdl, :class =>  "form-control input-lg", :placeholder => "Dirección web service pruebas"  %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :prod_username,"Usuario de producción", :class=>"control-label"  %><br>
              <%= f.text_field :prod_username, :class =>  "form-control input-lg", :placeholder => "Usuario de Producción"  %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :prod_password,"Password de producción", :class=>"control-label"  %><br>
              <%= f.text_field :prod_password, :class =>  "form-control input-lg", :placeholder => "Password de Producción"  %>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group fg2-line">
              <%= f.label :prod_wsdl,"web service url producción", :class=>"control-label"  %><br>
              <%= f.text_field :prod_wsdl, :class =>  "form-control input-lg", :placeholder => "Dirección web service producción"  %>
            </div>
          </div>



    </div></div></div>

<div class="col-xs-6">

</div>
<div class="col-xs-6">
  <span class="col-xs-3"></span>
  <span class="col-xs-4"></span>
  <span class="col-xs-1"></span>
  <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
</div>

      <% end %>