
<div class="medsi_title">Welcome to example.com, <%= @user %></div>
<p>
  You have successfully signed up to example.com,
  your username is: <%= @user %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
