<p id="notice"><%= notice %></p>
<%= form_for [:admin, @author], html: {multipart: true,:onsubmit => "return update_html_content();"} do |f| %>
<div class="card">
  <div class="card-body card-padding">
    <h2>Datos del autor</h2>

    <div class="row">
      <% if @author.errors.any? %>
          <div id="error_explanation">
            <strong><%= pluralize(@author.errors.count, "error","errores") %> en el formulario:</strong>
            <ul>
              <% @author.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="col-md-12">
        <%= f.label :profile_image,"Foto",:class=>"control-label" %><br>
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
          <div>
              <span class="btn btn-info btn-file">
                  <span class="fileinput-new">Seleccionar Foto</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="author[profile_image]">
              </span>
            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Eliminar</a>
          </div>
        </div>
      </div>



      <% if @author.profile_image.present?  %>
          <div class="col-md-12">
            <img src="<%= get_picture_admin_authors_path(@author.id) %>" style="width: 300px">
          </div>
      <% end %>




      <div class="col-md-6">
        <div class="form-group fg-line">
          <%= f.label :name,"Nombre",:class=>"control-label" %><br>
          <%= f.text_field :name, :class=>"form-control input-lg required", :placeholder => "Nombre" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group fg-line">
          <%= f.label :last_name,"Apellido",:class=>"control-label" %><br>
          <%= f.text_field :last_name, :class=>"form-control input-lg required", :placeholder => "Apellido" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group fg-line">
          <%= f.label :company_title,"Puesto",:class=>"control-label" %><br>
          <%= f.text_field :company_title, :class=>"form-control input-lg required", :placeholder => "Puesto" %>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group fg-line">
          <%= f.label :job_title,"Título",:class=>"control-label" %><br>
          <%= f.text_field :job_title, :class=>"form-control input-lg required", :placeholder => "Título" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group fg-line">
          <%= f.label :email,"Correo",:class=>"control-label" %><br>
          <%= f.text_field :email, :class=>"form-control input-lg required", :placeholder => "Correo" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group fg-line">
          <%= f.label :twitter,"Twitter",:class=>"control-label" %><br>
          <%= f.text_field :twitter, :class=>"form-control input-lg required", :placeholder => "Twitter" %>
        </div>
      </div>



    </div>


  </div>
</div>

    <div class="col-md-6 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">
      <span class="col-md-3 col-xs-12"></span>
      <a href="<%= admin_authors_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
      <span class="col-md-1 col-xs-12"></span>
      <button type="submit" class="btn btn-primary col-md-4 col-xs-12">Guardar</button>
    </div>


<% end %>