<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2>Lista de Autores</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Agregar', new_admin_author_path, class: "pull-right btn bgm-green waves-effect" %>
      </div>
      <div class="col-xs-12">


        <table  id="data-table-authors" class="table table-striped" data-source="<%= admin_authors_url(format: "json")%>">
          <thead>
          <tr>
            <th data-column-id="name">Nombre</th>
            <th data-column-id="twitter">Twitter</th>
            <th data-column-id="company_title">Puesto</th>
            <th data-column-id="job_title">Título</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
