<div class="card">
  <div class="card-body card-padding">

    <strong>Agregar valoración:</strong><br>
    <select class="selectpicker form-control" id="valoration_type_select">
      <% ValorationType.all.each do |vt| %>
      <option value="<%= vt.id %>"><%= vt.name %></option>
      <% end %>
    </select>
    <a class="btn btn-primary btn-block waves-effect"
       id="new_valoration_btn" url="<%= new_valoration_doctor_expedients_path %>">
      Agregar
    </a>

    <hr>

    <strong>Agregar nota médica:</strong><br>
    <select class="selectpicker form-control" id="annotation_type_select">
      <% MedicalAnnotationType.all.each do |vt| %>
          <option value="<%= vt.id %>"><%= vt.name %></option>
      <% end %>
    </select>
    <a class="btn btn-primary btn-block waves-effect"
       id="new_annotation_btn"
       url="<%= load_annotation_fields_cli_hospitalizations_path %>">
      Agregar</a>


  </div>
</div>