<div class="card">
  <div class="card-body card-padding">
    <h3>Notas médicas</h3>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th style="width: 25%">Fecha</th>
        <th>Anotación</th>
        <th>Responsable</th>
        <th style="width: 130px;"></th>
      </tr>
      </thead>
      <tbody>
      <% @hospitalization.medical_annotations.order('created_at DESC').each do |ma| %>
          <tr>
            <td>
              <label annotation="<%= ma.id %>" class="show_annotation_btn">
                <i class="zmdi zmdi-caret-right-circle zmdi-hc-fw"></i>
              </label>
            </td>
            <td><%= ma.created_at.strftime('%d/%m/%Y %l:%M %p') %></td>
            <td><%= ma.medical_annotation_type.name %></td>
            <td><%= ma.user.person.full_name %></td>
            <td>
              <a target="_blank" class="btn btn-primary btn-icon waves-effect waves-circle waves-float" href="<%= medical_annotation_pdfs_path(ma) %>">
                <i class="zmdi zmdi-print"></i>
              </a>

              <% if ma.medical_annotation_type.require_upload %>
                  <a class="btn bgm-deeporange btn-icon waves-effect waves-circle waves-float upload_annotation_file" annotation_id="<%= ma.id %>">
                    <i class="zmdi zmdi-upload"></i>
                  </a>
              <% end %>

            </td>
          </tr>
          <tr id="full_annotation_<%= ma.id %>" style="display: none;">
            <td colspan="6">
              <% ma.annotation_fields.each do |field|
                data = JSON.parse(field.medical_annotation_field.config)
              %>
                  <div class="col-md-4">

                    <% case data['html_type']
                         when "checkbox" %>

                        <%= data['label'] %><br>
                        <%
                          options = data['options'].split("|")
                          values = field.data.split("|")
                        %>

                        <% options.each do |o|
                          checked = ""
                          checked = "checked" if values.include? o
                        %>
                            <label class="checkbox checkbox-inline m-r-20">
                              <input type="checkbox" <%= checked %>>
                              <i class="input-helper"></i>
                              <%= o %>
                            </label><br>
                        <% end %>

                    <% else %>
                        <strong><%= data['label'] %></strong><br>
                        <label class="annotation_data_label">
                          <%= field.data %>
                        </label>
                    <% end %>


                  </div>
              <% end %>


              <% if ma.medical_annotation_files.size > 0 %>
              <div class="col-md-12">
                <strong>Archivos subidos</strong>

                <table class="table">
                  <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Subido por</th>
                    <th>Notas</th>
                    <th>Descarga</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% ma.medical_annotation_files.each do |file| %>
                      <tr>
                        <td><%= file.created_at.strftime('%d/%m/%Y') %></td>
                        <td><%= file.user.person.full_name %></td>
                        <td><%= file.notes %></td>
                        <td>
                          <% basename = File.basename file.document.url %>
                          <%= basename %>
                          <a target="_blank" class="btn bgm-lightgreen btn-icon waves-effect waves-circle waves-float"
                             href="<%= download_cli_medical_annotation_files_path(file) %>">
                            <i class="zmdi zmdi-download"></i>
                          </a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>



              </div>
              <% end %>


            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>