<div class="modal fade" id="add_valoration_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Agregar valoración</h4>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag 'new_valoration_valoration_type_id','' %>
        <div id="valoration_fields"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="save_valoration_btn" url="<%= save_medical_valoration_cli_hospitalizations_path %>">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_annotation_modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Agregar anotación</h4>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag 'new_annotation_annotation_type_id','' %>
        <div id="annotation_fields"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="save_annotation_btn" url="<%= save_medical_annotation_cli_hospitalizations_path %>">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="add_annotation_file_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Agregar archivo</h4>
      </div>
      <div class="modal-body">
        <%= form_for [:cli, @annotation_file] do |f| %>
            <%= f.hidden_field :medical_annotation_id %>
            <%= hidden_field_tag 'source', 'hospitalization' %>
            <%= hidden_field_tag 'hospitalization_id', @hospitalization.id %>
            <div class="row">
              <div class="col-md-12">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file m-r-10">
                                            <span class="fileinput-new">Seleccionar archivo</span>
                                            <span class="fileinput-exists">Cambiar</span>
                                          <%= f.file_field :document %>
                                        </span>
                  <span class="fileinput-filename"></span>
                  <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group fg-line">
                  <strong>Notas</strong>
                  <%= f.text_area :notes, :class=>"form-control input-lg", :placeholder => "Notas" %>

                </div>
              </div>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="save_annotation_file_btn">Aceptar</button>
      </div>
    </div>
  </div>
</div>