<div class="card">
  <div class="card-body card-padding">
    <h3>Valoraciones</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th style="width: 25%">Fecha</th>
        <th>Valoración</th>
        <th>Responsable</th>
        <th>Resumen de valoración</th>
      </tr>
      </thead>
      <tbody>
      <% @hospitalization.patient_valorations.order('created_at DESC').each do |pv| %>
      <tr>
        <td>
          <label patient_valoration="<%= pv.id %>" class="show_valoration_btn">
            <i class="zmdi zmdi-caret-right-circle zmdi-hc-fw"></i>
          </label>

        </td>
        <td><%= pv.created_at.strftime('%d/%m/%Y %l:%M %p') %></td>
        <td><%= pv.valoration_type.name %></td>
        <td><%= pv.user.person.full_name %></td>
        <td>
          <% idx = 0
            max = (pv.patient_valoration_fields.size > 4 ) ? 4 :  pv.patient_valoration_fields.size
          %>
          <% pv.patient_valoration_fields.each do |field|
            if idx < max
          %>
                <strong><%= field.valoration_field.name %>: </strong>
                  <label class="valoration_data_label"><%= field.data %></label><%= idx < (max - 1) ? ',':'' %>
                  &nbsp;
          <%
            end
            idx += 1
            end %>
        </td>
      </tr>
      <tr id="full_valoration_<%= pv.id %>" style="display: none;">
        <td colspan="5">
          <% pv.patient_valoration_fields.each do |field| %>
              <div class="col-md-4">
                <strong><%= field.valoration_field.name %></strong><br>
                <% if !field.valoration_field.collection_type.present? %>
                    <label class="valoration_data_label"><%= field.data %></label>
                <% else
                  str = ""
                %>

                <% case field.valoration_field.collection_type %>
                <% when Const::VALORATION_COLLECTION_TYPE_TRIAGE
                  rec = Triage.find(field.data)
                  if rec.present?
                    str = rec.level
                  end
                %>

                <% end %>

                    <label class="valoration_data_label"><%= str %></label>

                <% end %>
              </div>
          <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>