<div class="row">
  <div class="annotation_holder col-md-12">
    <div>
      <strong><%= @annotation_type.name %></strong>
    </div>

    <div class="row">

      <% @annotation_type.medical_annotation_linked_fields.each do |linked_field| %>
          <div class="col-md-6">
            <strong><%= linked_field.name %></strong><br>
            <% case linked_field.code %>
            <% when Const::MEDICAL_ANNOTATION_LINKED_FIELD_CIE10 %>
                <select multiple class="search-cie-10 linked_field" field_id="<%= linked_field.id %>" style="width: 100%;"></select>
            <% end %>
          </div>
      <% end %>

      <% @annotation_type.medical_annotation_fields.each do |field|
        data = JSON.parse(field.config)
        placeholder = data['label']
      %>
          <div class="col-md-<%= data['html_type'] == 'long_text' ? '6' : '4' %>">
            <strong><%= data['label'] %></strong><br>
            <% case data['html_type'] %>
            <% when 'number' %>
                <input type="number" class="v_field form-control input-lg" field_id="<%= field.id %>" placeholder="<%= placeholder %>">
            <% when 'text' %>
                <input type="text" class="v_field form-control input-lg" field_id="<%= field.id %>" placeholder="<%= placeholder %>">
            <% when 'long_text' %>
                <textarea class="v_field form-control input-lg" field_id="<%= field.id %>" placeholder="<%= placeholder %>"></textarea>
            <% when 'date' %>
                <% dpicker_class = "date-picker"
                  if data['date_format'] == "date_hour"
                    dpicker_class = "date-time-picker"
                  end
                %>
                <input type="text" class="v_field form-control input-lg <%= dpicker_class %>" field_id="<%= field.id %>" placeholder="<%= placeholder %>">
            <% when 'checkbox' %>
                <% options = data['options'].split("|") %>
                <div class="checkbox_holder" name="<%= data['code'] %>" field_id="<%= field.id %>">
                  <% options.each do |o| %>
                      <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" value="<%= o %>" name="<%= data['code'] %>" field_id="<%= field.id %>">
                        <i class="input-helper"></i>
                        <%= o %>
                      </label><br>
                  <% end %>
                </div>
            <% end %>

          </div>
      <% end %>

    </div>
  </div>

  <% if @annotation_type.add_valoration %>
      <div class="col-md-12">
        <hr>
      </div>
  <div class="col-md-10">
    <strong>Agregar valoración:</strong><br>
    <select class="selectpicker form-control" id="medical_annotation_valoration_type_id">
      <% ValorationType.all.each do |vt| %>
          <option value="<%= vt.id %>"><%= vt.name %></option>
      <% end %>
    </select>
  </div>
  <div class="col-md-2">
    <a class="btn btn-primary btn-block waves-effect"
       id="new_valoration_medical_annotation_btn" url="<%= new_valoration_doctor_expedients_path %>">
      Agregar
    </a>
  </div>
  <div id="medical_annotation_valorations" class="col-md-12">

  </div>
  <% end %>

</div>

