<style>
  .pdf_data_table{
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
    margin-bottom: 10px;
  }

    .pdf_data_table td{
      border: 1px black solid;
      padding: 5px;
    }
</style>

<h1><%= @hospitalization.patient.full_name %></h1>
<table style="width: 60%">
  <tr>
    <td><strong>Fecha de admisión</strong></td>
    <td><%= @hospitalization.admission_date.strftime('%d/%m/%Y %l:%M %p') %></td>
  </tr>
  <tr>
    <td><strong>Médico</strong></td>
    <td><%= @hospitalization.doctor.full_name_title %></td>
  </tr>
  <tr>
    <td><strong>Triage</strong></td>
    <td><label style=" width:100%; text-align: center; background: <%= "#"+@hospitalization.triage.color %>;"><%= @hospitalization.triage.level %></label></td>
  </tr>
  <tr>
    <td><strong>Tipo de atención</strong></td>
    <td><%= @hospitalization.attention_type.name %></td>
  </tr>
</table>

<hr>
<h3>Valoraciones</h3>

  <% @hospitalization.patient_valorations.order('created_at DESC').each do |pv| %>
  <table class="pdf_data_table">
    <tr>
      <td style="width: 250px;">
        <strong>Fecha</strong><br>
        <%= pv.created_at.strftime('%d/%m/%Y %l:%M %p') %><br>

        <strong>Tipo</strong><br>
        <%= pv.valoration_type.name %><br>

        <strong>Responsable</strong><br>
        <%= pv.user.person.full_name %><br>

      </td>
      <td>
        <% pv.patient_valoration_fields.each do |field| %>
            <div>
              <strong><%= field.valoration_field.name %>: </strong>
              <%= field.data %>
            </div>
        <% end %>
      </td>
    </tr>
  </table>
  <% end %>


<h3>Notas médicas</h3>

<% @hospitalization.medical_annotations.order('created_at DESC').each do |ma| %>
    <table class="pdf_data_table">
      <tr>
        <td style="width: 250px;">
          <strong>Fecha</strong><br>
          <%= ma.created_at.strftime('%d/%m/%Y %l:%M %p') %><br>

          <strong>Tipo</strong><br>
          <%= ma.medical_annotation_type.name %><br>

          <strong>Responsable</strong><br>
          <%= ma.user.person.full_name %><br>

        </td>
        <td>
          <% ma.annotation_fields.each do |field|
            data = JSON.parse(field.medical_annotation_field.config)
          %>
              <div>
                <strong><%= data['label'] %>: </strong>
                <%= field.data %>
              </div>
          <% end %>
        </td>
      </tr>
    </table>
<% end %>


