<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @hospitalization.patient.full_name %></h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <strong>Fecha de admisión:</strong><br>
          <%= @hospitalization.admission_date.strftime('%d/%m/%Y %l:%M %p') %>
        </div>
        <div class="col-md-3">
          <strong>Médico:</strong><br>
          <%= @hospitalization.doctor.present? ? @hospitalization.doctor.full_name_title : 'No asignado' %>
        </div>
        <div class="col-md-3">
          <strong>Triage:</strong><br>
          <label style=" width:100%; text-align: center; background: <%= "#"+@hospitalization.triage.color %>;"><%= @hospitalization.triage.level %></label>
        </div>
        <div class="col-md-3">
          <strong>Tipo de atención:</strong><br>
          <%= @hospitalization.attention_type.name %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <%= render 'menu' %>
  </div>
  <div class="col-md-9">
    <%= render 'valorations' %>
    <%= render 'notes' %>
  </div>
</div>

<%= render 'show_modals' %>

<%= hidden_field_tag 'hospitalization_id',@hospitalization.id %>