<div class="profile-menu">
  <a href="">
    <div class="profile-pic" style="height: 77px;">

    </div>

    <div class="profile-info">
          <%= current_user.assistant.full_name %>
      <i class="zmdi zmdi-caret-down"></i>
    </div>
  </a>

  <ul class="main-menu">

  </ul>
</div>

<ul class="main-menu">
  <li class="active">
        <%= link_to shared_assistant_index_index_path do %>
        <i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> Agenda
        <% end %>
  </li>
  <li class="">
    <%= link_to shared_assistant_patients_path do %>
        <i class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i> Pacientes
    <% end %>
  </li>

  <li class="">
    <%= link_to doctor_doctor_waiting_room_path do %>
        <i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i> Sala de espera
    <% end %>
  </li>

  <li class="">
    <%= link_to shared_assistant_daily_cashes_path do %>
        <i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Caja
    <% end %>
  </li>
  <li class="">
    <%= link_to shared_assistant_personalsupports_path do %>
        <i class="zmdi zmdi-accounts-add zmdi-hc-fw"></i> Participantes
    <% end %>
  </li>
  <li class="sub-menu">
    <a href=""><i class="zmdi zmdi-collection-text zmdi-hc-fw"></i> Facturaci&oacute;n</a>
    <ul>
      <li><%= link_to 'Facturación de consultas', shared_assistant_transactions_path  %></li>
      <li><%= link_to 'Facturación global', general_invoice_shared_assistant_transactions_path %></li>
      <li><%= link_to 'Facturación abierta', open_invoices_shared_assistant_invoices_path %></li>
    </ul>
  </li>
  <li class="sub-menu">
    <a href=""><i class="zmdi zmdi-assignment zmdi-hc-fw"></i> Reportes</a>
    <ul>
      <li><%= link_to 'Cortes de caja', history_shared_assistant_daily_cashes_path %></li>
      <li><%= link_to 'Consultas', shared_assistant_medical_consultations_path %></li>
      <li><%= link_to 'Facturas', shared_assistant_invoices_path %></li>
    </ul>
  </li>
  <li class="">
    <%= link_to shared_assistant_general_fiscal_infos_path do %>
        <i class="zmdi zmdi-accounts-add zmdi-hc-fw"></i> Datos fiscales
    <% end %>
  </li>
    </ul>
