<div class="card">
  <div class="card-body card-padding">
    <h4 class="page_title">Sala de espera</h4>
    <%
      status = WaitingRoomStatus.order('s_order ASC')
      if status.size > 0 %>
        <a class="btn btn-success pull-right" style="margin-top: -40px" id="new_waiting_room_item">Agregar</a>
    <% end %>

    <input type="text" id="date_waiting_room" class="date-picker" value="<%= only_date(Time.now) %>"> <i class="zmdi zmdi-refresh" id="refresh_dashboard" title="Actualizar"></i>

      <div>
        <%
          width = 100
          if status.size > 0
            width = (100 / status.size).to_i
          end
        %>

        <% status.each do |s| %>
            <div class="room_status" style="width:<%= width %>%;">
              <strong><%= s.name %></strong>
              <div>
                <ul class="waiting_room_list" id="list_<%= s.id %>" order="<%= s.s_order %>" status_id="<%= s.id %>">

                </ul>
              </div>
            </div>
        <% end %>
      </div>
    <div style="clear:both;"></div>

  </div>
</div>


<div class="modal fade" id="add_patient_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar paciente en espera</h4>
      </div>
      <div class="modal-body">
        <strong>Paciente</strong>
        <input type="text" class="search-patient form-control" id="patient_name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_waiting_room_item" url="<%= cli_waiting_room_items_path %>">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="add_admission_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar admisión hospitalaria</h4>
      </div>
      <div class="modal-body">
        <strong>Paciente</strong>
        <input type="text" class="search-patient form-control" id="admission_patient_name">
        <input type="hidden" id="create_admission_item_id">
        <strong>Médico</strong>
        <input type="text" class="search-doctor form-control" id="admission_doctor_name">
        <strong>Tipo de atención</strong>
        <select class="selectpicker form-control" id="admission_attention_type_id">
          <% AttentionType.all.each do |at| %>
          <option value="<%= at.id %>"><%= at.name %></option>
          <% end %>
        </select>
        <strong>Triage</strong>
        <select class="selectpicker form-control" id="admission_triage_id">
          <% Triage.all.each do |t| %>
              <option value="<%= t.id %>"><%= t.level %></option>
          <% end %>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_admission_btn" url="<%= cli_waiting_room_items_path %>">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="add_valoration_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar valoración</h4>
      </div>
      <div class="modal-body">
        <input id="new_valoration_patient_id" type="hidden">
        <input id="new_valoration_item_id" type="hidden">
        <strong>Tipo de valoración</strong>
        <select id="valoration_type_select" class="selectpicker form-control">
          <% ValorationType.all.each do |vt| %>
          <option value="<%= vt.id %>"><%= vt.name %></option>
          <% end %>
        </select>
        <div id="valoration_fields_holder">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_valoration_btn" url="<%= save_valoration_cli_waiting_room_items_path %>">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<%= hidden_field_tag 'load_menu_url', load_menu_item_cli_waiting_room_items_path %>
<%= hidden_field_tag 'create_admission_url', create_admission_cli_waiting_room_items_path %>
<%= hidden_field_tag 'new_valoration_fields', new_valoration_doctor_expedients_path %>
<%= hidden_field_tag 'prev_triage_url', load_previous_triage_cli_waiting_room_items_path %>