<% @activities.each do |a| %>

    <% if [Const::WAITING_ROOM_GO_TO_ADMISSION_ACCOUNT,Const::WAITING_ROOM_GO_TO_MEDICAL_EXPEDIENT,Const::WAITING_ROOM_GO_TO_ADMISSION_CLINICAL].include? a.code %>
        <li class="activity_item_menu" role="presentation">
          <a role="menuitem" tabindex="-1" target="_blank"
             href='<%= go_to_cli_waiting_room_items_path(:patient_id => @patient_id, :go_to => a.code) %>'><%= a.name %>
        </a>
        </li>
    <% else %>
        <li class="activity_item_menu" role="presentation"
            waiting_room_item_id="<%= @waiting_room_item_id %>"
            activity="<%= a.code %>"
            patient="<%= @patient_id %>" patient_name="<%= @patient.full_name %>">
          <a role="menuitem" tabindex="-1"
             href="#"><%= a.name %>
          </a>
        </li>
    <% end %>
<% end %>
