<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:admin, @inventory] do |f| %>
    <% if @inventory.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

          <ul>
            <% @inventory.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="row">
            <div class="col-xs-6">
              <div class="card-header">
                <h2>Nuevo Inventario</h2>
              </div>
            </div>
          </div>
          <br>

          <div class="col-xs-4">
            <div class="form-group fg-line">
              <%= f.label :warehouse_id, 'Almacen', :class=>"control-label" %><br>
              <%= f.select :warehouse_id, Warehouse.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-group fg-line">
              <%= f.label :medicament_category_id, 'Categoría', :class=>"control-label" %><br>
              <%= f.select :medicament_category_id, MedicamentCategory.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
    </div>

          <div class="row">
            <div class="col-md-12 col-xs-12">

              <table id="data-table-medicament-inventories-search" class="table table-striped" data-source="<%= admin_medicament_inventories_path(format: "json")%>">
                <thead>
                <tr>
                  <th data-column-id = "warehouse">Almacen</th>
                  <th data-column-id = "category">Categoría de medicamento</th>
                  <th data-column-id = "comercial_name">Medicamento</th>
                  <th data-column-id = "presentation">Presentación</th>
                  <th data-column-id = "lot" >Lote</th>
                  <th data-column-id = "quantity" >Existencias</th>
                </tr>
                </thead>

                <tbody>

                </tbody>
              </table>
            </div>
          </div>

          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_inventories_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
          </div>
  </div>
</div>


<% end %>
