<div class="block-header" xmlns="http://www.w3.org/1999/html">
<h2>Sincronizar Inventario</h2>
</div>
<div class="card">

  <div class="card-body card-padding">

    <div class="row">
      <div class="col-lg-12">
        <table style="width: 100%">
          <tr>
            <td><strong>Fecha de Inventario:</strong></td>
            <td class="inventory_info"><%= @inventory.inventory_date.strftime('%d/%m/%Y')  %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Almacen:</strong></td>
            <td class="inventory_info"><%= @inventory.warehouse.name %></td>
            <td><strong>Categoría:</strong></td>
            <td class="inventory_info"><%= @inventory.medicament_category.present? ? @inventory.medicament_category.name : '' %></td>
          </tr>
          <tr>
            <td><strong>Creado por:</strong></td>
            <td class="inventory_info"><%= @inventory.created.present? ? @inventory.created.person.name : '' %></td>
            <td><strong>Actualizado por:</strong></td>
            <td class="inventory_info"><%= @inventory.updated.present? ? @inventory.updated.person.name : '' %></td>
          </tr>

        </table>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-xs-12">

        <table class="table table-striped" id="stock_table">
          <input id="warehouse_id" value="<%=@inventory.warehouse_id%>" name="warehouse_id" type="hidden">
          <input id="inventory_id" value="<%=@inventory.id%>" name="inventory_id" type="hidden">
          <thead>
          <tr>
            <th>Lote</th>
            <th>Medicamento/articulo</th>
            <th>Presentación</th>
            <th>Cantidad</th>
            <th>Cantidad en físico</th>
          </tr>
          </thead>
          <tbody>
          <% @inventory.inventory_stocks.each do |stock|  %>
              <tr>
                <input id="is_medicament" value="1" name="is_medicament" type="hidden">
                <input id="stock_id" value="<%=stock.id%>" name="stock_id" type="hidden">
                <input id="lot_id" value="<%=stock.lot_id%>" name="lot_id" type="hidden">
                <td><%= stock.lot.name %></td>
                <td><%= stock.lot.medicament.comercial_name %></td>
                <td><%= stock.lot.medicament.presentation %></td>
                <td><%= stock.quantity%>
                  <input id="quantity_old" value="<%=stock.quantity%>" name="quantity_old" type="hidden">
                </td>
                <td><input id="quantity" name="quantity" type="text"></td>
              </tr>
          <% end %>
          <% @inventory.inventory_pharmacy_stocks.each do |stock|  %>
              <tr>
                <input id="is_medicament" value="0" name="is_medicament" type="hidden">
                <input id="stock_id" value="<%=stock.id%>" name="stock_id" type="hidden">
                <input id="pharmacy_item_id" value="<%=stock.pharmacy_item_id%>" name="pharmacy_item_id" type="hidden">
                <td>N/A</td>
                <td><%= stock.pharmacy_item.code + " (" + stock.pharmacy_item.description + ")" %></td>
                <td><%= stock.pharmacy_item.measure_unit_item.name %></td>
                <td><%= stock.quantity%>
                  <input id="quantity_old" value="<%=stock.quantity%>" name="quantity_old" type="hidden">
                </td>
                <td><input id="quantity" name="quantity" type="text"></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>
<div class="row">
  <div class="col-xs-6">

  </div>
  <div class="col-xs-6">
    <span class="col-xs-3"></span>
    <a href="<%= admin_inventories_path %>" class="btn btn-danger col-xs-4">Atrás</a>
    <span class="col-xs-1"></span>
    <button type="button" class="btn btn-primary col-xs-4" onclick="sync_inventory()">Sincronizar</button>
  </div>
</div>

<%= hidden_field_tag 'url_update_medicament_inventories', url_for(:controller => 'admin/inventories', :action => 'update_medicament_inventories', :only_path => false) %>
<%= hidden_field_tag 'url_inventories', url_for(:controller => 'admin/inventories', :action => 'index', :only_path => false) %>