<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Inventarios</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, Inventory %>
          <%= link_to 'Agregar', new_admin_inventory_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-inventories" class="table table-striped" data-source="<%= admin_inventories_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Inventory %>"
         data-can-print="<%= can? :print_pdf_inventory_report, Inventory %>">
  <thead>
  <tr>
    <th data-column-id="id">ID</th>
    <th data-column-id="inventory_date">FECHA</th>
    <th data-column-id="warehouse">ALMACEN</th>
    <th data-column-id="category">CATEGORIA</th>
    <th data-column-id="created_by">CREADO POR</th>
    <th data-column-id="updated_by">ACTUALIZADO POR</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
