<div class="block-header">
</div>
<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <%= form_for [:admin, @inventory] do |f| %>
      <div class="row">
        <div class="col-xs-6">
          <div class="card-header">
            <h2>Nuevo Inventario</h2>
          </div>
        </div>
      </div>

      <br>
      <div class="row">

        <div class="col-xs-4">
          <div class="form-group">
            <%= f.label :warehouse_id, 'Almacen', :class=>"control-label" %><br>
            <%= f.select :warehouse_id, Warehouse.all.map{|data| [data.name,data.id]}, {}, { :class => "selectpicker form-control", :id=>"warehouse_id"}  %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <%= f.label :medicament_category_id, 'Categoría', :class=>"control-label" %><br>
            <%= f.select :medicament_category_id, ["TODO"] + MedicamentCategory.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control", :id => "medicament_category_id"}  %>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="checkbox">
            <label>
              <input type="checkbox"  name="is_consigment" id="is_consigment">
              <i class="input-helper"></i>
              <strong class="font_size_medical_history">¿Solo consignación?</strong>
            </label>
          </div>
        </div>
        <div class="col-xs-2">
          <input type="button" class="pull-right btn bgm-blue waves-effect" onclick="reload_inventory()" value="Buscar">
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 col-xs-12">

          <table id="data-table-medicament-inventories-search" class="table table-striped" data-source="<%= admin_medicament_inventories_path(format: "json")%>">
            <thead>
            <tr>
              <th data-column-id = "warehouse">Almacen</th>
              <th data-column-id = "category">Categoría</th>
              <th data-column-id = "comercial_name">Medicamento/Artículo</th>
              <th data-column-id = "presentation">Presentación</th>
              <th data-column-id = "lot" >Lote</th>
                <th data-column-id = "quantity" >Existencias</th>
            </tr>
            </thead>

            <tbody>

            </tbody>
          </table>
        </div>
      </div>

    <div class="row">
      <div class="col-xs-6">
        <span class="col-xs-3"></span>
        <a href="<%= admin_inventories_path %>" class="btn btn-danger col-xs-4">Atrás</a>
        <span class="col-xs-1"></span>
        <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
      </div>
    </div>
    <% end %>
  </div>

</div>
<%= hidden_field_tag 'url_save_inventory', url_for(:action => 'create', :controller => 'inventories', :only_path => true) %>






