<div class="card">
  <div class="card-body card-padding">
    <h4>Inventarios</h4>

    <div class="row">
      <div class="col-md-3">
        <strong> Almacen </strong>
        <%= select_tag("warehouse_id", options_for_select(current_user.warehouses.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
      </div>
      <div class="col-md-3">
        <strong> Categoría</strong>
        <%= select_tag("medicament_category_id", options_for_select(["TODO"] + MedicamentCategory.all.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
      </div>
      <div class="col-md-2">
        <div class="checkbox">
          <label>
            <input type="checkbox"  name="is_consigment" id="is_consigment">
            <i class="input-helper"></i>
            <strong class="font_size_medical_history">¿Solo consignación?</strong>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" onclick="reload_inventory()">Buscar</a>
        <a class="btn btn-success" onclick="export_excel()">Excel</a>
        <a class="btn btn-danger" onclick="export_pdf()">Pdf</a>
      </div>

    </div>


    <div class="row">
      <div class="col-md-12 col-xs-12">

        <table id="data-table-medicament-inventories-search" class="table table-striped" data-source="<%= admin_medicament_inventories_path(format: "json")%>">
          <thead>
          <tr>
            <th data-column-id = "warehouse">Almacen</th>
            <th data-column-id = "category">Categoría</th>
            <th data-column-id = "comercial_name">Medicamento/Artículo</th>
            <th data-column-id = "presentation">Presentación</th>
            <th data-column-id = "lot" >Lote</th>
            <th data-column-id = "quantity" >Existencias</th>
          </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
      </div>
    </div>

  </div>


</div>

<%= hidden_field_tag 'url_search_services', url_for(:controller => 'cli/hospital_services', :action => 'search_services', :only_path => false) %>
<%= hidden_field_tag 'export_excel_inventory', export_excel_admin_inventories_path(:format => 'xlsx') %>
<%= hidden_field_tag 'url_print_inventories_report', report_inventories_pdfs_path %>

