.doctor_info{
    text-align: center;
    cursor: pointer;
}

.doctor_info.selected{
    background-color: #0a68b4;
    color: white;
}

.office_info{
    text-align: center;
    cursor: pointer;
}

.office_info.selected{
    background-color: #0a68b4;
    color: white;
}

#doctors_list{
    max-height: 300px;
    overflow-y: scroll;
}

#select_date .fc-toolbar{
    background-color: #00a5bb;
}

.fc-slats table tbody tr {
    height: 30px;
    font-size: 14px;
}

.bootgrid-header .search{
    width: 300px;
}

.select_office{
    cursor: pointer;
}



.span_color{
    height: 10px;
    width: 10px;
}

#span_available{
    background-color: green;
}
#span_medium_available{
    background-color: orange;
}

#span_not_available{
    background-color: red;
}