#link_code{
    font-size: 22px;
    letter-spacing: 0.10em;
}

i.link-expedient{
    font-size: 20px;
    color: green;
}

.default_data_doctor_name{
    font-size: 16px;
}

.health_history_name{
    font-size: 18px;
}