<style>
  .pregnancy{
    margin-bottom: 15px;;
    border: 1px #c0c0c0 solid;
    border-radius: 20px;
    padding: 15px;
    margin-right: 20px;
  }
  .exploration_label{
    margin-right: 10px;
  }
</style>

<script>
  var pregnacies = [];
  <%

  pregnancies = format_pregnancy_table(@medical_expedient.pregnancies.order('created_at DESC'))

   %>
 </script>

<input type="hidden" id="preg_medical_expedient_id" value="<%= @medical_expedient.id %>">
<input type="hidden" id="get_birth_info_url" value="<%= get_birth_info_doctor_pregnancies_path %>">
<input type="hidden" id="get_neonate_info_url" value="<%= get_neonate_info_doctor_pregnancies_path %>">
<input type="hidden" id="update_birth_info_url" value="<%= update_birth_info_doctor_pregnancies_path %>">
<input type="hidden" id="update_neonate_info_url" value="<%= update_neonate_info_doctor_pregnancies_path %>">
<input type="hidden" id="get_abortion_info_url" value="<%= get_abortion_info_doctor_pregnancies_path %>">
<input type="hidden" id="update_abortion_info_url" value="<%= update_abortion_info_doctor_pregnancies_path %>">

<input type="hidden" id="pregnancies_data" value="<%= pregnancies.to_json %>">

 <%
 current_pregnancy = false
 @medical_expedient.pregnancies.each do |preg|
  if preg.active
    current_pregnancy = true
  end
  end %>

  <% if !current_pregnancy %>
    <% if !permission_view_pregnancy_current_user? and permission_edit_pregnancy_current_user? or permission_edit_pregnancy_current_user?  %>
  <div style="text-align: right;">
    <a style="margin-right: 30px; margin-bottom: 20px;" class="btn btn-success" onclick="openAddPregnancyDialog()">Agregar Embarazo</a>
  </div>
  <%   end
     end %>

  <div id="pregnancies_holder">

    <% @medical_expedient.pregnancies.order('created_at DESC').each do |preg| %>
    <div class="pregnancy" style="font-size: 14px;">
      <div class="row">
        <div class="col-md-9">
          <strong>Datos del embarazo <%= preg.baby_name != '' ? '(' + preg.baby_name + ')' : '' %></strong>
        </div>
        <div class="col-md-3">
          <% if !permission_view_pregnancy_current_user? and permission_edit_pregnancy_current_user? or permission_edit_pregnancy_current_user?  %>
              <button class="btn bgm-amber btn-icon waves-effect waves-circle waves-float" onclick="setupEditPregnancyModal(<%= preg.id %>,'<%= preg.last_menstruation_date != nil ? preg.last_menstruation_date.strftime('%d/%m/%Y') : '' %>','<%= preg.probable_birth_date != nil ? preg.probable_birth_date.strftime('%d/%m/%Y') : '' %>','<%= preg.initial_weight %>','<%= preg.baby_name%>')"><i class="zmdi zmdi-edit"></i></button>
              <button class="btn btn-danger btn-icon waves-effect waves-circle waves-float" onclick="confirmDeletePregnancy(<%= preg.id %>)"><i class="zmdi zmdi-delete"></i></button>
              <% if preg.active && preg.pregnancy_end_date.nil? %>
              <button title="Finalizar embarazo" class="btn btn-primary btn-icon waves-effect waves-circle waves-float" onclick="openFinishPregnancyModal(<%= preg.id %>)"><i class="zmdi zmdi-check-all"></i></button>
              <% end %>
          <% end %>
        </div>
      </div>
      <br>
      <div class="row" style="padding-left: 20px;">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <strong class="font_size_medical_history">Fecha de última regla:</strong><br>
            </div>
            <div class="col-md-2">
              <%= preg.last_menstruation_date != nil ? preg.last_menstruation_date.strftime('%d/%m/%Y') : '' %>
            </div>
            <div class="col-md-2">
              <strong class="font_size_medical_history">Fecha probable de parto:</strong><br>
            </div>
            <div class="col-md-2">
              <%= preg.probable_birth_date != nil ? preg.probable_birth_date.strftime('%d/%m/%Y') : '' %>
            </div>
            <div class="col-md-2">
              <strong class="font_size_medical_history">Peso Inicial:</strong><br>
            </div>
            <div class="col-md-2">
              <%= preg.initial_weight %> Kg
            </div>
          </div>
          <% if !preg.pregnancy_end_date.nil? %>
          <br>
          <div class="row">
            <div class="col-md-2">
              <strong class="font_size_medical_history">Fecha de finalización:</strong><br>
            </div>
            <div class="col-md-2">
              <%= preg.pregnancy_end_date.strftime('%d/%m/%Y') %>
            </div>
            <div class="col-md-2">
              <strong class="font_size_medical_history">Estado de finalización:</strong><br>
            </div>
            <div class="col-md-2">
              <label class="label <%= preg.pregnancy_end_success ? 'label-success' : 'label-danger' %>">
                <%= preg.pregnancy_end_success ? 'EXITOSO' : 'INTERRUMPIDO' %>
              </label>

            </div>
          </div>
          <% end %>
        </div>

      </div>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-primary load_ultrasounds_btn" style="float:right;" pregnancy="<%= preg.id %>">Ultrasonidos</a>
        </div>
        <div class="col-xs-12">
          <strong>Historial de consultas</strong>
          <table class="table table-striped consult_data">
            <thead>
              <tr>
                <th></th>
                <th>Fecha</th>
                <th>Sem. Embarazo</th>
                <th>ECO / RCTG</th>
                <th>FU</th>
                <th>PRES</th>
                <th>FF</th>
                <th>TA</th>
                <th>PESO</th>
              </tr>
            </thead>
            <tbody>
              <% preg.medical_consultations.order('date_consultation DESC').each do |mc| %>
              <tr>
                <td><i id="icon_c<%= mc.id %>" class="zmdi zmdi-caret-right-circle zmdi-hc-fw"
                 title="Ver detalles de consulta"
                 onclick="openExplorationDetails(<%= mc.id %>)"></i>
               </td>
               <td><%= mc.date_consultation.strftime('%d/%m/%Y') %></td>
               <td>
                 <%
                   weeks = 0
                   if mc.date_consultation != nil && preg.last_menstruation_date != nil
                     weeks = ( mc.date_consultation.to_date - preg.last_menstruation_date).to_f / 7
                   end
                   age = weeks.to_i
                 %>
                 <%= age %></td>
               <td><%= mc.vital_sign.eco_rctg %></td>
               <td><%= mc.vital_sign.fu %></td>
               <td><%= mc.vital_sign.pres %></td>
               <td><%= mc.vital_sign.ff %></td>
               <td><%= mc.vital_sign.blood_pressure %></td>
               <td><%= mc.vital_sign.weight %> Kg</td>

             </tr>
             <tr class="exploration" id="exploration_c<%= mc.id %>" style="display: none;">
              <td colspan="9">


                <div>
                  <strong>Consulta</strong><br><br>
                  <strong>Condición: </strong> <%= mc.current_condition %><br>
                  <strong>Diagnóstico: </strong> <%= mc.diagnostic %><br>
                  <strong>Recomendaciones: </strong> <%= mc.prescription.recommendations %><br>
                  <strong>Medicamentos: </strong> <br>
                  <ul>
                    <% mc.prescription.medical_indications.each do |mi| %>
                    <li><%= mi.medicament.comercial_name + '('+mi.medicament.presentation+')' %> - <%= mi.dose %></li>
                    <% end %>
                  </ul>
                  <% if !mc.notes.nil? %>
                  <strong>Notas generales: </strong> <%= mc.notes.html_safe %>
                  <% end %>
                  <br>
                </div>

                <div style="text-align: center;
                color: #FE2E9A;
                padding: 10px;font-size: 15px;">


                <div class="row">
                  <div class="col-md-4">
                    <strong class="exploration_label">Peso: </strong>
                    <%= mc.vital_sign.weight %>

                  </div>
                  <div class="col-md-4">
                    <strong class="exploration_label">Altura: </strong>
                    <%= mc.vital_sign.height %>

                  </div>
                  <div class="col-md-4">
                    <strong class="exploration_label">I.M.C: </strong>
                    <%= mc.vital_sign.imc %>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <strong class="exploration_label">Temperatura: </strong>
                    <%= mc.vital_sign.temperature %>

                  </div>
                  <div class="col-md-4">
                    <strong class="exploration_label">Glucosa: </strong>
                    <%= mc.vital_sign.glucose %>

                  </div>
                  <div class="col-md-4">
                    <strong class="exploration_label">Presión arterial: </strong>
                    <%= mc.vital_sign.blood_pressure %>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <strong class="exploration_label">Peso sugerido: </strong>
                    <%= mc.vital_sign.suggested_weight %>

                  </div>
                </div>
                <% if  mc.exploration != nil %>
                      <hr>
                      <div class="row">
                        <div class="col-xs-12" style="">
                          <strong><%= mc.exploration.exploration_type == nil ? "Exploración" : mc.exploration.exploration_type.name %></strong>
                          <br><br>
                        </div>
                        <% if mc.exploration.showPhysical %>
                            <div class="col-md-4"><strong>Mamas: </strong>
                              <%= mc.exploration.breasts %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Abdomen: </strong>
                              <%= mc.exploration.abdomen %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Cabeza y cuello: </strong>
                              <%= mc.exploration.head %>
                            </div>

                            <div class="col-md-4">
                              <strong class="exploration_label">Pulmones: </strong>
                              <%= mc.exploration.lungs %>
                            </div>

                            <div class="col-md-4">
                              <strong class="exploration_label">Extremidades: </strong>
                              <%= mc.exploration.extremities %>
                            </div>

                            <div class="col-md-4">
                              <strong class="exploration_label">Cardio: </strong>
                              <%= mc.exploration.heart %>
                            </div>

                            <div class="col-md-4">
                              <strong class="exploration_label">Otro: </strong>
                              <%= mc.exploration.other %>
                            </div>
                        <% end %>

                        <% if mc.exploration.showPelvic %>

                            <div class="col-md-4">
                              <strong class="exploration_label">Vulva: </strong>
                              <%= mc.exploration.vulva %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Vagina: </strong>
                              <%= mc.exploration.vagina %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Cervix: </strong>
                              <%= mc.exploration.cervix %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Útero: </strong>
                              <%= mc.exploration.uterine_height %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Ovarios: </strong>
                              <%= mc.exploration.ovaries %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Edemas: </strong>
                              <%= mc.exploration.edemas %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Anexos: </strong>
                              <%= mc.exploration.annexed %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Recto - Vaginal: </strong>
                              <%= mc.exploration.rectum %>
                            </div>
                            <div class="col-md-4">
                              <strong class="exploration_label">Pelvis: </strong>
                              <%= mc.exploration.pelvis %>
                            </div>

                        <% end %>
                      </div>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

          <div class="">
            <% if !preg.birth_info.nil? %>

            <div class="row">
              <div class="col-md-12">
                <h4>Datos del parto <i class="zmdi zmdi-edit zmdi-hc-fw" onclick="openEditBirthInfoModal(<%= preg.birth_info.id %>)"></i></h4>
              </div>
              <div class="col-md-4">
                <strong>Fecha: </strong>
                <%= preg.birth_info.date.strftime('%d de %b %Y %I:%M %p') %>
              </div>
              <div class="col-md-4">
                <strong>Lugar: </strong>
                <%= preg.birth_info.hospital %>
              </div>
              <div class="col-md-4">
                <strong>Tipo de Parto: </strong>
                <%= preg.birth_info.birth_type.nil? ? '':preg.birth_info.birth_type.name %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>Observaciones: </strong>
                <%= preg.birth_info.observations %>
              </div>
              <div class="col-md-6">
                <strong>RPM: </strong>
                <%= preg.birth_info.rpm %>
              </div>
            </div>
            <div class="row">

              <div class="col-md-12">
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <strong>Alumbramiento</strong>
                  </label>
                </div>
                <% DeliveryType.all.each do |dt| %>
                    <div class="col-md-3">
                      <label class="radio radio-inline m-r-20">
                        <input type="radio" name="view_info_delivery_type" disabled <%= dt.id == preg.birth_info.delivery_type_id ? 'checked' : '' %>>
                        <i class="input-helper"></i>
                        <%= dt.name %>
                      </label>
                    </div>
                <% end %>
              </div>

              <div class="col-md-12"><br></div>
              <div class="col-md-12">
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <strong>Episiotomía</strong>
                  </label>
                </div>
                <% EpisiotomyType.all.each do |dt| %>
                    <div class="col-md-3">
                      <label class="radio radio-inline m-r-20">
                        <input type="radio" name="view_info_episiotomy_type" disabled <%= dt.id == preg.birth_info.episiotomy_type_id ? 'checked' : '' %>>
                        <i class="input-helper"></i>
                        <%= dt.name %>
                      </label>
                    </div>
                <% end %>
              </div>

              <div class="col-md-12"><br></div>
              <div class="col-md-12">
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <strong>Desgarro</strong>
                  </label>
                </div>
                <% TearType.all.each do |dt| %>
                    <div class="col-md-3">
                      <label class="radio radio-inline m-r-20">
                        <input type="radio" name="view_info_tear_type" disabled <%= dt.id == preg.birth_info.tear_type_id ? 'checked' : '' %>>
                        <i class="input-helper"></i>
                        <%= dt.name %>
                      </label>
                    </div>
                <% end %>
              </div>

              <div class="col-md-12"><br></div>
              <div class="col-md-12">
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <strong>Duración</strong>
                  </label>
                </div>
                <% DurationType.all.each do |dt| %>
                    <div class="col-md-3">
                      <label class="radio radio-inline m-r-20">
                        <input type="radio" name="view_info_duration_type" disabled <%= dt.id == preg.birth_info.duration_type_id ? 'checked' : '' %>>
                        <i class="input-helper"></i>
                        <%= dt.name %>
                      </label>
                    </div>
                <% end %>
              </div>

            </div>

                <% preg.birth_info.neonate_infos.each do |ni| %>
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Datos del neonato <i class="zmdi zmdi-edit zmdi-hc-fw" onclick="openEditNeonateInfoModal(<%= ni.id %>)"></i></h4>
                      </div>
                    </div>
                <div class="row">

                  <div class="col-md-6">
                    <strong>Nombre: </strong>
                    <%= ni.child_name %>
                  </div>
                  <div class="col-md-6">
                    <strong>Fecha de nacimiento: </strong>
                    <%= ni.birthdate.strftime('%d de %b %Y %I:%M %p') %>
                  </div>
                  <div class="col-md-6">
                    <strong>Género: </strong>
                    <%= ni.gender.name %>
                  </div>
                  <div class="col-md-6">
                    <strong>Tipo de sangre: </strong>
                    <%= ni.blood_type.name %>
                  </div>
                  <div class="col-md-6">
                    <strong>Peso: </strong>
                    <%= ni.weight %> Kg
                  </div>
                  <div class="col-md-6">
                    <strong>Altura: </strong>
                    <%= ni.height %> Cm
                  </div>
                  <div class="col-md-6">
                    <strong>A: </strong><%= ni.apgar_appearance %>
                    <strong>P: </strong><%= ni.apgar_pulse %>
                    <strong>G: </strong><%= ni.apgar_gesture %>
                    <strong>A: </strong><%= ni.apgar_activity %>
                    <strong>R: </strong><%= ni.apgar_breathing %>
                  </div>



                  <div class="col-md-6">
                    <strong>Anormalidades: </strong>
                    <%= ni.abnormalities %>
                  </div>
                  <div class="col-md-6">
                    <strong>Observaciones: </strong>
                    <%= ni.observations %>
                  </div>
                  <div class="col-md-6">
                    <strong>Atendió: </strong>
                    <%= ni.attended %>
                  </div>
                  <div class="col-md-6">
                    <strong>Pediatra: </strong>
                    <%= ni.pediatrician %>
                  </div>

                </div>
                <% end %>

            <% end %>


            <% if !preg.abortion.nil? %>

            <div class="row">
              <div class="col-md-12">
                <h4>Datos del aborto <i class="zmdi zmdi-edit zmdi-hc-fw" onclick="openEditAbortionInfoModal(<%= preg.abortion.id %>)"></i></h4>
              </div>
              <div class="col-md-6">
                <strong>Fecha y hora: </strong>
                <%= preg.abortion.date.strftime('%d de %b %Y %I:%M %p') %>
              </div>
              <div class="col-md-6">
                <strong>Lugar: </strong>
                <%= preg.abortion.hospital %>
              </div>
              <div class="col-md-6">
                <strong>Tipo de Aborto: </strong>
                <%= preg.abortion.abortion_type.name %>
              </div>
              <div class="col-md-6">
                <strong>Observaciones: </strong>
                <%= preg.abortion.observations %>
              </div>
            </div>

            <% end %>
          </div>

      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="pregnancy_chart" id="pregnancy_chart_<%= preg.id %>">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<% end %>

</div>

<div class="modal fade" id="add_pregnancy_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_pregnancy_modal_title">Nuevo embarazo</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="pregnancy_id">
        <div class="row">
          <div class="col-md-6">
            <strong>Fecha de última regla</strong>
              <div class="fg-line">
                <input type="text" class="form-control input-lg date-picker" placeholder="dd/mm/yyyy" id="last_menstruation_date">
              </div>
          </div>
          <div class="col-md-6">
            <strong>Fecha probable de parto</strong>
              <div class="fg-line">
                <input type="text" class="form-control input-lg date-picker" placeholder="dd/mm/yyyy" id="probable_birth_date">
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
              <span style="cursor: pointer;" onclick="calculateProbableBirthDate()" class="input-group-addon last" title="Calcular fecha probable de parto">
                <i class="btn btn-success">Calcular fecha probable de parto</i>
              </span>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <br>
            <strong>Peso inicial</strong>
            <input type="number" class="form-control input-lg" id="initial_weight" placeholder="Ingrese el peso" value="<%= @last_weight %>">
          </div>
          <div class="col-md-6">
            <br>
            <strong>Nombre del bebé</strong>
            <input type="text" class="form-control input-lg" id="baby_name" placeholder="Ingrese el nombre del bebe">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="savePregnancyRecord()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="finish_pregnancy_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_pregnancy_modal_title">Finalizar embarazo</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="pregnancy_end_id">
        <div class="row" id="finish_pregnancy_form">
          <div class="col-md-6">

            <div class="radio m-b-15">
              <label>
                <input type="radio" name="pregnancy_finish" value="new_birth" id="pregnancy_end_success">
                <i class="input-helper"></i>
                Finalizó correctamente
              </label>
            </div>

          </div>
          <div class="col-md-6">
            <div class="radio m-b-15">
              <label>
                <input type="radio" name="pregnancy_finish" value="abortion">
                <i class="input-helper"></i>
                Interrumpido
              </label>
            </div>
          </div>
        </div>

        <div id="pregnancy_abortion" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Datos del aborto</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Fecha <span style="color: red;">*</span></strong>
              <input type="text" id="abortion_info_date" class="form-control input-lg" placeholder="Ingrese la fecha">
            </div>

            <div class="col-md-6">
              <strong>Hora <span style="color: red;">*</span></strong>
              <input type="text" id="abortion_info_hour" class="form-control input-lg" placeholder="Ingrese la hora">
            </div>
            <div class="col-md-6">
              <strong>Lugar <span style="color: red;">*</span></strong>
              <input type="text" id="abortion_info_hospital" class="form-control input-lg" placeholder="Ingrese el lugar">
            </div>

            <div class="col-md-6">
              <strong>Tipo de Aborto <span style="color: red;">*</span></strong>
              <select class="form-control" id="abortion_info_type">
                <% AbortionType.all.each do |at| %>
                <option value="<%= at.id %>"><%= at.name %></option>
                <% end %>
              </select>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <strong>Observaciones</strong>
              <textarea type="text" id="abortion_info_observations" class="form-control input-lg" placeholder="Ingrese sus observaciones"></textarea>
            </div>
          </div>
        </div>

        <div id="pregnancy_success" style="display: none;">
          <div>
            <h4>Información del parto</h4>
          </div>
          <div class="row">
            <div class="col-md-3">
              <strong>Fecha de terminación <span style="color: red;">*</span></strong>
              <input class="form-control input-lg" id="birth_info_birth_date" placeholder="Fecha">
            </div>
            <div class="col-md-2">
              <strong>Hora <span style="color: red;">*</span></strong>
              <input class="form-control input-lg" id="birth_info_birth_hour" placeholder="Hora">
            </div>
            <div class="col-md-4">
              <strong>Lugar <span style="color: red;">*</span></strong>
              <input class="form-control input-lg" id="birth_info_hospital" placeholder="Nombre del hospital o clínica de atención">
            </div>
            <div class="col-md-3">
              <strong>Tipo de parto</strong>
              <select class="form-control" id="birth_info_birth_type">
                <% BirthType.all.each do |bt| %>
                    <option value="<%= bt.id %>"><%= bt.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-6">
              <strong>Observaciones del tipo de parto</strong>
              <input class="form-control input-lg" id="birth_info_observations" placeholder="Observaciones del tipo de parto">
            </div>
            <div class="col-md-6">
              <strong>RPM</strong>
              <input class="form-control input-lg" id="birth_info_rpm" placeholder="RPM">
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3">
              <strong>Alumbramiento:</strong>
            </div>
            <% DeliveryType.all.each do |dt| %>
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <input type="radio" name="birth_info_delivery_type" value="<%= dt.id %>">
                    <i class="input-helper"></i>
                    <%= dt.name %>
                  </label>
                </div>
            <% end %>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3">
              <strong>Episiotomía:</strong>
            </div>
            <% EpisiotomyType.all.each do |dt| %>
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <input type="radio" name="birth_info_episiotomy_type" value="<%= dt.id %>">
                    <i class="input-helper"></i>
                    <%= dt.name %>
                  </label>
                </div>
            <% end %>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3">
              <strong>Desgarro:</strong>
            </div>
            <% TearType.all.each do |dt| %>
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <input type="radio" name="birth_info_tear_type" value="<%= dt.id %>">
                    <i class="input-helper"></i>
                    <%= dt.name %>
                  </label>
                </div>
            <% end %>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3">
              <strong>Duración:</strong>
            </div>
            <% DurationType.all.each do |dt| %>
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <input type="radio" name="birth_info_duration_type" value="<%= dt.id %>">
                    <i class="input-helper"></i>
                    <%= dt.name %>
                  </label>
                </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-md-12">
              <br>
              <strong>Observaciones adicionales</strong>
              <textarea class="form-control input-lg" id="birth_info_aditional_observations" placeholder="Observaciones adicionales"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4>Datos del neonato</h4>
              <a id="new_neonate_form_btn" class="btn btn-success" onclick="showNeonateForm()">Agregar datos del neonato</a>
            </div>
          </div>

          <div id="new_neonate_info_form" style="display: none">
            <div class="row">
              <div class="col-md-4">
                <strong>Nombre <span style="color: red;">*</span></strong>
                <input type="text" class="form-control input-lg" placeholder="Nombre completo del bebé" id="neonate_info_child_name">
              </div>
              <div class="col-md-2">
                <strong>Sexo <span style="color: red;">*</span></strong>
                <select class="form-control" id="neonate_info_gender">
                  <option id="neonate_info_<%= Gender::MAN %>" value="<%= Gender::MAN %>">Masculino</option>
                  <option id="neonate_info_<%= Gender::WOMEN %>" value="<%= Gender::WOMEN %>">Femenino</option>
                </select>
              </div>
              <div class="col-md-3">
                <strong>F. de nacimiento <span style="color: red;">*</span></strong>
                <input type="text" class="form-control input-lg" placeholder="Fecha de nacimiento" id="neonate_info_birthdate">
              </div>
              <div class="col-md-3">
                <strong>Hora <span style="color: red;">*</span></strong>
                <input type="text" class="form-control input-lg" placeholder="Hora de nacimiento" id="neonate_info_birthhour">
              </div>

            </div>

            <div class="row">
              <div class="col-md-2">
                <strong>Peso <span style="color: red;">*</span></strong>
                <input type="text" class="form-control input-lg" placeholder="Peso" id="neonate_info_weight">
              </div>
              <div class="col-md-2">
                <strong>Altura <span style="color: red;">*</span></strong>
                <input type="number" class="form-control input-lg" placeholder="Altura" id="neonate_info_height">
              </div>
              <div class="col-md-1">
                <strong>Apgar</strong>
                <input type="number" class="form-control input-lg" placeholder="A" id="neonate_info_apgar_appearance">
              </div>
              <div class="col-md-1">
                <br>
                <input type="number" class="form-control input-lg" placeholder="P" id="neonate_info_apgar_pulse">
              </div>
              <div class="col-md-1">
                <br>
                <input type="number" class="form-control input-lg" placeholder="G" id="neonate_info_apgar_gesture">
              </div>
              <div class="col-md-1">
                <br>
                <input type="number" class="form-control input-lg" placeholder="A" id="neonate_info_apgar_activity">
              </div>
              <div class="col-md-1">
                <br>
                <input type="number" class="form-control input-lg" placeholder="R" id="neonate_info_apgar_breathing">
              </div>
              <div class="col-md-3">
                <strong>Tipo de sangre</strong>
                <select class="form-control" id="neonate_info_blood_type">
                  <option value="A">A</option>
                  <option value="A+">A+</option>
                  <option value="B">B</option>
                  <option value="B+">B+</option>
                  <option value="AB">AB</option>
                  <option value="AB+">AB+</option>
                  <option value="O">O</option>
                  <option value="O+">O+</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>Anormalidades</strong>
                <input type="text" class="form-control input-lg" placeholder="Anormalidades" id="neonate_info_abnormalities">
              </div>
              <div class="col-md-6">
                <strong>Observaciones</strong>
                <input type="text" class="form-control input-lg" placeholder="Observaciones" id="neonate_info_observations">
              </div>
              <div class="col-md-6">
                <strong>Atendió</strong>
                <input type="text" class="form-control input-lg" placeholder="Ginecólogo que asistió el parto" id="neonate_info_attended">
              </div>
              <div class="col-md-6">
                <strong>Pediatra</strong>
                <input type="text" class="form-control input-lg" placeholder="Pediatra que asistió el parto" id="neonate_info_pediatrician">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding: 10px; text-align: right">
                <a class="btn btn-success" onclick="addNeonateInfo()">Agregar</a>
              </div>
            </div>
          </div>

          <div id="neonate_info_data" style="font-size: 16px;">

          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="finishPregnancy()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="edit_birth_info_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_pregnancy_modal_title">Editar datos del parto</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="birth_info_id">

        <div id="" style="">
          <div class="row">
            <div class="col-md-3">
              <strong>Fecha de terminación <span style="color: red;">*</span></strong>
              <input class="form-control input-lg" id="birth_info_birth_date_edit" placeholder="Fecha">
            </div>
            <div class="col-md-2">
              <strong>Hora <span style="color: red;">*</span></strong>
              <input class="form-control input-lg" id="birth_info_birth_hour_edit" placeholder="Hora">
            </div>
            <div class="col-md-4">
              <strong>Lugar <span style="color: red;">*</span></strong>
              <input class="form-control input-lg" id="birth_info_hospital_edit" placeholder="Nombre del hospital o clínica de atención">
            </div>
            <div class="col-md-3">
              <strong>Tipo de parto</strong>
              <select class="form-control" id="birth_info_birth_type_edit">
                <% BirthType.all.each do |bt| %>
                    <option value="<%= bt.id %>"><%= bt.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-6">
              <strong>Observaciones</strong>
              <input class="form-control input-lg" id="birth_info_observations_edit" placeholder="Observaciones">
            </div>
            <div class="col-md-6">
              <strong>RPM</strong>
              <input class="form-control input-lg" id="birth_info_rpm_edit" placeholder="RPM">
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3">
              <strong>Alumbramiento:</strong>
            </div>
            <% DeliveryType.all.each do |dt| %>
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <input type="radio" name="birth_info_delivery_type_edit" value="<%= dt.id %>">
                    <i class="input-helper"></i>
                    <%= dt.name %>
                  </label>
                </div>
            <% end %>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3">
              <strong>Episiotomía:</strong>
            </div>
            <% EpisiotomyType.all.each do |dt| %>
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <input type="radio" name="birth_info_episiotomy_type_edit" value="<%= dt.id %>">
                    <i class="input-helper"></i>
                    <%= dt.name %>
                  </label>
                </div>
            <% end %>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3">
              <strong>Desgarro:</strong>
            </div>
            <% TearType.all.each do |dt| %>
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <input type="radio" name="birth_info_tear_type_edit" value="<%= dt.id %>">
                    <i class="input-helper"></i>
                    <%= dt.name %>
                  </label>
                </div>
            <% end %>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3">
              <strong>Duración:</strong>
            </div>
            <% DurationType.all.each do |dt| %>
                <div class="col-md-3">
                  <label class="radio radio-inline m-r-20">
                    <input type="radio" name="birth_info_duration_type_edit" value="<%= dt.id %>">
                    <i class="input-helper"></i>
                    <%= dt.name %>
                  </label>
                </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-md-12">
              <br>
              <strong>Observaciones adicionales</strong>
              <textarea class="form-control input-lg" id="birth_info_aditional_observations_edit" placeholder="Observaciones adicionales"></textarea>
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="updateBirthInfo()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="edit_neonate_info_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_pregnancy_modal_title">Editar datos del neonato</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="neonate_info_id">

        <div class="row">
          <div class="col-md-4">
            <strong>Nombre <span style="color: red;">*</span></strong>
            <input type="text" class="form-control input-lg" placeholder="Nombre completo del bebé" id="neonate_info_child_name_edit">
          </div>
          <div class="col-md-2">
            <strong>Sexo <span style="color: red;">*</span></strong>
            <select class="form-control" id="neonate_info_gender_edit">
              <option id="neonate_info_<%= Gender::MAN %>" value="<%= Gender::MAN %>">Masculino</option>
              <option id="neonate_info_<%= Gender::WOMEN %>" value="<%= Gender::WOMEN %>">Femenino</option>
            </select>
          </div>
          <div class="col-md-3">
            <strong>F. de nacimiento <span style="color: red;">*</span></strong>
            <input type="text" class="form-control input-lg" placeholder="Fecha de nacimiento" id="neonate_info_birthdate_edit">
          </div>
          <div class="col-md-3">
            <strong>Hora <span style="color: red;">*</span></strong>
            <input type="text" class="form-control input-lg" placeholder="Hora de nacimiento" id="neonate_info_birthhour_edit">
          </div>

        </div>

        <div class="row">
          <div class="col-md-2">
            <strong>Peso <span style="color: red;">*</span></strong>
            <input type="text" class="form-control input-lg" placeholder="Peso" id="neonate_info_weight_edit">
          </div>
          <div class="col-md-2">
            <strong>Altura <span style="color: red;">*</span></strong>
            <input type="number" class="form-control input-lg" placeholder="Altura" id="neonate_info_height_edit">
          </div>
          <div class="col-md-1">
            <strong>Apgar</strong>
            <input type="number" class="form-control input-lg" placeholder="A" id="neonate_info_apgar_appearance_edit">
          </div>
          <div class="col-md-1">
            <br>
            <input type="number" class="form-control input-lg" placeholder="P" id="neonate_info_apgar_pulse_edit">
          </div>
          <div class="col-md-1">
            <br>
            <input type="number" class="form-control input-lg" placeholder="G" id="neonate_info_apgar_gesture_edit">
          </div>
          <div class="col-md-1">
            <br>
            <input type="number" class="form-control input-lg" placeholder="A" id="neonate_info_apgar_activity_edit">
          </div>
          <div class="col-md-1">
            <br>
            <input type="number" class="form-control input-lg" placeholder="R" id="neonate_info_apgar_breathing_edit">
          </div>
          <div class="col-md-3">
            <strong>Tipo de sangre</strong>
            <select class="form-control" id="neonate_info_blood_type_edit">
              <option value="A">A</option>
              <option value="A+">A+</option>
              <option value="B">B</option>
              <option value="B+">B+</option>
              <option value="AB">AB</option>
              <option value="AB+">AB+</option>
              <option value="O">O</option>
              <option value="O+">O+</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <strong>Anormalidades</strong>
            <input type="text" class="form-control input-lg" placeholder="Anormalidades" id="neonate_info_abnormalities_edit">
          </div>
          <div class="col-md-6">
            <strong>Observaciones</strong>
            <input type="text" class="form-control input-lg" placeholder="Observaciones" id="neonate_info_observations_edit">
          </div>
          <div class="col-md-6">
            <strong>Atendió</strong>
            <input type="text" class="form-control input-lg" placeholder="Ginecólogo que asistió el parto" id="neonate_info_attended_edit">
          </div>
          <div class="col-md-6">
            <strong>Pediatra</strong>
            <input type="text" class="form-control input-lg" placeholder="Pediatra que asistió el parto" id="neonate_info_pediatrician_edit">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="updateNeonateInfo()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="edit_abortion_info_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_pregnancy_modal_title">Editar datos del aborto</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="abortion_info_id">
        <div class="row">
          <div class="col-md-6">
            <strong>Fecha <span style="color: red;">*</span></strong>
            <input type="text" id="abortion_info_date_edit" class="form-control input-lg" placeholder="Ingrese la fecha">
          </div>

          <div class="col-md-6">
            <strong>Hora <span style="color: red;">*</span></strong>
            <input type="text" id="abortion_info_hour_edit" class="form-control input-lg" placeholder="Ingrese la hora">
          </div>
          <div class="col-md-6">
            <strong>Lugar <span style="color: red;">*</span></strong>
            <input type="text" id="abortion_info_hospital_edit" class="form-control input-lg" placeholder="Ingrese el lugar">
          </div>

          <div class="col-md-6">
            <strong>Tipo de Aborto <span style="color: red;">*</span></strong>
            <select class="form-control" id="abortion_info_type_edit">
              <% AbortionType.all.each do |at| %>
                  <option value="<%= at.id %>"><%= at.name %></option>
              <% end %>
            </select>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <strong>Observaciones</strong>
            <textarea type="text" id="abortion_info_observations_edit" class="form-control input-lg" placeholder="Ingrese sus observaciones"></textarea>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="updateAbortionInfo()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

