<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="row">
      <div class="col-xs-12">
        <div class="card-header">
          <h2 class="page_title">Reporte de embarazos</h2>
        </div>
      </div>
      </div>

                <div class="col-md-2 col-xs-3">
                      <strong>Mes inicial</strong>
                      <select class="selectpicker form-control bs-select-hidden" name="mes" id="month_start">
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                </div>
        <div class="col-md-2 col-xs-3">
          <strong>Mes final</strong>
          <select class="selectpicker form-control bs-select-hidden" name="mes" id="month_end">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
        </div>
        <div class="col-md-3 col-xs-4">
          <strong>Año</strong>
          <select class="selectpicker form-control bs-select-hidden" name="anio" id="year">
            <% ((Date.today - 9.years).year..Date.today.year).each do |year| %>
                <option value="<%= year %>"><%= year %></option>
            <% end %>
            <% ((Date.today + 1.years).year..(Date.today + 3.years).year).each do |year| %>
                <option value="<%= year %>"><%= year %></option>
            <% end %>
          </select>
        </div>
        <div class="col-md-5 col-xs-2">
          <a class="btn btn-primary" onclick="searchPreganancies()">Buscar</a>
          <a class="btn btn-danger" onclick="exportPdf()">Imprimir</a>
          <span class="label label-info" style="font-size: 1em; display: none;" id="error_month">El mes inicial no puede ser menor al mes final</span>
        </div>

      <div class="col-xs-12">

        <table id="data-table-pregnancies" class="table table-striped" data-source="<%= pregnancy_report_doctor_pregnancies_url(format: "json")%>">
          <thead>
          <tr>
            <th data-column-id="patient" data-type="numeric">Paciente</th>
            <th data-column-id="age" data-width="10%">Edad</th>
            <th data-column-id="last_consult">Última consulta</th>
            <th data-column-id="start_date">Fecha de inicio</th>
            <th data-column-id="end_date" >Fecha Probable de Parto</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<%= hidden_field_tag 'url_print_report', url_for(:controller => 'doctor/pregnancies', :action => 'print_report', :only_path => false) %>
<%= hidden_field_tag 'current_month', Date.today.month %>
<%= hidden_field_tag 'current_year', Date.today.year  %>