<style>

  #consultations_table{
    width: 100%;
  }

  #consultations_table thead th{
    font-size: 14px;
  }
  #consultations_table tr td{
    font-size: 12px;
    padding: 5px;
  }

  #consultations_table tr td{
    text-align: center;
  }

  #consultations_table tr td.currency{
    text-align: right;
  }

  #params table{
    font-size: 12px;
  }


  .float{
    float: left;
  }

  .logo{
    width: 20%;
  }

  .text{
    width: 80%;
  }

  <%
    def format_patient_age date
      age = @view.distance_of_time_in_words_hash(Time.now, date)
      age_string = ''
      if age[:years] != nil && age[:years] > 0
        age_string << age[:years].to_s + ' año'
        if age[:years] > 1
          age_string << 's'
        end
      end

      if age[:months] != nil && age[:months] > 0
        age_string << ' ' + age[:months].to_s + ' mes'
        if age[:months] > 1
          age_string << 'es'
        end
      end
      age_string
    end
  %>

  .table_pregnancies{
      border-collapse: collapse;
  }

  .table_pregnancies > tbody tr:nth-child(odd){
      background: #EFF0F1;
  }

  .table_pregnancies > tbody tr td:first-child{
      background-color: #87b5eb;
      color: #FFFFFF;
      border-bottom: 1px solid black;
  }

  .table_pregnancies > tbody tr:last-child{
      border-bottom: 1px solid black;
  }
  /*
  .table_pregnancies > thead tr th:last-child{
      border-right: 1px solid black;
  }
  .table_pregnancies > thead tr th:first-child{
      border-left: 1px solid black;
  }
*/
  .table_pregnancies > thead th{
      background-color: #87b5eb;
      /*border: 1px solid rgba(49, 78, 174, 0.92); */
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      color: #FFFFFF;
  }

  .table_pregnancies > tbody tr td{
      text-align: center;
      padding: 5px;
  }

  hr{
      color: #87b5eb;
      border: none;
      height: 1px;
      /* Set the hr color */
      background-color: #87b5eb; /* Modern Browsers */
  }
</style>

<div>
  <div class="float logo">
    <%= wicked_pdf_image_tag 'imagotipo-azul.png',:width => "60" %>
  </div>
  <div class="float text">
    <h2 style="margin: 0; padding: 0;">Reporte de embarazos</h2>
    <label>
      <%= @doctor.gender_id == Gender::MAN ? "Dr. " : "Dra. " %> <%= @doctor.full_name %>
    </label>
  </div>
</div>

<div style="clear: both;">
</div>

<br>
<%
    months_names = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]

%>
<div id="params">
  <table style="border: 1px solid rgba(2, 3, 7, 0.92);">
    <tr>
      <td><strong>Mes inicial:</strong><span>&nbsp;<%= months_names[@month_start.to_i - 1] %></span></td>
    </tr>
    <tr>
      <td><strong>Mes final:</strong><span>&nbsp;<%= months_names[@month_end.to_i - 1] %></span></td>
    </tr>
    <tr>
      <td><strong>Año:</strong><span><%= @year %></span></td>
    </tr>
  </table>
  <br>
</div>
<hr>
<br>
<table id="consultations_table" class="table_pregnancies" width="100%">
  <thead>
  <tr>
    <th>Paciente</th>
    <th>Edad</th>
    <th>Última consulta</th>
    <th>Fecha de inicio</th>
    <th>Fecha Probable de Parto</th>
  </tr>
  </thead>
  <tbody>
  <%
    total = 0
    # @pregnancies << Pregnancy.first
     if @pregnancies.size > 0
    @pregnancies.each do |pregnancie|
  %>
      <tr>
        <td><%= pregnancie.medical_expedient.patient.name + " " +pregnancie.medical_expedient.patient.last_name %></td>
        <td><%= format_patient_age(pregnancie.medical_expedient.patient.birth_day) %> </td>
        <td><%= pregnancie.medical_expedient.medical_consultations.last.date_consultation.strftime('%d/%m/%Y') %></td>
        <td><%= pregnancie.last_menstruation_date.strftime('%d/%m/%Y') %></td>
        <td><%= pregnancie.probable_birth_date.strftime('%d/%m/%Y') %></td>
      </tr>
  <% end %>
  <% else %>
  <tr>
    <td colspan="5" style="color: black; background: #EFF0F1;">No existen datos en el rango de fecha</td>
  </tr>
  <% end %>
  </tbody>
</table>

<br><br>
<div>

  <table style="font-size: 14px;">
    <tr>
      <td><strong>Número de embarazos: </strong></td>
      <td><%= @pregnancies.size %></td>
    </tr>
  </table>
</div>

