<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2 class="page_title">Lista de personal de cirug&iacute;as</h2>
        </div>
      </div>
      <div class="col-xs-6">
    <%= link_to 'Agregar', new_doctor_personalsupport_path, class: "pull-right btn bgm-green waves-effect" %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-personal" class="table table-striped" data-source="<%= doctor_personalsupports_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id = "name">NOMBRE</th>
    <th data-column-id = "last_name">APELLIDO</th>
    <th data-column-id = "email">EMAIL</th>
    <th data-column-id = "contact_number">NÚMERO CONTACTO</th>
    <th data-column-id = "role">PUESTO</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
</div></div></div></div>
