<%
  patient = @medical_annotation.patient
  user = @medical_annotation.user
  clinic = ClinicInfo.find(1)
  is_doctor = @medical_annotation.user.is_doctor

  linked_fields = [
      {
          :key => '[PACIENTE_NOMBRE]',
          :value => patient.name
      },
      {
          :key => '[PACIENTE_APELLIDO]',
          :value => patient.last_name
      },
      {
          :key => '[PACIENTE_FECHA_NACIMIENTO]',
          :value => date_month_name(patient.birth_day)
      },
      {
          :key => '[PACIENTE_EDAD]',
          :value => CalculateAge::calculate(@view,patient.birth_day)
      },
      {
          :key => '[PACIENTE_GENERO]',
          :value => patient.gender.name
      },
      {
          :key => '[PACIENTE_OCUPACION]',
          :value => patient.occupation
      },
      {
          :key => '[PACIENTE_ESTADO_CIVIL]',
          :value => patient.medical_expedient.medical_history.no_pathological.marital_status.present? ? patient.medical_expedient.medical_history.no_pathological.marital_status.name : ''
      },
      {
          :key => '[PACIENTE_DIRECCION]',
          :value => patient.address
      },
      {
          :key => '[PACIENTE_CIUDAD]',
          :value => patient.city_unknown? ? 'Desconoce' : patient.city.name
      },
      {
          :key => '[PACIENTE_ESTADO]',
          :value => patient.city_unknown? ? 'Desconoce' :patient.city.state.name
      },
      {
          :key => '[PACIENTE_LOCALIDAD]',
          :value => patient.birthplace
      },
      {
          :key => '[MEDICO_NOMBRE]',
          :value => is_doctor ? user.doctor.full_name_title : ''
      },
      {
          :key => '[MEDICO_CELULAR]',
          :value => is_doctor ? user.person.cellphone : ''
      },
      {
          :key => '[MEDICO_CEDULA]',
          :value => is_doctor ? user.doctor.identity_cards.map {|ic| ic.identity+'-'+ic.institute}.join(', ') : ''
      },
      {
          :key => '[MEDICO_TELEFONO]',
          :value => is_doctor ? user.person.telephone : ''
      },
      {
          :key => '[CLINICA_NOMBRE]',
          :value => clinic.name
      },
      {
          :key => '[CLINICA_DIRECCION]',
          :value => clinic.address
      },
      {
          :key => '[CLINICA_CIUDAD]',
          :value => clinic.city.format_city_state_and_country
      },
      {
          :key => '[CLINICA_DIRECCION]',
          :value => clinic.address
      },
      {
          :key => '[CLINICA_TELEFONO]',
          :value => clinic.telephone
      },
      {
          :key => '[NOTA_FECHA]',
          :value => @medical_annotation.created_at.strftime('%d/%m/%Y')
      }
  ]

  #campos custom de tipos texto, numero y fecha
  html = @medical_annotation.medical_annotation_type.template
  @medical_annotation.annotation_fields.each do |f|
    data = JSON.parse(f.medical_annotation_field.config)
    str = f.data
    case data['html_type']
      when 'date'
        a = Time.parse(f.data)
        formats = ["FECHA","FECHA_HORA","HORA"]
        formats.each do |f|
          key = "["+"#{data['code']}|"+f+"]"
          if html.include? key
            new_str = ""
            case f
              when "FECHA"
              new_str = date_month_name(a)
              when "FECHA_HORA"
              new_str = human_full(a)
              when "HORA"
              new_str = only_hour(a)
            end
            html = html.gsub!(key, new_str)
          end
        end
      when 'checkbox'
        key = '['+data['code']+']'
        new_string = ''
        options = data['options'].split("|")
        values = f.data.split("|")
        options.each do |o|
          checked = ""
          checked = "checked" if values.include? o
          new_string <<  "<input type='checkbox' #{checked}>" + o
        end
        if html.include? key
        html = html.gsub!(key, new_string)
        end
    end


    key = '['+data['code']+']'

    if html.include? key
      html = html.gsub!(key, str)
    end
  end

  # campos de tipo imagen
  @medical_annotation.medical_annotation_type.medical_annotation_images.each do |img|
    key = '['+img.f_key+']'
    if html.include? key
      data = wicked_pdf_image_tag_for_public(img.image.url, :width => "100%")
      html = html.gsub!(key, data)
    end
  end

  # campos Estándar
  linked_fields.each do |f|
    if html.include? f[:key]
      html = html.gsub!(f[:key], f[:value].to_s)
    end
  end


  # campos de las valoraciones
  @medical_annotation.patient_valorations.each do |pv|
    pv.patient_valoration_fields.each do |pvf|
      key = "[#{pvf.valoration_field.code}]"
      if html.include? key
        html = html.gsub!(key, pvf.data + " "+pvf.valoration_field.sufix.to_s)
      end
    end
  end

%>
<%= html.html_safe %>

<style>
  .valoration_table{
    width: 100%;
  }

  .valoration_table td{
    border: #c6c6c6 1px solid;
    padding: 5px;
    font-size: 13px;
  }

  .page-break { display:block; clear:both; page-break-after:always; }


    #medical_annotation_detail{
      text-align: right;
      font-size: 12px;
      margin-top: -40px;
    }

</style>



<% if @medical_annotation.patient_valorations.size > 0 %>
    <div class="page-break"></div>

    <h3>Valoraciones</h3>
    <div id="medical_annotation_detail">Nota médica:
      <%= @medical_annotation.medical_annotation_type.name %>,
      Fecha: <%= @medical_annotation.created_at.strftime('%d/%m/%Y')%>
    </div>
    <div>
      <br>
    </div>

    <% @medical_annotation.patient_valorations.each do |pv| %>
        <table class="valoration_table">
          <tr>
            <td style="width: 25%">
              <%= pv.valoration_type.name %>
            </td>
            <td>
              <% pv.patient_valoration_fields.each do |pvf| %>
                  <strong><%= pvf.valoration_field.name %>: </strong> <%= pvf.data %><br>
              <% end %>
            </td>
          </tr>
        </table>
    <% end %>


<% end %>

