

    Estimado <%= @sent_invoice.admission_invoice_receptor.business_name %>

<p>
<p>
<p>
Anexo encontrará su comprobante fiscal digital por internet (CFDI, Factura Electrónica), misma que cumple con la reglamentación vigente del Servicio de Administración Tributaria (SAT).
<p>
<p>
<p>
Atentamente.
<br>
<%= ClinicInfo.first.name %>