<script>
  var assistant_permissions = {};
  <% if @assistant != nil %>
  <% Permission.all.each do |ap| %>
  assistant_permissions["<%= ap.name %>"] = [];
  <% end %>
  <% @assistant.office_permissions.each do |p| %>
  assistant_permissions["<%= p.permission.name %>"].push(<%= p.office.id %>);
  <% end %>
  var assistant_id = <%= @assistant.id %>;
  <% end %>

</script>
<input type="hidden" id="in_waiting_room_page" value="yes">

<div class="card" style="padding: 20px;">


  <div class="row">
    <div class="col-md-4">
      <h1>Sala de espera</h1>
    </div>

    <% if session[:role] == "shared_assistant" %>

    <div class="col-md-12">
      <br>
    </div>

        <div class="col-md-4">
          <strong style="font-size: 18px;">Doctor: </strong>
          <select id="wroom_sha_doctor_id" class="form-control selectpicker">
            <% @assistant.doctors.each do |doc| %>
                <option value="<%= doc.id %>"><%= doc.full_name_title %></option>
            <% end %>
          </select>
        </div>

    <% end %>
    <div class="col-md-1">
      <br>
      <strong style="font-size: 18px;">Fecha</strong>
    </div>
    <div class="col-md-3">
      <br>
      <div class="date" id="waiting_room_date_input" >
        <input type="text" class="form-control input-lg" value="" id="input_date_filter">
      </div>
    </div>
    <input type="hidden" value="<%= Date.today.strftime('%d/%m/%Y') %>" id="today_server"/>
    <div class="col-md-4">
      <br>
      <a class="btn btn-primary" onclick="loadAppointments()">Ver</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-success" onclick="loadAppointmentsToday()">Ver Hoy</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4 appointment_stack" id="pending">
      <h3><span class="label label-info">Citas</span></h3>
      <ul class="sortable"></ul>

    </div>

    <div class="col-xs-4 appointment_stack" id="waiting">
      <h3><span class="label label-info">En espera</span></h3>
      <ul class="sortable"></ul>

    </div>

    <div class="col-xs-4 appointment_stack" id="attended">
      <h3><span class="label label-info">Atendidos</span></h3>
      <ul class="sortable"></ul>

    </div>

  </div>

</div>