<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2 class="page_title">Directorio de contactos</h2>
        </div>
      </div>
      <div class="col-xs-6">
    <%= link_to 'Agregar', new_shared_assistant_address_book_path, class: "pull-right btn bgm-green waves-effect" %>
  </div>
    </div>

        <div class=" col-md-4 col-xs-12">
          <%
            doctors_id = ""
            assistant = Assistant.find(session[:assistant_id])
            assistant.doctors.each do |doc|
              doctors_id += doc.id.to_s + ","
            end
            doctors_id = doctors_id.chop
          %>
          <strong>Doctor</strong>
          <%= select_tag("doctor_for_search", options_for_select(Doctor.where("doctors.id in (#{doctors_id})").map{|pa| [pa.name+ " " + pa.last_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
        </div>
      <div class="col-xs-12">
  <table id="data-table-address_book" class="table table-striped" data-source="<%= shared_assistant_address_books_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id = "name">NOMBRE</th>
    <th data-column-id = "telephone">TELÉFONO</th>
    <th data-column-id = "cellphone">CELULAR</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
</div></div></div></div>
<% if session[:user_type_id] == TypeUser::DOCTOR %>
    <input type="hidden" id="user_type" value="1">
    <% else  %>
    <input type="hidden" id="user_type" value="2">
<% end %>

<%= hidden_field_tag 'url_show_contact', url_for(:controller => 'shared_assistant/address_books', :action => 'get_contact_data', :only_path => false) %>

<div class="modal fade" id="show_data_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <h4 class="modal-title" id="data_modal_title"><label id="o_name"></label></h4>
      </div>
      <div class="modal-body">
        <div class="form-group fg-line">
          <div class="row" style="font-size: 14px">
            <div class="col-xs-12">
              <label class="control-label">Tel&eacute;fono</label>:
              <label id="o_telephone"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Celular</label>:
              <label id="o_cellphone"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Email</label>:
              <label id="o_email"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Dirección</label>:
              <label id="o_address"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Hospital</label>:
              <label id="o_hospital"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Consultorio</label>:
              <label id="o_office"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>