<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-md-6">
        <h4>Tipos de valoración</h4>
      </div>
      <div class="col-md-6">
        <% if can? :new, ValorationType %>
            <a class="btn btn-success pull-right" id="new_valoration_type_btn">Agregar</a>
        <% end %>
      </div>

      <div class="col-md-12">
        <% valoration_types = ValorationType.order('name ASC').all %>
        <% valoration_types.each do |vt| %>
            <div class="valoration_type" id="valoration_type_<%= vt.id %>">
              <strong><%= vt.name %></strong>
              <% if can? :destroy, ValorationType %>
                  <i class="zmdi zmdi-delete icon_action delete_valoration_icon pull-right" url="<%= admin_valoration_type_path(vt.id) %>" holder="valoration_type_<%= vt.id %>"></i>
              <% end %>
              <% if can? :edit, ValorationType %>
                  <i class="zmdi zmdi-edit icon_action edit_valoration_icon pull-right" url="<%= admin_valoration_type_path(vt.id) %>"></i>
              <% end %>

              <div class="valoration_fields">
                <%= vt.valoration_fields.map{|vf| vf.name}.join(", ") %>
              </div>
            </div>
        <% end %>


      </div>

    </div>

  </div>
</div>


<div class="modal fade" id="add_valoration_type_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Agregar tipo de valoración</h4>
      </div>
      <div class="modal-body">
        <strong>Tipo</strong>
        <select class="selectpicker form-control" id="field_type">
          <option value="<%= Const::VALORATION_TYPE_VITAL_SIGN %>">Signo vital</option>
          <option value="<%= Const::VALORATION_TYPE_EXPLORATION %>">Exploración</option>
        </select>

        <strong>Nombre</strong>
        <input type="text" id="type_name" class="form-control">
        <input type="hidden" id="type_id">

        <br>
        <strong>Campos</strong><br><br>
        <% ValorationField.all.each do |vf| %>
            <div class="checkbox m-b-15 label_valoration_field_name vf_<%= vf.f_type %>">
              <label>
                <input type="checkbox" value="<%= vf.id %>" name="valoration_fields" id="valoration_field_<%= vf.id %>">
                <i class="input-helper"></i>
                <%= vf.name %>
              </label>
            </div>
        <% end %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="save_valoration_type_btn" url="<%= admin_valoration_types_path %>">Aceptar</button>
      </div>
    </div>
  </div>
</div>