
<input type="hidden" id="url_validate_date" value="<%= validate_date_doctor_activities_url %>"/>


<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="block-header">
        <ul class="actions">
          <li>
            <a class="action" id="min_calendar_assistant"><i class="zmdi zmdi-window-minimize"></i></a>
            <a class="action" id="res_calendar_assistant"><i class="zmdi zmdi-window-restore"></i></a>
            <a class="action" id="max_calendar_assistant"><i class="zmdi zmdi-window-maximize"></i></a>

          </li>
        </ul>
      </div>
      <div class="doctor_select" style="background:white; padding: 20px;">
        <select class="selectpicker form-control" id="doctor_agenda_select">
          <option value="">Seleccione un doctor</option>
          <% get_doctors_active_assistant_shared.each do |doctor| %>
              <option value="<%= doctor.id %>"><%= doctor.user.person.full_name %></option>
          <% end %>
        </select>
      </div>
      <div id="calendar_assistant"></div>
      <div id="calendar_a_min" style="background: #00BCD4; padding: 10px; color:white; font-size: 16px;"></div>
    </div>





  </div>
</div>


<div>
  <input type="hidden" id="assistant_office_id" value="">
  <input type="hidden" id="daily_cash_id" value="true">
</div>


<div class="modal fade" id="addNew-event" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addEventTitle">Agregar Actividad</h4>
      </div>
      <div class="modal-body">
        <form class="addEvent" role="form">

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-2 col-xs-4">
                <strong>Doctor: </strong>
              </div>
              <div class="col-xs-8 col-xs-10">
                <select class="selectpicker form-control" id="doctor_current">
                  <% get_doctors_active_assistant_shared.each do |doctor| %>
                          <option value="<%= doctor.id %>"><%= doctor.user.person.full_name %></option>
                      <% end %>
                </select>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="form-group">
              <label for="eventName">Tipo</label>
              <div class="event-tag">
                <% ActivityType.all.each do |at| %>
                  <span
                  data-tag="<%= at.color %>"
                  class="<%= at.color %>" activity-type="<%= at.id %>"></span>
                    <strong class="activity_type_name"><%= at.name %></strong>&nbsp;&nbsp;&nbsp;
                <% end %>
              </div>
            </div>

            <div class="col-xs-12" id="add_personal_support_div" style="display: none;">
              <div class="col-md-4 col-xs-4">
                <strong>Agregar participantes:</strong>
              </div>
              <div class="col-xs-8 col-md-8">
                <select class="selectpicker form-control" id="personal_supports" multiple data-selected-text-format="count" data-count-selected-text="{0} participantes">

                </select>
              </div>
            </div>
            <div class="col-xs-6">
              <strong>Consultorio:</strong> <br>
              <div class="btn-group bootstrap-select">
                <select class="selectpicker" id="activity_office">

                </select>
              </div>
            </div>

            <%= hidden_field_tag 'offices_doctors', current_user.offices.to_json(only: [:id, :doctor_id, :name]) %>
            <%= hidden_field_tag 'doctors_assistant_shared', current_user.doctors.to_json(only: [:id],methods: :full_name) %>
            <%= hidden_field_tag 'personal_supports_assistant_shared', current_user.doctors.to_json(only: [:id], include: {personalsupports: {only:[:id], methods: :full_name}}) %>


            <div class="col-xs-6">
              <strong>Estado:</strong> <br>
              <div class="btn-group bootstrap-select">
                <select class="selectpicker" id="activity_status">
                  <% ActivityStatus.all.each do |as| %>
                      <option class="activity_status option_status_<%= as.activity_type.id %>" value="<%= as.id %>"><%= as.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="col-xs-12">
              <br>
              <div class="form-group" style="display: none;">
                <label for="activity_name">Paciente</label>
                <div class="fg-line">
                  <input type="text" class="input-sm form-control input-lg" name="" id="activity_patient" placeholder="Ingrese el paciente">
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_name">Actividad</label>
                <div class="fg-line">
                  <input type="text" class="input-sm form-control input-lg" id="activity_name" placeholder="Ingrese el nombre de la actividad">
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_details">Detalles</label>
                <div class="fg-line">
                  <textarea class="input-sm form-control input-lg" id="activity_details" placeholder="Ingrese los detalles"></textarea>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group fg-line">
                <label for="activity_start_date">Fecha Inicio</label>
                <input class="form-control input-lg form-control date-picker"
                       id="activity_start_date" placeholder="Fecha Inicio" type="text">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group fg-line">
                <label for="activity_start_time">Hora Inicio</label>
                <input class="form-control input-lg form-control time-picker"
                       id="activity_start_time" placeholder="H. Inicio" type="text">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group fg-line">
                <label for="activity_end_date">Fecha Fin</label>
                <input class="form-control input-lg form-control date-picker"
                       id="activity_end_date" placeholder="Fecha Fin" type="text">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group fg-line">
                <label for="activity_end_time">Hora Fin</label>
                <input class="form-control input-lg form-control time-picker"
                       id="activity_end_time" placeholder="H. Fin" type="text">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="checkbox m-b-10">
                <label>
                  <input class="" type="checkbox" id="all_day_activity">
                  <i class="input-helper"></i>Todo el día
                </label>
              </div>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="addEvent">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="all_accounts_doctors" value='<%= @all_accounts.to_json() %>'/>
<input type="hidden" id="all_exchanges_doctors" value='<%= @all_exchanges.to_json() %>'>

<div class="modal fade" id="generate_charge_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="generate_charge_title">Generar cobro</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <input type="hidden" id="add_charge_url" value="<%= create_charge_doctor_daily_cashes_path %>">
          <input type="hidden" id="quick_charge_type" value="consult">
          <div class="row">
            <div class="col-xs-6">
              <strong>Método de Pago:</strong> <br>
              <select class="selectpicker form-control" id="charge_payment_method">
                <% PaymentMethod.all.each do |pm| %>
                    <option id="payment_method_<%= pm.id %>" affect_local="<%= pm.affect_local ? 1 : 0  %>" value="<%= pm.id %>"><%= pm.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-xs-6">
              <strong id="">Cuenta:</strong> <br>
              <select class="selectpicker form-control" id="charge_account">
                <option value="">Seleccionar cuenta...</option>
              </select>

              <br>
            </div>
            <div class="col-xs-6">
              <strong>Moneda:</strong> <br>
              <select class="selectpicker form-control" id="doctor_currency">

              </select>
            </div>
            <div class="col-xs-6">
              <strong>Monto:</strong> <br>
              <input type="number" class="form-control input-lg" id="charge_amount">
              <input type="hidden" class="form-control input-lg" id="charge_amount2">
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_details">Detalles</label>
                <div class="fg-line">
                  <textarea class="input-sm form-control input-lg" id="charge_details" placeholder=""></textarea>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_transaction_btn" onclick="addCharge()">Cobrar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="activity_actions_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Información de la actividad</h4>
      </div>
      <div class="modal-body">

        <div id="activity_info" style="font-size: 16px;">

        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-link" id="in_w_room_btn" onclick="setPatientInWroom()">En espera</button>
        <button type="submit" class="btn btn-danger" id="delete_activity_btn" onclick="deleteActivity()">Eliminar</button>
        <button type="submit" class="btn btn-primary" id="update_activity_btn" onclick="setupUpdateModal()">Editar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
