<%
  middle_count = 0
  @consultation_fields.each do |cf|
%>
    <%
      if cf.field_class == "col-md-6" && middle_count == 2
    %>
    <div class="col-md-12"></div>
    <%
      middle_count = 0
      elsif cf.field_class == "col-md-6"
      middle_count = middle_count + 1
      elsif cf.field_class == "col-md-12"
      middle_count = 0
    %>
  <% end %>

<div class="<%= cf.field_class %> consultation_field_holder">
  <% if ![Const::CONSULTATION_FIELD_CHECKBOX, Const::CONSULTATION_FIELD_CHECKBOX_TEXT].include? cf.field_type %>
      <strong><%= cf.name %></strong>
  <% end %>

  <% case cf.code %>
  <% when Const::CONSULTATION_MEDICAMENTS %>
        <div style="margin-bottom: 5px">
          <input type="text" autocomplete="off" class="w-100" placeholder="Escriba el nombre del medicamento para comenzar a buscar...">
          <textarea class="w-100" rows="3" placeholder="Indique la dosis, vía de administración, frecuencia y tiempo de duración del tratamiento"></textarea>
          <a style="margin-top: 10px; margin-bottom: 10px; float: right;" class="btn btn-info" id="add-medicament">Agregar</a>
        </div>
  <% when Const::CONSULTATION_DISEASES  %>
      <input type="text" class="w-100" placeholder="Escriba el nombre de la enfermedad para comenzar a buscar..." autocomplete="off">
  <% else %>

      <% case cf.field_type %>
        <% when Const::CONSULTATION_FIELD_TEXT %>
          <input type="text" class="w-100 <%= cf.is_custom ? 'consultation_custom_field' : '' %>" field_type="<%= cf.field_type %>">
      <% when Const::CONSULTATION_FIELD_DATE %>
          <input type="text" class="w-100 date-picker <%= cf.is_custom ? 'consultation_custom_field' : '' %>" field_type="<%= cf.field_type %>">
        <% when Const::CONSULTATION_FIELD_LONG_TEXT %>
          <textarea class="w-100 <%= cf.is_custom ? 'consultation_custom_field' : '' %>" field_type="<%= cf.field_type %>"></textarea>
        <% when Const::CONSULTATION_FIELD_CHECKBOX %>
          <label class="checkbox checkbox-inline">
            <input type="checkbox" value="1" class="<%= cf.is_custom ? 'consultation_custom_field' : '' %>" field_type="<%= cf.field_type %>">
            <i class="input-helper"></i>
            <strong><%= cf.name %></strong>
          </label>
      <% when Const::CONSULTATION_FIELD_CHECKBOX_TEXT %>
          <div class="checkbox_text_field">
            <label class="checkbox checkbox-inline">
              <input type="checkbox" value="1" class="check <%= cf.is_custom ? 'consultation_custom_field' : '' %>" field_type="<%= cf.field_type %>">
              <i class="input-helper"></i>
              <strong><%= cf.name %></strong>
            </label>
            <input type="text" class="w-100 text">
          </div>
      <% end %>

  <% end %>
</div>
<% end %>