<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<header>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>

  <style>
    html, body, img {
      margin: 0px !important;
      padding: 0px !important;
      border: 0px !important;
    }

    .field-attribute {
      margin: 0px !important;
      padding: 0px !important;
      position: absolute;
    }

    .container {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .sheet {
      padding: 0px !important;
      margin: 0px !important;
      border: 0px !important;
    }

    .qr-table {
      border-width: 0 !important;
      border-style: none !important;
      border-color: #0000ff !important;
      border-collapse: collapse !important;
      text-align: right !important;
    }

    .qr-table td {
      border-left: solid 4px #000 !important;
      padding: 0 !important;
      margin: 0 !important;
      width: 0px !important;
      height: 4px !important;
    }

    .qr-table td.black { border-color: #000 !important;}
    .qr-table td.white { border-color: #fff !important; }

  </style>
</header>
<body>
<div class="">
  <div class="">
    <%
      doctor = @analysis_order.office.doctor
      elements_ids = [];
      @template_custom.custom_template_report_fields.where(section: "HEADER").where(show_field: true).order(position_top_cm: :asc).each do |field|
        # if field.show_field
        elements_ids << field.id
        size = "#{field.size.to_s}px"
        font = field.font
        if field.is_bold
          is_bold = "bold"
        else
          is_bold = "normal"
        end

        top = (field.position_top_cm.to_f * 37.795275591).to_i.to_s+"px"
        left = (field.position_left_cm.to_f * 37.795275591).to_i.to_s+"px"
        width = (field.width_box.to_f * 37.795275591).to_i.to_s+"px"
    %>
        <% case field.fields_prescription.id %>
    <% when FieldsPrescription::LABEL %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= field.label %></label>
        <% when FieldsPrescription::LINE %>
            <% linesize = field.size * 37.795275591 %>
            <% if field.is_bold %>
                <hr style=" top: <%= top %>; left: <%= left %>;" id="info_<%= field.id %>" class="field-attribute" width="0.1" size="<%= linesize %>">
            <% else %>
                <hr style=" top: <%= top %>; left: <%= left %>;" id="info_<%= field.id %>" class="field-attribute" width="<%= linesize %>">
            <% end %>
        <% when FieldsPrescription::SQUARE %>
            <% large = field.size * 37.795275591 %>
            <div class="field-attribute" style="border: solid 1px; width: <%= large %>px;height: <%= large %>px; top: <%= top %>; left: <%= left %>; "></div>
        <% when FieldsPrescription::RECTANGLE %>
            <% long = field.size * 37.795275591 %>
            <% long_width = field.width_box * 37.795275591 %>
            <div class="field-attribute" style="border: solid 1px; width: <%= long_width %>px;height: <%= long %>px; top: <%= top %>; left: <%= left %>; "></div>
        <% when FieldsPrescription::CIRCLE %>
            <% long = field.size * 37.795275591 %>
            <div class="field-attribute" style="border-radius: 50%/50%;border: solid 1px; width: <%= long %>px;height: <%= long %>px; top: <%= top %>; left: <%= left %>; "></div>
        <% when FieldsPrescription::IMAGE %>
            <% long = field.size * 37.795275591 %>
            <% long_width = field.width_box * 37.795275591 %>
            <div class="field-attribute" style="top: <%= top %>; left: <%= left %>; z-index: -1">
              <%= wicked_pdf_image_tag_for_public field.extra.url,:width => long_width,  :height=>long %>
            </div>
        <% when FieldsPrescription::DOCTOR_NAME %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= doctor.full_name_title %> </label>
        <% when FieldsPrescription::OFFICE_NAME_DOCTOR %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @analysis_order.office.name %></label>
        <% when FieldsPrescription::ADDRESS_OFFICE_DOCTOR %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @analysis_order.office.address %></label>
        <% when FieldsPrescription::PHONE_OFFICE %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @analysis_order.office.telephone %></label>
        <% when FieldsPrescription::CELL_DOCTOR %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= doctor.cellphone %></label>
        <% when FieldsPrescription::MEDICAL_SPECIALTIES %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%
              unless doctor.pres_show_speciality

                specialtities = []
                doctor.specialties.each do |specialti|
                  specialtities << specialti.name.to_s
                end
                if specialtities.size > 0
            %>
                      <%= specialtities.join(",") %>
                  <% end
                     else
                       if doctor.pres_speciality.present? %>
                      <%= doctor.pres_speciality %>
                  <%  end
                      end %></label>
        <% when FieldsPrescription::ACADEMIC_STUDIES %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%
              if doctor.pres_show_studies and doctor.pres_studies.present?  %>
                  <%= doctor.pres_studies %>
              <% else %>
                  <% if doctor.identity_cards.size > 0 %>
                      <%= doctor.identity_cards.last.institute %>
                  <%  end %>
              <%  end %></label>
        <% when FieldsPrescription::PROFESSIONAL_IDENTITY_CARD %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;">
              <% unless doctor.pres_show_professional_license %>

                  <% if doctor.identity_cards.size > 0 %>
                      <%= @analysis_order.office.doctor.identity_cards.last.identity %>
                      <br>
                      <%= @analysis_order.office.doctor.identity_cards.last.institute %>
                  <% end %>

              <% else
                   if doctor.pres_professional_license.present?
              %>
                      <%= doctor.pres_professional_license %>
                  <%
                    end
                    end %></label>
        <% when FieldsPrescription::PATIENT_NAME %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @analysis_order.medical_expedient.patient.full_name %></label>
        <% when FieldsPrescription::AGE_PATIENT %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @analysis_order.medical_expedient.patient.age_and_month %></label>
        <% when FieldsPrescription::DATE_CONSULTATION %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @analysis_order.created_at.strftime("%d/%m/%Y") %></label>
        <% when FieldsPrescription::BINDING_CODE_EXPEDIENT %>
            <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= @analysis_order.medical_expedient.code %></label>
        <% when FieldsPrescription::QR_CODE_EXPEDIENT %>
            <div id="info_<%= field.id %>" class="field-attribute" data-name="qr" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top:<%= top %>; left: <%= left %>; width: <%= width %>;"><%
              qr = RQRCode::QRCode.new(@analysis_order.medical_expedient.code.to_s, :size => 1, :level => :m, :mode => :number )
              html_qr = Nokogiri::HTML(qr.as_html)
              table = html_qr.at_css 'table'
              table.set_attribute('class', 'qr-table')
            %>
              <%= raw html_qr.to_html %></div>
        <% when FieldsPrescription::LOGO_OFFICE %>
            <% if doctor.pres_show_logo %>
                <% if !@analysis_order.office.logo_identifier.nil? %>
                    <div id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;">
                      <%= wicked_pdf_image_tag_for_public @analysis_order.office.logo.url,:width => width.to_i.to_s %>
                    </div>
                <% end %>
            <% end %>
        <% when FieldsPrescription::EXTRA_DATA %>
            <% if doctor.pres_show_another_info %>
                <label id="info_<%= field.id %>" class="field-attribute" style="font-size: <%= size %>; font-family: '<%= font %>'; font-weight: <%= is_bold %>; top: <%= top %>; left: <%= left %>; width: <%= width %>;"><%= doctor.pres_another_info %></label>
            <% end %>
        <%  else

            end
        %>
    <%
      end
    %>
  </div>
</div>
</body>
</html>
