<section id="about">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>Nuestro Software</h1>
      <div class="divider"></div>
      <!--<p>Administra electrónicamente tu consultorio</p>-->
      <p>Medsi es una plataforma digital que permite automatizar los servicios de salud. Permite que exista una interacción entre el médico y sus pacientes; desde poder solicitar citas hasta la vinculación de expedientes (recetas) desde la página web <a href="www.medsi.com.mx">www.medsi.com.mx</a> o desde la App Medsi.</p>
      <p>Medsi® permite la modernización de la salud pública y privada, al ser una plataforma flexible y fácil de implementar tanto en hospitales, servicios médicos privados y gobiernos.</p>

    </div>
  </div>
</section>

<section id="video">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-heading scrollpoint sp-effect3">
          <img src="<%= image_path('index_page/conacyt.png') %>">
          <div class="divider"></div>
          <p>Proyecto apoyado por el Programa de </br>Estímulos a la Investigación, Desarrollo Tecnológico e Innovación del CONACYT</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="section-heading scrollpoint sp-effect3 video-container" >
          <iframe src="https://www.youtube.com/embed/NoI0xk52dlg?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>