<section id="reviews">
  <div class="container">
    <div class="section-heading inverse scrollpoint sp-effect3">
      <h1>Doctores</h1>
      <div class="divider"></div>
      <p>Te presentamos los comentarios de nuestros Doctores</p>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-push-1 scrollpoint sp-effect3">
        <div class="review-filtering">

          <%
            @doctors.each do |d| %>

              <div class="review">
                <div class="row">
                  <div class="col-md-2">
                    <div class="review-person">
                      <img src="<%= image_url(profile_image_admin_index_comments_path(d)) %>" alt="" class="img-responsive">
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="review-comment">
                      <h3>“<%= d.comments %>”</h3>
                      <p>
                        - <%= d.full_name(true) %> - <%= d.job_title %>, <%= d.university %>
                        <span>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                    </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
          <%
            end %>
        </div>
      </div>
    </div>
  </div>
</section>