<!-- Para consultorios -->
<div class="container">
  <div class="section-heading">
    <h1>Consultorios</h1>
    <div class="divider"></div>
    <p>Con MEDSI podrás administrar tu consultorio de manera electrónica. Accesa fácilmente desde cualquier dispositivo.  Diseñado para todas las especialidades médicas.</p>
    <p>
    <ul class="inline_list">
      <li>Urología</li>
      <li>Dermatología</li>
      <li>Oftalmología</li>
      <li>Medicina Familiar</li>
      <li>Cirugía Plástica</li>
      <li>Oncología</li>
      <li>Otorrinolaringología</li>
      <li>Consulta Externa</li>
      <li>Hematología</li>
    </ul>
    </p>
  </div>
  <div class="section-heading ">
    <p>
      Nuestro sistema se adapta a cualquier especialidad.
    </p>
  </div>
  <div class="row">
    <%

      features1 = [
          {
              :icon => "ic_expediente.png",
              :name => "Expediente Clínico",
              :description => "Administra y genera los expedientes clínicos de tus pacientes de manera electrónica, cumpliendo con (NOM-004-SSA3-2012)."
          },
          {
              :icon => "ic_asist.png",
              :name => "Asistentes",
              :description => "Administra de manera fácil a tus asistentes."
          },
          {
              :icon => "ic_programar.png",
              :name => "Programa tus consultas",
              :description => "Puedes programar la duración, costos de tus consultas y servicios."
          },
          {
              :icon => "ic_facturacion.png",
              :name => "Facturación",
              :description => "Proveemos de Facturación Electrónica ilimitada."
          },
          {
              :icon => "ic_recetas.png",
              :name => "Emisión de recetas",
              :description => "Emite recetas impresas y genera órdenes de estudios clínicos."
          }
      ]

      features2 = [
          {
              :icon => "ic_notificaciones.png",
              :name => "Notificaciones",
              :description => "Programa cirugías y notifica a tu equipo de trabajo de manera electrónica."
          },
          {
              :icon => "ic_agenda.png",
              :name => "Agenda",
              :description => "Visualiza el orden y estado de tus citas por día, semana y mes."
          },
          {
              :icon => "ic_estadisticas.png",
              :name => "Estadísticas",
              :description => "Visualiza reportes y estadísticas de tus consultas, pacientes, ingresos y rentabilidad de tu consultorio."
          },
          {
              :icon => "ic_cobranza.png",
              :name => "Cobranza",
              :description => "Una manera fácil de gestionar la cobranza de tu consultorio."
          },
      ]

      img_width = '70'

    %>
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
      <% features1.each do |f| %>
          <div class="media text-right feature">
            <a class="pull-right" href="">
              <%= image_tag('index_page/icons/consultorios/'+f[:icon],width: img_width) %>
            </a>
            <div class="media-body">
              <h3 class="media-heading"><%= f[:name] %></h3>
              <%= f[:description] %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect2" >
      <img src="<%= image_path('index_page/iphone-freeze.png') %>" class="img-responsive" alt="">
    </div>
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect3">
      <% features2.each do |f| %>
          <div class="media feature">
            <a class="pull-left" href="#">
              <%= image_tag('index_page/icons/consultorios/'+f[:icon],width: img_width) %>
            </a>
            <div class="media-body">
              <h3 class="media-heading"><%= f[:name] %></h3>
              <%= f[:description] %>
            </div>
          </div>
      <% end %>

    </div>
  </div>
  <div class="section-heading ">
    <h1>Para Pediatría</h1>
    <div class="row">
      <div class="col-md-6 scrollpoint sp-effect1">
        <%= image_tag('index_page/ant_perc.png',style: 'width:100%') %>
        <h3>GRÁFICAS DE PERCENTILES</h3>
        <p>
          Con Medsi® para Pediatras podrás generar las gráficas de percentiles de Talla, Peso y Circunferencia de la cabeza de cada paciente de acuerdo a los patrones de crecimiento infantil de la OMS y CDC.
        </p>
      </div>
      <div class="col-md-6 scrollpoint sp-effect2">
        <%= image_tag('index_page/ant_peri.png',style: 'width:100%') %>
        <h3>ANTECEDENTES  PERINATALES</h3>
        <p>
          Puede registrar los antecedentes perinatales de su paciente, así como los datos de la madre y el padre.
        </p>
      </div>
    </div>
  </div>
  <div class="section-heading">
    <h1>Para Ginecología y Obstetricia</h1>
    <div class="row">
      <div class="col-md-6 scrollpoint sp-effect1">
        <%= image_tag('index_page/ant_gineco2.png',style: 'width:100%') %>
        <h3>GRÁFICAS DE CONTROL DE EMBARAZO</h3>
        <p>
          Con Medsi® para Ginecología y Obstetricia  podrás visualizar de manera gráfica el comportamiento del embarazo de tus pacientes.
        </p>
      </div>
      <div class="col-md-6 scrollpoint sp-effect2">
        <%= image_tag('index_page/ant_gineco.png',style: 'width:100%') %>
        <h3>ANTECEDENTES GINECO - OBSTÉTRICOS</h3>
        <p>
          El expediente clínico ginecológico más completo:  Antecedentes heredo – familiares y Antecedentes Gineco–obstétricos.
        </p>
      </div>
    </div>
  </div>
</div>