<!-- Para pacientes -->
<div class="container">
  <div class="section-heading ">
    <h1>Pacientes</h1>
    <div class="divider"></div>
    <p>Regístrese de manera gratuita, sólo necesita un correo electrónico y llenar un formulario para poder accesar a la comunidad Medsi®.</p>
  </div>

  <div class="row">
    <%

      features1 = [
          {
              :icon => "ic_nueva_consulta.png",
              :name => "Solicitar consultas",
              :description => "Solicite consultas tanto para usted como para sus familiares, podrá buscar a su médico por nombre, especialidad o ciudad."
          },
          {
              :icon => "ic_historial_salud.png",
              :name => "Historial de salud",
              :description => "Podrá llevar el historial de salud de usted o de sus familiares, es decir el registro de sus consultas con las prescripciones realizadas por su médico."
          },
          {
              :icon => "ic_recordatorios.png",
              :name => "Recordatorios",
              :description => "Le permite agendar recordatorios de los medicamentos de acuerdo a su historial de recetas o bien crearlos de manera independiente. Esto desde nuestra App Medsi."
          }
      ]

      features2 = [

      ]

      img_width = '70'

    %>
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
      <% features1.each do |f| %>
          <div class="media text-right feature">
            <a class="pull-right" href="#">
              <%= image_tag('index_page/icons/pacientes/'+f[:icon],width: img_width) %>
            </a>
            <div class="media-body">
              <h3 class="media-heading"><%= f[:name] %></h3>
              <%= f[:description] %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect2" >
      <img src="<%= image_path('index_page/iphone-freeze.png') %>" class="img-responsive " alt="">
    </div>
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect3">
      <% features2.each do |f| %>
          <div class="media feature">
            <a class="pull-left" href="#">
              <i class="fa fa-qrcode fa-2x"></i>
            </a>
            <div class="media-body">
              <h3 class="media-heading"><%= f[:name] %></h3>
              <%= f[:description] %>
            </div>
          </div>
      <% end %>

    </div>
  </div>



</div>