<!-- Para hospitales -->
<div class="container">
  <div class="section-heading ">
    <h1>Clínicas y Hospitales</h1>
    <div class="divider"></div>
    <p>Es un software integral  para la atención de clínicas y hospitales que te ayuda a brindar una mejor atención a tus pacientes, optimizar los tiempos tanto de los médicos como del personal administrativo. </p>
  </div>

  <div class="row">
    <%

      features1 = [
          {
              :icon => "ic_admision.png",
              :name => "Admisión",
              :description => "Desde el módulo de Admisiones realiza de manera rápida la captura de los datos del paciente, realiza asignación de la habitación de manera rápida y reduce tiempos de espera."
          },
          {
              :icon => "ic_expediente.png",
              :name => "Expediente clínico electrónico",
              :description => "Elimina el uso innecesario de papel, mantén tu información siempre actualizada, ten siempre disponible la información de los antecedentes patológicos y no patológicos de tus pacientes y su historial de signos vitales."
          },
          {
              :icon => "ic_agenda.png",
              :name => "Agenda",
              :description => "Visualiza de manera gráfica las actividades del día, programa citas, cirugías, días no laborales y vacaciones."
          },
          {
              :icon => "ic_sala_espera.png",
              :name => "Sala de espera",
              :description => "Gestiona  y visualiza el orden de las citas en cada consultorio."
          },
          {
              :icon => "ic_recetas.png",
              :name => "Recetas electrónicas",
              :description => "Lleva siempre contigo tus recetas electrónicas. No necesitarás memorizar los nombres de los medicamentos prescritos ya que podrás consultarlos en cualquier momento."
          },
          {
              :icon => "ic_alertas.png",
              :name => "Alertas y notificaciones por email",
              :description => "Envía alertas y notificaciones a tus pacientes de sus consultas y citas de sus tratamientos. Esto ayuda a la fidelización y mantenimiento de los clientes."
          }
      ]

      features2 = [
          {
              :icon => "ic_cobranza.png",
              :name => "Cobranza",
              :description => "Gestiona la cobranza de tus servicios, controla los ingresos y egresos a través de un corte de caja; elige el tipo de moneda de cambio."
          },
          {
              :icon => "ic_facturacion.png",
              :name => "Facturación",
              :description => "Realiza fácilmente la facturación de consultas y servicios desde nuestra plataforma. (200 timbres por mes)."
          },
          {
              :icon => "ic_farmacia.png",
              :name => "Farmacia",
              :description => "Gestiona el stock de los  productos de venta a los pacientes así como medicamentos e insumos de consumo interno."
          },
          {
              :icon => "ic_estadisticas.png",
              :name => "Estadísticas",
              :description => "Visualiza reportes y estadísticas de tus consultas, pacientes, ingresos y rentabilidad de tu consultorio."
          },
          {
              :icon => "ic_seguridad.png",
              :name => "Seguridad",
              :description => "Nuestros servidores se encuentran en el DataCenter más prestigiado y seguro de Estados Unidos. Medsi® cuenta con certificado de seguridad que blinda la información contra ataques cibernéticos, lo que asegura la privacidad de tu información."
          }
      ]

      img_width = '70'

    %>
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
      <% features1.each do |f| %>
          <div class="media text-right feature">
            <a class="pull-right" href="#">
              <%= image_tag('index_page/icons/hospitales/'+f[:icon],width: img_width) %>
            </a>
            <div class="media-body">
              <h3 class="media-heading"><%= f[:name] %></h3>
              <%= f[:description] %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect2" >
      <img src="<%= image_path('index_page/img_hospital.png') %>" class="img-responsive " alt="">
    </div>
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect3">
      <% features2.each do |f| %>
          <div class="media feature">
            <a class="pull-left" href="#">
              <%= image_tag('index_page/icons/hospitales/'+f[:icon],width: img_width) %>
            </a>
            <div class="media-body">
              <h3 class="media-heading"><%= f[:name] %></h3>
              <%= f[:description] %>
            </div>
          </div>
      <% end %>

    </div>
  </div>

</div>