<section id="screens">
  <div class="container">

    <div class="section-heading scrollpoint sp-effect3">
      <h1>Galería</h1>
      <div class="divider"></div>
      <p>Te presentamos algunas imágenes de MEDSI</p>
    </div>

    <div class="filter scrollpoint sp-effect3">
      <a href="javascript:void(0)" class="button js-filter-all active">Todas las imágenes</a>
      <a href="javascript:void(0)" class="button js-filter-one">Software Web</a>
      <a href="javascript:void(0)" class="button js-filter-two">Aplicación Móvil</a>

    </div>
    <div class="slider filtering scrollpoint sp-effect5" align="center" >
      <div class="one">
        <img src="<%= image_path('index_page/screens/agendapc1.jpg') %>" alt="">
        <h4 >Agenda</h4>
      </div>

      <div class="one">

      </div>

      <div class="one">
        <img src="<%= image_path('index_page/screens/expediente.jpg') %>" alt="">
        <h4 align="center">Expediente Electrónico</h4>
      </div>
      <div class="one" >

      </div>
      <div class="one">
        <img src="<%= image_path('index_page/screens/estadisticas1.jpg') %>" alt="">
        <h4>Estadísticas</h4>
      </div>
      <div class="one">

      </div>
      <div class="two">
        <img src="<%= image_path('index_page/screens/login.jpg') %>" alt="">
        <h4>Aplicación móvil</h4>
      </div>
      <div class="two">
        <img src="<%= image_path('index_page/screens/agenda.jpg') %>" alt="">
        <h4>Agenda móvil</h4>
      </div>
      <div class="two">
        <img src="<%= image_path('index_page/screens/citas.jpg') %>" alt="">
        <h4>Citas</h4>
      </div>
    </div>
  </div>
</section>