<section id="success_stories">

  <!-- Para consultorios -->
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>Casos de éxito</h1>
      <div class="divider"></div>
      <p>Nuestra plataforma ya es utilizada en 14 Estados de la República Mexicana,</p>
      <p>
      <ul class="inline_list">
        <li>Yucatán</li>
        <li>Ciudad de México</li>
        <li>Jalisco</li>
        <li>Nuevo León</li>
        <li>Querétaro</li>
        <li>Chiapas</li>
        <li>Sonora</li>
        <li>Tabasco</li>
        <li>Tamaulipas</li>
        <li>Quintana Roo</li>
        <li>Colima</li>
        <li>Baja California</li>
        <li>Zacatecas</li>
        <li>Chihuahua</li>
      </ul>
      </p>
      <p>y en Centroamérica.</p>
      <p>
      <ul class="inline_list">
        <li>Nicaragua</li>
        <li>El Salvador</li>
        <li>Panamá</li>
      </ul>
      </p>
    </div>

    <div>
      <img src="<%= image_url('index_page/success_stories.png') %>">
    </div>
  </div>
</section>