<section id="support" class="doublediagonal">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>Contáctanos</h1>
      <div class="divider"></div>
      <p>¿Deseas mayor información sobre nuestro Software?</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
            <form role="form" method="post" action="/submit_contact_form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tu Nombre" name="name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Tu Email" name="email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tu Teléfono" name="phone">
              </div>
              <div class="form-group">
                <textarea cols="30" rows="10" class="form-control" placeholder="Tu Mensaje" name="message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-lg">Enviar</button>

              <% flash.each do |name, msg| %>
                  <br>
                  <br>
                  <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= msg %>
                  </div>
              <% end %>
            </form>
          </div>
          <div class="col-md-4 col-sm-4 contact-details scrollpoint sp-effect2">
            <div class="media">
              <a class="pull-left" href="https://maps.google.com/maps?ll=21.016853,-89.590675&z=19&t=m&hl=en-US&gl=US&mapclient=embed&cid=157956833055976995" target="_blank">
                <i class="fa fa-map-marker fa-2x"></i>
              </a>
              <div class="media-body">
                <h5 class="media-heading"> Calle 18 No. 370 por 13 y 15, Local 18 y 19. Fracc. Residencial Cámara de Comercio Norte. Mérida, Yucatán, México.</h5>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="mailto:medsi@techsystems.com.mx" target="_blank" >
                <i class="fa fa-envelope fa-2x"></i>
              </a>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="mailto:medsi@techsystems.com.mx">medsi@techsystems.com.mx</a>
                </h4>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="callto:9994293067" >
                <i class="fa fa-phone fa-2x"></i>
              </a>
              <div class="media-body">
                <h4 class="media-heading">52+ (999) 429 30 67</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>