<style>
  .search_form_item{
    padding-top: 25px;
  }
</style>

<div style="background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%); padding-bottom: 20px;">
  <form id="search_doctor_form" class="container">
    <div class="row search_form_item">
      <div class="col-md-2">
        <a href="<%= index_path %>"><img src="<%= image_path('index_page/logo.png') %>" class="animated fadeInDown" alt=""></a>
      </div>

      <div class="col-md-10">
        <div style="text-align: center;">
          <strong style="color: white; font-size: 25px;">Directorio médico</strong>
        </div>


        <div>

          <div class="col-md-4 search_form_item">
            <input autocomplete="off" type="text" class="form-control" name="name"
                   placeholder="Búsqueda por nombre" id="name_search" value="<%= @name != nil ? @name : '' %>">
          </div>
          <div class="col-md-4 search_form_item">
            <input autocomplete="off" type="text" class="form-control"
                   name="city" placeholder="Búsqueda por ciudad" id="city_search" value="<%= @city != nil ? @city.format_city_state_and_country : '' %>" city="<%= @city != nil ? @city.id : '' %>">
          </div>
          <div class="col-md-4 search_form_item" id="search_form_actions">

            <a class="btn btn-primary" id="search_doctor_btn" title="Buscar"><i class="fa fa-search" aria-hidden="true"></i></a>
            <a class="btn btn-primary" id="search_all_btn" title="Ver Todos"><i class="fa fa-th-list" aria-hidden="true"></i></a>
          </div>

        </div>

      </div>

    </div>
  </form>

</div>


<div class="container">
  <div id="result" style="padding-top: 50px;">

    <% if @specialties.size == 0 %>
        <div style="position: relative; font-weight: bold; text-align:center; font-size: 15px; padding-top: 200px; padding-bottom: 300px;">
          <h3>No se encontraron resultados con los parámetros de búsqueda proporcionados.</h3>
        </div>

    <% else %>

        <div class="row">

          <div class="col-md-3 col-xs-12 custom_scroll" id="specialties_holder">
            <ul id="specialties_list">
              <% @specialties.each do |s| %>
                  <li id="specialty_<%= s['specialty_id'] %>">
                    <a specialty="<%= s['specialty_id'] %>" onclick="loadDoctors(<%= s['specialty_id'] %>)" class="specialty_item">
                      <%= s['name'] %> (<%= s['count'] %>)
                      <i style="float: right;" class="zmdi zmdi-chevron-right zmdi-hc-fw"></i>
                    </a>
                  </li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-9 col-xs-12">
            <div style="text-align: right;">
              <a id="view_btn" class="btn btn-primary" view="list">
                Ver mapa
              </a>
            </div>

            <div id="doctors_holder">
              <h3 style="text-align: center">Lista de doctores</h3>
              <br><br>
              <div class="custom_scroll" id="doctors">

              </div>
            </div>

            <div id="map_holder">
              <h3 style="text-align: center">Vista de mapa</h3>
              <br>
              <div id="map" style="height: 600px;"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <br><br><br>
            </div>
          </div>
        </div>
    <% end %>

    <%= javascript_include_tag 'index_gmap' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_KEY'] %>&callback=locatePosition"
            async defer>
    </script>
  </div>
</div>


<div class="modal fade" id="doctor_info_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style="text-align: center;" class="modal-title" id="doctor_info_title">Datos del Doctor</h3>
      </div>
      <div class="modal-body">
        <div id="doctor_info" style="font-size: 15px;">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="show_in_map_btn">Ver en el mapa</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
