<div class="chat-search">
  <div class="fg-line">
    <input type="text" class="form-control" placeholder="Search People">
  </div>
</div>

<div class="listview">
  <a class="lv-item" href="">
    <div class="media">
      <div class="pull-left p-relative">
        <img class="lv-img-sm" src="" alt="">
        <i class="chat-status-busy"></i>
      </div>
      <div class="media-body">
        <div class="lv-title">Jonathan Morris</div>
        <small class="lv-small">Available</small>
      </div>
    </div>
  </a>


</div>