  <div class="profile-menu">
    <a href="">
      <div class="profile-pic" style="height: 77px;">

      </div>

      <div class="profile-info">
        <%= current_user.person.full_name %>

        <i class="zmdi zmdi-caret-down"></i>
      </div>
    </a>

    <ul class="main-menu">
      <li>
        <%= link_to logout_path do %>
            <i class="zmdi zmdi-time-restore"></i> Salir
        <% end %>
      </li>
    </ul>
  </div>

  <ul class="main-menu">
    <% MenuItem.all.each do |mi| %>
        <% if mi.action.present? && can?(mi.action.name.to_sym, mi.action.section.name.constantize) %>
            <li><a href="<%= send(mi.action.path) %>"><i class="<%= mi.icon %>"></i> <%= mi.label %></a></li>
        <% elsif !mi.action.present?
             flag = false
             mi.menu_item_children.each do |ic|
               if can?(ic.action.name.to_sym, ic.action.section.name.constantize)
                 flag = true
               end
             end
             if flag
        %>
                <li class="sub-menu">
                  <a href="null"><i class="<%= mi.icon %>"></i> <%= mi.label %></a>
                  <ul>
                    <% mi.menu_item_children.each do |ic| %>
                        <% if can?(ic.action.name.to_sym, ic.action.section.name.constantize) %>
                            <% if ic.action.path == "edit_admin_clinic_info_path" %>
                                <li><a href="<%= edit_admin_clinic_info_path(ClinicInfo.first) %>"><%= ic.label %></a></li>
                                <% else %>
                                <li><a href="<%= send(ic.action.path) %>"><%= ic.label %></a></li>
                                <% end %>
                        <% end %>
                    <% end %>
                  </ul>
                </li>
            <% end
               end %>


    <% end %>




  </ul>