<input type="hidden" id="lab_id" value="<%= @lab_id %>">
<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Grupos de indicaciones: <%= @lab.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
          <%= link_to 'Agregar', new_doctor_ca_group_path+'?lab_id='+@lab_id.to_s, class: "pull-right btn bgm-green waves-effect" %>
      </div>
    <div class="col-xs-12">

  <table id="data-table-clinicalgroup" class="table table-striped" data-source="<%= doctor_ca_groups_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>


<div class="modal fade" id="deleteCardModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_specialfty_title">Eliminar Especialidad</h4>
      </div>
      <div class="modal-body">
        ¿Confirma que desea eliminar la Especialidad?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_specialty_btn" onClick="deleteSpecialty()">Eliminar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>