<% publish_to @channel, @data %>
<%
    if @type_message.nil?
    message_appointment = ""
    else
    message_appointment = @type_message.to_s
    end
%>
"{\"done\":true, \"type_message_appointment\":\"<%= message_appointment %>\"}"