<%= form_for [:doctor, @medical_history]  do |f| %>
    <h3>ANTECEDENTES NO PATOL&Oacute;GICOS</h3>
    <%= f.fields_for :no_pathological do |a| %>
        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= a.check_box :smoking, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Tabaquismo</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Grado:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= a.text_field :smoking_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= a.check_box :alcoholism, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Alcoholismo</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Grado:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= a.text_field :alcoholism_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= a.check_box :drugs, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Toxicomanías</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Grado:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= a.text_field :drugs_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= a.check_box :play_sport, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">¿Practica alg&uacute;n deporte?</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= a.text_field :play_sport_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <strong class="font_size_medical_history">Escolaridad:</strong>
            <%= a.text_field :scholarship, :class => "form-control input-lg", :placeholder => "Ingrese la escolaridad"%>
          </div>
          <div class="col-md-4">
            <strong class="font_size_medical_history">Estado Civil:</strong>
            <% if @medical_expedient.patient.gender.id == Gender::MAN %>
                <%= a.select :marital_status_id, options_for_select(MaritalStatus.all.map{ |ms| [ms.male, ms.id] },@medical_history.no_pathological.marital_status_id),{}, class: 'selectpicker form-control' %>
            <% else %>
                <%= a.select :marital_status_id, options_for_select(MaritalStatus.all.map{ |ms| [ms.female, ms.id] },@medical_history.no_pathological.marital_status_id),{}, class: 'selectpicker form-control' %>
            <% end %>

          </div>
          <div class="col-md-4">
            <strong class="font_size_medical_history">Religión:</strong>
            <%= a.text_field :religion, :class => "form-control input-lg", :placeholder => "Ingrese la religión"%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <strong class="font_size_medical_history">Anotaciones</strong>
          </div>
          <div class="col-md-12">
            <div class="fg-line">
              <%= a.text_field :annotations, :class => "form-control input-lg",:placeholder => "Anotaciones generales no patológicos" %>
            </div>
          </div>
        </div>

    <% end %>

    <h3>ANTECEDENTES PATOL&Oacute;GICOS</h3>
    <% subcategories = SubcategoryPathological.joins(:pathologicals).where(:pathologicals => {medical_history_id: @medical_history.id}).order("pathologicals.order").group(:id)
       subcategories.each do |category|
    %>

        <br>
        <h4><%= category.name %></h4>
        <% pathologicals_sections = Pathological.where(medical_history_id: @medical_history.id, subcategory_pathological_id: category.id).order(:order)
           pathologicals_sections.each do |pathological|

             case pathological.section_type
               when "FamilyDisease"
        %>
                <%= fields_for pathological.section do |d| %>

                    <%= render 'fields_family_disease', family_disease: d, section_family_disease: pathological.section %>
                    <br>
                <% end %>
            <% when "PathologicalAllergy" %>
                <%= fields_for pathological.section do |y| %>
                    <div class="row">
                      <div class="col-md-12">
                        <strong class="font_size_medical_history">Alergias</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="checkbox">
                          <label>
                            <%= y.check_box :allergy_medications, :class => "no_pathological_check" %>
                            <i class="input-helper"></i>
                            <strong class="font_size_medical_history">¿Al&eacute;rgico alg&uacute;n medicamento?</strong>
                          </label>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group">
                          <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                          <div class="col-md-10">
                            <div class="fg-line">
                              <%= y.text_field :allergy_medications_description, :class => "form-control input-lg", :placeholder => "Indique el medicamento" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <strong class="font_size_medical_history">Otras alergias</strong>
                      </div>
                      <div class="col-md-12">
                        <div class="fg-line">
                          <%= y.text_field :other_allergies, :class => "form-control input-lg", :placeholder => "Indique otras alergias" %>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% when "Surgery" %>
                <%= fields_for pathological.section do |c| %>
                    <div class="row">
                      <div class="col-md-12">
                        <strong class="font_size_medical_history">Hospitalizaciones</strong>
                      </div>
                      <div class="col-md-12">
                        <div class="fg-line">
                          <%= c.text_field :hospitalizations, :class => "form-control input-lg", :placeholder => "Hospitalizaciones" %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <strong class="font_size_medical_history">Cirug&iacute;as</strong>
                      </div>
                      <div class="col-md-12">
                        <div class="fg-line">
                          <%= c.text_field :description, :class => "form-control input-lg", :placeholder => "Cirugías a las que se ha sometido el paciente" %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <strong class="font_size_medical_history">Transfusiones</strong>
                      </div>
                      <div class="col-md-12">
                        <div class="fg-line">
                          <%= c.text_field :transfusions, :class => "form-control input-lg", :placeholder => "Detalles de la transfusión" %>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% when "PathologicalMedicine" %>
                <%= fields_for pathological.section do |m| %>
                    <div class="row">
                      <div class="col-md-12">
                        <strong class="font_size_medical_history">Medicamentos de rutina</strong>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-10">
                        <div class="form-group fg-line">
                          <div class="fg-line" id="scrollable-dropdown-menu">
                            <input id="medicament_name" name="medicament_name" class="form-control input-lg typeahead medicament_search" placeholder="Ingrese el medicamento" autocomplete="off"/>
                            <input type="hidden" id="medicament_id">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group fg-line">
                          <button type="button" class="btn btn-primary" id="add_medicament_to_mh" onClick="add_medicament_mh(<%=@medical_history.id %>,'add')">Agregar</button>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group fg-line" style="font-size: 16px;">
                          Lista de Medicamentos
                          <table class = "table" id="table-medicaments">
                            <thead>
                            <tr>
                              <th></th>
                              <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            </tbody>
                          </table>
                          <input type="hidden" id="medicaments_medical_history" value='<%= pathological.section.medicaments.to_json(only:[:id, :comercial_name,:active_substance,:presentation]) %>'/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <strong class="font_size_medical_history">Otros medicamentos</strong>
                      </div>
                      <div class="col-md-12">
                        <div class="fg-line">
                          <%= m.text_field :other_medicines, :class => "form-control input-lg", :placeholder => "Medicamentos alternativos" %>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% when "PathologicalCondition" %>
                <%= fields_for pathological.section do |c| %>
                    <div class="row">
                      <div class="col-md-12">
                        <strong class="font_size_medical_history">Padecimientos recientes</strong>
                      </div>
                      <div class="col-md-12">
                        <div class="fg-line">
                          <%= c.text_field :description, :class => "form-control input-lg", :placeholder => "Últimas enfermedades" %>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% else %>

            <% end %>

        <% end %>
    <%
      end
    %>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button type="button" class="btn btn-primary" id="add_medical_history" onClick="updateMedicalHistory()">Guardar</button>
        </div>
      </div>
    </div>
    <!-- FIN de antecedentes patológicos y no patológicos -->
<% end %>