<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:cli, @pharmacy_item] do |f| %>
    <% if @pharmacy_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pharmacy_item.errors.count, "error") %> prohibited this attention type from being saved:</h2>

          <ul>
            <% @pharmacy_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :code,'Código', :class=>"control-label" %><br>
      <%= f.text_field :code, :class => "form-control input-lg", :placeholder => "Código del articulo" %>
    </div>
    </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :description,'Descripción', :class=>"control-label" %><br>
              <%= f.text_field :description, :class => "form-control input-lg", :placeholder => "" %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <%= f.label :measure_unit_item_id,'Unidad de medida', :class=>"control-label" %><br>
              <%= f.select :measure_unit_item_id, MeasureUnitItem.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-3 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :cost,'Precio de venta', :class=>"control-label" %><br>
              <%= f.number_field :cost, :class => "form-control input-lg", :placeholder => "$" %>
            </div>
          </div>
          <div class="col-md-3 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :cost,'Costo de última compra', :class=>"control-label" %><br>
              <%= f.number_field :sale_cost, :class => "form-control input-lg", :placeholder => "$" %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <%= f.label :medicament_category_id,'Categoría', :class=>"control-label" %><br>
              <%= f.select :medicament_category_id, MedicamentCategory.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <%= f.check_box :is_consigment %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">¿Es artículo de consignación?</strong>
              </label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group fg-line">
              <%= f.label :tags,'Etiquetas de busqueda', :class=>"control-label" %><br>
              <%= f.text_field :tags, :class => "form-control input-lg", :placeholder => "Ingrese las palabras clave de busqueda, separadas por 'coma'" %>
            </div>
          </div>
          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= cli_pharmacy_items_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
<% end %>
