<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de Articulos de farmacia</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, PharmacyItem %>
          <%= link_to 'Agregar', new_cli_pharmacy_item_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-pharmacy_items" class="table table-striped" data-source="<%= cli_pharmacy_items_url(format: "json")%>"
         data-can-edit="<%= can? :edit, PharmacyItem %>"
         data-can-delete="<%= can? :destroy, PharmacyItem %>">
  <thead>
  <tr>
    <th data-column-id="name">Código</th>
    <th data-column-id="description">Descripción</th>
    <th data-column-id="category">Categoría</th>
    <th data-column-id="measure">U. de medida</th>
    <th data-column-id="cost">Costo</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
