<p id="notice"><%= notice %></p>
  <div class="card">
    <div class="card-body card-padding">
      <div class="row">
        <div class="row">
        <div class="col-xs-6">
          <div class="card-header">
            <h2>Facturas</h2>
          </div>
        </div>
        <div class="col-xs-6">
          <%= link_to 'Factura abierta', open_invoice_doctor_transactions_path, class: "pull-right btn bgm-green waves-effect" %>
        </div>
        </div>
        <br>
        <div class="row">
       <div class="col-md-6 col-xs-12">
          <strong>Raz&oacute;n social</strong>
         <input class="form-control input-lg " value="" onkeyup="doDelayedSearch(this.value)" type="text" name="search_business_name" id="search_business_name" aria-required="true" aria-invalid="false">
        </div>
        </div>
        <br>
        <div class="row">
        <div class="col-xs-2">
          <strong>Fecha inicio</strong>
          <input class="form-control date-picker input-lg " value="" type="text" name="start_date" id="start_date" aria-required="true" aria-invalid="false">
        </div>
        <div class="col-xs-2">
          <strong>Fecha fin</strong>
          <input class="form-control date-picker input-lg " value="" type="text" name="end_date" id="end_date" aria-required="true" aria-invalid="false">
        </div>
        <div class="col-xs-2">
          <strong>Estado de factura</strong>
        <select class="selectpicker form-control" id="invoice_status">
          <option value="">Todo</option>
          <option value="0">Activo</option>
          <option value="1">Cancelado</option>
        </select>
          </div>
        <div class="col-xs-2">
          <input type="button" class="pull-right btn bgm-blue waves-effect" onclick="reload_invoices()" value="Buscar">
        </div>
        <div class="col-xs-2">
          <input type="button" class="pull-right btn bgm-indigo waves-effect" onclick="clear_all()" value="Ver todo">
        </div>
        <div class="col-xs-2">
          <input type="button" class="pull-right btn bgm-red waves-effect" onclick="print_report_invoices()" value="Imprimir">
        </div>
        </div>
        <div class="col-xs-12">

  <table id="data-table-invoices" class="table table-striped" data-source="<%= doctor_invoices_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id = "date" data-sortable="false">Fecha</th>
    <th data-column-id = "patient" data-sortable="false">Raz&oacute;n social</th>
    <th data-column-id = "serie" data-sortable="false">Folio</th>
    <th data-column-id = "amount" data-sortable="false">Monto</th>
    <th data-column-id = "type" data-sortable="false">Tipo</th>
    <th data-column-id = "status" data-sortable="false">Estado</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
</div></div></div></div>
<%= hidden_field_tag 'url_stamp_action', url_for(:controller => 'doctor/transactions', :action => 'timbrar', :only_path => false) %>
<%= hidden_field_tag 'url_get_docinfo_action', url_for(:controller => 'doctor/transactions', :action => 'getDocFiscalInfo', :only_path => false) %>
<%= hidden_field_tag 'url_get_receptor', url_for(:controller => 'doctor/invoices', :action => 'get_receptor_email', :only_path => false) %>
<%= hidden_field_tag 'url_send_invoice_mail', url_for(:controller => 'doctor/invoices', :action => 'send_invoice_email', :only_path => false) %>
<%= hidden_field_tag 'url_cancel_invoice', url_for(:controller => 'doctor/invoices', :action => 'cancel_invoice', :only_path => false) %>
<%= hidden_field_tag 'url_print_report', url_for(:controller => 'doctor/invoices', :action => 'print_pdf_report', :only_path => false) %>
<%= hidden_field_tag 'url_icon_xml', image_path("XML.png") %>



<div class="modal fade" id="send_email_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center"> Enviar factura por correo electronico</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">

            <div class="row" id="emails_div">

            </div>
            <div class="row">
              <a href="javascript:void(0);" onclick="addemailfield()"><i style="font-size: 1.33em" class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Agregar correo</a>
              <br>
               <div class="col-xs-12" >
                <strong >Correo electronico:</strong> <br>
                <input type="text" class="form-control input-lg" id="email_receptor" >
                 <input type="hidden"  id="transac_receptor_id" >
                 <input type="hidden" id="invoice_id">
              </div>
              <div class="col-xs-12" id="text_emails_div">

              </div>
             <!-- <input  type="button" onclick="addemailfield()" value="agregar email">-->
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="send_email_btn" onclick="send_invoice_email()">Enviar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
