<style>

  #invoices_report_table{
    width: 100%;
  }

  #invoices_report_table thead th{
    font-size: 14px;
  }
  #invoices_report_table tr td{
    font-size: 12px;
    padding: 5px;
  }

  #invoices_report_table tr td{
    text-align: center;
  }



  #params table{
    font-size: 12px;
  }


  .float{
    float: left;
  }

  .logo{
    width: 20%;
  }

  .text{
    width: 80%;
  }


</style>

<div>
  <div class="float logo">
    <%= wicked_pdf_image_tag 'imagotipo-azul.png',:width => "60" %>
  </div>
  <div class="float text">
    <h2 style="margin: 0; padding: 0;">Reporte de facturas</h2>
    <label>
      <%= @doctor.gender_id == Gender::MAN ? "Dr. " : "Dra. " %> <%= @doctor.full_name %>
    </label>
  </div>
</div>

<div style="clear: both;">
</div>

<br>

<div id="params">
  <table>
    <tr>
      <td><strong>Fecha Inicio:</strong></td>
      <td><%= @start_date %></td>
    </tr>
    <tr>
      <td><strong>Fecha Fin:</strong></td>
      <td><%= @end_date %></td>
    </tr>
    <tr>
      <td><strong>Razón social:</strong></td>
      <td><%= @business_name %></td>
    </tr>
    <tr>
      <td><strong>Estado:</strong></td>
      <td><%= @invoice_status %></td>
    </tr>
  </table>
  <br>
</div>


<table id="invoices_report_table">
  <thead>
  <tr>
    <th>Fecha</th>
    <th>Razón social</th>
    <th>Folio</th>
    <th>Monto</th>
    <th>Tipo</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <%
    total_actives = 0
    total_cancel = 0
    actives = 0
    cancels = 0
    @invoices.each do |invoice|
      total = invoice.subtotal + invoice.isr + invoice.iva
      if invoice.cancel != nil && invoice.cancel != 0
        status = "Cancelada"
        total_cancel += total
        cancels += 1
      else
        status = "Facturada"
        total_actives += total
        actives += 1
      end
      if invoice.invoice_type == 1
        invoice_type = "Consulta medica"
        patient_name = invoice.patient_fiscal_information.business_name
      elsif invoice.invoice_type == 2
        invoice_type = "Publico general"
        patient_name = ""
      else
        invoice_type = "Factura abierta"
        patient_name = invoice.open_invoice_receptor.business_name
      end
  %>
      <tr>
        <td><%= invoice.created_at.strftime('%d/%m/%Y') %></td>
        <td ><%= patient_name %></td>
        <td><%= invoice.serie + "-" + invoice.folio.to_s %></td>
        <td><%= number_to_currency(total, :unit => "$") %></td>
        <td><%= invoice_type %></td>
        <td ><%= status %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br><br>
<div>

  <table style="font-size: 14px;">
    <tr>
      <td><strong>Número de facturas: </strong></td>
      <td><%= @invoices.size %></td>
    </tr>
    <tr>
      <td><strong>Total de facturas activas: </strong></td>
      <td><%= (number_to_currency total_actives) + " (" +actives.to_s + ")"  %></td>
    </tr>
    <tr>
      <td><strong>Total de facturas canceladas: </strong></td>
      <td><%= (number_to_currency total_cancel) + " (" +cancels.to_s + ")"%></td>
    </tr>
  </table>
</div>