<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-4">
        <div class="card-header">
    <h2>Lista de entradas/salidas</h2>
        </div>
      </div>
      <div class="col-xs-4">

  </div>
      <div class="col-xs-4">
        <% if can? :new, ItemMovement %>
        <%= link_to 'Agregar', new_cli_item_movement_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
      </div>
      <div class="col-xs-12">
  <table id="data-table-item_movements" class="table table-striped"  data-source="<%= cli_item_movements_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id="date">Fecha</th>
    <th data-column-id="waste_type">Tipo salida</th>
    <th data-column-id="warehouse">Almacen</th>
    <th data-column-id="cause">Razón</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
