<table style="font-family: arial, sans-serif">
  <tr>
    <td><strong>Nombre:</strong></td>
    <td><%= @data['name'] %></td>
  </tr>
  <tr>
    <td><strong>Email:</strong></td>
    <td><%= @data['email'] %></td>
  </tr>
  <tr>
    <td><strong>Teléfono:</strong></td>
    <td><%= @data['phone'] %></td>
  </tr>
  <tr>
    <td><strong>Mensaje:</strong></td>
    <td><%= @data['message'] %></td>
  </tr>
</table>