<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de paquetes de servicios</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, ServicePackage %>
          <%= link_to 'Agregar', new_cli_service_package_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-services_packages" class="table table-striped" data-source="<%= cli_service_packages_url(format: "json")%>"
         data-can-edit="<%= can? :edit, ServicePackage %>"
         data-can-manage="<%= can? :manage_services, ServicePackage %>"
         data-can-delete="<%= can? :destroy, ServicePackage %>">
  <thead>
  <tr>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
