<h2>Servicios  del <%= @service_package.name %></h2>
<input type="hidden" id="service_package_id" value="<%= @service_package.id %>">

<div class="card">
  <div class="card-body card-padding">
    <div class="row">

      <div class="col-xs-12 block-header">
        <h2>Servicios</h2>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group fg-float">
            <div class="fg-line">
              <a data-toggle="modal" href="#addservicemodal" ><i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Agregar</a>
            </div><span class="input-group-addon"></span>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group fg-line">


          <table class="table">
            <thead>
            <th>Nombre</th>
            <th>Costo</th>
            <th></th>
            </thead>
            <tbody>
            <%  @service_package.package_service_costs.each do |ic| %>
                <tr id="service_<%= ic.id %>">
                  <td id="service_name_<%= ic.id %>"><%= ic.hospital_service.name %></td>
                  <td id="service_cost_<%= ic.id %>"><%= ic.cost %></td>
                  <td>
                    <a data-toggle="modal" href="#deleteservice" onclick="deleteservice(<%= ic.id %>)"><i class="zmdi zmdi-delete" style='font-size: 1.73em;'></i></a>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div></div></div>
<div class="col-xs-6">

</div>
<div class="col-xs-6">
  <span class="col-xs-3"></span>

  <span class="col-xs-1"></span>
  <a href="<%= cli_service_packages_path %>" class="btn btn-danger col-xs-4">Atrás</a>
</div>

<div class="modal fade" id="addservicemodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_service_title" style="text-align: center">Agregar servicio</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-xs-12">
          <strong>Servicio</strong>
          <%= select_tag("service", options_for_select(HospitalService.all.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
        </div>
        <div class="col-xs-12" style="margin-top: 10px">
          <strong>Costo $</strong><br>
          <input type="number" class="form-control" id="service_cost">
        </div>
        <br>
      </div>
      </div>
      <br>
      <div class="modal-footer">
        <br>
        <button type="button" class="btn btn-danger" id="add_service_btn" onClick="addService()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<%= hidden_field_tag 'url_add_service', url_for(:controller => 'cli/service_packages', :action => 'add_service', :only_path => false) %>
<%= hidden_field_tag 'url_delete_service', url_for(:controller => 'cli/service_packages', :action => 'delete_service', :only_path => false) %>