<div class="row">
  <div class="col-md-2">
    <label>Tipo</label>
    <%= f.select :consultation_type_id, options_for_select(@consultation_types.map{ |ct| [ct.name, ct.id] }),{}, class: 'form-control' %>
  </div>
  <div class="col-md-3">
    <label>Consultorio</label>
    <%= f.select :office, options_for_select(@offices.map{ |office| [office.name, office.id] },session[:current_office_id]),
                 {}, class: 'form-control' %>
  </div>
  <div class="col-md-2">
    <label>Costo</label>
    <%= f.number_field :price, class: "w-100", placeholder: "Pesos", :readonly => true %>
  </div>

  <div class="col-md-3">
    <label>Fecha</label>
    <%= f.text_field :date_consultation, class: 'w-100 date-time-picker', placeholder: 'Fecha', value: DateTime.now.strftime('%m/%d/%Y %I:%m %P') %>
  </div>
  <div class="col-md-2" style="padding-top: 15px;">
    <a  title="Valoraciones" class="btn btn-primary waves-effect" id="show_valoration_btn">
      <i class="zmdi zmdi-border-color zmdi-hc-fw"></i>
    </a>
    <a title="Anotaciones generales" class="btn bgm-gray waves-effect" id="show_general_anotations_btn">
      <i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i>
    </a>
  </div>
</div>