<% if !@current_pregnancy.nil? %>
    <div style="text-align: center; color: #FE2E9A; background-color: #F8E0EC;  padding: 10px;border-radius: 25px;">
      <%

        weeks = 0
        if @current_pregnancy.last_menstruation_date != nil
          weeks = (Date.today - @current_pregnancy.last_menstruation_date).to_f / 7
        end
        age = weeks.to_i
      %>
      <div class="row" style="font-size: 14px;">
        <div class="col-md-4">
          <strong>La consulta se ligará<br>al embarazo actual.</strong>
        </div>
        <div class="col-md-2">
          <strong>FUM</strong><br><%= @current_pregnancy.last_menstruation_date != nil ? @current_pregnancy.last_menstruation_date.strftime('%d/%m/%Y') : '' %>
        </div>
        <div class="col-md-2">
          <strong>FPP</strong><br><%= @current_pregnancy.probable_birth_date != nil ? @current_pregnancy.probable_birth_date.strftime('%d/%m/%Y') : 'No proporcionado' %>
        </div>
        <div class="col-md-4">
          <strong>Embarazo</strong><br><%= age.to_s %> semanas
        </div>

        <input type="hidden" id="pregnancy_last_menstruation_date_hidden" value="<%= @current_pregnancy.last_menstruation_date != nil ? @current_pregnancy.last_menstruation_date.strftime('%d/%m/%Y') : '' %>">
      </div>
    </div>
<% end %>