<div class="card">
  <div class="card-body card-padding">

    <%= form_for [:doctor, @medical_history], html:{:class => "medical_history_form"}  do |f| %>
        <h3>ANTECEDENTES NO PATOL&Oacute;GICOS</h3>
        <%= f.fields_for :no_pathological do |a| %>
            <div class="row">
              <div class="col-md-3">
                <div class="checkbox">
                  <label>
                    <%= a.check_box :smoking, :class => "no_pathological_check" %>
                    <i class="input-helper"></i>
                    <strong class="font_size_medical_history">Tabaquismo</strong>
                  </label>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <strong class="col-md-2 font_size_medical_history">Grado:</strong>
                  <div class="col-md-10">
                    <div class="fg-line">
                      <%= a.text_field :smoking_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="checkbox">
                  <label>
                    <%= a.check_box :alcoholism, :class => "no_pathological_check" %>
                    <i class="input-helper"></i>
                    <strong class="font_size_medical_history">Alcoholismo</strong>
                  </label>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <strong class="col-md-2 font_size_medical_history">Grado:</strong>
                  <div class="col-md-10">
                    <div class="fg-line">
                      <%= a.text_field :alcoholism_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="checkbox">
                  <label>
                    <%= a.check_box :drugs, :class => "no_pathological_check" %>
                    <i class="input-helper"></i>
                    <strong class="font_size_medical_history">Toxicomanías</strong>
                  </label>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <strong class="col-md-2 font_size_medical_history">Grado:</strong>
                  <div class="col-md-10">
                    <div class="fg-line">
                      <%= a.text_field :drugs_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="checkbox">
                  <label>
                    <%= a.check_box :play_sport, :class => "no_pathological_check" %>
                    <i class="input-helper"></i>
                    <strong class="font_size_medical_history">¿Practica alg&uacute;n deporte?</strong>
                  </label>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                  <div class="col-md-10">
                    <div class="fg-line">
                      <%= a.text_field :play_sport_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <strong class="font_size_medical_history">Escolaridad:</strong>
                <%= a.text_field :scholarship, :class => "form-control input-lg", :placeholder => "Ingrese la escolaridad"%>
              </div>
              <div class="col-md-4">
                <strong class="font_size_medical_history">Estado Civil:</strong>
                <% if @medical_expedient.patient.gender.id == Gender::MAN %>
                    <%= a.select :marital_status_id, options_for_select(MaritalStatus.all.map{ |ms| [ms.male, ms.id] },@medical_history.no_pathological.marital_status_id),{}, class: 'selectpicker form-control' %>
                <% else %>
                    <%= a.select :marital_status_id, options_for_select(MaritalStatus.all.map{ |ms| [ms.female, ms.id] },@medical_history.no_pathological.marital_status_id),{}, class: 'selectpicker form-control' %>
                <% end %>

              </div>
              <div class="col-md-4">
                <strong class="font_size_medical_history">Religión:</strong>
                <%= a.text_field :religion, :class => "form-control input-lg", :placeholder => "Ingrese la religión"%>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <strong class="font_size_medical_history">Anotaciones</strong>
              </div>
              <div class="col-md-12">
                <div class="fg-line">
                  <%= a.text_field :annotations, :class => "form-control input-lg",:placeholder => "Anotaciones generales no patológicos" %>
                </div>
              </div>
            </div>

        <% end %>

        <h3>ANTECEDENTES PATOL&Oacute;GICOS</h3>

        <%= f.fields_for :family_disease do |fd| %>
            <%= render 'mh_general_fields_family_disease', family_disease: fd %>
        <% end %>

        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <strong class="font_size_medical_history">Padecimientos del paciente</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong class="font_size_medical_history">Cirugías</strong>
          </div>
          <div class="col-md-12">
            <div class="fg-line">
              <%= f.text_field :surgeries, :class => "form-control input-lg", :placeholder => "Ingrese las cirugías" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong class="font_size_medical_history">Transfusiones</strong>
          </div>
          <div class="col-md-12">
            <div class="fg-line">
              <%= f.text_field :transfusions, :class => "form-control input-lg", :placeholder => "Ingrese las transfusiones" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <strong class="font_size_medical_history">Alergias</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= f.check_box :allergy_medicament, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">¿Al&eacute;rgico alg&uacute;n medicamento?</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= f.text_field :allergy_medicament_description, :class => "form-control input-lg", :placeholder => "Indique el medicamento" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong class="font_size_medical_history">Otras alergias</strong>
          </div>
          <div class="col-md-12">
            <div class="fg-line">
              <%= f.text_field :other_allergies, :class => "form-control input-lg", :placeholder => "Indique otras alergias" %>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <hr>
        </div>

        <div class="row">
          <div class="col-md-12">
            <strong class="font_size_medical_history">Padecimientos Recientes</strong>
          </div>
          <div class="col-md-12">
            <div class="fg-line">
              <%= f.text_field :recent_diseases, :class => "form-control input-lg", :placeholder => "Padecimientos recientes" %>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <strong class="font_size_medical_history">Medicamentos de rutina</strong>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group fg-line">
              <div class="fg-line" id="scrollable-dropdown-menu">
                <input id="medicament_name" name="medicament_name"
                       class="form-control input-lg typeahead" placeholder="Ingrese y seleccione el medicamento" autocomplete="off"/>
                <input type="hidden" id="medicament_id">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group fg-line" style="font-size: 16px;">
              Lista de Medicamentos
              <ul id="medical-history-medicaments">

              </ul>
              <input type="hidden" id="medicaments_medical_history"
                     value="<%= @medical_history.medicaments.to_json(only:[:id,:comercial_name, :presentation]) %>"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong class="font_size_medical_history">Otros medicamentos</strong>
          </div>
          <div class="col-md-12">
            <div class="fg-line">
              <%= f.text_field :other_medicines, :class => "form-control input-lg", :placeholder => "Medicamentos alternativos" %>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group pull-right">
              <button type="button" class="btn btn-primary"
                      id="save_medical_history_btn"
                      record-id="<%= @medical_history.id %>"
                      save-url="<%= doctor_exp_medical_histories_path %>">Guardar
              </button>
            </div>
          </div>
        </div>
    <% end %>

  </div>
</div>