<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :diabetes, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Diabetes</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :diabetes_description, :class => "form-control input-lg", :placeholder => "Familiares con el antecedente" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :hypertension, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Hipertensi&oacute;n</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :hypertension_description, :class => "form-control input-lg", :placeholder => "Familiares con el antecedente" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :overweight, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Sobrepeso</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :overweight_description, :class => "form-control input-lg", :placeholder => "Familiares con el antecedente" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :asthma, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Asma</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :asthma_description, :class => "form-control input-lg", :placeholder => "Familiares con el antecedente"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :cancer, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">C&aacute;ncer</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :cancer_description, :class => "form-control input-lg", :placeholder => "Familiares con el antecedente" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :psychiatric_diseases, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Enfermedades Psiquiátricas</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :psychiatric_diseases_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :neurological_diseases, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Enfermedades Neurológicas</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :neurological_diseases_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :cardiovascular_diseases, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Enfermedades Cardiovasculares</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :cardiovascular_diseases_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :bronchopulmonary_diseases, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Enfermedades Broncopulmonares</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :bronchopulmonary_diseases_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :thyroid_diseases, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Enfermedades Tiroideas</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :thyroid_diseases_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :kidney_diseases, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Enfermedades Renales</strong>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
      <div class="col-md-10">
        <div class="fg-line">
          <%= family_disease.text_field :kidney_diseases_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <%= family_disease.check_box :other_diseases, :class => "no_pathological_check" %>
        <i class="input-helper"></i>
        <strong class="font_size_medical_history">Otras enfermedades</strong>
      </label>
    </div>
  </div>
  <div class="col-md-12">
    <div style="display:none;" id="menu_diseases_history">
      <div class="form-group">
        <strong class="col-md-2 font_size_medical_history"></strong>
        <div class="col-md-10">
          <!-- INICIO DE ENFERMEDADS -->
          <div class="col-md-10">
            <div class="form-group fg-line">
              <strong>Enfermedades</strong>
              <div class="fg-line" id="scrollable-dropdown-menu">
                <input id="disease_name" name="disease_name" class="form-control input-lg typeahead disease_search" placeholder="Enfermedad" autocomplete="off"/>
                <input type="hidden" id="disease_id">
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group fg-line">
              <button type="button" class="btn btn-primary" id="add_disease_to_mh" onClick="add_disease_mh()">Agregar</button>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <table class = "table" id="table-diseases">
                Lista de Enfermedades
                <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
                </thead>

                <tbody>

              </table>

            </div>
          </div>
          <!-- FIN ENFERMEDADS -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <strong class="col-md-2 font_size_medical_history">Anotaciones:</strong>
  </div>
  <div class="col-md-12">
    <div class="fg-line">
    <%= family_disease.text_field :annotations, :class => "form-control input-lg", :placeholder => "Anotaciones generales patológicos" %>
    </div>
  </div>
</div>
