<div class="card">
  <div class="card-body card-padding">
    <h3>ANTECEDENTES PERINATALES</h3>


    <%= form_for [:doctor, @perinatal_information], html: {:id => "perinatal_info_form"}  do |pi| %>
        <div class="row">
          <div class="col-md-8" >
            <div class="form-group fg-line">
              <%= pi.hidden_field :id  %>

              <%= pi.label :hospital,"Hospital / Clínica", :class=>"control-label bold font_size_medical_history"  %><br>
              <%= pi.text_field :hospital, :class =>  "form-control input-lg", :placeholder => "Hospital o Clínica donde nació el menor"  %>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="form-group fg-line">
              <%
                city_id = @perinatal_information.city == nil ? '' : @perinatal_information.city.id
                city_name = @perinatal_information.city == nil ?  '' : @perinatal_information.city.format_city_state_and_country
              %>
              <%= pi.label :city_id,"Ciudad de Nacimiento", :class=>"control-label bold font_size_medical_history"  %><br>
              <%= pi.text_field :city_id, :value => city_name, :city=>city_id, :class =>  "form-control input-lg search-city", :placeholder => "Ciudad de Nacimiento"  %>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="form-group fg-line">
              <%
                if !@medical_expedient.patient.birth_day.nil?
                  date_format = @medical_expedient.patient.birth_day.strftime('%d/%m/%Y')
                else
                  date_format = ''
                end
              %>
              <%= pi.label :birthdate,"Fecha de Nacimiento", :class=>"control-label bold font_size_medical_history"  %><br>
              <%= pi.text_field :birthdate, :value =>date_format, :class =>  "form-control input-lg ", :placeholder => "Fecha de Nacimiento",disabled: true  %>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="form-group input-group">
              <div class="fg-line">
                <%= pi.label :weight,"Peso al Nacer", :class=>"control-label bold font_size_medical_history"  %><br>
                <%= pi.text_field :weight, :class =>  "form-control input-lg", :placeholder => "Peso en Kg"  %>
              </div>
              <span class="input-group-addon last">Kg</span>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="form-group input-group">
              <div class="fg-line">
                <%= pi.label :height,"Altura al Nacer", :class=>"control-label bold font_size_medical_history"  %><br>
                <%= pi.text_field :height, :class =>  "form-control input-lg", :placeholder => "Altura en cm"  %>
              </div>
              <span class="input-group-addon last">CM</span>
            </div>
          </div>
          <div class="col-md-6" >
            <div class="form-group fg-line">
              <%= pi.label :pregnat_risks,"Riesgos en el embarazo", :class=>"control-label bold font_size_medical_history"  %><br>
              <%= pi.text_area :pregnat_risks,:rows => 3, :class =>  "form-control input-lg", :placeholder => "Describa los riesgos que tuvo durante el embarazo"  %>
            </div>
          </div>
          <div class="col-md-6" >
            <div class="form-group fg-line">
              <%= pi.label :other_info,"Otra Información", :class=>"control-label bold font_size_medical_history"  %><br>
              <%= pi.text_area :other_info,:rows => 3, :class =>  "form-control input-lg", :placeholder => "Otra información importante"  %>
            </div>
          </div>
        </div>

        <%= pi.hidden_field :medical_history_id, :value => @medical_history.id %>
        <%= hidden_field_tag 'perinatal_information_bk_id',@perinatal_information.id %>

        <div class="col-md-12" style="text-align: right;">
          <a class="btn btn-primary" id="save_perinatal_info_btn" save-url="<%= doctor_perinatal_informations_path %>">Guardar</a>
        </div>


    <% end %>
    <br><br>
    <hr>

    <h3>ANTECEDENTES NO PATOLÓGICOS</h3>

    <%= form_for [:doctor, @child_non_pathological_info], html:{:id => "child_non_patho_form"}  do |npi| %>
        <div class="row">
          <%= npi.hidden_field :id  %>
          <div class="col-md-12" >
            <div class="form-group fg-line">
              <%= npi.label :child_academic_grade,"Escolaridad del menor", :class=>"control-label bold font_size_medical_history"  %><br>
              <%= npi.text_field :child_academic_grade, :class =>  "form-control input-lg", :placeholder => "Ingrese el grado escolar del menor"  %>
            </div>
          </div>
          <div class="col-md-8" >
            <div class="form-group fg-line">
              <%= npi.label :house_type,"Tipo de vivienda", :class=>"control-label bold font_size_medical_history"  %><br>
              <%= npi.text_field :house_type, :class =>  "form-control input-lg", :placeholder => "Tipo de vivienda"  %>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="form-group fg-line">
              <%= npi.label :number_people,"Número de personas en la vivienda", :class=>"control-label bold font_size_medical_history"  %><br>
              <%= npi.text_field :number_people, :class =>  "form-control input-lg", :placeholder => "Número de personas en la casa"  %>
            </div>
          </div>

        </div>

        <%= npi.hidden_field :medical_history_id, :value => @medical_history.id %>
        <%= hidden_field_tag 'child_non_patho_bk_id',@child_non_pathological_info.id %>

        <div class="col-md-12" style="text-align: right;">
          <a class="btn btn-primary" id="save_child_non_patho_info_btn" save-url="<%= doctor_child_non_pathological_infos_path %>">Guardar</a>
        </div>


        <div class="col-md-4" id="addparentbtn">
          <a class="btn btn-primary" onclick="setupAddParent('Padre')">Agregar datos del Padre</a>
        </div>
        <div class="col-md-4" id="addmotherbtn">
          <a style="margin-left: 20px;" class="btn btn-primary" onclick="setupAddParent('Madre')">Agregar datos de la Madre</a>
        </div>


        <br>

        <div class="row" style="font-size: 16px;">
          <% @child_non_pathological_info.parent_infos.each do |parent|
            if !parent.birth_date.nil?
              date_format = parent.birth_date.strftime('%d/%m/%Y')
            else
              date_format = ''
            end
          %>
              <div class="col-md-6 data_<%= parent.gender %>" id="parent_<%= parent.id %>">
                <h4>Datos <%= parent.gender == "Padre" ? "del":"de la" %> <%= parent.gender %></h4>
                <strong style="width: 200px">Nombre:</strong> <%= parent.first_name %> <%= parent.last_name %><br>
                <strong>Fecha de Nacimiento:</strong> <%= date_format %><br>
                <strong>Escolaridad:</strong> <%= parent.academic_grade %><br>
                <label>Tipo de Sangre:</label> <%= parent.blood_type.name %><br>
                <a onclick="setupEditParent(<%= parent.id %>,'<%= parent.first_name %>','<%= parent.last_name %>','<%= date_format %>','<%= parent.academic_grade %>',<%= parent.blood_type.id %>,'<%= parent.gender %>')"
                   class="btn bgm-amber btn-icon waves-effect waves-circle waves-float btn-edit"><i class="zmdi zmdi-edit"></i></a>
                <a onclick="deleteParent(<%= parent.id %>,'<%= parent.gender %>')" class="btn bgm-deeporange btn-icon waves-effect waves-circle waves-float btn-delete"><i class="zmdi zmdi-delete"></i></a>

              </div>
          <% end %>
        </div>


    <% end %>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h4>Grafica de Percentiles</h4>
      </div>
      <div class="col-md-6">
        <% if @medical_history.patient.age <= 2 %>
            <!-- Mostrar la tabla de OMS -->
            <span class="label label-info" style="font-size: 1.1em;">Datos de la OMS</span>
            <input type="hidden" id="type_data_percentile" value="<%= TypePercentile::DATA_PERCENTILE_OMS  %>"/>
        <% else %>
            <!-- Mostrar el menu para cambiar de OMS a CDC,
                Cuando el paciente sea mayor a 5 años, y este la tabla OMS, el rango sera de 0 a 5 años
                Cuando el paciente sea mayor a 5 años, y este la tabla CDC, el rango sera de 2 a 20 años

                Cuando el paciente sea menor a 5 años, y este la tabla OMS, el rango sera de 0 a 5 años
                Cuando el paciente sea menor a 5 años, y este la tabla CDC, el rango sera de 2 a 20 años
            -->
            <strong>Seleccione los tipos de datos para las gr&aacute;ficas</strong> <br>
            <select class="selectpicker form-control" id="type_data_percentile" onchange="showTapsOMS()">
              <option value="<%= TypePercentile::DATA_PERCENTILE_OMS  %>" selected>Datos de la OMS</option>
              <option value="<%= TypePercentile::DATA_PERCENTILE_CDC  %>">Datos de la CDC</option>
            </select>
        <% end %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div role="tabpanel">
          <ul class="tab-nav tn-justified tab-nav" role="tablist">
            <li class="active waves-effect"><a href="#graph-size-length" aria-controls="graph-size-length" role="tab" data-toggle="tab" data-section="1" class="tap_link main_menu_percentile" id="table_legth">Talla</a></li>
            <li class="waves-effect table_head_circumference"><a href="#graph-head-circumference" aria-controls="graph-head-circumference" role="tab" data-toggle="tab" data-section="2" class="tap_link main_menu_percentile" id="text_tab_percentile_imc_head">Circunferencia de la cabeza</a></li>
            <li class="waves-effect"><a href="#graph-weight" aria-controls="graph-weight" role="tab" data-toggle="tab" data-section="4" class="tap_link main_menu_percentile">Peso</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="graph-size-length">
              <div class="row">
                <div class="col-md-12">
                  <a onclick="print_ped_graph(<%= @medical_history.medical_expedient.id%>,1)" class='btn btn-info btn-icon waves-effect waves-circle waves-float btn-show' ><i class='zmdi zmdi-print zmdi-hc-fw' title='Imprimir'></i></a>
                  <div id="container_graph_length" style="height: 400px; margin: auto;"></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="graph-head-circumference">
              <div class="row">
                <div class="col-md-12">
                  <a  onclick="print_ped_graph(<%= @medical_history.medical_expedient.id%>,2)" class='btn btn-info btn-icon waves-effect waves-circle waves-float btn-show' ><i class='zmdi zmdi-print zmdi-hc-fw' title='Imprimir'></i></a>
                  <div id="container_graph_head" style="height: 400px; margin: auto;"></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="graph-weight">
              <div class="row">
                <div class="col-md-12">
                  <a onclick="print_ped_graph(<%= @medical_history.medical_expedient.id%>,3)" class='btn btn-info btn-icon waves-effect waves-circle waves-float btn-show' ><i class='zmdi zmdi-print zmdi-hc-fw' title='Imprimir'></i></a>
                  <div id="container_graph_weight" style="height: 400px; margin: auto;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div>


    </div>




    <div class="modal fade" id="add_parent" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="add_parent_title">Agregar Papá</h4>
          </div>
          <div class="modal-body">
            <form class="add_parent" role="form">

              <div class="row">

                <input type="hidden" id="parent_gender">
                <input type="hidden" id="parent_id">

                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="parent_first_name">Nombre</label>
                    <div class="fg-line">
                      <input type="text" class="input-sm form-control input-lg" id="parent_first_name" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="parent_last_name">Apellido</label>
                    <div class="fg-line">
                      <input type="text" class="input-sm form-control input-lg" id="parent_last_name" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="parent_birthdate">Fecha de Nacimiento</label>
                    <div class="fg-line">
                      <input type="text" class="input-sm form-control input-lg date-picker" id="parent_birthdate" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="parent_blood_type">Tipo de Sangre</label>
                    <div class="fg-line">
                      <%= select_tag("parent_blood_type_id", options_for_select(BloodType.all.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control") %>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="parent_academic_grade">Escolaridad</label>
                    <select id="parent_academic_grade" class="selectpicker form-control">
                      <option value="Primaria">Primaria</option>
                      <option value="Secundaria">Secundaria</option>
                      <option value="Preparatoria">Preparatoria</option>
                      <option value="Licenciatura">Licenciatura / Ingeniería</option>
                      <option value="Maestría">Maestría</option>
                      <option value="Doctorado">Doctorado</option>
                    </select>
                  </div>
                </div>

              </div>

            </form>
          </div>

          <div class="modal-footer">
            <a type="submit" class="btn btn-primary" id="save_child_parent" save-url="<%= doctor_parent_infos_url %>">Guardar</a>
            <a type="button" class="btn btn-link" data-dismiss="modal">Cerrar</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>