
<div class="card" style="min-width: 900px;">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-md-12">
        <h3>ANTECEDENTES ODONTOLÓGICOS</h3>
      <input type="hidden" id="medical_history_id" value="<%= @medical_history.id %>">
      </div>
      <div class="col-md-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="0" name="show_original" id="show_original" onclick="show_original()">
            <i class="input-helper"></i>
            <strong class="font_size_medical_history">Ver odontograma original</strong>
          </label>
        </div>
      </div>
      <div id="odontogram_top" class="col-md-12 odontogram">
        <% counter = 1 %>
        <% Tooth.joins(:tooth_sections).includes(:tooth_sections).where("is_superior = 1 AND is_adult = 1").each do |teeth| %>
            <div class="teeth the_theet_<%= counter %>">
              <div class="teeth_holder">

                <div class="section"></div>
                <div class="section section_teeth" id="div_section_<%= teeth.tooth_sections.first.id %>"
                     onclick="add_action('<%= teeth.name %>','<%= teeth.tooth_sections.first.name %>',<%= teeth.tooth_sections.first.id %>)"></div>
                <div class="section"></div>
                <div class="section section_teeth" id="div_section_<%= teeth.tooth_sections.second.id %>"
                     onclick="add_action('<%= teeth.name %>','<%= teeth.tooth_sections.second.name %>',<%= teeth.tooth_sections.second.id %>)"></div>
                <% if teeth.tooth_sections.size == 5 %>
                    <div class="section section_teeth"  id="div_section_<%= teeth.tooth_sections.fifth.id %>"
                         onclick="add_action('<%= teeth.name %>','<%= teeth.tooth_sections.fifth.name %>',<%= teeth.tooth_sections.fifth.id %>)"></div>
                <% else %>
                    <div class="section section_teeth_disabled"></div>
                <% end %>
                <div class="section section_teeth" id="div_section_<%= teeth.tooth_sections.third.id %>"
                     onclick="add_action('<%= teeth.name %>','<%= teeth.tooth_sections.third.name %>',<%= teeth.tooth_sections.third.id %>)"></div>
                <div class="section"></div>
                <div class="section section_teeth" id="div_section_<%= teeth.tooth_sections.fourth.id %>"
                     onclick="add_action('<%= teeth.name %>','<%= teeth.tooth_sections.fourth.name %>',<%= teeth.tooth_sections.fourth.id %>)"></div>
                <div class="section"></div>
                <% counter += 1 %>

              </div>
            </div>
        <% end %>
        <!--<div class="line"></div>-->
      </div>
      <div style="clear: both;"></div>
      <div id="odontogram_botton" class="col-md-12 odontogram">

        <% Tooth.joins(:tooth_sections).includes(:tooth_sections).where("is_superior = 0 AND is_adult = 1").each do |teeth| %>
            <div class="teeth the_theet_<%= counter %>">
              <div class="teeth_holder">
                <div class="section"></div>
                <div class="section section_teeth" id="div_section_<%= teeth.tooth_sections.first.id %>" onclick="add_action('<%= teeth.name %>','<%= teeth.tooth_sections.first.name %>',<%= teeth.tooth_sections.first.id %>)"></div>
                <div class="section"></div>
                <div class="section section_teeth" id="div_section_<%= teeth.tooth_sections.second.id %>" onclick="add_action('<%= teeth.name %>','<%= teeth.tooth_sections.second.name %>',<%= teeth.tooth_sections.second.id %>)"></div>
                <% if teeth.tooth_sections.size == 5 %>
                    <div class="section section_teeth" id="div_section_<%= teeth.tooth_sections.fifth.id %>" onclick="add_action('<%= teeth.name %>','<%= teeth.tooth_sections.fifth.name %>',<%= teeth.tooth_sections.fifth.id %>)"></div>
                <% else %>
                    <div class="section section_teeth_disabled"></div>
                <% end %>
                <div class="section section_teeth" id="div_section_<%= teeth.tooth_sections.third.id %>" onclick="add_action('<%= teeth.name %>','<%= teeth.tooth_sections.third.name %>',<%= teeth.tooth_sections.third.id %>)"></div>
                <div class="section"></div>
                <div class="section section_teeth" id="div_section_<%= teeth.tooth_sections.fourth.id %>" onclick="add_action('<%= teeth.name %>','<%= teeth.tooth_sections.fourth.name %>',<%= teeth.tooth_sections.fourth.id %>)"></div>
                <div class="section"></div>
                <% counter += 1 %>
              </div>
            </div>
        <% end %>
      </div>
      <br>
      <div id="table_pathologies" style="margin-top: 5%" class="col-xs-6">
        <label style="font-weight: bold;text-align: center">Patologías</label>
        <table id="pathologies_historical" class="table">
          <thead>
          <tr>
            <th width="15%" style="text-align: center">Fecha</th>
            <th width="15%" style="text-align: center">Diente</th>
            <th width="15%" style="text-align: center">Descripción</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <div id="table_treatments" style="margin-top: 5%" class="col-xs-6">
        <label style="font-weight: bold;text-align: center">Tratamientos</label>
        <table id="treatments_historical" class="table">
          <thead>
          <tr>
            <th width="15%" style="text-align: center">Fecha</th>
            <th width="15%" style="text-align: center">Diente</th>
            <th width="15%" style="text-align: center">Descripción</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <hr>
        <a class="btn btn-primary pull-right" onclick="save_odontogram()"
           id="save_odontogram_btn">Guardar</a>
        <br><br>
      </div>
    </div>
  </div>

</div>
<%= hidden_field_tag 'url_get_save_odontogram', url_for(:controller => 'cli/tooths', :action => 'save_odontogram', :only_path => false) %>
<%= hidden_field_tag 'url_get_original_odontogram', url_for(:controller => 'cli/tooths', :action => 'get_original_odontogram', :only_path => false) %>
<%= hidden_field_tag 'url_get_teeth_historial', url_for(:controller => 'cli/tooths', :action => 'get_teeth_historial', :only_path => false) %>
<%= hidden_field_tag 'url_get_last_data', url_for(:controller => 'cli/tooths', :action => 'get_last_data', :only_path => false) %>

        <div class="modal fade" id="add_action_modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="delete_disease_title">Agregar indicación</h4>
              </div>
              <div class="modal-body">
                <label id="section_name" style="font-weight: bold;font-size: medium;padding-bottom: 5px;text-align: center" ></label><br>
                <div class="col-xs-12">
                  <select class="selectpicker form-control bs-select-hidden" name="indication_type" id="indication_type">
                    <option selected="selected" value="1">Patología</option>
                    <option value="2">Tratamiento</option>
                  </select>
                </div>
                <div class="col-xs-12">
                  <strong>Descripción</strong>
                <textarea rows="3" cols="30" id="indication_description" class="form-control"> </textarea>
                </div>
              </div>
              <div class="modal-footer" style="margin-top: 5px">
                <button type="button" style="margin-top: 10px" class="btn btn-danger" id="add_discount_btn" onClick="save_indication()">Aceptar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>