<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-md-12">
        <h3>ANTECEDENTES UROLÓGICOS</h3>

      </div>

    </div>
    <%= form_for [:doctor, @uro_background], :html => {:id => "urological_background_form"}  do |uro_bk| %>

        <div class="row">
          <div class="col-md-12">
            <strong class="font_size_medical_history">Antecedentes Genitourinarios</strong>
            <hr>
          </div>
          <div class="col-md-4 <%= @gender_patient == Gender::WOMEN ? 'hide_comp':'' %>">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :testicular_pain %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Dolor testicular</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4 <%= @gender_patient == Gender::WOMEN ? 'hide_comp':'' %>">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :impotence %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Impotencia</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4 <%= @gender_patient == Gender::WOMEN ? 'hide_comp':'' %>">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :erection_dificulty %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Dificultad de erección</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4 <%= @gender_patient == Gender::WOMEN ? 'hide_comp':'' %>">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :premature_ejaculation %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Eyaculación precoz</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4 <%= @gender_patient == Gender::MAN ? 'hide_comp':'' %>">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :vaginal_discharge %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Flujo vaginal</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4 <%= @gender_patient == Gender::MAN ? 'hide_comp':'' %>">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :anormal_hair_growth %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Crecimiento anormal de pelo</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :back_pain %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Dolor de espalda</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :kidneys_pain %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Dolor de riñones</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :pelvic_pain %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Dolor pélvico</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :low_abdomen_pain %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Dolor de abdomen bajo</strong>
              </label>
            </div>
          </div>

          <div class="col-md-12">
            <br><br>
            <strong class="font_size_medical_history">Valoración Urológica</strong>
            <hr>
          </div>

          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :kidney_bk %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Antecedentes renales</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :kidney_stones %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Cálculos</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :venereal_diseases %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Enfermedades venéreas</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :self_examination %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Autoexamen</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4 <%= @gender_patient == Gender::WOMEN ? 'hide_comp':'' %>">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :prostate %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Próstata</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4 <%= @gender_patient == Gender::WOMEN ? 'hide_comp':'' %>">
            <strong class="font_size_medical_history">Último examen prostático</strong>
            <%
              date = ''
              date = @uro_background.last_prostate_examination.strftime('%d/%m/%Y') if @uro_background.last_prostate_examination.present?
            %>
            <%= uro_bk.text_field :last_prostate_examination, :class => "form-control input-lg date-picker", :value => date%>
          </div>
          <div class="col-md-6 <%= @gender_patient == Gender::MAN ? 'hide_comp':'' %>">
            <strong class="font_size_medical_history">FUM</strong>
            <%
              date = ''
              date = @uro_background.fum.strftime('%d/%m/%Y') if @uro_background.fum.present?
            %>
            <%= uro_bk.text_field :fum, :class => "form-control input-lg date-picker", :value => date%>
          </div>
          <div class="col-md-6 <%= @gender_patient == Gender::MAN ? 'hide_comp':'' %>">
            <strong class="font_size_medical_history">Gestas</strong>
            <%= uro_bk.number_field :gestations, :class => "form-control input-lg" %>
          </div>
          <div class="col-md-6 <%= @gender_patient == Gender::MAN ? 'hide_comp':'' %>">
            <strong class="font_size_medical_history">Último PAP</strong>
            <%
              date = ''
              date = @uro_background.last_pap_date.strftime('%d/%m/%Y') if @uro_background.last_pap_date.present?
            %>
            <%= uro_bk.text_field :last_pap_date, :class => "form-control input-lg date-picker", :value => date %>
          </div>
          <div class="col-md-12">
            <strong class="font_size_medical_history">Método anticonceptivo</strong>
            <%= uro_bk.text_field :contraceptive_method, :class => "form-control input-lg" %>
          </div>

          <div class="col-md-12">
            <br><br>
            <strong class="font_size_medical_history">Sexualidad</strong>
            <hr>
          </div>

          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :sexually_active %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Sexualmente activo</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <strong class="font_size_medical_history">Inicio vida sexual</strong>
            <%
              date = ''
              date = @uro_background.sex_life_start.strftime('%d/%m/%Y') if @uro_background.sex_life_start.present?
            %>
            <%= uro_bk.text_field :sex_life_start, :class => "form-control input-lg date-picker",:value => date %>
          </div>
          <div class="col-md-4">
            <strong class="font_size_medical_history">Número de parejas sexuales</strong>
            <%= uro_bk.text_field :sexual_partners, :class => "form-control input-lg" %>
          </div>
          <div class="col-md-12">
            <strong class="font_size_medical_history">Tipo de relación</strong>
            <%
              relationship_type = @uro_background.relationship_type
            %>
            <%= uro_bk.select :relationship_type, options_for_select(['No especificado','Heterosexual','Homosexual','Bisexual'].map{ |rt| [rt, rt] },relationship_type),{}, class: 'form-control select-picker' %>

          </div>
          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :satisfying_sex %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Sexo satisfactorio</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox m-b-15">
              <label>
                <%= uro_bk.check_box :intercourse_pain %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Dolor al coito</strong>
              </label>
            </div>
          </div>

          <input type="hidden" id="urological_bk_id" value="<%= @uro_background.id %>">
          <%= uro_bk.hidden_field :medical_history_id, :value => @medical_history.id %>

          <div class="col-md-12">
            <hr>
            <a class="btn btn-primary pull-right"
               save-url="<%= doctor_urological_backgrounds_path %>"
               id="save_urological_bk_btn">Guardar</a>
            <br><br>
          </div>

        </div>


    <% end %>


  </div>
</div>