<div class="card">
  <div class="card-body card-padding">

    <h3>ANTECEDENTES HEREDO - FAMILIARES</h3>

    <%= form_for [:doctor, @inherited_family_background], html:{id:"inherited_background_form"}  do |ifb| %>
        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= ifb.check_box :gynecological_diseases, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Ginecopatías</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= ifb.text_field :gynecological_diseases_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= ifb.check_box :mammary_dysplasia, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Mastopatías</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= ifb.text_field :mammary_dysplasia_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= ifb.check_box :twinhood, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Gemelaridad</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= ifb.text_field :twinhood_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= ifb.check_box :congenital_anomalies, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Defectos congénitos y malformaciones</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= ifb.text_field :congenital_anomalies_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= ifb.check_box :infertility, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Infertilidad</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= ifb.text_field :infertility_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= ifb.check_box :others, :class => "no_pathological_check" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Otros</strong>
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= ifb.text_field :others_description, :class => "form-control input-lg", :placeholder => "Padecimiento / Familiar" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <br><br>
          <div class="col-md-12">
            <div class="form-group">
              <strong class="col-md-2 font_size_medical_history">Anotaciones</strong>
              <div class="col-md-10">
                <div class="fg-line">
                  <%= ifb.text_area :anotations, :class => "form-control input-lg", :placeholder => "Otras anotaciones importantes" %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12"><br><br>
            <%= ifb.hidden_field :medical_history_id, :value => @medical_history.id %>
            <%= hidden_field_tag 'inherited_familiar_bk_id',@inherited_family_background.id %>
          </div>

          <div class="col-md-12" style="text-align: right">
            <a class="btn btn-primary" id="save_ifb_btn" save-url="<%= doctor_inherited_family_backgrounds_path %>">Guardar</a>
          </div>
        </div>
    <% end %>

    <hr>
    <% if @medical_history.medical_expedient.patient.gender.id == Gender::WOMEN %>
    <h3>ANTECEDENTES GINECO - OBSTÉTRICOS</h3>

    <%= form_for [:doctor, @gynecologist_obstetrical_background], html:{id:"ginecologysts_background_form"}  do |gob| %>

        <div class="row">
          <div class="col-md-4">
            <br>
            <strong class="font_size_medical_history">Menarca:</strong><br>
            <%= gob.text_field :menstruation_start_age, :class => "form-control input-lg", :placeholder => "Menarca" %>
          </div>
          <div class="col-md-4">
            <br>
            <strong class="font_size_medical_history">Ciclos:</strong><br>
            <%= gob.text_field :cycles, :class => "form-control input-lg", :placeholder => "Ciclos" %>
          </div>
          <div class="col-md-4">
            <br>
            <strong class="font_size_medical_history">IVS:</strong><br>
            <%= gob.text_field :ivs, :class => "form-control input-lg", :placeholder => "IVS" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <br>
            <strong class="font_size_medical_history">G:</strong><br>
            <%= gob.number_field :gestations, :class => "form-control input-lg", :placeholder => "Gestaciones" %>
          </div>
          <div class="col-md-3">
            <br>
            <strong class="font_size_medical_history">P :</strong><br>
            <%= gob.number_field :natural_birth, :class => "form-control input-lg", :placeholder => "Partos naturales" %>
          </div>

          <div class="col-md-3">
            <br>
            <strong class="font_size_medical_history">Ab:</strong><br>
            <%= gob.number_field :abortion_number, :class => "form-control input-lg", :placeholder => "Abortos" %>

          </div>
          <div class="col-md-3">
            <br>
            <strong class="font_size_medical_history">Ce:</strong><br>
            <%= gob.number_field :caesarean_surgery, :class => "form-control input-lg", :placeholder => "Cesáreas" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <br>
            <strong class="font_size_medical_history">Causas del aborto:</strong><br>
            <div class="fg-line">
              <%= gob.text_field :abortion_causes, :class => "form-control input-lg", :placeholder => "Describa las causas de aborto" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <br>
            <strong class="font_size_medical_history">FUP:</strong><br>
            <%
              val = ''
              if !@gynecologist_obstetrical_background.fup.nil?
                val = @gynecologist_obstetrical_background.fup.strftime('%d/%m/%Y')
              end
            %>
            <%= gob.text_field :fup, :class => "form-control input-lg date-picker", :placeholder => "FUP",:value => val %>
          </div>
          <div class="col-md-4">
            <%
              val = ''
              if !@gynecologist_obstetrical_background.menses_last_date.nil?
                val = @gynecologist_obstetrical_background.menses_last_date.strftime('%d/%m/%Y')
              end
            %>
            <br>
            <strong class="font_size_medical_history"> FUM:</strong><br>
            <%= gob.text_field :menses_last_date, :class => "form-control input-lg date-picker", :placeholder => "FUM",:value => val %>
          </div>
          <div class="col-md-4">
            <%
              val = ''
              if !@gynecologist_obstetrical_background.papanicolau_last_date.nil?
                val = @gynecologist_obstetrical_background.papanicolau_last_date.strftime('%d/%m/%Y')
              end
            %>
            <br>
            <strong class="font_size_medical_history">FUPAP :</strong><br>
            <%= gob.text_field :papanicolau_last_date, :class => "form-control input-lg date-picker", :placeholder => "PFPAP",:value => val %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <br>
            <strong class="font_size_medical_history">Menopausia:</strong>
          </div>
          <div class="col-md-9">
            <br>
            <div class="fg-line">
              <%= gob.text_field :menopause, :class => "form-control input-lg", :placeholder => "Tipo de menopausia de la paciente"%>
            </div>
          </div>
        </div>

        <div class="row">
          <br>
          <div class="col-md-12">
            <div class="checkbox">
              <label>
                <%
                  val = false;
                  if @medical_history.no_pathological.marital_status_id == MaritalStatus::MARRIED
                    val = true;
                  end %>

                <%= gob.check_box :married, :class => "gob_data", :checked=>val, :disabled=>'disabled' %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">¿Casada?</strong>
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <br>
            <strong class="font_size_medical_history">Nombre del cónyuge:</strong>
          </div>
          <div class="col-md-9">
            <div class="fg-line">
              <%= gob.text_field :spouse_name, :class => "form-control input-lg", :placeholder => "Ingrese el nombre del cónyuge"%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <br>
            <strong class="font_size_medical_history">Información del cónyuge:</strong>
          </div>
          <div class="col-md-9">
            <br>
            <div class="fg-line">
              <%= gob.text_area :information_spouse, :class => "form-control input-lg", :placeholder => "Ingrese información del cónyuge"%>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
              <label>
                <%= gob.check_box :sexually_active, :class => "gob_data" %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">¿Sexualmente activa?</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <br>
            <strong class="font_size_medical_history">Número de compañeros sexuales</strong>
            <br>
            <div class="fg-line">
              <%= gob.number_field :sexual_partners, :class => "form-control input-lg", :placeholder => "Número de compañeros sexuales"%>
            </div>
          </div>
          <div class="col-md-5">
            <br>
            <strong class="font_size_medical_history">Tipo de relación</strong>
            <br>
            <div class="">
              <%
                relationship_type = @medical_history.gynecologist_obstetrical_background != nil ? @medical_history.gynecologist_obstetrical_background.relationship_type : ''
              %>
              <%= gob.select :relationship_type, options_for_select(['No especificado','Heterosexual','Homosexual','Bisexual'].map{ |rt| [rt, rt] },relationship_type),{}, class: 'selectpicker form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <br>
            <strong class="font_size_medical_history">Métodos anticonceptivos:</strong>
          </div>
          <div class="col-md-9">
            <br>
            <div class="fg-line">
              <%= gob.text_field :contraceptives_method, :class => "form-control input-lg", :placeholder => "Método / Duración"%>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <br>
            <strong class="font_size_medical_history">Enfermedades de transmisión sexual:</strong>
          </div>
          <div class="col-md-9">
            <br>
            <div class="fg-line">
              <%= gob.text_field :std, :class => "form-control input-lg", :placeholder => "Enfermedades de transmisión sexual"%>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <br>
            <strong class="font_size_medical_history">Anotaciones:</strong>
          </div>
          <div class="col-md-9">
            <br>
            <div class="fg-line">
              <%= gob.text_area :anotations, :class => "form-control input-lg", :placeholder => "Otras anotaciones importantes"%>
            </div>
          </div>
        </div>

        <%= gob.hidden_field :medical_history_id, :value => @medical_history.id %>

        <%= hidden_field_tag 'ginecologist_bk_id',@gynecologist_obstetrical_background.id %>

        <div class="row">
          <div class="col-md-12"><br><br></div>
          <div class="col-md-12" style="text-align: right">
            <a class="btn btn-primary"
               save-url="<%= doctor_gynecologist_obstetrical_backgrounds_path %>"
               id="save_gob_btn">Guardar</a>
          </div>
        </div>

    <% end %>
    <% end %>

  </div>
</div>