<%
  age = distance_of_time_in_words_hash(Time.now, @expedient.patient.birth_day)
  age_string = ''
  if age[:years] != nil && age[:years] > 0
    age_string << age[:years].to_s + ' año'
    if age[:years] > 1
      age_string << 's'
    end
  end

  if age[:months] != nil && age[:months] > 0
    age_string << ' ' + age[:months].to_s + ' mes'
    if age[:months] > 1
      age_string << 'es'
    end
  end

  if age_string == ''
    if age_string == '' && age[:weeks] != nil && age[:weeks] > 0
      age_string << age[:weeks].to_s + ' semana(s) '
    end

    if age[:days] != nil && age[:days] > 0
      age_string << age[:days].to_s + ' día(s)'
    end

  end
%>

  <div class="card">
  <div class="card-body patient_info_section">
    <div class="row">
      <div class="col-md-2" style="text-align: center;">
        <% img_url = @expedient.patient.picture.present? ? download_image_doctor_patients_path(@expedient.patient) : image_url('icon-user-default.png') %>
        <img id="patient_img" src="<%= img_url %>" style="margin-left: 20px; width: 120px;">
        <a class="btn btn-primary" style="margin-top: 10px;" id="change_profile_pic_patient">Cambiar</a>
      </div>
      <div class="col-md-2" style="text-align: center;">
        <label>Folio: <%= @expedient.folio %></label><br>
        <label><%= @expedient.patient.full_name %></label><br>
        <label>Edad: <%= age_string %></label>
        <div>
          <a target="_blank" href="<%= medical_expedient_pdfs_path(@expedient) %>"
             class="btn btn-danger btn-icon waves-effect waves-circle waves-float"
             data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver expediente completo">
            <i class="zmdi zmdi-folder-person"></i>
          </a>
          <a target="_blank" href="<%= edit_doctor_patient_path(@expedient.patient.id) %>" class="btn btn-primary btn-icon waves-effect waves-circle waves-float">
            <i class="zmdi zmdi-edit"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4" style="text-align: center;">

        <% if @expedient.patient.address.present? %><%= @expedient.patient.address %><br><% end %>

        <% if @expedient.patient.city.present? %>
            <label><i class="zmdi zmdi-pin"></i> <%= @expedient.patient.city.format_city_state_and_country %></label><br>
        <% end %>



        <% if @expedient.patient.phone.present? %>
            <div class="col-md-6"><strong>Teléfono</strong><br><i class="zmdi zmdi-phone"></i> <%= @expedient.patient.phone %></div>
        <% end %>
        <% if @expedient.patient.cell.present? %>
            <div class="col-md-6"><strong>Celular</strong><br><i class="zmdi zmdi-smartphone-iphone"></i> <%= @expedient.patient.cell %></div>
        <% end %>
        <% if @expedient.patient.email.present? %>
            <div class="col-md-6"><strong>Email</strong><br><i class="zmdi zmdi-email"></i> <%= @expedient.patient.email %></div>
        <% end %>
        <% if @expedient.patient.birth_day.present? %>
            <div class="col-md-6"><strong>Fecha de nacimiento</strong><br><i class="zmdi zmdi-calendar zmdi-hc-fw"></i> <%= @expedient.patient.birth_day.strftime('%d/%m/%Y') %></div>
        <% end %>
      </div>

      <div class="col-md-4" style="padding-left: 20px;">
        <%
          menu_items = []
          if can? :medical_history, MedicalExpedient
            menu_items.push(
                {
                    :id => "",
                    :section => "medical_history",
                    :url => medical_history_doctor_expedients_path(@expedient.id),
                    :label => "Antecedentes"
                }
            )
            end
          if can? :systems, MedicalExpedient
            menu_items.push(
                {
                    :id => "",
                    :section => "systems",
                    :url => systems_doctor_expedients_path(@expedient.id),
                    :label => "Aparatos y sistemas"
                }
            )
          end
          if can? :consultations, MedicalExpedient
            menu_items.push(
                {
                    :id => "load_consultations_link",
                    :section => "consultations",
                    :url => consultations_doctor_expedients_path(@expedient.id),
                    :label => "Consultas"
                }
            )
          end
          if can? :clinical_studies, MedicalExpedient
            menu_items.push(
                {
                    :id => "",
                    :section => "clinical_studies",
                    :url => clinical_studies_doctor_expedients_path(@expedient.id),
                    :label => "Órdenes de estudios"
                }
            )
          end
          if can? :vaccine_books, MedicalExpedient
            menu_items.push(
                {
                    :id => "load_vaccine_books_link",
                    :section => "vaccine_books",
                    :url => vaccine_books_doctor_expedients_path(@expedient.id),
                    :label => "Cartillas de Vacunación"
                }
            )
          end
          if can? :hospitalizations, MedicalExpedient
            menu_items.push(
                {

                    :id => "",
                    :section => "hospitalizations",
                    :url => hospital_admissions_doctor_expedients_path(@expedient.id),
                    :label => "Admisiones Hospitalarias"

                }
            )
          end
          if can? :vital_signs, MedicalExpedient
          menu_items.push(
              {

                  :id => "",
                  :section => "vital_signs",
                  :url => vital_signs_doctor_expedients_path(@expedient.id),
                  :label => "Signos vitales"

              }
          )
          end
        %>

        <ul class="" id="sections_menu">
          <% menu_items.each do |mi| %>
              <li>
                <a id="<%= mi[:id] %>" class="section_menu" section="<%= mi[:section] %>"
                   load-url="<%= mi[:url] %>"><i class="zmdi zmdi-chevron-right zmdi-hc-fw"></i> <%= mi[:label] %>
                </a>
              </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
  </div>

