<div class="card">
  <div class="card-body card-padding">
    <br>

    <div class="row">
      <div class="col-md-5">
        <% if false %>
        <a data-toggle="modal" href="#modalReportAnalysis" class="pull-right  btn bgm-blue waves-effect" id="btn-new-report-analysis-order">Nuevo reporte</a>
        <% end %>
      </div>
      <div class="col-md-5">
        <a class="pull-right btn bgm-green waves-effect" id="btn-new-analysis-order" url="<%= new_doctor_analysis_order_url(:id => @medical_expedient.id) %>">Nueva orden</a>
      </div>
    </div>

    <hr>

    <div class="listview">
      <div id="clinical_studies_holder" class="lv-body">

      </div>
    </div>



  </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalAnalysis" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nueva Orden</h4>
      </div>
      <div class="modal-body" id="form-new-analysis-order">

      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-5" style="text-align: left;" id="list_error_analysis_order">

          </div>
          <div class="col-md-6" style="text-align: right;">
            <div id="loading_btn_save_analysis_order" style="display: none;">
              <span class="">Guardando...</span>
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
            </div>
            <button type="button" class="btn btn-link" id="btn-save-analysis-order">Guardar</button>
            <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'url_form_create_analysis_order', create_doctor_analysis_order_index_url(:expedient_id => @medical_expedient.id) %>
<%= hidden_field_tag 'show_indications', show_indications_doctor_analysis_order_index_url %>
<%= hidden_field_tag 'url_find_clinical_studies', clinical_studies_doctor_analysis_order_index_url %>
<%= hidden_field_tag 'url_analysis_order', index_doctor_analysis_order_index_url(:expedient_id => @medical_expedient.id) %>
<%= hidden_field_tag 'url_add_file_analysis', attachment_file_doctor_analysis_order_index_url %>
<%= hidden_field_tag 'url_delete_file_analysis', delete_file_doctor_analysis_order_index_url %>