<div class="valoration_holder col-md-12" valoration_type_id="<%= @valoration_type.id %>">

  <div>
    <strong><%= @valoration_type.name %> <i class="zmdi zmdi-delete delete_new_valoration"></i> </strong>
  </div>

  <div class="row">
    <% @valoration_type.valoration_fields.each do |vtf|
    placeholder = "#{vtf.name}"
    placeholder = "#{vtf.unit}" if vtf.unit.present?
    %>
        <div class="col-md-<%= vtf.f_html_type == 'long_text' ? '6' : '3' %>">
          <strong><%= vtf.name %></strong><br>
          <% case vtf.f_html_type %>
          <% when 'number' %>
              <input type="number" class="v_field form-control input-lg" field_id="<%= vtf.id %>" placeholder="<%= placeholder %>">
          <% when 'text' %>
              <input type="text" class="v_field form-control input-lg" field_id="<%= vtf.id %>" placeholder="<%= placeholder %>">
          <% when 'long_text' %>
              <textarea class="v_field form-control input-lg" field_id="<%= vtf.id %>" placeholder="<%= placeholder %>"></textarea>
          <% when Const::VALORATION_TYPE_COLLECTION %>
              <% records = []
                if vtf.collection_type == Const::VALORATION_COLLECTION_TYPE_TRIAGE
                  records = Triage.all.map{|t| {:id => t.id, :text => t.level}}
                end
              %>
              <select class="form-control v_field input-lg" field_id="<%= vtf.id %>">
                <% records.each do |r| %>
                <option value="<%= r[:id] %>"><%= r[:text] %></option>
                <% end %>
              </select>
          <% end %>
        </div>
    <% end %>
  </div>

  <hr>

</div>

