<%= render 'doctor/expedients/consultations_new_pregnancy' %>

<%= form_for [:doctor, @doctor_medical_consultation] do |f| %>

    <% if current_user.is_doctor %>
        <input type="hidden" id="is_doctor_consult" value="1">
    <% else %>
        <input type="hidden" id="is_doctor_consult" value="0">
    <% end %>
    <%= f.hidden_field_tag :consultations_costs, @consultation_costs.to_json, :name => "" %>

    <%= render 'doctor/expedients/consultations_new_general_info', {f: f} %>

    <div class="row">


      <%
        middle_count = 0
        @consultation_fields.each do |cf|
      %>
          <%
            if cf.field_class == "col-md-6" && middle_count == 2
          %>
              <div class="col-md-12"></div>
          <%
            middle_count = 0
            elsif cf.field_class == "col-md-6"
              middle_count = middle_count + 1
            elsif cf.field_class == "col-md-12"
              middle_count = 0
          %>
          <% end %>

          <div class="<%= cf.field_class %> consultation_field_holder">
            <% if ![Const::CONSULTATION_FIELD_CHECKBOX, Const::CONSULTATION_FIELD_CHECKBOX_TEXT].include? cf.field_type %>
                <strong><%= cf.name %></strong>
            <% end %>

            <% case cf.code %>
            <% when Const::CONSULTATION_MEDICAMENTS %>
                  <table class="table table-striped" id="medicaments-table">
                  </table>

                <div class="col-md-10">
                  <div style="margin-bottom: 5px">
                    <input type="text" id="consultation_medicament" autocomplete="off"
                           class="w-100 search-medicament"
                           placeholder="Escriba el nombre del medicamento para comenzar a buscar...">
                  </div>
                  <%= f.fields_for :prescription do |a| %>
                      <%= a.fields_for :medical_indications do |c| %>
                          <%= c.text_area :dose, class: "w-100", :rows => 3, :name => "", placeholder: "Indique la dosis, vía de administración, frecuencia y tiempo de duración del tratamiento" %>
                      <% end %>
                  <% end %>
                  <a style="margin-top: 10px; margin-bottom: 10px; float: right;" class="btn btn-info" id="add-medicament">Agregar</a>
                </div>
                <div class="col-md-2">
                  <a onclick="addnewmedicamentfromece('new_consult')"
                     title="Agregar nuevo medicamento"
                     style="margin-top:10px;"
                     class="btn btn-success btn-icon waves-effect waves-circle waves-float"
                     type="button" id="add-medicament-to-db">
                    <i class="zmdi zmdi-collection-plus"></i>
                  </a>
                </div>
            <% when Const::CONSULTATION_DISEASES  %>
                <div class="" style="position: relative; width: 100%; white-space: nowrap; overflow: hidden;">
                  <div class="col-md-12">
                    <table class="table table-striped" id="diseases-table">
                    </table>
                  </div>
                  <div class="col-md-12">
                    <div style="width: 85%;float: left">
                      <input type="text" id="consultation_disease" class="w-100 search-disease" placeholder="Escriba el nombre de la enfermedad para comenzar a buscar...">
                    </div>
                    <div style="width: 15%;float: left;padding-left: 5%">
                      <button class="btn btn-success btn-icon waves-effect waves-circle waves-float" type="button" onclick="openModalAddDisease();" title="Registrar nueva enfermedad">
                        <i class="zmdi zmdi-collection-plus"></i></button>
                    </div>
                  </div>

                </div>
            <% when Const::CONSULTATION_CURRENT_CONDITION  %>
                <%= f.text_field :current_condition, {:class => "w-100", :placeholder => cf.name} %>
            <% when Const::CONSULTATION_DIAGNOSTIC  %>
                <%= f.text_area :diagnostic, {:class => "w-100", :rows => 3, :placeholder => cf.name} %>
            <% when Const::CONSULTATION_RECOMENDATIONS  %>
                <%= f.fields_for :prescription do |a| %>
                    <%= a.text_area :recommendations, {:class => "w-100", :rows => 3, :placeholder => cf.name} %>
                <% end %>
            <% else %>

                <% case cf.field_type %>
            <% when Const::CONSULTATION_FIELD_TEXT %>
                    <input type="text" class="w-100 <%= cf.is_custom ? 'consultation_custom_field' : '' %>" field_type="<%= cf.field_type %>" field_id="<%= cf.id %>">
                <% when Const::CONSULTATION_FIELD_DATE %>
                    <input type="text" class="w-100 date-picker <%= cf.is_custom ? 'consultation_custom_field' : '' %>" field_type="<%= cf.field_type %>" field_id="<%= cf.id %>">
                <% when Const::CONSULTATION_FIELD_LONG_TEXT %>
                    <textarea class="w-100 <%= cf.is_custom ? 'consultation_custom_field' : '' %>" field_type="<%= cf.field_type %>" field_id="<%= cf.id %>"></textarea>
                <% when Const::CONSULTATION_FIELD_CHECKBOX %>
                    <label class="checkbox checkbox-inline">
                      <input type="checkbox" value="1" class="<%= cf.is_custom ? 'consultation_custom_field' : '' %>" field_type="<%= cf.field_type %>" field_id="<%= cf.id %>">
                      <i class="input-helper"></i>
                      <strong><%= cf.name %></strong>
                    </label>
                <% when Const::CONSULTATION_FIELD_CHECKBOX_TEXT %>
                    <div class="checkbox_text_field">
                      <label class="checkbox checkbox-inline">
                        <input type="checkbox" value="1" class="check <%= cf.is_custom ? 'consultation_custom_field' : '' %>" field_type="<%= cf.field_type %>" field_id="<%= cf.id %>">
                        <i class="input-helper"></i>
                        <strong><%= cf.name %></strong>
                      </label>
                      <input type="text" class="w-100 text">
                    </div>
                <% end %>

            <% end %>
          </div>
      <% end %>

      <% if !@current_pregnancy.nil? %>
          <div class="col-md-12" style="padding: 10px;">
            <a class="btn btn-primary load_ultrasounds_btn" pregnancy="<%= @current_pregnancy.id %>">Ultrasonidos</a>
          </div>
      <% end %>

      <% if @current_pregnancy.nil? %>
          <div id="table_imc_consultation"></div>
      <% else %>


          <% if !@current_pregnancy.nil? %>

              <div class="col-md-6" style="height: 300px;">
                <%
                  pregnancies = format_pregnancy_table([@current_pregnancy])
                %>
                <input type="hidden" id="pregnancies_current_data" value="<%= pregnancies.to_json %>">
                <div class="col-xs-12">
                  <h4>Gr&aacute;fica de peso sugerido</h4>
                  <div class="pregnancy_chart" id="div_fpp_consultation">
                  </div>
                </div>
              </div>
          <% end %>

      <% end %>


    </div>


    <div class="row" style="padding: 15px;">

      <div class="col-md-12" id="valoration_section" style="display: none;">
        <div class="col-md-10">
          <select class="selectpicker form-control" id="valoration_type_select">
            <option value="">Seleccionar tipo de valoración</option>
            <% ValorationType.all.each do |v| %>
                <option value="<%= v.id %>"><%= v.name %></option>
            <% end %>
          </select>
        </div>
        <div class="col-md-2">
          <a class="btn btn-primary" id="btn_add_valoration">Agregar</a>
        </div>


        <div class="col-md-12" id="valoration_fields"></div>

      </div>

      <div class="col-md-12" id="anotations_section" style="display: none;">
        <label class="label-control">Anotaciones generales:</label>
        <div>
          <div id="general_notes_consult"></div>
        </div>
      </div>
    </div>
<% end %>
<input type="hidden" id="consult_patient_id" value="<%= @medical_expedient.patient.id %>">
<%= hidden_field_tag 'url_get_current_pv', get_current_pvs_doctor_expedients_url %>

