<div class="card">
  <div class="card-body card-padding">
    <table class="table">
      <thead>
      <tr>
        <th>FECHA</th>
        <th>MÉDICO</th>
        <th>TRIAGE</th>
        <th>Tipo de Atención</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @medical_expedient.patient.hospital_admissions.each do |hos| %>
      <tr>
        <td><%= hos.admission_date.strftime('%d/%m/%Y %l:%M %p') %></td>
        <td><%= hos.doctor.full_name_title %></td>
        <td><label style=" width:100%; text-align: center; background: <%= "#"+hos.triage.color %>;"><%= hos.triage.level %></label></td>
        <td><%= hos.attention_type.name %></td>
        <td>
          <a target="_blank" href="<%= cli_hospitalization_path(hos) %>" title="Ver detalles" class="btn bgm-cyan btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-folder"></i></a>
          <a target="_blank" href="<%= hospital_admission_medical_pdfs_path(hos) %>" title="Imprimir" class="btn bgm-cyan btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-print"></i></a>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>