<%= hidden_field_tag 'expedient_id', @medical_expedient.id %>
<%= render 'mh_general' %>
<%= render 'mh_ginecology' %>
<%= render 'mh_pediatrics' %>
<%= render 'mh_urology' %>
<%= render 'mh_odontology' %>