<style>

  /*
  #patient_img{
    border-radius: 50%;
  }
  @media screen and (min-width: 769px) {
    #expedient_holder{
      position: relative;
    }
    #expedient_content{
      position: relative;
      z-index: 9;
      margin-top: 130px;
    }
    #patient_info{
      width: 100%;
      position: fixed;
      z-index: 10;
      margin-top: -155px;
    }
  }

  @media screen and (max-width: 993px) {
    #expedient_content{
      position: static;
      margin-top: 0px;
    }
    #patient_info{
      width: 100%;
      position: static;
      margin-top: 0px;
    }
  }
*/



</style>
<%= hidden_field_tag 'patient_id' , @expedient.patient_id %>
<%= hidden_field_tag 'expedient_id' , @expedient.id %>
<div id="expedient_holder">
  <div id="patient_info">
    <%= render 'section_patient' %>
  </div>
  <div id="expedient_content"></div>
</div>

<%= hidden_field_tag 'url_consultations_list', consultations_list_doctor_expedients_path(@expedient.id) %>
<%= hidden_field_tag 'url_new_consultation', new_consultation_doctor_expedients_path(@expedient.id) %>
<%= hidden_field_tag 'url_form_create_consultation', url_for(:controller => 'doctor/medical_expedients', :action => 'create_medical_consultation', :only_path => false, :expedient_id => @expedient.id) %>
<%= hidden_field_tag 'url_form_edit_medical_consultation', url_for(:controller => 'doctor/medical_expedients', :action => 'form_edit_medical_consultation', :only_path => false) %>
<%= hidden_field_tag 'send_medical_prescription_pdf', url_for(:controller => 'doctor/medical_consultations', :action => 'send_prescription', :only_path => false) %>
<%= hidden_field_tag 'url_has_template_consultation', url_for(:controller => 'doctor/medical_consultations', :action => 'has_medical_prescription_office', :only_path => false) %>


<%= hidden_field_tag 'url_new_valoration', new_valoration_doctor_expedients_path %>

<!--   grafica de percentiles             -->
<%= hidden_field_tag 'url_percentile_weight', doctor_percentile_weight_url %>
<%= hidden_field_tag 'url_percentile_head', doctor_percentile_head_url %>
<%= hidden_field_tag 'url_percentile_length', doctor_percentile_length_url %>
<%= hidden_field_tag 'url_percentile_imc', doctor_percentile_imc_url %>
<%= hidden_field_tag 'url_print_ped_graph', chart_percentile_pdfs_path %>


<div class="modal fade" id="send_prescription_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccine_title">Enviar Receta</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <strong>Correo:</strong><br>
            <input type="text" id="send_prescription_email" class="form-control input-lg">
            <input type="hidden" id="send_prescription_id">

            <div id="send_prescription_loading_message" style="display: none;">
              <div class="col-md-offset-3 col-md-9">
                <div class="preloader pl-xxl">
                  <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="10"></circle>
                  </svg>
                </div>
              </div>
              Enviando receta. Por favor espere un momento ...
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_book_to_patient_btn" onClick="sendPrescriptionPdf()">Enviar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="change_patient_picture_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Cambiar foto de paciente</h4>
      </div>
      <div class="modal-body">

        <a class="btn btn-primary select_new_picture" source="file">Seleccionar de archivo</a>
        <a class="btn btn-primary select_new_picture" source="photo">Tomar foto</a>

        <br>
        <br>
        <img src="" id="preview_image_patient" style="width: 100%; display: none;">

        <div id="select_from_file" style="display: none;">
          <br>
          <input type="file" id="patient_image" value="Seleccione un archivo" accept=".jpg,.png,.gif">
          <div id="crop-holder"></div>
          <a id="set_picture" class="btn bgm-indigo">Aceptar</a>
        </div>

        <div id="select_from_camera" style="display: none">
          <video id="video" width="500" height="500" autoplay></video>
          <button class="btn bgm-indigo" id="take_photo">Tomar foto</button>
        </div>
        <canvas id="canvas" style="display: none;" width="400" height="400"></canvas>
        <input type="hidden" id="patient_base64" name="patient_base64">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_new_picture" url="<%= picture_doctor_patients_path %>">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
