<%
  sections = [
      {
          :name => 'Aparatos',
          :items => [
              {
                  :key => "genital",
                  :name => "Aparato genital",
                  :form => "ap_genital"
              },{
                  :key => "urinary",
                  :name => "Aparato urinario",
                  :form => "ap_urinary"
              },{
                  :key => "digestive",
                  :name => "Aparato digestivo",
                  :form => "ap_digestive"
              },{
                  :key => "respiratory",
                  :name => "Aparato respiratorio",
                  :form => "ap_respiratory"
              },{
                  :key => "cardio",
                  :name => "Aparato cardiovascular",
                  :form => "ap_cardiovascular"
              }
          ]
      },
      {
          :name => 'Sistemas',
          :items => [
              {
                  :key => "ophthalmological",
                  :name => "Sistema oftalmológico",
                  :form => "si_ophthalmological"
              },
              {
                  :key => "hematological",
                  :name => "Sistema hematológico",
                  :form => "si_hematological"
              },
              {
                  :key => "metabolic",
                  :name => "Sistema metabolico",
                  :form => "si_metabolic"
              },
              {
                  :key => "otolaryngology",
                  :name => "Sistema otorrinolaringológico",
                  :form => "si_otolaryngology"
              },
              {
                  :key => "nervous",
                  :name => "Sistema nervioso",
                  :form => "si_nervous"
              },{
                  :key => "psychosomatic",
                  :name => "Sistema psicosomático",
                  :form => "si_psychosomatic"
              },{
                  :key => "locomotor",
                  :name => "Sistema locomotor",
                  :form => "si_locomotor"
              }
          ]
      },
      {
          :name => 'Otros',
          :items => [
              {
                  :key => "infection",
                  :name => "Infecciones",
                  :form => "ot_infection"
              },{
                  :key => "sense_organ",
                  :name => "Órganos de los sentidos",
                  :form => "ot_sense_organ"
              }
          ]
      }
  ]
%>
<div class="card">
  <div class="card-body card-padding">
    <div id="system_buttons_holder">
      <% sections.each do |s| %>
          <div class="row" id="">
            <div class="col-sm-12">
              <strong style="font-size: 16px"><%= s[:name] %></strong>
            </div>
            <% s[:items].each do |i| %>
                <div class="col-sm-4 col-xs-6 system_button" form_holder="<%= i[:key] %>_form_holder">
                  <div class="color-block bgm-cyan">
                    <span style="font-size: 16px"><%= i[:name] %></span>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
    <% sections.each do |s| %>
        <div class="row">
          <% s[:items].each do |i|
            @key = i[:key]
          %>
              <div class="col-md-12 system_form_holder" id="<%= i[:key] %>_form_holder" style="display: none;">
                <a class="close_form_holder">&times;</a>
                <%= render 'doctor/expedients/systems/'+i[:form] %>
              </div>
          <% end %>
        </div>

    <% end %>
  </div>
</div>
<%= hidden_field_tag 'medical_history_id', @medical_history.id %>