<div class="card">
  <div class="card-body card-padding">

    <style>
      .vaccine_table{
        border-collapse: collapse;
      }

        .vaccine_table td,th{
          border: black 1px solid;
        }
        .vaccine_table thead{
          background: #7DC460;
        }
    </style>
    <br><br>

    <div class="row">
      <%= hidden_field_tag 'patient_id',@patient_vaccine_book.id %>
      <div class="col-xs-6">
        <h3>Cartilla(s) de Vacunación: </h3>
      </div>
      <div class="col-xs-6" style="align-content: center">
        <button type="button" class="pull-left btn bgm-green waves-effect" id="add_vaccine_book_to_patient">Agregar Cartilla</button>
      </div>
      <%  @patient_vaccine_book.vaccine_books.each do |book|
        holder = "patient_book_#{@patient_vaccine_book.id}_#{book.id}"
      %>
          <div id="<%= holder %>">
            <hr>
            <div id="book_title">
              <strong class="f-20"><%= book.name %></strong>
              <button onclick="deleteBook(<%=book.id%>,'<%= book.name %>')" class="pull-right btn bgm-deeporange btn-icon waves-effect waves-circle waves-float" title="Eliminar cartilla"><i class="zmdi zmdi-delete"></i></button>
              <br>
              <br>
            </div>
            <table class="vaccine_table">
              <thead>
              <tr>
                <th>Vacuna</th>
                <th>Enfermedad que previene</th>
                <th>Dosis</th>
                <th>Edad y frecuencia</th>
                <th>Fecha de vacunaci&oacute;n</th>
              </tr>
              </thead>
              <tbody>
              <% book.vaccines.each do |vaccine| %>
                  <%
                    is_first_time = true
                    application_ages = vaccine.application_ages
                    application_ages.each do |aa| %>
                      <tr>
                        <% if is_first_time %>
                            <td style="background: <%= vaccine.color %>; color: <%= vaccine.label_is_black ? 'black' : 'white' %>;" class="vaccine_info text-center" rowspan="<%= application_ages.size %>"><%= vaccine.name %></td>
                            <td class="vaccine_info" rowspan="<%= application_ages.size %>"><%= vaccine.prevent_disease %></td>
                        <%
                          is_first_time = false
                          end %>
                        <td class="text-left"><%= aa.dose %></td>
                        <td><%= aa.age %></td>
                        <td style="width: 150px;">
                          <%
                            application_date = ''
                            vaccination = Vaccination.where('patient_id = ? AND application_age_id = ?', @patient_vaccine_book.id, aa.id).first
                            if vaccination.present? && vaccination.vaccinate_date.present?
                              application_date = vaccination.vaccinate_date.strftime('%d/%m/%Y')
                            end
                          %>
                          <input style="width: 100px" type="text"
                                 class="vaccine_date <%= holder %>"
                                 age="<%= aa.id %>"
                                 patient="<%= @patient_vaccine_book.id %>"
                                 value="<%= application_date %>">
                          <span class="delete_vaccine_date" style="font-size: 15px; cursor: pointer;"><i class="zmdi zmdi-close-circle"></i></span>
                        </td>
                      </tr>
                  <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>


  </div>
</div>

<div class="modal fade" id="addbookpatient" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccine_title">Agregar Cartilla</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            Cartilla de vacunaci&oacute;n: <br>
            <div class="btn-group bootstrap-select">
              <select class="selectpicker" id="vaccine_book_select">
                <%  VaccineBook.all.each do |s| %>
                    <option value="<%= s.id %>"><%= s.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_vaccine_book_to_expedient_btn">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addVaccinateDateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccinate_date_modal_title">Agregar fecha de vacunación</h4>
      </div>
      <div class="modal-body">
        <div class="form-group fg-line">
          <strong>Fecha de Vacunación</strong>
          <div class="dtp-container fg-line">
            <input type="text" class="form-control date-picker input-lg" id="vaccinate_date_picked" placeholder="Ingresar fecha">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_vaccinate_date" onClick="setVaccinateDate()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'url_add_vaccinebook_patient', url_for(:controller => 'doctor/medical_histories', :action => 'add_vaccinebook_patient', :only_path => true) %>
<%= hidden_field_tag 'url_delete_vaccinebook_patient', url_for(:controller => 'doctor/medical_histories', :action => 'delete_vaccinebook_patient', :only_path => true) %>
<%= hidden_field_tag 'url_add_vaccine_date', url_for(:controller => 'admin/vaccinations', :action => 'add_vaccinate_date', :only_path => true) %>
<%= hidden_field_tag 'url_update_vaccination_date', update_vaccination_date_doctor_expedients_path %>
