<div class="card">
  <div class="card-body card-padding">

  <div class="row" style="padding: 20px;">
  <div class="col-md-10">
    <div id="vital_sign_chart">
      <div style="text-align: center;">Seleccione el tipo de gráfica ...</div>
    </div>
  </div>
  <div class="col-md-2">
    <ul id="vital_sign_chart_type">
      <li onclick="loadVitalSignsData('weight')">Peso</li>
      <li onclick="loadVitalSignsData('height')">Altura</li>
      <li onclick="loadVitalSignsData('temperature')">Temperatura</li>
      <li onclick="loadVitalSignsData('blood_pressure')">Tensi&oacute;n Arterial</li>
    </ul>
    <br>
    <a  id="print_chart_sign" class='btn btn-info btn-icon waves-effect waves-circle waves-float btn-show' ><i class='zmdi zmdi-print zmdi-hc-fw' title='Imprimir'></i></a>
    <buttonn id="new_valoration_btn" class="btn btn-success btn-icon waves-effect waves-circle waves-float" title="Agregar" url="<%= new_valoration_doctor_expedients_path %>">
      <i class="zmdi zmdi-plus-circle"></i>
    </buttonn>

  </div>


  <div class="col-md-12 p-0" >
    <div class="datatable_custom bootgrid-header" >
      <table  id="data-table-vital-signs" class="table table-striped table-condensed table-custom" data-source="<%= vital_sign_table_doctor_expedients_url(@medical_expedient.patient.id,format: "json")%>">
        <thead>
        <tr>
          <th data-column-id="date">Fecha captura</th>
          <th data-column-id="weight">peso</th>
          <th data-column-id="height">altura</th>
          <th data-column-id="temp">temperatura</th>
          <th data-column-id="ta">Tensi&oacute;n Arterial</th>
          <th data-column-id="commands">Operaciones</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>



  </div>
  </div>
</div>

<input type="hidden" id="vital_expedient_id" value="<%= @medical_expedient.id %>">
<div class="modal fade" id="add_valoration_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Agregar valoración</h4>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag 'new_valoration_valoration_type_id','' %>
        <div id="valoration_fields"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="save_valoration_btn" url="<%= save_vital_sign_doctor_expedients_path %>">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="show_details_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="" style="text-align: center">Signos vitales</h3>
        <label id="label_date" style="text-align: center;font-size: 14px"></label>
      </div>
      <div class="modal-body">
        <div id="data_fields_div"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<%= hidden_field_tag 'url_get_data_chart', get_data_chart_doctor_expedients_url %>
<%= hidden_field_tag 'url_print_valoration_graph', print_graph_valoration_doctor_expedients_url  %>
<%= hidden_field_tag 'url_get_all_vital_signs', get_all_vital_signs_doctor_expedients_url %>