<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:admin, @fixed_asset_item] do |f| %>
    <% if @fixed_asset_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fixed_asset_item.errors.count, "error") %> prohibited this attention type from being saved:</h2>

          <ul>
            <% @fixed_asset_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :name,'Nombre', :class=>"control-label" %><br>
      <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Nombre" %>
    </div>
    </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :description,'Descripción', :class=>"control-label" %><br>
              <%= f.text_field :description, :class => "form-control input-lg", :placeholder => "Descripción" %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :identifier,'Identificador', :class=>"control-label" %><br>
              <%= f.text_field :identifier, :class => "form-control input-lg", :placeholder => "Identificador" %>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="bootstrap-select">
              <strong>Activo fijo</strong><br>
              <%= f.select :fixed_asset_id, FixedAsset.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
          <div class="checkbox">
            <label>
              <input type="checkbox"  name="state" id="state" <%= @fixed_asset_item.state ? 'checked': '' %>>
              <i class="input-helper"></i>
              <strong class="font_size_medical_history">Disponible</strong>
            </label>
          </div>
          </div>
          <div class="col-md-6 col-xs-12">
          <div class="checkbox">
            <label>
              <input type="checkbox"  name="schedule" id="schedule" <%= @fixed_asset_item.schedule ? 'checked': '' %>>
              <i class="input-helper"></i>
              <strong class="font_size_medical_history">¿El elemento se calendariza?</strong>
            </label>
          </div>
          </div>
          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_fixed_assets_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
<% end %>
