<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de elementos de activos fijos</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, FixedAssetItem %>
          <%= link_to 'Agregar', new_admin_fixed_asset_item_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-fixed_asset_items" class="table table-striped" data-source="<%= admin_fixed_asset_items_url(format: "json")%>"
         data-can-edit="<%= can? :edit, FixedAssetItem %>"
         data-can-delete="<%= can? :destroy, FixedAssetItem %>">
  <thead>
  <tr>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="description">Descripción</th>
    <th data-column-id="indetifier">Identificador</th>
    <th data-column-id="schedule">Calendarizado</th>
    <th data-column-id="state">Estado</th>
    <th data-column-id="fixed_asset">Activo fijo</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
