
    <h4>Nueva factura</h4>

    <% if flash[:danger] %>
        <div class="alert alert-danger"><%= flash[:danger] %></div>
    <% end %>

    <form method="post" action="<%= admin_invoices_path %>" onsubmit="return validate_invoice();">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bgm-bluegray">
              <h2>Datos del emisor</h2>
            </div>
            <div class="card-body card-padding">
              <select class="selectpicker form-control" name="emisor_id" id="emisor_id">
                <option value="">Seleccione el emisor</option>
                <%
                  first_time = true
                  EmisorFiscalInformation.all.each do |efi| %>
                    <option id="emisor_<%= efi.id %>" rate_iva="<%= efi.iva %>" value="<%= efi.id %>" <%= first_time ? 'selected' : '' %>><%= efi.rfc %> | <%= efi.bussiness_name %></option>
                <%
                  first_time = false
                  end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bgm-bluegray">
              <h2>Datos del receptor</h2>
            </div>
            <div class="card-body card-padding">
              <input type="hidden" id="receptor_type_id" name="receptor_type_id" value="">
              <select class="selectpicker form-control" data-live-search="true" name="receptor_id" id="receptor_id">
                <option value="">Seleccione el receptor</option>

              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header bgm-bluegray">
              <h2>Conceptos</h2>
              <a id="new_concept_btn" class="btn btn-success btn-float waves-effect"><i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i></a>
            </div>
            <div class="card-body card-padding">
              <table class="table" id="new_invoice_concepts">
                <thead>
                <tr>
                  <th>Cantidad</th>
                  <th>Descripción</th>
                  <th>Medida</th>
                  <th>Precio Unitario</th>
                  <th>Total</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                  <td colspan="4">Sub total</td>
                  <td><input type="text" class="w-100 inv_input" name="sub_total" id="invoice_sub_total" disabled></td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="4">I.V.A.</td>
                  <td>
                    <input type="text" class="w-100 inv_input" name="iva" id="invoice_iva" rate="0.16" disabled>
                    <input type="hidden" name="iva_rate" value="0.16" id="iva_rate">
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="4">I.S.R</td>
                  <td>
                    <input type="text" class="w-100 inv_input" name="isr" id="invoice_isr">
                    <input type="hidden" name="isr_rate" value="0">
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="4">Total</td>
                  <td><input type="text" class="w-100 inv_input" name="total" id="invoice_total" disabled></td>
                  <td></td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header bgm-bluegray">
              <h2>Datos adicionales</h2>
            </div>
            <div class="card-body card-padding">
              <div class="row">
                <div class="col-md-6">
                  <select class="selectpicker form-control" name="payment_way_id">
                    <% PaymentWay.all.each do |efi| %>
                        <option value="<%= efi.id %>"><%= efi.name %></option>
                    <% end %>
                  </select>
                </div>
                <div class="col-md-6">
                  <select class="selectpicker form-control" multiple data-live-search="true" name="payment_method_id[]">
                    <%
                      first_time = true
                      PaymentMethod.where('code != ""').each do |efi| %>
                        <option value="<%= efi.id %>" <%= first_time ? 'selected' : '' %>><%= efi.name %></option>
                    <%
                      first_time = false
                      end %>
                  </select>
                </div>
                <div class="col-md-6">
                  <strong>Número de cuenta</strong>
                  <input type="text" class="w-100" value="No aplica" name="account_number">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <button type="submit" class="btn btn-primary pull-right" id="create_invoice_btn">Facturar</button>

    </form>

    <%= hidden_field_tag 'url_get_fiscal_infos', url_for(:controller => 'admin/invoices', :action => 'getFiscalInfos', :only_path => false) %>