<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:admin, @triage] do |f| %>
    <% if @triage.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@triage.errors.count, "error") %> prohibited this attention type from being saved:</h2>

          <ul>
            <% @triage.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-6">
            <div class="form-group fg-line">
      <%= f.label :level,'Nivel', :class=>"control-label" %><br>
      <%= f.text_field :level, :class => "form-control input-lg", :placeholder => "Nivel" %>
    </div>
    </div>
          <div class="col-md-3">
            <div class="form-group fg-line">
              <%= f.label :attention_time,'Tiempo de atención', :class=>"control-label" %><br>
              <%= f.number_field :attention_time, :class => "form-control input-lg", :placeholder => "Tiempo de atención" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group fg-line">
              <%= f.label :priority,'Prioridad', :class=>"control-label" %><br>
              <%= f.number_field :priority, :class => "form-control input-lg", :placeholder => "Prioridad" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <%= f.label :description,'Descripción', :class=>"control-label" %><br>
              <%= f.text_field :description, :class => "form-control input-lg", :placeholder => "Descripción" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <%= f.label :color,'Color', :class=>"control-label" %><br>
              <%= f.select :color, [["Rojo", "FF0000"],["Amarillo", "FFFF00"],["Azul", "000DFF"],["Verde", "00FF33"],["Naranja", "FF9800"],["Blanco", "FFFFFF"],["Negro", "000000"]], {}, { :class => 'selectpicker' }%>
            </div>
          </div>


          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_triages_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
<% end %>
