<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de triages</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, Triage %>
          <%= link_to 'Agregar', new_admin_triage_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-triages" class="table table-striped" data-source="<%= admin_triages_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Triage %>"
         data-can-delete="<%= can? :destroy, Triage %>">
  <thead>
  <tr>
    <th data-column-id="level">Nivel</th>
    <th data-column-id="attention_time">Tiempo de atencion</th>
    <th data-column-id="description">Descripción</th>
    <th data-column-id="color">Color</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>