<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:cli, @waste_type] do |f| %>
    <% if @waste_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@waste_type.errors.count, "error") %> prohibited this attention type from being saved:</h2>

          <ul>
            <% @waste_type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :name,'Nombre', :class=>"control-label" %><br>
      <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Nombre" %>
    </div>
    </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <%= f.check_box :is_entry %>
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Marcar si es entrada</strong>
              </label>
            </div>
          </div>

          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= cli_waste_types_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
<% end %>
