<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de tipos de salida</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, WasteType %>
          <%= link_to 'Agregar', new_cli_waste_type_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-waste_types" class="table table-striped" data-source="<%= cli_waste_types_url(format: "json")%>"
         data-can-edit="<%= can? :edit, WasteType %>"
         data-can-delete="<%= can? :destroy, WasteType %>"
  >
  <thead>
  <tr>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="waste_type">Entrada/Salida</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
