

<input type="hidden" value="<%= @other_charge.id.nil? ? '0': @other_charge.id %>" id="is_new">
<div class="card">
  <div class="card-body card-padding">
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-header" style="text-align: center">
            <h1>Generar cobro</h1>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="new_purchase_section">
            Datos del cobro
          </div>
        </div>
        <div class="col-md-12" style="padding: 5px;"></div>
        <div class="col-xs-12">
          <div class="fg-line">
            <strong> Nombre del paciente</strong>
            <% if @other_charge.id != nil %>
                <input type="text" class="form-control input-lg" id="patient_name" placeholder="Ingrese el nombre del paciente"  value="<%= @other_charge.patient_name%>"    >
            <% else %>
                <input type="text" class="form-control input-lg" id="patient_name" placeholder="Ingrese el nombre del paciente"      >
            <% end  %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong>Descuento total</strong>
            <input type="number" class="form-control input-lg" <%= @other_charge.id.nil? ? '':'value = ' +@other_charge.total_discount.to_s %> id="total_discount" disabled>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong>Costo total</strong>
            <input type="number" class="form-control input-lg" <%= @other_charge.id.nil? ? '':'value = ' +@other_charge.total_amount.to_s %> id="total_amount" disabled>
          </div>
        </div>
        <% if @other_charge.id != nil %>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong>Cantidad pagada</strong>
            <input type="number" class="form-control input-lg"  id="total_paid" disabled>
          </div>
        </div>
            <% end %>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_purchase_section">
            Servicios hospitalarios
          </div>
          <div class="row" style="font-size: 11px">
            <br>
            <div class="col-xs-5">
              <strong >Servicio o paquete:</strong> <br>
              <input type="text" name="hospital_service" id="hospital_service" class="form-control input-lg" >
            </div>
            <div class="col-xs-2">
              <strong >Costo:</strong> <br>
              <input type="number" class="form-control input-lg" id="service_cost" >
            </div>
            <div class="col-xs-2">
              <strong >Descuento:</strong> <br>
              <input type="number" class="form-control input-lg" id="service_discount" >
            </div>
            <div class="col-xs-2" style="padding-top: 10px;"     >
              <a  id="add_service_charge_btn"  class="btn bgm-green waves-effect  pull-right" title="Agregar servicio" > Agregar</a>
            </div>
          </div>

        </div>

        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_concepts_open" class="col-xs-12">

          <table id="charge_items" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Servicio</th>
              <th width="15%" style="text-align: center">Costo</th>
              <th width="15%" style="text-align: center">Descuento</th>
              <th width="30%" style="text-align: center">Total</th>
              <th width="10%" style="text-align: center"></th>
            </tr>
            </thead>
            <tbody>
              <% if @other_charge.id != nil %>
                <% @other_charge.other_charge_items.each do |ic| %>
                <tr id="item_charge_<%= ic.id %>">
                  <td style='text-align: center'><%= ic.hospital_service.name %></td>
                  <td style='text-align: center'><%= ic.service_amount %></td>
                  <td style='text-align: center' id="discount_cell_<%= ic.id %>" ><%= ic.service_discount %></td>
                  <td style='text-align: center' id="total_cell_<%= ic.id %>" ><%= ic.total %></td>
                  <td>
                    <a  href='javascript:void(0)' onclick='setEditItemCharge(<%= ic.id %>)'>
                    <i class='zmdi zmdi-money-off zmdi-hc-fw' style='font-size: 1.73em;' title='Editar descuento'></i></a><a  href='javascript:void(0)' onclick='setDeleteItemCharge(<%= ic.id %>)'>
                    <i class='zmdi zmdi-delete' style='font-size: 1.73em;' title='Eliminar'></i></a>
                  </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <% if @other_charge.id != nil %>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_purchase_section">
            Pagos realizados
          </div>
          <a data-toggle="modal"  href="#paymentModal" style="margin-top: 15px;" class="pull-right btn bgm-green waves-effect">Realizar pago</a>
        </div>

        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_concepts_open" class="col-xs-12">

          <table id="payments_items" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Fecha</th>
              <th width="15%" style="text-align: center">Folio</th>
              <th width="15%" style="text-align: center">Cantidad</th>
              <th width="15%" style="text-align: center">Estado</th>
              <th width="10%" style="text-align: center"></th>
            </tr>
            </thead>
            <tbody>
            <%  clinic = ClinicInfo.find(1) %>
                <% @other_charge.other_charge_transactions.each do |ic| %>
                    <tr id="transac_charge_<%= ic.id %>">
                      <td style='text-align: center'><%= ic.created_at.strftime("%d/%m/%Y") %></td>
                      <td style='text-align: center'><%= ic.folio %></td>
                      <td style='text-align: center' ><%= number_to_currency(ic.amount,:unit => "$") %></td>
                      <td style='text-align: center' ><%= ic.is_cancel? ? "Cancelado" : "Pagado" %></td>
                      <td>
                        <% if !ic.is_cancel %>
                        <a  href='javascript:void(0)' onclick='setCancelPayment(<%= ic.id %>,<%= ic.amount %>)'>
                          <i class='zmdi zmdi-close-circle-o zmdi-hc-fw' style='font-size: 1.73em;' title='Cancelar pago'></i>
                        </a>
                            <a style='font-size: 1.73em;' target="_blank" href="<%= ticket_pdfs_path(Const::TICKET_OTHER_CHARGES,ic.id) %>">
                              <i class="zmdi zmdi-print"></i>
                            </a>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
            </tbody>
          </table>
        </div>

            <% end %>
      </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <div id="loading_image_open">
    </div>
    <div class="col-md-6">
      <% if @other_charge.id != nil %>
      <button type="button" class="btn pull-left btn-warning" id="stamp_open_invoice_btn" onclick="setCloseOtherCharge(<%= @other_charge.id  %>)">Cerrar</button>
      <% end %>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" id="stamp_open_invoice_btn" onclick="save_other_charge()">Guardar</button>
      <a href="<%= cli_other_charges_path %>" class="btn btn-danger">Atrás</a>
    </div>


  </div>
</div>
<%= hidden_field_tag 'url_search_services', hospital_services_items_autocompletes_url %>
<%= hidden_field_tag 'url_get_save_other_charge', url_for(:controller => 'cli/other_charges', :action => 'save_other_charge', :only_path => false) %>
<%= hidden_field_tag 'url_get_service_cost', url_for(:controller => 'cli/hospital_admissions', :action => 'get_service_cost', :only_path => false) %>
<%= hidden_field_tag 'url_get_charge_items', url_for(:controller => 'cli/other_charges', :action => 'get_charge_items', :only_path => false) %>
<%= hidden_field_tag 'url_generate_payment_other_charge', url_for(:controller => 'cli/other_charges', :action => 'pay_other_charge', :only_path => false) %>
<%= hidden_field_tag 'url_cancel_payment_other_charge', url_for(:controller => 'cli/other_charges', :action => 'cancel_payment', :only_path => false) %>
<%= hidden_field_tag 'url_close_other_charge', url_for(:controller => 'cli/other_charges', :action => 'close_other_charge', :only_path => false) %>
<%= hidden_field_tag 'url_check_cancel_permission', url_for(:controller => 'cli/other_charges', :action => 'check_cancel_permission', :only_path => false) %>
<%= hidden_field_tag 'url_check_close_permission', url_for(:controller => 'cli/other_charges', :action => 'check_close_permission', :only_path => false) %>



<div class="modal fade" id="add_service_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Agregar cobro de servicio</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">
              <br>
              <div class="col-xs-12">
                <strong >Servicio:</strong> <br>
                <select name="hospital_service" id="hospital_service" class="selectpicker form-control bs-select-hidden" data-live-search="true"></select>
              </div>
              <div class="col-xs-6">
                <strong >Costo:</strong> <br>
                <input type="number" class="form-control input-lg" id="service_cost" >
              </div>
              <div class="col-xs-6">
                <strong >Descuento:</strong> <br>
                <input type="number" class="form-control input-lg" id="service_discount" >
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_service_charge_btn" >Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="change_discount_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_disease_title">Modificar descuento</h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-12">
          <strong>Descuento:</strong> <br>
          <input type="number" class="form-control input-lg" id="new_service_discount">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_discount_btn" onClick="update_discount()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="paymentModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center">Agregar pago de servicio</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="">
            <div class="row">
              <br>
              <div class="col-xs-12">
                <strong>Cuenta:</strong> <br>
                <%= select_tag("account", options_for_select(current_user.accounts.map{|pa| [pa.account_number + "-" + pa.bank.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
              </div>
              <div class="col-xs-6">
                <strong>Método de Pago:</strong> <br>
                <%= select_tag("payment_method", options_for_select(PaymentMethod.all.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
              </div>
              <div class="col-xs-6">
                <strong >Cantidad a abonar:</strong> <br>
                <input type="number" class="form-control input-lg" id="payment_cost" >
              </div>
              <div class="col-xs-12">
                <strong >Detalles:</strong> <br>
                <input type="text" class="form-control input-lg" id="details" >
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_transaction_btn" onclick="generate_payment()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cancel_payment_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cancel_title">Cancelar pago</h4>
        <br>
        Para cancelar un pago es necesario validar el permiso del usuario
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <strong>Nombre de usuario o correo electronico:</strong> <br>
            <input type="text" class="form-control input-lg" id="user_name" autocomplete="off">
          </div>
          <div class="col-xs-12">
            <strong>Contraseña:</strong> <br>
            <input type="password" class="form-control input-lg" id="password" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="cancel_payment_btn" onClick="cancel_payment()">Proceder a cancelar pago</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="close_other_charge_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cancel_title">Cerrar Cobro</h4>
        <br>
        Para Cerrar el cobro es necesario validar el permiso del usuario
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <strong>Nombre de usuario o correo electronico:</strong> <br>
            <input type="text" class="form-control input-lg" id="user_name_close" autocomplete="off">
          </div>
          <div class="col-xs-12">
            <strong>Contraseña:</strong> <br>
            <input type="password" class="form-control input-lg" id="password_close" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="close_charge_btn" onClick="close_other_charge()">Proceder a cerrar cobro</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<%= hidden_field_tag 'url_get_services_package', get_services_from_package_cli_other_charges_url %>
<%= hidden_field_tag 'url_get_service_cost', get_service_cost_cli_hospital_admissions_url %>
<%= hidden_field_tag 'url_get_services_select', get_services_select_cli_hospital_admissions_url %>
