<div class="card">
  <div class="card-body card-padding">
      <h4>Reporte de cobros</h4>
    <div class="row">

      <div class="col-md-3">
        <strong>Fecha inicio</strong>
        <input class="w-100 date-picker" value="" type="text" name="start_date" id="start_date" aria-required="true" aria-invalid="false">
      </div>
      <div class="col-md-3">
        <strong>Fecha fin</strong>
        <input class="w-100 date-picker " value="" type="text" name="end_date" id="end_date" aria-required="true" aria-invalid="false">
      </div>
      <div class="col-md-6">
        <a type="button" class="btn btn-primary" onclick="search_charges()">Buscar</a>
        <a type="button" class="btn btn-success" onclick="export_excel()">Excel</a>
        <a type="button" class="btn btn-danger" onclick="export_pdf()">PDF</a>
      </div>


    </div>

    <div id="charges_table"></div>
  </div>


</div>

<%= hidden_field_tag 'url_search_charges', url_for(:controller => 'cli/other_charges', :action => 'search_charges', :only_path => false) %>
<%= hidden_field_tag 'url_export_charges', url_for(:controller => 'cli/other_charges', :action => 'export_charges', :only_path => false, :format => 'xls') %>
<%= hidden_field_tag 'url_print_charge_report', report_charges_pdfs_path %>

