<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Folio</Data></Cell>
        <Cell><Data ss:Type="String">Fecha</Data></Cell>
        <Cell><Data ss:Type="String">Servicios</Data></Cell>
        <Cell><Data ss:Type="String">Detalles</Data></Cell>
        <Cell><Data ss:Type="String">Responsable</Data></Cell>
        <Cell><Data ss:Type="String">Monto</Data></Cell>
      </Row>
      <% @export_info.each do |info| %>
          <Row>
            <Cell><Data ss:Type="String"><%= info.values[0] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= info.values[1] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= info.values[2] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= info.values[3] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= info.values[4] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= info.values[5] %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>