<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-4">
        <div class="card-header">
    <h2>Lista de Cobros generados</h2>
        </div>
      </div> <div class="col-xs-4">
      <a id="show_all_link" class="pull-right btn bgm-blue waves-effect" href="javascript:void(0)" onclick="show_all_values()">Mostrar todos</a>
    </div>
      <div class="col-xs-4">
        <% if can? :new, OtherCharge %>
          <%= link_to 'Agregar', new_cli_other_charge_path, class: "pull-right btn bgm-green waves-effect" %>
            <% end%>
  </div>
      <div class="col-xs-12">
  <table id="data-table-other_charges" class="table table-striped" data-source="<%= cli_other_charges_url(format: "json")%>"
         data-can-edit="<%= can? :edit, OtherCharge %>"
         data-can-show="<%= can? :show, OtherCharge %>"
         data-can-delete="<%= can? :destroy, OtherCharge %>">
    <col width="100">
    <col width="50">
    <col width="50">
    <col width="50">
    <col width="50">
    <col width="80">
  <thead>
  <tr>
    <th data-column-id="name">Paciente</th>
    <th data-column-id="total">Costo</th>
    <th data-column-id="discount">Descuento</th>
    <th data-column-id="paid">Pagado</th>
    <th data-column-id="residue">Saldo</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
