<style>

  #charges_table_content{
    width: 100%;
    padding-top: 1cm;
  }

  #charges_table_content thead th{
    font-size: 12px;
    text-align: center;
  }
  #charges_table_content tr td{
    font-size: 10px;
  }

  #charges_table_content tr td{

  }
  .in_center{
    text-align: center;
  }
  .in_left{
    text-align: center;
  }


  #params table{
    font-size: 12px;
  }


  .float{
    float: left;
  }

  .logo{
    width: 20%;
    padding-top: 0.5cm;
  }

  .text{
    width: 80%;
  }


</style>

<div>
  <div class="float logo">
    <% clinic_info = ClinicInfo.first %>
    <% if !clinic_info.logo_identifier.nil? %>
        <%= wicked_pdf_image_tag_for_public clinic_info.logo.url,:width => "60" %>
    <% else %>
        <%= wicked_pdf_image_tag 'imagotipo-azul.png',:width => "60" %>
    <% end %>
  </div>
  <div class="float text">
    <h2 style="margin: 0; padding-left: 3cm;padding-top: 1cm">Reporte de cobros</h2>
  </div>
</div>

<div style="clear: both;">
</div>

<br>

<div id="params">
  <table>
    <tr>
      <td><strong>Fecha Inicio:</strong></td>
      <td><%= @start_date %></td>
    </tr>
    <tr>
      <td><strong>Fecha Fin:</strong></td>
      <td><%= @end_date %></td>
    </tr>
  </table>
  <br>
</div>

<table id='charges_table_content' class='table table-striped'><thead><tr>
  <th>Fecha</th>
  <th>Servicios</th>
  <th >Detalles</th>
  <th >Monto</th>
  </tr></thead><tbody>
<%
  @export_info.each do |t|
details = ''
services = ''
lable_amount =  "<label style='color: #0a68b4; font-weight: bold;'>"+number_to_currency(t.amount,:unit=> "$").to_s+"</label>"
case t.chargeable_type
when 'OtherMovement'
services = 'Otros movimientos'
details << t.chargeable.movement_type.name + '<br>'
details << 'Detalles: '+t.chargeable.details
if t.chargeable.movement_type.id == 22
lable_amount =  "<label style='color: red; font-weight: bold;'>-"+number_to_currency(t.amount,:unit=> "$").to_s+"</label>"
end
when 'Charge'
services = 'Cobro de consulta'
details << 'Paciente: '+t.chargeable.medical_consultation.patient.full_name + ' <br> '
details << 'Fecha Consulta: '+t.chargeable.medical_consultation.date_consultation.strftime('%d/%m/%Y %I:%M %P') + ' <br> '
details << 'Detalles: '+t.chargeable.details
when 'Transfer'
services = 'Transferencia'
details << 'Transferencia de ' + t.chargeable.from.account_number+' ('+t.chargeable.from.bank.name+') a '+ t.chargeable.to.account_number+' ('+t.chargeable.to.bank.name+')<br>'
details << 'Detalles: '+t.description
when 'ChargeReportStudy'
services ='Cobro de Estudio'
details << 'Estudio: ' + t.chargeable.get_study+'<br>'
details << 'Paciente: ' + t.chargeable.get_patient+'<br>'
details << 'Detalles: '+t.description
when 'AdmissionTransaction'
t.chargeable.hospital_admission.service_charges.each_with_index do |service,idx|
services += (idx+1).to_s + ".-" + service.hospital_service.name + '<br>'
end
details << 'Admisión hospitalaria' +'<br>'
details << 'Paciente: ' + t.chargeable.hospital_admission.patient.full_name+'<br>'
details << 'Folio: '+t.chargeable.folio
when 'OtherChargeTransaction'
t.chargeable.other_charge.other_charge_items.each_with_index do |service,idx|
services += (idx+1).to_s + ".-" +service.hospital_service.name + '<br>'
end
details << 'Otros cargos ' +'<br>'
details << 'Paciente: ' + t.chargeable.other_charge.patient_name+'<br>'
details << 'Folio: '+t.chargeable.folio
end
%>  <tr>
    <td class="in_center"><%= t.date.strftime("%d/%m/%Y") %></td>
    <td class="in_center"><%= services.html_safe%></td>
    <td style="text-align: left"><%= details.html_safe %></td>
  <td style="text-align: right"><%= lable_amount.html_safe %></td>
</tr>
    <%
end
  %>
</tbody></table>