<input type="hidden" value="<%= @other_charge.id.nil? ? '0': @other_charge.id %>" id="is_new">
<div class="card">
  <div class="card-body card-padding">
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-header" style="text-align: center">
            <h1>Detalles del cobro</h1>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="new_purchase_section">
            Datos del cobro
          </div>
        </div>
        <div class="col-md-12" style="padding: 5px;"></div>
        <div class="col-xs-12">
          <div class="fg-line">
            <strong> Nombre del paciente</strong>
            <input type="text" class="form-control input-lg" id="patient_name" placeholder="Ingrese el nombre del paciente" <%= @other_charge.id.nil? ? '':'value = ' +@other_charge.patient_name %>   >
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong>Descuento total</strong>
            <input type="number" class="form-control input-lg" <%= @other_charge.id.nil? ? '':'value = ' +@other_charge.total_discount.to_s %> id="total_discount" disabled>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong>Costo total</strong>
            <input type="number" class="form-control input-lg" <%= @other_charge.id.nil? ? '':'value = ' +@other_charge.total_amount.to_s %> id="total_amount" disabled>
          </div>
        </div>
        <% if @other_charge.id != nil %>
            <div class="col-xs-4">
              <div class="fg-line">
                <strong>Cantidad pagada</strong>
                <input type="number" class="form-control input-lg"  id="total_paid" disabled>
              </div>
            </div>
        <% end %>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_purchase_section">
            Servicios hospitalarios
          </div>
        </div>

        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_concepts_open" class="col-xs-12">

          <table id="charge_items" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Servicio</th>
              <th width="15%" style="text-align: center">Costo</th>
              <th width="15%" style="text-align: center">Descuento</th>
              <th width="30%" style="text-align: center">Total</th>
            </tr>
            </thead>
            <tbody>
            <% if @other_charge.id != nil %>
                <% @other_charge.other_charge_items.each do |ic| %>
                    <tr id="item_charge_<%= ic.id %>">
                      <td style='text-align: center'><%= ic.hospital_service.name %></td>
                      <td style='text-align: center'><%= ic.service_amount %></td>
                      <td style='text-align: center' id="discount_cell_<%= ic.id %>" ><%= ic.service_discount %></td>
                      <td style='text-align: center' id="total_cell_<%= ic.id %>" ><%= ic.total %></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
        <% if @other_charge.id != nil %>
            <div class="col-xs-12" style="margin-top: 15px">
              <div class="new_purchase_section">
                Pagos realizados
              </div>
            </div>

            <div class="col-xs-12" style="text-align: center"><span><br></span></div>
            <div id="table_concepts_open" class="col-xs-12">

              <table id="payments_items" class="table">
                <thead>
                <tr>
                  <th width="15%" style="text-align: center">Fecha</th>
                  <th width="15%" style="text-align: center">Folio</th>
                  <th width="15%" style="text-align: center">Cantidad</th>
                  <th width="15%" style="text-align: center">Estado</th>
                </tr>
                </thead>
                <tbody>
                <% @other_charge.other_charge_transactions.each do |ic| %>
                    <tr id="transac_charge_<%= ic.id %>">
                      <td style='text-align: center'><%= ic.created_at.strftime("%d/%m/%Y") %></td>
                      <td style='text-align: center'><%= ic.folio %></td>
                      <td style='text-align: center' ><%= number_to_currency(ic.amount,:unit => "$") %></td>
                      <td style='text-align: center' ><%= ic.is_cancel? ? "Cancelado" : "Pagado" %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>

        <% end %>
      </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <div id="loading_image_open">
    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
      <a href="<%= cli_other_charges_path %>" class="btn btn-danger">Atrás</a>
    </div>


  </div>
</div>

<%= hidden_field_tag 'url_get_charge_items', url_for(:controller => 'cli/other_charges', :action => 'get_charge_items', :only_path => false) %>



