<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:admin, @clinical_study] do |f| %>
    <% if @clinical_study.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@clinical_study.errors.count, "error") %> prohibited this clinical study from being saved:</h2>

          <ul>
            <% @clinical_study.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <strong>Descripción</strong>
      <%= f.text_area :description, :class => "form-control input-lg", :rows => 5, :placeholder => "Descripción" %>
    </div>
    </div>

          <div class="col-md-6">
            <div class="btn-group bootstrap-select">
              <strong>Prioridad</strong>
              <%= f.select :priority, [['1', '1'], ['2', '2'],['3','3']], {}, {:class => "selectpicker"}  %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="btn-group bootstrap-select">
              <%= f.select :ca_group_id,
                           CaGroup.all.collect {|p| [ p.name, p.id ] },
                           {}, class: 'selectpicker' %>
            </div>
          </div>





    </div></div></div>

<div class="col-xs-6">

</div>
<div class="col-xs-6">
  <span class="col-xs-3"></span>
  <a href="<%= admin_indications_path %>" class="btn btn-danger col-xs-4">Atrás</a>
  <span class="col-xs-1"></span>
  <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
</div>

      <% end %>