<style>
  .ig_title strong{
    font-size: 18px;
  }

    .ig_components{
      font-size: 16px;
      padding-left: 40px;
      min-height: 20px;
    }

    li i{
      cursor: pointer;
    }

    .ind_description{
      max-width: 300px;
    }
</style>

<h2>Indicaciones</h2>

<div class="card">
  <div class="card-body card-padding">
    <div>

      <input type="hidden" id="indications_url" value="<%= admin_indications_path %>">

      <% @indication_groups.each do |ig| %>
          <div class="ig_holder">
            <div class="ig_title">
              <strong><%= ig.name %></strong>
              <button style="float: right;" class="btn btn-success btn-icon waves-effect waves-circle waves-float add-indication-group" ig="<%= ig.id %>">
                <i class="zmdi zmdi-plus-circle-o zmdi-hc-fw"></i>
              </button>
            </div>
            <div class="ig_components">
              <table class="table">
                <% ig.indications.order('priority DESC').each do |i| %>
                    <tr>
                      <td class="ind_description"><%= i.description %> (<%= i.priority %>)</td>
                      <td>
                        <i class="zmdi zmdi-edit zmdi-hc-fw edit" ind_id="<%= i.id %>"></i>
                        <i class="zmdi zmdi-delete zmdi-hc-fw delete" ind_id="<%= i.id %>"></i>
                      </td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>


<div class="modal fade" id="add_indication_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="add_indication_title">Agregar Indicación
        </h3>
      </div>
      <div class="modal-body">

        <input type="hidden" id="indication_group_id">
        <input type="hidden" id="indication_id">

        <strong>Descripción:</strong>
        <textarea style="width: 100%" id="indication_description" class="form-control input-lg"></textarea>

        <br>
        <strong>Prioridad</strong>
        <select class="form-control selectpicker" id="indication_priority">
          <% [0,1,2,3,4,5].each do |p| %>
          <option value="<%= p %>"><%= p %></option>
          <% end %>
        </select>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save-indication-btn">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>