<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12">
        <div style="font-size: 10px">
          <div class="col-xs-3">
            <div >
              <strong style="color: red">*</strong><strong> Tipo</strong>
              <%= select_tag("waste_type_select", options_for_select(WasteType.all.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
            </div>
          </div>
          <div class="col-xs-3">
            <div >
              <strong style="color: red">*</strong><strong> Almacen</strong>
              <%= select_tag("warehouse", options_for_select(current_user.warehouses.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="fg-line">
              <strong style="color: red">*</strong><strong> Motivo/Razón</strong>
              <input type="text" class="form-control input-lg" id="reason" >
            </div>
          </div>
        </div>
        <div class="col-xs-12" style="padding-top: 5px">
          <div class="new_purchase_section">
            Lista de artículos
          </div>
        </div>
        <div style="font-size: 10px">
          <div class="col-md-12" style="padding: 8px;"></div>
          <div class="col-xs-5" style="padding-bottom: 10px">
            <strong >Medicamento:</strong> <br>
            <input type="text" id="item_medicament" autocomplete="off"
                   name="item_medicament"
                   class="form-control  "
                   placeholder="Escriba el nombre del medicamento para comenzar a buscar...">
          </div>
          <div class="col-xs-2">
            <strong >Cantidad:</strong> <br>
            <input type="number" class="form-control input-lg" id="item_quantity" >
          </div>
          <div class="col-xs-4">
            <div id="current_lot_div">
              <strong >Lote:</strong> <br>
              <%= select_tag("lot", options_for_select(Lot.all.map{|pa| [pa.name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
            </div>
          </div>
          <div class="col-xs-1" style="padding-top: 10px;"     >
            <a  onclick='add_item_to_table()'  class="btn bgm-green btn-icon waves-effect waves-circle waves-float btn-show" title="Agregar" ><i class="zmdi zmdi-plus-circle-o zmdi-hc-fw"  title="Agregar"></i></a>
          </div>
          <div id="new_lot_div" class="col-xs-6">
            <div class="col-xs-6">
              <strong >Nombre del lote:</strong> <br>
              <input type="text" class="form-control input-lg" id="new_lot_name" >
            </div>
            <div class="col-xs-6">
              <strong >Fecha de caducidad</strong> <br>
              <input class="form-control input-lg date-picker" placeholder="Fecha"  type="text" name="new_lot_expiration_date" id="new_lot_expiration_date">
            </div>
          </div>

        </div>
        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_concepts_open" class="col-xs-12">

          <table id="pharmacy_items" class="table" style="font-size: 11px;overflow-y: auto"   >
            <thead >
            <tr style="background: #00a5bb">
              <th width="10%" style="text-align: center;background: #00a5bb;color: white">Cantidad</th>
              <th width="35%" style="text-align: center;background: #00a5bb;color: white">Artículo</th>
              <th width="30%" style="text-align: center;background: #00a5bb;color: white">Lote (Si aplica)</th>
              <th width="15%" style="text-align: center;background: #00a5bb;color: white">F. caducidad</th>
              <th width="10%" style="text-align: center;background: #00a5bb;color: white"></th>
            </tr>
            </thead>
            <tbody style="font-size: 10px" id="pharmacy_items_body">

            </tbody>
          </table>
        </div>

      </div>

    </div>
    </form>
  </div>
  <div class="modal-footer">
    <div id="loading_image_open">
    </div>
    <div class="col-md-4">
      <label>Los campos con <strong style="color: red">*</strong>  son obligatorios</label>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" id="stamp_open_invoice_btn" onclick="save_movement()">Guardar</button>
      <a href="<%= cli_medicament_wastes_path %>" class="btn btn-danger">Atrás</a>
    </div>


  </div>
</div>
<%= hidden_field_tag 'url_check_quantity_waste', url_for(:controller => 'cli/medicament_wastes', :action => 'check_quantity', :only_path => false) %>
<%= hidden_field_tag 'url_check_quantity_waste_pharmacy', url_for(:controller => 'cli/medicament_wastes', :action => 'check_quantity_pharmacy', :only_path => false) %>
<%= hidden_field_tag 'url_get_lot', url_for(:controller => 'cli/medicament_assortments', :action => 'get_lot', :only_path => false) %>
<%= hidden_field_tag 'url_find_medicaments_pharmacy_items', medicaments_pharmacy_items_autocompletes_url %>
<%= hidden_field_tag 'url_get_waste_type', get_waste_type_cli_medicament_wastes_url %>
<%= hidden_field_tag 'url_save_movement', save_movements_cli_medicament_wastes_url %>


<div class="modal fade" id="delete_medicament_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_disease_title">Eliminar medicamento</h4>
      </div>
      <div class="modal-body">
        ¿Confirma que desea eliminar el medicamento?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete_medicament_btn" onClick="delete_medicament()">Eliminar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>




