<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-4">
        <div class="card-header">
    <h2>Lista de mermas de medicamentos</h2>
        </div>
      </div>
      <div class="col-xs-4">

  </div>
      <div class="col-xs-4">
        <% if can? :new, MedicamentWaste %>
        <%= link_to 'Agregar', new_cli_medicament_waste_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
      </div>
      <div class="col-xs-12">
        <strong>Seleccione el tipo de merma</strong>
        <select class="selectpicker form-control" id="waste_type">
          <option value="0">Mediccamentos</option>
          <option value="1">Artículos de farmacia</option>
        </select>
      </div>
      <div class="col-xs-12">
  <table id="data-table-medicament_wastes" class="table table-striped"  data-source="<%= cli_medicament_wastes_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id="date">Fecha</th>
    <th data-column-id="waste_type">Tipo salida</th>
    <th data-column-id="warehouse">Almacen</th>
    <th data-column-id="product">Lote/Articulo</th>
    <th data-column-id="quantity">Cantidad</th>
    <th data-column-id="cause">Razón</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
