<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <%= form_for [:cli, @pharmacy_waste], url: pharmacy_waste_save_cli_medicament_wastes_path , html: {:onsubmit => "return check_quantity_pharmacy();" } do |f| %>
          <% if @pharmacy_waste.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@pharmacy_waste.errors.count, "error") %> prohibited this attention type from being saved:</h2>

                <ul>
                  <% @pharmacy_waste.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="col-md-6 col-xs-12">
            <div class="">
              <strong>Almacen</strong><br>
              <%= f.select :warehouse_id, current_user.warehouses.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="">
              <strong>Articulo</strong><br>
              <%= f.select :pharmacy_item_id, PharmacyItem.all.map{|data| [data.code+" (" +data.description+")",data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-3 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :quantity,'Cantidad', :class=>"control-label" %><br>
              <%= f.number_field :quantity, :class => "form-control input-lg", :placeholder => "Cantidad" %>
            </div>
          </div>
          <div class="col-md-3 col-xs-12">
            <div class="form-group ">
              <%= f.label :waste_type_id,'Tipo salida', :class=>"control-label" %><br>
              <%= f.select :waste_type_id, WasteType.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :cause,'Razón', :class=>"control-label" %><br>
              <%= f.text_field :cause, :class => "form-control input-lg", :placeholder => "Indicar la razón de la merma" %>
            </div>
          </div>

          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= cli_medicament_wastes_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
      <% end %>

      <%= hidden_field_tag 'url_check_quantity_waste_pharmacy', url_for(:controller => 'cli/medicament_wastes', :action => 'check_quantity_pharmacy', :only_path => false) %>
