<p>Buen día </p>

Se adjunta el reporte de: <strong><%= @report.clinical_studies.first.name %></strong><br><br>
<strong>Paciente:</strong> <%= @report.medical_expedient.patient.full_name %>

<br><br><br><br>
<%= @report.medical_expedient.doctor.full_name_title %><br>
saludos