<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:cli, @supplier] do |f| %>
    <% if @supplier.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this attention type from being saved:</h2>

          <ul>
            <% @supplier.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :name,'Nombre', :class=>"control-label" %><br>
      <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Nombre" %>
    </div>
    </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :telephone,'Teléfono', :class=>"control-label" %><br>
              <%= f.text_field :telephone, :class => "form-control input-lg", :placeholder => "Ej. 9999999999 ext. 123" %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :address,'Dirección', :class=>"control-label" %><br>
              <%= f.text_field :address, :class => "form-control input-lg", :placeholder => "Dirección" %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :contact,'Contacto', :class=>"control-label" %><br>
              <%= f.text_field :contact, :class => "form-control input-lg", :placeholder => "Representante" %>
            </div>
          </div>

          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= cli_suppliers_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
<% end %>
