<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de proveedores</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, Supplier %>
          <%= link_to 'Agregar', new_cli_supplier_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-suppliers" class="table table-striped" data-source="<%= cli_suppliers_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Supplier %>"
         data-can-delete="<%= can? :destroy, Supplier %>">
  <thead>
  <tr>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="telephone">Teléfono</th>
    <th data-column-id="address">Dirección</th>
    <th data-column-id="contact">Contacto</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
