<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-header">
          <h2>Lista de servicios por categoría</h2>
        </div>
      </div>
      <div class="row">
      </div>
      <br><br>
      <div class="col-xs-4">
        <strong>Fecha inicio</strong>
        <input class="form-control date-picker input-lg " value="" type="text" name="start_date" id="start_date" aria-required="true" aria-invalid="false">
      </div>
      <div class="col-xs-4">
        <strong>Fecha fin</strong>
        <input class="form-control date-picker input-lg " value="" type="text" name="end_date" id="end_date" aria-required="true" aria-invalid="false">
      </div>
      <div class="col-xs-2">
        <input type="button" class="pull-right btn bgm-blue waves-effect" id="search_services_btn" value="Buscar">
      </div>
      <div class="col-xs-1">
        <input type="button" class="pull-right btn bgm-green waves-effect" id="export_excel_btn" value="Excel">
      </div>
      <div class="col-xs-1">
        <input type="button" class="pull-right btn bgm-purple waves-effect" id="export_pdf_btn" value="PDF">
      </div>

      <br><br><br>
      <div class="col-xs-12">

        <div id="services_table"></div>
      </div>
    </div></div>


</div>

<%= hidden_field_tag 'url_search_services', search_services_cli_hospital_service_categories_url %>
<%= hidden_field_tag 'url_export_services', url_for(:controller => 'cli/hospital_service_categories', :action => 'export_services', :only_path => false, :format => 'xls') %>
<%= hidden_field_tag 'url_print_services_report', report_service_category_pdfs_path%>

