<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Author>Tech</Author>
    <LastAuthor>Tech</LastAuthor>
    <Created>2017-06-26T18:48:28Z</Created>
    <LastSaved>2017-06-26T18:56:49Z</LastSaved>
    <Company>Microsoft</Company>
    <Version>16.00</Version>
  </DocumentProperties>
  <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
    <AllowPNG/>
  </OfficeDocumentSettings>
  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
    <WindowHeight>7650</WindowHeight>
    <WindowWidth>20490</WindowWidth>
    <WindowTopX>0</WindowTopX>
    <WindowTopY>0</WindowTopY>
    <ProtectStructure>False</ProtectStructure>
    <ProtectWindows>False</ProtectWindows>
  </ExcelWorkbook>
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom"/>
      <Borders/>
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s117" ss:Name="Default">
    </Style>
    <Style ss:ID="s18" ss:Name="Moneda">
      <NumberFormat
      ss:Format="_-&quot;$&quot;* #,##0.00_-;\-&quot;$&quot;* #,##0.00_-;_-&quot;$&quot;* &quot;-&quot;??_-;_-@_-"/>
    </Style>
    <Style ss:ID="s83">
      <Alignment ss:Vertical="Bottom"/>
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="20" ss:Color="#000000"
      ss:Bold="1"/>
    </Style>
    <Style ss:ID="s95" ss:Parent="s18">
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
      <Interior/>
    </Style>
    <Style ss:ID="s96">
      <Interior/>
    </Style>
    <Style ss:ID="s99" ss:Parent="s117">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
      <Interior/>
    </Style>
    <Style ss:ID="s103" ss:Parent="s117">
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
      <Interior/>
    </Style>
    <Style ss:ID="s111">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Interior/>
      <NumberFormat ss:Format="Short Date"/>
    </Style>
    <Style ss:ID="s114" ss:Parent="s117">
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"
      ss:Bold="1"/>
      <Interior/>
    </Style>
    <Style ss:ID="s115">
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
      ss:Bold="1"/>
      <Interior/>
    </Style>
    <Style ss:ID="s165">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="20" ss:Color="#000000"
      ss:Bold="1"/>
      <Interior ss:Color="#9BC2E6" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s169" ss:Parent="s117">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
      ss:Bold="1"/>
      <Interior ss:Color="#9BC2E6" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s222">
      <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
      <Interior/>
    </Style>
    <Style ss:ID="s223" ss:Parent="s18">
      <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
      <Interior/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Hoja1">
    <Table ss:ExpandedColumnCount="5" ss:ExpandedRowCount="13" x:FullColumns="1"
           x:FullRows="1" ss:DefaultColumnWidth="60" ss:DefaultRowHeight="15">
      <Column ss:Width="149.25"/>
      <Column ss:AutoFitWidth="0" ss:Width="98.25"/>
      <Column ss:AutoFitWidth="0" ss:Width="72"/>
      <Row ss:Height="26.25">
        <Cell ss:MergeAcross="2" ss:StyleID="s165"><Data ss:Type="String">Reporte de servicios</Data></Cell>
        <Cell ss:StyleID="s83"/>
        <Cell ss:StyleID="s83"/>
      </Row>
      <Row>
        <Cell ss:StyleID="s96"/>
        <Cell ss:StyleID="s96"/>
        <Cell ss:StyleID="s96"/>
      </Row>
      <Row ss:Height="15.75">
        <Cell ss:StyleID="s115"><Data ss:Type="String">Fecha inicial:</Data></Cell>
        <Cell ss:StyleID="s99"><Data ss:Type="String"><%= @initial_date %></Data></Cell>
        <Cell ss:StyleID="s96"/>
      </Row>
      <Row ss:Height="15.75">
        <Cell ss:StyleID="s115"><Data ss:Type="String">Fecha final:</Data></Cell>
        <Cell ss:StyleID="s99"><Data ss:Type="String"><%= @end_date %></Data></Cell>
        <Cell ss:StyleID="s96"/>
      </Row>
      <Row>
        <Cell ss:StyleID="s96"/>
        <Cell ss:StyleID="s96"/>
        <Cell ss:StyleID="s96"/>
      </Row>
      <Row ss:Height="15.75">
        <Cell ss:StyleID="s169"><Data ss:Type="String">Categoría</Data></Cell>
        <Cell ss:StyleID="s169"><Data ss:Type="String">Número de veces</Data></Cell>
        <Cell ss:StyleID="s169"><Data ss:Type="String">Costo total</Data></Cell>
      </Row>
      <% total = 0
          services_total = 0%>
      <% @export_info.each do |info| %>
          <% puts  info.values[2]
            puts info.values[3]
            total += info.values[2].to_f
            services_total += info.values[3] %>
          <Row>
            <Cell ss:StyleID="s103"><Data ss:Type="String"><%= info.values[1] %></Data></Cell>
            <Cell ss:StyleID="s99"><Data ss:Type="String"><%= info.values[3] %></Data></Cell>
            <Cell ss:StyleID="s95"><Data ss:Type="Number"><%= info.values[2] %></Data></Cell>
          </Row>
      <% end %>
      <Row>
        <Cell ss:StyleID="s103"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="s96"/>
        <Cell ss:StyleID="s95"/>
      </Row>
      <Row>
        <Cell ss:StyleID="s103"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="s96"/>
        <Cell ss:StyleID="s96"/>
      </Row>
      <Row>
        <Cell ss:StyleID="s114"><Data ss:Type="String">Total de servicos realizados</Data></Cell>
        <Cell ss:StyleID="s222"><Data ss:Type="Number"><%= services_total %></Data></Cell>
        <Cell ss:StyleID="s96"/>
      </Row>
      <Row>
        <Cell ss:StyleID="s114"><Data ss:Type="String">Costo total</Data></Cell>
        <Cell ss:StyleID="s223"><Data ss:Type="Number"><%= total %></Data></Cell>
        <Cell ss:StyleID="s96"/>
      </Row>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageSetup>
        <Header x:Margin="0.3"/>
        <Footer x:Margin="0.3"/>
        <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
      </PageSetup>
      <Print>
        <ValidPrinterInfo/>
        <PaperSizeIndex>9</PaperSizeIndex>
        <HorizontalResolution>600</HorizontalResolution>
        <VerticalResolution>0</VerticalResolution>
      </Print>
      <Selected/>
      <Panes>
        <Pane>
          <Number>3</Number>
          <RangeSelection>R1C1:R13C3</RangeSelection>
        </Pane>
      </Panes>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
  </Worksheet>
</Workbook>