<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de categorías para servicios</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, HospitalServiceCategory %>
          <%= link_to 'Agregar', new_cli_hospital_service_category_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-hospital_service_categories" class="table table-striped" data-source="<%= cli_hospital_service_categories_url(format: "json")%>"
         data-can-edit="<%= can? :edit, HospitalServiceCategory %>"
         data-can-delete="<%= can? :destroy, HospitalServiceCategory %>">
  <thead>
  <tr>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
