<style>

  #charges_table_content{
    width: 100%;
    padding-top: 1cm;
  }

  #charges_table_content thead th{
    font-size: 14px;
    text-align: center;
  }
  #charges_table_content tr td{
    font-size: 12px;
  }

  #charges_table_content tr td{

  }
  .in_center{
    text-align: center;
  }
  .in_left{
    text-align: center;
  }


  #params table{
    font-size: 12px;
  }


  .float{
    float: left;
  }

  .logo{
    width: 20%;
    padding-top: 0.5cm;
  }

  .text{
    width: 80%;
  }


</style>

<div>
  <div class="float logo">
    <% clinic_info = ClinicInfo.first %>
    <% if !clinic_info.logo_identifier.nil? %>
        <%= wicked_pdf_image_tag_for_public clinic_info.logo.url,:width => "60" %>
    <% else %>
        <%= wicked_pdf_image_tag 'imagotipo-azul.png',:width => "60" %>
    <% end %>
  </div>
  <div class="float text">
    <h2 style="margin: 0; padding-left: 3cm;padding-top: 1cm">Reporte de servicios</h2>
  </div>
</div>

<div style="clear: both;">
</div>

<br>

<div id="params">
  <table>
    <tr>
      <td><strong>Fecha Inicio:</strong></td>
      <td><%= @start_date %></td>
    </tr>
    <tr>
      <td><strong>Fecha Fin:</strong></td>
      <td><%= @end_date %></td>
    </tr>
  </table>
  <br>
</div>

<table id='charges_table_content' class='table table-striped'><thead><tr>
  <th>Categoría</th>
  <th>Número de veces</th>
  <th style="text-align: right">Costo total</th>
</tr></thead><tbody>
<%
  total_amount = 0;
  total_services = 0;
  @export_info.each do |t|
  total_services += t[:number]
  total_amount += t[:total].to_f
%>  <tr>
  <td style="text-align: left"><%= t[:name] %></td>
  <td class="in_center"><%= t[:number]%></td>
  <td style="text-align: right"><%= number_to_currency(t[:total],:unit => "$") %></td>
</tr>
<%
  end
%>

<tr style="font-weight: bold">
  <td class="in_center" >Totales</td>
  <td class="in_center"><%= total_services%></td>
  <td style="text-align: right"><%= number_to_currency(total_amount,:unit => "$") %></td>
</tr>
</tbody></table>