<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:admin, @application_age] do |f| %>
  <% if @application_age.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application_age.errors.count, "error") %> prohibited this application_age from being saved:</h2>

      <ul>
      <% @application_age.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

          <div class="col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :age, :class=>"control-label"  %><br>
              <%= f.text_field :age, :class =>  "form-control input-lg required", :placeholder => "Edad"  %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :age_type, :class=>"control-label"  %><br>
              <%= f.text_field :age_type, :class =>  "form-control input-lg required number", :placeholder => "Tipo Edad"  %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :dose, :class=>"control-label"  %><br>
              <%= f.text_field :dose, :class =>  "form-control input-lg required", :placeholder => "Dosis"  %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :comments, :class=>"control-label"  %><br>
              <%= f.text_field :comments, :class =>  "form-control input-lg ", :placeholder => "Comentarios"  %>
            </div>
          </div>

          <div class="col-xs-12">
            Vacuna: <br>
            <div class="btn-group bootstrap-select">
              <%= f.select :vaccine_id,
                           Vaccine.all.collect {|p| [ (p.name), p.id ] },
                           {}, class: 'selectpicker' %>
            </div>
          </div>


          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_application_ages_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
          </div>
<% end %>
