
<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de Vacunación</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, ApplicationAge %>
        <%= link_to 'Agregar', new_admin_application_age_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>

      <div class="col-xs-12">
  <table id="data-table-application-age" class="table table-striped" data-source="<%= admin_application_ages_url(format: "json")%>"
         data-can-edit="<%= can? :edit, ApplicationAge %>"
         data-can-delete="<%= can? :destroy, ApplicationAge %>">
  <thead>
    <tr>
      <th data-column-id="id">ID</th>
      <th data-column-id="vaccine">VACUNA</th>
      <th data-column-id="age">EDAD</th>
      <th data-column-id="age_type">Edad Tipo</th>
      <th data-column-id="dose">DOSIS</th>
      <th data-column-id="comments">COMENTARIOS</th>
      <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
