<style>
    .button-link {
        padding: 10px 15px;
        background: #4479BA;
        color: #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: solid 1px #20538D;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
    }
    .button-link:hover {
        background: #356094;
        border: solid 1px #2A4E77;
        text-decoration: none;
    }
    .button-link:active {
        -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        background: #2E5481;
        border: solid 1px #203E5F;
    }
</style>

<table width="100%">
  <tbody>
  <tr style="text-align: justify;">
    <td style="width: 15%;"></td>
    <td style="width: 75%;">
      <h2>Bienvenido a Medsi, la plataforma que te ayudará a llevar el control de tu salud.</h2>
    </td>
  </tr>
  <tr style="text-align: justify;">
    <td style="width: 15%"></td>
    <td style="width: 75%; font-size: 1.5em;">
      <p><strong>Con Medsi podrás:</strong></p>
      <dl>
        <dt>Tener el historial de tus consultas.</dt>
        <dt>Tener disponible tus recetas de forma electrónica.</dt>
        <dt>Solicitar una cita con tu médico.</dt>
        <dt>Buscador Médico.</dt>
      </dl>
    </td>
  </tr>
  <tr style="text-align: justify;">
    <td style="width: 15%"></td>
    <td style="width: 75%">
      <a href='<%= @url %>' class="button-link" style="
      padding: 10px 15px;
              background: #2ABDD4;
              color: #FFF;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
              border: solid 1px #20538D;
              text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
              -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
              -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
              box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
              -webkit-transition-duration: 0.2s;
              -moz-transition-duration: 0.2s;
              transition-duration: 0.2s;
              -webkit-user-select:none;
              -moz-user-select:none;
              -ms-user-select:none;
              user-select:none;
      "> Ingresar a Medsi</a>
    </td>
  </tr>
  <tr style="text-align: justify;">
    <td style="width: 15%;"></td>
    <td style="width: 75%;"><br><br></td>
  </tr>
  </tbody>
</table>