<h2>Paquetes de estudios</h2>

<div class="card">
  <div class="card-body card-padding">

    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-success" id="add_package_btn">Agregar Paquete</a>
        <a class="btn btn-primary" id="add_study_btn">Agregar Estudios a Paquete</a>
        <br><br><br>

      </div>
    </div>


    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <% @packages.each do |package| %>
          <div class="panel panel-collapse">
            <div class="panel-heading" role="tab" id="heading_pack_<%= package.id %>">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#pack_<%= package.id %>" aria-expanded="true" aria-controls="pack_<%= package.id %>">
                  <%= package.name %>
                </a>
              </h4>
            </div>
            <div id="pack_<%= package.id %>" class="collapse in" role="tabpanel" aria-labelledby="heading_pack_<%= package.id %>">
              <div class="panel-body">
                <table class="table">
                  <% package.clinical_studies.each do |cs| %>

                  <tr>
                    <td><%= cs.name %></td>
                    <td>
                      <i style="font-size: 18px; cursor: pointer;" class="zmdi zmdi-delete delete_study_from_package" package="<%= package.id %>" study="<%= cs.id %>"></i>
                    </td>
                  </tr>

                  <% end %>
                </table>
              </div>
            </div>
          </div>
      <% end %>
    </div>


  </div>
</div>

<div class="modal fade" id="add_package_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Agregar paquete</h4>
      </div>
      <div class="modal-body">
        <strong>Nombre:</strong>
        <input type="text" class="form-control input-lg" id="package_name" placeholder="Ingrese el nombre">
        <input type="hidden" id="package_lab_id" value="<%= @lab_id %>">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_package_btn">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="add_study_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Agregar estudio</h4>
      </div>
      <div class="modal-body">
        <strong>Paquete:</strong>
        <select class="selectpicker form-control" id="package_id">
          <% @packages.each do |package| %>
          <option value="<%= package.id %>"><%= package.name %></option>
          <% end %>
        </select>
        <br><br>
        <strong>Seleccione una categoría para filtrar los estudios disponibles:</strong>
        <select class="selectpicker form-control" id="category_id">
          <option value="">Seleccione una categoría</option>
          <% @categories.each do |cat| %>
              <option value="<%= cat.id %>"><%= cat.name %></option>
          <% end %>
        </select>

        <br><br>
        <strong>Estudio:</strong>
        <select class="selectpicker form-control" id="study_id" multiple>
        </select>

        <br><br>

        <div class="alert alert-success" id="success_add_study_message" style="display: none;">
          <strong><i class="zmdi zmdi-check" style="margin-right: 16px;"></i></strong> Los estudios se agregaron exitosamente.
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_study_btn">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="packages_url" value="<%= doctor_study_packages_path %>">
<input type="hidden" id="studies_by_category_url" value="<%= get_by_category_doctor_clinical_studies_path %>">
<input type="hidden" id="add_study_url" value="<%= add_study_doctor_study_packages_path %>">
<input type="hidden" id="delete_study_url" value="<%= remove_study_doctor_study_packages_path %>">