<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-header">
          <h2>Lista de cobros</h2>
        </div>
      </div>
      <div class="row">
      <div class="col-md-offset-1 col-xs-offset-1 col-md-6 col-xs-6">
        <strong>Tipo de cobro</strong>
        <select id="type_to_invoicee" class="selectpicker form-control">
          <option value="1">Consultas</option>
          <option value="2">Estudios</option>
        </select>
      </div>
      </div>
      <br><br>
        <div class="col-xs-4">
          <strong>Fecha inicio</strong>
          <input class="form-control date-picker input-lg " value="" type="text" name="start_date" id="start_date" aria-required="true" aria-invalid="false">
        </div>
        <div class="col-xs-4">
          <strong>Fecha fin</strong>
          <input class="form-control date-picker input-lg " value="" type="text" name="end_date" id="end_date" aria-required="true" aria-invalid="false">
        </div>
        <div class="col-xs-2">
          <input type="button" class="pull-right btn bgm-blue waves-effect" onclick="search_invoices()" value="Buscar">
        </div>
        <div class="col-xs-2">
          <input type="button" class="pull-right btn bgm-green waves-effect" onclick="create_general_invoice()" value="Facturar">
        </div>

      <br><br><br>
      <div class="col-xs-12">

        <div id="general_invoices_table"></div>
      </div>
     </div></div>


</div>

<%= hidden_field_tag 'url_search_invoices', url_for(:controller => 'doctor/transactions', :action => 'search_invoices', :only_path => false) %>
<%= hidden_field_tag 'url_get_docinfo_action', url_for(:controller => 'doctor/transactions', :action => 'getDocFiscalInfo', :only_path => false) %>
<%= hidden_field_tag 'url_stamp_general_action', url_for(:controller => 'doctor/transactions', :action => 'stamp_general_invoice', :only_path => false) %>

<div class="modal fade" id="create_invoice_general_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Generar factura</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">
            <div class="row">
              <div class="col-xs-12">
                <div class="new_invoice_section">
                  Datos del emisor
                </div>
                <div class="row fiscal_info" id="ge_fiscal_emisor"></div>

              </div>
              <br>
              <div class="col-xs-12">
                <div class="new_invoice_section">
                  Conceptos
                </div>
                <div id="ge_table_invoice"></div>
              </div>
              <div class="col-xs-6">
                <strong >Forma de pago:</strong> <br>
                <select class="selectpicker form-control bs-select-hidden" id="ge_payment_type">
                  <%  PaymentWay.all.each do |s| %>
                      <option value="<%= s.id %>"><%=  s.name   %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-xs-6">
                <strong >Condiciones de pago:</strong> <br>
                <input type="text" class="form-control input-lg" value="Contado" disabled>
              </div>
              <div class="col-xs-6">
                <strong >Metodo de pago:</strong> <br>
                <div class="col-xs-9">
                  <textarea class="form-control input-lg" id="payment_methods_box_general" rows="2" style="font-size: small" disabled></textarea>
                </div>
                <div class="col-xs-1" style="z-index: 1">
                  <a  onclick='openPaymentMethodsgeneral()'  class="btn bgm-green btn-icon waves-effect waves-circle waves-float btn-show"  ><i class="zmdi zmdi-plus-circle-o zmdi-hc-fw" title="Agregar"></i></a>
                </div>
                <div class="col-xs-1">

                  <a  onclick='clearPaymentMethodsgeneral()'  class="btn bgm-orange btn-icon waves-effect waves-circle waves-float btn-show"  ><i class="zmdi zmdi-time-restore-setting zmdi-hc-fw  " title="Limpiar"></i></a>
                </div>
                <div class="col-xs-1">
                  <span></span>
                </div>
              </div>
              <div class="col-xs-6" id="account_div">
                <strong >Número de cuenta (si aplica):</strong> <br>
                <input type="text" class="form-control input-lg" id="ge_account_number" >
              </div>
            </div>
          </div>
        </form>
      </div>
      <input type="hidden"  id="ge_total" >
      <input type="hidden"  id="ge_iva" >
      <input type="hidden"  id="ge_iva_importe" >
      <input type="hidden"  id="ge_conceptos" >
      <input type="hidden"  id="ge_cant_conceptos" >
      <input type="hidden"  id="transactions_id" >
      <input type="hidden"  id="ge_subtotal">
      <div class="modal-footer">
        <div id="ge_loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="stamp_general_button" onclick="stamp_invoice_general()">Facturar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="select_pay_method_general" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">
            <div class="row">
              <br>
              <div class="col-xs-12">
                <strong >Metodo de pago:</strong> <br>
                <select class="selectpicker form-control bs-select-hidden" id="payment_method_general" >
                  <%  PaymentMethod.all.each do |s| %>
                      <option value="<%= s.code %>"><%=  s.name   %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="send_email_btn" onclick="add_payment_methodgeneral()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>