<h4>
  Estimado(a) <%= @patient.full_name %>
</h4>

<br>

<div style="font-size: 18px;">

  Lamentamos informarte que tu cita ha sido cancelada  por <%= @activity.doctor.gender_id == Gender::MAN ? 'el Dr.':'la Dra.' %>
  <%= @activity.doctor.full_name %><br>
  El motivo de la cancelación es el siguiente: <br><br>

  <%= @message %>

</div>
<hr>
<div>
  MEDSI<br>
  Conectando tu Salud
</div>