<h4>
  Estimado(a) <%= @patient.full_name %>
</h4>

<br>

<div style="font-size: 18px;">
  Tu cita ha sido reagendada por <%= @activity.doctor.gender_id == Gender::MAN ? 'el Dr.':'la Dra.' %>
  <%= @activity.doctor.full_name %>.
  <br>
  A continuación te presentamos los detalles de como finalmente ha quedado registrada tu cita:<br><br>

  <%
    days = ["Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"]
    months = ["","Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]
  %>

  <strong>Doctor: </strong> <%= @activity.doctor.full_name %><br>
  <strong>Consultorio: </strong> <%= @activity.offices.first.name %><br>
  <strong>Dirección: </strong> <%= @activity.offices.first.address %><br>
  <strong>Teléfono: </strong> <%= @activity.offices.first.telephone %><br>
  <strong>Fecha: </strong> <%= days[@activity.start_date.strftime('%w').to_i] %> <%= @activity.start_date.strftime('%d') %> de
  <%= months[@activity.start_date.strftime('%_m').to_i] %> de <%= @activity.start_date.strftime('%Y') %> a las <%= @activity.start_date.strftime('%l:%M %p') %>

  <br><br>

  Le recordamos presentarse con 10 min. de anticipación para evitar contratiempos. <br>
</div>
<hr>
<div>
  MEDSI<br>
  Conectando tu Salud
</div>
