<style>
  .news_title a{
    font-size: 35px;
    color: #0a0a0a;
  }

  .news_summary{
    font-size: 18px;
    color: #666666;
  }
</style>

<div style="background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%); padding-bottom: 20px; padding-top: 30px;">
    <div class="container">
      <div class="row search_form_item">
        <div class="col-md-2">
          <a href="<%= index_path %>"><img src="<%= image_path('index_page/logo.png') %>" class="animated fadeInDown" alt=""></a>
        </div>

        <div class="col-md-10">
          <div style="text-align: center;">
            <strong style="color: white; font-size: 25px;">Noticias</strong>
          </div>

        </div>

      </div>
    </div>
</div>

<div class="container" style="padding-top: 30px;padding-bottom: 30px;">

  <% @news.each do |n| %>

      <div class="col-md-4">

        <% if n.banner.present? %>
            <img src="<%= get_banner_admin_news_items_path(n.id) %>" style="width: 100%">
        <% end %>

        <div class="news_title">
          <a href="<%= news_path(n.id) %>"><%= n.title %></a>
        </div>
        <div class="news_summary" style="padding-bottom: 15px;">
          <%= n.summary %>
        </div>
        <div>
          Publicado el: <%= n.updated_at.strftime('%d/%m/%Y') %>
        </div>

      </div>

  <% end %>
</div>