<style>
  #news_title{
    margin-top: 30px;
    font-size: 40px;
  }

  #news_summary{
    font-size: 22px;
  }

  #news_content{
    padding-top: 40px;
    font-size: 17px;
    padding-bottom: 40px;
  }

  #news_date{
    text-align: right;
    font-size: 17px;
    padding: 10px;
  }

  #author_data{
    font-size: 14px;
    text-align: right;
    padding-bottom: 40px;
  }

  #author_name a{
    color: #5e5e5e;
  }

  #author_twitter_icon{
    margin-left: 10px;
  }

  #share_icons div.icon{
    width: 100px;
    height: 20px;
    float: left;
  }

  .twitter-share-button{
    position: relative;
    height: 20px;
    padding: 1px 8px 1px 6px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: #1b95e0;
    border-radius: 3px;
    box-sizing: border-box;
  }

  .twitter-share-button:hover{
    color: #fff;
  }

  .twitter-share-button:visited{
    color: #fff;
  }

  #author_image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
  }
</style>

<div style="background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%); padding-bottom: 20px; padding-top: 30px;">
  <div class="container">
    <div class="row search_form_item">
      <div class="col-md-2">
        <a href="<%= index_path %>"><img src="<%= image_path('index_page/logo.png') %>" class="animated fadeInDown" alt=""></a>
      </div>

      <div class="col-md-10">
      </div>

    </div>
  </div>
</div>
<div class="container" style="margin-top: 50px; margin-bottom: 30px;">
  <div id="news_banner">

    <% if @news_item.banner.present? %>
        <img src="<%= get_banner_admin_news_items_path(@news_item.id) %>" style="width: 100%">
    <% end %>

  </div>
  <div id="news_title">
    <%= @news_item.title %>
  </div>
  <div id="news_summary">
    <%= @news_item.summary %>
  </div>
  <div id="news_content">
    <%= @news_item.content.html_safe %>
  </div>
  <div id="news_date">
    Publicado el: <%= @news_item.updated_at.strftime('%d/%m/%Y') %>
  </div>

  <div id="share_icons" class="row">

    <div class="col-md-1 col-xs-2" id="facebook_share_btn">
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your share button code -->
      <div class="fb-share-button"
           data-href="<%= news_url(@news_item.id) %>"
           data-layout="button_count">
      </div>
    </div>

    <div class="col-md-1 col-xs-2" id="twitter_tweet_btn">
      <a class="twitter-share-button"
         target="_blank"
         href="https://twitter.com/intent/tweet?text=<%= 'He leído un artículo muy interesante, lo puedes consultar en: '+news_url(@news_item.id) %>"
         data-size="large">
        <i class="zmdi zmdi-twitter"></i>
        Tweet</a>
    </div>


  </div>

  <div id="author_data">
    <% if @news_item.author.profile_image.present? %>
        <img id="author_image" src="<%= get_picture_admin_authors_path(@news_item.author.id) %>"><br>
    <% end %>
    <span id="author_name">
      Por : <a href="mailto:<%= @news_item.author.email %>"><%= @news_item.author.full_name %></a>
      <% if @news_item.author.twitter.present? %>
          <br>
      <a style="text-decoration: none;" target="_blank" id="author_twitter_icon" href="https://twitter.com/<%= @news_item.author.twitter %>">
        <i class="fa fa-twitter" aria-hidden="true"></i> @<%= @news_item.author.twitter %>
      </a>
      <% end %>
    </span><br>
    <span id="author_job_title"><%= @news_item.author.job_title %></span><br>
    <span id="author_company_title"><%= @news_item.author.company_title %></span>
  </div>

</div>