<div class="card">
  <div class="card-body card-padding">
    <div class="row">

<%= form_for [:admin, @rol] do |f| %>
    <% if @rol.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rol.errors.count, "error") %> prohibited this role from being saved:</h2>

          <ul>
            <% @rol.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :name, :class=>"control-label"  %><br>
      <%= f.text_field :name, :class =>  "form-control input-lg", :placeholder => "Nombre"  %>
    </div>
      </div>

          </div></div></div>

          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_operation_roles_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
          </div>
<% end %>
