<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:admin, @fixed_asset] do |f| %>
    <% if @fixed_asset.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fixed_asset.errors.count, "error") %> prohibited this attention type from being saved:</h2>

          <ul>
            <% @fixed_asset.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-12">
            <div class="form-group fg-line">
      <%= f.label :name,'Nombre', :class=>"control-label" %><br>
      <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Nombre" %>
    </div>
    </div>
          <div class="col-md-6">
            <div>
              <strong>Categoría</strong><br>
              <%= f.select :fixed_asset_category_id, FixedAssetCategory.all.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>

          <div class="col-md-6">

            <%
              color = [
                  ["bgm-red","Rojo"],
                  ["bgm-pink","Rosa"],
                  ["bgm-purple","Púrpura"],
                  ["bgm-deeppurple","Púrpura obscuro"],
                  ["bgm-indigo","Índigo"],
                  ["bgm-blue","Azul"],
                  ["bgm-lightblue","Azul claro"],
                  ["bgm-cyan","Turquesa"],
                  ["bgm-teal","Verde obscuro"],
                  ["bgm-green","Verde"],
                  ["bgm-lightgreen","Verde claro"],
                  ["bgm-lime","Verde lima"],
                  ["bgm-yellow","Amarillo"],
                  ["bgm-amber","Ámbar"],
                  ["bgm-orange","Naranja"],
                  ["bgm-deeporange","Naranja obscuro"],
                  ["bgm-brown","Café"],
                  ["bgm-gray","Gris"],
                  ["bgm-bluegray","Gris/Azul"],
                  ["bgm-black","Negro"]
              ]
            %>
            <div>
              <strong>Color</strong><br>
              <select name="fixed_asset[color]" id="fixed_asset_color" class="selectpicker form-control">
                <% color.each do |item| %>
                <option value="<%= item[0] %>" class="<%= item[0] %>" style="color: white;" <%= item[0] == @fixed_asset.color ? 'selected' : '' %>><%= item[1] %></option>
                <% end %>
              </select>
            </div>
          </div>


          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_fixed_assets_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
<% end %>
