<div class="block-header">
  <h2>Dashboard de activos fijos</h2>
</div>

<div class="card">
  <div class="card-body card-padding">

    <strong>Seleccione una categoría</strong>
    <select class="selectpicker form-control" id="main_category_asset">
      <option value="">Todas las categorías</option>
      <% FixedAssetCategory.all.each do |fac| %>
      <option value="<%= fac.id %>"><%= fac.name %></option>
      <% end %>
    </select>


    <div id="active_items_holder">

    </div>


  </div>
</div>

<%= hidden_field_tag 'dashboard_items_url', load_dashboard_items_admin_fixed_assets_path %>