<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de activos fijos</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, FixedAsset %>
          <%= link_to 'Agregar', new_admin_fixed_asset_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-fixed_assets" class="table table-striped" data-source="<%= admin_fixed_assets_url(format: "json")%>"
         data-can-edit="<%= can? :edit, FixedAsset %>"
         data-can-manage="<%= can? :manage_items, FixedAsset %>"
         data-can-delete="<%= can? :destroy, FixedAsset %>">
  <thead>
  <tr>
    <th data-column-id="id">ID</th>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="category">Categoría</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
