<hr>
<% last_category_id = 0 %>

<table class="table">

  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>

  <% @items.each do |item| %>
      <% if item.fixed_asset.fixed_asset_category_id != last_category_id %>
          <tr>
            <td colspan="4" style="text-align: center;">
              <h3><%= item.fixed_asset.fixed_asset_category.name %></h3>
            </td>
          </tr>
      <% end %>

      <tr>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= item.identifier %>
        </td>
        <td>
          <%= item.description %>
        </td>
        <td>
          <%= item.fixed_asset.name %>
        </td>
        <td>
          <a target="_blank" href="<%= schedule_admin_fixed_assets_path(item.id) %>" class="btn bgm-lightblue btn-icon waves-effect waves-circle waves-float" title="Ver agenda"><i class="zmdi zmdi-calendar"></i></a>
        </td>
      </tr>

      <% last_category_id = item.fixed_asset.fixed_asset_category_id %>
  <% end %>

  </tbody>

</table>


