<% if @fixed_asset.id!=nil %>
    <div class="card">
      <div class="card-body card-padding">
        <div class="row">

          <div class="col-xs-12 block-header">
            <h2>Elementos</h2>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group fg-float">
                <div class="fg-line">
                  <a data-toggle="modal" href="#addFixedAssetItemModal" onclick="setFixedAssetItem(<%= @fixed_asset.id %>)"><i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Agregar</a>
                </div><span class="input-group-addon"></span>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group fg-line">

              <table class="table">
                <thead>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Identificador</th>
                <th>Estado</th>
                <th>¿Calendariza?</th>
                <th></th>
                </thead>
                <tbody>
                <%  @fixed_asset.fixed_asset_items.each do |ic| %>
                    <%
                      if ic.state
                        state = "Disponible"
                        else
                        state = "No disponible"
                      end
                      if ic.schedule
                        schedule = "Si"
                      else
                        schedule = "No"
                      end
                    %>
                    <tr id="fixed_asset_item_<%= ic.id %>">
                      <td ><%= ic.name %></td>
                      <td ><%= ic.description %></td>
                      <td ><%= ic.identifier %></td>
                      <td ><%= state %></td>
                      <td ><%= schedule %></td>
                      <td>
                        <a data-toggle="modal" href="#addFixedAssetItemModal" onclick="setFixedAssetItemEdit(<%= @fixed_asset.id %>,<%= ic.id %>,'<%= ic.name %>','<%= ic.description %>','<%= ic.identifier %>'
                            ,'<%= ic.state %>','<%= ic.schedule %>')"><i class="zmdi zmdi-edit" style='font-size: 1.73em;'></i></a>
                        &nbsp;&nbsp;
                        <a data-toggle="modal" href="#delete_fixed_asset_item_modal" onclick="setupDeleteFixedAssetItem(<%= ic.id %>)"><i class="zmdi zmdi-delete" style='font-size: 1.73em;'></i></a>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>

            </div>
          </div>
        </div></div></div>

<% end %>



<div class="modal fade" id="addFixedAssetItemModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_fiscal_info_title">Agregar elemento</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>Nombre</strong></label>
                <input class="form-control input-lg" type="text" name="name" id="name" placeholder="Ingrese el Nombre">
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>Identificador</strong></label>
                <input class="form-control input-lg" type="text" name="identifier" id="identifier" placeholder="Ingrese un identificador">
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>Descripción</strong></label>
                <input class="form-control input-lg" type="text" name="description" id="description" placeholder="Ingrese la descripción">
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-6">
            <div class="checkbox">
              <label>
                <input type="checkbox"  name="state" id="state" >
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">Disponible</strong>
              </label>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="checkbox">
              <label>
                <input type="checkbox"  name="schedule" id="schedule" >
                <i class="input-helper"></i>
                <strong class="font_size_medical_history">¿El elemento se calendariza?</strong>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_fixed_asset_item_btn" onClick="saveFixedAssetItem(<%= @fixed_asset.id %>,'add',0)">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete_fixed_asset_item_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_specialty_title">Eliminar Elememto</h4>
      </div>
      <div class="modal-body">
        ¿Confirma que desea eliminar el elemento?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_specialty_btn" onClick="deleteFixedAssetItem()">Eliminar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>