<div class="block-header">
  <h2>Agenda de <%= @item.fixed_asset.name  %> - <%= @item.name  %></h2>
</div>
<input type="hidden" name="fixed_asset_item_id" id="fixed_asset_item_id" value="<%=@item.id%>">


<div class="col-md-9 col-xs-12">
  <div id="calendar_fixed_asset">
  </div>

</div>

<%= hidden_field_tag 'asset_activities_url', admin_asset_activities_path  %>
<%= hidden_field_tag 'url_get_fixed_asset_activities', url_for(:controller => 'admin/fixed_assets', :action => 'get_fixed_asset_activities', :only_path => false) %>


<!-- Add event -->
<div class="modal fade" id="addNew-event" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addEventTitle">Agregar Actividad</h4>
      </div>
      <div class="modal-body">
        <form class="addEvent" role="form">

          <div class="row">

            <div class="col-xs-12">
              <div class="form-group">
                <label for="eventName">Tipo</label>
                <div class="event-tag">
                  <% FixedAssetActivity.where("fixed_asset_id = #{@item.fixed_asset.id}").each do |at| %>
                  <span
                  data-tag="<%= at.color %>" style="background: <%= at.color %> "
                  class="<%= at.color %>" activity-type="<%= at.id %>"></span>
                      <strong class="activity_type_name"><%= at.name %></strong>&nbsp;&nbsp;&nbsp;
                  <% end %>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-xs-12">
              <br>
              <div class="form-group">
                <label for="activity_name">Actividad</label>
                <div class="fg-line">
                  <input type="text" class="input-sm form-control input-lg" id="activity_name" placeholder="Ingrese el nombre de la actividad">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_details">Detalles</label>
                <div class="fg-line">
                  <textarea class="input-sm form-control input-lg" id="activity_details" placeholder="Ingrese los detalles de la actividad"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group fg-line">
                <label for="activity_start_date">Fecha Inicio</label>
                <input class="form-control input-lg date-picker"
                       id="activity_start_date" placeholder="Fecha Inicio" type="text">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group fg-line">
                <label for="activity_start_time">Hora Inicio</label>
                <input class="form-control input-lg form-control time-picker"
                       id="activity_start_time" placeholder="H. Inicio" type="text">
              </div>
            </div>
            <div class="col-md-3">

              <div class="form-group fg-line">
                <label for="activity_end_date">Fecha Fin</label>
                <input class="form-control input-lg form-control date-picker"
                       id="activity_end_date" placeholder="Fecha Fin" type="text">
              </div>


            </div>
            <div class="col-md-3">
              <div class="form-group fg-line">
                <label for="activity_end_time">Hora Fin</label>
                <input class="form-control input-lg form-control time-picker"
                       id="activity_end_time" placeholder="H. Fin" type="text">
              </div>
            </div>
          </div>




        </form>
      </div>
      <input type="hidden" id="url_validate_date" value="<%= validate_date_doctor_activities_url %>"/>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="addEventCalendar">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>