<%= form_for [:admin, @hospital] do |f| %>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
    <% if @hospital.errors.any? %>
        <div id="error_explanation">
          <strong><%= pluralize(@hospital.errors.count, "error","errores") %> en el formulario:</strong>
          <ul>
            <% @hospital.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

      <div class="col-xs-12">
        <div class="form-group fg-line">
          <%= f.label :name, "Nombre" , :class=>"control-label bold"  %>
          <%= f.text_field :name, :class=>"form-control input-lg", :placeholder => "Nombre" %>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group fg-line">
          <%= f.label :description, "Descripción" , :class=>"control-label bold"  %>
          <%= f.text_area :description, :class=>"form-control input-lg", :placeholder => "Descripción" %>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group fg-line">
          <%
            city_id = ""
            if @hospital.city.nil?
              name = ""
            else
              name = @hospital.city.format_city_state_and_country
              city_id = @hospital.city.id
            end
          %>
          <strong>Ciudad</strong>
          <%= f.text_field :city_id, :city => city_id , :autocomplete => "off", :value => name, :class=>"form-control input-lg search-city", :id=>"admin_hospital_city_id", :placeholder => "Ciudad" %>
        </div>
      </div>

      </div>
    </div>
  </div>


    <div class="col-xs-6">

    </div>
    <div class="col-xs-6">
      <span class="col-xs-3"></span>
      <a href="<%= admin_hospitals_path %>" class="btn btn-danger col-xs-4">Atrás</a>
      <span class="col-xs-1"></span>
      <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
    </div>

<% end %>



