<p id="notice"><%= notice %></p>
<div class="card">
<div class="card-body card-padding">
  <div class="row">
    <div class="col-xs-6">
      <div class="card-header">
        <h2>Lista de Hospitales</h2>
      </div>
    </div>
    <div class="col-xs-6">
      <% if can? :new, Hospital %>
      <%= link_to 'Agregar', new_admin_hospital_path, class: "pull-right btn bgm-green waves-effect" %>
      <% end %>
  </div>
    <div class="col-xs-12">


      <table  id="data-table-hospitals" class="table table-striped" data-source="<%= admin_hospitals_url(format: "json")%>"
              data-can-edit="<%= can? :edit, Hospital %>"
              data-can-delete="<%= can? :destroy, Hospital %>">
        <thead>
        <tr>
          <th data-column-id="id">ID</th>
          <th data-column-id="name">NOMBRE</th>
          <th data-column-id="description">DESCRIPCIÓN</th>
          <th data-column-id="city">CIUDAD</th>
          <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
</div></div>
