<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de almacenes</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :manage_warehouse, Warehouse %>
            <%= link_to 'Asignacion de almacenes', manage_warehouse_admin_warehouses_path, class: "pull-left btn bgm-blue waves-effect" %>
        <% end %>
            <% if can? :new, Warehouse %>
          <%= link_to 'Agregar', new_admin_warehouse_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-warehouses" class="table table-striped" data-source="<%= admin_warehouses_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Warehouse %>"
         data-can-delete="<%= can? :destroy, Warehouse %>">
  <thead>
  <tr>
    <th data-column-id="id">ID</th>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
