<div class="card">
  <div class="card-header">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group fg-line">
          <strong>Nombre del usuario</strong>
          <input class="form-control input-lg search-person" placeholder="Ingrese el nombre del usuario" type="text" name="user_name" id="user_name" autocomplete="off" aria-required="true">
        </div>
      </div>
    </div>
    <div class="row" id="warehouses_div" >
      <% Warehouse.all.each do |warehouse| %>
          <div class="col-md-4">
            <div class="checkbox"style="padding-left: 20px">
              <label>
                <input type="checkbox" class="s_parent" value="<%=warehouse.id%>" id="warehouse_<%=warehouse.id%>">
                <i class="input-helper"></i>
                <strong class="font_size_medical_history"><%= warehouse.name %> </strong>
              </label>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<button class="btn btn-primary" onclick="saveWarehouses()" >Guardar Cambios</button>
<%= hidden_field_tag 'url_get_user_warehouses', url_for(:controller => 'admin/warehouses', :action => 'get_warehouses', :only_path => false) %>
<%= hidden_field_tag 'url_save_user_warehouses', url_for(:controller => 'admin/warehouses', :action => 'save_warehouses', :only_path => false) %>