<div class="col-md-12">
  <hr>
</div>
<div class="col-md-12">
  <strong>Tipo de Exploración:</strong>
  <%= exp.select :exploration_type_id, ExplorationType.all.collect {|c| [c.name, c.id]}, {:include_blank => "Seleccione un tipo de exploración"}, {:class => "selectpicker form-control"}  %>
  <br>
</div>

<div id="physical_exam" class="col-md-12">

  <div class="col-md-4">
    <strong>Mamas:</strong>
    <%= exp.text_area :breasts, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Abdomen:</strong>
    <%= exp.text_area :abdomen, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Cabeza y cuello:</strong>
    <%= exp.text_area :head, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Pulmones:</strong>
    <%= exp.text_area :lungs, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Extremidades:</strong>
    <%= exp.text_area :extremities, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Cardio:</strong>
    <%= exp.text_area :heart, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Otros:</strong>
    <%= exp.text_area :other, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>

</div>

<div id="vaginal_exam" class="col-md-12">
  <div class="col-md-4">
    <strong>Vulva:</strong>
    <%= exp.text_area :vulva, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Vagina:</strong>
    <%= exp.text_area :vagina, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Cervix:</strong>
    <%= exp.text_area :cervix, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Útero:</strong>
    <%= exp.text_area :uterine_height, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Ovarios:</strong>
    <%= exp.text_area :ovaries, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Edemas:</strong>
    <%= exp.text_area :edemas, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Anexos:</strong>
    <%= exp.text_area :annexed, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Recto-Vaginal</strong>
    <%= exp.text_area :rectum, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
  <div class="col-md-4">
    <strong>Pelvis:</strong>
    <%= exp.text_area :pelvis, class: "form-control consultation_field", placeholder: "Ingrese sus observaciones"  %>
  </div>
</div>
<div class="row">
  <div class="col-md-12"></div>
</div>