<div class="row">
  <div class="col-md-2">
    <label style="padding-bottom: 10px;">Tipo de Consulta:</label>
    <%= f.select :consultation_type_id, options_for_select(@consultation_types.map{ |ct| [ct.name, ct.id] }),{}, class: 'selectpicker form-control' %>
  </div>
  <div class="col-md-2">
    <label>Costo:</label>
    <%= f.text_field :price, class: "form-control input-lg", placeholder: "Pesos"  %>
  </div>
  <div class="col-md-3">
    <label style="padding-bottom: 10px;">Consultorio:</label>
    <%= f.select :office, options_for_select(@offices.map{ |office| [office.name, office.id] },session[:current_office_id]),
                 {}, class: 'selectpicker form-control' %>
  </div>
  <div class="col-md-3">
    <label>Fecha:</label>
    <%= f.text_field :date_consultation, class: 'form-control input-lg date-time-picker', placeholder: 'Fecha', value: DateTime.now.strftime('%m/%d/%Y %I:%m %p') %>
  </div>
  <div class="col-md-2" style="padding-top: 15px;">
    <a  title="Valoraciones" class="btn btn-primary waves-effect" id="show_vital_sign_btn">
      <i class="zmdi zmdi-border-color zmdi-hc-fw"></i>
    </a>
    <% if @has_gin %>
        <a title="Exploración" class="btn bgm-lightgreen waves-effect" id="show_exploration_btn">
          <i class="zmdi zmdi-view-comfy zmdi-hc-fw"></i>
        </a>
    <% end %>
    <a title="Anotaciones generales" class="btn bgm-gray waves-effect" id="show_general_anotations_btn">
      <i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i>
    </a>
  </div>
</div>