<div style="padding: 10px;">
  <select class="form-control selectpicker" id="save_uro_exploration" name="save_uro_exploration">
    <option value="no">No incluir exploración urológica</option>
    <option value="yes">Incluir exploración urológica</option>
  </select>
</div>

<div id="uro_exploration_form" style="padding: 10px; display: none;">
  <div class="col-md-12">
    <strong class="">Valoración Urológica</strong>
  </div>
  <%
    model_fields = {
        :lymph_nodes => "Ganglios linfáticos",
        :abdomen => "Abdomen",
        :bladder => "Vejiga",
        :lumbar_region => "Región Lumbar",
        :scrotum_testicles => "Escroto y testículos",
        :hernias => "Hernias",
        :epididymis_vessels => "Epidídimo y vasos",
        :penis => "Pene",
        :injuries => "Lesiones",
        :prostate => "Próstata",
        :seminal_vesicles => "Vesículas seminales",
    }

    options = ['1','0']
  %>
  <div id="" class="col-md-12">
    <table class="table">
      <tr>
        <td></td>
        <td><strong>NORMAL</strong></td>
        <td><strong>ANORMAL</strong></td>
      </tr>
      <% model_fields.each do |key, value| %>
          <tr>
            <td class="font_size_medical_history"><%= value %></td>
            <% options.each do |o| %>
                <td>
                  <div class="radio m-b-15">
                    <label>
                      <%= uro.radio_button key, o %>
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </td>
            <% end %>

          </tr>
      <% end %>
    </table>

    <strong class="font_size_medical_history">Notas:</strong>
    <%= uro.text_area :notes, :class => "form-control input-lg", :placeholder => "Ingrese sus observaciones " %>


  </div>

</div>