<div class="row">
  <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
    <label>Peso:</label>
    <div class="input-group">
      <%= a.text_field :weight, class: "form-control input-lg", placeholder: "Peso", value: @last_weight  %>
      <span class="input-group-addon last">Kg</span>
    </div>
  </div>
  <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
    <label>Altura:</label>
    <div class="input-group">
      <%= a.text_field :height, class: "form-control input-lg", placeholder: "Altura", value: @last_height  %>
      <span class="input-group-addon last">cm</span>
    </div>
  </div>
  <% if @has_gin %>
      <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
        <label>ECO/RCGT:</label>
        <div class="input-group">
          <%= a.text_field :eco_rctg, class: "form-control input-lg", placeholder: "ECO/RCGT" %>
          <span class="input-group-addon last"></span>
        </div>
      </div>
      <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
        <label>FU:</label>
        <div class="input-group">
          <%= a.text_field :fu, class: "form-control input-lg", placeholder: "FU" %>
          <span class="input-group-addon last"></span>
        </div>
      </div>
      <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
        <label>PRES:</label>
        <div class="input-group">
          <%= a.text_field :pres, class: "form-control input-lg", placeholder: "PRES" %>
          <span class="input-group-addon last"></span>
        </div>
      </div>
      <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
        <label>FF:</label>
        <div class="input-group">
          <%= a.text_field :ff, class: "form-control input-lg", placeholder: "FF" %>
          <span class="input-group-addon last"></span>
        </div>
      </div>
  <% end %>

  <div class="col-md-<%=@current_pregnancy.nil? ? '4':'6' %>">
    <label>TA</label>
    <div class="input-group">
      <%= a.text_field :systolic_pressure, class: "form-control input-lg", :value => @last_sp, placeholder: ""  %>
      <span class="input-group-addon">/</span>
      <%= a.text_field :diastolic_pressure, class: "form-control input-lg",:value => @last_dp, placeholder: ""  %>
      <span class="input-group-addon last">mmHg</span>
    </div>
  </div>
  <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
    <label>Temperatura:</label>
    <div class="input-group">
      <%= a.text_field :temperature, class: "form-control input-lg", placeholder: "Temperatura"  %>
      <span class="input-group-addon last">°C</span>
    </div>
  </div>
  <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
    <label>Glucosa:</label>
    <div class="input-group">
      <%= a.text_field :glucose, class: "form-control input-lg", placeholder: "Glucosa"  %>
      <span class="input-group-addon last">mg/dl</span>
    </div>
  </div>

  <% if @has_gin %>
      <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
        <label>VDRL:</label>
        <div class="input-group">
          <%= a.text_field :vdrl, class: "form-control input-lg", placeholder: "VDRL" %>
          <span class="input-group-addon last"></span>
        </div>
      </div>

      <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
        <label>EGO:</label>
        <div class="input-group">
          <%= a.text_field :ego, class: "form-control input-lg", placeholder: "EGO" %>
          <span class="input-group-addon last"></span>
        </div>
      </div>
  <% end %>

  <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
    <label>Otros:</label>
    <div class="input-group">
      <%= a.text_field :other, class: "form-control input-lg", placeholder: "Otros" %>
      <span class="input-group-addon last"></span>
    </div>
  </div>

  <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
    <label>I.M.C. :</label>
    <div class="input-group">
      <%= a.text_field :imc, class: "form-control input-lg", placeholder: "IMC", disabled:"disabled"  %>
      <span class="input-group-addon last">kg/m²</span>
    </div>
  </div>
  <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
    <label>Peso sugerido:</label>
    <div class="input-group">
      <%= a.text_field :suggested_weight, class: "form-control input-lg", placeholder: "Peso sugerido", disabled:"disabled"  %>
      <span class="input-group-addon last">Kg</span>
    </div>
  </div>
  <% if @has_ped %>
      <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
        <label class="">Circunferencia de la cabeza:</label>
        <div class="input-group">
          <%= a.text_field :head_circumference, class: "form-control input-lg", placeholder: "Circunferencia de la cabeza"  %>
          <span class="input-group-addon last">Cm</span>
        </div>
      </div>
  <% end %>
  <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
    <label>Lpm:</label>
    <div class="input-group">
      <%= a.text_field :heart_rate, class: "form-control input-lg", placeholder: "Lpm"  %>
      <span class="input-group-addon last">Lpm</span>
    </div>
  </div>
  <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
    <label class="">Rpm:</label>
    <div class="input-group">
      <%= a.text_field :breathing_frequency, class: "form-control input-lg", placeholder: "Rpm"  %>
      <span class="input-group-addon last">Rpm</span>
    </div>
  </div>
  <% if @has_ped %>
      <div class="col-md-<%=@current_pregnancy.nil? ? '2':'3' %>">
        <label class="">Saturación de oxigeno:</label>
        <div class="input-group">
          <%= a.number_field :oxygen_saturation, class: "form-control input-lg",:min => 0,:max=>100, placeholder: "Saturación de oxigeno"  %>
          <span class="input-group-addon last">%</span>
        </div>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-5">
    <% if @current_pregnancy.nil? %>
        <br>
        <button type="button" class="btn btn-info" id="btn-calculation-imc">Calcular IMC y Peso Sugerido</button>
    <% end %>
    <div id="error_weight_height">
      Agregue un peso y una altura válida
    </div>
    <div id="error_generate_table_imc">
      Agregue un peso y una altura válida
    </div>
  </div>
  <div class="col-md-1" id="loading_table_imc">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>

</div>