<div>
  Estimado(a) <%= @user_patient.full_name %>
</div>

<div style="margin-top: 20px;">
  Se ha confirmado la vinculación del expediente de <%= @expedient.patient.full_name %> con folio <%= @expedient.code %> a su cuenta.
</div>

<div style="margin-top: 20px;">
  MEDSI<br>
  Conectando tu salud
</div>