<%= form_for [:admin, @index_comment], html: {multipart: true}  do |f| %>
    <div class="card">
      <div class="card-body card-padding">
        <div class="row">
          <% if @index_comment.errors.any? %>
              <div id="error_explanation">
                <strong><%= pluralize(@index_comment.errors.count, "error","errores") %> en el formulario:</strong>
                <ul>
                  <% @index_comment.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :p_type, "Tipo de Persona" , :class=>"control-label bold"  %>
              <%= f.select(:p_type, options_for_select([['Doctor',IndexComment::DOCTOR],['Paciente',IndexComment::PATIENT]],@index_comment.p_type), {  }, { :class => "selectpicker form-control"}) %>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :prefix, "Prefijo" , :class=>"control-label bold"  %>
              <%= f.text_field :prefix, :class=>"form-control input-lg", :placeholder => "Prefijo" %>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :first_name, "Nombre" , :class=>"control-label bold"  %>
              <%= f.text_field :first_name, :class=>"form-control input-lg", :placeholder => "Nombre" %>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :last_name, "Apellido" , :class=>"control-label bold"  %>
              <%= f.text_field :last_name, :class=>"form-control input-lg", :placeholder => "Apellido" %>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :gender, "Genero" , :class=>"control-label bold"  %>
              <%= f.select(:gender, options_for_select([['Hombre','Hombre'],['Mujer','Mujer']],@index_comment.gender), {  }, { :class => "selectpicker form-control"}) %>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%
                date_s = ''
                if !@index_comment.birth_date.nil?
                  date_s = @index_comment.birth_date.strftime('%d/%m/%Y')
                end
              %>
              <%= f.label :birth_date, "Fecha de Nacimiento" , :class=>"control-label bold"  %>
              <%= f.text_field :birth_date, :class=>"form-control input-lg date-picker", :placeholder => "día/mes/año", :value => date_s %>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :job_title, "Título" , :class=>"control-label bold"  %>
              <%= f.text_field :job_title, :class=>"form-control input-lg", :placeholder => "Título" %>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :university, "Universidad" , :class=>"control-label bold"  %>
              <%= f.text_field :university, :class=>"form-control input-lg", :placeholder => "Universidad" %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :comments, "Comentarios" , :class=>"control-label bold"  %>
              <%= f.text_area :comments, :class=>"form-control input-lg", :placeholder => "Comentarios" %>
            </div>
          </div>


          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :photo, "Foto", :class=>"control-label"  %>
              <br>
              <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-primary btn-file m-r-10">
                  <span class="fileinput-new">Seleccionar Imagen</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="index_comment[photo]">
              </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="checkbox m-b-15">
              <label>
                <%= f.check_box :active %>
                <i class="input-helper"></i> Activo
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="col-xs-6">

    </div>
    <div class="col-xs-6">
      <span class="col-xs-3"></span>
      <a href="<%= admin_index_comments_path %>" class="btn btn-danger col-xs-4">Atrás</a>
      <span class="col-xs-1"></span>
      <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
    </div>

<% end %>

