<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">

      <div class="col-xs-6">
        <%= link_to 'Agregar Comentario', new_admin_index_comment_path, class: 'btn bgm-green waves-effect' %>
      </div>

      <hr>

      <div class="card-header">
        <h2>Lista de doctores</h2>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Título</th>
          <th>Universidad</th>
          <th>Comentarios</th>
          <th>Estado</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @doctors.each do |d| %>
        <tr>
          <td>
            <% if !d.photo.nil? %>
                <img width="100" src = "<%= image_url(profile_image_admin_index_comments_path(d)) %>">
            <% end %>
          </td>
          <td>
            <%= d.full_name(true) %>
          </td>
          <td>
            <%= d.job_title %>
          </td>
          <td>
            <%= d.university %>
          </td>
          <td style="max-width: 400px;">
            <%= d.comments %>
          </td>
          <td>
            <%
              l_class = 'danger'
              if d.active
                l_class = 'success'
              end
            %>

            <label class="label label-<%= l_class %>"><%= d.active ? 'Activo' : 'Inactivo' %></label>
          </td>
          <td>
            <a href="<%= edit_admin_index_comment_path d %>" class="btn bgm-amber btn-icon waves-effect waves-circle waves-float btn-edit" title="Editar"><i class="zmdi zmdi-edit"></i></a>
            <a onclick="deleteComment('<%= admin_index_comment_path d.id %>',<%= d.id %>)" class="btn btn-danger btn-icon waves-effect waves-circle waves-float btn-edit" title="Eliminar"><i class="zmdi zmdi-delete"></i></a>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>


      <div class="card-header">
        <h2>Lista de pacientes</h2>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Comentarios</th>
          <th>Estado</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @patients.each do |d| %>
            <tr>
              <td>
                <% if !d.photo.nil? %>
                    <img width="100" src = "<%= image_url(profile_image_admin_index_comments_path(d)) %>">
                <% end %>
              </td>
              <td>
                <%= d.full_name(false) %>
              </td>
              <td>
                <%= d.comments %>
              </td>
              <td>
                <%
                  l_class = 'danger'
                  if d.active
                    l_class = 'success'
                  end
                %>

                <label class="label label-<%= l_class %>"><%= d.active ? 'Activo' : 'Inactivo' %></label>
              </td>
              <td>
                <a href="<%= edit_admin_index_comment_path d %>" class="btn bgm-amber btn-icon waves-effect waves-circle waves-float btn-edit" title="Editar"><i class="zmdi zmdi-edit"></i></a>
                <a onclick="deleteComment('<%= admin_index_comment_path d.id %>',<%= d.id %>)" class="btn btn-danger btn-icon waves-effect waves-circle waves-float btn-edit" title="Eliminar"><i class="zmdi zmdi-delete"></i></a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div></div>
