<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de laboratorios</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, Laboratory %>
          <%= link_to 'Agregar', new_admin_laboratory_path, class: "pull-right btn bgm-green waves-effect" %>
            <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-laboratory" class="table table-striped" data-source="<%= admin_laboratories_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Laboratory %>"
         data-can-show="<%= can? :show, Laboratory %>"
         data-can-delete="<%= can? :destroy, Laboratory %>">
    <thead>
    <tr>
      <th data-column-id="id" data-type="numeric">ID</th>
      <th data-column-id="name">NOMBRE</th>
      <th data-column-id="address">DIRECCIÓN</th>
      <th data-column-id="telephone">TELÉFONO</th>
      <th data-column-id="email">EMAIL</th>
      <th data-column-id="city">CIUDAD</th>
      <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
      <th data-column-id="configs" data-formatter="configs" data-sortable="false" data-width="250px">CONFIG</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>


</div></div></div></div>
