<input type="hidden" value="<%= get_by_category_admin_clinical_studies_path %>" id="studies_by_category_url">
<input type="hidden" value="<%= get_indications_admin_clinical_studies_path %>" id="study_indications_url">
<input type="hidden" value="<%= get_by_group_admin_indications_path %>" id="indications_by_group_url">
<input type="hidden" value="<%= add_indication_admin_clinical_studies_path %>" id="add_indication_url">
<input type="hidden" value="<%= delete_indication_admin_clinical_studies_path %>" id="delete_indication_url">

<div class="card">
  <div class="card-body card-padding">
    <div class="row">

      <div class="col-md-12">
        <div>
          <h3><%= @laboratory.name %></h3>
        </div>
        <hr>
      </div>

    </div>


    <div class="row">
      <div class="col-md-8 holder">
        <div class="col-md-12">
          <select class="form-control selectpicker" id="study_category_select">
            <option>Seleccione una categoría</option>
            <% @categories.each do |cat| %>
                <option value="<%= cat.id %>"><%= cat.name %></option>
            <% end %>
          </select>
          <br><br>
        </div>
        <div class="col-md-6">
          <div class="col-title">Estudios en la categoría</div>
          <div class="items-holder" id="studies_holder"></div>
        </div>
        <div class="col-md-6">
          <div class="col-title">Indicaciones del estudio</div>
          <div class="items-holder" id="study_indications_holder"></div>
        </div>
      </div>
      <div class="col-md-4 holder">
        <div class="col-md-12">
          <select class="form-control selectpicker" id="group_indications_select">
            <option>Seleccione un grupo de indicaciones</option>
            <% @groups.each do |g| %>
                <option value="<%= g.id %>"><%= g.name %></option>
            <% end %>
          </select>
          <br><br>
        </div>
        <div class="col-md-12">
          <div class="col-title">Indicaciones del grupo</div>
          <div class="items-holder" id="indications_holder"></div>
        </div>
      </div>
    </div>

  </div>
</div>