<%= form_for [:admin, @bank] do |f| %>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
    <% if @bank.errors.any? %>
        <div id="error_explanation">
          <strong><%= pluralize(@bank.errors.count, "error","errores") %> en el formulario:</strong>
          <ul>
            <% @bank.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

      <div class="col-xs-12">
        <div class="form-group fg-line">
          <%= f.label :name, "Nombre" , :class=>"control-label bold"  %>
          <%= f.text_field :name, :class=>"form-control input-lg", :placeholder => "Nombre" %>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="checkbox m-b-15">
          <label>
            <%= f.check_box :is_local  %>
            <i class="input-helper"></i> Es Local
          </label>
        </div>
      </div>

      </div>
    </div>
  </div>


    <div class="col-xs-6">

    </div>
    <div class="col-xs-6">
      <span class="col-xs-3"></span>
      <a href="<%= admin_banks_path %>" class="btn btn-danger col-xs-4">Atrás</a>
      <span class="col-xs-1"></span>
      <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
    </div>

<% end %>



