<p id="notice"><%= notice %></p>
<div class="card">
<div class="card-body card-padding">
  <div class="row">
    <div class="col-xs-6">
      <div class="card-header">
        <h2>Lista de Bancos</h2>
      </div>
    </div>
    <div class="col-xs-6">
      <% if can? :new, Bank %>
      <%= link_to 'Agregar', new_admin_bank_path, class: "pull-right btn bgm-green waves-effect" %>
      <% end %>
  </div>
    <div class="col-xs-12">


      <table  id="data-table-banks" class="table table-striped" data-source="<%= admin_banks_url(format: "json")%>"
              data-can-edit="<%= can? :edit, Bank %>"
              data-can-delete="<%= can? :destroy, Bank %>">
        <thead>
        <tr>
          <th data-column-id="id">ID</th>
          <th data-column-id="name">NOMBRE</th>
          <th data-column-id="is_local">ES LOCAL</th>
          <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
</div></div>
