<div class="card">
  <div class="card-body card-padding">
    <div class="row">

      <%= form_for [:doctor, @clinical_study] do |f| %>
          <% if @clinical_study.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@clinical_study.errors.count, "error") %> prohibited this clinical study from being
                  saved:</h2>

                <ul>
                  <% @clinical_study.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :name,'Nombre', :class => "control-label" %><br>
              <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Nombre" %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :price,'Costo', :class => "control-label" %><br>
              <%= f.number_field :price, :class => "form-control input-lg", :placeholder => "Costo" %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :clinical_study_type_id, 'Categoría', :class => "control-label" %><br>
              <%= f.select :clinical_study_type_id, @study_types.map { |gender| [gender.name, gender.id] }, {}, {:class => "form-control selectpicker"} %>
            </div>
          </div>

          <input type="hidden" name="lab_id" value="<%= @lab_id %>">

          <% if @lab.clinical_order_type_id == ClinicalOrderType::STUDY_GABINETE %>
              <div class="col-xs-12">
                <a class="btn btn-primary" id="add_template_btn">Agregar Plantilla Para el reporte</a>
                <hr>
                <input type="hidden" name="has_template" id="has_template" value="<%= @clinical_study.study_report_template.nil? ? '0' : '1' %>">
                <input type="hidden" name="template" id="template_html" value="<%= @clinical_study.study_report_template.nil? ? '' : @clinical_study.study_report_template.template %>">

                <div id="study_template_holder" style="display:<%= @clinical_study.study_report_template.nil? ? 'none' : 'block' %>;">
                  <div id="study_template">

                  </div>
                </div>

              </div>
          <% end %>


          <% if @clinical_study.id != nil %>
              <table class="table">
                <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Grupo</th>
                  <th>Prioridad</th>
                </tr>
                </thead>

                <tbody>
                <% @clinical_study.indications.each do |indication| %>
                    <tr>
                      <td><%= indication.description %></td>
                      <td><%= indication.ca_group.name %></td>
                      <td><%= indication.priority %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>

          </div>
          </div>
          </div>

          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= doctor_clinical_studies_path+'?lab_id='+@lab_id.to_s %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
          </div>

      <% end %>



