<input type="hidden" id="lab_id" value="<%= @lab_id %>">
<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="card-header">
    <h2>Lista de Estudios Clinicos</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-md-6 col-xs-6">
        </div>
        <div class="col-md-5 col-xs-5">
          <%= link_to 'Agregar', new_doctor_clinical_study_path+'?lab_id='+@lab_id.to_s, class: "pull-right btn bgm-green waves-effect" %>
        </div>
      </div>
      <div class="col-md-12 col-xs-12">


  <table id="data-table-clinicalstudy" class="table table-striped" data-source="<%= doctor_clinical_studies_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="category">CATEGORÍA</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
