<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:admin, @vaccine_book] do |f| %>
  <% if @vaccine_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vaccine_book.errors.count, "error") %> prohibited this vaccine_book from being saved:</h2>

      <ul>
      <% @vaccine_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :name,'Nombre', :class=>"control-label"  %><br>
              <%= f.text_field :name, :class =>  "form-control input-lg required", :placeholder => "Nombre"  %>
            </div>
          </div>

          <div class="col-xs-6">
            <%= f.label :gender,'Género', :class=>"control-label"  %><br>
              <%= f.select :gender, [['Hombre', 'Hombre'], ['Mujer', 'Mujer'],['Ambos', 'Ambos']], {}, {:class => "selectpicker form-control"}  %>
            <br><br><br>
          </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :start_age,"Edad inicio (Años)", :class=>"control-label"  %><br>
              <%= f.text_field :start_age, :class =>  "form-control input-lg required number", :placeholder => "Edad Inicio"  %>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :end_age,"Edad final (Años)", :class=>"control-label"  %><br>
              <%= f.text_field :end_age, :class =>  "form-control input-lg required number", :placeholder => "Edad Final"  %>
            </div>
          </div>


          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_vaccines_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
          </div>
<% end %>
