
<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de cartillas</h2>
  </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, VaccineBook %>
    <%= link_to 'Agregar', new_admin_vaccine_book_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">

  <table id="data-table-vaccine-book" class="table table-striped" data-source="<%= admin_vaccine_books_url(format: "json")%>"
         data-can-edit="<%= can? :edit, VaccineBook %>"
         data-can-delete="<%= can? :destroy, VaccineBook %>">
  <thead>
    <tr>
      <th data-column-id="id">ID</th>
      <th data-column-id="name">NOMBRE</th>
      <th data-column-id="gender">GENERO</th>
      <th data-column-id="start_age">EDAD INICIO</th>
      <th data-column-id="end_age">EDAD FINAL</th>
      <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
