<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vaccine_book.name %>
</p>

<p>
  <strong>Prevent disease:</strong>
  <%= @vaccine_book.gender %>
</p>


<%= link_to 'Editar', edit_admin_vaccine_book_path(@vaccine_book), :class => "btn btn-info"  %>
<%= link_to 'Atrás', admin_vaccine_books_path, :class => "btn btn-warning"  %>
