<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:doctor, @address_book] do |f| %>
    <% if @address_book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@address_book.errors.count, "error") %> prohibited this data from being saved:</h2>

          <ul>
            <% @address_book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :name,"Nombre(s)", :class=>"control-label" %><br>
      <%= f.text_field :name, :class => "form-control input-lg required", :placeholder => "Nombre(s)" %>
    </div>
    </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :telephone,"Teléfono", :class=>"control-label" %><br>
              <%= f.text_field :telephone, :class => "form-control input-lg",:minlength=>"10",
                               :maxlength=>"20", :placeholder => "Ej. (00) 000-000-000 ext. 000"  %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :cellphone,"Celular", :class=>"control-label" %><br>
              <%= f.text_field :cellphone, :class => "form-control input-lg",:minlength=>"10",
                               :maxlength=>"10" %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :email,"Correo electrónico", :class=>"control-label" %><br>
      <%= f.text_field :email, :class => "form-control input-lg email", :placeholder => "Correo electrónico"  %>
    </div>
        </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :address,"Dirección", :class=>"control-label" %><br>
              <%= f.text_field :address, :class => "form-control input-lg ", :placeholder => "Dirección" %>
            </div>
          </div>

          <div class=" col-md-6 col-xs-12">
            Hospital:
            <select class="selectpicker" id="hospital_id" name="hospital_id">
              <option value="0">Ninguno</option>
              <%Hospital.all.each do |as| %>
                  <option  value="<%= as.id %>"><%= as.name %></option>
              <% end %>
            </select>
          </div>

          <div class=" col-md-12 col-xs-12">
            Consultorio:
            <select class="selectpicker" id="office_id" name="office_id">
              <option value="0">Todos</option>
              <%Office.all.where("doctor_id = #{session[:doctor_id]}").each do |as| %>
                  <option  value="<%= as.id %>"><%= as.name %></option>
              <% end %>
            </select>
          </div>


    </div></div></div>
    <div class="col-md-6 col-xs-12">

</div>
<div class="col-md-6 col-xs-12">
  <span class="col-md-3 col-xs-12"></span>
  <a href="<%= doctor_address_books_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
  <span class="col-md-1 col-xs-12"></span>
  <button type="submit" class="btn btn-primary col-md-4 col-xs-12" id="submit_new_personal">Guardar</button>
</div>
      <% end %>