<html>

<head>

  <%= wicked_pdf_stylesheet_link_tag 'pdf/account_balance' %>

</head>
<body>


<div id="main_title">
  ESTADO DE CUENTA
</div>

  <div id="account_details">
    <table style="width: 50%" cellpadding="0" cellspacing="0">
      <tr>
        <td><strong>Cuenta:</strong></td>
        <td class="account_info"><%= @account.account_number %></td>
      </tr>
      <tr>
        <td><strong>No. de Cuenta:</strong></td>
        <td class="account_info"><%= @account.account_number %></td>
      </tr>
      <tr>
        <td><strong>Banco:</strong></td>
        <td class="account_info"><%= @account.bank.name %></td>
      </tr>
      <tr>
        <td><strong>Periodo: </strong></td>
        <td class="account_info"><%= @init_date.strftime('%d/%m/%Y') %> al <%= (@init_date - 1.day).strftime('%d/%m/%Y') %></td>
      </tr>
      <tr>
        <td><strong>Impreso: </strong></td>
        <td class="account_info"><%= Time.now.strftime('%d/%m/%Y') %></td>
      </tr>
    </table>
  </div>

<%
  ingress = 0
  egress = 0
  @transactions.each do |t|
    if t.t_type == 1
      ingress = ingress + t.amount
    else
      egress = egress + t.amount
    end

  end

  init_balance = 0
  end_balance = 0

  first_transaction = @transactions.first
  last_transaction = @transactions.last

  if first_transaction != nil
    init_balance = first_transaction.init_balance
  end

  if last_transaction != nil
    end_balance = last_transaction.end_balance
  end
%>

<div id="financial_info_title">
  INFORMACIÓN FINANCIERA
</div>

<div id="financial_summary">
  <table id="financial_summary_table" style="width: 50%" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
      <th style="text-align: left;">RESUMEN FINANCIERO</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Saldo inicial del periodo</td>
      <td>
        <span class="symbol">$</span>
        <span class="amount"><%= number_to_currency(init_balance).sub '$', '' %></span>
      </td>
    </tr>
    <tr>
      <td>Depósitos / Abonos (+)</td>
      <td>
        <span class="symbol">$</span>
        <span class="amount"><%= number_to_currency(ingress).sub '$', '' %></span>
      </td>
    </tr>
    <tr>
      <td>Retiros / Cargos (-)</td>
      <td>
        <span class="symbol">$</span>
        <span class="amount"><%= number_to_currency(egress).sub '$', '' %></span>
      </td>
    </tr>
    <tr>
      <td>Saldo Final</td>
      <td>
        <span class="symbol">$</span>
        <span class="amount"><%= number_to_currency(end_balance).sub '$', '' %></span>
      </td>
    </tr>
    </tbody>

  </table>
</div>


<div id="details_title">
  DETALLE DE MOVIMIENTOS REALIZADOS
</div>


<table id="transaction_details" cellpadding="1" cellspacing="0">
  <thead>
  <tr>
    <th>FECHA</th>
    <th>CONCEPTO</th>
    <th>CARGOS</th>
    <th>ABONOS</th>
    <th>SALDO</th>
  </tr>

  </thead>

  <tbody>
  <% @transactions.each do |t| %>
      <%
        details = ''
        case t.chargeable_type
          when 'OtherMovement'
            details << 'Concepto: '+t.chargeable.movement_type.name + '. '
            details << 'Detalles: '+t.chargeable.details
          when 'Charge'
            details << 'Cobro de Consulta: '+t.chargeable.medical_consultation.patient.full_name
          when 'Transfer'
            details << 'Transferencia de ' + t.chargeable.from.account_number+' ('+t.chargeable.from.bank.name+') a '+ t.chargeable.to.account_number+' ('+t.chargeable.to.bank.name+')'
          when 'AdmissionTransaction'
            details << 'Admisión hospitalaria paciente: ' + t.chargeable.hospital_admission.patient.full_name + ' Fecha: '+ t.chargeable.hospital_admission.admission_date.strftime('%d/%m/%Y')
        end
      %>
      <tr>
        <td><%= t.date.strftime('%d/%m/%Y') %></td>
        <td class="details"><%= details %></td>
        <td>
          <% if t.t_type == 0 %>
              <span class="symbol">$</span>
              <span class="amount"><%= number_to_currency(t.amount).sub '$', '' %></span>
          <% end %>
        </td>
        <td>
          <% if t.t_type == 1 %>
              <span class="symbol">$</span>
              <span class="amount"><%= number_to_currency(t.amount).sub '$', '' %></span>
          <% end %>
        </td>
        <td>
          <span class="symbol">$</span>
          <span class="amount"><%= number_to_currency(t.end_balance).sub '$', '' %></span>
        </td>

      </tr>
  <% end %>
  <tr class="totals">
    <td></td>
    <td></td>
    <td class="total">
      <span class="symbol">$</span>
      <span class="amount"><%= number_to_currency(egress).sub '$', '' %></span>
    </td>
    <td class="total">
      <span class="symbol">$</span>
      <span class="amount"><%= number_to_currency(ingress).sub '$', '' %></span>
    </td>
    <td class="total">
      <span class="symbol">$</span>
      <span class="amount"><%= number_to_currency(end_balance).sub '$', '' %></span>
    </td>
  </tr>
  </tbody>

</table>

</body>
</html>