<div class="card">
  <div class="card-header">

<div class="row">
  <div class="col-md-6">
    <div class="form-group fg-line">
      <strong>Nombre del usuario</strong>
      <input class="form-control input-lg search-person" placeholder="Ingrese el nombre del usuario" type="text" name="user_name" id="user_name" autocomplete="off" aria-required="true">
    </div>
  </div>
</div>
<div class="row" id="accounts_div" >
<% Account.where("is_global = 1").each do |account| %>
    <div class="col-md-4">
    <div class="checkbox"style="padding-left: 20px">
      <label>
        <input type="checkbox" class="s_parent" value="<%=account.id%>" id="account_<%=account.id%>">
        <i class="input-helper"></i>
        <strong class="font_size_medical_history"><%= account.account_number+" (" + account.details + ")" %> </strong>
      </label>
    </div>
    </div>
<% end %>
</div>
  </div>
</div>
<button class="btn btn-primary" onclick="saveAccounts()" >Guardar Cambios</button>

<%= hidden_field_tag 'url_get_user_accounts', url_for(:controller => 'doctor/accounts', :action => 'get_accounts', :only_path => false) %>
<%= hidden_field_tag 'url_save_user_accounts', url_for(:controller => 'doctor/accounts', :action => 'save_accounts', :only_path => false) %>