<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
  <script>
    function number_pages() {
      var vars={};
      var x=document.location.search.substring(1).split('&');
      for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
      var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
      for(var i in x) {
        var y = document.getElementsByClassName(x[i]);
        for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
      }
    }
  </script>

  <style>
    #footer_ab div{
      float: left;
    }
    #footer_text{
      width: 40%;
    }
    #footer_img{
      width: 20%;
      margin-top: -5px;
    }
    #page_number{
        width: 39%;
        text-align: right;
    }

      #footer_ab{
        border-top: 1px solid black;
        padding-top: 10px;
      }
  </style>

</head>
<body onload="number_pages()">
<div style="font-size:12px;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif" id="footer_ab">
  <div id="footer_text">
    Éste reporte fue generado con el sistema
  </div>
  <div id="footer_img">
    <%= wicked_pdf_image_tag 'img/account_balance_logo.png',:width => "120" %>
  </div>
  <div id="page_number">
    Página <span class="page"></span> de <span class="topage"></span>
  </div>
</div>
</body>

</html>