<div class="card">
<div class="card-body card-padding">
  <div class="row">
    <div class="col-xs-6">
      <div class="card-header">
        <h2>Lista de Cuentas</h2>
      </div>
    </div>
    <div class="col-xs-6">
      <% if can? :account_manage, Account %>
          <%= link_to 'Control de cuentas', account_manage_doctor_accounts_path, class: "pull-left btn bgm-blue waves-effect" %>
          <% end %>
      <% if can? :new, Account %>
      <%= link_to 'Agregar', new_doctor_account_path, class: "pull-right btn bgm-green waves-effect" %>
      <% end %>
  </div>
    <div class="col-xs-12">


      <table  id="data-table-accounts" class="table table-striped" data-source="<%= doctor_accounts_url(format: "json")%>"
              data-can-edit="<%= can? :edit, Account %>"
              data-can-print="<%= can? :print, Account %>"
              data-can-delete="<%= can? :destroy, Account %>"
      >
        <thead>
        <tr>
          <th data-column-id="account_number">NÚMERO</th>
          <th data-column-id="bank">BANCO</th>
          <th data-column-id="currency">MONEDA</th>
          <th data-column-id="clabe">CLABE</th>
          <th data-column-id="balance">SALDO</th>
          <th data-column-id="details">DETALLES</th>
          <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
</div></div>

<div class="modal fade" id="print_account_balance" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Imprimir estado de cuenta</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">
            <div class="row">
              <br>
              <div class="col-xs-6">
                <%
                  min_year = 2015
                  max_year = Date.today.strftime("%Y").to_i
                  curr_year = Date.today.strftime("%Y").to_i
                %>

                <strong >Año:</strong> <br>
                <select class="form-control selectpicker" id="account_balance_year">
                  <% while min_year <= max_year %>
                  <option value="<%= min_year %>" <%= min_year == curr_year ? 'selected':'' %>><%= min_year %></option>
                  <%
                    min_year += 1
                    end %>
                </select>
              </div>
              <div class="col-xs-6">
                <%
                  min_month = 1
                  max_month = 12
                  curr_month = Date.today.strftime("%m").to_i
                %>

                <strong >Mes:</strong> <br>
                <select class="form-control selectpicker" id="account_balance_month">
                  <% while min_month <= max_month %>
                      <option value="<%= min_month %>" <%= min_month == curr_month ? 'selected':'' %>><%= min_month %></option>
                  <%
                    min_month += 1
                    end %>
                </select>

              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="print_account_balance_btn" onclick="printAccountBalance()">Imprimir</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="url_print_account" value="<%= account_balance_doctor_accounts_url(:format => :pdf) %>"/>

