<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    #html_container_editor{
      font-size: 13px;
      word-wrap: break-word;         /* All browsers since IE 5.5+ */
      overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
      width: 18cm;
      text-align: justify;
    }
  </style>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/certificate.css' %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<br><br><br>
    <div id="html_container_editor">
      <%= @certificate.container_html.html_safe %>
    </div>
</body>
</html>
