<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<%
  doctor = @certificate.office.doctor
%>
<div style="display: block; clear: both;">
  <div style="float: left; width: 30%">
    <% if @certificate.office.logo.present? %>
        <%= wicked_pdf_image_tag_for_public @certificate.office.logo.url,:width => "80%" %>
    <% else %>
        <%= wicked_pdf_image_tag "MEDSI_LOGOTIPO.jpg",:width => "80%" %>

    <% end %>
  </div>

  <div style="float: left; width: 70%">
    <table width="100%" style="border-spacing: 0; font-size: 16px; padding-left: 20px; padding-top: 10px;" class="text_style_head text_color" cellspacing="0" >
      <tbody>
      <tr>
        <td class="title_header"><strong><%= abbreviation_dr %> <%= doctor.full_name %></strong></td>
      </tr>
      <tr>
        <td class=""><%= @certificate.office.name %></td>
      </tr>
      <%
        unless doctor.pres_show_speciality

          specialtities = []
          doctor.specialties.each do |specialti|
            specialtities << specialti.name.to_s
          end
          if specialtities.size > 0
      %>
              <tr>
                <td><%= specialtities.join(",") %></td>
              </tr>
          <% end

             else
               if doctor.pres_speciality.present? %>

              <tr>
                <td><%= doctor.pres_speciality %></td>
              </tr>
          <%  end
              end %>

      <% if doctor.pres_show_studies and doctor.pres_studies.present?  %>
          <tr>
            <td><%= doctor.pres_studies %></td>
          </tr>
      <%  end %>

      <% unless doctor.pres_show_professional_license %>

          <% if doctor.identity_cards.size > 0 %>
              <tr>
                <td>
                  C&eacute;dula Profesional: <%= doctor.identity_cards.last.identity %>
                  <br>
                  <%=  doctor.identity_cards.last.institute %>
                </td>
              </tr>
          <% end %>
      <% else
           if doctor.pres_professional_license.present?
      %>
              <tr>
                <td><%= doctor.pres_professional_license %></td>
              </tr>
          <%
            end
            end %>

      <% if doctor.pres_show_another_info %>
          <tr>
            <td><%= doctor.pres_another_info %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% if !@certificate.patient.nil? %>
    <div style="font-size: 16px; padding-left: 20px; padding-top: 10px;">
      <strong>Paciente:&nbsp;</strong> <%= @certificate.patient.full_name %><br>
      <strong>Edad: </strong> <%= @certificate.patient.age %><br>
      <strong>Fecha: </strong> <%= I18n.localize(@certificate.created_at, :format => :email_personal_support) %>
    </div>
    <% end %>
  </div>
</div>
</body>
</html>