.list_holder{
    padding: 10px;
    border: #666666 1px solid;
}

.connectedSortable{
    min-height: 50px;
}

.connectedSortable li{
    padding: 5px;
    list-style: none;
    margin: 3px;
    border: #00BCD4 1px solid;
    font-size: 15px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-sortable-placeholder.consultation_field_item{
    border: #c6c6c6 2px dotted;
    height: 25px;
}


#consultation_fields_available li{
}