* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.table-striped td {
    white-space: normal;
    text-align: left;
}

@media
only screen and (max-width: 800px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    tbody{
        overflow:auto;
    }

    tbody:before{
        overflow-x:scroll;
        width: auto;
    }
    .table-striped tbody td:before {
        text-align: left;
    }
    .table-striped tbody td {
        text-align: right;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "ID";
    }

    td:nth-of-type(2):before {
        content: "Categoría";
    }
    td:nth-of-type(3):before {
        content: "Codigo";
    }
    td:nth-of-type(4):before {
        content: "Nombre";
    }
    td:nth-of-type(5):before {
        content: "Operaciones";
    }

}