* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#data-table-doctor td {
    white-space: normal;
    text-align: left;
}

@media
only screen and (max-width: 800px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    #data-table-doctor tbody{
        overflow:auto;
        display: block;
    }

    #data-table-doctor tbody:before{
        overflow-x:scroll;
        width: auto;
    }
    #data-table-doctor tbody td:before {
        text-align: left;
    }
    #data-table-doctor tbody td {
        text-align: right;
    }
    /* Force table to not be like tables anymore */
    #data-table-doctor thead {
        display: block;
    }
    #data-table-doctor  th {
        display: block;
    }
    #data-table-doctor thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #data-table-doctor tr {
        border: 1px solid #ccc;
        display: block;
    }

    #data-table-doctor td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        display: block;
    }

    #data-table-doctor td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    #data-table-doctor td:nth-of-type(1):before {
        content: "ID";
    }

    #data-table-doctor td:nth-of-type(2):before {
        content: "Nombre(s)";
    }
    #data-table-doctor td:nth-of-type(3):before {
        content: "Apellidos";
    }
    #data-table-doctor td:nth-of-type(4):before {
        content: "Dirección";
    }
    #data-table-doctor td:nth-of-type(5):before {
        content: "Ciudad";
    }
    #data-table-doctor td:nth-of-type(6):before {
        content: "Medio de contacto";
    }
    #data-table-doctor td:nth-of-type(7):before {
        content: "Datos fiscales";
    }

    #data-table-doctor td:nth-of-type(8):before {
        content: "Operaciones";
    }

}