#waiting_room_statuses li{
    padding: 5px;
    list-style: none;
}

.op_icon{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.move_status_icon{
    font-size: 20px;
}

li.ui-sortable-placeholder{
    border: gray 1px dotted;
    height: 20px;
    visibility: visible !important;
}

#waiting_room_statuses li{
    border: #f2f2f2 1px solid;
}
.activities_list label{
    border: #A4A4A4 1px solid;
    padding: 3px 10px;
}