<p id="notice"><%= notice %></p>
<%= form_for [:admin, @news_item], html: {multipart: true,:onsubmit => "return update_html_content();"} do |f| %>
<div class="card">
  <div class="card-body card-padding">
    <h2>Datos del artículo</h2>

    <div class="row">
      <% if @news_item.errors.any? %>
          <div id="error_explanation">
            <strong><%= pluralize(@news_item.errors.count, "error","errores") %> en el formulario:</strong>
            <ul>
              <% @news_item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="col-md-12">
        <%= f.label :banner,"Banner",:class=>"control-label" %><br>
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
          <div>
              <span class="btn btn-info btn-file">
                  <span class="fileinput-new">Seleccionar Banner</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="news_item[banner]">
              </span>
            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Eliminar</a>
          </div>
        </div>
      </div>



      <% if @news_item.banner.present?  %>
          <div class="col-md-12">
            <img src="<%= get_banner_admin_news_items_path(@news_item.id) %>" style="width: 100%">
          </div>
      <% end %>




      <div class="col-md-12">
        <div class="form-group fg-line">
          <%= f.label :title,"Título",:class=>"control-label" %><br>
          <%= f.text_field :title, :class=>"form-control input-lg required", :placeholder => "Título" %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group fg-line">
          <%= f.label :summary,"Resumen",:class=>"control-label" %><br>
          <%= f.text_area :summary, :class=>"form-control input-lg required", :placeholder => "Resumen" %>
        </div>
      </div>


      <div class="col-md-12">
        <%= f.label :content,"Contenido",:class=>"control-label" %><br>
        <div id="news_item_content">
        </div>
        <input type="hidden" name="news_item[content]" id="html_content" value="<%= @news_item.content %>">
      </div>

      <div class="col-md-12">
        <%= f.label :author_id,"Autor",:class=>"control-label" %><br>
        <%= f.select :author_id, Author.all.map{|a| [a.full_name,a.id]}, {}, {:class => "selectpicker form-control"}  %>
      </div>

      <div class="col-md-12">
        <%= f.label :status,"Estado",:class=>"control-label" %><br>
        <%= f.select :status, NewsItem::statuses.map{|st| [st[:name],st[:id]]}, {}, {:class => "selectpicker form-control"}  %>
      </div>



    </div>


  </div>
</div>

    <div class="col-md-6 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">
      <span class="col-md-3 col-xs-12"></span>
      <a href="<%= admin_news_items_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
      <span class="col-md-1 col-xs-12"></span>
      <button type="submit" class="btn btn-primary col-md-4 col-xs-12">Guardar</button>
    </div>


<% end %>