<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2>Lista de Artículos</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Agregar', new_admin_news_item_path, class: "pull-right btn bgm-green waves-effect" %>
      </div>
      <div class="col-xs-12">


        <table  id="data-table-news" class="table table-striped" data-source="<%= admin_news_items_url(format: "json")%>">
          <thead>
          <tr>
            <th data-column-id="id">ID</th>
            <th data-column-id="title">Título</th>
            <th data-column-id="summary">Resumen</th>
            <th data-column-id="author">Autor</th>
            <th data-column-id="status">Estado</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
