<p id="notice"><%= notice %></p>
  <div class="card">
    <div class="card-body card-padding">
      <div class="row">
        <div class="row">
        <div class="col-xs-6">
          <div class="card-header">
            <h2>Consultas para facturar</h2>
          </div>
        </div>
        <div class="col-xs-6">

        </div>
        </div>
        <div class="row">
        <div class=" col-md-4 col-xs-12">
          <%
            doctors_id = ""
            assistant = Assistant.find(session[:assistant_id])
            assistant.doctors.each do |doc|
              doctors_id += doc.id.to_s + ","
            end
            doctors_id = doctors_id.chop
          %>
          <strong>Doctor</strong>
          <%= select_tag("doctor_for_search", options_for_select(Doctor.where("doctors.id in (#{doctors_id})").map{|pa| [pa.name+ " " + pa.last_name, pa.id]}), :class => "selectpicker form-control", 'data-live-search' => 'true') %>
        </div>
        <div class="col-md-4 col-xs-12">
          <strong>Paciente</strong>
          <%= select_tag("patient_for_search", options_for_select(Patient.joins(:medical_expedient).where("medical_expedients.doctor_id in (#{doctors_id})").map{|pa| [pa.name+ " " + pa.last_name, pa.id]}),include_blank: "Todo", :class => "selectpicker form-control", 'data-live-search' => 'true') %>
        </div>
          <div class=" col-md-2 col-xs-12">
            <strong>Tipo de cobro</strong>
            <select id="type_to_invoice" class="selectpicker form-control">
              <option value="1">Consultas</option>
              <option value="2">Estudios</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="button" class="pull-right btn bgm-blue waves-effect" onclick="search_consults()" value="Buscar">
          </div>
        </div>


        <div class="col-xs-12">

  <table id="data-table-bills" class="table table-striped" data-source="<%= shared_assistant_transactions_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id = "date">Fecha</th>
    <th data-column-id = "description">Descripcion</th>
    <th data-column-id = "patient">Paciente</th>
    <th data-column-id = "amount" >Monto</th>
    <th data-column-id = "serie" >Folio</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
</div></div></div></div>
<%= hidden_field_tag 'url_get_fiscal_info', url_for(:controller => 'doctor/transactions', :action => 'getFiscalInfos', :only_path => false) %>
<%= hidden_field_tag 'url_set_fiscal_info', url_for(:controller => 'doctor/transactions', :action => 'setFiscalInfo', :only_path => false) %>
<%= hidden_field_tag 'url_stamp_action', url_for(:controller => 'doctor/transactions', :action => 'timbrar', :only_path => false) %>
<%= hidden_field_tag 'url_get_docinfo_action', url_for(:controller => 'shared_assistant/transactions', :action => 'getDocFiscalInfo', :only_path => false) %>
<%= hidden_field_tag 'url_get_receptor', url_for(:controller => 'doctor/invoices', :action => 'get_receptor_email', :only_path => false) %>
<%= hidden_field_tag 'url_send_invoice_mail', url_for(:controller => 'doctor/invoices', :action => 'send_invoice_email', :only_path => false) %>
<%= hidden_field_tag 'url_cancel_invoice', url_for(:controller => 'doctor/transactions', :action => 'cancel_invoice', :only_path => false) %>


<div class="modal fade" id="create_invoice_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Generar factura</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="row">
            <div class="col-xs-6">
              <div class="new_invoice_section">
                Datos del emisor
              </div>
              <div class="row fiscal_info" id="fiscal_emisor_info"></div>
            </div>
            <div class="col-xs-6">
              <div class="new_invoice_section">
                Datos del receptor
              </div>

              <div class="row fiscal_info" id="">

                <div class="col-md-3">
                  <strong>Seleccionar:</strong>
                </div>
                <div class="col-md-9">
                  <select onchange="setFiscalInfo()" class="selectpicker form-control"
                          id="fiscal_info_for_invoice">
                  </select>
                </div>

                <div id="fiscal_receptor_info"></div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="new_invoice_section">
                Conceptos
              </div>
              <div id="table_invoice" class="table"></div>
            </div>
              <input type="hidden" class="form-control input-lg" id="fiscal_business_name" >
              <input type="hidden" class="form-control input-lg" id="fiscal_rfc" >
              <input type="hidden" class="form-control input-lg" id="fiscal_address" >
              <input type="hidden" class="form-control input-lg" id="fiscal_ext_number" >
              <input type="hidden" class="form-control input-lg" id="fiscal_int_number" >
              <input type="hidden" class="form-control input-lg" id="fiscal_suburb" >
              <input type="hidden" class="form-control input-lg" id="fiscal_zip" >
              <input type="hidden" class="form-control input-lg" id="fiscal_locality" >
              <input type="hidden" class="form-control input-lg" id="fiscal_city" >
              <input type="hidden" class="form-control input-lg" id="fiscal_state" >
              <input type="hidden" class="form-control input-lg" id="fiscal_id_patient" >
            <input type="hidden" class="form-control input-lg" id="fiscal_country" >
              <input type="hidden" class="form-control input-lg" id="fiscal_amount" >
          <div class="col-xs-6">
            <strong >Forma de pago:</strong> <br>
            <select class="selectpicker form-control bs-select-hidden" id="payment_type">
              <%  PaymentWay.all.each do |s| %>
                  <option value="<%= s.id %>"><%=  s.name   %></option>
              <% end %>
            </select>
          </div>
            <div class="col-xs-6">
              <strong >Condiciones de pago:</strong> <br>
              <input type="text" class="form-control input-lg" value="Contado" disabled>
            </div>
            <div class="col-xs-6">
             <strong >Metodo de pago:</strong> <br>
              <div class="col-xs-9">
                <textarea class="form-control input-lg" id="payment_methods_box" rows="2" style="font-size: small" disabled></textarea>
              </div>
              <div class="col-xs-1" style="z-index: 1">
                <a href='#' onclick='openPaymentMethods()'  class="btn bgm-green btn-icon waves-effect waves-circle waves-float btn-show"  ><i class="zmdi zmdi-plus-circle-o zmdi-hc-fw" title="Agregar"></i></a>
              </div>
              <div class="col-xs-1">

                <a href='#' onclick='clearPaymentMethods()'  class="btn bgm-orange btn-icon waves-effect waves-circle waves-float btn-show"  ><i class="zmdi zmdi-time-restore-setting zmdi-hc-fw  " title="Limpiar"></i></a>
              </div>
              <div class="col-xs-1">
                <span></span>
              </div>


            </div>
            <div class="col-xs-6" id="account_div">
              <strong >Número de cuenta (si aplica):</strong> <br>
              <input type="text" class="form-control input-lg" id="account_number" >
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="add_transaction_btn" onclick="stamp_invoice()">Facturar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="select_pay_method" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">
            <div class="row">
              <br>
              <div class="col-xs-12">
                <strong >Metodo de pago:</strong> <br>
              <select class="selectpicker form-control bs-select-hidden" id="payment_method" >
                <%  PaymentMethod.all.each do |s| %>
                    <option value="<%= s.code %>"><%=  s.name   %></option>
                <% end %>
              </select>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="send_email_btn" onclick="add_payment_method()">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="send_email_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center"> Enviar factura por correo electronico</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">
            <div class="row" id="emails_div">
            </div>
            <div class="row">
              <a href="javascript:void(0);" onclick="addemailfield()"><i style="font-size: 1.33em" class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Agregar correo</a>
              <br>
              <div class="col-xs-12" >
                <strong >Correo electronico:</strong> <br>
                <input type="text" class="form-control input-lg" id="email_receptor" >
                <input type="hidden"  id="transac_receptor_id" >
                <input type="hidden" id="invoice_id">
              </div>
              <div class="col-xs-12" id="text_emails_div">

              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="send_email_btn" onclick="send_invoice_email()">Enviar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal" onclick="cancelSendmeail()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<%= hidden_field_tag 'url_get_doctor_patients', url_for(:controller => 'doctor/transactions', :action => 'get_doctor_patients', :only_path => false) %>