<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/prescription_a' %>
</head>
<body>
<div style="text-align: center">Este documento es una representacion impresa de un CFDI</div>
</body>
</html>