<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/invoice' %>

</head>
<body>

<% fiscal_info = @invoice_data.doctor.fiscal_information %>
<% city_info = @invoice_data.doctor.city %>
<% if fiscal_info.int_number != nil %>
    <% direccion_emisor = fiscal_info.fiscal_address + " No. Ext: " + fiscal_info.ext_number + " No. Int: " + fiscal_info.int_number + " Col. " + fiscal_info.suburb %>
<% else direccion_emisor = fiscal_info.fiscal_address + " " + fiscal_info.ext_number + " Col. " + fiscal_info.suburb %>
<% end%>
<% if @invoice_data.invoice_type == 1 %>
    <% datos_cliente = @invoice_data.patient_fiscal_information %>
        <% if datos_cliente.int_number != nil %>
            <% direccion_cliente = datos_cliente.address + " No. Ext: " + datos_cliente.ext_number + " No. Int: " + datos_cliente.int_number + " Col. " + datos_cliente.suburb %>
        <% else direccion_cliente = datos_cliente.address + " " + datos_cliente.ext_number + " Col. " + datos_cliente.suburb %>
        <% end%>
<% elsif @invoice_data.invoice_type == 2%>
    <% if @med_consultation.medical_expedient.doctor.fiscal_information.int_number != nil %>
        <% direccion_cliente = fiscal_info.fiscal_address + " No. Ext: " + fiscal_info.ext_number + " No. Int: " + fiscal_info.int_number + " Col. " + fiscal_info.suburb %>
    <% else direccion_cliente = fiscal_info.fiscal_address + " " + fiscal_info.ext_number + " Col. " + fiscal_info.suburb %>
    <% end%>
<% else%>
    <% datos_cliente = @invoice_data.open_invoice_receptor %>
    <% if @invoice_data.open_invoice_receptor.no_int != nil %>
        <% direccion_cliente = @invoice_data.open_invoice_receptor.address + " No. Ext: " + @invoice_data.open_invoice_receptor.no_ext + " No. Int: " + @invoice_data.open_invoice_receptor.no_int + " Col. " + @invoice_data.open_invoice_receptor.suburb %>
    <% else direccion_cliente = @invoice_data.open_invoice_receptor.address + " " + @invoice_data.open_invoice_receptor.no_ext + " Col. " + @invoice_data.open_invoice_receptor.suburb %>
    <% end%>
<% end%>

<% factura = @invoice_data   %>
<div id="encabezado">
  <div id="logo_consultorio">
<% if @invoice_data.invoice_type == 3 %>
        <% if !@invoice_data.doctor.offices.active_offices.first.logo_identifier.nil? %>
            <%= wicked_pdf_image_tag_for_public @invoice_data.doctor.offices.active_offices.first.logo.url,:width => "180",  :height=>"120" %>
        <% end %>
    <% else %>
        <% if !@med_consultation.office.logo_identifier.nil? %>
            <%= wicked_pdf_image_tag_for_public @med_consultation.office.logo.url,:width => "180",  :height=>"120" %>
        <% end %>
    <% end %>

  </div>
    <div id="dato_emisor">
      <table style="width:100%">
      <tr><td style="border-bottom: 1px black solid"><strong>Datos del emisor:</strong></td></tr>
      <tr><td><strong><%= @invoice_data.doctor.fiscal_information.bussiness_name  %></strong></td></tr>
      <tr><td><%=@invoice_data.doctor.fiscal_information.rfc %></td></tr>
      <tr><td><%= direccion_emisor %></td></tr>
      <tr><td><%= city_info.name + ", " + city_info.state.name + ", " + city_info.state.country.name  + ". C.P. " + fiscal_info.zip %></td></tr>
      <tr><td><%= fiscal_info.tax_regime %></td></tr>
    </table></div>
  <div id="dato_cliente">
<table style="width:80%">
      <tr> <td style="border-bottom: 1px black solid"><strong>Datos del cliente:</strong></td></tr>
  <% if @invoice_data.invoice_type == 1 %>
      <tr>  <td><%= datos_cliente.business_name.gsub(',,', ' ') %></td></tr>
      <tr>  <td><%= datos_cliente.rfc %></td></tr>
      <tr> <td><%= direccion_cliente %></td></tr>
      <tr> <td><%= datos_cliente.city.name + ", " + datos_cliente.city.state.name + ", " + datos_cliente.city.state.country.name  + ". C.P. " + datos_cliente.zip %></td></tr>
  <% elsif @invoice_data.invoice_type == 3%>
      <tr>  <td><%= datos_cliente.business_name %></td></tr>
      <tr>  <td><%= datos_cliente.rfc %></td></tr>
      <tr> <td><%= direccion_cliente %></td></tr>
      <tr> <td><%= datos_cliente.city + ", " + datos_cliente.state + ", " + datos_cliente.country  + ". C.P. " + datos_cliente.zip %></td></tr>
  <% else %>
      <tr>  <td><%= @invoice_data.doctor.fiscal_information.bussiness_name %></td></tr>
      <tr>  <td><%= @invoice_data.doctor.fiscal_information.rfc %></td></tr>
      <tr> <td><%= city_info.name + ", " + city_info.state.name + ", " + city_info.state.country.name  + ". C.P. " + fiscal_info.zip %></td></tr>

<% end %>
      </table></div>
  <div id="dato_emision"> <table style="width:100%">
      <tr> <td style="border-bottom: 1px black solid"><strong>Datos del expedicion:</strong></td></tr>
      <tr>  <td><strong>Factura: </strong> <%= factura.serie  + "-" + factura.folio.to_s%></td></tr>
      <tr>  <td><strong>Folio fiscal:</strong>  <%= factura.UUID%></td></tr>
      <tr> <td><strong>Fecha y hora de emision:</strong>  <%= factura.created_at.strftime('%Y-%m-%d')+"T"+factura.created_at.strftime('%H:%M:%S')%></td></tr>
      <% if @invoice_data.invoice_type ==3 %>
        <tr> <td><strong>Lugar de expedici&oacute;n:</strong>  <%=  @invoice_data.doctor.offices.active_offices.first.city.name + ", " + @invoice_data.doctor.offices.active_offices.first.city.state.name + ", " + @invoice_data.doctor.offices.active_offices.first.city.state.country.name%></td></tr>
        <% else %>
        <tr> <td><strong>Lugar de expedici&oacute;n:</strong>  <%=  @med_consultation.office.city.name + ", " + @med_consultation.office.city.state.name + ", " + @med_consultation.office.city.state.country.name%></td></tr>
        <% end %>


  </table></div>
</div>

<br><br>
<% puts factura.id %>
<table id="conceptos" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th width="15%" style="border-bottom: white solid;border-right: white solid">Cant.</th>
    <th width="15%" style="border-bottom: white solid;border-right: white solid">Unidad</th>
    <th width="40%" style="border-bottom: white solid;border-right: white solid">Descipcion</th>
    <th width="15%" style="border-bottom: white solid;border-right: white solid">P. Unitario</th>
    <th width="15%" style="border-bottom: white solid">Importe</th>
  </tr>
  </thead>
  <tbody>
  <% factura_total = 0 %>
  <%
    total_records = factura.invoice_concepts.size
    cont = 1
  %>
  <% factura.invoice_concepts.each do |concept| %>
      <% factura_total += concept.cost %>
  <tr class="row_factura" id="<%= cont == total_records  ? 'last_record' : '' %>" ><td style="text-align: center;border-right: white solid"><%=concept.quantity %></td><td style="text-align: center;border-right: white solid">NA</td><td style="text-align: center;border-right: white solid"><%=concept.description %></td><td style="text-align: center;border-right: white solid"><%= number_to_currency(concept.unit_price,:unit => "$") %></td><td style="text-align: center"><%=number_to_currency(concept.cost,:unit => "$") %></td></tr>
<%
  cont = cont + 1
  end %>

  </tbody>
</table>

<% subtotal_invoice = factura_total
  factura_total = factura_total -  factura.isr + factura.iva
    factura_total = "%.2f" %factura_total%>


<br>
<div id="detalles_pago">

<div id="datos_pago">
  <div id="condiciones">
    <strong>Condiciones de Pago:</strong><%= factura.payment_condition%><br>
    <strong>M&eacute;todo de Pago:</strong><%= factura.payment_methods_name%>.<br>
    <strong>No. Cta. de Pago:</strong><%= factura.account_number%><br>
  </div>
  <br>
  <div id="certificados">
    <strong>No. de Serie del Certificado CSD del Emisor</strong><br>
    <%= @invoice_data.doctor.fiscal_information.certificate_number %><br>
   <strong>No. de Serie del Certificado CSD del SAT</strong><br>
    <%=factura.no_cert_sat %><br>
    <strong>Fecha y Hora de la Certificaci&oacute;n</strong><br>
    <%= factura.certification_date %></td>
  </div>
</div>
  <div id="logo_medsi"><br>
    Emitido desde:<br>
    <%= wicked_pdf_image_tag "medsi_logo.png",:width => "110",  :height=>"80" %>

  </div>
  <div id="totales">
    <table style="width:100%">
      <tr>
        <td>Subtotal:</td>
      </tr>
      <tr>
        <td>I.V.A. <%=(@invoice_data.iva*10).to_s %>%:</td>
      </tr>
      <tr>
        <% if @invoice_data == nil %>
        <td><% if datos_cliente.person_type == "Moral" %>
              Ret. ISR <%= @invoice_data.doctor.fiscal_information.isr%>%:
          <% else %>
              Ret. ISR 0%:
          <% end%></td>
        <% else %>
            <td>
              <%= "Ret. ISR " + (@invoice_data.isr*10).to_s+ "%:" %>
            </td>
        <% end%>
      </tr>
      <tr>
        <td>Total:</td>
      </tr>

    </table>


  </div>
  <div id="montos">
    <table style="width:100%" id="table_totals">
      <tr>
        <td style=" border-bottom: 1px white solid">$<%= number_to_currency(subtotal_invoice,:unit => "$") %></td>
      </tr>
      <tr >
        <td style=" border-bottom: 1px white solid">$<%= number_to_currency(factura.iva,:unit => "$") %></td>
      </tr>
      <tr>
        <td style=" border-bottom: 1px white solid">
              $<%= number_to_currency(factura.isr,:unit => "$") %>
      </tr>
      <tr>
        <td style=" border-bottom: 1px white solid">
          $<%=number_to_currency(factura_total,:unit => "$") %></td>
      </tr>

    </table>
    <br>
    <br>


  </div>

</div>
<div style="text-align: right">
  <% invoice_cents = factura_total.split(".") %>
  Son: <%= numero_a_palabras(factura_total) + " pesos "+ invoice_cents[1].to_s + "/100 M.N"%>

</div>
<br style="clear:both">
<br>



<div id="main_table">
  <div id="qr">

    <%= wicked_pdf_image_tag_for_public factura.qr_code,:width => "140",  :height=>"140" %>
  </div>
  <div id="cadenas">
    <div id="title_seals">
      <div class="half" id="seal_sat">
        SELLO DIGITAL DEL EMISOR
      </div>
      <div class="half">
        SELLO DIGITAL SAT
      </div>
    </div>
    <div>
      <div class="half_data" id="seal_sat">
        <%=factura.sat_seal %>
      </div>
      <div class="half_data">
        <%=factura.transmitter_seal %>
      </div>
    </div>
    <div id="original_title">
      CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICADO DIGITAL
    </div>
    <div id="original_string">
      <%= factura.original_string_text %>
    </div>

  </div>
</div>

</body>
</html>