<script>
  var expedients_path = "<%= patient_expedients_path %>";
  var create_health_history_path = "<%=  health_history_patient_expedients_path  %>";
  var default_data_patient_path = "<%=  default_patient_data_patient_expedients_path  %>";
</script>

<div class="card">
  <div class="card-body card-padding">

    <div class="row">
      <div class="col-md-10">
        <h3>Historial Médico</h3>
      </div>
      <div class="col-md-2">

        <button title="Nuevo historial médico" class="btn bgm-lightgreen btn-icon waves-effect waves-circle waves-float" onclick="openNewHealthHistoryModal()">
          <i class="zmdi zmdi-assignment zmdi-hc-fw"></i>
        </button>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">


        <%
          current_patient = current_user.user_patient
          all_requests = ExpedientRequest.by_patient(current_patient.id).where('expedient_requests.status = ? ',ExpedientRequest::APPROVED)
          health_histories = HealthHistory.where('user_patient_id =  ?',current_patient.id,)
        %>


        <div role="tabpanel">
          <ul class="tab-nav" role="tablist">
            <% health_histories.each_with_index do |hh, idx| %>
                <li class="<%= idx == 0 ? 'active':'' %>">
                  <a href="#health_history_<%= hh.id %>" aria-controls="health_history_<%= hh.id %>" role="tab" data-toggle="tab">
                  <span class="health_history_name">
                    <%= hh.name %>
                  </span>

                    <i class="zmdi zmdi-plus-circle zmdi-hc-fw link-expedient" title="Nuevo Expediente" onclick="openLinkExpedientModal(<%= hh.id %>)"></i>

                </a></li>
            <% end %>
          </ul>

          <div class="tab-content">
            <% health_histories.each_with_index do |hh,idx|
            %>
                <div role="tabpanel" class="tab-pane <%= idx == 0 ? 'active':'' %>" id="health_history_<%= hh.id %>">

                  <%
                    expedient_request = hh.expedient_requests.where('status =  ? AND is_default = ?',ExpedientRequest::APPROVED,true).first
                    if expedient_request.nil?
                      expedient_request = hh.expedient_requests.where('status =  ?',ExpedientRequest::APPROVED).first
                    end


                    if expedient_request != nil
                      patient = expedient_request.medical_expedient.patient
                  %>

                      <div class="row patient_info">

                        <div style="padding-left: 40px;" class="col-md-12 lv-item media">
                          <span>Datos del paciente capturados por : <%= expedient_request.medical_expedient.doctor.full_name_title %></span>
                          <span><i class="zmdi zmdi-edit zmdi-hc-fw" title="Cambiar" style="cursor: pointer;" onclick="openChangeDefaultDataModal(<%= hh.id %>)"></i></span>
                        </div>

                        <div class="col-md-6">
                          <div class="pmb-block">
                            <div class="pmbb-body p-l-30">
                              <div class="pmbb-view">
                                <dl class="dl-horizontal">
                                  <dt>Nombre</dt>
                                  <dd><%= patient.full_name %></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt>Género</dt>
                                  <dd><%= patient.gender.name %></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt>Fecha de Nacimiento</dt>
                                  <dd><%= patient.birth_day.strftime('%d/%m/%Y') %></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt>Peso</dt>
                                  <dd><%= patient.weight %> Kg</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt>Altura</dt>
                                  <dd><%= patient.height %> cm</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt>Tipo de Sangre</dt>
                                  <dd><%= patient.blood_type.name %></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt></dt>
                                  <dd></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt></dt>
                                  <dd></dd>
                                </dl>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="col-md-6">
                          <div class="pmb-block">
                            <div class="pmbb-body p-l-30">
                              <div class="pmbb-view">
                                <dl class="dl-horizontal">
                                  <dt>Teléfono</dt>
                                  <dd><%= patient.phone %></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt>Celular</dt>
                                  <dd><%= patient.cell %></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt>Email</dt>
                                  <dd><%= patient.email %></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt>Lugar de origen</dt>
                                  <dd><%= patient.birthplace %></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt>Dirección</dt>
                                  <dd><%= patient.address %></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt>Ciudad</dt>
                                  <dd><%
                                    if patient.city.nil?
                                      city = ""
                                    else
                                      city = patient.city.format_city_state_and_country
                                    end
                                  %>
                                    <%= city %></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt></dt>
                                  <dd></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                  <dt></dt>
                                  <dd></dd>
                                </dl>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div> <!-- end .patient_info -->

                  <% else %>
                  <h3 style="text-align: center">No se ha vinculado ningún expediente.</h3>
                  <% end %>


                  <%
                    expedient_requests = ExpedientRequest.where('health_history_id = ? AND status = ?',hh.id,ExpedientRequest::APPROVED)
                    consultations = []
                    if expedient_requests.size > 0
                      consultations = MedicalConsultation.where('medical_expedient_id IN (?)',expedient_requests.map{ |e| e.medical_expedient_id }).order('date_consultation DESC')
                    end
                  %>


                  <div class="appointments_prescriptions">

                    <% if consultations.size > 0 %>

                        <% doctors = all_requests.where('expedient_requests.health_history_id = ?', hh.id) %>

                        <div>
                          <label class="checkbox checkbox-inline m-r-20">
                            Mostrando datos de:
                          </label>
                          <% doctors.each do |exp|  %>
                              <label class="checkbox checkbox-inline m-r-20">
                                <input class="show_doctor_consultation_checkbox" checked type="checkbox" value="<%= exp.medical_expedient.id %>">
                                <i class="input-helper"></i>
                                <%= exp.medical_expedient.doctor.full_name_title %>
                              </label>
                          <% end %>
                        </div>

                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th data-column-id="doctor">Doctor</th>
                            <th data-column-id="date">Fecha</th>
                            <th data-column-id="prescription">Receta</th>
                          </tr>
                          </thead>
                          <tbody>

                          <% consultations.each do |mc| %>
                              <tr class="data_expedient_<%= mc.medical_expedient.id %>">
                                <td><%= mc.medical_expedient.doctor.full_name_title %></td>
                                <td><%= mc.date_consultation.strftime('%d/%m/%Y %l:%M %p') %></td>
                                <td>
                                  <% if mc.prescription.medical_indications.size > 0 %>
                                      <strong>Receta:</strong>
                                  <% end %>
                                  <ul>
                                    <%  mc.prescription.medical_indications.each do |medical|  %>
                                        <li><%= medical.medicament.comercial_name+" ("+medical.medicament.presentation+") Marca: "+ medical.medicament.brand %>
                                          <br><%= "Dosis: " + medical.dose %></li>
                                    <% end %>
                                  </ul>
                                  <p>
                                    <strong>Recomendaciones:</strong><br>
                                    <%= mc.prescription.recommendations %>
                                  </p>
                                </td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                    <% end %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="modal fade" id="link_expedient_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Vinculación de expediente</h4>
      </div>
      <div class="modal-body">
        <strong>
          Código de Vinculación:
        </strong>

        <input id="link_code" type="number" class="form-control" placeholder="Por ejemplo: 1474405791385">
        <input id="health_history_id" type="hidden">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="sendLinkRequest()">Vincular</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_health_history_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="new_health_history_title">Agregar historial médico</h4>
      </div>
      <div class="modal-body">
        <strong>
          Nombre del historial médico:
        </strong>

        <input id="health_history_name" type="text" class="form-control input-lg" placeholder="Por ejemplo: <%= current_user.user_patient.full_name %>">
        <input id="health_history_id" type="hidden" class="">
        <input id="health_history_action" type="hidden" class="">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="createHealthHistory()">Crear</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="default_expedient_info" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Seleccionar datos por defecto</h4>
      </div>
      <div class="modal-body">
        <strong>
          Seleccione los datos que desea mostrar:
        </strong>

        <br>
        <br>

        <% all_requests.each do |exp|  %>
            <div class="radio m-b-15 radio_health_history health_history_<%= exp.health_history.id %>">
              <label class="default_data_doctor_name">
                <input name="default_doctor" value="<%= exp.id %>" type="radio">
                <i class="input-helper"></i>
                <%= exp.medical_expedient.doctor.full_name_title %>
              </label>
            </div>
        <% end %>

        <input type="hidden" id="default_data_health_history_id">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="setDefaultPatientData()">Establecer</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>