<style>
    .button-link {
        padding: 10px 15px;
        background: #4479BA;
        color: #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: solid 1px #20538D;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
    }
    .button-link:hover {
        background: #356094;
        border: solid 1px #2A4E77;
        text-decoration: none;
    }
    .button-link:active {
        -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        background: #2E5481;
        border: solid 1px #203E5F;
    }
</style>

<table width="100%">
    <tbody>
        <tr>
          <td>
            <h1>¡Bienvenido a Medsi! <br>
              Estimado <%= @doctor_full_name %></h1>
          </td>
        </tr>
        <tr style="text-align: justify;">
          <td>


            <p>Gracias por unirte a Medsi, estas a unos pasos de formar parte de la plataforma m&eacute;dica m&aacute;s <br>
              usada en M&eacute;xico, Su nombre de usuario es  <strong><%= @user_required_name %></strong> ,  para completar tu registro sigue el siguiente link:</p>

          </td>
        </tr>
    </tbody>
</table>
<br>
<table width="100%">
  <tbody>
  <tr style="text-align: justify;">
    <td style="width: 13%;"></td>
    <td style="width: 80%;">
      <a href='<%= @url %>' class="button-link" style="
      padding: 10px 15px;
      background: #2ABDD4;
      color: #FFF;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: solid 1px #20538D;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
      "> Finaliza tu registro</a>
    </td>
  </tr>
  </tbody>
</table>

<br>
<table width="100%">
  <tbody>
  <tr style="text-align: justify;">
    <td>

            <p>Si al pulsar el enlace de este mensaje no funciona, copia y pégalo en la barra de tu navegador:</p>
            <a href='<%= @url %>' style='text-decoration: underline;' > <%= @url %></a>
            <br>
    </td>
  </tr>
  </tbody>
</table>

<br>
<table width="100%">
  <tbody>
  <tr style="text-align: justify;">
    <td>
            <p>Este email es parte del proceso de registro en el sistema, si no has solicitado este registro en <br>
              Medsi, por favor ignora este email.</p>

            <p>Si requieres mayor informaci&oacute;n, favor de contactarnos al correo <br>
              atencion@techsystems.com.mx </p>

            <br>
            ¡Divi&eacute;rtete! <br>
            El equipo de Medsi. <br>



          </td>
        </tr>
    </tbody>
</table>

<table width="100%">
  <tbody>
    <tr style="text-align: justify;">
        <td style="width: 15%;"></td>
        <td style="width: 80%;">
          <%= image_tag attachments['logo.png'].url, size: "80x50" %>
        </td>
    </tr>
  </tbody>
</table>

<table width="100%">
  <tbody>
      <tr style="text-align: justify;">
        <td>
          <span style="font-size: 83%; color:#6d6d6d">Este es un mensaje automático. Las respuestas a este mensaje no son monitoreadas ni serán respondidas.</span>
        </td>
      </tr>
  </tbody>
</table>
