<style>
  .button-link {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
  .button-link:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
  }
  .button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
  }
</style>

<table width="100%">
  <tbody>
  <tr>
    <td>
      <h1>Estimado <%= @user_required_name %></h1>
    </td>
  </tr>
  <tr style="text-align: justify;">
    <td>


      <p>Hemos recibido una solicitud para restablecer la contraseña de su cuenta de MEDSI, <br>
        Si ha realizado esta solicitud, haga clic en el siguiente vinculo y establezca su nueva contraseña</p>

    </td>
  </tr>
  </tbody>
</table>
<br>
<table width="100%">
  <tbody>
  <tr style="text-align: justify;">
    <td style="width: 13%;"></td>
    <td style="width: 80%;">
      <a href='<%= @url %>' class="button-link" style="
      padding: 10px 15px;
          background: #2ABDD4;
          color: #FFF;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          border: solid 1px #20538D;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
          -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
          -webkit-transition-duration: 0.2s;
          -moz-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-user-select:none;
          -moz-user-select:none;
          -ms-user-select:none;
          user-select:none;
      "> Restablecer contraseña</a>
    </td>
  </tr>
  </tbody>
</table>
<br>

<table width="100%">
  <tbody>
  <tr style="text-align: justify;">
    <td>

      <p>Si al pulsar el enlace de este mensaje no funciona, copia y p&eacute;galo en la barra de tu <br>
        navegador:</p>
      <a href='<%= @url %>' style='text-decoration: underline;' > <%= @url %></a>
      <br>

      <p>Si usted no solicito cambiar su contraseña, por favor ignore este mensaje, algun usuario ha remitido la solicitud por error.<br> Ningun cambio será realizado a su cuenta. </p>

      <p>Si requieres mayor informaci&oacute;n, favor de contactarnos al correo <br>
        atencion@techsystems.com.mx </p>

      <br>
      El equipo de Medsi. <br>



    </td>
  </tr>
  </tbody>
</table>

<table width="100%">
  <tbody>
  <tr style="text-align: justify;">
    <td style="width: 15%;"></td>
    <td style="width: 80%;">
      <%= image_tag attachments['logo.png'].url, size: "80x50" %>
    </td>
  </tr>
  </tbody>
</table>

<table width="100%">
  <tbody>
  <tr style="text-align: justify;">
    <td>
      <span style="font-size: 83%; color:#6d6d6d">Este es un mensaje automático. Las respuestas a este mensaje no son monitoreadas ni serán respondidas.</span>
    </td>
  </tr>
  </tbody>
</table>
