<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2>Historial de Citas</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Agendar cita', new_patient_appointment_path, class: "pull-right btn bgm-green waves-effect" %>
      </div>
      <div class="col-xs-12">
        <table  id="data-table-appointments" class="table table-striped" data-source="<%= patient_appointments_url(format: "json")%>">
          <thead>
          <tr>
            <th data-column-id="date">Fecha</th>
            <th data-column-id="details">Detalles</th>
            <th data-column-id="doctor">DOCTOR</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
