<div class="card">
  <div class="card-body card-padding">
    <h3>1. Localiza y selecciona un médico</h3>

    <div class="row">
      <div class="col-md-6">
        <strong>Especialidad</strong>
        <select class="form-control selectpicker" id="search_doctor_specialty">
          <option value="">Todas las especialidades</option>
          <% Specialty.order('name ASC').all.each do |sp| %>
              <option value="<%= sp.id %>"><%= sp.name %></option>
          <% end %>
        </select>
      </div>
      <div class="col-md-6">
        <strong>Ciudad</strong>
        <input type="text" id="search_doctor_city" class="form-control input-lg search-city" value="<%= @user_patient.city.nil? ? '': @user_patient.city.format_city_state_and_country %>" city="<%= @user_patient.city.nil? ? '' : @user_patient.city.id %>">
      </div>
    </div>
    <div>

      <table  id="data-table-doctors" class="table table-striped" data-source="<%= doctors_patient_appointments_path(format: "json")%>">
        <thead>
        <tr>
          <th data-column-id="name">Doctor</th>
          <th data-column-id="city">Ciudad</th>
          <th data-column-id="specialty">Especialidad</th>
          <th data-column-id="office">Consultorios</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>2. Selecciona una fecha</h3>
          <div id="select_date"></div>
        <div class="row" style="text-align: center;">

          <div class="col-md-4">
            <span id="span_available" class="span_color">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <strong class="">Alta disponibilidad</strong>
          </div>
          <div class="col-md-4">
            <span id="span_medium_available" class="span_color">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <strong class="">Mediana disponibilidad</strong>
          </div>
          <div class="col-md-4">
            <span id="span_not_available" class="span_color">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <strong class="">Nula disponibilidad</strong>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <h3>
          3. Selecciona un horario
        </h3>
        <strong id="info_selected_date" style="font-size: 16px;">

        </strong>
        <div id="schedule_calendar"></div>

      </div>
    </div>

    <hr>


  </div>
</div>


<div class="modal fade" id="add_appointment_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style="" class="modal-title" id="">Agregar cita</h3>
      </div>
      <div class="modal-body" style="font-size: 16px;">

        <div id="appointment_info">

        </div>
        <input type="hidden" id="user_full_name" value="<%= current_user.user_patient.full_name %>">
        <div>
          <strong>Detalles: </strong>
          <textarea class="form-control input-lg" id="appointment_details" placeholder="Ingrese algún comentario para el Dr."></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveAppointment()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>