<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de Compras de medicamentos</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, MedicamentPurchase %>
          <%= link_to 'Agregar', new_cli_medicament_purchase_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">
  <table id="data-table-medicament_purchases" class="table table-striped" data-source="<%= cli_medicament_purchases_url(format: "json")%>"
         data-can-show="<%= can? :show, MedicamentPurchase %>">
  <thead>
  <tr>
    <th data-column-id="folio">Folio</th>
    <th data-column-id="supplier">Proveedor</th>
    <th data-column-id="cost">Costo</th>
    <th data-column-id="invoice_number">Número de factura</th>
    <th data-column-id="warehouse">Almacen</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
