<div class="card">
  <div class="card-body card-padding">
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-header" style="text-align: center">
            <h1>Compra de medicamentos y artículos de farmacia</h1>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="new_purchase_section">
            Datos de la compra
          </div>
        </div>
        <div class="col-md-12" style="padding: 5px;"></div>
        <div class="col-xs-6">
          <div class="fg-line">
            <strong style="color: red"></strong><strong> Proveedor: </strong>
            <%= @medicament_purchase.supplier.name %><br>
            <strong style="color: red"></strong><strong> Almacen: </strong>
            <%= @medicament_purchase.warehouse.name %><br>
            <strong style="color: red"></strong><strong>Folio: </strong>
            <%= @medicament_purchase.folio %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="fg-line">
            <strong style="color: red"></strong><strong>Costo: </strong>
            <%= number_to_currency(@medicament_purchase.cost,:unit => "$") %><br>
            <strong>Número de factura: </strong>
            <%= @medicament_purchase.invoice_number %>
          </div>
        </div>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_purchase_section">
            Medicamentos
          </div>
        </div>

        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_concepts_open" class="col-xs-12">

          <table id="medicaments_items" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Cant.</th>
              <th width="15%" style="text-align: center">Medicamento</th>
              <th width="30%" style="text-align: center">Lote</th>
              <th width="15%" style="text-align: center">Fecha de caducidad</th>
              <th width="15%" style="text-align: center">Importe</th>
              <th width="10%" style="text-align: center"></th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <%  @medicament_purchase.medicament_purchase_items.each do |ic| %>
                <tr id="medicament_purchase_item_<%= ic.id %>">
                  <td ><%= ic.quantity %></td>
                  <td ><%= ic.lot.medicament.comercial_name %></td>
                  <td ><%= ic.lot.name %></td>
                  <td ><%= ic.lot.expiration_date.strftime("%d/%m/%Y") %></td>
                  <td ><%= number_to_currency(ic.cost,:unit => "$") %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_purchase_section">
            Articulos
          </div>
        </div>

        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_item_open" class="col-xs-12">

          <table id="pharmacy_items" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Cant.</th>
              <th width="15%" style="text-align: center">Articulo</th>
              <th width="15%" style="text-align: center">Importe</th>
              <th width="10%" style="text-align: center"></th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <%  @medicament_purchase.medicament_purchase_farmacy_items.each do |ic| %>
                <tr id="medicament_purchase_item_<%= ic.id %>">
                  <td ><%= ic.quantity %></td>
                  <td ><%= ic.pharmacy_item.description + "(" + ic.pharmacy_item.code + ")" %></td>
                  <td ><%= number_to_currency(ic.cost,:unit => "$") %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <div id="loading_image_open">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
      <a href="<%= cli_medicament_purchases_path %>" class="btn btn-danger">Atrás</a>
    </div>


  </div>
</div>





