
<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de Roles</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, Role  %>
          <%= link_to 'Agregar', new_admin_role_path, class: "pull-right btn bgm-green waves-effect" %>
        <%end %>
  </div>
      <div class="col-xs-12">

  <table id="data-table-role" class="table table-striped" data-source="<%= admin_roles_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Role %>"
         data-can-manage="<%= can? :permission, Role %>"
         data-can-delete="<%= can? :destroy, Role %>">
  <thead>
  <tr>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>

</div></div></div></div>
