
<div class="card">
  <div class="card-body card-padding">
<div class="row">
<% Section.order('alias_name ASC').all.each do |section| %>
    <div class="col-md-12">
    <div class="checkbox"style="padding-left: 20px">
      <label>
        <input type="checkbox" class="s_parent" value="<%=section.id%>" id="section_<%=section.id%>">
        <i class="input-helper"></i>
        <strong class="font_size_medical_history"><%= section.alias_name %> </strong>
      </label>
        <% section.actions.each do |action| %>
          <div class="checkbox" style="padding-left: 45px" id="actions_<%=section.id%>">
            <label>
              <input type="checkbox" class="action check_child_<%=section.id%>" id="action_<%=action.id%>" value="<%= action.id %>">
              <i class="input-helper"></i>
              <strong class="font_size_medical_history"><%= action.alias_name %> </strong>
            </label>
          </div>
        <% end %>
    </div>
    </div>
<% end %>
</div>
  </div>
</div>
<br><br>
<button class="btn btn-primary" onclick="savePermissions(<%= @role.id %>)" >Guardar Cambios</button>

<%= hidden_field_tag 'url_get_role_permission', url_for(:controller => 'admin/roles', :action => 'get_permissions', :only_path => true) %>
<%= hidden_field_tag 'url_save_role_permissions', url_for(:controller => 'admin/roles', :action => 'save_permissions', :only_path => true) %>
<%= hidden_field_tag 'manage_role_id', @role.id %>