#main_title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#account_details{
    margin-top: 20px;
    margin-bottom: 30px;
}
#account_details table{
    border: 1px solid black;
    padding: 5px;
}

.account_info{
    text-align: right;
}

#financial_info_title{
    text-align: center;
    border-bottom: 2px solid black;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

#financial_summary{
    margin-top: 15px;
    margin-bottom: 15px;
}

#financial_summary_table thead tr th{
    border-bottom: 1px solid black;
}

#details_title{
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

#transaction_details{
    width: 100%;
}

#transaction_details thead{
    text-align: left;
}

#transaction_details td{
    font-size: 13px;
}

.amount{
    float:right;
}

#transaction_details .details{
    width: 370px;
}

.totals {
    font-weight: bold;
}

td.total{
    border-top: 1px solid black;
}

.symbol{
    margin-left: 5px;
}
