.table{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}


.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #f0f0f0;
}

.table-bordered{
    border: 1px solid #f0f0f0;

    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.hr{
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
    border-top: 1px solid #eeeeee;

    box-sizing: content-box;
    height: 0;
}