table.items_table{
    width: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.table_header{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: left;
    font-size: 13px;
}

.table_header tr th{
    border-bottom: 1px solid black;
}

table.items_table tbody .amount{
    float: right;
}

.total_row{
    border-top: 1px solid black;
    font-weight: bold;
}

.currency{
    min-width: 80px;
}

.other_movement_details{
    width: 300px;
}

.egress{
    color: red;
}

.red_total{
    color: red;
}

td.egress .symbol::after {
    content: "-";
}
/*td.income .symbol::before {
  content: "\00a0 ";
}*/

table.balance{
    width: 100%;
}

table.balance thead{
    text-align: center;
    font-size: 13px;
}

table.balance thead th{
    border-bottom: 1px solid black;
}

.total_section td{
    border-top: 1px solid #c0c0c0;
}

div.header{

}

div.header_item{
    float: left;
}

.logo{
    width: 30%;
}

.daily_cash_details{
    width: 70%;
}

.summary{
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;
    border: 1px solid black;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}