.half{
    float: left;
    width: 100%;
    word-wrap:break-word;
    border-bottom: 1px solid;
    font-size: 13px;
    text-align: center;
}
.half_data{
    float: left;
    width: 100%;
    word-wrap:break-word;
    border-bottom: 1px solid;
    font-size: 10px;
}

#qr{
    float: left;
    width: 19.5%;
}

#cadenas{
    float: left;
    width: 79.5%;
    border: 1px black solid;
}

#original_title{
    border-bottom: 1px solid;
    font-size: 13px;
    text-align: center;
}

#seal_sat{
    border-right: 1px solid;
}
#original_string{
    word-wrap:break-word;
    font-size: 10px;
}
#detalles_pago{
    float:left;
    width: 100%;
}
#main_table{
    float: left;
    width: 100%;
}
#datos_pago{
    float: left;
    width: 50%;
    font-size: 13px;
}
#logo_medsi{
    float: left;
    width: 20%;
}
#totales{
    float: left;
    width: 15%;
    font-size: 13px;
    text-align: right;
}
#montos{
    float: left;
    width: 15%;
    font-size: 13px;
    text-align: center;
}
#montoletras{
    float: left;
    width: 100%;
}
#conceptos{
    width: 100%;
    border: none;
}
#conceptos th{
    background-color: #0c7cd5;
    color: white;
}

#last_record{

    height: 175px;
}

#logo_consultorio{
    float: left;
    width: 40%;
}
#dato_emisor{
    float: left;
    width: 60%;
    font-size: 13px;
}
#dato_cliente{
    float: left;
    width: 50%;
    font-size: 13px;
}
#dato_emision{
    float: left;
    width: 50%;
    font-size: 13px;
}

.row_factura td{
    border: 1px #0a6ebd solid !important;
    font-size: 13px;
}

#cancel_div{
    top: 300px;
    left: 125px;
    position: absolute;
    opacity: 0.35;
    font-size: 5em;
    border: 5px solid ;
    border-radius: 25px;
}