.date_format{
    font-size: 65%;
}

.table_date_format {
    border-collapse: collapse;
}

.container-table{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.container-table-hr{
    margin-left: 20px;
    margin-right: 20px;

}

.table_head_clinical > tr > th{
    text-align: left;
}

.size_content_table > tbody{
    font-size: 80%;
}

.size_content_table{
    border: 1px solid black;
}

.table_date_format, td, th {
    border: 0px solid black;

    border-bottom: 1px;
    border-top: 1px;
}

.section_expedient {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
/*
.section_expedient > thead th {
    background-color: #DDEFEF;
    border-bottom: 1px solid rgba(17, 138, 174, 0.92);
    color: #050b0b;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
*/

.zui-table-rounded {
    border: none;
}
.zui-table-rounded > thead th {
    background-color: #87b5eb;
    border: 1px solid rgba(49, 78, 174, 0.92);

    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}
/* footer */

hr{
    color: #87b5eb;
    border: none;
    height: 1px;
    /* Set the hr color */
    background-color: #87b5eb; /* Modern Browsers */
}

.type_text_footer{
    font-weight: normal;
    font-style: italic;
    font-size: 9pt;
    padding-left: 1.8em;
}

/* tabla de padres */
.table_parent{
    border-collapse: collapse;
}

.table_parent > tbody tr:nth-child(odd){
    background: #EFF0F1;
}

.table_parent > tbody tr td:first-child{
    background-color: #87b5eb;
    color: #FFFFFF;
    border-bottom: 1px solid black;
}

.table_parent > tbody tr:last-child{
    border-bottom: 1px solid black;
}

.table_parent > thead th{
    background-color: #87b5eb;
    /*border: 1px solid rgba(49, 78, 174, 0.92); */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #FFFFFF;
}

.table_parent > tbody tr td{
    text-align: center;
    padding: 5px;
}

.table_consultations > tbody tr td{
    text-align: left;
}


.table_consultations > tbody tr td:first-child{
    text-align: center;
}


/*********************/

table.consultation_table, table.consultation_table td{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    font-size: 12px;
}

table.consultation_table td{
    padding: 5px;
}

.header_consultation{
    background: #87b5eb;
}


