
td{
   width: 1%;
}

.border_blank{
    width: 2% !important;
}

.title_header{
    font-size: 14px;

}
hr {
    color:black;
    background-color: black;
    border: none;
    height: 1px;
}

.text_style_head {
    font-family: Arial;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.text_body {
    font-size: 13px;
}

.text_color {
 /*   color: #064475;*/
}

.first_column {
    width: 10%;
}

.second_column {
    width: 80%;
}
.three_column {
    width: 10%;
}

.first_column_body{
    width: 75%;
}

.second_column_body{
    width: 25%;
}

.standard-table {
    width: 100%;
}

.head_template_a_border > tbody > tr > td {
    padding-bottom: 0px;
    margin-bottom:0px;
    padding-top: 0px;
    margin-top: 0px;
}

td {
    padding:0px;
    margin: 0px;
}

.qr-table {
    border-width: 0 !important;
    border-style: none !important;
    border-color: #0000ff !important;
    border-collapse: collapse !important;
    text-align: right !important;
}

.qr-table td {
    border-left: solid 4px #000 !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 0px !important;
    height: 4px !important;
}

.qr-table td.black { border-color: #000 !important;}
.qr-table td.white { border-color: #fff !important; }
