.vaccine_table{
    width: 100%;
}
.vaccine_table thead{
    background: #7DC460;
    text-transform: uppercase;
}
.vaccine_table thead th{
    text-align: center;
    padding: 3px;
    border: black 1px solid;
    color: black;
}

.vaccine_table tbody td{
    padding: 3px;
    border: black 1px solid;
}

.vaccine_table .vaccine_info{
    text-transform: uppercase;
    font-weight: bold;
}
