<div class="modal fade" id="change_office_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Establecer consultorio de trabajo</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-12">
            <select class="selectpicker form-control" id="set_new_current_office">
              <% if session[:role] == 'doctor'  %>
                  <% doc_num_offi = 0 %>
                <% current_user.offices.each do |o| %>
                    <option value="<%= o.id %>" <%= session[:current_office_id].to_i == o.id ? 'selected' : '' %>>
                      <%= o.name  %>
                      <% doc_num_offi = doc_num_offi + 1 %>
                    </option>
                  <% end %>
              <% elsif session[:role] == 'assistant' %>
                  <% doc_num_offi = 1 %>
                  <% assistant = Assistant.find(session[:assistant_id])

                    assistant.office_permissions.each do |op|
                      if op.permission.name == 'daily_cash'
                  %>
                  <option value="<%= op.office.id %>"><%= op.office.name %></option>
                  <%
                    end
                    end %>

              <% end %>
            </select>
            <input type="hidden" id="doc_num_office" value=<%=doc_num_offi %>>
            <input type="hidden" id="first_login" value="0">
            <input type="hidden" id="url_box_value" value=<%= doctor_daily_cashes_path %> >
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="setCurrentOffice()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="cancel_appointment_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cancelación de solicitud de cita</h4>
      </div>
      <div class="modal-body">
        <strong>
          Motivo de cancelación:
        </strong>

        <textarea id="appointment_cancel_details" class="form-control input-lg" placeholder="Ingrese el motivo de la cancelación"></textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="confirmCancelAppointment()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="new_schedule_appointment_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reagendar cita</h4>
      </div>
      <div class="modal-body" style="font-size: 16px;">
        <input type="hidden" id="new_schedule_activity_id">
        <strong>Actividad: </strong><span id="new_schedule_activity_name"></span><br>
        <strong>Fecha: </strong><span id="new_schedule_activity_date"></span><br>
        <strong>Hora: </strong><span id="new_schedule_activity_start_time"></span> - <span id="new_schedule_activity_end_time"></span><br>
        <hr>
        <div class="row">
          <div class="col-md-12" style="text-align: center">
            <strong>Nueva fecha y horario</strong>
            <br><br>
          </div>
          <div class="col-md-6">
            <strong>Fecha:</strong>
            <input type="text" class="form-control date-picker input-lg" placeholder="dd/mm/aaaa" id="new_schedule_start_date">
          </div>
          <div class="col-md-3">
            <strong>Hora Inicio:</strong>
            <input type="text" class="form-control time-picker input-lg" placeholder="" id="new_schedule_start_time">
          </div>
          <div class="col-md-3">
            <strong>Hora Fin:</strong>
            <input type="text" class="form-control time-picker input-lg" placeholder="" id="new_schedule_end_time">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="setNewSchedule()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>