  <div class="profile-menu">
    <a href="">
      <div class="profile-pic" style="height: 77px;">

      </div>

      <div class="profile-info">
        <% if doctor? %>
            <%= abbreviation_dr.to_s+" "+get_doctor_session.user.person.full_name %>
        <% else %>
            <%= current_user.person.full_name %>
        <% end %>

        <i class="zmdi zmdi-caret-down"></i>
      </div>
    </a>

    <% if current_user.is_doctor%>
    <ul class="main-menu">
      <li>
        <a href="#" onclick="openChangeOfficeModal('0')"><i class="zmdi zmdi-hospital-alt"></i><%= session[:current_office_id] != '' ? Office.find(session[:current_office_id]).name : 'No se ha seleccionado un consultorio' %></a>
      </li>
      <% if doctor? %>
      <li>
        <a href="<%= doctor_doctor_profile_path %>"><i class="zmdi zmdi-assignment-account zmdi-hc-fw"></i> Perfil</a>
      </li>
      <li>
        <a href="<%= doctor_settings_path %>"><i class="zmdi zmdi-settings"></i> Configuración</a>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <ul class="main-menu app_menu">
    <li class="active">

      <% if session[:user_type_id] == TypeUser::DOCTOR %>
          <%= link_to doctor_index_path do %>
              <i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> Agenda
          <% end %>
      <% elsif session[:user_type_id] == TypeUser::MEDICAL_ASSISTANT %>
          <%= link_to doctor_dashboard_assistant_url do %>
              <i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> Agenda
          <% end %>
      <% end %>

    </li>

    <li class="">
      <%= link_to doctor_patients_path do %>
          <i class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i> Pacientes
      <% end %>
    </li>

    <% if session[:user_type_id] == TypeUser::DOCTOR %>
        <li class="">
          <%= link_to doctor_index_expedient_path do %>
              <i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Expedientes clínicos
          <% end %>
        </li>
    <% end %>

    <li class="">
      <%= link_to doctor_doctor_waiting_room_path do %>
          <i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i> Sala de espera
      <% end %>
    </li>

    <li>
      <% if session[:current_office_id] != nil && session[:current_office_id] != "" %>
      <a href="<%= doctor_daily_cashes_path %>"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Caja</a>
      <% else %>
          <a href="#" onclick="openChangeOfficeModal('1')"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i>Caja</a>
      <% end %>
    </li>

    <li class="sub-menu">
      <a href=""><i class="zmdi zmdi-collection-text zmdi-hc-fw"></i> Facturaci&oacute;n</a>
      <ul>
        <li><%= link_to 'Facturación de consultas', doctor_transactions_path  %></li>
        <li><%= link_to 'Facturación global', general_invoice_doctor_transactions_path  %></li>
        <li><%= link_to 'Facturación abierta', open_invoices_doctor_invoices_path  %></li>
        <li><%= link_to 'Datos fiscales', doctor_general_fiscal_infos_path  %></li>
      </ul>
    </li>

    <% if session[:user_type_id] == TypeUser::DOCTOR %>
        <li>
          <%= link_to doctor_accounts_path do %>
              <i class="zmdi zmdi-balance-wallet zmdi-hc-fw"></i> Cuentas Bancarias
          <% end %>
        </li>
    <% end %>

    <% if session[:user_type_id] == TypeUser::DOCTOR %>
        <li class="sub-menu">
          <a href=""><i class="zmdi zmdi-local-hospital zmdi-hc-fw"></i> Consultorios</a>
          <ul>
            <li><%= link_to 'Lista', doctor_offices_path %></li>
            <li><%= link_to 'Plantilla recetas', templates_prescription_doctor_offices_path %></li>
          </ul>
        </li>
    <% end %>


    <% if session[:user_type_id] == TypeUser::DOCTOR %>
        <li class="">
          <%= link_to doctor_assistants_path do %>
              <i class="zmdi zmdi-account zmdi-hc-fw"></i> Asistentes
          <% end %>
        </li>
    <% end %>


    <li class="">
      <%= link_to doctor_personalsupports_path do %>
          <i class="zmdi zmdi-accounts-add zmdi-hc-fw"></i> Participantes
      <% end %>
    </li>

    <% if session[:user_type_id] == TypeUser::DOCTOR %>
        <li>
          <%= link_to doctor_laboratories_path, :class => '' do %>
              <i class="zmdi zmdi-local-convenience-store zmdi-hc-fw"></i>
              Laboratorios
          <% end %>
        </li>
    <% end %>

    <% if false %>
    <li class="sub-menu">
      <a href=""><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Estadisticas</a>
      <ul>
        <li><%= link_to 'Estadisticas generales', doctor_charts_doctor_statistics_path  %></li>
        <li><%= link_to 'Estadisticas comparativas', comparative_charts_doctor_statistics_path  %></li>
        <li><%= link_to 'Enfermedades', graph_diseases_doctor_statistics_path  %></li>
      </ul>
    </li>
    <% end %>

    <li class="sub-menu">
      <a href=""><i class="zmdi zmdi-assignment zmdi-hc-fw"></i> Reportes</a>
      <ul>
        <li><%= link_to 'Pacientes inactivos', inactive_patients_doctor_patients_path  %></li>
        <li><%= link_to 'Cortes de caja', history_doctor_daily_cashes_path %></li>
        <li><%= link_to 'Consultas', doctor_medical_consultations_path %></li>
        <li><%= link_to 'Embarazos', pregnancy_report_doctor_pregnancies_path %></li>
        <li><%= link_to 'Facturas', doctor_invoices_path  %></li>
      </ul>
    </li>

    <li class="sub-menu">
      <a href=""><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Documentos medicos</a>
      <ul>
        <li><%= link_to 'Tipos de documentos', index_type_certificate_doctor_certificate_index_path  %></li>
        <li><%= link_to 'Documentos', index_certificate_doctor_certificate_index_path %></li>
      </ul>
    </li>


  </ul>