.text_font_header{width:100%;text-align:center}.text_font_header{border-collapse:collapse;border-spacing:0}.text_font_footer_a{font-size:16px;width:100%;text-align:left}.text_font_footer_b{font-size:13px;width:100%;text-align:center}.first_column{width:10%}.second_column{width:80%}.three_column{width:10%}strong{font-size:14px}.text_font{font-family:Nimbus Roman No9 L}.text_body{font-size:14px}.table_patient{border-collapse:collapse}
