<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_javascript_include_tag "jquery" %>
  <%= wicked_pdf_javascript_include_tag "highcharts" %>
  <%= wicked_pdf_javascript_include_tag "highcharts/highcharts-more" %>
  <%= render 'pdfs/pdf_styles' %>
  <style>
    #data_table{
      font-size: 10px;
    }
  </style>
  <title><%= @title %></title>
</head>
<body onload="onloadBody()">
<div id="main_content_pdf">
  <div id="pdf_header">
    <h1><%= @title %></h1>
    <table class="pdf_table">
      <tr>
        <td width="20%" class="bold">Fecha de inicio</td>
        <td><%= @start_date  %></td>
      </tr>
      <tr>
        <td class="bold">Fecha de fin</td>
        <td><%= @end_date  %></td>
      </tr>
      <tr>
        <td class="bold">Enfermedades con resultados mayores a</td>
        <td><%= @more_than  %></td>
      </tr>
    </table>
  </div>
  <div id="pdf_data">

    <div id="graph_diseases" style="height: 400px; margin: 0 50px auto; width:100%; text-align: center;"></div>
    <input type="hidden" id="categories_diseases" value="<%= @categories_graph.to_json %>"/>
    <input type="hidden" id="series_diseases" value="<%= @series.to_json %>"/>

    <script>
        function onloadBody(){
            var categories = JSON.parse($('#categories_diseases').val());
            var series = JSON.parse($('#series_diseases').val());

            var title = "Total de "+series[0].name.toLowerCase()+" con alguna enfermedad";
            Highcharts.chart('graph_diseases', {
                chart: {
                    type: 'bar'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: title
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    series: {
                        stacking: 'normal',
                        enableMouseTracking: false,
                        shadow: false,
                        animation: false
                    }
                },
                series:series
            });
        }
    </script>

  </div>
</div>

</body>
</html>