<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <title><%= @title %></title>
</head>
<body>
<div id="main_content_pdf">
  <%= @html_content.html_safe %>
</div>
</body>
</html>