<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
</head>
<body style="padding-bottom: 12px;">

<% html =  @html_content_footer %>

<% @consultation.consultation_infos.joins(:consultation_field).includes(:consultation_field).each do |ci|
  if html.include? ci.consultation_field.code
    case ci.consultation_field.field_type
      when Const::CONSULTATION_FIELD_CHECKBOX
        html = html.gsub!(ci.consultation_field.code, ci.data == "true" ? "Si" : "No")
      else
        html = html.gsub!(ci.consultation_field.code, ci.data)
    end
  end
end
%>

<%

  if html.include?(Const::CONSULTATION_CURRENT_CONDITION)
    html = html.gsub!(Const::CONSULTATION_CURRENT_CONDITION, @consultation.current_condition)
  end

  if html.include?(Const::CONSULTATION_DIAGNOSTIC)
    html = html.gsub!(Const::CONSULTATION_DIAGNOSTIC, @consultation.diagnostic)
  end

  if html.include?(Const::CONSULTATION_RECOMENDATIONS)
    html = html.gsub!(Const::CONSULTATION_RECOMENDATIONS, @consultation.prescription.recommendations)
  end

  if html.include?(Const::CONSULTATION_DISEASES)
    html = html.gsub!(Const::CONSULTATION_DISEASES, @consultation.diseases.map{|d| d.name}.join(", "))
  end

  if html.include?(Const::CONSULTATION_MEDICAMENTS)
    str =  "<ul style=\"font-size: 80%\">#{@consultation.prescription.medical_indications.map{|mi| "<li>#{mi.prescription_format}</li>"}.join("")}</ul>"
    html = html.gsub!(Const::CONSULTATION_MEDICAMENTS, str)
  end



  ConsultationImage.all.each do |image|
    if html.include? image.code
      html = html.gsub!(image.code, wicked_pdf_image_tag_no_asset(image.image.path, :width => "100%"))
    end
  end

%>

<%= html.html_safe %>
</body>
</html>