<html>
<head>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <style>
    .data_table{
      font-size: 11px;
    }
  </style>
  <title><%= @title %></title>
</head>
<body>


<div id="main_content_pdf">

  <div id="pdf_header">
    <h1><%= @title %></h1>
    <table class="pdf_table">
      <tr>
        <td width="20%" class="bold">Consultorio</td>
        <td><%= @daily_cash.account.office_name  %></td>
      </tr>
      <tr>
        <td class="bold">Caja</td>
        <td><%= @daily_cash.account.account_number %></td>
      </tr>
      <tr>
        <td class="bold">Fecha de apertura</td>
        <td><%= @daily_cash.start_date.strftime('%d/%m/%Y %l:%M %P') %></td>
      </tr>
      <tr>
        <td class="bold">Aperturado por</td>
        <td><%= @daily_cash.user.owner_name %></td>
      </tr>
      <tr>
        <td class="bold">Fecha de cierre</td>
        <td><%= @daily_cash.end_date!= nil ? @daily_cash.end_date.strftime('%d/%m/%Y %l:%M %P') : 'No disponible' %></td>
      </tr>
      <tr>
        <td class="bold">Cerrado por</td>
        <td><%= @daily_cash.close_user != nil ? @daily_cash.close_user.owner_name : 'El corte permanece abierto' %></td>
      </tr>
    </table>

  </div>

  <div id="pdf_data">
    <%
      @transaction_types.each do |tt|
        items = @data[tt[0]]

        if items.size == 0
          next
        end

    %>
        <div class="section_title"><%= tt[1] %></div>
        <% case tt[0]
             when TransactionType::CONSULTATION
        %>
            <table class="pdf_table data_table">
              <thead>
              <tr>
                <th width="20%">Expediente</th>
                <th width="40%">Paciente</th>
                <th width="20%">Fecha</th>
                <th width="20%" class="text-right">Importe</th>
              </tr>
              </thead>
              <tbody>
              <%
                currencies = Hash.new
              %>
              <% items.each do |t| %>
                  <tr>
                    <td><%= t.chargeable.medical_consultation.medical_expedient.folio %></td>
                    <td><%= t.chargeable.medical_consultation.patient.full_name %></td>
                    <td><%= date_hour(t.date) %></td>
                    <td class="currency">
                     <%= t.currency.iso_code %> <%= number_to_currency(t.amount).sub '$', '' %>
                    </td>
                  </tr>
                  <%
                    amount = currencies[t.currency.iso_code]
                    if amount.nil?
                      currencies[t.currency.iso_code] = 0
                    end
                    amount = currencies[t.currency.iso_code]
                    amount = amount + t.amount
                    currencies[t.currency.iso_code] = amount
                  %>
              <% end %>
              <tr class="total_row">
                <td colspan="3" class="">Total</td>
                <td class="currency">
                  <% currencies.each do |key, val| %>
                      <%= key %> <%= number_to_currency(val).sub '$', '' %><br>
                  <% end %>
                </td>
              </tr>

              </tbody>
            </table>

        <%
          when TransactionType::REPORT
        %>
            <table class="pdf_table data_table">
              <thead>
              <tr>
                <th width="20%">Estudio</th>
                <th width="40%">Paciente</th>
                <th width="20%">Fecha</th>
                <th width="20%" class="text-right">Importe</th>
              </tr>
              </thead>
              <tbody>
              <%
                currencies = Hash.new
              %>
              <% items.each do |t| %>
                  <tr>
                    <td><%= t.chargeable.get_study %></td>
                    <td><%= t.chargeable.get_patient %></td>
                    <td><%= date_hour(t.created_at) %></td>
                    <td class="currency">
                      <%= t.currency.iso_code %> <%= number_to_currency(t.amount).sub '$', '' %>
                    </td>
                  </tr>
                  <%
                    amount = currencies[t.currency.iso_code]
                    if amount.nil?
                      currencies[t.currency.iso_code] = 0
                    end
                    amount = currencies[t.currency.iso_code]

                    amount = amount + t.amount

                    currencies[t.currency.iso_code] = amount

                  %>
              <% end %>
              <tr class="total_row">
                <td colspan="4" class="">Total</td>
                <td class="currency">
                  <% currencies.each do |key, val| %>
                      <%= key %> <%= number_to_currency(val).sub '$', '' %><br>
                  <% end %>
                </td>
              </tr>

              </tbody>
            </table>

        <% when TransactionType::OTHER %>

            <table class="pdf_table data_table">
              <thead>
              <tr>
                <th width="20%">Movimiento</th>
                <th width="40%">Detalle</th>
                <th width="20%">Fecha</th>
                <th width="20%" class="text-right">Importe</th>
              </tr>
              </thead>
              <tbody>
              <%
                currencies = Hash.new
              %>
              <% items.each do |t| %>
                  <tr>
                    <td><%= t.t_type == 1 ? 'Ingreso' : 'Egreso' %></td>
                    <td class="other_movement_details"><%= 'Concepto: '+t.chargeable.movement_type.name+'. '+t.chargeable.details %></td>
                    <td><%= date_hour(t.date) %></td>
                    <td class="currency <%= t.t_type == 1 ? 'income' : 'egress' %>">
                      <%= t.currency.iso_code %> <%= number_to_currency(t.amount).sub '$', '' %>
                    </td>
                  </tr>
                  <%
                    amount = currencies[t.currency.iso_code]
                    if amount.nil?
                      currencies[t.currency.iso_code] = 0
                    end
                    amount = currencies[t.currency.iso_code]

                    if t.t_type == 1
                      amount = amount + t.amount
                    else
                      amount = amount - t.amount
                    end

                    currencies[t.currency.iso_code] = amount

                  %>
              <% end %>
              <tr class="total_row">
                <td colspan="3" class="">Total</td>
                <td class="currency">
                  <% currencies.each do |key, val| %>
                    <span class="<%= val < 0 ? 'egress':'ingress' %>">
                      <%= key %> <%= number_to_currency(val).sub '$', '' %><br>
                    </span>
                  <% end %>
                </td>
              </tr>
              </tbody>
            </table>

        <% when TransactionType::TRANSFER %>

            <table class="pdf_table">
              <thead>
              <tr>
                <th width="20%">Origen</th>
                <th width="40%">Destino</th>
                <th width="20%">Fecha</th>
                <th width="20%" class="text-right">Monto</th>
              </tr>
              </thead>
              <tbody>
              <%
                currencies = Hash.new
              %>
              <% items.each do |t| %>
                  <tr>
                    <td><%= t.chargeable.from.account_number+' ('+t.chargeable.from.bank.name+')' %></td>
                    <td><%= t.chargeable.to.account_number+' ('+t.chargeable.to.bank.name+')' %></td>
                    <td><%= date_hour(t.date) %></td>
                    <td class="currency <%= t.t_type == 1 ? 'income' : 'egress' %>">
                      <%= t.currency.iso_code %> <%= number_to_currency(t.amount).sub '$', '' %>
                    </td>
                  </tr>
                  <%
                    amount = currencies[t.currency.iso_code]
                    if amount.nil?
                      currencies[t.currency.iso_code] = 0
                    end
                    amount = currencies[t.currency.iso_code]

                    if t.t_type == 1
                      amount = amount + t.amount
                    else
                      amount = amount - t.amount
                    end

                    currencies[t.currency.iso_code] = amount

                  %>
              <% end %>

              <tr class="total_row">
                <td colspan="3" class="">Total</td>
                <td class="currency">
                  <% currencies.each do |key, val| %>
                      <%= key %> <%= number_to_currency(val).sub '$', '' %><br>
                  <% end %>
                </td>
              </tr>

              </tbody>
            </table>
        <% when TransactionType::HOSPITAL_ADMISSION %>

            <table class="pdf_table data_table">
              <thead>
              <tr>
                <th width="20%">Folio</th>
                <th width="40%">Paciente</th>
                <th width="20%">Fecha</th>
                <th width="20%" class="text-right">Importe</th>
              </tr>
              </thead>
              <tbody>
              <%
                currencies = Hash.new
              %>
              <% items.each do |t| %>
                  <tr>
                    <td><%= t.chargeable.folio %></td>
                    <td><%= t.chargeable.hospital_admission.patient.full_name %></td>
                    <td><%= date_hour(t.date) %></td>
                    <td class="currency <%= t.t_type == 1 ? 'income' : 'egress' %>">
                      <%= t.currency.iso_code %> <%= number_to_currency(t.amount).sub '$', '' %>
                    </td>
                  </tr>
                  <%
                    amount = currencies[t.currency.iso_code]
                    if amount.nil?
                      currencies[t.currency.iso_code] = 0
                    end
                    amount = currencies[t.currency.iso_code]

                    if t.t_type == 1
                      amount = amount + t.amount
                    else
                      amount = amount - t.amount
                    end

                    currencies[t.currency.iso_code] = amount

                  %>
              <% end %>

              <tr class="total_row">
                <td colspan="3" class="">Total</td>
                <td class="currency">
                  <% currencies.each do |key, val| %>
                      <%= key %> <%= number_to_currency(val).sub '$', '' %><br>
                  <% end %>
                </td>
              </tr>

              </tbody>
            </table>
        <% when TransactionType::OTHER_CHARGES %>

            <table class="pdf_table data_table">
              <thead>
              <tr>
                <th width="20%">Folio</th>
                <th width="40%">Paciente</th>
                <th width="20%">Fecha</th>
                <th width="20%" class="text-right">Importe</th>
              </tr>
              </thead>
              <tbody>
              <%
                currencies = Hash.new
              %>
              <% items.each do |t| %>
                  <tr>
                    <td><%= t.chargeable.folio %></td>
                    <td><%= t.chargeable.other_charge.patient_name %></td>
                    <td><%= date_hour(t.date) %></td>
                    <td class="currency <%= t.t_type == 1 ? 'income' : 'egress' %>">
                      <%= t.currency.iso_code %> <%= number_to_currency(t.amount).sub '$', '' %>
                    </td>
                  </tr>
                  <%
                    amount = currencies[t.currency.iso_code]
                    if amount.nil?
                      currencies[t.currency.iso_code] = 0
                    end
                    amount = currencies[t.currency.iso_code]

                    if t.t_type == 1
                      amount = amount + t.amount
                    else
                      amount = amount - t.amount
                    end

                    currencies[t.currency.iso_code] = amount

                  %>
              <% end %>

              <tr class="total_row">
                <td colspan="3" class="">Total</td>
                <td class="currency">
                  <% currencies.each do |key, val| %>
                      <%= key %> <%= number_to_currency(val).sub '$', '' %><br>
                  <% end %>
                </td>
              </tr>

              </tbody>
            </table>

        <% end %>

    <% end %>


      <div class="section_title">Balance</div>
      <div style="width: 400px; margin-left: auto; margin-right: auto;">
        <table class="pdf_table">
          <thead class="">
          <tr>
            <th>Saldo Inicial</th>
            <th>Saldo Final</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <% @daily_cash.dc_balances.each do |dcb| %>
                  <%= dcb.currency.iso_code %> <%= number_to_currency(dcb.start, unit: ' ') %><br>
              <% end %>
            </td>
            <td>
              <% @daily_cash.dc_balances.each do |dcb| %>
                  <%= dcb.currency.iso_code %> <%= number_to_currency(dcb.end, unit: ' ') %><br>
              <% end %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>




</div>


</body>
</html>



