<html>
<head>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <title><%= @title %></title>
  <style>
    #data_table{
      font-size: 10px;
    }
  </style>
</head>
<body>
<div id="main_content_pdf">
  <div id="pdf_header">
    <h1><%= @title %></h1>
    <table class="pdf_table">
      <tr>
        <td width="20%" class="bold">Paciente</td>
        <td><%= @hospitalization.patient.full_name %></td>
      </tr>
      <tr>
        <td class="bold">Fecha de admisión</td>
        <td><%= date_hour(@hospitalization.admission_date)  %></td>
      </tr>
      <tr>
        <td class="bold">Médico</td>
        <td><%= @hospitalization.doctor.full_name_title %></td>
      </tr>
      <tr>
        <td class="bold">Triage</td>
        <td><%= @hospitalization.triage.level %></td>
      </tr>
      <tr>
        <td class="bold">Tipo de atención</td>
        <td><%= @hospitalization.attention_type.name %></td>
      </tr>
    </table>
  </div>
  <div id="pdf_data">

    <div class="section_title">Valoraciones</div>

    <% html_table = HtmlParser::valorations_table(@hospitalization,self) %>
    <%= html_table.html_safe %>

    <% @hospitalization.medical_annotations.order('created_at DESC').each do |ma| %>
        <div class="page-break"></div><br>
        <% html = HtmlParser::medical_annotation(ma, self) %>
        <%= html.html_safe %>
    <% end %>

  </div>
</div>

</body>
</html>