<html>
<head>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <style>
    #admission_summary{
      width: 280px;
      margin-right: auto;
      margin-left: auto;
    }
    #admission_summary table{
      border-collapse: collapse;
    }
      #admission_summary table td{
        font-size: 12px;
        border: black 1px solid;
      }
  </style>
  <title><%= @title %></title>
</head>
<body>
<div id="main_content_pdf">
  <div id="pdf_header">
    <h1><%= @title %></h1>
    <table class="pdf_table">
      <tr>
        <td class="bold">Fecha</td>
        <td><%= date_hour(@admission.admission_date) %></td>
      </tr>
      <tr>
        <td class="bold">Paciente</td>
        <td><%= @admission.patient.full_name %></td>
      </tr>
      <tr>
        <td class="bold">Médico</td>
        <td><%= @admission.doctor.user.person.full_name %></td>
      </tr>
    </table>
  </div>
  <div id="pdf_data">

    <%
      total = 0
      debt = 0
      discount_balance = 0
      total_paid = 0
      @admission.medicament_assortments.each do |ic|

        total += ic.cost
        debt += ic.residue
        discount_balance += ic.discount
    %>
    <% end %>
    <%  @admission.service_charges.each do |ic|
      total += ic.cost
      debt += ic.residue
      discount_balance += ic.discount
    %>
    <% end %>
    <%
      @admission.admission_transactions.each do |ic|
        total_paid += ic.amount
    %>
    <% end %>


    <% if @admission.service_charges.count > 0 %>

        <div class="section_title">Servicios</div>

        <table class='pdf_table data_table'>
          <thead>
          <tr>
          <th width="20%">Fecha</th>
          <th width="30%">Nombre</th>
          <th width="30%">Observaciones</th>
          <th width="15%" class="text-right">Costo</th>
        </tr>
          </thead>
          <tbody>
        <% services_total = 0.0 %>
        <%  @admission.service_charges.each do |ic|%>
            <% services_total += ic.cost %>
            <tr id="charge_<%= ic.id %>">
              <td><%= date_hour(ic.created_at) %></td>
              <td><%= ic.hospital_service.name %></td>
              <td><%= ic.observations %></td>
              <td class="currency"><%= number_to_currency(ic.cost) %></td>
            </tr>
        <% end %>
        <tr class="total_row">
          <td>Total</td>
          <td></td>
          <td ></td>
          <td class="currency"><%= number_to_currency(services_total) %></td>
        </tr>
        </tbody>
        </table>

    <% end %>


    <% if @admission.medicament_assortments.count > 0 %>
        <div class="section_title">Surtido de medicamentos</div>

        <table class="pdf_table data_table">
          <thead>
          <tr>
            <th width="20%">Fecha</th>
            <th width="30%">Nombre</th>
            <th width="30%">Cantidad</th>
            <th width="15%" class="text-right">Costo</th>
          </tr>
          </thead>
          <tbody>
        <% meds_total = 0.0 %>
        <%  @admission.medicament_assortments.each do |ic|%>
            <% ic.medicament_assortment_items.each do |med| %>
                <% meds_total += med.cost * med.quantity %>
                <tr>
                  <td><%= date_hour(ic.created_at) %></td>
                  <td><%= med.medicament.comercial_name %></td>
                  <td><%= med.quantity %></td>
                  <td class="currency"><%= number_to_currency(med.cost * med.quantity) %></td>
                </tr>
            <% end %>
        <% end %>
        <tr class="total_row">
          <td>Total</td>
          <td></td>
          <td></td>
          <td class="currency"><%= number_to_currency(meds_total) %></td>
        </tr>
        </tbody>
        </table>

        <div class="section_title">Artículos de farmacia</div>


        <table class="pdf_table data_table">
          <thead>
          <tr>
          <th width="20%">Fecha</th>
          <th width="30%">Nombre</th>
          <th width="30%">Cantidad</th>
          <th width="15%" class="text-right">Costo</th>
        </tr>
        </thead>
          <tbody>
        <% art_total = 0.0 %>
        <%  @admission.medicament_assortments.each do |ic|%>
            <% ic.assortment_pharmacy_items.each do |med| %>
                <% art_total += med.cost * med.quantity %>
                <tr id="charge_<%= med.id %>">
                  <td ><%= date_hour(ic.created_at) %></td>
                  <td ><%= med.pharmacy_item.description %></td>
                  <td><%= med.quantity %></td>
                  <td class="currency"><%= number_to_currency(med.cost* med.quantity) %></td>
                </tr>
            <% end %>
        <% end %>
        <tr class="total_row">
          <td>Total</td>
          <td></td>
          <td></td>
          <td class="currency"><%= number_to_currency(art_total) %></td>
        </tr>
        </tbody>
        </table>
    <% end %>



    <div class="section_title">Pagos del paciente</div>

    <table class="pdf_table data_table">
      <thead>
      <tr>
        <th width="20%">Fecha</th>
        <th width="30%">Folio</th>
        <th width="30%">Estado</th>
        <th width="15%" class="text-right">Importe</th>
      </tr>
      </thead>
      <tbody>
    <% if @admission.admission_transactions.count > 0
    total_payments = 0.0
    %>
        <%
          @admission.admission_transactions.each do |ic|
          total_payments += ic.amount
        %>

            <tr>
              <td><%= date_hour(ic.created_at) %></td>
              <td><%= ic.folio %></td>
              <td><%= ic.is_cancel? ? "Cancelado" : "Pagado" %></td>
              <td class="currency"><%= number_to_currency(ic.amount) %></td>
              </td>
            </tr>
        <% end %>
      <tr class="total_row">
        <td colspan="3">Total</td>
        <td class="currency"><%= number_to_currency(total_payments) %></td>
      </tr>
    <% end %>
    </tbody>
    </table>


    <div class="section_title">Balance de la cuenta</div>
    <div id="admission_summary">
      <table class="pdf_table">
        <tr>
          <td class="bold">Total de servicios</td>
          <td class="currency"><%= number_to_currency(total) %></td>
        </tr>
        <tr>
          <td class="bold">Descuentos</td>
          <td class="currency">- <%= number_to_currency(discount_balance) %></td>
        </tr>
        <tr>
          <td class="bold">Pagos del paciente</td>
          <td class="currency">- <%=number_to_currency(total_paid) %></td>
        </tr>
        <tr>
          <td class="bold">Saldo</td>
          <td class="currency">
            <% total_debt = (total-discount_balance) - total_paid %>
            <%=number_to_currency(total_debt) %>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>

</body>
</html>