<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <title><%= @title %></title>
</head>
<body>
<div id="main_content_pdf">

  <% html = HtmlParser::medical_annotation(@medical_annotation,self) %>

  <div id="medical_annotation_content">
    <%= html.html_safe %>
  </div>

  <style>
    .valoration_table{
      width: 100%;
    }

    .valoration_table td{
      border: #c6c6c6 1px solid;
      padding: 5px;
      font-size: 13px;
    }

    .page-break { display:block; clear:both; page-break-after:always; }


    #medical_annotation_detail{
      text-align: right;
      font-size: 12px;
      margin-top: -40px;
    }

  </style>



  <% if @medical_annotation.patient_valorations.size > 0 %>
      <div class="page-break"></div>

      <h3>Valoraciones</h3>
      <div id="medical_annotation_detail">Nota médica:
        <%= @medical_annotation.medical_annotation_type.name %>,
        Fecha: <%= @medical_annotation.created_at.strftime('%d/%m/%Y')%>
      </div>
      <div>
        <br>
      </div>

      <% @medical_annotation.patient_valorations.each do |pv| %>
          <table class="valoration_table">
            <tr>
              <td style="width: 25%">
                <%= pv.valoration_type.name %>
              </td>
              <td>
                <% pv.patient_valoration_fields.each do |pvf| %>
                    <strong><%= pvf.valoration_field.name %>: </strong> <%= pvf.data %><br>
                <% end %>
              </td>
            </tr>
          </table>
      <% end %>


  <% end %>



</div>
</body>
</html>