<html>
<head>
  <%= wicked_pdf_javascript_include_tag "doctor/highchartlibs.js" %>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <title><%= @title %></title>
  <style>
      .percentile_chart{
        width: 700px;
        height: 750px;
      }

      .consultation_table {
        border-collapse: collapse;
        border-bottom: black 1px solid;
      }

      .vaccine_table{
        width: 80%;
        border-collapse: collapse;
        font-size: 10px;
      }

      .vaccine_table thead{
        background: #7DC460;
      }

      .vaccine_table td{
        border: black 1px solid;
      }

      .vaccine_table th{
        border: black 1px solid;
      }

  </style>
</head>
<body onload="onloadBody()">
<div id="main_content_pdf">
  <div id="pdf_header">
    <h1><%= @title %></h1>
    <%= render 'pdfs/medical_expedient/patient_info' %>
  </div>
  <div id="pdf_data">
    <%= render 'pdfs/medical_expedient/medical_history' %>
    <%= render 'pdfs/medical_expedient/gynecologist' %>
    <%= render 'pdfs/medical_expedient/pediatrics' %>
    <%= render 'pdfs/medical_expedient/consultation' %>
    <%= render 'pdfs/medical_expedient/vacciness' %>
    <%= render 'pdfs/medical_expedient/hospitalizations' %>
  </div>
</div>


<script>
    function onloadBody(){

        if($('#percentile_head').length){
            var percentile_head = JSON.parse($('#percentile_head').val());
            var initYAxis = 30;
            initTablePercentile(percentile_head,'container_graph_head', 'Circunferencia de la cabeza', 'Circunferencia (Cms)', 'Cm', initYAxis);
        }
        if($('#percentile_imc').length){
            var percentile_imc = JSON.parse($('#percentile_imc').val());
            var initYAxis = 0;
            initTablePercentile(percentile_imc,'container_graph_imc', ' Indice de masa corporal', 'IMC (Kg/m²)', 'Kg/m²', initYAxis);
        }
        if($('#percentile_length').length){
            var percentile_length = JSON.parse($('#percentile_length').val());
            var initYAxis = 50;
            initTablePercentile(percentile_length, 'container_graph_length', 'Altura', 'Altura (Cms)', 'Cm', initYAxis);
        }
        if($('#percentile_weight').length){
            var percentile_weight = JSON.parse($('#percentile_weight').val());
            var initYAxis = 0;
            initTablePercentile(percentile_weight,'container_graph_weight', 'Peso', 'Peso (Kgs)','Kg', initYAxis);
        }
    }

    function initTablePercentile(Data, container, title, titleY, unit, minYAxis){
        var subtitle = $('#subtitle_graph_percentile').val();
        Highcharts.setOptions({
            lang: {
                resetZoom: "Restablecer Zoom"
            }});
        var chart = new Highcharts.Chart({
            chart: {
                type: 'line',
                renderTo: container,
                zoomType: 'xy',
                events: {
                    load: function() {
                        //$('.highcharts-scrollbar tspan').text("Edgar")
                    }
                }
            },
            title: {
                text: 'Percentiles de '+title,
                x: -20 //center
            },
            subtitle: {
                text: subtitle,
                x: -20
            },
            xAxis: {
                title: {
                    text: 'Años'
                },
                labels: {
                    formatter: function() {
                        return this.value +' años'
                    }
                }
                //categories: ['1 año', '2 años', '3 años', '4 años', '5 años']
            },
            yAxis: {
                scrollbar: {
                    enabled: true
                },
                title: {
                    text: titleY
                },
                labels: {
                    formatter: function() {
                        return this.value +' '+unit
                    }
                },
                min: minYAxis
            },
            tooltip: {
                crosshairs: [{
                    width: 1.5,
                    dashStyle: 'solid',
                    color: 'blue'
                },{
                    width: 1.5,
                    dashStyle: 'solid',
                    color: 'blue'
                }],
                headerFormat: '<b>{point.x:.0f} años</b><br>',
                valueSuffix: ' '+unit
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 10
            },
            scrollbar: {
                enabled: true
            },
            plotOptions: {
                series: {
                    enableMouseTracking: false,
                    shadow: false,
                    animation: false
                },
                line: {
                    marker: {
                        enabled: false
                    }
                }
            },
            series: Data.data
        });
    }
</script>

</body>
</html>