<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
</head>
<body style="padding-bottom: 12px;">
<% html =  Setting.find_by_code(Const::SETTING_PDF_FOOTER).data %>
<%
  SettingImage.all.each do |image|
    if html.include? image.code
      html = html.gsub!(image.code, wicked_pdf_image_tag_no_asset(image.image.path))
    end
  end
%>
<%= html.html_safe %>
</body>
</html>