<html>
<head>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <title><%= @title %></title>
  <style>
    #data_table{
      font-size: 10px;
    }
  </style>
</head>
<body>
<div id="main_content_pdf">
  <div id="pdf_header">
    <h1><%= @title %></h1>
    <table class="pdf_table">
      <tr>
        <td width="20%" class="bold">Fecha</td>
        <td><%= Date.today.strftime("%d/%m/%Y")  %></td>
      </tr>
      <tr>
        <td class="bold">Almacen</td>
        <td><%=  @warehouse  %></td>
      </tr>
      <tr>
        <td class="bold">Categoría </td>
        <td><%=  @category  %></td>
      </tr>
    </table>
  </div>
  <div id="pdf_data">
    <table class="pdf_table data_table">
      <thead>
      <tr>
        <th width="15%">Almacen</th>
        <th>Categoria</th>
        <th >Medicamento/Art.</th>
        <th >Presentación</th>
        <th >Lote</th>
        <th >Existencias</th>
      </tr>
      </thead>
      <tbody>
      <%
        @export_info.each do |t|
      %>  <tr>
        <td ><%= t.warehouse.name %></td>
        <td ><%= t.lot.medicament.medicament_category.present? ? t.lot.medicament.medicament_category.name: ''%></td>
        <td ><%= t.lot.medicament.comercial_name %></td>
        <td ><%= t.lot.medicament.presentation %></td>
        <td ><%= t.lot.name %></td>
        <td class="currency"><%= t.quantity %></td>
      </tr>
      <%
        end
      %>


      <%
        @export_info_2.each do |t|
      %>  <tr>
        <td ><%= t.warehouse.name %></td>
        <td ><%= t.pharmacy_item.medicament_category.name%></td>
        <td ><%= t.pharmacy_item.code + " (" + t.pharmacy_item.description+")" %></td>
        <td ><%= t.pharmacy_item.measure_unit_item.name %></td>
        <td >N/A</td>
        <td class="currency"><%= t.quantity %></td>
      </tr>
      <%
        end
      %>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>