<html>
<head>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <title><%= @title %></title>
  <style>
    #data_table{
      font-size: 10px;
    }
  </style>
</head>
<body>
<div id="main_content_pdf">
  <div id="pdf_header">
    <h1><%= @title %></h1>
    <table class="pdf_table">
      <tr>
        <td width="20%" class="bold">Fecha de inicio</td>
        <td><%= @start_date  %></td>
      </tr>
      <tr>
        <td class="bold">Fecha de fin</td>
        <td><%= @end_date  %></td>
      </tr>
    </table>
  </div>
  <div id="pdf_data">

    <table class="pdf_table data_table">
      <thead>
      <tr>
      <th width="8%">Folio</th>
      <th width="16%">Fecha</th>
      <th>Servicios</th>
      <th>Detalles</th>
      <th>Responsable</th>
      <th width="10%" class="text-right">Monto</th>
      </tr>
      </thead>
      <tbody>
    <%
      @export_info.each do |t|
        details = ''
        services = ''
        folio = ''
        case t.chargeable_type
          when 'OtherMovement'
            services = 'Otros movimientos'
            details << t.chargeable.movement_type.name + '<br>'
            details << 'Detalles: '+t.chargeable.details
            if t.chargeable.movement_type.id == 22
              lable_amount =  "<label style='color: red; font-weight: bold;'>-"+number_to_currency(t.amount,:unit=> "$").to_s+"</label>"
            end
          when 'Charge'
            services = 'Cobro de consulta'
            details << 'Paciente: '+t.chargeable.medical_consultation.patient.full_name + ' <br> '
            details << 'Fecha Consulta: '+t.chargeable.medical_consultation.date_consultation.strftime('%d/%m/%Y %I:%M %P') + ' <br> '
            details << 'Detalles: '+t.chargeable.details
          when 'Transfer'
            services = 'Transferencia'
            details << 'Transferencia de ' + t.chargeable.from.account_number+' ('+t.chargeable.from.bank.name+') a '+ t.chargeable.to.account_number+' ('+t.chargeable.to.bank.name+')<br>'
            details << 'Detalles: '+t.description
          when 'ChargeReportStudy'
            services ='Cobro de Estudio'
            details << 'Estudio: ' + t.chargeable.get_study+'<br>'
            details << 'Paciente: ' + t.chargeable.get_patient+'<br>'
            details << 'Detalles: '+t.description
          when 'AdmissionTransaction'
            t.chargeable.hospital_admission.service_charges.each_with_index do |service,idx|
              services += (idx+1).to_s + ".-" + service.hospital_service.name + '<br>'
            end
            details << 'Admisión hospitalaria' +'<br>'
            details << 'Paciente: ' + t.chargeable.hospital_admission.patient.full_name+'<br>'
            folio = t.chargeable.folio
          when 'OtherChargeTransaction'
            t.chargeable.other_charge.other_charge_items.each_with_index do |service,idx|
              services += (idx+1).to_s + ".-" +service.hospital_service.name + '<br>'
            end
            details << 'Otros cargos ' +'<br>'
            details << 'Paciente: ' + t.chargeable.other_charge.patient_name+'<br>'
            folio = t.chargeable.folio
        end
    %>  <tr style="background: <%= t.t_type ==  1 ? 'white' : '#ccc' %>">
        <td>
          <%= folio %>
        </td>
      <td><%= date_hour(t.date) %></td>
      <td><%= services.html_safe%></td>
      <td><%= details.html_safe %></td>
      <td><%= t.user.person.full_name %></td>
      <td class="currency"><%= t.t_type ==  1 ? '' : '-' %><%= number_to_currency(t.amount) %></td>
    </tr>
    <%
      end
    %>
    </tbody>
    </table>

  </div>
</div>

</body>
</html>