<html>
<head>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <title><%= @title %></title>
  <style>
    #data_table{
      font-size: 10px;
    }
  </style>
</head>
<body>
<div id="main_content_pdf">
  <div id="pdf_header">
    <h1><%= @title %></h1>
    <table class="pdf_table">
      <tr>
        <td width="20%" class="bold">Fecha de inicio</td>
        <td><%= @start_date  %></td>
      </tr>
      <tr>
        <td class="bold">Fecha de fin</td>
        <td><%= @end_date  %></td>
      </tr>
      <tr>
        <td class="bold">Médico</td>
        <td><%= @doctor_name  %></td>
      </tr>
      <tr>
        <td class="bold">Consultorio</td>
        <td><%= @office_name%></td>
      </tr>
    </table>
  </div>
  <div id="pdf_data">

    <table class="pdf_table data_table">
      <thead>
      <tr>
        <th width="10%">Fecha</th>
        <th width="15%">Tipo</th>
        <th>Médico</th>
        <th width="20%">Consultorio</th>
        <th>Paciente</th>
        <th width="10%" class="text-right">Importe</th>
      </tr>
      </thead>
      <tbody>
      <%
        total = 0
        @consultations.each do |consult|
          total += consult.price
      %>
          <tr>
            <td><%= date_hour(consult.date_consultation) %></td>
            <td><%= consult.consultation_type.name %></td>
            <td><%= consult.user.person.full_name %></td>
            <td><%= consult.office.name %></td>
            <td><%= consult.medical_expedient.patient.full_name %></td>
            <td class="currency"><%= number_to_currency consult.price %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
    <strong>Número de consultas: </strong> <%= @consultations.size %><br>
    <strong>Total: </strong> <%= number_to_currency total %>

  </div>
</div>

</body>
</html>

