<html>
<head>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <title><%= @title %></title>
  <style>
    #data_table{
      font-size: 10px;
    }
  </style>
</head>
<body>
<div id="main_content_pdf">
  <div id="pdf_header">
    <h1><%= @title %></h1>
    <table class="pdf_table">
      <tr>
        <td width="20%" class="bold">Fecha de inicio</td>
        <td><%= @start_date  %></td>
      </tr>
      <tr>
        <td class="bold">Fecha de fin</td>
        <td><%= @end_date  %></td>
      </tr>
    </table>
  </div>
  <div id="pdf_data">
    <table class="pdf_table data_table">
      <thead>
      <tr>
        <th width="70%">Categoría</th>
        <th width="15%" class="text-right">Número de veces</th>
        <th width="20%" class="text-right">Costo total</th>
      </tr></thead><tbody>
    <%
      total_amount = 0;
      total_services = 0;
      @export_info.each do |t|
        total_services += t[:number]
        total_amount += t[:total].to_f
    %>  <tr>
      <td><%= t[:name] %></td>
      <td class="currency"><%= t[:number]%></td>
      <td class="currency"><%= number_to_currency(t[:total]) %></td>
    </tr>
    <%
      end
    %>

    <tr class="total_row">
      <td>Total</td>
      <td class="currency"><%= total_services%></td>
      <td class="currency"><%= number_to_currency(total_amount) %></td>
    </tr>
    </tbody>
    </table>
  </div>
</div>

</body>
</html>