<html>
<head>
  <meta charset='utf-8' />
  <%= render 'pdfs/pdf_styles' %>
  <style>
    #pdf_header .pdf_table{
      font-size: 9px;
    }

    #pdf_data .pdf_table{
      font-size: 9px;
      margin-top: -15px;
    }

    #ticket_header{
      font-size: 10px;
      font-family: Arial;
    }
    #ticket_footer{
      font-family: Arial;
      font-size: 10px;
      position: fixed;
      bottom: 0;
      width: 95%;
    }
  </style>
  <title><%= @title %></title>
</head>
<body>

<% html =  Setting.find_by_code(Const::SETTING_TICKET_HEADER).data %>
<%
  SettingImage.all.each do |image| if html.include? image.code
                                     html = html.gsub!(image.code, wicked_pdf_image_tag_no_asset(image.image.path))
                                   end
  end
%>
<div id="ticket_header">
  <%= html.html_safe %>
</div>


<div id="main_content_pdf">
  <div id="pdf_header">
    <% if @header.size > 0 %>
        <table class="pdf_table">
          <% @header.each do |h| %>
              <tr>
                <td width="20%" class="bold"><%= h[:label] %></td>
                <td><%= h[:val] %></td>
              </tr>
          <% end %>
        </table>
    <% end %>
  </div>
  <div id="pdf_data">
    <br>
    <table class="pdf_table">
      <% total = 0%>
      <% @concepts.each do |c|
        total += c[:amount]
      %>
          <tr>
            <td width="65%"><%= c[:name] %></td>
            <td class="currency"><%= number_to_currency(c[:amount]) %></td>
          </tr>
      <% end %>
      <tr>
        <td colspan="2" class="currency"><%= number_to_currency(0) %></td>
      </tr>
      <tr>
        <td colspan="2" class="currency"><%= number_to_currency(total) %></td>
      </tr>
    </table>

  </div>
</div>


<% html =  Setting.find_by_code(Const::SETTING_TICKET_FOOTER).data %>
<%
  SettingImage.all.each do |image| if html.include? image.code
                                     html = html.gsub!(image.code, wicked_pdf_image_tag_no_asset(image.image.path))
                                   end
  end
%>
<br>
<br>
<div id="ticket_footer">
  <%= html.html_safe %>
</div>

</body>
</html>