<%= form_for [:admin, @general_account],:html => { :onsubmit => "return check_office();"} do |a| %>
  <% if @general_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @general_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="card">
      <div class="card-header">

        <input type="hidden" name="general_account[id]" value="<%= @general_account.id %>">

        <div class="row">

          <div class="col-md-12">
            <%
              bank_id = 0
              if @general_account.bank_id != nil
                bank_id = @general_account.bank_id
              end
            %>
            <strong>Banco</strong>
            <select class="selectpicker form-control" id="general_account_bank_id" name="general_account[bank_id]">
              <optgroup label="Cajas">
                <% @local_banks.each do |b| %>
                    <option <%= b.id == bank_id ? "selected":"" %> type="c" id="bank_<%= b.id %>" value="<%= b.id %>"><%= b.name %></option>
                <% end %>
              </optgroup>
              <optgroup label="Bancos">
                <% @banks.each do |b| %>
                    <option <%= b.id == bank_id ? "selected":"" %> value="<%= b.id %>"><%= b.name %></option>
                <% end %>
              </optgroup>
            </select>
          </div>



          <div class="col-md-6">
            <div class="form-group">
              <strong id="currency_type">Moneda</strong>
              <%= a.select(:currency_id, Currency.all.collect {|c| [c.name + ' ('+c.iso_code+')', c.id]}, {  }, { :class => "selectpicker form-control"}) %>
            </div>

          </div>

          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong id="account_numero_cuenta">Número de Cuenta</strong>
              <%= a.text_field :account_number, class: 'form-control input-lg required' , placeholder: 'Número de Cuenta'%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>CLABE</strong>
              <%= a.text_field :clabe, class: 'form-control input-lg required' , placeholder: 'CLABE'%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Saldo</strong>
              <%= a.number_field :balance, class: 'form-control input-lg required' , placeholder: 'Saldo', :value => (number_with_precision(@general_account.balance, :precision => 2))%>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group fg-line">
              <strong>Detalles</strong>
              <%= a.text_area :details, class: 'form-control input-lg required' , placeholder: 'Detalles de la Cuenta'%>
            </div>
          </div>

        </div>


      </div>
    </div>





    <div class="col-md-6 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">
      <span class="col-md-3 col-xs-12"></span>
      <a href="<%= admin_general_accounts_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
      <span class="col-md-1 col-xs-12"></span>
      <button type="submit" class="btn btn-primary col-md-4 col-xs-12">Guardar</button>
    </div>
<% end %>

