<div class="card">
<div class="card-body card-padding">
  <div class="row">
    <div class="col-xs-6">
      <div class="card-header">
        <h2>Lista de Cuentas</h2>
      </div>
    </div>
    <div class="col-xs-6">
      <%= link_to 'Agregar', new_admin_general_account_path, class: "pull-right btn bgm-green waves-effect" %>
  </div>
    <div class="col-xs-12">


      <table  id="data-table-general_accounts" class="table table-striped" data-source="<%= admin_general_accounts_url(format: "json")%>">
        <thead>
        <tr>
          <th data-column-id="account_number">NÚMERO</th>
          <th data-column-id="bank">BANCO</th>
          <th data-column-id="currency">MONEDA</th>
          <th data-column-id="clabe">CLABE</th>
          <th data-column-id="balance">SALDO</th>
          <th data-column-id="details">DETALLES</th>
          <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
</div></div>

