<%= render 'doctor/medical_consultations/form_new_consultation/pregnancy' %>

<%= form_for [:doctor, @doctor_medical_consultation] do |f| %>

    <% if current_user.type_user.id == TypeUser::DOCTOR %>
        <input type="hidden" id="is_doctor_consult" value="1">
        <% else %>
        <input type="hidden" id="is_doctor_consult" value="0">
        <% end %>
<%= f.hidden_field_tag :consultations_costs, @consultation_costs.to_json %>

  <%= render 'doctor/medical_consultations/form_new_consultation/general_info', {f:f} %>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
  <div class="col-md-12">
    <strong>Condición actual:</strong>
    <%= f.text_area :current_condition, {:class => "form-control consultation_field", :rows => 1, :placeholder => "Condición actual del paciente"}  %>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
  <div class="col-md-6">
    <strong>Diagnóstico:</strong>
    <%= f.text_area :diagnostic, {:class => "form-control consultation_field", :rows => 3 , :placeholder => "Diagnóstico del paciente"}  %>
  </div>
  <div class="col-md-6" style="">
    <strong>Enfermedades</strong>
    <div class="" style="position: relative; width: 100%; white-space: nowrap; overflow: hidden;">
      <div class="col-md-12">
        <table class="table table-striped" id="diseases-table">
        </table>
      </div>
      <div class="col-md-12" style="width: 100%">
        <div style="width: 85%;float: left">
          <input type="text" id="consultation_disease" name="consultation_disease" class="form-control consultation_field search-disease" placeholder="Escriba el nombre de la enfermedad para comenzar a buscar...">
        </div>
        <div style="width: 15%;float: left;padding-left: 5%">
          <button class="btn btn-success btn-icon waves-effect waves-circle waves-float" type="button" onclick="openModalAddDisease();" title="Registrar nueva enfermedad"><i class="zmdi zmdi-collection-plus"></i></button>
        </div>
      </div>

    </div>
  </div>


  <div class="col-md-12">
    <hr>
  </div>
  <div class="col-md-12">
    <strong>Receta médica</strong>
  </div>

  <div class="col-md-6">
    <strong>Recomendaciones:</strong>
    <%= f.fields_for :prescription do |a|%>
        <%= a.text_area :recommendations, {:class => "form-control consultation_field", :rows => 5, :placeholder => "Recomendaciones al paciente"}  %>
    <% end %>
  </div>

  <div class="col-md-6">
    <strong>Tratamiento:</strong>
    <div class="col-md-12">
      <table class="table table-striped" id="medicaments-table">
      </table>
    </div>

    <div class="col-md-10">
      <div style="margin-bottom: 5px">
      <input type="text" id="consultation_medicament" autocomplete="off"
             name="consultation_medicament"
             class="form-control consultation_field search-medicament"
             placeholder="Escriba el nombre del medicamento para comenzar a buscar...">
      </div>
      <%= f.fields_for :prescription do |a|%>
          <%= a.fields_for :medical_indications do |c|%>
              <%= c.text_area :dose, class: "form-control consultation_field",:rows => 3, placeholder: "Indique la dosis, vía de administración, frecuencia y tiempo de duración del tratamiento"  %>
          <% end %>
      <% end %>
      <a style="margin-top: 10px; margin-bottom: 10px; float: right;" class="btn btn-info" id="add-medicament">Agregar</a>
    </div>
    <div class="col-md-2">
      <a onclick="addnewmedicamentfromece('new_consult')"
         title="Agregar nuevo medicamento"
         style="margin-top:10px;"
         class="btn btn-success btn-icon waves-effect waves-circle waves-float"
         type="button" id="add-medicament-to-db">
        <i class="zmdi zmdi-collection-plus"></i>
      </a>
    </div>
  </div>

  <% if !@current_pregnancy.nil? %>
      <div class="col-md-12" style="padding: 10px;">
        <a class="btn btn-primary load_ultrasounds_btn" pregnancy="<%= @current_pregnancy.id %>">Ultrasonidos</a>
      </div>
  <% end %>

  <div id="vital_sign_section" class="col-md-<%=@current_pregnancy.nil? ? '12':'6' %>" style="<%= @current_pregnancy.nil? ? 'display:none' : 'overflow-y: scroll; height: 300px'%>">
    <div id="vital-sign-consultation">
      <%= f.fields_for :vital_sign do |a|%>
          <%= render 'doctor/medical_consultations/form_new_consultation/vital_sign', {a:a} %>
      <% end %>
    </div>

    <% if @current_pregnancy.nil? %>
        <div id="table_imc_consultation"></div>
    <% else %>
  </div>

  <% if !@current_pregnancy.nil? %>

  <div class="col-md-6" style="height: 300px;">
    <%
      pregnancies = format_pregnancy_table([@current_pregnancy])
    %>
    <input type="hidden" id="pregnancies_current_data" value="<%= pregnancies.to_json %>">
    <div class="col-xs-12">
      <h4>Gr&aacute;fica de peso sugerido</h4>
      <div class="pregnancy_chart" id="div_fpp_consultation">
      </div>
    </div>
  <% end %>
  </div>
  <% end %>
</div>


    <div class="row" style="padding: 15px;">
      <% if @has_gin %>
          <div id="exploration_section" style="display: none;">
          <%= f.fields_for :exploration do |exp|%>
                <%= render 'doctor/medical_consultations/form_new_consultation/exploration', {exp:exp} %>
          <% end %>
          </div>
      <% end # end if has_gin%>

      <% if @has_uro %>
          <div id="uro_exploration_section" style="">
            <%= f.fields_for :uro_exploration do |uro|%>
                <%= render 'doctor/medical_consultations/form_new_consultation/uro_exploration', {uro:uro} %>
            <% end %>
          </div>
      <% end # end if has_gin%>

      <div class="col-md-12" id="anotations_section" style="display: none;">
        <label class="label-control">Anotaciones generales:</label>
        <div>
          <div id="general_notes_consult"></div>
        </div>
      </div>
    </div>
<% end %>

