  <%= form_for [:doctor, @doctor_medical_consultation] do |f| %>

      <%= hidden_field_tag 'medical_consultation_id' , @doctor_medical_consultation.id %>
      <div class="row">
        <div class="col-md-12">
          <strong>Condición actual:</strong>
          <%= f.text_area :current_condition, {:class => "form-control consultation_field", :rows => 1, :placeholder => "Condición actual del paciente"} %>
        </div>

        <div class="col-md-12">
          <strong>Diagnóstico:</strong>
          <%= f.text_area :diagnostic, {:class => "form-control consultation_field", :rows => 3, :placeholder => "Diagnóstico del paciente"} %>
        </div>

        <div class="col-md-12">
          <strong>Recomendaciones:</strong>
          <%= f.fields_for :prescription do |a| %>
              <%= a.text_area :recommendations, {:class => "form-control consultation_field", :rows => 5, :placeholder => "Recomendaciones al paciente"} %>
          <% end %>
        </div>

      </div>
  <% end %>


