<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<%= wicked_pdf_stylesheet_link_tag 'pdf/prescription_a' %>

<% doctor = @consultation.user.doctor %>
<table style="width: 100%; " class="text_body">
  <tr>
    <td class=""  style="width: 80%;"> </td>
    <td style="text-align: right; font-size: 0.9em; width: 20%;">
      Co. Vi: <%= @consultation.medical_expedient.code %>
    </td>
  </tr>
  <tr style="text-align: right;">
    <td class=""  style="text-align: left; width: 80%; padding-top: 65px;">
      <%= doctor.full_name_title %> <br>
      Cel. <%= @consultation.user.person.cellphone %></td>
    <td class="" style="padding-left: 50px; width: 20%;">
      <%
         qr = RQRCode::QRCode.new(@consultation.medical_expedient.code.to_s, :size => 1, :level => :m, :mode => :number )
         html_qr = Nokogiri::HTML(qr.as_html)
         table = html_qr.at_css 'table'
         table.set_attribute('class', 'qr-table')
      %>
      <%= raw html_qr.to_html %>
    </td>
  </tr>
  <tr style="text-align: center;"><td class="" colspan="2"><hr></td></tr>
  <tr style="">
    <td class="text_body" ><%= @consultation.office.address %></td>
    <td class="text_body" style="text-align: right;">Tel: <%= @consultation.office.telephone %></td>
  </tr>
</table>
