<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<%= wicked_pdf_stylesheet_link_tag 'pdf/prescription_b' %>

<table class="text_font_footer_a text_font">
    <tr>
      <td>
        <%= abbreviation_dr %> <%= @consultation.office.doctor.full_name %>
      </td>
      <td style="text-align: right; font-size: 0.9em;" rowspan="2">
        C&oacute;digo de vinculaci&oacute;n:<br> <%= @consultation.medical_expedient.code %>
      </td>
    </tr>
    <tr>
      <td style="font-size: 14px;">
        Cel. <%= @consultation.office.doctor.cellphone %>
      </td>
    </tr>
</table>

<table class="text_font_footer_b text_font">
  <tr>
    <td>
      <%= @consultation.office.address %> <br>
      Tel: <%= @consultation.office.telephone %>
    </td>
  </tr>
</table>