<div class="row">
  <div class="col-md-12">
    <button class="btn btn-info pull-right" type="button" onclick="closeTableImc();">Cerrar tabla</button>
  </div>
</div>
<% if @flag_table_children
%>
    <table class="table table-bordered text-center" border="1">
        <thead>
            <%
               @table.each_with_index do |values,index|
                if index.to_i == 0
            %>
                <tr>
                  <%  values.each_with_index do |column, index2|
                  %>
                  <th class="text-center" style="background-color: <%= color_header_table_children index2%> "><%= column[:value] %></th>
                  <% end %>
                </tr>
            <% else
                   break;
               end
               end %>
        </thead>
      <tbody>
      <% @table.each_with_index do |values,index|
            if index.to_i > 0
      %>
          <tr>
            <%  values.each_with_index do |column, index2| %>
            <td style="color:black; background-color: <%= (!column[:selected].nil? and column[:selected])? "#00bcd4" : "#CEF6E3" %>;"><%= column[:value] %></td>
            <% end %>
          </tr>
      <%
         end
         end %>
      </tbody>
    </table>
<% else %>

    <table class="table table-bordered text-center" border="1">
      <thead>
      <% @table.each_with_index do |values,index | %>
          <tr>
            <%
               case index.to_i
                 when 0
                   values.each_with_index do |column, index2|

            %>
                    <th class="text-center" colspan="<%= (index2.to_i != 0 and index.to_i == 0)? 2 : '' %>" style=" background-color:<%= colors_header_table_adult index2 %>"><%= column[:value] %></th>
                <%
                   end
                   when 1
                     values.each_with_index do |column, index2|
                %>

                    <th class="text-center" style=" background-color:#01DFD7"><%= column[:value] %></th>
                <%
                   end
                   when 2
                     values.each_with_index do |column, index2|
                %>

                    <th class="text-center" style=" background-color:<%= colors_min_max index2%>"><%= column[:value] %></th>
                <%
                   end
                   when 3
                     break;
                   else
                     values.each_with_index do |column, index2|
                %>
                    <th><%= column[:value] %></th>
                <%
                   end
                   end %>
          </tr>
      <%
         end
      %>
      </thead>
      <tbody>
      <% @table.each_with_index do |values,index | %>
          <tr>
            <%
               if index.to_i >= 3
            %>
                <% values.each_with_index do |column, index2 |
                %>
                    <td style="background-color: <%= (!column[:selected].nil?)? "#00bcd4" : colors_value_row(index2) %>; color: black;"><%= column[:value]%></td>
                <% end
                   end %>
          </tr>
      <%
         end %>
      </tbody>
    </table>

<% end %>

