<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-header">
          <h2>Lista de Consultas</h2>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-2">
            <strong>Fecha Inicio</strong>
            <input type="text" placeholder="Fecha de Inicio" class="input-lg form-control date-picker" id="start_date_search">
          </div>
          <div class="col-md-2">
            <strong>Fecha Fin</strong>
            <input type="text" placeholder="Fecha Fin" class="input-lg form-control date-picker" id="end_date_search">
          </div>
          <div class="col-md-2">
            <strong>Médico</strong>
            <input type="text" class="form-control search-doctor input-lg" id="doctor_search" placeholder="Médico">
          </div>
          <div class="col-md-2">
            <strong>Consultorio</strong>
            <select class="selectpicker form-control" id="office_search">
              <option value="">Todos los consultorios</option>
              <% current_user.offices.active_offices.each do |o| %>
                  <option value="<%= o.id %>"><%= o.name %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-4">
            <a class="btn btn-primary" onclick="searchConsults()">Filtrar</a>
            <a class="btn bgm-indigo" onclick="allConsults()">Ver todos</a>
            <a class="btn btn-danger" onclick="exportPdf()">PDF</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <table  id="data-table-consultations" class="table table-striped" data-source="<%= doctor_medical_consultations_path(format: "json")%>">
          <thead>
          <tr>
            <th data-column-id="date_consultation">FECHA</th>
            <th data-column-id="author">MÉDICO</th>
            <th data-column-id="patient_name">PACIENTE</th>
            <th data-column-id="type">TIPO</th>
            <th data-column-id="price">COSTO</th>
            <th data-column-id="office">CONSULTORIO</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>


<%= hidden_field_tag 'consultation_report_pdf_url', report_consultations_pdfs_path %>