<style>
  .divider{
    border-top:1px #A4A4A4 solid;
  }
</style>

<div style="text-align: right; font-size: 25px;">
  <span style="cursor: pointer;" title="Cerrar" onclick="closeConsultDetails(<%= @consult.id %>)">&times;</span>
</div>

<div style="font-size: 13px;">
	<div class="row">

    <div class="col-md-4">
      <strong>Padecimiento </strong><br>
      <%= @consult.current_condition %>
    </div>
    <div class="col-md-4">
      <strong>Diagnóstico </strong><br>
      <%= @consult.diagnostic %>
    </div>
    <div class="col-md-4">
      <strong>Recomendaciones </strong><br>
      <%= @consult.prescription.recommendations %>
    </div>

		<div class="col-md-12">
			<% if @consult.diseases.size > 0 %>
			<div class="divider">
        <strong>Enfermedades</strong><br>
        <% @consult.diseases.each do |d| %>
            <label><i class="zmdi zmdi-caret-right zmdi-hc-fw"></i> <%= d.name %></label><br>
        <% end %>
      <% end %>
      </div>
      <br>
      <% if @consult.prescription.medical_indications.size > 0 %>
          <div class="divider">
            <strong>Medicamentos</strong><br>
            <% @consult.prescription.medical_indications.each do |mi| %>
                <label><i class="zmdi zmdi-caret-right zmdi-hc-fw"></i> <%= mi.medicament.comercial_name %> (<%= mi.medicament.active_substance %>) - <%= mi.dose %></label><br>
            <% end %>
          </div>
      <% end %>


		</div>

    <div class="col-md-12">
      <strong>Anotaciones generales: </strong><br>
      <% if @consult.notes != nil%>
          <%= @consult.notes.html_safe %>
      <% end %>
    </div>

    <div class="col-md-12">
      <% @consult.consultation_infos.joins(:consultation_field).includes(:consultation_field).order("field_order ASC").each do |info| %>
      <div>
        <strong><%= info.consultation_field.name %>: </strong>
        <% case (info.consultation_field.field_type) %>
        <% when Const::CONSULTATION_FIELD_CHECKBOX %>
            <%= info.data == "true" ? "Si" : "No" %>
        <% when Const::CONSULTATION_FIELD_CHECKBOX_TEXT %>
            <%= info.data %>
        <% else %>
        <%= info.data %>
        <% end %>
      </div>
      <% end %>
    </div>

	</div>


</div>