<div class="card">
  <div class="card-header">
    <div class="row">
      <strong class="col-md-1">Paciente:</strong>
      <div class="col-md-4">
        <span><%= @doctor_medical_consultation.patient.full_name %></span>
      </div>
      <strong class="col-md-2">Consultorio:</strong>
      <div class="col-md-5">
        <span><%= @doctor_medical_consultation.office.name %></span>
      </div>
    </div>
    <div class="row">
      <strong class="col-md-1">Fecha:</strong>
      <div class="col-md-4">
        <span><%= @doctor_medical_consultation.date_consultation.strftime('%m/%d/%Y %I:%m %p') %></span>
      </div>

      <strong class="col-md-1">Costo:</strong>
      <div class="col-md-5">
        <span><%= number_to_currency(@doctor_medical_consultation.price)  %></span>
      </div>
    </div>
    <hr>
    <div class="">
      <div role="tabpanel">
        <ul class="tab-nav tn-justified tab-nav" role="tablist">
          <li class="active waves-effect"><a href="#current-condition-show" aria-controls="data-patient-show" role="tab" data-toggle="tab" data-section="0" class="tap_link">Padecimientos</a></li>
          <li class="waves-effect"><a href="#diagnostic-show" aria-controls="medical-history-show" role="tab" data-toggle="tab" data-section="1" class="tap_link">Diagnostico</a></li>
          <li class="waves-effect"><a href="#vital-sign-consultation-show" aria-controls="vital-sign-show" role="tab" data-toggle="tab" data-section="2" class="tap_link">Signos Vitales</a></li>
          <li class="waves-effect"><a href="#prescription-show" aria-controls="clinical-analisis-show" role="tab" data-toggle="tab" data-section="3" class="tap_link">Tratamiento</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="current-condition-show">
            <div class="row">
              <div class="col-md-12">
                <strong class="col-md-2 label-control">Condici&oacute;n actual:</strong>
                <div class="col-md-10">
                  <p><%= @doctor_medical_consultation.current_condition %></p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="diagnostic-show">
            <div class="row">
              <div class="col-md-12">
                <strong class="col-md-3">Lista de enfermedades: </strong>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <table id="data-table-diagnostic-show" class="table table-striped">
                  <thead>
                  <tr>
                    <th data-column-id="id"  data-identifier="true" data-type="numeric">ID</th>
                    <th data-column-id="name">ENFERMEDAD</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @doctor_medical_consultation.diseases.each do |disease| %>
                        <tr>
                          <td><%= disease.id.to_s %></td>
                          <td><%= disease.name %></td>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <strong class="col-md-2 label-control">Diagnostico:</strong>
                <div class="col-md-10">
                  <p><%= @doctor_medical_consultation.diagnostic %></p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="vital-sign-consultation-show">
                <div class="row">
                  <strong class="col-md-1">Peso:</strong>
                  <div class="col-md-3">
                    <span><%= @doctor_medical_consultation.vital_sign.weight %> </span> <strong>Kg</strong>
                  </div>
                  <strong class="col-md-1">Altura:</strong>
                  <div class="col-md-3">
                    <span><%= @doctor_medical_consultation.vital_sign.height %></span> <strong>Cm</strong>
                  </div>
                  <strong class="col-md-2 ">Temperatura:</strong>
                  <div class="col-md-2 ">
                    <span><%= @doctor_medical_consultation.vital_sign.temperature %></span> <strong>°C</strong>
                  </div>
                </div>
                <div class="row">
                  <strong class="col-md-1">Glucosa:</strong>
                  <div class="col-md-3">
                    <span><%= @doctor_medical_consultation.vital_sign.glucose %></span> <strong>mg/dl</strong>
                  </div>
                  <strong class="col-md-1">I.M.C.:</strong>
                  <div class="col-md-3">
                    <span><%= @doctor_medical_consultation.vital_sign.imc %></span> <strong>kg/m²</strong>
                  </div>
                  <strong class="col-md-2">Presi&oacute;n arterial:</strong>
                  <div class="col-md-2">
                    <span><%= @doctor_medical_consultation.vital_sign.blood_pressure %></span> <strong>mmHg</strong>
                  </div>
                </div>
                <div class="row">
                  <strong class="col-md-1">Peso sugerido:</strong>
                  <div class="col-md-3">
                    <span><%= @doctor_medical_consultation.vital_sign.suggested_weight %></span> <strong>Kg</strong>
                  </div>
                  <strong class="col-md-2">Circunferencia de la cabeza:</strong>
                  <div class="col-md-3">
                    <span><%= @doctor_medical_consultation.vital_sign.head_circumference %></span> <strong>Cm</strong>
                  </div>
                </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="prescription-show">
            <div class="row">
              <div class="col-md-12">
                <label class="col-md-3">Lista de Medicamentos: </label>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <table id="data-table-prescription-show" class="table table-striped">
                  <thead>
                  <tr>
                    <th data-column-id="id"  data-identifier="true" data-type="numeric">ID</th>
                    <th data-column-id="name">MEDICAMENTO</th>
                    <th data-column-id="dose">DOSIS</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @doctor_medical_consultation.prescription.medical_indications.each do |indication| %>
                      <tr>
                        <td><%= indication.medicament.id.to_s %></td>
                        <td><%= indication.medicament.comercial_name %></td>
                        <td><%= indication.dose %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <strong class="col-md-2 label-control">Recomendaciones:</strong>
                <div class="col-md-10">
                  <p><%= @doctor_medical_consultation.prescription.recommendations %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

