<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/prescription_a' %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<%
   doctor = @consultation.user.doctor
%>
<% if doctor.id != 21 %>
<table style="width: 100%;" class="head_template_a_border">
    <tbody>
        <tr class="total-information-table">
              <td class="first_column">
                <% if doctor.pres_show_logo %>
                    <% if !@consultation.office.logo_identifier.nil? %>
                    <%= wicked_pdf_image_tag_for_public @consultation.office.logo.url,:width => "110",  :height=>"90" %>
                    <% end %>
                <% end %>
              </td>
          <td class="second_column">
            <table style="border-spacing: 0;" class="text_style_head text_color" cellspacing="0">
              <tbody>
              <tr>
              <td class="title_header"><strong><%= abbreviation_dr %> <%= doctor.full_name_title %></strong></td>
              </tr>
              <tr>
                <td class=""><%= @consultation.office.name %></td>
              </tr>
                <%
                   unless doctor.pres_show_speciality

                   specialtities = []
                   doctor.specialties.each do |specialti|
                     specialtities << specialti.name.to_s
                     end
                   if specialtities.size > 0
                %>
                       <tr>
                        <td><%= specialtities.join(",") %></td>
                       </tr>
                    <% end

                       else
                         if doctor.pres_speciality.present? %>

                    <tr>
                    <td><%= doctor.pres_speciality %></td>
                   </tr>
                <%  end
                   end %>

                    <% if doctor.pres_show_studies and doctor.pres_studies.present?  %>
                    <tr>
                      <td><%= doctor.pres_studies %></td>
                    </tr>
                    <%  end %>

                  <% unless doctor.pres_show_professional_license %>

                     <% if doctor.identity_cards.size > 0 %>
                  <tr>
                    <td>
                      C&eacute;dula Profesional: <%= doctor.identity_cards.last.identity %>
                        <br>
                      <%= doctor.identity_cards.last.institute %>
                    </td>
                  </tr>
                      <% end %>
                  <% else
                        if doctor.pres_professional_license.present?
                  %>
                      <tr>
                        <td><%= doctor.pres_professional_license %></td>
                      </tr>
                  <%
                        end
                     end %>

                  <% if doctor.pres_show_another_info %>
                      <tr>
                        <td><%= doctor.pres_another_info %></td>
                      </tr>
                  <% end %>
              </tbody>
            </table>

          <td class="three_column">&nbsp;</td>
        </tr>

    </tbody>
</table>
<% else %>
    <br><br><br><br><br><br>
<% end %>

<div style="width: 100%;" class="text_color text_body">
  <table style="text-align: left;width: 100%">
    <tbody>
    <tr>
      <% if doctor.id != 21  %>
          <td><strong>Paciente:</strong> <span style="/*text-decoration: underline;*/"><%= @consultation.medical_expedient.patient.full_name %></span></td>
          <td><strong>Edad: </strong> <span style="/*text-decoration: underline;*/"><%= @consultation.medical_expedient.patient.age_and_month %></span></td>
          <td><strong>Fecha:</strong> <span style="/*border-bottom: solid 1px;*/"><%= @consultation.date_consultation.strftime("%d/%m/%Y") %></span></td>
      <% else %>
          <td style="width: 85%"> <span style="margin-left: 5em"> <%= @consultation.medical_expedient.patient.full_name %></span></td>
          <td style="width: 15%"><%= @consultation.date_consultation.strftime("%d/%m/%Y") %></td>
      <% end %>
    </tr>
    <% if doctor.pres_show_weight or doctor.pres_show_height or doctor.pres_show_folio or doctor.pres_show_head_circumference %>
        <tr>
          <% if doctor.pres_show_weight %>
              <td><strong>Peso:</strong> <span style="/*text-decoration: underline;*/"><%= @consultation.vital_sign.weight %> Kg</span></td>
          <% end %>
          <% if doctor.pres_show_height %>
              <td><strong>Talla:</strong> <span style="/*text-decoration: underline;*/"><%= @consultation.vital_sign.height %> Cm</span></td>
          <% end %>
          <% if doctor.pres_show_head_circumference %>
              <td><strong>P.C.:</strong> <span style="/*text-decoration: underline;*/"><%= @consultation.vital_sign.head_circumference %> Cm</span></td>
          <% end %>
          <% if doctor.pres_show_folio %>
              <td><strong>Folio:</strong> <span style="/*text-decoration: underline;*/"><%= @consultation.folio %></span></td>
          <% end %>
        </tr>
    <% end %>
    <% if @consultation.print_diagnostic %>
        <tr>
          <td colspan="3"><strong>Dx:</strong>
            <p><%= @consultation.diagnostic %></p>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%" class="text_color text_body">
  <div style="width: 100%; float: left;">
    <% if doctor.id != 21 %>
        <hr>
        <strong>TRATAMIENTO</strong>
        <ol>
          <%  @consultation.prescription.medical_indications.each do |medical|  %>
              <li><%= medical.medicament.comercial_name+" ("+medical.medicament.presentation+").- Dosis: " + medical.dose %></li>
          <% end %>
        </ol>
        <p>
          <%= @consultation.prescription.recommendations %>
        </p>
    <% else %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ol>
          <%  @consultation.prescription.medical_indications.each do |medical|  %>
              <li style="margin-left: 10px"><%= medical.medicament.comercial_name+" ("+medical.medicament.presentation+") Marca: "+ medical.medicament.brand+".- Dosis: " + medical.dose %></li>
          <% end %>
        </ol>
        <p style="margin-left:5em;">
          <%= @consultation.prescription.recommendations %>
        </p>

    <% end %>
  </div>
</div>
</body>
</html>