<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/prescription_b' %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<% doctor = @consultation.office.doctor %>
<table style="width: 100%;">
  <tbody>
    <tr>
      <td class="first_column">
        <% if doctor.pres_show_logo %>
            <% if !@consultation.office.logo_identifier.nil? %>
                <%= wicked_pdf_image_tag_for_public @consultation.office.logo.url,:width => "110",  :height=>"90" %>
            <% end %>
        <% end %>
      </td>
      <td class="second_column">
        <table class="text_font_header text_font" cellspacing="0" style="border-spacing: 0;">
          <tbody>
          <tr style="font-size: 21px;">
            <td><%= abbreviation_dr %> <%= @consultation.office.doctor.full_name %></td>
          </tr>

          <%
             unless doctor.pres_show_speciality

               specialtities = []
               @consultation.office.doctor.specialties.each do |specialti|
                 specialtities << specialti.name.to_s
               end
               if specialtities.size > 0
          %>
                  <tr>
                    <td><%= specialtities.join(",") %></td>
                  </tr>
              <% end

                 else
                   if doctor.pres_speciality.present? %>

                  <tr>
                    <td><%= doctor.pres_speciality %></td>
                  </tr>
              <%  end
                  end %>

          <% if doctor.pres_show_studies and doctor.pres_studies.present?  %>
              <tr>
                <td><%= doctor.pres_studies %></td>
              </tr>
          <% else %>
              <% if @consultation.office.doctor.identity_cards.size > 0 %>
                  <tr>
                    <td>Universidad: <%= @consultation.office.doctor.identity_cards.last.institute %></td>
                  </tr>
            <%  end %>
          <%  end %>

          <% unless doctor.pres_show_professional_license %>

              <% if @consultation.office.doctor.identity_cards.size > 0 %>
                  <tr>
                    <td>
                      C&eacute;dula Profesional: <%= @consultation.office.doctor.identity_cards.last.identity %>
                      <br>
                      <%= @consultation.office.doctor.identity_cards.last.institute %>
                    </td>
                  </tr>
              <% end %>
          <% else
               if doctor.pres_professional_license.present?
          %>
                  <tr>
                    <td><%= doctor.pres_professional_license %></td>
                  </tr>
              <%
                 end
                 end %>

          <% if doctor.pres_show_another_info %>
              <tr>
                <td><%= doctor.pres_another_info %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </td>
      <td class="three_column">
        <% if doctor.pres_show_folio %>
          <strong>Folio:</strong> <span style="/*text-decoration: underline;*/"><%= @consultation.folio %></span>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
<table style="width: 100%; " class="table_patient" border="1" cellpadding="0" cellspacing="1">
    <tbody>
    <tr>
      <td colspan="3">&nbsp;Paciente:&nbsp; <%= @consultation.medical_expedient.patient.full_name %></td>
      <td>&nbsp;Edad:&nbsp; <%= @consultation.medical_expedient.patient.age_and_month %></td>
    </tr>
    <% if doctor.pres_show_weight or doctor.pres_show_height or doctor.pres_show_folio or doctor.pres_show_head_circumference %>
        <tr>
          <% if doctor.pres_show_weight %>
              <td><strong>Peso:</strong> <span style="/*text-decoration: underline;*/"><%= @consultation.vital_sign.weight %> Kg</span></td>
          <% end %>
          <% if doctor.pres_show_height %>
              <td><strong>Talla:</strong> <span style="/*text-decoration: underline;*/"><%= @consultation.vital_sign.height %> Cm</span></td>
          <% end %>
          <% if doctor.pres_show_head_circumference %>
              <td><strong>P.C:</strong> <span style="/*text-decoration: underline;*/"><%= @consultation.vital_sign.head_circumference %> Cm</span></td>
          <% end %>
          <td>&nbsp;Fecha:&nbsp; <%= @consultation.date_consultation.strftime("%d/%m/%Y") %></td>

        </tr>
    <% end %>
    </tbody>
</table>
<div style="width: 100%;" class="text_font text_body">
  <% if @consultation.print_diagnostic %>
  <strong>Dx:</strong>
  <p><%= @consultation.diagnostic %></p>
  <% end %>
  <strong>TRATAMIENTO</strong>
  <ol>
    <%  @consultation.prescription.medical_indications.each do |medical|  %>
        <li><%= medical.medicament.comercial_name+" ("+medical.medicament.presentation+") Marca: "+ medical.medicament.brand+".- Dosis: " + medical.dose %></li>
    <% end %>
  </ol>
  <p>
    <%= @consultation.prescription.recommendations %>
  </p>
</div>
</body>
</html>