<div class="card">
  <div class="card-body card-padding">
    <div class="row">

<%= form_for [:doctor, @clinical_study_type] do |f| %>
    <% if @clinical_study_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@clinical_study_type.errors.count, "error") %> prohibited this clinical_study_type from being saved:</h2>

          <ul>
            <% @clinical_study_type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-xs-12">
            <div class="form-clinical_study_type fg-line">
      <%= f.label :name, :class=>"control-label"  %><br>
      <%= f.text_field :name, :class =>  "form-control input-lg", :placeholder => "Nombre"  %>
              <input type="hidden" name="clinical_study_type[laboratory_id]" value="<%= @clinical_study_type.laboratory_id %>">
    </div>
      </div>



    </div></div></div>

<div class="col-xs-6">

</div>
<div class="col-xs-6">
  <span class="col-xs-3"></span>
  <a href="<%= doctor_clinical_study_types_path+'?lab_id='+@lab_id.to_s %>" class="btn btn-danger col-xs-4">Atrás</a>
  <span class="col-xs-1"></span>
  <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
</div>

      <% end %>