<!-- < javascript_include_tag 'admin/archives', 'data-turbolinks-track' => true if ::Rails.application.assets.find_asset('admin/archives.js')%> -->
<div id="box_view_file" style="display: none;">
  <div id="div_parent_view_files">
    <div class="row">
      <div id="div_container_view_files" style="z-index: 9999;">
        <%= render 'doctor/analysis_order/viewer_pdf'%>
        <%= hidden_field_tag 'url_pdf_worker', asset_path('viewFiles/mozillapdf/pdf.worker.js') %>
      </div>
    </div>

    <div style="margin: auto; width: 5%;  padding-top: 35px;">
      <div class="preloader pl-xl">
        <svg class="pl-circular" viewBox="25 25 50 50">
          <circle class="plc-path" cx="50" cy="50" r="20"></circle>
        </svg>
       <div style="color: white; font-size: 1.2em;">
         Cargando...
       </div>
      </div>
    </div>
  </div>
</div>