<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  </style>
  <meta charset="UTF-8">
</head>
<body>

<div style="font-size: 13px">
  <span class="section_body_analysis"><strong>Relaci&oacute;n de estudios</strong></span>
  <dl class="type_text_body">
    <%  @analysis_order.clinical_studies.each do |study|  %>
        <dt>- <%= study.name %></dt>
    <% end %>
  </dl>

  <% indications = filter_indications_by_analysis @analysis_order.indications %>

  <% if indications.size > 0 %>
      <span class="section_body_analysis"><strong>Indicaciones</strong></span>
      <dl class="type_text_body">
        <%
          indications.each do |indication| %>
            <dt>- <%= indication.description %></dt>
        <% end %>
      </dl>
  <% end %>


  <% if @analysis_order.annotations.present? %>
      <br>
      <strong>Anotaciones</strong>
      <dl>
        <%= @analysis_order.annotations %>
      </dl>
  <% end %>

  <% if @analysis_order.result.present? %>
      <br>
      <strong>Resultado</strong>
      <dl>
        <%= @analysis_order.result %>
      </dl>
  <% end %>

  <% if !@analysis_order.laboratory.nil? && !@analysis_order.laboratory.is_custom %>
      <div style="margin-top: 30px;">
        <div style="float: left; width: 30%">
          <% if @analysis_order.laboratory.logo.present? %>
              <%= wicked_pdf_image_tag_for_public @analysis_order.laboratory.logo.url,:width => "80%" %>
          <% else %>
              <%= wicked_pdf_image_tag "MEDSI_LOGOTIPO.jpg",:width => "80%" %>
          <% end %>
        </div>

        <div style="float: left; width: 70%">
          <div style="font-size: 13px; padding-left: 20px;">
            <strong>Nombre:</strong> <%= @analysis_order.laboratory.name %><br>
            <strong>Dirección:</strong> <%= @analysis_order.laboratory.address %><br>
            <strong>Teléfono:</strong> <%= @analysis_order.laboratory.telephone %><br>
            <strong>Contacto:</strong> <%= @analysis_order.laboratory.contact %><br>
            - <%= @analysis_order.laboratory.observations %><br>
          </div>
        </div>
      </div>
  <% end %>

</div>
</body>
</html>