<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/analysis_order' %>
  <script>
      function number_pages() {
          var vars={};
          var x=document.location.search.substring(1).split('&');
          for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
          var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
          for(var i in x) {
              var y = document.getElementsByClassName(x[i]);
              for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
          }
      }
  </script>
</head>
<body onload="number_pages()">
    <br>
    <hr>
    <table width="100%" style="">
      <tbody>
        <tr >
          <td class="type_text_footer" style="text-align: center;">Esta orden de estudio esta basada de acuerdo al laboratorio de referencia, es reponsabilidad del paciente apegarse a dichas indicaciones </td>
        </tr>
      <tr class="type_text_header">
        <td style="text-align: right;"><strong>P&aacute;gina <span class="page"></span> de <span class="topage"></span></strong></td>
      </tr>
      </tbody>
    </table>


</body>
</html>