<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  </head>
<body>
<div style="margin-top: 10px;">
  <div style="float: left; width: 30%">
    <% if !@analysis_order.office.nil? && @analysis_order.office.logo.present? %>
        <%= wicked_pdf_image_tag_for_public @analysis_order.office.logo.url,:width => "80%" %>
    <% else
    clinic_info = ClinicInfo.first
    public = true
      if !clinic_info.logo.url.present?
        public = false
      end
    %>
        <% if public  %>
        <%= wicked_pdf_image_tag_for_public clinic_info.logo.url,:width => "80%" %>
            <% else %>
        <%=  wicked_pdf_image_tag "MEDSI_LOGOTIPO.jpg", :width => "80%"  %>
            <% end %>
    <% end %>
  </div>


  <div style="float: left; width: 70%">
    <strong class="title_pdf" style="font-size: 25px;">Orden de estudios de <%= @analysis_order.clinical_order_type.id == ClinicalOrderType::STUDY_CLINICAL ? "laboratorio" : "gabinete" %></strong>
    <div style="font-size: 14px; padding-left: 20px; padding-top: 10px;">
      <strong>Paciente:</strong> <%= @analysis_order.medical_expedient.patient.full_name %><br>
      <strong>Fecha de Nacimiento:</strong> <%= @analysis_order.medical_expedient.patient.birth_day.strftime('%m/%d/%Y') %><br>
      <strong>M&eacute;dico:</strong> <%= abbreviation_dr+" "+@analysis_order.medical_expedient.user.person.full_name %><br>
      <strong>Tel:</strong> <%= @analysis_order.medical_expedient.user.person.telephone %>
    </div>

  </div>
</div>
</body>
</html>
