

<% if @analysis_order_rows[:rows].count > 0 %>
    <% @analysis_order_rows[:rows].each do |row| %>
        <div id="<%= (@flag_div_container.nil?)? "container_row_analysis_#{row["id"]}" : ""%>">
          <div class="lv-item media" style="/*cursor:pointer*/" >
            <div class="media-body">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <h4 class="media-heading">Folio: <%= row["folio"] %> </h4>
                </div>
                <div class="col-md-8 col-sm-8">
                  <h4 class="media-heading label label-<%= (row["clinical_order_type_id"].to_i == ClinicalOrderType::STUDY_CLINICAL)? "info":"success" %>" style="font-size: 1em;"><%= row["clinical_order_type"] %></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-sm-8">
                  <!-- Paciente: #row["patient_name"] -->
                  <strong> Anotaciones:</strong> <br>  <%= row["annotations"] %>
                  <small class="lv-small"><!-- Informaci&oacute;n adicional... --></small>
                  <ul class="lv-attrs">
                    <li>Fecha: <%= row["date_analysis"].strftime('%d/%m/%Y')%></li>
                    <li><%= row["laboratory"]%></li>

                    <% if row["has_report"] && ClinicInfo.first.charge_reports %>

                        <li style="cursor: pointer;"
                  <% if @current_user.id == row["user_id"] && !row["is_charged"] %>
                          title="Haga click para editar el precio"
                  onclick="openChangePriceReport(<%= row["report_id"] %>,<%= row["price"] %>)"
                            <% end %>><%= number_to_currency(row["price"]) %></li>
                    <% end %>

                  </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                  <button type="button" class="btn btn-primary btn-icon waves-effect waves-circle waves-float print_btn_analysis_order" data-url="<%= download_analysis_doctor_analysis_order_index_url(row["id"], format: :pdf) %>" data-id="<%= row["id"]%>" title="Imprimir orden"><i class="zmdi zmdi-print"></i></button>
                  <% if row["has_report"] %>
                      <button title="Imprimir reporte" type="button" class="btn bgm-orange btn-icon waves-effect waves-circle waves-float print_btn_analysis_order"
                              data-url="<%= download_analysis_doctor_cabinet_reports_url(row["id"], format: :pdf) %>" data-id="<%= row["id"]%>">
                        <i class="zmdi zmdi-collection-text zmdi-hc-fw"></i>
                      </button>
                      <button title="Enviar reporte" type="button" class="btn bgm-red btn-icon waves-effect waves-circle waves-float"
                             onclick="send_report_modal(<%= row["id"] %>)">
                        <i class="zmdi zmdi-email zmdi-hc-fw"></i>
                      </button>
                      <% if !row["is_charged"] && ClinicInfo.first.charge_reports  %>
                          <button title="Cobrar reporte de estudio" type="button"
                                  class="btn bgm-green btn-icon waves-effect waves-circle waves-float" onclick="openChargeReportModal(<%= row["report_id"] %>,<%= row["debt"] %>)">
                            <i class="zmdi zmdi-money"></i>
                          </button>

                      <% end %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12 col-sm-12"><label>Archivos:</label></div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <table width="100%">
                        <thead>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                        </thead>
                        <tbody>
                        <%
                           archives = Archive.where(clinical_analysis_order_id: row["id"].to_i)
                           archives.each do |archive|
                             name = (archive.original_name.length > 26 )? archive.original_name[0..23].to_s+"..." : archive.original_name
                        %>
                            <tr>
                              <td><strong class="name-file"><%= name %></strong></td>
                              <td><strong class="name-file"><%= archive.created_at.strftime("%d/%m/%Y")%></strong></td>
                              <td>
                                <%= (link_to(raw("<i class='zmdi zmdi-download zmdi-hc-lg zmdi-hc-2x-'></i>"), download_file_doctor_analysis_order_index_url(archive), :class => 'tooltips download-file', 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => "Descargar")
                                    )%>
                                <% if !permission_view_studies_current_user? and permission_edit_studies_current_user? or permission_edit_studies_current_user? %>
                                    <a href="#" id="<%= archive.id.to_s %>" data-analysis="<%= row["id"] %>" class="tooltips trash-red delete-file" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class=' zmdi zmdi-delete zmdi-hc-lg'></i></a>
                                <% end %>
                                <% if "pdf".eql? archive.file_name.file.extension.downcase %>
                                    <a class="tooltips" href="#" data-toggle="tooltip" data-placement="top" title="Mostrar" onclick="viewer_file(<%= archive.id %>); return false;"><i class='zmdi zmdi-hc-lg zmdi-eye'></i></a>
                                <% end %>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <% if row["has_report"] && ClinicInfo.first.charge_reports %>
                      <div style="padding-bottom: 10px;">
                        <% if row["debt"] > 0 %>
                            <span class="btn btn-small btn-info">Saldo: <%= number_to_currency(row["debt"]) %></span>
                        <% else %>
                            <span class="btn btn-small btn-success">Cobrado</span>
                        <% end %>
                      </div>
                  <% end %>


                  <% if !permission_view_studies_current_user? and permission_edit_studies_current_user? or permission_edit_studies_current_user? %>
                  <div class="preloader pl-sm" id="loading_<%= row["id"] %>" style="display: none;">
                    <svg class="pl-circular" viewBox="25 25 50 50">
                      <circle class="plc-path" cx="50" cy="50" r="20"></circle>
                    </svg>Cargando...
                  </div>
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file m-r-10">
                                            <span class="fileinput-new">Agregar archivos</span>
                                            <span class="fileinput-exists">Subiendo archivo</span>
                                            <input type="file" name="..." class="add_file_analysis" data-id="<%= row["id"] %>" id="input_file_<%= row["id"] %>">
                                        </span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                  </div>
                      <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% else %>
    <div class="alert alert-info" role="alert" style="text-align: center;">No existen an&aacute;lisis cl&iacute;nicos.</div>
<% end %>
<%
   @analysis_order_rows.delete(:rows)
   format = @analysis_order_rows.to_json
%>

<%= hidden_field_tag 'info_analysis_order', format %>

<div class="modal fade" id="open_image_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Imagen</h4>
      </div>
      <div class="modal-body">
        <img src="" id="open_image_item" style="width: 100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%
   exchanges = CurrencyExchange.all
%>
<div class="modal fade" id="send_email_report_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">
            <div class="row">
              <div class="col-xs-12">
                <strong >Correo electronico:</strong> <br>
                <input type="text" class="form-control input-lg" id="email_sender" >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="send_report_email_btn" onclick="send_report_email()">Enviar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<%= hidden_field_tag 'url_send_report_mail', url_for(:controller => 'doctor/analysis_order', :action => 'send_report_email', :only_path => false) %>
<div class="modal fade" id="charge_report_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="generate_charge_title">Generar cobro</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="add_charge_url" value="<%= create_charge_doctor_daily_cashes_path %>">
        <input type="hidden" id="report_id">
        <form class="" role="form">
          <div class="row">
            <input type="hidden" id="quick_charge_type" value="consult">
            <div class="col-xs-6">
              <strong>Método de Pago:</strong> <br>
              <select class="selectpicker form-control" id="charge_payment_method">
                <% [].each do |pm| %>
                    <option id="payment_method_<%= pm.id %>" affect_local="<%= pm.affect_local ? 1 : 0  %>" value="<%= pm.id %>"><%= pm.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-xs-6">
              <strong id="">Cuenta:</strong> <br>
              <select class="selectpicker form-control" id="charge_account">
                <option value="">Seleccionar cuenta...</option>
                <%
                  @all_accounts.each do |a|
                %>
                    <option id="account_<%= a.id %>" class="t_account account_office_<%= a.office_id %> <%= a.bank.is_local ? 'local_account' : 'bank_account' %>"
                            currency="<%= a.bank.is_local ? '' : a.currency_id %>" value="<%= a.id %>" iso_code = "<%= a.currency.iso_code %>">
                      <%= a.account_number %> - <%= a.bank.name %> <%= a.bank.is_local ? '' : '('+a.currency.iso_code+')' %>
                    </option>
                <% end %>
              </select>

              <br>
            </div>
            <div class="col-xs-6">
              <strong>Moneda:</strong> <br>
              <select class="selectpicker form-control" id="doctor_currency">
                <% exchanges.each do |ex| %>
                    <option id="currency_doc_<%= ex.currency_id %>"  value="<%= ex.currency_id %>"><%= ex.currency.iso_code %></option>
                <% end %>
              </select>
            </div>
            <div class="col-xs-6">
              <strong>Monto:</strong> <br>
              <input type="number" class="form-control input-lg" id="charge_amount">
              <input type="hidden" class="form-control input-lg" id="charge_amount2">
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_details">Detalles</label>
                <div class="fg-line">
                  <textarea class="input-sm form-control input-lg" id="charge_details" placeholder=""></textarea>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="charge_report_btn">Cobrar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="change_report_price_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="change_report_price_title">Cambiar precio de reporte</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="update_report_price_url" value="<%= update_price_doctor_cabinet_reports_path %>">
        <input type="hidden" id="new_price_report_id">

        <strong>Precio: </strong>
        <input type="number" class="form-control input-lg" id="new_price_report">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="change_report_price" onclick="changePriceReport()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>








