<%= form_for :doctor,url: create_doctor_analysis_order_index_path(:expedient_id => @expedient_id), html: {id: "new_clinical_order"} do |f| %>
<div class="row">
  <div class="col-md-12">
    <label class="col-md-1">Tipo: </label>
    <div class="col-md-11">
      <% ClinicalOrderType.all.each do |order| %>
          <label class="radio radio-inline">
              <input type="radio" name="clinical_order_type" value="<%= order.id %>" >
              <i class="input-helper"></i>
                <%= order.name %>
          </label>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label>Consultorio: </label>
    <select id="order_office" class="form-control selectpicker">
      <% current_user.offices.each do |order| %>
          <option value="<%= order.id %>"><%= order.name %></option>
      <% end %>
    </select>
  </div>
  <div class="col-md-4">
    <label>Laboratorio:</label>
    <select id="laboratory_select" class="form-control selectpicker">
      <option value="">Seleccione un laboratorio</option>
      <% @laboratories.each do |lab| %>
          <option style="display: none"
                  class="lab type_<%= lab.clinical_order_type.id %>"
                  value="<%= lab.id %>">
            <%= lab.name %>
          </option>
      <% end %>
    </select>
  </div>
  <div class="col-md-4">
    <label>Categor&iacute;a:</label>
    <%= f.select :clinical_study_type, [],
                 {}, class: 'selectpicker  form-control','data-live-search' => 'true' %>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <select class="form-control selectpicker" id="package_id">
      <option value="">Seleccione un paquete de estudios</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <div class="preloader pl-sm" id="loading_clinical_study" style="display: none;">
      <svg class="pl-circular" viewBox="25 25 50 50">
        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
      </svg>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <select  multiple="multiple" id="list_clinical_analysis" style="height: 200px;"></select>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
        <label class="label-control">Indicaciones:</label>
    <div id="indications_study_selected" style="overflow: scroll; height: 120px;">

    </div>
  </div>
  <div class="col-md-6" id="annotations_order" style="display: none;">
    <label class="label-control">Anotaciones:</label>
    <div class="">
      <div class="fg-line">
        <%= f.text_area :annotations, {:class => "form-control", :rows => 5, :placeholder => "Anotaciones"}  %>
      </div>
    </div>
  </div>
  <div class="col-md-6" id="result_order" style="display: none;">
    <label class="label-control">Resultados:</label>
    <div class="">
      <div class="fg-line">
        <%= f.text_area :result, {:class => "form-control", :rows => 5, :placeholder => "Resultados"}  %>
      </div>
    </div>
  </div>
</div>
<% end %>

<input type="hidden" id="url_load_categories" value="<%= get_by_lab_doctor_clinical_study_types_path %>">
<input type="hidden" id="url_load_packages" value="<%= by_laboratory_doctor_study_packages_path %>">
<input type="hidden" id="url_load_studies_by_package" value="<%= get_studies_doctor_study_packages_path %>">
