<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<%
  age = distance_of_time_in_words_hash(Time.now, @analysis_order.medical_expedient.patient.birth_day)
  age_string = ''
  if age[:years] != nil && age[:years] > 0
    age_string << age[:years].to_s + ' año'
    if age[:years] > 1
      age_string << 's'
    end
  end
%>

<div>


<div style="display: block; clear: both;">
  <div style="float: left; width: 30%">
    <% if !@analysis_order.office.nil? && @analysis_order.office.logo.present? %>
        <%= wicked_pdf_image_tag_for_public @analysis_order.office.logo.url,:width => "80%" %>
    <% else %>
        <%= wicked_pdf_image_tag "MEDSI_LOGOTIPO.jpg",:width => "80%" %>
    <% end %>
  </div>

  <div style="float: left; width: 70%">
    <strong class="title_pdf" style="font-size: 25px;">Reporte de <%= @analysis_order.clinical_studies.first.name %></strong>
    <div style="font-size: 16px; padding-left: 20px; padding-top: 10px;">
      <strong>Paciente:&nbsp;</strong> <%= @analysis_order.medical_expedient.patient.full_name %><br>
      <strong>Edad:</strong> <%= age_string %> <strong style="margin-left: 1cm">Fecha:</strong> <%= I18n.localize(@analysis_order.created_at, :format => :email_personal_support) %>

    </div>
  </div>
</div>


</div>

</body>
</html>
