<style>
  .images_holder .image_item{
    width: 50%;
    float: left;
  }

  .pic_notes{
    font-size: 12px;
  }

  .clear_div{
    clear: both;
  }

  #results_html{
    font-size: 13px;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 18cm;
    text-align: justify;
  }
  p{
    line-height: 1  ;

  }
  #results_html ul{line-height: 80%;}
  #results_html ol{line-height: 80%;}

  #line_holder{
    margin-top: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
<hr>
<span class="section_body_analysis_images">Imágenes de paciente</span>
<br>
<br>

<div class="images_holder">

  <%
    idx = 1
    @analysis_order.cabinet_report.cabinet_report_pictures.each do |picture| %>
      <div class="image_item">
        <%= wicked_pdf_image_tag_for_public picture.picture_root,:width => "95%" %>
        <br>
        <span class="pic_notes"><%= picture.annotations %></span>
      </div>

      <% if idx % 2 == 0 %>
      <div class="clear_div"></div>
      <% end %>
      <% idx = idx+1 %>

  <% end %>

</div>



<div class="clear_div"></div>
<br><br>
<div>
  <strong>Reporte de resultados:</strong>
  <div id="results_html">
    <%= @analysis_order.cabinet_report.conclusions.html_safe %>
  </div>
</div>


<div>

  <div id="line_holder"  style="text-align: center;" >
    <% if !@analysis_order.medical_expedient.doctor.digital_sign.nil?  && !@analysis_order.medical_expedient.doctor.digital_sign.to_s.empty? %>
    <%= wicked_pdf_image_tag_for_public @analysis_order.medical_expedient.doctor.digital_sign.url,:width => "180",  :height=>"120" %>
        <% end %>
    <hr>
  </div>
  <div style="text-align: center;">
    <span><%= @analysis_order.medical_expedient.doctor.full_name_title  %></span>
  </div>

</div>
