<style>
  .default_font{
    font-size: 10px;
    font-family: Arial;
    font-weight: 600;
  }
</style>

<div class="default_font">
  <div style="text-align: center;">

    <% clinic_info = ClinicInfo.first %>

    <%= clinic_info.name %><br>
    <%= clinic_info.address %><br>
    <%= clinic_info.city.format_city_state_and_country %><br>
    <% fiscal_info = GeneralFiscalInfo.first %>
    <% if fiscal_info.present? %>
    RFC: <%= fiscal_info.rfc %>
    <% end %>
    <br>
    <br>

  </div>

    <%
      comps = @admission_transaction.folio.split("-")
    %>

  <table class="default_font" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td>FECHA:</td>
      <td><%= @admission_transaction.created_at.strftime('%d/%m/%Y %I:%M %p') %></td>
    </tr>
    <tr>
      <td>SERIE:</td>
      <td><%= comps[0] %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FOLIO: <%= comps[1] %></td>
    </tr>
    <tr>
      <td>AGENTE:</td>
      <td><%= current_user.person.full_name %></td>
    </tr>
    <tr>
      <td>PACIENTE:</td>
      <td><%= @admission_transaction.hospital_admission.patient.full_name.upcase %></td>
    </tr>
  </table>

  <div>

    <br>
    <table class="default_font" width="100%">
      <tr>
        <td><%= clinic_info.ticket_description %></td>
        <td style="text-align: right;"><%= number_to_currency(@admission_transaction.amount) %></td>
      </tr>
    </table>

    <div style="text-align: right;">
      $0.00<br>
      <%= number_to_currency(@admission_transaction.amount) %><br>
    </div>

  </div>

  <br><br>

</div>

