<div style="font-size: 10px; font-family: Consolas, monaco, monospace;">
  <div style="text-align: center;">

    <% clinic_info = ClinicInfo.first %>

    <%= clinic_info.name %><br>
    <%= clinic_info.address %><br>
    <%= clinic_info.city.format_city_state_and_country %><br>
    <% fiscal_info = GeneralFiscalInfo.first %>
    <% if fiscal_info.present? %>
        RFC: <%= fiscal_info.rfc %>
    <% end %>
    <br>
    <br>

  </div>

  <div>
    <%
      details = ''
      t = @transaction
      case @transaction.chargeable_type
        when 'OtherMovement'
          details <<  t.chargeable.movement_type.name
        when 'Charge'
          details << 'Paciente: '+t.chargeable.medical_consultation.patient.full_name + ' <br> '
          details << 'Fecha Consulta: '+t.chargeable.medical_consultation.date_consultation.strftime('%d/%m/%Y %I:%M %P') + ' <br> '
          details << 'Detalles: '+t.chargeable.details
        when 'Transfer'
          details << 'Transferencia de ' + t.chargeable.from.account_number+' ('+t.chargeable.from.bank.name+') a '+ t.chargeable.to.account_number+' ('+t.chargeable.to.bank.name+')'
        when 'ChargeReportStudy'
          details << 'Estudio: ' + t.chargeable.get_study+'<br>'
          details << 'Paciente: ' + t.chargeable.get_patient+'<br>'
          details << 'Detalles: '+t.description
        when 'AdmissionTransaction'
          details << 'Admisión hospitalaria: '
          details << 'Paciente: ' + t.chargeable.hospital_admission.patient.full_name + ': '
          details << 'Folio: '+t.chargeable.folio
        when 'OtherChargeTransaction'
          details << 'Otros cargos ' +'<br>'
          details << 'Paciente: ' + t.chargeable.other_charge.patient_name+'<br>'
          details << 'Folio: '+t.chargeable.folio
      end
    %>
    <label style="font-weight: bold">Fecha:</label> <%= @transaction.created_at.strftime('%d/%m/%Y %I:%M %p') %><br>
    <% if @transaction.chargeable_type == 'Charge' %>
    <label style="font-weight: bold">Folio:</label> <%= @transaction.chargeable.medical_consultation.folio %><br>
    <% end %>
    <label style="font-weight: bold">Agente:</label> <%= current_user.person.full_name %><br>
    <% if @transaction.chargeable_type == 'Charge' %>
    <label style="font-weight: bold">Paciente:</label> <%= @transaction.chargeable.medical_consultation.patient.full_name.upcase %>
        <% else %>
        <label style="font-weight: bold">Detalle:</label> <%= details.upcase %>
        <% end %>
  </div>

  <div>

    <br>
    <div style="text-align: left"><%= clinic_info.ticket_description %></div>   <div style="text-align: right"><%= number_to_currency(@transaction.amount) %></div>


    <br>

    <div style="text-align: right;">
      <%= number_to_currency(@transaction.amount) %><br>
      $0.00<br>
      <%= number_to_currency(@transaction.amount) %><br>
    </div>

  </div>

  <br><br>

</div>

