<div style="font-size: 12px; font-family: Consolas, monaco, monospace;">
  <div style="text-align: center;">
    Cruz Roja Mexicana I.A.P.<br>
    Delegacion Cancun<br>
    Avenida Yaxchilan Numero 2<br>
    Supermanzana 21 CP. 77500 Cancun<br>
    Quintana Roo Mexico<br>
    R.F.C CRM-670210-9K6<br>
    <br>

  </div>

  <div>
    <label style="font-weight: bold">Fecha:</label> <%= @admission_transaction.created_at.strftime('%d/%m/%Y %I:%M %p') %><br>
    <%
      comps = @admission_transaction.folio.split("-")
    %>
    <label style="font-weight: bold">Serie:</label> <%= comps[0] %>
      <label style="font-weight: bold;margin-left: 10px">Folio:</label> <%= comps[1] %><br>
        <label style="font-weight: bold">Agente:</label> <%= current_user.person.full_name %><br>
          <label style="font-weight: bold">Paciente:</label> <%= @admission_transaction.other_charge.patient_name %>
  </div>

  <div>

    <br>
    <% clinic = ClinicInfo.first %>
    <div style="text-align: left"><%= clinic.ticket_description %></div>   <div style="text-align: right"><%= number_to_currency(@admission_transaction.amount) %></div>


    <br>

    <div style="text-align: right;">
      <%= number_to_currency(@admission_transaction.amount) %><br>
      $0.00<br>
      <%= number_to_currency(@admission_transaction.amount) %><br>
    </div>

  </div>

  <br><br>
  <div style="text-align: center;">* Gracias por su donativo *</div>

</div>

