<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-md-6">
        <h4>Campos de valoración</h4>
      </div>
      <div class="col-md-6">
        <% if can? :new, ValorationField %>
            <a class="btn btn-success pull-right" id="new_valoration_field_btn">Agregar</a>
        <% end %>
      </div>

      <div class="col-md-12">
        <% valoration_types = ValorationType.all %>

        <div>
          <table class="table table-condensed">
            <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Etiqueta</th>
              <th>Unidad</th>
              <th>Código</th>
              <th>Valoraciones</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% ValorationField.order('name ASC').all.each do |vf| %>
                <tr id="valoration_field_<%= vf.id %>">
                  <td>
                    <% if can? :edit, ValorationField %>
                        <div class="dropdown">
                          <a href="#" class="dropdown-toggle btn btn-link waves-effect" data-toggle="dropdown" aria-expanded="true"><i class="zmdi zmdi-plus-circle pull-right" title="Agregar <%= vf.name %> en:"></i></a>
                          <ul class="dropdown-menu">
                            <% valoration_types.each do |vt| %>
                                <% if vt.valoration_type == vf.f_type %>
                                    <li role="presentation" class="add_field_to_valoration" field="<%= vf.id %>" valoration="<%= vt.id %>"><a role="menuitem" tabindex="-1" href="#"><%= vt.name %></a></li>
                                <% end %>
                            <% end %>
                          </ul>
                        </div>
                    <% end %>
                  </td>
                  <td><%= vf.name %></td>
                  <td><%= vf.label %></td>
                  <td><%= vf.unit %></td>
                  <td><%= vf.code %></td>
                  <td><%= vf.valoration_types.map{ |vt| vt.name}.join(", ") %></td>
                  <td>
                    <% if can? :edit, ValorationField %>
                        <i class="zmdi zmdi-edit action_icon edit_field_icon" url="<%= admin_valoration_field_path(vf.id) %>"></i>
                    <% end %>

                    <% if can? :destroy, ValorationField %>
                        <i field="valoration_field_<%= vf.id %>" class="zmdi zmdi-delete action_icon delete_field_action" url="<%= admin_valoration_field_path(vf.id) %>"></i>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="modal fade" id="add_valoration_field" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Agregar campo de valoración</h4>
      </div>
      <div class="modal-body">
        <strong>Tipo</strong>
        <select class="selectpicker form-control" id="field_type">
          <option value="<%= Const::VALORATION_TYPE_VITAL_SIGN %>">Signo vital</option>
          <option value="<%= Const::VALORATION_TYPE_EXPLORATION %>">Exploración</option>
        </select>

        <strong>Nombre</strong>
        <input type="text" id="field_name" class="form-control">
        <input type="hidden" id="field_id">

        <strong>Etiqueta</strong>
        <input type="text" id="field_label" class="form-control">

        <strong>Unidad</strong>
        <input type="text" id="field_unit" class="form-control">

        <strong>Código</strong>
        <input type="text" id="field_code" class="form-control">

        <strong>Tipo de campo</strong>
        <select class="selectpicker form-control" id="field_html_type">
          <option value="number">Número</option>
          <option value="text">Texto</option>
          <option value="long_text">Texto largo</option>
          <option value="collection">Lista</option>
        </select>

        <div id="collection_holder" style="display: none;">
          <strong>Tipo de lista</strong>
          <select class="selectpicker form-control" id="field_collection">
            <option value="">Seleccione un elemento</option>
            <option value="<%= Const::VALORATION_COLLECTION_TYPE_TRIAGE %>">Triage</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="save_valoration_field_btn" url="<%= admin_valoration_fields_path %>">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<%= hidden_field_tag 'add_to_valoration_url', add_to_valoration_admin_valoration_fields_path %>