<%= form_for(@doctor_medical_expedient) do |f| %>
  <% if @doctor_medical_expedient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor_medical_expedient.errors.count, "error") %> prohibited this doctor_medical_expedient from being saved:</h2>

      <ul>
      <% @doctor_medical_expedient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
