<% if !permission_view_medical_consultations_current_user? and permission_edit_medical_consultations_current_user? or permission_edit_medical_consultations_current_user? %>
    <div class="row">
      <div class="col-md-11">
        <a style="margin-top: 10px;" class="pull-right btn bgm-green waves-effect" id="btn-new-consultation">Nueva consulta</a>
      </div>
    </div>
<% end %>

<div id="new_consultation_form_holder" style="display: none; border-top: 1px #E6E6E6 solid;">
  <div class="modal-body" id="form-new-medical-consultation"></div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6" style="text-align: left; padding-left: 30px;" id="list_error_medical_consultation"></div>
      <div class="col-md-6" style="text-align: right;">
        <div id="loading_btn_save">
          <span class="">Guardando...</span>
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
        </div>
        <button type="button" class="btn btn-primary" id="btn-save-consultation">Guardar</button>
        <button onclick="closeNewConsultationForm();" class="btn btn-link"><strong>CERRAR</strong></button>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="listview lv-bordered lv-lg">
  <div class="lv-header-alt clearfix">
    <h2 class="lvh-label hidden-xs">Historial de consultas</h2>

    <div class="lvh-search">
      <input type="text" placeholder="Buscar consultas" class="lvhs-input" id="search_medical_consultation">
      <i class="lvh-search-close search-consultation">&times;</i>
    </div>

    <ul class="lv-actions actions">
      <li>
        <a href="" class="lvh-search-trigger medical-consultation">
          <i class="zmdi zmdi-search"></i>
        </a>
      </li>
      <li class="dropdown">
        <a href="" data-toggle="dropdown" aria-expanded="true">
          <i class="zmdi zmdi-sort"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="" class="first-medical-consultation">Primera consulta</a>
          </li>
        </ul>
      </li>
      <a href="" class="refresh-info-consultation">
        <i class="zmdi zmdi-refresh-sync"></i>
      </a>
    </ul>
  </div>

  <div class="lv-body" id="container_medical_consultation">


  </div>
</div>

<ul id="pagination-medical-consultation" class="pagination lv-pagination">
  <li class="previous_pagination">
    <a href="" aria-label="Previous" >
      <i class="zmdi zmdi-chevron-left"></i>
    </a>
  </li>
  <li class="active"><a href="">1</a></li>
  <li class="next_pagination">
    <a href="" aria-label="Next">
      <i class="zmdi zmdi-chevron-right"></i>
    </a>
  </li>
</ul>
<%= hidden_field_tag 'url_update_consult_cost', url_for(:controller => 'doctor/medical_consultations', :action => 'update_cost', :only_path => false) %>
<div class="modal fade" id="change_consultation_cost_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="generate_charge_title">Actualizar costo</h4>
      </div>
      <div class="modal-body">
      <input type="number" id="new_consultation_cost" class="form-control input-lg">
        <input type="hidden" id="consultation_id_for_update">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="update_cost_button" onclick="update_consultation_cost()">Actualizar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<% 
   exchanges = CurrencyExchange.all
%>
<% if current_user.is_doctor %>
<div class="modal fade" id="generate_charge_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="generate_charge_title">Generar cobro</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <input type="hidden" id="add_charge_url" value="<%= create_charge_doctor_daily_cashes_path %>">
          <div class="row">
            <div class="col-xs-6">
              <strong>Método de Pago:</strong> <br>
              <select class="selectpicker form-control" id="charge_payment_method" onchange="setupByPaymentMethod()">
                <option value="">Seleccione un método de pago</option>
                <% PaymentMethod.all.each do |pm| %>
                    <option id="payment_method_<%= pm.id %>" affect_local="<%= pm.affect_local ? 1 : 0  %>" value="<%= pm.id %>"><%= pm.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-xs-6">
              <strong id="">Cuenta:</strong> <br>
              <select class="selectpicker form-control" id="charge_account">
                <option value="">Seleccionar cuenta...</option>
                <%
                  @all_accounts.each do |a|
                %>
                    <option id="account_<%= a.id %>" class="t_account account_office_<%= a.office_id %> <%= a.bank.is_local ? 'local_account' : 'bank_account' %>"
                            currency="<%= a.bank.is_local ? '' : a.currency_id %>" value="<%= a.id %>" iso_code = "<%= a.currency.iso_code %>">
                      <%= a.account_number %> - <%= a.bank.name %> <%= a.bank.is_local ? '' : '('+a.currency.iso_code+')' %>
                    </option>
                <% end %>
              </select>
            </div>
            <div class="col-xs-6">
              <strong>Moneda:</strong> <br>
              <select class="selectpicker form-control" id="doctor_currency">
                <% exchanges.each do |ex| %>
                    <option exchange="<%= ex.value %>" id="currency_doc_<%= ex.currency_id %>"  value="<%= ex.currency_id %>"><%= ex.currency.iso_code %></option>
                <% end %>
              </select>
            </div>
            <div class="col-xs-6">
              <strong>Monto:</strong>
              <input type="text" class="form-control input-lg" id="charge_amount" >
              <input type="hidden" class="form-control input-lg" id="consult_full_price" >
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <label for="activity_details">Detalles</label>
                <div class="fg-line">
                  <textarea rows="2" class="input-sm form-control input-lg" id="charge_details" placeholder="Ingrese los detalles del cobro"></textarea>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_transaction_btn" onclick="addCharge()">Cobrar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<% end %>

