<% if !permission_view_studies_current_user? and permission_edit_studies_current_user? or permission_edit_studies_current_user? %>
    <div class="row">
      <div class="col-md-5">
        <a data-toggle="modal" href="#modalReportAnalysis" class="pull-right  btn bgm-blue waves-effect" id="btn-new-report-analysis-order">Nuevo reporte</a>
      </div>
      <div class="col-md-5">
        <a data-toggle="modal" href="#modalAnalysis" class="pull-right btn bgm-green waves-effect" id="btn-new-analysis-order">Nueva orden</a>
      </div>
    </div>
<% end %>
<hr>

<div class="listview lv-bordered lv-lg">
  <div class="lv-header-alt clearfix">
    <h2 class="lvh-label hidden-xs">Historial de estudios cl&iacute;nicos</h2>

    <div class="lvh-search">
      <input type="text" placeholder="Buscar estudios" class="lvhs-input" id="search_analysis_order">
      <i class="lvh-search-close search-analysis-order">&times;</i>
    </div>

    <ul class="lv-actions actions">
      <li>
        <a href="" class="lvh-search-trigger analysis-order">
          <i class="zmdi zmdi-search"></i>
        </a>
      </li>
      <li class="dropdown">
        <a href="" data-toggle="dropdown" aria-expanded="true">
          <i class="zmdi zmdi-sort"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="" class="first-analysis-order">Primera orden de an&aacute;lisis</a>
            <a href="" class="clinical-study-filter">Estudios Cl&iacute;nicos</a>
            <a href="" class="clinical-cabinet-filter">Estudios de Gabinete</a>
          </li>
        </ul>
      </li>
      <a href="" class="refresh-info-analysis-order">
        <i class="zmdi zmdi-refresh-sync"></i>
      </a>
    </ul>
  </div>

  <div class="lv-body" id="container_analysis_order">


  </div>
</div>

<ul id="pagination-analysis-order" class="pagination lv-pagination">
  <li class="previous_pagination">
    <a href="" aria-label="Previous" >
      <i class="zmdi zmdi-chevron-left"></i>
    </a>
  </li>
  <li class="active"><a href="">1</a></li>
  <li class="next_pagination">
    <a href="" aria-label="Next">
      <i class="zmdi zmdi-chevron-right"></i>
    </a>
  </li>
</ul>



<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalAnalysis" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nueva Orden</h4>
      </div>
      <div class="modal-body" id="form-new-analysis-order">

      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-5" style="text-align: left;" id="list_error_analysis_order">

          </div>
          <div class="col-md-6" style="text-align: right;">
            <div id="loading_btn_save_analysis_order">
              <span class="">Guardando...</span>
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
            </div>
            <button type="button" class="btn btn-link" id="btn-save-analysis-order">Guardar</button>
            <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalReportAnalysis" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Reporte</h4>
      </div>
      <div class="modal-body" id="form-new-report-analysis-order">
        <form id="new_report_analysis_order_form" method="get">
          <div class="row">
            <div class="col-md-10">


              <div class="row">
                <div class="col-md-6">
                  <%
                    laboratories = Laboratory.joins(:doctors).where(:clinical_order_type_id => ClinicalOrderType::STUDY_GABINETE).where(:doctors => {:id => session[:doctor_id]})
                  %>
                  <strong >Seleccione el laboratorio:</strong> <br>
                  <select class="selectpicker form-control bs-select-hidden" id="clinical_study_cabinet_laboratory">
                    <option value="">Seleccione un laboratorio</option>
                    <%  laboratories.each do |s| %>
                        <option value="<%= s.id %>"><%=  s.name   %></option>
                    <% end %>
                  </select>
                </div>
                <div class="col-md-6">
                  <strong >Seleccione el estudio clínico:</strong> <br>
                  <select class="selectpicker form-control bs-select-hidden" id="clinical_study_cabinet">
                  </select>
                </div>
                <div class="col-md-6">
                  <strong class="">Seleccione el consultorio: </strong>
                  <select id="new_report_office" class="form-control selectpicker">
                    <% @current_user.offices.each do |order| %>
                        <option value="<%= order.id %>"><%= order.name %></option>
                    <% end %>
                  </select>
                </div>
                <div class="col-md-6">
                  <strong>Costo:</strong>
                  <input type="number" class="form-control input-lg" id="cabinet_report_price">
                </div>
              </div>




              <input type="hidden" value="<%= get_by_laboratory_doctor_clinical_studies_path %>" id="studies_by_laboratory_url">
              <input type="hidden" value="<%= get_template_doctor_clinical_studies_path %>" id="study_template_url">





            </div>
            <div class="col-md-2">

              <a id="add_image_report" class="btn btn-success btn-icon waves-effect waves-circle waves-float" title="Agregar imagen"><i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i></a>

            </div>
          </div>
          <form id="images_report_analysis" enctype="multipart/form-data" method="get">
          <div id="report_images" class="row">

          </div>
          </form>
          <div class="col-md-12">
            <br>
            <strong>Reporte de resultados:</strong>
            <div  id="report_sumary"></div>
            <br>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-5" style="text-align: left;" id="list_error_report_analysis_order">

          </div>
          <div class="col-md-6" style="text-align: right;">
            <div id="loading_btn_save_report_analysis_order">
              <span class="">Guardando...</span>
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
            </div>
            <button type="button" class="btn btn-primary" id="btn-save-report-analysis-order" onclick="saveClinicalAnalysisOrderReport()">Guardar</button>
            <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>