    <div class="card">
      <div class="card-body card-padding">
        <div class="row">

          <div class="col-xs-12">
            <div class="form-group fg-line">
              <label>Observaciones generales:</label>

              <% if !permission_view_observations_current_user? and permission_edit_observations_current_user? or permission_edit_observations_current_user? %>
              <div id="expedient_observations">

              </div>
              <input type="hidden" id="expedient_observations_val" value="<%= @medical_expedient.general_observations %>">
              <% else %>
                  <p>
                    <%= @medical_expedient.general_observations %>
                  </p>
              <% end %>
            </div>
          </div>
          <!--<div class="html-editor"></div>-->

        </div>
      </div>
    </div>

    <% if !permission_view_observations_current_user? and permission_edit_observations_current_user? or permission_edit_observations_current_user? %>
        <div class="col-md-12">
          <div class="form-group pull-right">
            <button type="button" class="btn btn-primary" id="update_general_observations_btn" onclick="updateGeneralObservations()">Guardar</button>
          </div>
        </div>
    <% end %>





