<p id="notice"><%= notice %></p>
<div class="style_custom card">
  <div class="card-body card-padding">
    <div class="row">

      <div class="col-xs-12">
        <div class="card-header">
          <h2 class="page_title">Expedientes clínicos</h2>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="col-md-12 p-0">
          <div class="datatable_custom bootgrid-header">
            <table id="data-table-medical-expedients" class="table table-striped table-condensed table-custom" data-source="<%= doctor_index_expedient_url(format: "json")%>">
              <thead>
              <tr>
                <th data-column-id="folio" data-type="numeric">Folio</th>
                <th data-column-id="name">Paciente</th>
                <th data-column-id="gender">Género</th>
                <th data-column-id="age">Edad</th>
                <th data-column-id="doctor">Médico</th>
                <th data-column-id="last_attention">Última atención</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Operaciones</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div style="visibility: hidden">
  <%= render 'doctor/analysis_order/viewer_pdf'%>
</div>
