<!-- Actualizar historial medico -->
<%= hidden_field_tag 'url_update_medical_history', doctor_medical_history_url(@medical_history) %>
<input type="hidden" id="medical_history_id" value="<%= @medical_history.id %>">
<div role="tabpanel">
  <ul class="tab-nav fw-nav" role="tablist" id="list_menu_medical_history">
    <%
       active_first_panel_history = false
    %>
    <% if permission_edit_general_data_medical_background_current_user? %>
        <li class="<%= active_first_panel_history ? '' : 'active'%>"><a href="#Generales" class="main_menu_medical_history" aria-controls="f_gen" role="tab" data-toggle="tab" aria-expanded="true" data-section="0">Generales</a></li>
        <% active_first_panel_history = true %>
    <% end %>
    <% if permission_edit_vaccines_medical_background_current_user? %>
        <li class="<%= active_first_panel_history ? '' : 'active'%>"><a href="#vaccines" class="main_menu_medical_history" aria-controls="f_gen" role="tab" data-toggle="tab" aria-expanded="true" data-section="1">Vacunas</a></li>
        <% active_first_panel_history = true %>
    <% end %>
    <% if permission_edit_pediatrics_medical_background_current_user? %>
        <% if @has_ped %>
            <li class="<%= active_first_panel_history ? '' : 'active'%>"><a href="#f_ped" class="main_menu_medical_history" aria-controls="f_gen" role="tab" data-toggle="tab" aria-expanded="true" data-section="2">Pediatría</a></li>
            <% active_first_panel_history = true %>
            <input type="hidden" id="has_ped" value="<%= @has_ped %>"> <!-- Se agrega en esta parte para saber si tiene permisos el asistente y si tiene extension de pediatria el doctor -->
        <% end %>
    <% end %>

    <% if permission_edit_gynecology_medical_background_current_user? %>
        <% if @has_gin
            if !@medical_expedient.patient.nil? and @medical_expedient.patient.gender.id == Gender::WOMEN
        %>
            <li class="<%= active_first_panel_history ? '' : 'active'%>"><a href="#f_gin" class="main_menu_medical_history" aria-controls="f_gin" role="tab" data-toggle="tab" aria-expanded="true" data-section="3">Ginecología</a></li>
            <% active_first_panel_history = true %>
                <input type="hidden" id="has_gin" value="<%= @has_gin %>"> <!-- Se agrega en esta parte para saber si tiene permisos el asistente y si tiene extension de ginecologia el doctor -->
        <% end
           end %>
    <% end %>

    <li class="<%= active_first_panel_history ? '' : 'active'%>"><a href="#systems" class="main_menu_medical_history" aria-controls="systems" role="tab" data-toggle="tab" aria-expanded="true" data-section="4">Aparatos y Sistemas</a></li>

    <% if @has_uro %>
    <li class=""><a href="#urology"
                    class="main_menu_medical_history"
                    aria-controls="urology"
                    role="tab" data-toggle="tab"
                    aria-expanded="true"
                    data-section="4">Urología</a></li>
  <% end %>

  </ul>

  <div id="tab_content_generales" class="tab-content" style="padding: 10px;">
    <%
       active_first_panel_history = false
    %>
    <% if permission_edit_general_data_medical_background_current_user? %>
        <div role="tabpanel" class="tab-pane <%= active_first_panel_history ? '' : 'active'%>" id="Generales">
          <% active_first_panel_history = true %>
          <%= render 'doctor/medical_expedients/medical_history/main_form' %>
        </div>
    <% end %>

    <% if permission_edit_vaccines_medical_background_current_user? %>
    <div role="tabpanel" class="tab-pane <%= active_first_panel_history ? '' : 'active'%>" id="vaccines">
      <div id="vaccine_section"></div>
    </div>
        <% active_first_panel_history = true %>
    <% end %>
    <% if permission_edit_pediatrics_medical_background_current_user? %>
        <% if @has_ped %>
            <div role="tabpanel" class="tab-pane <%= active_first_panel_history ? '' : 'active'%>" id="f_ped">
              <div id="features_ped"></div>
            </div>
            <% active_first_panel_history = true %>
        <% end %>
    <% end %>

    <% if permission_edit_gynecology_medical_background_current_user? %>
        <% if @has_gin
             if !@medical_expedient.patient.nil? and @medical_expedient.patient.gender.id == Gender::WOMEN
        %>
        <div role="tabpanel" class="tab-pane <%= active_first_panel_history ? '' : 'active'%>" id="f_gin">

          <input type="hidden" id="medical_history_id_ifb" value="<%= @medical_history.id %>">
          <%= render 'doctor/medical_expedients/medical_history/ginecological_bk_form' %>

        </div>
          <% active_first_panel_history = true %>
            <% end %>
          <% end
       end %>


    <div role="tabpanel" class="tab-pane" id="systems">
      <%
        sections = [
            {
                :name => 'Aparatos',
                :items => [
                    {
                        :key => "genital",
                        :name => "Aparato genital",
                        :form => "ap_genital"
                     },{
                        :key => "urinary",
                        :name => "Aparato urinario",
                        :form => "ap_urinary"
                    },{
                        :key => "digestive",
                        :name => "Aparato digestivo",
                        :form => "ap_digestive"
                    },{
                        :key => "respiratory",
                        :name => "Aparato respiratorio",
                        :form => "ap_respiratory"
                    },{
                        :key => "cardio",
                        :name => "Aparato cardiovascular",
                        :form => "ap_cardiovascular"
                    }
                ]
            },
            {
                :name => 'Sistemas',
                :items => [
                    {
                        :key => "ophthalmological",
                        :name => "Sistema oftalmológico",
                        :form => "si_ophthalmological"
                    },
                    {
                        :key => "hematological",
                        :name => "Sistema hematológico",
                        :form => "si_hematological"
                    },
                    {
                        :key => "metabolic",
                        :name => "Sistema metabolico",
                        :form => "si_metabolic"
                    },
                    {
                        :key => "otolaryngology",
                        :name => "Sistema otorrinolaringológico",
                        :form => "si_otolaryngology"
                    },
                    {
                        :key => "nervous",
                        :name => "Sistema nervioso",
                        :form => "si_nervous"
                    },{
                        :key => "psychosomatic",
                        :name => "Sistema psicosomático",
                        :form => "si_psychosomatic"
                    },{
                        :key => "locomotor",
                        :name => "Sistema locomotor",
                        :form => "si_locomotor"
                    }
                ]
            },
            {
                :name => 'Otros',
                :items => [
                    {
                        :key => "infection",
                        :name => "Infecciones",
                        :form => "ot_infection"
                    },{
                        :key => "sense_organ",
                        :name => "Órganos de los sentidos",
                        :form => "ot_sense_organ"
                    }
                ]
            }
        ]




      %>

<div id="system_buttons_holder">
  <% sections.each do |s| %>
      <div class="row" id="">
        <div class="col-sm-12">
          <strong style="font-size: 16px"><%= s[:name] %></strong>
        </div>
        <% s[:items].each do |i| %>
            <div class="col-sm-4 col-xs-6 form_button" form_holder="<%= i[:key] %>_form_holder">
              <div class="color-block bgm-cyan">
                <span style="font-size: 16px"><%= i[:name] %></span>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>



    <% sections.each do |s| %>
        <div class="row">
          <% s[:items].each do |i| %>
              <div class="col-md-12 system_form_holder" id="<%= i[:key] %>_form_holder" style="display: none;">
                <a class="close_form_holder">&times;</a>
                <%= render 'doctor/medical_expedients/systems/'+i[:form] %>
                <div>
                  <button class="btn btn-primary save_data_system" form="<%= i[:key] %>">Guardar</button>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>

</div>

    <% if @has_uro %>
        <div role="tabpanel" class="tab-pane" id="urology">
          <%= render 'doctor/medical_expedients/medical_history/urological_bk_form' %>
        </div>
    <% end %>
  </div>




</div>


<div class="modal fade" id="deleteVaccineModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_vaccine_title">Eliminar Vacuna</h4>
      </div>
      <div class="modal-body">
        ¿Confirma que desea eliminar la Vacuna?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_specialty_btn" onClick="deleteVaccine()">Eliminar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addnewdiseaseconfirmation" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_new_disease_ok">Enfermedad no encontrada</h4>
      </div>
      <div class="modal-body">
        ¿Desea agregar la enfermedad?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_specialty_btn" onClick="addnewdiseasefromece()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addnewmedicamentconfirmation" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_new_med_ok">Medicamento no encontrado</h4>
      </div>
      <div class="modal-body">
        ¿Desea agregar el medicamento?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_med_btn" onClick="addnewmedicamentfromece('medical_history')">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>