<input type="hidden" id="load_full_consultation_url" value="<%= load_consultation_doctor_medical_consultations_path %>">

<% if @medical_consultations[:rows].count > 0 %>
    <% @medical_consultations[:rows].each do |row| %>

        <div class="lv-item media" style="/*cursor:pointer*/" >
          <div class="media-body">

            <div class="row">
              <div class="col-md-1 col-xs-4">
                <strong>Consulta: <%= row["number"] %></strong>
              </div>
              <div class="col-md-3 col-xs-6">
                <strong> Diagn&oacute;stico:</strong> <br>  <%= row["diagnostic"] %>
                <br><br>
                <div class="checkbox">
                  <label>
                    <input class="is_print_diagnostic" type="checkbox" value="<%= row["id"] %>" id="print_diagnostic_<%= row["id"] %>" <%= (row["print_diagnostic"])? "checked" : ""%>>
                    <i class="input-helper"></i> Imprimir diagnóstico
                    <i class="fa fa-question-circle fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="right"  title="Marcar la casilla de verificación si desea agregar el diagnóstico a la impresión"></i>
                  </label>
                </div>
              </div>
              <div class="col-md-4 col-xs-6">
                <ul class="lv-attrs">
                  <li><%= "Realizada por:" %></li>
                  <li><strong><%= row["author"] %></strong></li>
                  <li><%= row["date_consultation"] %></li>
                  <% if row["is_charged"] %>
                      <li><%= row["price"] %></li>
                  <% else
                     if assistant?
                  %>
                      <li><%= row["price"] %></li>

                    <% else %>
                     <li title="Cambiar precio de consulta" style="cursor: pointer;" onclick="open_modal_new_cost(<%=row["id"] %>,'<%= row['price'].to_s.sub('$', '') %>')"><%= row["price"] %></li>
                  <% end
                     end %>
                  <li><%= row["office"]%></li>
                </ul>
              </div>
              <div class="col-md-4 col-xs-6">
                <button onclick="openSendPrescriptionModal(<%= row["id"] %>,'<%= row["email"] %>')" type="button" class="btn bgm-gray btn-icon waves-effect waves-circle waves-float" title="Enviar Receta">
                  <i class="zmdi zmdi-email zmdi-hc-fw"></i>
                </button>
                <% unless assistant? %>
                    <% if !row["is_charged"] && @daily_cash != nil %>
                        <% if false %>
                        <button type="button" class="btn btn-success btn-icon waves-effect waves-circle waves-float" onclick="openChargeModal(<%= row['id'] %>,<%= row['balance'].to_s.sub('$', '') %>)" title="Cobrar"><i class="zmdi zmdi-money"></i></button>
                        <% end %>
                    <% elsif !row["is_charged"] && @daily_cash == nil %>
                        <button type="button" class="btn btn-success btn-icon waves-effect waves-circle waves-float" onclick="openMissingDailyCashModal()"><i class="zmdi zmdi-money"></i></button>
                    <% end %>
                <% end %>
                <button type="button" class="btn btn-primary btn-icon waves-effect waves-circle waves-float print_btn" data-url="<%=  generate_prescription_doctor_medical_consultations_url(row["id"], format: :pdf) %>" data-id="<%= row["id"]%>" title="Imprimir receta"><i class="zmdi zmdi-print"></i></button>
                <button onclick="loadFullConsultation(<%= row["id"] %>)" type="button" class="btn btn-info btn-icon waves-effect waves-circle waves-float" title="Mostrar"><i class="zmdi zmdi-eye"></i></button>

                <% if !permission_view_medical_consultations_current_user? and permission_edit_medical_consultations_current_user? or permission_edit_medical_consultations_current_user? %>
                    <% if @current_user.id == row["user"] %>
                    <button onclick="editFullConsultation(<%= row["id"] %>)" type="button" class="btn btn-warning btn-icon waves-effect waves-circle waves-float" title="Editar"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button>
                    <% end %>
                <% end %>


                <% if row["is_charged"] && row["charged_amount"] == 0 %>
                    <br><br> <label style="pointer-events: none;cursor: default" class="btn bgm-orange waves-effect inactiveLink_tag_consults">Cortesía</label>
                <% elsif  row["is_charged"] %>
                   <br><br> <label style="pointer-events: none;cursor: default" class="btn btn-success waves-effect inactiveLink_tag_consults">Cobrado: <%= number_to_currency(row["charged_amount"]) %></label>
                <% else %>
                    <br><br> <label style="pointer-events: none;cursor: default" class="btn btn-info waves-effect inactiveLink_tag_consults">Saldo:<%= row["balance"] %></label>
                <% end %>
              </div>

              <div class="col-xs-12" loaded="no" id="details_consult_<%= row["id"] %>">
              </div>
              <div class="col-xs-12" loaded="no" id="edit_full_consult_<%= row["id"] %>" style="display: none; border-top: 1px #E6E6E6 solid; margin-top: 10px;">

                <div class="modal-body" id="form-edit-medical-consultation_<%= row["id"] %>">

                </div>
                <div class="modal-footer">
                  <div class="row">
                    <div class="col-md-6" style="text-align: left;" id="list_error_medical_consultation_edit_<%= row["id"] %>">

                    </div>
                    <div class="col-md-6" style="text-align: right;">
                      <div id="loading_btn_edit_<%= row["id"] %>">
                        <span class="">Guardando...</span>
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
                      </div>
                      <button onclick="saveEditedConsultation(<%= row["id"] %>)" class="btn btn-primary" id="btn-edit-consultation_<%= row["id"] %>" >Guardar</button>
                      <button onclick="closeNewConsultationFormEdit(<%= row["id"] %>);" class="btn btn-link"><strong>CERRAR</strong></button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            </div>
          </div>
        <% end %>
    <% else %>
    <div class="alert alert-info" role="alert" style="text-align: center;">No existen consultas.</div>
<% end %>
<%
   @medical_consultations.delete(:rows)
    format = @medical_consultations.to_json
%>
<%= hidden_field_tag 'info_consultation', format %>
