<div class="pmb-block" style="font-size: 16px;">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Informaci&oacute;n de Paciente</h2>
    </div>

  <div class="row">

    <div class="col-md-2 col-xs-4">
      <strong>Nombre:</strong>

    </div>
    <div class="col-md-4 col-xs-8">
      <%= @doctor_patient.name %>
    </div>

    <div class="col-md-2 col-xs-4">
      <strong>Apellido:</strong>

    </div>
    <div class="col-md-4 col-xs-8">
      <%= @doctor_patient.last_name %>
    </div>

  </div>
  <hr>
  <div class="row">

    <div class="col-md-2 col-xs-4">
      <strong>Género:</strong>

    </div>
    <div class="col-md-4 col-xs-8">
      <%= @doctor_patient.gender.name %>
    </div>

    <div class="col-md-2 col-xs-4">
      <strong>Fecha de Nacimiento:</strong>

    </div>
    <div class="col-md-4 col-xs-8">
      <%= @doctor_patient.birth_day.strftime('%d/%m/%Y') %>
    </div>

  </div>
  <hr>
  <div class="row">

    <div class="col-md-2 col-xs-4">
      <strong>Peso:</strong>

    </div>
    <div class="col-md-4 col-xs-8">
      <%= @doctor_patient.weight %> Kg
    </div>

    <div class="col-md-2 col-xs-4">
      <strong>Altura:</strong>

    </div>
    <div class="col-md-4 col-xs-8">
      <%= @doctor_patient.height %> cm
    </div>

  </div>
  <hr>
  <div class="row">

    <div class="col-md-2 col-xs-4">
      <strong>Tipo de Sangre:</strong>

    </div>
    <div class="col-md-4 col-xs-8">
      <%= @doctor_patient.blood_type.name %>
    </div>

    <div class="col-md-2 col-xs-4">
      <strong>Teléfono:</strong>

    </div>
    <div class="col-md-4 col-xs-8">
      <%= @doctor_patient.phone %>
    </div>



  </div>
  <hr>
  <div class="row">

    <div class="col-md-2 col-xs-4">
      <strong>Celular:</strong>

    </div>
    <div class="col-md-4 col-xs-8">
      <%= @doctor_patient.cell %>
    </div>

    <div class="col-md-2 col-xs-4">
      <strong>Email:</strong>

    </div>
    <div class="col-md-4 col-xs-8" style="word-break: break-all;">
      <%= @doctor_patient.email %>
    </div>

  </div>
  <hr>

  <div class="row">

    <div class="col-md-2 col-xs-4">
      <strong>Lugar de Origen:</strong>

    </div>
    <div class="col-md-4 col-xs-8">
      <%= @doctor_patient.birthplace %>
    </div>

    <div class="col-md-2 col-xs-4">
      <strong>Ciudad:</strong>
    </div>
    <div class="col-md-4 col-xs-8">
      <%
        if @doctor_patient.city.nil?
          city = ""
        else
          city = @doctor_patient.city.format_city_state_and_country
        end
      %>
      <%= city %>
    </div>

  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <strong>Ocupaci&oacute;n</strong>
    </div>
    <div class="col-md-4">
      <%= @doctor_patient.occupation %>
    </div>
    <div class="col-md-2">
      <strong>Direcci&oacute;n:</strong>

    </div>
    <div class="col-md-4" style="word-break: break-all;">
      <%= @doctor_patient.address %>
    </div>
  </div>
  <hr>
  <% if !permission_view_patient_data_current_user? and permission_edit_patient_data_current_user? or permission_edit_patient_data_current_user? %>
  <div class="row" style="text-align: right;">
    <a class="btn btn-primary" href="<%= edit_doctor_patient_path @doctor_patient.id %>">Editar datos del paciente</a>
  </div>
  <% end %>
</div>