<section id = "container_medical_expdients">
  <div class="card" id="profile-main">
    <div class="pm-overview c-overflow">
      <div class="pmo-pic">
        <div class="p-relative">
          <%= image_tag("#{(@medical_expedient.patient.picture.nil?)? "profile_doctor.jpg": download_image_doctor_patients_path(@medical_expedient.patient)}", alt: "Connections", class: "img-circle")%>



          <a data-toggle="modal" href="#chose_update_photo_option" class="pmop-edit">
            <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Actualizar foto de perfil</span>
          </a>
        </div>


        <div class="pmo-stat">
          <% if @medical_expedient.medical_consultations.count > 0 %>
          <h4 class="m-0 c-white" id="last_consultation_date_info"><%= @medical_expedient.medical_consultations.last.date_consultation.strftime('%d/%m/%Y') %></h4>
          Última consulta
          <% else %>
              No se ha registrado ninguna consulta.
          <% end %>
        </div>
      </div>

      <div class="pmo-block pmo-contact hidden-xs" style="margin-top: -30px;">
        <div class="row">
          <div class="col-md-8" style="font-size: 16px; font-weight: bold;">
            Expediente Clínico<br>Folio: <%= @medical_expedient.folio %>
          </div>
          <div class="col-md-4">
            <% if doctor? %>
                <a class="tooltips btn btn-small btn-primary" href="#" data-toggle="tooltip"
                   data-placement="top" title="Ver expediente completo"
                   onclick="viewer_file_expedient(<%= @medical_expedient.id %>); return false;">
                  <i class="zmdi zmdi-folder-person zmdi-hc-fw zmdi-hc-2x"></i>
                </a>
            <% end %>
          </div>
        </div>

      </div>
      <% if @medical_expedient.patient.certificates.size > 0 %>
      <div class="pmo-block pmo-contact hidden-xs" style="margin-top: -30px;">
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-info" onclick="open_menu_certificate();">Certificados</button>
          </div>
        </div>
      </div>
      <% end %>
      <div class="pmo-block pmo-contact hidden-xs" style="margin-top: -30px; font-size: 16px;">
        <h2>Informaci&oacute;n general</h2>
        <ul>
          <%
            age = distance_of_time_in_words_hash(Time.now, @medical_expedient.patient.birth_day)
            age_string = ''
            if age[:years] != nil && age[:years] > 0
              age_string << age[:years].to_s + ' año'
              if age[:years] > 1
                age_string << 's'
              end
            end

            if age[:months] != nil && age[:months] > 0
              age_string << ' ' + age[:months].to_s + ' mes'
              if age[:months] > 1
                age_string << 'es'
              end
            end

            if age_string == ''
              if age_string == '' && age[:weeks] != nil && age[:weeks] > 0
                age_string << age[:weeks].to_s + ' semana(s) '
              end

              if age[:days] != nil && age[:days] > 0
                age_string << age[:days].to_s + ' día(s)'
              end

            end
          %>
          <li><i class="zmdi zmdi-pin-account"></i> <%= @medical_expedient.patient.full_name %> (<%= age_string %>)</li>
          <% if @medical_expedient.patient.phone != nil && @medical_expedient.patient.phone != '' %>
          <li><i class="zmdi zmdi-phone"></i> <%= @medical_expedient.patient.phone %></li>
          <% end %>
          <% if @medical_expedient.patient.cell != nil && @medical_expedient.patient.cell != '' %>
              <li><i class="zmdi zmdi-smartphone-iphone"></i> <%= @medical_expedient.patient.cell %></li>
          <% end %>
          <% if @medical_expedient.patient.email != nil && @medical_expedient.patient.email != '' %>
              <li><i class="zmdi zmdi-email"></i> <%= @medical_expedient.patient.email %></li>
          <% end %>

          <% if !@medical_expedient.patient.city.nil? %>
              <li><i class="zmdi zmdi-navigation"></i> <%= @medical_expedient.patient.city.format_city_state_and_country %></li>
          <% end %>

          <% if @medical_expedient.patient.address != nil && @medical_expedient.patient.address != '' %>
              <li>
                <i class="zmdi zmdi-pin"></i>
                <address class="m-b-0 ng-binding">
                  <%= @medical_expedient.patient.address %>
                </address>
              </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="pm-body clearfix">
      <div role="tabpanel">
        <ul class="tab-nav tn-justified tab-nav" role="tablist">
          <%
            active_first_panel = false
          %>
          <% if permission_view_patient_data_current_user? or permission_edit_patient_data_current_user? %>
              <li class="<%= active_first_panel ? '' : 'active'%> waves-effect"><a href="#data-patient" aria-controls="data-patient" role="tab" data-toggle="tab" data-section="0" class="tap_link main_menu">Paciente</a></li>
                <% active_first_panel = true %>
          <% end %>
          <% if permission_medical_background_current_user?  %>
              <li class="<%= active_first_panel ? '' : 'active'%> waves-effect"><a href="#medical-history" aria-controls="medical-history" role="tab" data-toggle="tab" data-section="1" class="tap_link main_menu">Antecedentes</a></li>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_view_reviews? %>
              <li class="<%= active_first_panel ? '' : 'active'%> waves-effect"><a href="#vital-sign" aria-controls="vital-sign" role="tab" data-toggle="tab" data-section="2" class="tap_link main_menu">Valoraciones</a></li>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_view_studies_current_user? or permission_edit_studies_current_user? %>
              <li class="<%= active_first_panel ? '' : 'active'%> waves-effect"><a href="#clinical-analysis" aria-controls="clinical-analysis" role="tab" data-toggle="tab" data-section="3" class="tap_link main_menu">Estudios</a></li>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_view_medical_consultations_current_user? or permission_edit_medical_consultations_current_user? %>
              <li class="<%= active_first_panel ? '' : 'active'%> waves-effect" id="medical_consultation_tab_header"><a href="#medical-consultation" aria-controls="medical-consultation" role="tab" data-toggle="tab" data-section="4" class="tap_link main_menu">Consultas</a></li>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_view_observations_current_user? or permission_edit_observations_current_user? %>
              <li class="<%= active_first_panel ? '' : 'active'%> waves-effect"><a href="#general-observations" aria-controls="general-observations" role="tab" data-toggle="tab" data-section="5" class="tap_link main_menu">Observaciones</a></li>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_view_pregnancy_current_user? or permission_edit_pregnancy_current_user? %>
              <% if @has_gin and @medical_expedient.patient.gender.id == Gender::WOMEN %>
                  <li class="<%= active_first_panel ? '' : 'active'%> waves-effect"><a href="#pregnancies" aria-controls="pregnancies" role="tab" data-toggle="tab" data-section="6" class="tap_link main_menu">Embarazos</a></li>
                  <% active_first_panel = true %>
              <% end %>
          <% end %>

        </ul>
        <div class="tab-content">
            <% active_first_panel = false %>
          <% if permission_view_patient_data_current_user? or permission_edit_patient_data_current_user? %>
              <div role="tabpanel" class="tab-pane <%= active_first_panel ? '' : 'active'%>" id="data-patient">

              </div>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_medical_background_current_user?  %>
              <div role="tabpanel" class="tab-pane <%= active_first_panel ? '' : 'active'%>" id="medical-history">
                <div class="pmb-block">
                  <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Informaci&oacute;n de Historial M&eacute;dico</h2>
                  </div>
                  <div class="pmbb-body p-l-30">

                  </div>
                </div>
              </div>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_view_reviews? %>
              <div role="tabpanel" class="tab-pane <%= active_first_panel ? '' : 'active'%>" id="vital-sign">
                <div class="pmb-block">
                  <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Informaci&oacute;n de Signos vitales</h2>
                  </div>
                  <div class="pmbb-body p-l-30">

                  </div>
                </div>
              </div>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_view_studies_current_user? or permission_edit_studies_current_user? %>
              <div role="tabpanel" class="tab-pane <%= active_first_panel ? '' : 'active'%>" id="clinical-analysis">
                <%= render 'index_clinical_analysis' %>
              </div>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_view_medical_consultations_current_user? or permission_edit_medical_consultations_current_user? %>
              <div role="tabpanel" class="tab-pane <%= active_first_panel ? '' : 'active'%>" id="medical-consultation">
                <%= render 'index_medical_consultation' %>
              </div>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_view_observations_current_user? or permission_edit_observations_current_user? %>
              <div role="tabpanel" class="tab-pane <%= active_first_panel ? '' : 'active'%>" id="general-observations">
                <div class="pmb-block">
                  <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Observaciones generales</h2>
                  </div>
                  <div class="pmbb-body p-l-30">

                  </div>
                </div>
              </div>
              <% active_first_panel = true %>
          <% end %>
          <% if permission_view_pregnancy_current_user? or permission_edit_pregnancy_current_user? %>
              <% if @has_gin %>
                  <div role="tabpanel" class="tab-pane <%= active_first_panel ? '' : 'active'%>" id="pregnancies">
                    <input type="hidden" value="<%= @medical_expedient.id %>" id="preg_medical_expedient_id">
                    <div id="pregnacies_holder">

                    </div>
                  </div>
                  <% active_first_panel = true %>
              <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>

<%= hidden_field_tag 'url_save_report_analysis_order', url_for(:controller => 'doctor/cabinet_reports', :action => 'save_cabinet_report', :only_path => false) %>
<%= hidden_field_tag 'url_data_patient', url_for(:controller => 'doctor/medical_expedients', :action => 'search_patient', :only_path => false) %>
<%= hidden_field_tag 'url_data_general_obs', url_for(:controller => 'doctor/medical_expedients', :action => 'general_observations', :only_path => false) %>
<%= hidden_field_tag 'url_update_general_obs', url_for(:controller => 'doctor/medical_expedients', :action => 'update_general_observations', :only_path => false) %>
<%= hidden_field_tag 'url_medical_consultation', url_for(:controller => 'doctor/medical_expedients', :action => 'medical_consultation', :only_path => false) %>
<%= hidden_field_tag 'url_form_medical_consultation', url_for(:controller => 'doctor/medical_expedients', :action => 'form_medical_consultation', :only_path => false) %>
<%= hidden_field_tag 'url_form_edit_medical_consultation', url_for(:controller => 'doctor/medical_expedients', :action => 'form_edit_medical_consultation', :only_path => false) %>
<%= hidden_field_tag 'url_form_create_consultation', url_for(:controller => 'doctor/medical_expedients', :action => 'create_medical_consultation', :only_path => false, :expedient_id => @medical_expedient.id) %>
<%= hidden_field_tag 'url_form_update_consultation', url_for(:controller => 'doctor/medical_expedients', :action => 'update_medical_consultation', :only_path => false, :expedient_id => @medical_expedient.id) %>
<%= hidden_field_tag 'url_has_template_consultation', url_for(:controller => 'doctor/medical_consultations', :action => 'has_medical_prescription_office', :only_path => false) %>
<%= hidden_field_tag 'url_select_prescription', url_for(:controller => 'doctor/offices', :action => 'index_template_prescription', :only_path => false) %>
<%= hidden_field_tag 'url_load_vaccinebooks', url_for(:controller => 'doctor/medical_histories', :action => 'load_vaccine_books', :only_path => false) %>
<%= hidden_field_tag 'url_add_vaccinebook_patient', url_for(:controller => 'doctor/medical_histories', :action => 'add_vaccinebook_patient', :only_path => false) %>
<%= hidden_field_tag 'url_delete_vaccinebook_patient', url_for(:controller => 'doctor/medical_histories', :action => 'delete_vaccinebook_patient', :only_path => false) %>
<%= hidden_field_tag 'url_table_imc', url_for(:controller => 'doctor/medical_consultations', :action => 'imc', :only_path => false, :id_patient => @medical_expedient.patient.id) %>
    <!-- analysis order -->
<%= hidden_field_tag 'url_analysis_order', index_doctor_analysis_order_index_url(:expedient_id => @medical_expedient.id) %>
<%= hidden_field_tag 'url_form_analysis_order', new_doctor_analysis_order_url %>
<%= hidden_field_tag 'url_form_create_analysis_order', create_doctor_analysis_order_index_url(:expedient_id => @medical_expedient.id) %>
<%= hidden_field_tag 'url_find_clinical_studies', clinical_studies_doctor_analysis_order_index_url %>
<%= hidden_field_tag 'expedient_id', @medical_expedient.id %>
<%= hidden_field_tag 'show_indications', show_indications_doctor_analysis_order_index_url %>

    <!--   grafica de percentiles             -->
<%= hidden_field_tag 'url_percentile_weight', doctor_percentile_weight_url %>
<%= hidden_field_tag 'url_percentile_head', doctor_percentile_head_url %>
<%= hidden_field_tag 'url_percentile_length', doctor_percentile_length_url %>
<%= hidden_field_tag 'url_percentile_imc', doctor_percentile_imc_url %>

<%= hidden_field_tag 'url_print_ped_graph', doctor_view_expedient_graph_tall_url %>

    <!--   actualizar la bandera para imprimir el diagnostico      -->

<%= hidden_field_tag 'url_update_print', update_print_doctor_medical_consultations_url %>

    <!-- agregar archivos al analisis clinico -->

<%= hidden_field_tag 'url_add_file_analysis', attachment_file_doctor_analysis_order_index_url %>
<%= hidden_field_tag 'url_delete_file_analysis', delete_file_doctor_analysis_order_index_url %>

    <!-- ver documentos PDFs -->

<%= hidden_field_tag 'url_show_doc', viewer_pdf_doctor_analysis_order_index_url(:format => :pdf) %>
<%= hidden_field_tag 'url_show_img', viewer_img_doctor_analysis_order_index_url %>

    <!-- Ver documento expediente-->

<%= hidden_field_tag 'url_show_expedient', doctor_view_expedient_url(@medical_expedient, :format => :pdf) %>

    <!-- Eliminar información de los padres -->

<%= hidden_field_tag 'url_destroy_parent', delete_doctor_parent_infos_url %>
<%= hidden_field_tag 'url_update_parent', update_doctor_parent_infos_url %>
<%= hidden_field_tag 'url_create_parent', doctor_parent_infos_url %>


  <%= hidden_field_tag 'url_data_medical_history', url_for(:controller => 'doctor/medical_expedients', :action => 'medical_history', :only_path => false) %>
  <%= hidden_field_tag 'url_data_medical_vital_sign', url_for(:controller => 'doctor/medical_expedients', :action => 'vital_sign_section', :only_path => false) %>
  <%= hidden_field_tag 'url_search_disease', url_for(:controller => 'doctor/medical_histories', :action => 'find_disease', :only_path => false) %>
  <%= hidden_field_tag 'url_exist_disease', exist_disease_doctor_medical_histories_url %>

  <%= hidden_field_tag 'url_operation_disease', url_for(:controller => 'doctor/medical_histories', :action => 'add_disease', :only_path => false) %> <!-- agregar -->
  <%= hidden_field_tag 'url_search_medicament', url_for(:controller => 'doctor/medical_histories', :action => 'find_medicament', :only_path => false) %>
  <%= hidden_field_tag 'url_operation_medicament', url_for(:controller => 'doctor/medical_histories', :action => 'add_medicament', :only_path => false) %> <!-- agregar -->
  <%= hidden_field_tag 'url_exist_medicament', exist_medicament_doctor_medical_histories_url %>

  <%= hidden_field_tag 'url_new_disease', url_for(:controller => 'admin/diseases', :action => 'disease_json', :only_path => false) %>
  <!-- hidden_field_tag 'url_new_medicament', url_for(:controller => 'admin/medicaments', :action => 'medicament_json', :only_path => false) %> -->
  <%= hidden_field_tag 'url_get_vital_sign', url_for(:controller => 'doctor/medical_expedients', :action => 'get_vital_sign', :only_path => false) %>
  <%= hidden_field_tag 'send_medical_prescription_pdf', url_for(:controller => 'doctor/medical_consultations', :action => 'send_prescription', :only_path => false) %>

<%= hidden_field_tag 'name_patient_to_file', @medical_expedient.patient.full_name %>
  <%= hidden_field_tag 'patient_id', @medical_expedient.patient.id %>

<%= hidden_field_tag 'url_load_ultrasounds', url_for(:controller => 'doctor/pregnancies', :action => 'load_ultrasounds', :only_path => false) %>
<%= hidden_field_tag 'url_ultrasounds', doctor_ultrasounds_path %>
<!--<div class="modal fade" id="addVaccineModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccine_title">Agregar Vacuna</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            Vacuna: <br>
            <div class="btn-group bootstrap-select">
              <select class="selectpicker" id="new_vaccine_select">
                <%  Vaccine.all.each do |s| %>
                    <option value="<%= s.id %>"><%= s.name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group fg-line">
              <strong>Fecha de aplicación</strong>
              <div class="dtp-container fg-line">
                <input type="text" id="new_vaccinate_date" class="form-control date-picker"  value="date_format">
                <input type="hidden" name="id" id="add_vaccine_id">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_vaccine_btn" onClick="saveVaccine('add')">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>-->
<%= hidden_field_tag 'url_add_vaccine_date', url_for(:controller => 'admin/vaccinations', :action => 'add_vaccinate_date', :only_path => false) %>
<div class="modal fade" id="addVaccinateDateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccinate_date_modal_title">Agregar fecha de vacunación</h4>
      </div>
      <div class="modal-body">
        <div class="form-group fg-line">
          <strong>Fecha de Vacunación</strong>
          <div class="dtp-container fg-line">
            <input type="text" class="form-control date-picker input-lg" id="vaccinate_date_picked" placeholder="Ingresar fecha">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_vaccinate_date" onClick="setVaccinateDate()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addbookpatient" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccine_title">Agregar Cartilla</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            Cartilla de vacunaci&oacute;n: <br>
            <div class="btn-group bootstrap-select">
              <select class="selectpicker" id="vaccine_book_select">
                <%  VaccineBook.all.each do |s| %>
                    <option value="<%= s.id %>"><%= s.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_vaccine_book_to_expedient_btn">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addnewdiseasefromece" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccine_title">Agregar Enfermedad</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            Categoría: <br>
            <div class="btn-group bootstrap-select">
              <select class="selectpicker" id="new_disease_category_select">
                <%  DiseaseCategory.all.each do |s| %>
                    <option value="<%= s.id %>"><%= s.code + " | " + s.name   %></option>
                <% end %>
              </select>
            </div>

          </div>
          </div>
        <br>
          <div class="row">
          <div class="col-xs-12">
            <div class="form-group fg-float">
              <div class="fg-line">
                <input class="form-control input-lg fg-input required" id="new_disease_code" type="text">
                <span class="fg-label">C&oacute;digo</span>
                <input type="hidden" name="id" id="add_disease_id_ece">
              </div>
            </div>
          </div>
          </div>
          <div class="row">
          <div class="col-xs-12">
            <div class="form-group fg-float">
              <div class="fg-line">
                <input class="form-control input-lg fg-input required" id="new_disease_name" type="text">
                <span class="fg-label">Nombre</span>
                <input type="hidden" name="id" id="add_disease_name__ece">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_new_disease_ece_btn">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update_patient_foto_request" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_new_med_ok">Actualizar foto de perfil</h4>
      </div>
      <div class="modal-body">
        <%= form_for [:doctor, @medical_expedient.patient] do |f| %>
            <%= f.hidden_field :name %>
            <div class="row">
              <div class="col-md-6">
                <input type="file" id="upload" value="Choose a file" >
                <div id="upload-demo"></div>
                <input type="hidden" id="crop_image_64" name="crop_image_64">
              </div>
              <br>
              <div class="col-md-6">
                <input type="hidden" id="picture_captured" name="picture_captured">
                <div id="results"></div>
              </div>
            </div>
            <br>
            <div class="row">
            <div class="col-xs-6">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
            <div class="col-xs-6">
              <button type="submit" class="btn btn-primary" onclick="update_patient_picture()">Guardar</button>
            </div>
            </div>
            <input type="hidden" name="update_from_expediente" id="update_from_expediente" value="1">
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="chose_update_photo_option" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_new_med_ok">Seleccione el metodo para actualizar la foto</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" id="button_crop_size" onClick="open_crop_update()">Subir imagen</button>
        <button type="button" class="btn btn-primary" id="take_picture_id" onClick="open_camera()">Tomar foto</button>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addnewmedicamentfromece" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccine_title">Agregar Medicamento</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group fg-float">
              <div class="fg-line">
                <input class="form-control input-lg required fg-input" id="new_medicament_comercial_name" type="text">
                <span class="fg-label">Nombre comercial</span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group fg-float">
              <div class="fg-line">
                <input class="form-control input-lg required" id="new_medicament_presentation" type="text">
                <label class="fg-label"><strong>Presentación</strong></label>
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group fg-float">
              <div class="fg-line">
                <input type="hidden" id="force_add_medicament" value="no">
                <input type="hidden" id="origin_add_medicament">
                <input class="form-control input-lg required" id="new_medicament_active_substance" type="text">
                <label class="fg-label"><strong>Substancia activa</strong></label>
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group fg-float">
              <div class="fg-line">
                <input class="form-control input-lg required" id="new_medicament_contraindication" type="text">
                <label class="fg-label"><strong>Contraindicaciones</strong></label>
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group fg-float">
              <div class="fg-line">
                <input class="form-control input-lg required" id="new_medicament_brand" type="text">
                <label class="fg-label"><strong>Marca</strong></label>
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
          <div class="col-md-12" id="new_medicament_dose_div">
            <div class="form-group fg-float">
              <div class="fg-line">
                <textarea class="form-control input-lg required" id="new_medicament_dose" type="text" rows="5" placeholder=""></textarea>
                <label class="fg-label"><strong>Dosis para el paciente actual</strong></label>
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onClick="saveMedicamentFromEce()">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="take_picture" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_foto_cam">Tomar fotografia</h4>
      </div>
      <div class="modal-body">
        <%= form_for [:doctor, @medical_expedient.patient] do |f| %>
            <%= f.hidden_field :name %>
        <!--  <div id="upload_picture">
            <div id="my_camera"></div>
          </div>-->
        <div class="col-xs-6"><video id="video"></video></div>

        <div class="col-xs-6"><canvas id="canvas"></canvas></div>
            <input type="hidden" name="update_from_expediente" id="update_from_expediente" value="1">
            <input type="hidden" id="picture64" name="picture64">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_picture_cam" onClick="take_snapshot()">Tomar Foto</button>
        <button type="button" class="btn btn-link" onclick="close_camera()">Cerrar</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="send_prescription_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccine_title">Enviar Receta</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <strong>Correo:</strong><br>
            <input type="text" id="send_prescription_email" class="form-control input-lg">
            <input type="hidden" id="send_prescription_id">

            <div id="send_prescription_loading_message" style="display: none;">
              <div class="col-md-offset-3 col-md-9">
                <div class="preloader pl-xxl">
                <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="10"></circle>
                </svg>
                </div>
                </div>
              Enviando receta. Por favor espere un momento ...
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_book_to_patient_btn" onClick="sendPrescriptionPdf()">Enviar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="menu_certificate" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_vaccine_title">Certificados de paciente </h4>
        <label><%= @medical_expedient.patient.full_name %></label>
      </div>
      <div class="modal-body">
        <table id="data-table-certificate" class="table table-striped" data-source="<%= certificate_patient_doctor_certificate_index_url(patient_id: @medical_expedient.patient.id, format: "json")%>">
          <thead>
          <tr>
            <th data-column-id="id">ID</th>
            <th data-column-id="name">NOMBRE</th>
            <th data-column-id="type_certificate_id">TIPO DE CERTIFICADO</th>
            <th data-column-id="office_id">CONSULTORIO</th>
            <th data-column-id="commands" data-formatter="commands"  data-sortable="false">OPERACIONES</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Visualizador de documentod pdfs -->

<%= render 'doctor/analysis_order/container_viewer_pdf' %>

<div class="modal fade" id="load_ultrasound_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Registros de ultrasonido</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <strong>Fecha de ultrasonido</strong>
            <div class="fg-line">
              <input type="text" class="form-control input-lg date-picker" placeholder="dd/mm/yyyy" id="date_ultrasound">
            </div>
          </div>
          <div class="col-md-4">
            <strong>Semanas de embarazo</strong>
            <div class="fg-line">
              <input type="number" class="form-control input-lg" placeholder="Ingrese un número" id="pregnancy_weeks_ultrasound">
            </div>
          </div>
          <div class="col-md-4">
            <a class="btn btn-success" id="save_ultrasound">Agregar</a>
            <input type="hidden" id="pregnancy_id_ultrasound">
          </div>

          <div class="col-md-12 alert alert-info" style="font-size: 14px;">
            <strong>FUM : </strong><span id="fum_label"></span> -
            <strong>FPP : </strong><span id="fpp_label"></span><br>
          </div>

          <div class="col-md-12">
            <table class="table table-striped" id="ultrasounds_records">
              <thead>
              <tr>
                <th>F. ULTRASONIDO</th>
                <th>SEM</th>
                <th>FPP</th>
                <th></th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
