<div class="col-xs-6">
  <div class="card-header">
    <h2>Historial de signos vitales</h2>
  </div>
</div>

<input type="hidden" id="medical_expedient_id_vital_sign_data" value="<%= @medical_expedient.id %>">
<input type="hidden" id="load_chart_data_url" value="<%= doctor_get_data_chart_vital_sign_path %>">

<div class="row" style="padding: 20px;">
  <div class="col-md-10">
    <div id="vital_sign_chart">
      <div style="text-align: center;">Seleccione el tipo de gráfica ...</div>
    </div>
  </div>
  <div class="col-md-2">
    <ul id="vital_sign_chart_type">
      <li onclick="loadVitalSignsData('weight')">Peso</li>
      <li onclick="loadVitalSignsData('height')">Altura</li>
      <li onclick="loadVitalSignsData('temperature')">Temperatura</li>
      <li onclick="loadVitalSignsData('blood_pressure')">Tensi&oacute;n Arterial</li>
    </ul>
    <br>
    <a onclick="print_valoration_graph()" class='btn btn-info btn-icon waves-effect waves-circle waves-float btn-show' ><i class='zmdi zmdi-print zmdi-hc-fw' title='Imprimir'></i></a>
  </div>
</div>

<table id="data-table-vital_signs" class="table table-striped" data-source="<%= doctor_vital_sign_table_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id="date" data-width="130px">FECHA</th>
    <th data-column-id="height">ALTURA</th>
    <th data-column-id="weight">PESO</th>
    <th data-column-id="temperature">TEMPERATURA</th>
    <% if @has_gin %>
        <th data-column-id="eco">ECO/RCGT:</th>
        <th data-column-id="fu">FU</th>
        <th data-column-id="pres">PRES</th>
        <th data-column-id="ff">FF</th>
        <th data-column-id="vdrl">VDRL</th>
        <th data-column-id="ego">EGO</th>
    <% end %>
    <th data-column-id="show" data-sortable="false">Mostrar</th>

  </tr>
  </thead>

  <tbody>
  </tbody>
</table>


<div class="modal fade" id="show_vital_sign" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_new_med_ok">Información de signos vitales</h4>
      </div>
      <div class="modal-body">


        <div class="row">
          <label class="col-md-1">Peso:</label>
          <div class="col-md-3 ">
            <input class="form-control" type="text" name="vital_sign_weight" id="vital_sign_weight" disabled>
          </div>
          <label class="col-md-1 ">Altura:</label>
          <div class="col-md-3">
            <input class="form-control" type="text" name="vital_sign_height" id="vital_sign_height" disabled>
          </div>
          <label class="col-md-2 ">Temperatura:</label>
          <div class="col-md-2 ">
            <input class="form-control"  type="text" name="vital_sign_temperature" id="vital_sign_temperature" disabled>
          </div>
        </div>
        <div class="row">
          <label class="col-md-1">Glucosa:</label>
          <div class="col-md-3">
            <input class="form-control"  type="text" name="vital_sign_glucose" id="vital_sign_glucose" disabled>
          </div>
          <label class="col-md-1">I.M.C. :</label>
          <div class="col-md-3">
            <input class="form-control" type="text" name="vital_sign_imc" id="vital_sign_imc"disabled>
          </div>
          <label class="col-md-2 pull-left">Presión arterial:</label>
          <div class="col-md-2">
            <input class="form-control"  type="text" name="vital_sign_blood_pressure" id="vital_sign_blood_pressure" disabled>
          </div>
        </div>
        <div class="row">
          <label class="col-md-1">Peso sugerido:</label>
          <div class="col-md-3">
            <input class="form-control" type="text" name="vital_sign_suggested_weight" id="vital_sign_suggested_weight" disabled>
          </div>
          <label class="col-md-1">Frecuencia cardiaca:</label>
          <div class="col-md-3">
            <input class="form-control"  type="text" name="vital_sign_suggested_weight" id="vital_sign_heart_breath" disabled>
          </div>
          <label class="col-md-2">Frecuencia respiratoria:</label>
          <div class="col-md-2">
            <input class="form-control"  type="text" name="vital_sign_suggested_weight" id="vital_sign_breathing_frecuency" disabled>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'url_print_valoration_graph', doctor_view_expedient_graph_valoration_url %>