<%= form_for [:doctor, @assistant],:html => { :onsubmit => "return checkuser_exist();", :class=> "form_assistant" } do |a| %>
  <% if @assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
      <% @assistant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="card">
      <div class="card-header">

        <input type="hidden" name="doctor_id" id="doctor_id" value="<%= @doctor.id %>">

        <div class="row">
          <div class="col-md-6">
              <div class="form-group fg-line">
                <strong>Nombre(s)</strong>
                <%= a.text_field :name, class: 'form-control input-lg required', placeholder: 'Nombre(s)' %>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group fg-line">
                <strong>Apellidos</strong>
                <%= a.text_field :last_name, class: 'form-control input-lg required' , placeholder: 'Apellidos'%>
              </div>
          </div></div>
        <div class="row">
          <div class="col-md-4">
              <div class="form-group fg-line">
                <strong>Tel&eacute;fono</strong>
                <%= a.text_field :telephone, class: 'form-control input-lg required',:minlength=>"10",
                                 :maxlength=>"20", placeholder: 'Teléfono' %>
              </div>
          </div>

          <div class="col-md-4">
              <div class="form-group fg-line">
                <strong>Celular</strong>
                <%= a.text_field :cellphone, class: 'form-control input-lg number',:minlength=>"10",
                                 :maxlength=>"10", placeholder: 'Celular' %>
              </div>
          </div>

         


        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="bootstrap-select">
              <strong>G&eacute;nero</strong><br>
              <%= a.select :gender_id, Gender.all.map{|gender| [gender.name,gender.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-6">
            <%
              if !@assistant.birth_day.nil?
                date_format = @assistant.birth_day.strftime('%d/%m/%Y')
              else
                date_format = ''
              end
            %>
            <div class="form-group fg-line">
              <%= a.label :birth_day,"Fecha de nacimiento", :class=>"control-label" %><br>
              <%= a.text_field :birth_day, class: 'form-control input-lg required date-picker', value: date_format ,:placeholder => "Ej: dd/mm/aaaa" %>
              <span class="input-group-addon last" id="age_label"></span>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="fg-line">
                <strong>Dirección</strong>
                <%= a.text_area :address, {:class => "form-control input-lg", :rows => 3, :placeholder => "Dirección"}  %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <%
                city_id = ""
                if @assistant.city.nil?
                  name = ""
                else
                  name = @assistant.city.format_city_state_and_country
                  city_id = @assistant.city.id
                end
              %>
              <strong>Ciudad</strong>
              <%= a.text_field :city_id, :city => city_id , :autocomplete => "off", :value => name, :class=>"form-control input-lg search-city required", :id=>"admin_doctor_city_id", :placeholder => "Ciudad" %>
            </div>
          </div>
        </div>

        <%= a.hidden_field :shared, :value => false %>
      </div>
    </div>


    <div class="block-header">
      <h2>Permisos del expediente clinico</h2>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <% if @assistant.id != nil %>

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="change_permissions_expedient" value="1" id="change_permissions_expedient">
                  <i class="input-helper"></i>
                  Cambiar permisos
                </label>
              </div>

          <% end %>
        </div>
        <hr>
        <div class="row">
          <% ExpedientPermission.all.each do |p| %>
              <% if p.id == ExpedientPermission::EDIT_PEDIATRICS_MEDICAL_BACKGROUND
                    if doctor_has_feature Feature::PED
              %>
                      <div class="col-md-6">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="permissions_expedient" name="expedient_p[]" value="<%= p.id %>" id="expedient_p_<%= p.id %>"
                                   <%= (@assistant.id!= nil and @assistant.expedient_permissions.exists?(id: p.id))? 'checked' : ''%>
                                   <%= (@assistant.id!= nil)? 'disabled' : '' %>
                            >
                            <i class="input-helper"></i>
                            <%= p.name %>
                          </label>
                        </div>
                      </div>
              <%    end
                 else
                if p.id == ExpedientPermission::EDIT_GYNECOLOGY_MEDICAL_BACKGROUND
                  if doctor_has_feature Feature::GIN
              %>
                  <div class="col-md-6">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="permissions_expedient" name="expedient_p[]" value="<%= p.id %>" id="expedient_p_<%= p.id %>"
                               <%= (@assistant.id!= nil and @assistant.expedient_permissions.exists?(id: p.id))? 'checked' : ''%>
                               <%= (@assistant.id!= nil)? 'disabled' : '' %>
                        >
                        <i class="input-helper"></i>
                        <%= p.name %>
                      </label>
                    </div>
                  </div>
              <%  end
                 else %>
                      <div class="col-md-6">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="permissions_expedient" name="expedient_p[]" value="<%= p.id %>" id="expedient_p_<%= p.id %>"
                                   <%= (@assistant.id!= nil and @assistant.expedient_permissions.exists?(id: p.id))? 'checked' : ''%>
                                   <%= (@assistant.id!= nil)? 'disabled' : '' %>
                            >
                            <i class="input-helper"></i>
                            <%= p.name %>
                          </label>
                        </div>
                      </div>
                  <%
                end
                end %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="block-header">
      <h2>Permisos de las Agenda</h2>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">
          <%
            offices = Office.active_offices.where("doctor_id = " + session[:doctor_id].to_s)
            agenda_permissions = Permission.all
          %>

          <div class="col-xs-12">

            <% if @assistant.id != nil %>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="change_permissions" value="1" id="change_permissions">
                    <i class="input-helper"></i>
                    Cambiar permisos
                  </label>
                </div>

            <% end %>


            <table class="table" id="permissions">
              <thead>
                <tr>
                  <th>Consultorio</th>
                  <% agenda_permissions.each do |ap| %>
                  <th><%= ap.label %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>

              <% offices.each do |o| %>
              <tr>
                <td><%= o.name %></td>
                <% agenda_permissions.each do |ap| %>
                    <td>

                      <div class="checkbox">
                        <label>
                          <input type="checkbox" class="assistant_permission" name="office_<%= o.id %>[]" value="<%= ap.id %>"
                                 <%= @permissions[o.id.to_s+'-'+ap.id.to_s] != nil ? 'checked' : '' %>
                                 <%= @assistant.id != nil ? 'disabled':'' %>>
                          <i class="input-helper"></i>
                        </label>
                      </div>
                    </td>
                <% end %>
              </tr>
              <% end %>

              </tbody>
            </table>


          </div>

        </div>
      </div>
    </div>

    <div class="block-header">
      <h2>Datos de Acceso</h2>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">
          <%= a.fields_for :user do |u| %>

              <div>
                <%= u.hidden_field :id%>
              </div>

              <div class="col-md-6">
                <div class="form-group fg-line">
                  <strong>Usuario:</strong>
                  <%= u.text_field :user_name, class: 'form-control input-lg required', placeholder: 'Usuario' %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group fg-line">
                  <% if @assistant.id == nil %>
                      <input type="hidden" id="edit_assistant" value="0">
                      <strong>Contraseña:</strong>
                      <%= u.password_field :password, class: 'form-control input-lg required', placeholder: 'Contraseña' %>
                  <% else %>
                      <input type="hidden" id="edit_assistant" value=<%= @assistant.id %>>
                      <div class="checkbox m-b-15">
                        <label>
                          <input type="checkbox" value="1" id="change_pass">
                          <i class="input-helper"></i> Modificar contrase&ntilde;a
                        </label>
                      </div>
                      <div style="display: none;" id="modificate_pass">
                        <strong>Contraseña:</strong>
                        <%= u.password_field :password, class: 'form-control input-lg required', placeholder: 'Contraseña' %>
                      </div>
                  <% end %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group fg-line">
                  <strong>Email:</strong>
                  <%= u.text_field :email, class: 'form-control input-lg required email', placeholder: 'Email' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-md-6 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">
      <span class="col-md-3 col-xs-12"></span>
      <a href="<%= doctor_assistants_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
      <span class="col-md-1 col-xs-12"></span>
      <button type="submit" class="btn btn-primary col-md-4 col-xs-12"><%= @text_button %></button>
    </div>
<% end %>
<%= hidden_field_tag 'url_check_user', url_for(:controller => 'doctor/assistants', :action => 'check_new_user', :only_path => false) %>
