<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2 class="page_title">Lista de Asistentes</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Agregar', new_doctor_assistant_path, class: "pull-right btn bgm-green waves-effect" %>
  </div>
      <div class="col-xs-12">


  <table id="data-table-assistant" class="table table-striped" data-source="<%= doctor_assistants_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id="name" >NOMBRE</th>
    <th data-column-id="last_name">APELLIDO</th>
    <th data-column-id="telephone">TELÉFONO</th>
    <th data-column-id="cellphone" >CELULAR</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>
  <tbody>
 </tbody>
</table>

</div></div></div></div>

<%= hidden_field_tag 'url_show_assistant', url_for(:controller => 'doctor/assistants', :action => 'get_assistant_data', :only_path => false) %>
<div class="modal fade" id="show_assistant_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <h4 class="modal-title" id="add_vaccinate_date_modal_title"><label id="a_name"> </label>
          <label id="a_last_name"> </label></h4>
      </div>
      <div class="modal-body">
        <div class="form-group fg-line">
          <div class="row" style="font-size: 14px">
            <div class="col-md-12 col-xs-12">
              <label class="control-label">Tel&eacute;fono</label>:
              <label id="a_telephone"></label>
            </div>
            <div class="col-md-6 col-xs-12">
              <label class="control-label">Celular</label>:
              <label id="a_cellphone"></label>
            </div>
            <div class="col-md-6 col-xs-12">
              <label class="control-label">Email</label>:
              <label id="a_email"></label>
            </div>
            <div class="col-md-6 col-xs-12">
              <label class="control-label">Fecha de nacimiento</label>:
              <label id="a_birth_day"></label>
            </div>
            <div class="col-md-6 col-xs-12">
              <label class="control-label">Ciudad</label>:
              <label id="a_city"></label>
            </div>
            <div class="col-xs-12">
              <label class="control-label">Direcci&oacute;n</label>:
              <label id="a_address"></label>
            </div>
            </div>
          <div class="row">
            <div style="text-align: center;font-size: 16px"><strong>Permisos del expediente</strong></div>
            <div id="table_permissions_expedient"></div>
          </div>
          <br>
          <hr>
          <div class="row">
          <div style="text-align: center;font-size: 16px"><strong>Permisos de la agenda</strong></div>
          <div id="table_permissions"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

