<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @assistant.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @assistant.address %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @assistant.telephone %>
</p>

<%= link_to 'Editar', edit_doctor_assistant_path(@assistant) %> |
<%= link_to 'Regresar', doctor_assistants_path %>
