<style>
  label.bold {
    font-weight: bold;
  }
</style>


<%= hidden_field_tag 'calculate_age_url', calculate_age_doctor_patients_path %>

<div class="card">
  <div class="card-header">
    <%= form_for [:doctor, @doctor_patient], :html => {:class => "validate patient_form"} do |f| %>
        <% if @doctor_patient.errors.any? %>
            <div class="alert alert-danger">
              <strong><%= pluralize(@doctor_patient.errors.count, "error", "errores") %> en el formulario:</strong>
              <ul>
                <% @doctor_patient.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <input type="hidden" id="patient_id" value="<%= @doctor_patient.id %>">
        <div class="row">
          <div class=" col-md-4 col-sm-4" style="text-align: center ">
            <input type="hidden" id="picture64" name="picture64">
            <input type="hidden" id="crop_image_64" name="crop_image_64">

            <div id="results"></div>
            <div class="row" id="upload_image_tag" style="display: none;">
              <div class="" style="margin-bottom: 16px; margin-top: 21px;">
                <img id="result-image" width="210"/>
              </div>
            </div>
            <div class="row" id="upload_picture">
              <div class="col-sm-12">
                <div class="fileinput <%= (!@doctor_patient.picture.nil?) ? "fileinput-exists" : "fileinput-new" %> " data-provides="fileinput">
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <% if !@doctor_patient.picture.nil? %>
                        <img src="<%= image_url(download_image_doctor_patients_path(@doctor_patient)) %>">
                    <% end %>
                  </div>
                </div>


              </div>
            </div>
            <div>
              <button type="button" class="btn btn-primary" id="button_crop_size" onClick="open_crop_image_modal()">Subir
                imagen
              </button>
              <button type="button" class="btn btn-primary" id="take_picture_id" onClick="open_camera()">Tomar foto
              </button>
              <button type="button" class="btn btn-primary" id="btn_cancel_picture" onclick="remove_picture()" style="display: none;">Cancelar</button>
            </div>

          </div>
          <div class="col-md-8 col-sm-8">
            <div class="row">
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :active, value: 1 %>


              <div class="col-md-6">
                <div class="form-group fg-line">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control input-lg required', :placeholder => "Nombre del paciente", :autocomplete => "off" %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group fg-line">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, class: 'form-control input-lg required', :placeholder => "Apellido del paciente", :autocomplete => "off" %>
                </div>
              </div>


              <div class="col-md-4">
                <%
                  if !@doctor_patient.birth_day.nil?
                    date_format = @doctor_patient.birth_day.strftime('%d/%m/%Y')
                  else
                    date_format = ''
                  end
                %>
                <div class="form-group fg-line">
                  <%= f.label :birth_day %>
                  <%= f.text_field :birth_day, class: 'form-control input-lg required date-picker', value: date_format, :placeholder => "dd/mm/aaaa" %>
                  <span id="age_label"></span>
                </div>
              </div>

              <div class="col-md-4">
                <%= f.label :gender_id %>
                <%
                  default_value_gender = Gender::MAN
                  if @has_gin && @is_add
                    default_value_gender = Gender::WOMEN
                  else
                    default_value_gender = @doctor_patient.gender_id
                  end
                %>
                <%= f.select :gender_id, options_for_select(Gender.all.map { |gender| [gender.name, gender.id] }, default_value_gender), {}, {:class => "selectpicker form-control"} %>
              </div>

              <div class="col-md-4">
                <%
                  blood_type_id = @doctor_patient.blood_type_id
                  if !blood_type_id.present?
                    bt = BloodType.where('name = ?','Desconoce').first
                    blood_type_id = bt.id
                  end
                %>
                <%= f.label :blood_type_id %>
                <%= f.select :blood_type_id, BloodType.all.map { |data| [data.name, data.id] }, {:selected => blood_type_id}, {:class => "selectpicker form-control"} %>
              </div>


            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group fg-line">
                  <%= f.label :phone %>
                  <%= f.text_field :phone, class: 'form-control input-lg ', :minlength => "10", :placeholder => "Teléfono" %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group fg-line">
                  <%= f.label :cell %>
                  <%= f.text_field :cell, class: 'form-control input-lg number', :minlength => "10", :placeholder => "Celular" %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group fg-line">
                  <%= f.label :email %>
                  <%= f.text_field :email, class: 'form-control input-lg email', :placeholder => "Dirección de correo electrónico" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label>
                  <%= f.check_box :is_foreign %>
                  <i class="input-helper"></i>
                  <strong class="font_size_medical_history">¿Es extranjero?</strong>
                </label>
              </div>
              <div class="col-md-6">
                <label>
                  <%= f.check_box :city_unknown %>
                  <i class="input-helper"></i>
                  <strong class="font_size_medical_history">¿Desconoce su ciudad o municipio de nacimiento?</strong>
                </label>
              </div>
            </div>




          </div>
        </div>
        <div class="row">
          <div class="col-md-4">


            <%
              city_id = ""
              if @doctor_patient.city.nil?
                name = ""
              else
                name = @doctor_patient.city.format_city_state_and_country
                city_id = @doctor_patient.city.id
              end
            %>
            <div class="form-group fg-line">
              <%= f.label :city_id,"Ciudad/Municipio de nacimiento" %>
              <%= f.text_field :city_id, :city => city_id, :autocomplete => "off", :value => name, :class => "form-control input-lg search-city required", :placeholder => "Seleccione una ciudad" %>
            </div>
          </div>
          <div style="display: none;">
            <input type="text" id="PreventChromeAutocomplete" name="PreventChromeAutocomplete" autocomplete="address-level4"/>
          </div>
          <div class="col-md-4">
            <div class="form-group fg-line">
              <%= f.label :birthplace %>
              <%= f.text_field :birthplace, class: "form-control input-lg", :placeholder => "Lugar de nacimiento" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group fg-line">
              <%= f.label :occupation %>
              <%= f.text_field :occupation, class: 'form-control input-lg', :placeholder => "Ocupación" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
              <div class="form-group fg-line">
                <%= f.label :address %>
                <%= f.text_field :address, {:class => "form-control input-lg", :placeholder => "Dirección del paciente"} %>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <%= f.label :insurance_id %>
            <%= f.select :insurance_id, Insurance.where("is_active = 1").map { |data| [data.name, data.id] }, {}, {:class => "selectpicker form-control"} %>
          </div>
        </div>


        </div>
        </div>


        <div class="row">
          <div class="col-md-6 col-xs-12">
          </div>
          <div class="col-md-6 col-xs-12">
            <span class="col-md-3 col-xs-12"></span>
            <a href="<%= doctor_patients_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
            <span class="col-md-1 col-xs-12"></span>
            <button class="btn btn-primary col-md-4 col-xs-12" id="new_patient_btn"><%= @text_button %></button>
          </div>
        </div>

        <br><br>

        <% if @doctor_patient.id!=nil %>
            <div class="card">
              <div class="card-body card-padding">
                <div class="row">

                  <div class="col-xs-12 block-header">
                    <h2>Información Fiscal</h2>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="input-group fg-float">
                        <div class="fg-line">
                          <a data-toggle="modal" href="#addfiscalinfo" onclick="setAddFiscalInfoModal(<%= @doctor_patient.id %>)"><i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i>
                            Agregar</a>
                        </div>
                        <span class="input-group-addon"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="form-group fg-line">
                      <strong>Datos fiscales:</strong><br>

                      <table class="table">
                        <thead>
                        <th>Tipo de persona</th>
                        <th>Razon social</th>
                        <th>RFC</th>
                        <th>Direcci&oacute;n</th>
                        <th>Num ext</th>
                        <th>Colonia</th>
                        <th>C.P</th>
                        <th>Ciudad</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <% @doctor_patient.patient_fiscal_informations.each do |ic| %>
                            <tr id="patient_fiscal_info_<%= ic.id %>">
                              <td id="i_card_specialty_<%= ic.id %>"><%= ic.person_type %></td>
                              <td id="i_card_identity_<%= ic.id %>"><%= ic.business_name.gsub(",,", " ") %></td>
                              <td id="i_card_institute_<%= ic.id %>"><%= ic.rfc %></td>
                              <td id="i_card_institute_<%= ic.id %>"><%= ic.address %></td>
                              <td id="i_card_institute_<%= ic.id %>"><%= ic.ext_number %></td>
                              <td id="i_card_institute_<%= ic.id %>"><%= ic.suburb %></td>
                              <td id="i_card_institute_<%= ic.id %>"><%= ic.zip %></td>
                              <td id="i_card_institute_<%= ic.id %>"><%= ic.city.name %></td>
                              <td>
                                <a data-toggle="modal" href="#addfiscalinfo" onclick="setupFiscalInfoEdit(<%= ic.id %>,'<%= ic.person_type %>','<%= ic.business_name %>','<%= ic.rfc %>'
                                    ,'<%= ic.address %>','<%= ic.suburb %>','<%= ic.locality %>','<%= ic.int_number %>','<%= ic.ext_number %>','<%= ic.zip %>','<%= ic.city.id %>','<%= ic.city.format_city_state_and_country %>',<%= @doctor_patient.id %>,'<%= ic.email %>','<%= ic.email2 %>')"><i class="zmdi zmdi-edit" style='font-size: 1.73em;'></i></a>
                                &nbsp;&nbsp;
                                <a data-toggle="modal" href="#deletefiscalinfo" onclick="setupdeletefiscalinfo(<%= ic.id %>,<%= @doctor_patient.id %>)"><i class="zmdi zmdi-delete" style='font-size: 1.73em;'></i></a>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
            </div>

        <% end %>


    <% end %>
    <br>
    <br>
    <br>


    <div class="modal fade" id="take_picture" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="add_foto_cam">Tomar fotografia</h4>
          </div>
          <div class="modal-body">

            <!--  <div id="upload_picture">
            <div id="my_camera"></div>
            </div>-->
            <div class="col-xs-6">
              <video id="video"></video>
            </div>

            <div class="col-xs-6">
              <canvas id="canvas"></canvas>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="add_picture_cam" onClick="take_snapshot()">Tomar Foto
            </button>
            <button type="button" class="btn btn-link" onclick="close_camera()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="crop_image_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="crop_image_title">Seleccionar imagen</h4>
          </div>
          <div class="modal-body">
            <input type="file" id="upload" value="Choose a file" accept="image/*">
            <div id="upload-demo"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="add_crop_image" onClick="crop64()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="patients_duplicate_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="crop_image_title">Se encontraron coincidencias con el nombre ingresado</h4>
          </div>
          <div class="modal-body">
            <div id="patients_founded_div">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="add_patient_anyway_btn" >Agregar de todos modos</button>
          </div>
        </div>
      </div>
    </div>

 <%= hidden_field_tag 'url_check_patient_exist', check_patient_exist_doctor_patients_url %>