<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <%= render '/messages' %>
      <div class="col-md-6">
        <h4 class="page_title">Pacientes</h4>
      </div>
      <div class="col-md-6">
        <% if can? :new, Patient %>
            <%= link_to 'Agregar', new_doctor_patient_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
      </div>
      <div class="col-md-12">
        <div class="datatable_custom bootgrid-header">
          <table id="data-table-patient" class="table table-striped table-condensed table-custom" data-source="<%= doctor_patients_url(format: "json") %>"
                 data-can-edit="<%= can? :edit, Patient %>"
                 data-can-show-exp="<%= can? :show, MedicalExpedient %>"
                 data-can-show="<%= can? :show, Patient %>"
                 data-can-delete="<%= can? :destroy, Patient %>">
            <thead>
            <tr>
              <th data-column-id="name">Nombre</th>
              <th data-column-id="last_name">Apellidos</th>
              <th data-column-id="gender">Género</th>
              <th data-column-id="age">Edad</th>
              <th data-column-id="phone">Teléfono</th>
              <th data-column-id="cellphone">Celular</th>
              <th data-column-id="email">Email</th>
              <th data-column-id="captured_by">Capturado por</th>
              <th data-column-id="commands">Operaciones</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
