<div class="card">
  <div class="card-header ">
    <h1><%= @doctor_patient.full_name %></h1>
    <br>
    <div class="row patient_show">
      <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">
        <div class="row"><strong>Fotograf&iacute;a</strong></div>
        <div class="row">

          <% if !@doctor_patient.picture.nil? %>
              <img src = "<%= image_url(download_image_doctor_patients_path(@doctor_patient)) %>" width="240">
          <% end %>

        </div>
      </div>
      <div class="col-md-7 col-sm-7">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Nombre:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.name %></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Apellido:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.last_name %></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Tel&eacute;fono:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.phone %></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Celular:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.cell %></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="btn-group bootstrap-select">
              <strong>G&eacute;nero:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.gender.name %></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Fecha de nacimiento:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.birth_day.strftime('%d/%m/%Y') %></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Tipo de sangre:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.blood_type.nil? ? "" : @doctor_patient.blood_type.name %></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Email:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.email %></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>¿Es extranjero?:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.is_foreign? ? 'Si' : 'No' %></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>¿Conoce su lugar de nacimiento?:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.city_unknown? ? 'No' : 'Si' %></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Ciudad:</strong>
              <%
                 if @doctor_patient.city.nil?
                   city = ""
                 else
                   city = @doctor_patient.city.format_city_state_and_country
                 end
              %>
              <span class="'form-control input-sm'"><%= city %></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Lugar de origen:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.birthplace %></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Ocupaci&oacute;n:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.occupation %></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Direcci&oacute;n:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.address %></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Fecha de expediente:</strong>
              <span class="'form-control input-sm'"><%= date_hour(@doctor_patient.medical_expedient.created_at) %></span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group fg-line">
              <strong>Capturado por:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.user.person.full_name %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-1 col-md-offset-9"><%= link_to 'Atras', doctor_patients_path, class: 'btn bgm-deeporange waves-effect' %></div>
      <div class="col-md-1"><%= link_to 'Editar', edit_doctor_patient_path(@doctor_patient), class: "btn bgm-lightblue waves-effect" %></div>
    </div>
  </div>
</div>
<hr>

