<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .invoices_report_table{
      width: 100%;
    }
    .invoices_report_table thead th{
      font-size: 14px;
    }
    .invoices_report_table tr td{
      font-size: 12px;
      padding: 5px;
    }
    .invoices_report_table tr td{
      text-align: center;
    }
    #params table{
      font-size: 12px;
    }
    .inventory_info{
      width: 250px;
    }
    .float{
      float: left;
    }
    .logo{
      width: 20%;
    }
    .text{
      width: 80%;
    }
  </style>
  <%= wicked_pdf_stylesheet_link_tag 'pdf/certificate.css' %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
  <div class="float text">
    <h2 style="margin: 0; padding: 0;">Reporte de Inventario</h2>
    <label>
      <%= @inventory.inventory_date.strftime('%d/%m/%Y')%>
    </label>
  </div>
</div>

<div style="clear: both;">
</div>

<br>

<div id="params">
  <table>
    <tr>
      <td><strong>Fecha de Inventario:</strong></td>
      <td class="inventory_info"><%= @inventory.inventory_date.strftime('%d/%m/%Y')  %></td>
    </tr>
    <tr>
      <td><strong>Almacen:</strong></td>
      <td class="inventory_info"><%= @inventory.warehouse.name %></td>
    </tr>
    <tr>
      <td><strong>Categoría:</strong></td>
      <td class="inventory_info"><%= @inventory.medicament_category.present? ? @inventory.medicament_category.name : 'Todas' %></td>
    </tr>
    <tr>
      <td><strong>Creado por:</strong></td>
      <td class="inventory_info"><%= @inventory.created.present? ? @inventory.created.person.name : '' %></td>
    </tr>
  </table>
  <br>
</div>

<h4 style="text-align: center">Medicamentos</h4>
<table class="invoices_report_table">
  <thead>
  <tr>
    <th>Lote</th>
    <th>Medicamento</th>
    <th>Presentación</th>
    <th>Cantidad</th>
    <th>Cantidad en físico</th>
  </tr>
  </thead>
  <tbody>
  <% @inventory.inventory_stocks.each do |stock|  %>
      <tr>
        <td><%= stock.lot.name %></td>
        <td ><%= stock.lot.medicament.comercial_name %></td>
        <td><%= stock.lot.medicament.presentation %></td>
        <td><%= stock.quantity%></td>
        <td><hr></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br><br>
<h4 style="text-align: center">Artículos</h4>
<table class="invoices_report_table">
  <thead>
  <tr>
    <th>Artículo</th>
    <th>U. de medida</th>
    <th>Cantidad</th>
    <th>Cantidad en físico</th>
  </tr>
  </thead>
  <tbody>
  <% @inventory.inventory_pharmacy_stocks.each do |stock|  %>
      <tr>
        <td ><%= stock.pharmacy_item.code + " (" + stock.pharmacy_item.description + ")" %></td>
        <td><%= stock.pharmacy_item.measure_unit_item.name %></td>
        <td><%= stock.quantity%></td>
        <td><hr></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
  <br><br>
  <table style="font-size: 14px;">
    <tr>
      <td><strong>Número de articulos: </strong></td>
      <% total_items_inventory =  @inventory.inventory_stocks.size + @inventory.inventory_pharmacy_stocks.size %>
      <td><%= total_items_inventory %></td>
    </tr>
  </table>
</div>
</body>
</html>
