<!DOCTYPE html>
<html lang="en">
<head>
  <script>
      function number_pages() {
          var vars={};
          var x=document.location.search.substring(1).split('&');
          for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
          var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
          for(var i in x) {
              var y = document.getElementsByClassName(x[i]);
              for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
          }
      }
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body onload="number_pages()">
<br>
<hr>
<table width="100%" style="font-size: 12px;">
  <tr class="type_text_header">
    <td>Impreso: <%= I18n.localize(Time.now, :format => :email_personal_support) %></td>
    <td></td>
    <td style="text-align: right;">P&aacute;gina <span class="page"></span> de <span class="topage"></span></td>
  </tr>
</table>


</body>
</html>