<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<%
  inventory = @inventory
%>
<div style="display: block; clear: both;">
  <div style="float: left; width: 30%">
        <%= wicked_pdf_image_tag "MEDSI_LOGOTIPO.jpg",:width => "80%" %>
  </div>
</div>
</body>
</html>