<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:shared_assistant, @personal] do |f| %>
    <% if @personal.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@personal.errors.count, "error") %> prohibited this personal from being saved:</h2>

          <ul>
            <% @personal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :name,"Nombre(s)", :class=>"control-label" %><br>
      <%= f.text_field :name, :class => "form-control input-lg required", :placeholder => "Nombre(s)" %>
    </div>
    </div>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :lastname,"Apellidos", :class=>"control-label" %><br>
      <%= f.text_field :lastname, :class => "form-control input-lg required", :placeholder => "Apellidos" %>
    </div>
      </div>

    <input type="hidden" name="doctor_id" id="doctor_id" value="<%=session[:doctor_id] %>">
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
      <%= f.label :email,"Correo electrónico", :class=>"control-label" %><br>
      <%= f.text_field :email, :class => "form-control input-lg email required", :placeholder => "Correo electrónico"  %>
    </div>
        </div>

          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :contact_number,"Número de contacto", :class=>"control-label" %><br>
              <%= f.text_field :contact_number, :class => "form-control input-lg required",:minlength=>"10",
                               :maxlength=>"20", :placeholder => "Número de contacto"  %>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            Rol:
            <div class="btn-group bootstrap-select">
              <%= f.select :operation_role_id,
                           OperationRole.all.collect {|p| [ p.name, p.id ] },
                           {}, class: 'selectpicker' %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            Medico:
            <div class="btn-group bootstrap-select">
              <%= f.select :doctor_id,
                           Doctor.joins(:assistants).where("assistants.id = #{session[:assistant_id]}").collect {|p| [ p.name, p.id ] },
                           {}, class: 'selectpicker' %>
            </div>
          </div>


    </div></div></div>
    <div class="col-md-6 col-xs-12">

</div>
<div class="col-md-6 col-xs-12">
  <span class="col-md-3 col-xs-12"></span>
  <a href="<%= doctor_personalsupports_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
  <span class="col-md-1 col-xs-12"></span>
  <button type="submit" class="btn btn-primary col-md-4 col-xs-12" id="submit_new_personal"><%= @text_button %></button>
</div>
      <% end %>