<div class="card">
  <div class="card-body card-padding">
    <div class="row">
        <div class="col-md-6">
          <strong>Nombre</strong><br>
          <span><%= @personal.name %></span>
        </div>
        <div class="col-md-6">
          <strong>Apellidos</strong><br>
          <span><%= @personal.lastname %></span>
        </div>
    </div>
    <div class="row">
          <div class="col-md-6">
            <strong>Correo electr&oacute;nico</strong><br>
            <span><%= @personal.email %></span>
          </div>
          <div class="col-md-6">
            <strong>N&uacute;mero de contacto</strong><br>
            <span><%= @personal.contact_number %></span>
          </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <strong>Rol</strong><br>
          <span><%= @personal.operation_role.name %></span>
        </div>
    </div>
  </div>
</div>
<div class="col-md-6 col-xs-12">
  <span class="col-md-3 col-xs-12"></span>
  <%= link_to 'Editar', edit_shared_assistant_personalsupport_path(@personal), class: "btn btn-primary col-md-4 col-md-12" %>
  <span class="col-md-1 col-xs-12"></span>
  <%= link_to 'Atras', shared_assistant_personalsupports_path, class:"btn btn-danger col-md-4 col-xs-12" %>
</div>
