<style>
  label.bold{
    font-weight: bold;
  }
</style>


<%= hidden_field_tag 'calculate_age_url', calculate_age_doctor_patients_path %>

<div class="card">
  <div class="card-header">
    <div class="row">
      <%= form_for [:shared_assistant, @doctor_patient], :html => {:id => "form_patient",:onsubmit => "return checkone_number();"} do |f| %>
          <% if @doctor_patient.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@doctor_patient.errors.count, "error") %> prohibited this doctor_patient from being saved:</h2>

                <ul>
                  <% @doctor_patient.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :doctor_id,"Doctor", :class=>"control-label bold" %><br>
                <% if @is_new %>
                <%= f.select :doctor_id, get_doctors_active_assistant_shared.map{|doctor| [doctor.full_name,doctor.id]}, {}, {:class => "selectpicker form-control"}  %>
                <% else %>
                  <label class="control-label" style="font-size: 1.2em;"><%= @doctor_patient.doctor.full_name %></label>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <%= f.hidden_field :active , value: 1 %>
            <div class="col-md-4">
              <div class="form-group fg-line">
                <%= f.label :name,"Nombre(s)", :class=>"control-label bold" %><br>
                <%= f.text_field :name, class: 'form-control input-lg required',:placeholder => "Nombre del paciente" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group fg-line">
                <%= f.label :last_name,"Apellidos", :class=>"control-label bold" %><br>
                <%= f.text_field :last_name, class: 'form-control input-lg required',:placeholder => "Apellidos del paciente"%>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group fg-line">
                <%= f.label :phone,"Teléfono", :class=>"control-label bold" %><br>
                <%= f.text_field :phone, class: 'form-control input-lg ',:minlength=>"10",
                                 :maxlength=>"20",:placeholder => "Ej: 000-0000000" %>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group fg-line">
                <%= f.label :cell,"Celular", :class=>"control-label bold" %><br>
                <%= f.text_field :cell, class: 'form-control input-lg number',:minlength=>"10",
                                 :maxlength=>"10",:placeholder => "Ej: 0000000000" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group fg-line">
                <%= f.label :weight,"Peso", :class=>"control-label bold" %><br>
                <%= f.text_field :weight, class: 'form-control input-lg required number',:placeholder => "Peso en kg" %>
                <span class="input-group-addon last">Kg</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group fg-line">
                <%= f.label :height,"Altura", :class=>"control-label bold" %><br>
                <%= f.number_field :height, class: 'form-control input-lg required number',:placeholder => "Altura en cm" %>
                <span class="input-group-addon last">Cm</span>
              </div>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-4">
              <strong>G&eacute;nero</strong>
              <%= f.select :gender_id, Gender.all.map{|gender| [gender.name,gender.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
            <div class="col-md-4">
              <div class="form-group fg-line">
                <%= f.label :name,"Correo electronico", :class=>"control-label bold" %><br>
                <%= f.text_field :email, class: 'form-control input-lg email',:placeholder => "Dirección de correo electronico" %>
              </div>
            </div>


            <div class="col-md-4">
              <%
                if !@doctor_patient.birth_day.nil?
                  date_format = @doctor_patient.birth_day.strftime('%d/%m/%Y')
                else
                  date_format = ''
                end
              %>
              <div class="form-group fg-line">
                <%= f.label :birth_day,"Fecha de nacimiento", :class=>"control-label bold" %><br>
                <%= f.text_field :birth_day, class: 'form-control input-lg required date-picker', value: date_format ,:placeholder => "Ej: dd/mm/aaaa" %>
                <span class="input-group-addon last" id="age_label"></span>
              </div>
            </div>

          </div>

          <br>
          <div class="row">
            <div class="col-md-4">
              <strong>Tipo de sangre</strong>
              <%= f.select :blood_type, Patient::BLOOD_TYPE, {}, {:class => "selectpicker form-control"}  %>
            </div>
            <div class="col-md-4">


              <%
                city_id = ""
                if @doctor_patient.city.nil?
                  name = ""
                else
                  name = @doctor_patient.city.format_city_state_and_country
                  city_id = @doctor_patient.city.id
                end
              %>
              <div class="form-group fg-line">
                <%= f.label :city_id,"Ciudad", :class=>"control-label bold" %><br>
                <%=  f.text_field :city_id, :city => city_id, :autocomplete => "off" , :value => name, :class=>"form-control input-lg search-city required", :id=>"admin_doctor_city_id",:placeholder => "Seleecione una ciudad" %>
              </div>
            </div>
            <div style="display: none;">
              <input type="text" id="PreventChromeAutocomplete" name="PreventChromeAutocomplete" autocomplete="address-level4" />
            </div>
            <div class="col-md-4">
              <div class="form-group fg-line">
                <%= f.label :birth_day,"Lugar de origen", :class=>"control-label bold" %><br>
                <%= f.text_field :birthplace, class: "form-control input-lg",:placeholder => "Lugar de nacimiento"%>

              </div></div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-group fg-line">
                  <%= f.label :address,"Dirección", :class=>"control-label bold" %><br>
                  <%= f.text_area :address, {:class => "form-control input-lg", :rows => 5,:placeholder => "Dirección del paciente"}  %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <input type="hidden" id="picture64" name="picture64">
              <input type="hidden" id="crop_image_64" name="crop_image_64">
              <div id="results"></div>
              <img id="result-image" />
              <div class="row" id="upload_picture">
                <div class="fileinput <%= (!@doctor_patient.picture.nil?)? "fileinput-exists" : "fileinput-new" %> " data-provides="fileinput" >
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <% if !@doctor_patient.picture.nil? %>
                        <img src = "<%= image_url(download_image_doctor_patients_path(@doctor_patient)) %>">
                    <% end %>
                  </div>

                </div>
              </div>
              <button type="button" class="btn btn-primary" id="button_crop_size" onClick="open_crop_image_modal()">Subir imagen</button>
              <button type="button" class="btn btn-primary" id="take_picture_id" onClick="open_camera()">Tomar foto</button>
            </div>

            <div class="col-md-4">
              <div class="row">

              </div></div>


          </div>


          </div>
          </div>
          </div>


          <div class="row">
            <div class="col-md-6 col-xs-12">
            </div>
            <div class="col-md-6 col-xs-12">
              <span class="col-md-3 col-xs-12"></span>
              <a href="<%= shared_assistant_patients_path %>" class="btn btn-danger col-md-4 col-xs-12">Atrás</a>
              <span class="col-md-1 col-xs-12"></span>
              <a href="#" class="btn btn-primary col-md-4 col-xs-12" id="submit_new_patient"><%= @text_button %></a>
            </div>
          </div>

          <br><br>

          <% if @doctor_patient.id!=nil %>
              <div class="card">
                <div class="card-body card-padding">
                  <div class="row">

                    <div class="col-xs-12 block-header">
                      <h2>Información Fiscal</h2>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="input-group fg-float">
                          <div class="fg-line">
                            <a data-toggle="modal" href="#addfiscalinfo" onclick="setAddFiscalInfoModal(<%= @doctor_patient.id %>)"><i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Agregar</a>
                          </div><span class="input-group-addon"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group fg-line">
                        <strong>Datos fiscales:</strong><br>

                        <table class="table">
                          <thead>
                          <th>Tipo de persona</th>
                          <th>Razon social</th>
                          <th>RFC</th>
                          <th>Direcci&oacute;n</th>
                          <th>Num ext</th>
                          <th>Colonia</th>
                          <th>C.P</th>
                          <th>Ciudad</th>
                          <th></th>
                          </thead>
                          <tbody>
                          <%  @doctor_patient.patient_fiscal_informations.each do |ic| %>
                              <tr id="patient_fiscal_info_<%= ic.id %>">
                                <td id="i_card_specialty_<%= ic.id %>"><%= ic.person_type %></td>
                                <td id="i_card_identity_<%= ic.id %>"><%= ic.business_name.gsub(",,"," ") %></td>
                                <td id="i_card_institute_<%= ic.id %>"><%= ic.rfc %></td>
                                <td id="i_card_institute_<%= ic.id %>"><%= ic.address %></td>
                                <td id="i_card_institute_<%= ic.id %>"><%= ic.ext_number %></td>
                                <td id="i_card_institute_<%= ic.id %>"><%= ic.suburb %></td>
                                <td id="i_card_institute_<%= ic.id %>"><%= ic.zip %></td>
                                <td id="i_card_institute_<%= ic.id %>"><%= ic.city.name %></td>
                                <td>
                                  <a data-toggle="modal" href="#addfiscalinfo" onclick="setupFiscalInfoEdit(<%= ic.id %>,'<%= ic.person_type %>','<%= ic.business_name %>','<%= ic.rfc %>'
                                      ,'<%= ic.address %>','<%= ic.suburb %>','<%= ic.locality %>','<%= ic.int_number %>','<%= ic.ext_number %>','<%= ic.zip %>','<%= ic.city.id %>','<%= ic.city.format_city_state_and_country %>',<%= @doctor_patient.id %>,'<%= ic.email %>','<%= ic.email2 %>')"><i class="zmdi zmdi-edit"></i></a>
                                  &nbsp;&nbsp;
                                  <a data-toggle="modal" href="#deletefiscalinfo" onclick="setupdeletefiscalinfo(<%= ic.id %>,<%= @doctor_patient.id %>)"><i class="zmdi zmdi-delete"></i></a>
                                </td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div></div></div>

          <% end %>


      <% end %>
      <br>
      <br>
      <br>


      <div class="modal fade" id="take_picture" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="add_foto_cam">Tomar fotografia</h4>
            </div>
            <div class="modal-body">

              <!--  <div id="upload_picture">
                  <div id="my_camera"></div>
                </div>-->
              <div class="col-xs-6"><video id="video"></video></div>

              <div class="col-xs-6"><canvas id="canvas"></canvas></div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="add_picture_cam" onClick="take_snapshot()">Tomar Foto</button>
              <button type="button" class="btn btn-link" onclick="close_camera()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="crop_image_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="crop_image_title">Seleccionar imagen</h4>
            </div>
            <div class="modal-body">
              <input type="file" id="upload" value="Choose a file">
              <div id="upload-demo"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="add_crop_image" onClick="crop64()">Aceptar</button>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="my-croppie-element"></div>
      <input type="file" id="upload" value="Choose a file">
      <div id="upload-demo"></div>
      <input type="hidden" id="imagebase64" name="imagebase64">
      <input type="button" onclick="crop64()" value="yeahhhhhhhhhhhhhbudyyyyyyyyyyyyyyyyyyyyyyyyyyy">
      <img id="result-image" />-->