<div class="block-header">
    <h2>Editar paciente</h2>
</div>
    <%= render 'form' %>


<div class="modal fade" id="addfiscalinfo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_fiscal_info_title">Agregar Informacion Fiscal</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <select class="selectpicker bs-select-hidden" id="person_type" name="person_type" onchange="showinfo()">
                <option value="Física">Física</option>
                <option value="Moral">Moral</option>
              </select>
            </div>
          </div>
        </div>
        <div id="Fisica" class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line">
                <label class="fg-label"><strong>*Nombre</strong></label>
                <input class="form-control input-lg" id="fi_name" type="text" name="fi_name">

              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>*Apellidos</strong></label>
                <input class="form-control input-lg" type="text" name="fi_last_name" id="fi_last_name">

              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
        </div>
        <div id="Moral" class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <div class="fg-line"> <label class="fg-label"><strong>*Raz&oacute;n social</strong></label>
                <input class="form-control input-lg" id="fi_bussines_name" type="text" name="fi_bussines_name">

              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>*RFC</strong></label>
                <input class="form-control input-lg" type="text" name="fi_rfc" id="fi_rfc">

              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>*Direcci&oacute;n</strong></label>
                <input class="form-control input-lg" type="text" name="fi_address" id="fi_address">

              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>*N&uacute;mero exterior</strong></label>
                <input class="form-control input-lg" type="text" name="fi_ext_number" id="fi_ext_number">

              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>N&uacute;mero interior</strong></label>
                <input class="form-control input-lg" type="text" name="fi_int_number" id="fi_int_number">
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>*Colonia</strong></label>
                <input class="form-control input-lg" type="text" name="fi_suburb" id="fi_suburb">

              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>Localidad</strong></label>
                <input class="form-control input-lg" type="text" name="fi_locality" id="fi_locality">

              </div>
              <span class="input-group-addon"></span>
            </div>
          </div></div>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>*Ciudad</strong></label>
                <input city="" autocomplete="off" value="" class="form-control input-lg search-city " id="fi_city_id" type="text">

              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>*C&oacute;digo postal</strong></label>
                <input class="form-control input-lg" type="text" name="fi_zip" id="fi_zip">

              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>Correo electrónico</strong></label>
                <input class="form-control input-lg" type="text" name="fi_email" id="fi_email" placeholder="Correo electronico">
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="input-group">
              <div class="fg-line"><label class="fg-label"><strong>Correo electrónico 2</strong></label>
                <input class="form-control input-lg" type="text" name="fi_email2" id="fi_email2" placeholder="Correo electronico 2">
              </div>
              <span class="input-group-addon"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_fiscal_info_btn" onClick="saveFiscalInformation(<%= @doctor_patient.id %>,'add',0)">Guardar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deletefiscalinfo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_specialty_title">Eliminar Informacion Fiscal</h4>
      </div>
      <div class="modal-body">
        ¿Confirma que desea eliminar el dato fiscal?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="add_specialty_btn" onClick="deleteFiscalInformation()">Eliminar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>