
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2 class="page_title">Lista de Pacientes Inactivos</h2>
        </div>
      </div>
      <div class="col-xs-6">
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-md-12" col-xs-6>
            <table id="data-table-patient-inactives" class="table table-striped" data-source="<%= inactive_patients_table_doctor_patients_url(format: "json")%>">
              <thead>
              <tr>
                <th data-column-id="id" data-type="numeric">ID</th>
                <th data-column-id="name">NOMBRE</th>
                <th data-column-id="last_name">APELLIDOS</th>
                <th data-column-id="birth_day">FECHA DE NACIMIENTO</th>
                <th data-column-id="email">EMAIL</th>
                <th data-column-id="commands" data-formatter="commands"  data-sortable="false">OPERACIONES</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

          </div></div>
      </div>

    </div></div></div>
