
<div class="card">
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-xs-6">
          <div class="card-header">
            <h2 class="page_title">Lista de Pacientes</h2>
          </div>
        </div>
        <div class="col-xs-6">
          <%= link_to 'Agregar', new_shared_assistant_patient_path, class: "pull-right btn bgm-green waves-effect" %>
        </div>
        <div class="row">
        <div class="col-xs-12">
            <div class="col-md-12 col-xs-6" >
  <table id="data-table-patient" class="table table-striped" data-source="<%= shared_assistant_patients_url(format: "json")%>">
    <thead>
    <tr>
      <th data-column-id="name">NOMBRE</th>
      <th data-column-id="last_name">APELLIDOS</th>
      <th data-column-id="gender">GÉNERO</th>
      <th data-column-id="age">EDAD</th>
      <th data-column-id="phone">TELÉFONO</th>
      <th data-column-id="cellphone">CELULAR</th>
      <th data-column-id="doctor_name">Doctor</th>
      <th data-column-id="commands" data-formatter="commands"  data-sortable="false">OPERACIONES</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

            </div></div>
</div>

      </div></div></div>
