<div class="card">
  <div class="card-header">
    <h1>Ver paciente</h1>

        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <strong>Doctor:</strong>
              <span class="'form-control input-sm'" style="font-size: 1.2em;"><%= @doctor_patient.doctor.full_name %></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group fg-line">
              <strong>Nombre:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.name %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group fg-line">
              <strong>Apellido:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.last_name %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group fg-line">
              <strong>Tel&eacute;fono:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.phone %></span>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group fg-line">
              <strong>Celular:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.cell %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group fg-line">
              <strong>Peso:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.weight %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group fg-line">
              <strong>Altura:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.height %></span>
            </div>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="btn-group bootstrap-select">
              <strong>Genero:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.gender.name %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group fg-line">
              <strong>Email:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.email %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group fg-line">
              <strong>Fecha de nacimiento:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.birth_day.strftime('%d/%m/%Y') %></span>
            </div>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group fg-line">
              <strong>Tipo de sangre:</strong>
              <span class="'form-control input-sm'"><%= @doctor_patient.blood_type %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group fg-line">
              <strong>Ciudad:</strong>
              <%
                 if @doctor_patient.city.nil?
                   city = ""
                 else
                   city = @doctor_patient.city.format_city_state_and_country
                 end
              %>
              <span class="'form-control input-sm'"><%= city %></span>
            </div>
          </div>
          <div class="col-md-4">
            <strong>Lugar de origen:</strong>
            <span class="'form-control input-sm'"><%= @doctor_patient.birthplace %></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <div class="fg-line">
                <strong>Direcci&oacute;n:</strong>
                <span class="'form-control input-sm'"><%= @doctor_patient.address %></span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row"><strong>Fotografia</strong></div>
            <div class="row">

                  <% if !@doctor_patient.picture.nil? %>
                        <img src = "<%= image_url(download_image_doctor_patients_path(@doctor_patient)) %>" height="140" width="140">
                  <% end %>

            </div>
          </div>
        </div>
    <hr>
    <div class="row">
      <div class="col-md-3"><%= link_to 'Atras', shared_assistant_patients_path, class: 'btn bgm-deeporange waves-effect' %></div>
      <div class="col-md-3"><%= link_to 'Editar', edit_shared_assistant_patient_path(@doctor_patient), class: "btn bgm-lightblue waves-effect" %></div>
    </div>
  </div>
</div>
<hr>

