<div class="card">
  <div class="card-body card-padding">
    <div class="row">

<%= form_for [:admin, @clinic_info] do |f| %>
    <% if @clinic_info.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@clinic_info.errors.count, "error") %> prohibited this group from being saved:</h2>

          <ul>
            <% @clinic_info.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
          <div class="col-xs-6">
            <div class="form-group fg-line">
      <%= f.label :name,"Nombre", :class=>"control-label"  %><br>
      <%= f.text_field :name, :class =>  "form-control input-lg", :placeholder => "Nombre de la clínica"  %>
      <%= f.hidden_field :latitude  %>
      <%= f.hidden_field :longitude  %>
    </div>
      </div>
          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :telephone,"Telefono(s)", :class=>"control-label"  %><br>
              <%= f.text_field :telephone, :class =>  "form-control input-lg", :placeholder => "Telefono(s) de contacto"  %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :address,"Dirección", :class=>"control-label"  %><br>
              <%= f.text_field :address, :class =>  "form-control input-lg", :placeholder => "Ingrese la dirección de la clinica"  %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :contact_email,"Email de contacto", :class=>"control-label"  %><br>
              <%= f.text_field :contact_email, :class =>  "form-control input-lg", :placeholder => "Email para dudas y aclaraciones"  %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :contact,"Contacto", :class=>"control-label"  %><br>
              <%= f.text_field :contact, :class =>  "form-control input-lg", :placeholder => "Nombre del contacto"  %>
            </div>
          </div>
          <%
            city_id = ""
            if @clinic_info.city.nil?
              name = ""
            else
              name = @clinic_info.city.format_city_state_and_country
              city_id = @clinic_info.city.id
            end
          %>
          <div class="col-md-6">
            <div class="form-group fg-line">
              <%= f.label :city,"Ciudad" , :for => "", :class=>"control-label bold" %><br>
              <%= f.text_field :city_id, :city => city_id, :autocomplete => "off" , :value => name, :class=>"form-control input-lg search-city ", :id=>"client_office_city_id",:placeholder => "Ciudad" %>
            </div>
            <div style="display: none;">
              <input type="text" id="PreventChromeAutocomplete" name="PreventChromeAutocomplete" autocomplete="address-level4" />
            </div>
          </div>
          <div class="col-xs-4">
            <strong>Logotipo</strong><br>
            <div class="fileinput <%= (!@clinic_info.logo_identifier.nil?)? "fileinput-exists" : "fileinput-new" %> " data-provides="fileinput" id="file_logo">
              <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="border: #c6c6c6 solid 1px">
                <% if !@clinic_info.logo_identifier.nil? %>
                    <img src = "<%= image_url(download_image_admin_clinic_infos_path(@clinic_info)) %>">
                <% end %>
              </div>
              <div>
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new">Subir logo</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                      <%= f.file_field :logo,accept: 'image/png,image/gif,image/jpeg', class: '' , placeholder: ''%>
                                    </span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Eliminar</a>
              </div>
            </div>
          </div>


          <div class="col-xs-4">
            <strong>Imagen principal</strong><br>
            <div class="fileinput <%= (!@clinic_info.banner.nil?)? "fileinput-exists" : "fileinput-new" %> " data-provides="fileinput" id="file_logo">
              <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="border: #c6c6c6 solid 1px">
                <% if !@clinic_info.banner.nil? %>
                    <img src = "<%= image_url(download_banner_admin_clinic_infos_path(@clinic_info)) %>">
                <% end %>
              </div>
              <div>
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new">Subir banner principal</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                      <%= f.file_field :banner,accept: 'image/png,image/gif,image/jpeg', class: '' , placeholder: ''%>
                                    </span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Eliminar</a>
              </div>
            </div>
          </div>



          <div class="col-xs-4">
            <label>
              <%= f.check_box :set_custom_ticket_description %>
              <i class="input-helper"></i>
              <strong class="font_size_medical_history">Establecer concepto de ticket</strong>
            </label>
            <br>
            <br>

            <%= f.label :ticket_description,"Concepto del ticket", :class=>"control-label"  %><br>
            <%= f.text_area :ticket_description, :class =>  "form-control input-lg", :placeholder => "Concepto del ticket", :autocomplete => "off"  %>

          </div>
          <div class="col-xs-4">
            <label>
              <%= f.check_box :show_index %>
              <i class="input-helper"></i>
              <strong class="font_size_medical_history">Mostrar pagina de inicio</strong>
            </label>
            <br>
            <br>
            <strong>Imagen de inicio</strong><br>
            <div class="fileinput <%= (!@clinic_info.index_image.nil?)? "fileinput-exists" : "fileinput-new" %> " data-provides="fileinput" id="file_logo">
              <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="border: #c6c6c6 solid 1px">
                <% if !@clinic_info.index_image.nil? %>
                    <img src = "<%= image_url(download_index_image_admin_clinic_infos_path(@clinic_info)) %>">
                <% end %>
              </div>
              <div>
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new">Subir imagen principal</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                      <%= f.file_field :index_image,accept: 'image/png,image/gif,image/jpeg', class: '' , placeholder: ''%>
                                    </span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Eliminar</a>
              </div>
            </div>
          </div>
          <div class="checkbox col-md-4">
            <label>
              <input type="checkbox"  name="is_active_custom_prescription" id="is_active_custom_prescription" <%= @clinic_info.is_active_custom_prescription ? 'checked': '' %>>
              <i class="input-helper"></i>
              <strong class="font_size_medical_history">Activar receta personalizada</strong>
            </label>
          </div>

          <div class="col-md-12"></div>



          <div class="col-md-4">
            <div class="form-group fg-line">
              <%= f.label :ticket_series,"Serie del ticket", :class=>"control-label"  %><br>
              <%= f.text_field :ticket_series, :class =>  "form-control input-lg", :placeholder => "Serie del ticket", :autocomplete => "off"  %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group fg-line">
              <%= f.label :ticket_next_folio,"Siguiente folio del ticket", :class=>"control-label"  %><br>
              <%= f.text_field :ticket_next_folio, :class =>  "form-control input-lg", :placeholder => "Siguiente folio del ticket", :autocomplete => "off"  %>
            </div>
          </div>

          <div class="checkbox col-md-4">
            <label>
              <input type="checkbox"  name="charge_reports" id="charge_reports" <%= @clinic_info.charge_reports ? 'checked': '' %>>
              <i class="input-helper"></i>
              <strong class="font_size_medical_history">Cobrar reportes de estudios de gabinete</strong>
            </label>
          </div>



          <div class="col-xs-12">
            <div id="map" style="height: 400px;"></div>
          </div>

    </div>
    </div>
</div>

          <div class="card">
            <div class="card-body card-padding">

              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionSettings" href="#accordionSettings-three" aria-expanded="false">
                  Cree o actualice sus monedas y tipos de cambio
                </a>
              </h4>
              <div style="margin-bottom: 10px; text-align: right;">
                <a class="btn btn-success" data-toggle="modal" onclick="clearNewCurrency()" data-target="#add_currency_modal">Agregar tipo de cambio</a>
              </div>

              <table class="table">
                <thead>
                <tr>
                  <th></th>
                  <th>Tipo de cambio</th>
                  <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                <% @clinic_info.currency_exchanges.each do |ct| %>
                    <tr>
                      <td style="font-size: 14px;" class="consult_type_name">
                        <strong><%= ct.currency.name %></strong>
                        <i style="cursor: pointer;" class="zmdi zmdi-edit zmdi-hc-fw" onclick="editCurrencyExchange(<%= ct.id %>,<%= ct.value %>,<%= ct.is_default %>,<%= ct.currency.id %>)"></i>
                        <i style="cursor: pointer;" class="zmdi zmdi-delete zmdi-hc-fw" onclick="deleteCurrency(<%= ct.id %>)"></i>
                      </td>
                      <td style="font-size: 14px;" class="consult_type_name">
                        <strong><%= ct.value %></strong>
                      </td>
                      <td style="font-size: 14px;" class="consult_type_name">
                        <% state = ""
                           if ct.is_default
                             state = "Predeterminado"
                           end
                        %>
                        <strong><%=state %></strong>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>



            </div>

          </div>
          <!--onclick="add_emisor_info_modal()"-->
      <% if @clinic_info.id != nil %>
          <div class="card">
            <div class="card-body card-padding">
              <div class="row">
                <div style="margin-bottom: 10px; text-align: right;">
                <a class="btn btn-success" data-toggle="modal" onclick="clear_modal()"  data-target="#emisor_info_modal">Agregar información fiscal</a>
                </div>
                <div class="col-xs-12 block-header">
                  <h2>Información Fiscal</h2>
                </div>

                <table class="table">
                  <thead>
                  <th>RFC</th>
                  <th>Razón social</th>
                  <th>Fecha de creación</th>
                  <th></th>
                  </thead>
                  <tbody>
                  <%
                  EmisorFiscalInformation.all.each do |ic|
                  %>

                      <tr id="data_<%= ic.id %>">
                        <td ><%= ic.rfc %></td>
                        <td ><%= ic.bussiness_name %></td>
                        <td ><%= ic.created_at.strftime('%d/%m/%Y') %></td>
                        <td><a data-toggle="modal"  data-target="#emisor_info_modal"  onclick='edit_emisor_info(<%= ic.id %>)'>
                          <i class='zmdi zmdi-edit zmdi-hc-fw' style='font-size: 1.73em;' title='Editar'></i></a>
                              <a  href='javascript:void(0)' onclick='delete_emisor_info(<%= ic.id %>)'>
                                <i class='zmdi zmdi-close-circle-o zmdi-hc-fw' style='font-size: 1.73em;' title='Eliminar'></i></a>

                        </td>
                      </tr>
                  <% end %>




                  </tbody>
                </table>

              </div>
            </div>
          </div>
        <% end %>
<div class="col-xs-6">

</div>
<div class="col-xs-6">
  <span class="col-xs-3"></span>
  <span class="col-xs-4"></span>
  <span class="col-xs-1"></span>
  <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
</div>

      <% end %>
      <%= hidden_field_tag 'url_new_currency_exchange', url_for(:controller => 'admin/clinic_infos', :action => 'add_currency_exchange', :only_path => false) %>
      <%= hidden_field_tag 'url_delete_currency_exchange', url_for(:controller => 'admin/clinic_infos', :action => 'delete_currency_exchange', :only_path => false) %>
      <%= hidden_field_tag 'url_delete_emisor_info', url_for(:controller => 'admin/clinic_infos', :action => 'delete_emisor_info', :only_path => false) %>
      <%= hidden_field_tag 'url_get_emisor_info', url_for(:controller => 'admin/clinic_infos', :action => 'get_emisor_info', :only_path => false) %>

      <div class="modal fade" id="add_currency_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="add_consultation_title">Agregar tipo de cambio
              </h4>
            </div>
            <div class="modal-body">

              <div class="col-xs-12">
                <strong>Moneda:</strong>
                <div class="btn-group bootstrap-select">
                  <select class="selectpicker" id="new_currency_id">
                    <%  Currency.all.each do |s| %>
                        <option value="<%= s.id %>"><%= s.name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <br>
              <div class="col-xs-12">
                <strong>Tipo de cambio (en base a la moneda predeterminada):</strong>
                <input type="number" class="form-control input-lg" id="currency_exchange_value" placeholder="Valor a cambio">
                <input type="hidden" id="current_exchange_edit_id">
              </div>
              <div class="col-xs-12">
                <input type="checkbox" name="currency_default" id="currency_default" > Establecer Predeterminada<br>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btn_new_currency_exchange" onclick="saveCurrencyExchange()">Guardar</button>
              <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <!--onsubmit="return check_emisor_form();"-->
      <div class="modal fade" id="emisor_info_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="add_emisor_title">Agregar información fiscal
              </h4>
            </div>
            <div class="modal-body">
              <form  class="new_emisor" id="new_emisor" enctype="multipart/form-data" action="/cli/emisor_informacion_fiscal" accept-charset="UTF-8" method="post" >
                <div class="row">

                  <div class="col-xs-12 block-header">
                    <h2>Información Fiscal</h2>
                  </div>

                  <input type="hidden" id="is_edit" name="is_edit" value=0>
                  <input type="hidden" id="emisor_id" name="emisor_id" value="0">
                  <div class="col-xs-12">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_rfc" class="control-label">RFC</label>
                      <input class="form-control input-lg required"  id="admin_doctor_fiscal_information_rfc" placeholder="RFC" type="text"  name="emisor_fiscal_info[rfc]" autocomplete="off" aria-required="true">
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_bussiness_name" class="control-label">Razón Social</label>
                      <input class="form-control input-lg required"  id="admin_doctor_fiscal_information_bussiness_name" placeholder="Razón Social" type="text"  name="emisor_fiscal_info[bussiness_name]" autocomplete="off" aria-required="true">
                    </div>
                  </div>
                  <div class="col-md-8 col-xs-12">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_fiscal_address" class="control-label">Dirección</label>
                      <input class="form-control input-lg required"  id="admin_doctor_fiscal_information_fiscal_address" placeholder="Dirección" type="text"  name="emisor_fiscal_info[fiscal_address]" autocomplete="off" aria-required="true">
                    </div>
                  </div>
                  <div class="col-md-2 col-xs-6">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_int_number" class="control-label">No. Int</label>
                      <input class="form-control input-lg"  id="admin_doctor_fiscal_information_int_number" placeholder="No. Int" type="text"  name="emisor_fiscal_info[int_number]" autocomplete="off">
                    </div>
                  </div>
                  <div class="col-md-2 col-xs-6">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_ext_number" class="control-label">No. Ext</label>
                      <input class="form-control input-lg"  id="admin_doctor_fiscal_information_ext_number" placeholder="No. Ext" type="text"  name="emisor_fiscal_info[ext_number]" autocomplete="off">
                    </div>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_suburb" class="control-label">Colonia</label>
                      <input class="form-control input-lg required" id="admin_doctor_fiscal_information_suburb" placeholder="Colonia" type="text" name="emisor_fiscal_info[suburb]" autocomplete="off" aria-required="true">
                    </div>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_locality" class="control-label">localidad</label>
                      <input class="form-control input-lg required" id="admin_doctor_fiscal_information_locality"  type="text"  name="emisor_fiscal_info[locality]" autocomplete="off" aria-required="true">
                    </div>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_zip" class="control-label">Código postal</label>
                      <input class="form-control input-lg required"  id="admin_doctor_fiscal_information_zip" placeholder="Código Postal" type="number" name="emisor_fiscal_info[zip]" aria-required="true">
                    </div>
                  </div>

                  <div class="col-md-6 col-xs-12">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_city_id" class="control-label">Ciudad</label>
                      <input city="2328" autocomplete="off"   class="form-control input-lg search-city required ui-autocomplete-input" name="emisor_fiscal_info[city_id]" id="admin_doctor_fiscal_information_city_id" placeholder="Ciudad" type="text" aria-required="true">
                    </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_serie" class="control-label">Serie</label>
                      <input class="form-control input-lg required"  id="admin_doctor_fiscal_information_serie" placeholder="Serie" type="text"  name="emisor_fiscal_info[serie]" autocomplete="off" aria-required="true">
                    </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_folio" class="control-label">Folio inicial</label>
                      <input class="form-control input-lg required" id="admin_doctor_fiscal_information_folio" placeholder="Folio inicia" type="number"  name="emisor_fiscal_info[folio]" aria-required="true">
                    </div>
                  </div>

                  <div id="change_fiscal_datas" >
                    <div class="col-md-6 col-xs-12">
                      <div class="form-group fg-line">
                        <label class="control-label" for="doctor_fiscal_information_attributes_certificate_stamp">Certificado</label>
                        <br>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-primary btn-file m-r-10 waves-effect">
                  <span class="fileinput-new">Seleccionar Archivo Cer</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="emisor_fiscal_info[certificate_stamp]" accept=".cer">
              </span>
                          <span class="fileinput-filename"></span>
                          <a href="#" class="close fileinput-exists" data-dismiss="fileinput">×</a>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-6 col-xs-12">
                      <div class="form-group fg-line">
                        <label class="control-label" for="doctor_fiscal_information_attributes_certificate_stamp">Llave</label>
                        <br>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-primary btn-file m-r-10 waves-effect">
                  <span class="fileinput-new">Seleccionar Archivo Key</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" name="emisor_fiscal_info[certificate_key]" accept=".key">
              </span>
                          <span class="fileinput-filename"></span>
                          <a href="#" class="close fileinput-exists" data-dismiss="fileinput">×</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="form-group fg-line">
                        <label for="admin_doctor_fiscal_information_certificate_password" class="control-label">Contraseña</label>
                        <input class="form-control input-lg" id="admin_doctor_fiscal_information_certificate_password" placeholder="Contraseña" type="password" name="emisor_fiscal_info[certificate_password]">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-xs-6">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_tax_regime" class="control-label">Régimen</label>
                      <input class="form-control input-lg required" id="admin_doctor_fiscal_information_tax_regime" placeholder="Régimen" type="text"  name="emisor_fiscal_info[tax_regime]" autocomplete="off" aria-required="true">
                    </div>
                  </div>
                  <div class="col-md-4 col-xs-6">
                    <div class="form-group fg-line">
                      <label for="admin_doctor_fiscal_information_iva" class="control-label">I.V.A</label>
                      <input class="form-control input-lg required" id="admin_doctor_fiscal_information_iva" placeholder="Tasa de IVA" type="number"  name="emisor_fiscal_info[iva]" aria-required="true">
                    </div>
                  </div>


                </div>
                <button type="submit" class="btn btn-primary" id="btn_emisor_info">Guardar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
              </form>

            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>


      <%= javascript_include_tag 'admin/clinic_infos_map' %>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_KEY'] %>&signed_in=true&callback=initMap"
              async defer>
      </script>