<div class="card">
  <div class="card-body card-padding">

    <h4 class="card-header">
      CONFIGURACI&Oacute;N DE ANTECEDENTES
    </h4>

    <div class="panel-group" data-collapse-color="red" id="accordionSettings" role="tablist" aria-multiselectable="true">
      <div class="panel panel-collapse">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordionSettings" href="#accordionSettings-one" aria-expanded="true">
              ANTECEDENTES NO PATOLÓGICOS
            </a>
          </h4>
        </div>
        <div id="accordionSettings-one" class="collapse in" role="tabpanel">
          <div class="panel-body">
              <h3>ANTECEDENTES NO PATOLÓGICOS</h3>

              <%= form_for [:admin, @default_no_pathological],url:  save_no_pathologicals_admin_clinic_infos_path,html: {method: :post}  do  |a| %>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="checkbox">
                        <label>
                          <%= a.check_box :smoking, :class => "no_pathological_check" %>
                          <i class="input-helper"></i>
                          <strong class="font_size_medical_history">Tabaquismo</strong>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <strong class="col-md-2 font_size_medical_history">Grado:</strong>
                        <div class="col-md-10">
                          <div class="fg-line">
                            <%= a.text_field :smoking_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <div class="checkbox">
                        <label>
                          <%= a.check_box :alcoholism, :class => "no_pathological_check" %>
                          <i class="input-helper"></i>
                          <strong class="font_size_medical_history">Alcoholismo</strong>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <strong class="col-md-2 font_size_medical_history">Grado:</strong>
                        <div class="col-md-10">
                          <div class="fg-line">
                            <%= a.text_field :alcoholism_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <div class="checkbox">
                        <label>
                          <%= a.check_box :drugs, :class => "no_pathological_check" %>
                          <i class="input-helper"></i>
                          <strong class="font_size_medical_history">Toxicomanías</strong>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <strong class="col-md-2 font_size_medical_history">Grado:</strong>
                        <div class="col-md-10">
                          <div class="fg-line">
                            <%= a.text_field :drugs_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <div class="checkbox">
                        <label>
                          <%= a.check_box :play_sport, :class => "no_pathological_check" %>
                          <i class="input-helper"></i>
                          <strong class="font_size_medical_history">¿Practica alg&uacute;n deporte?</strong>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                        <div class="col-md-10">
                          <div class="fg-line">
                            <%= a.text_field :play_sport_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <strong class="font_size_medical_history">Escolaridad:</strong>
                      <%= a.text_field :scolarship, :class => "form-control input-lg", :placeholder => "Ingrese la escolaridad"%>
                    </div>
                    <div class="col-md-4">
                      <strong class="font_size_medical_history">Estado Civil:</strong>
                          <%= a.select :marital_status_id, options_for_select(MaritalStatus.all.map{ |ms| [ms.male, ms.id] },@default_no_pathological.marital_status_id),{}, class: 'selectpicker form-control' %>


                    </div>
                    <div class="col-md-4">
                      <strong class="font_size_medical_history">Religión:</strong>
                      <%= a.text_field :religion, :class => "form-control input-lg", :placeholder => "Ingrese la religión"%>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <strong class="font_size_medical_history">Anotaciones</strong>
                    </div>
                    <div class="col-md-12">
                      <div class="fg-line">
                        <%= a.text_field :annotations, :class => "form-control input-lg",:placeholder => "Anotaciones generales no patológicos" %>
                      </div>
                    </div>
                  </div>
                <br>
                <div class="row">
                  <div class="col-xs-6">
                  </div>
                  <div class="col-xs-6">
                    <span class="col-xs-3"></span>
                    <span class="col-xs-1"></span>
                    <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
                  </div>
                </div>
              <% end %>


          </div>
        </div>
      </div>

      <div class="panel panel-collapse">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionSettings" href="#accordionSettings-two" aria-expanded="false">
              ANTECEDENTES PATOLÓGICOS
            </a>
          </h4>
        </div>
        <div id="accordionSettings-two" class="collapse" role="tabpanel">
          <div class="panel-body">
            <h3>ANTECEDENTES PATOLÓGICOS</h3>

            <%= form_for [:admin, @default_pathological],url:  save_pathologicals_admin_clinic_infos_path,html: {method: :post}  do  |a| %>
                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :diabetes, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Diabetes</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :diabetes_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :overweight, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Sobrepeso</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :overweight_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :hypertension, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Hipertensión</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :hypertension_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :asthma, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Asma</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :asthma_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :cancer, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Cancer</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :cancer_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :psychiatric_diaseases, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Enfermedades psiquiátricas</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :psychiatric_diaseases_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :neurological_diseases, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Enfermedades neurológicas</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :neurological_diseases_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :cardiovascular_diseases, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Enfermedades cardiovasculares</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :cardiovascular_diseases_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :bronchopulmonary_diseases, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Enfermedades broncopulmonares</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :bronchopulmonary_diseases_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :thyroid_diseases, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Enfermedades tiroideas</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :thyroid_diseases_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :kidney_diseases, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Enfermedades renales</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :kidney_diseases_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :allergy, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Alergias</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Especifique:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :allergy_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="checkbox">
                        <label>
                          <%= a.check_box :other_diseases, :class => "no_pathological_check" %>
                          <i class="input-helper"></i>
                          <strong class="font_size_medical_history">Otras enfermedades</strong>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <strong class="font_size_medical_history">Anotaciones</strong>
                    </div>
                    <div class="col-md-12">
                      <div class="fg-line">
                        <%= a.text_field :annotations, :class => "form-control input-lg",:placeholder => "Anotaciones generales no patológicos" %>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-12">
                    <strong class="font_size_medical_history">Cirugías</strong>
                  </div>
                  <div class="col-md-12">
                    <div class="fg-line">
                      <%= a.text_field :surgeries, :class => "form-control input-lg",:placeholder => "Ingrese las cirugías" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <strong class="font_size_medical_history">Transfusiones</strong>
                  </div>
                  <div class="col-md-12">
                    <div class="fg-line">
                      <%= a.text_field :transfusions, :class => "form-control input-lg",:placeholder => "Ingrese las transfusiones" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <strong class="font_size_medical_history">Padecimientos recientes</strong>
                  </div>
                  <div class="col-md-12">
                    <div class="fg-line">
                      <%= a.text_field :recent_diseases, :class => "form-control input-lg",:placeholder => "Ingrese padecimientos recientes" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <strong class="font_size_medical_history">Otras alergias</strong>
                  </div>
                  <div class="col-md-12">
                    <div class="fg-line">
                      <%= a.text_field :other_allergies, :class => "form-control input-lg",:placeholder => "Ingrese otras alergias" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <strong class="font_size_medical_history">Otros medicamentos</strong>
                  </div>
                  <div class="col-md-12">
                    <div class="fg-line">
                      <%= a.text_field :other_medicaments, :class => "form-control input-lg",:placeholder => "Ingrese otros medicamentos" %>
                    </div>
                  </div>
                </div>


                <br>
                <div class="row">
                  <div class="col-xs-6">
                  </div>
                  <div class="col-xs-6">
                    <span class="col-xs-3"></span>
                    <span class="col-xs-1"></span>
                    <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
                  </div>
                </div>
            <% end %>

          </div>
        </div>
      </div>

      <div class="panel panel-collapse">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionSettings" href="#accordionSettings-three" aria-expanded="false">
              ANTECEDENTES GINECO-OBSTÉTRICOS
            </a>
          </h4>
        </div>
        <div id="accordionSettings-three" class="collapse" role="tabpanel">
          <div class="panel-body">
            <h3>ANTECEDENTES GINECO-OBSTÉTRICOS</h3>

            <%= form_for [:admin, @default_ginecology_background],url:  save_ginecological_background_admin_clinic_infos_path,html: {method: :post}  do  |a| %>
                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :ginecopatia, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Ginecopatias</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :ginecopatia_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :mastopatia, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Mastopatias</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :mastopatia_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :gemelaridad, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Gemelaridad</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :gemelaridad_description, :class => "form-control input-lg", :placeholder => "Grado del antecedente" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :congenital_anomalies, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Defectos congenitos y mal formaciones</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :congenital_anomalies_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :infertility, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Infertilidad</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :infertility_description, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :others, :class => "no_pathological_check" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Otros</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong class="col-md-2 font_size_medical_history">Descripción:</strong>
                      <div class="col-md-10">
                        <div class="fg-line">
                          <%= a.text_field :others_diseases, :class => "form-control input-lg", :placeholder => "Descripción del deporte"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <strong class="font_size_medical_history">Anotaciones</strong>
                  </div>
                  <div class="col-md-12">
                    <div class="fg-line">
                      <%= a.text_field :annotations, :class => "form-control input-lg",:placeholder => "Anotaciones generales no patológicos" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <br>
                    <strong class="font_size_medical_history">Menarca:</strong><br>
                    <%= a.text_field :menstruation_start_age, :class => "form-control input-lg", :placeholder => "Menarca" %>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <strong class="font_size_medical_history">Ciclos:</strong><br>
                    <%= a.text_field :cycles, :class => "form-control input-lg", :placeholder => "Ciclos" %>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <strong class="font_size_medical_history">IVS:</strong><br>
                    <%= a.text_field :ivs, :class => "form-control input-lg", :placeholder => "IVS" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <strong class="font_size_medical_history">G:</strong><br>
                    <%= a.number_field :gestations, :class => "form-control input-lg", :placeholder => "Gestaciones" %>
                  </div>
                  <div class="col-md-3">
                    <br>
                    <strong class="font_size_medical_history">P :</strong><br>
                    <%= a.number_field :natural_births, :class => "form-control input-lg", :placeholder => "Partos naturales" %>
                  </div>

                  <div class="col-md-3">
                    <br>
                    <strong class="font_size_medical_history">Ab:</strong><br>
                    <%= a.number_field :abortions, :class => "form-control input-lg", :placeholder => "Abortos" %>

                  </div>
                  <div class="col-md-3">
                    <br>
                    <strong class="font_size_medical_history">Ce:</strong><br>
                    <%= a.number_field :cesareans, :class => "form-control input-lg", :placeholder => "Cesáreas" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <br>
                    <strong class="font_size_medical_history">Causas del aborto:</strong><br>
                    <div class="fg-line">
                      <%= a.text_field :abortion_causes, :class => "form-control input-lg", :placeholder => "Describa las causas de aborto" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <strong class="font_size_medical_history">Menopausia:</strong>
                  </div>
                  <div class="col-md-9">
                    <br>
                    <div class="fg-line">
                      <%= a.text_field :menopause, :class => "form-control input-lg", :placeholder => "Tipo de menopausia de la paciente"%>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <strong class="font_size_medical_history">Nombre del cónyuge:</strong>
                  </div>
                  <div class="col-md-9">
                    <div class="fg-line">
                      <%= a.text_field :spouse_name, :class => "form-control input-lg", :placeholder => "Ingrese el nombre del cónyuge"%>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <strong class="font_size_medical_history">Información del cónyuge:</strong>
                  </div>
                  <div class="col-md-9">
                    <br>
                    <div class="fg-line">
                      <%= a.text_area :spouse_information, :class => "form-control input-lg", :placeholder => "Ingrese información del cónyuge"%>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <%= a.check_box :sexually_active, :class => "gob_data" %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">¿Sexualmente activa?</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <strong class="font_size_medical_history">Número de compañeros sexuales</strong>
                    <br>
                    <div class="fg-line">
                      <%= a.number_field :sexual_partners, :class => "form-control input-lg", :placeholder => "Número de compañeros sexuales"%>
                    </div>
                  </div>
                  <div class="col-md-5">

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <strong class="font_size_medical_history">Métodos anticonceptivos:</strong>
                  </div>
                  <div class="col-md-9">
                    <br>
                    <div class="fg-line">
                      <%= a.text_field :contraceptives_method, :class => "form-control input-lg", :placeholder => "Método / Duración"%>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <strong class="font_size_medical_history">Enfermedades de transmisión sexual:</strong>
                  </div>
                  <div class="col-md-9">
                    <br>
                    <div class="fg-line">
                      <%= a.text_field :std, :class => "form-control input-lg", :placeholder => "Enfermedades de transmisión sexual"%>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <strong class="font_size_medical_history">Anotaciones:</strong>
                  </div>
                  <div class="col-md-9">
                    <br>
                    <div class="fg-line">
                      <%= a.text_area :obstetrical_annotations, :class => "form-control input-lg", :placeholder => "Otras anotaciones importantes"%>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-6">
                  </div>
                  <div class="col-xs-6">
                    <span class="col-xs-3"></span>
                    <span class="col-xs-1"></span>
                    <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
                  </div>
                </div>
            <% end %>

          </div>
        </div>
      </div>

      <div class="panel panel-collapse">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionSettings" href="#accordionSettings-four" aria-expanded="false">
              ANTECEDENTES PERINATALES
            </a>
          </h4>
        </div>
        <div id="accordionSettings-four" class="collapse" role="tabpanel">
          <div class="panel-body">
            <%= form_for [:admin, @default_perinatal_background],url:  save_perinatal_background_admin_clinic_infos_path,html: {method: :post}  do  |a| %>

                <div class="row">
                  <div class="col-md-8" >
                    <div class="form-group fg-line">
                      <%= a.label :hospital,"Hospital / Clínica", :class=>"control-label bold font_size_medical_history"  %><br>
                      <%= a.text_field :hospital, :class =>  "form-control input-lg", :placeholder => "Hospital o Clínica donde nació el menor"  %>
                    </div>
                  </div>
                  <div class="col-md-4" >
                  </div>
                  <div class="col-md-4" >
                  </div>
                  <div class="col-md-4" >
                    <div class="form-group input-group">
                      <div class="fg-line">
                        <%= a.label :weight,"Peso al Nacer", :class=>"control-label bold font_size_medical_history"  %><br>
                        <%= a.text_field :weight, :class =>  "form-control input-lg", :placeholder => "Peso en Kg"  %>
                      </div>
                      <span class="input-group-addon last">Kg</span>
                    </div>
                  </div>
                  <div class="col-md-4" >
                    <div class="form-group input-group">
                      <div class="fg-line">
                        <%= a.label :height,"Altura al Nacer", :class=>"control-label bold font_size_medical_history"  %><br>
                        <%= a.text_field :height, :class =>  "form-control input-lg", :placeholder => "Altura en cm"  %>
                      </div>
                      <span class="input-group-addon last">CM</span>
                    </div>
                  </div>
                  <div class="col-md-6" >
                    <div class="form-group fg-line">
                      <%= a.label :pregnancy_risks,"Riesgos en el embarazo", :class=>"control-label bold font_size_medical_history"  %><br>
                      <%= a.text_area :pregnancy_risks,:rows => 3, :class =>  "form-control input-lg", :placeholder => "Describa los riesgos que tuvo durante el embarazo"  %>
                    </div>
                  </div>
                  <div class="col-md-6" >
                    <div class="form-group fg-line">
                      <%= a.label :other_info,"Otra Información", :class=>"control-label bold font_size_medical_history"  %><br>
                      <%= a.text_area :other_info,:rows => 3, :class =>  "form-control input-lg", :placeholder => "Otra información importante"  %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" >
                    <div class="form-group fg-line">
                      <%= a.label :scholarship,"Escolaridad del menor", :class=>"control-label bold font_size_medical_history"  %><br>
                      <%= a.text_field :scholarship, :class =>  "form-control input-lg", :placeholder => "Ingrese el grado escolar del menor"  %>
                    </div>
                  </div>
                  <div class="col-md-8" >
                    <div class="form-group fg-line">
                      <%= a.label :house_type,"Tipo de vivienda", :class=>"control-label bold font_size_medical_history"  %><br>
                      <%= a.text_field :house_type, :class =>  "form-control input-lg", :placeholder => "Tipo de vivienda"  %>
                    </div>
                  </div>
                  <div class="col-md-4" >
                    <div class="form-group fg-line">
                      <%= a.label :hounse_inmates,"Número de personas en la vivienda", :class=>"control-label bold font_size_medical_history"  %><br>
                      <%= a.text_field :hounse_inmates, :class =>  "form-control input-lg", :placeholder => "Número de personas en la casa"  %>
                    </div>
                  </div>

                </div>
                <br>
                <div class="row">
                  <div class="col-xs-6">
                  </div>
                  <div class="col-xs-6">
                    <span class="col-xs-3"></span>
                    <span class="col-xs-1"></span>
                    <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
                  </div>
                </div>


          <% end %>
          </div>
        </div>
      </div>

      <div class="panel panel-collapse">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionSettings" href="#accordionSettings-five" aria-expanded="false">
              ANTECEDENTES UROLÓGICOS
            </a>
          </h4>
        </div>
        <div id="accordionSettings-five" class="collapse" role="tabpanel">
          <div class="panel-body">
            <%= form_for [:admin, @default_urological_background],url:  save_urological_background_admin_clinic_infos_path,html: {method: :post}  do  |a| %>

                <div class="row">
                  <div class="col-md-12">
                    <strong class="font_size_medical_history">Antecedentes Genitourinarios</strong>
                    <hr>
                  </div>
                  <div class="col-md-4 ">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :testicular_pain %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Dolor testicular</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :impotence %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Impotencia</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :erection_dificulty %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Dificultad de erección</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :premature_ejaculation %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Eyaculación precoz</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :vaginal_discharge %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Flujo vaginal</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :anormal_hair_growth %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Crecimiento anormal de pelo</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :back_pain %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Dolor de espalda</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :kidneys_pain %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Dolor de riñones</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :pelvic_pain %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Dolor pélvico</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :low_abdomen_pain %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Dolor de abdomen bajo</strong>
                      </label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <br><br>
                    <strong class="font_size_medical_history">Valoración Urológica</strong>
                    <hr>
                  </div>

                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :kidney_bk %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Antecedentes renales</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :kidney_stones %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Cálculos</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :venereal_diseases %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Enfermedades venéreas</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :self_examination %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Autoexamen</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :prostate %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Próstata</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <strong class="font_size_medical_history">Último examen prostático</strong>
                    <%
                      date = ''
                      date = @default_urological_background.last_prostate_examination.strftime('%d/%m/%Y') if @default_urological_background.last_prostate_examination.present?
                    %>
                    <%= a.text_field :last_prostate_examination, :class => "form-control input-lg date-picker", :value => date%>
                  </div>
                  <div class="col-md-8 ">
                    <strong class="font_size_medical_history">FUM</strong>
                    <%
                      date = ''
                      date = @default_urological_background.fum.strftime('%d/%m/%Y') if @default_urological_background.fum.present?
                    %>
                    <%= a.text_field :fum, :class => "form-control input-lg date-picker", :value => date%>
                  </div>
                  <div class="col-md-6 ">
                    <strong class="font_size_medical_history">Gestas</strong>
                    <%= a.number_field :gestations, :class => "form-control input-lg" %>
                  </div>
                  <div class="col-md-6 ">
                    <strong class="font_size_medical_history">Último PAP</strong>
                    <%
                      date = ''
                      date = @default_urological_background.last_pap_date.strftime('%d/%m/%Y') if @default_urological_background.last_pap_date.present?
                    %>
                    <%= a.text_field :last_pap_date, :class => "form-control input-lg date-picker", :value => date %>
                  </div>
                  <div class="col-md-12">
                    <strong class="font_size_medical_history">Método anticonceptivo</strong>
                    <%= a.text_field :contraceptive_method, :class => "form-control input-lg" %>
                  </div>

                  <div class="col-md-12">
                    <br><br>
                    <strong class="font_size_medical_history">Sexualidad</strong>
                    <hr>
                  </div>

                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :sexually_active %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Sexualmente activo</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <strong class="font_size_medical_history">Inicio vida sexual</strong>
                    <%= a.text_field :sex_life_start, :class => "form-control input-lg" %>
                  </div>
                  <div class="col-md-4">
                    <strong class="font_size_medical_history">Número de parejas sexuales</strong>
                    <%= a.text_field :sexual_partners, :class => "form-control input-lg" %>
                  </div>
                  <div class="col-md-12">
                    <strong class="font_size_medical_history">Tipo de relación</strong>
                    <%
                      relationship_type = @default_urological_background.relationship_type
                    %>
                    <%= a.select :relationship_type, options_for_select(['No especificado','Heterosexual','Homosexual','Bisexual'].map{ |rt| [rt, rt] },relationship_type),{}, class: 'form-control' %>

                  </div>
                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :satisfying_sex %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Sexo satisfactorio</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox m-b-15">
                      <label>
                        <%= a.check_box :intercourse_pain %>
                        <i class="input-helper"></i>
                        <strong class="font_size_medical_history">Dolor al coito</strong>
                      </label>
                    </div>
                  </div>



                </div>
                <br>
                <div class="row">
                  <div class="col-xs-6">
                  </div>
                  <div class="col-xs-6">
                    <span class="col-xs-3"></span>
                    <span class="col-xs-1"></span>
                    <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
                  </div>
                </div>


            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
