<footer>
  <div class="container">
    <a href="#" class="scrollpoint sp-effect3">
      <img src="<%= image_path('index_page/logo.png') %>" alt="" class="logo">
    </a>

    <div class="social">
      <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
      <a target="_blank" href="https://www.facebook.com/appmedsi" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
    </div>

    <div class="rights">

      <p>Copyright &copy; 2016 Desarrollado por <a href="http://www.techsystems.com.mx" target="_blank">TechSystems</a></p>
    </div>
  </div>
  <div class="rights" align="center">

    <a href="/aviso_de_privacidad" target="_blank">Aviso de Privacidad</a> |
    <a style="cursor: pointer;" data-toggle="modal" data-target="#terms_modal">Términos y Condiciones</a> |
    <a href="/directorio" target="_blank">Directorio</a> |
    <a href="<%= news_index_path %>" target="_blank">Noticias</a>

  </div>
</footer>