<div id="main_chat">
  <div id="main_chat_header">

    ¿Tiene alguna duda? No dude en contactarnos.

  </div>
  <div id="main_chat_form">
    <select id="new_chat_role" class="selectpicker form-control">
      <option value="doctor">Soy Doctor</option>
      <option value="patient">Soy Paciente</option>
    </select>

    <input id="new_chat_name" type="text" placeholder="Ingrese su nombre" class="form-control">
    <input id="new_chat_email" type="text" placeholder="Ingrese su correo" class="form-control">
    <a id="start_chat_btn" class="btn btn-info">Comenzar Chat</a>
  </div>
</div>