/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require fullcalendar/fullcalendar.min
 *= require animate.css/animate.min
 *= require select2/select2.min
 *= require color/jqColor
 *= require bootstrap-sweetalert/sweet-alert
 *= require material-design-iconic-font/css/material-design-iconic-font.min.css
 *= require malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css
 *= require material/app.min.1.css.erb
 *= require material/app.min.2.css.erb
 *= require bootstrap-datetimepicker/bootstrap-datetimepicker
 *= require bootstrap-select/bootstrap-select
 *= require bootstrap-bootgrid/jquery.bootgrid
 *= require doctor/files
 *= require viewjs/viewer
 *= require font-awesome
 *= require bootstrap-duallistbox
 *= require morris
 *= require doctor/medical_consultations
 *= require summernote/summernote

  *= require dataTables/dataTables.bootstrap.min
 *= require dataTables/buttons.dataTables.min
 *= require dataTables/common
 *= require dataTables/mixins
 *= require dataTables/responsive.bootstrap.min
 */


/*Style Datatable*/

.datatable_custom table{
    width: 100% !important;
}

.datatable_custom {
    padding: 0 !important;
}

.datatable_custom .table > thead > tr > th:first-child,
.datatable_custom .table > tbody > tr > th:first-child,
.datatable_custom .table > tfoot > tr > th:first-child,
.datatable_custom .table > thead > tr > td:first-child,
.datatable_custom .table > tbody > tr > td:first-child,
.datatable_custom .table > tfoot > tr > td:first-child {
    padding-left: 15px;
}


.datatable_custom label {
    margin: 0px;
}

.datatable_custom .btn-icon, .datatable_custom .pagination > li > a, .datatable_custom .pagination > li > span{
    line-height: 36px;
}

.datatable_custom button, .datatable_custom a, .datatable_custom select{
    text-align: center !important;
    height: 35px !important;
    width: 35px !important;
    box-shadow: none !important;
    border: 1px solid #e0e0e0 !important;
}

.datatable_custom a span{
    position: relative;
    font-size: 15px;
    left: -3px;
}

.datatable_custom .center_column_visible span {
    left: 1px;
    font-size: 17px;
}

.datatable_custom select{
    width: auto !important;
    padding: 0px 12px !important;
}

.datatable_custom .dt-button {
    float: left !important;
    background-image: none;
    background-color: transparent;
}

.datatable_custom .dataTables_length {
    float: left;
}

.datatable_custom .dt_button a {
    border: 1px solid #e0e0e0;
}

@media screen and (max-width: 640px) {
    .datatable_custom div.dt-buttons {
        display: inline-block;
    }
}

.datatable_custom .actionBar {
    height: 36px;
}

.datatable_custom .actionBar .input-group .icon {
    width: 35px !important;
}

@media (max-width: 480px){
    .datatable_custom .search {
        display: block !important;
    }
}

.datatable_custom .search {
    height: 35px;
    width: 100%;
    vertical-align: top !important;
}

.datatable_custom .search .input-group {
    width: 100%;
}

.datatable_custom .dataTables_filter input {
    height: 33px !important;
    width: 100% !important;
    margin: 0px !important;
    border: none;
}

.datatable_custom .dataTables_filter label {
    display: block;
    width: 100%;
}

.datatable_custom div.dataTables_wrapper div.dataTables_paginate {
    text-align: left;
}

.datatable_custom div.dataTables_wrapper div.dataTables_info {
    text-align: right;
    border: 1px solid #EEE;
    display: inline-block;
    float: right;
    padding: 7px 30px;
    font-size: 12px;
    margin-top: 5px;
}

/*-- Tablas --*/

.table-custom > thead > tr > th{
    background-color: #00BCD4 !important;
    color: white !important;
}

.table-custom {
    border: 1px solid #f4f4f4;
}

.table-custom button, .table-custom a, .table-custom select
{
    text-align: center !important;
    height: 35px !important;
    width: 35px !important;
    box-shadow: none !important;
    border: 1px solid #e0e0e0 !important;
}

.table-custom .btn-icon{
    line-height: 36px;
}

#main{
    margin-left: -30px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #afd9ee;
    color: #0a6ebd;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    /*max-height: 0;*/
    overflow: hidden;
    transition: 0.6s ease-in-out;
    /*opacity: 0;*/
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #006f7d;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #afd9ee;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */

.note-editable {
    line-height: 1.0;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}



@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* tomar fotos */

#error_explanation ul {
    color: red;
}


label.error {
    color: #a94442;
    /*background-color: #f2dede;*/
    border-color: #ebccd1;
    padding:1px 20px 1px 20px;
}

.lead.text-muted{
    font-size: 20px !important;
}
/*
#vaccine_book{
    width: 100%;
    text-align: left;
    background-color: lemonchiffon;
    border-collapse: collapse;
}

#vaccine_book th {
    background-color: #3a87ad;
    color: white;
}
.vaccine_aplicated_cell{
    background-color: #3BB3C2;

}
#vaccine_book a {
    color: black;
}
#vaccine_book td,
#vaccine_book th {
    padding: 10px;
    border: 1px solid #009688;
}
*/
/*
#vaccine_book {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}*/

.card .card-header h2.page_title{
    font-size: 22px;
}


.font_size_medical_history{
    font-size: 1.2em;
}


/*appointments*/
.actions_pending_appointment i{
    cursor: pointer;
}


/*bootgrid filters*/
@media only screen and (max-width: 400px) {
    .actionBar .search.form-group{
        width: 100%;
    }
}

/** Código para el nuevo menú **/

#small_menu .popover{
    width: 200px;
}

#small_menu .popover-content a{
    color: #336799 !important;
    line-height: 20px ;
}

#small_menu .popover-title{
    text-transform: none;
}

#small_menu{
    height: 100%;
    overflow:hidden;
}
#small_menu:hover { overflow-y:scroll; }

#small_menu::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#small_menu::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#small_menu::-webkit-scrollbar-thumb
{
    background-color: gray;
}

#main_menu_small{
    padding-top: 20px;
    padding-bottom: 20px;


    width: 60px;
    position: fixed;
    z-index: 1000;
    height: 75%;
    background: #00bcd4;


}

#small_menu li{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

#small_menu li a{
    color: white;
    cursor: pointer;
}

#small_menu li a:hover{
    color: #336799;
}

ul.small_submenu{
    overflow-y: auto;
}

ul.small_submenu li a{
    font-size: 14px;
    color: #336799 !important;
}


/** Código para el nuevo menú **/


.card-body{
    font-size: 14px;
}

/*estilo para el campo de checkbox con texto*/
.checkbox_text_field .text{
    display: none;
}

.consultation_field_holder{
    padding-bottom: 5px;
}