/*
 *= require index_page/bootstrap.min.css
 *= require index_page/animate
 *= require index_page/font-awesome.min.css.erb
 *= require index_page/slick.css.erb
 *= require index_page/rs-plugin-settings.css.erb
 *= require index_page/styles.css.erb
 *= require bootstrap-sweetalert/sweet-alert.css
 *= require jquery-ui.css.erb
 */


.dropdown-menu.features li a{
  color: #336799 !important;
}

.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block;
}

.ui-icon {
  width: 16px;
  height: 16px;
}

.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url("<%= image_url('ui-icons_444444_256x240.png') %>");
}
.ui-widget-header .ui-icon {
  background-image: url("<%= image_url('ui-icons_444444_256x240.png') %>");
}


/* Directorio */
#specialties_holder{
    max-height: 600px;
    overflow-y: scroll;
}

#specialties_list li{
    list-style: none;
    border-bottom: 1px #ccc solid;
    padding: 10px;
}

#specialties_list li.active{
    background-color: #0a68b4;
}

#specialties_list li.active a{
    color:white;
}

#specialties_list li a{
    font-size: 15px;
    cursor: pointer;
    color: #0a68b4;
}

.ui-widget-header{
    background: white;
}


/* directorio */
.doctor_info_holder{
  height: 180px;
  text-align: center;
  position: relative;
}

.open_info_btn_holder{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.open_info_btn_holder a{
  width: 100% !important;
}

/* --- directorio */

/* chat */

#main_chat{
  width: 300px;
  color: white;
  font-weight: bold;
  border: 1px #5698BC solid;

  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
}

#main_chat_header{
  background: #00a5bb;
  padding: 10px;
  cursor: pointer;
}

#main_chat_form{
  padding: 20px;
  background: white;
  display: none;
}

#main_chat_form input{
  margin-bottom: 10px;
}

#main_chat_form select{
  margin-bottom: 10px;
}

#start_chat_btn{
  margin-top: 10px;
  width: 100%;
}

.inline_list li{
  display: inline;
  font-size: 20px;
  padding: 15px;
}

.container_features_hospital{
  background: url("<%= image_url('index_page/hospital_bk') %>") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
