/*
 *= require index_page/bootstrap.min.css
 */

#user_chat_content{
    height: 350px;
    overflow-y: scroll;
}

#user_chat_buttons{
    padding: 20px;
    text-align: right;
}

#input_message_holder{
    padding: 0px 20px;
}

#user_chat_buttons a{
    padding: 10px 30px;
}

.bubble {
    font-size: 14px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
}

.you {
    float: left;
    color: white;
    background-color: #5bc0de;
    margin-left: 20px;
}
.me {
    float: right;
    background-color: #eceff1;
    color: #6E6E6E;
    margin-right: 20px;
}