/*
*= require reset-style-login/reset
*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
   /* background-image:url(<%= image_path("fondo.jpg") %>); */
    background-repeat:no-repeat;
    background-position:fixed;
    z-index: 99999;
    /*background-size:100% auto;
    background: #448ed3 ;
    font-family: "Lato" ; */
}
@media (min-width: 1330px) {
    body {
        background-image: url(<%= image_path("fondo.jpg") %>);
        background-size:100% auto;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 1329px) {
    body {
        background-image: url(<%= image_path("fondo.jpg") %>);
        /*background-size:100% auto;*/
    }
}

.wrap {
    width:250px;
    height: auto;
    margin: auto;
    margin-top: 10%;
    padding: 0px 15px 15px 15px;
    background: rgba(255, 255, 255, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 99999;
}

.avatar {
    width: 100%;
    margin: auto;
    width: 75px;
    border-radius: 100px;
    height: 75px;
    background: #00bcd4 ;
    position: relative;
    bottom: -15px;
}
.avatar img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    margin: auto;
    border:0px solid #fff;
    display: block;
}
.wrap input {
    border: none;
    background: #fff;
    font-family:Lato ;
    font-weight:700 ;
    /*display: block;*/
    height: 40px;
    outline: none;
    width: calc(100% - 24px) ;
    margin: auto;
    padding: 6px 12px 6px 12px;
}

* {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.bar {
    width: 100%;
    height: 1px;
    background: #fff ;
}
.bar i {
    width: 95%;
    margin: auto;
    height: 1px ;
    display: block;
    background: #d1d1d1;
}
.wrap input[type="text"] {
    border-radius: 7px 7px 0px 0px ;
}

.wrap input[id="user_email"] {
    border-radius: 7px 7px 7px 7px ;
}

.wrap input[type="password"] {
    border-radius: 0px 0px 7px 7px ;
}
.forgot_link {
    color: #666 ;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    left: 0px;
    top: 5px;
}
.wrap #submit_login {
    width: 100%;
    border-radius: 7px;
    background: #4caf50/*#b6ee65*/;
    text-decoration: center;
    border: none;
    color: /*#51771a*/ #fff;
    margin-top: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    outline: none;
    font-size: 18px;
    border-bottom: 0px solid #307d63;
    cursor: pointer;
}
.wrap #return_reset_pass_btn, #send_email{
    /*border-radius: 7px; */
}

.btn-group-wrap {
    text-align: center;
}

div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
}