<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-header">
          <h2 class="page_title">Historial de caja</h2>
        </div>
      </div>


        <div class="col-xs-2">
          <strong>Fecha inicio</strong>
          <input class="form-control date-picker input-lg " value="" type="text" name="start_date" id="start_date" aria-required="true" aria-invalid="false">
        </div>
        <div class="col-xs-2">
          <strong>Fecha fin</strong>
          <input class="form-control date-picker input-lg " value="" type="text" name="end_date" id="end_date" aria-required="true" aria-invalid="false">
        </div>
        <div class="col-xs-2">
          <input type="button" class="pull-right btn bgm-blue waves-effect" onclick="reload_daylies()" value="Buscar">
        </div>
        <div class="col-xs-2">
          <input type="button" class="pull-right btn bgm-indigo waves-effect" onclick="clear_history_filters()" value="Ver todo">
        </div>
        <div class="col-xs-2">

        </div>
        <div class="col-xs-2">
          <span></span>
          <!--<input type="button" class="pull-right btn bgm-red waves-effect" onclick="print_report_invoices()" value="Imprimir">-->
        </div><div class="col-xs-12">


        <table id="data-table-history-daily-cash" class="table table-striped" data-source="<%= history_doctor_daily_cashes_path(format: "json")%>">
          <thead>
          <tr>
            <th data-column-id="date" >FECHA DE APERTURA</th>
            <th data-column-id="account" >CUENTA</th>
            <th data-column-id="responsable">RESPONSABLE</th>
            <th data-column-id="start_balance">SALDO INICIAL</th>
            <th data-column-id="end_balance">SALDO FINAL</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>




