<input type="hidden" id="current_office_id" value="<%= session[:current_office_id] %>">
<input type="hidden" id="daily_cashes_url" value="<%= doctor_daily_cashes_path  %>">
<input type="hidden" id="add_transaction_url" value="<%= add_transaction_doctor_daily_cashes_path  %>">

<% clinic = ClinicInfo.find(1)
   exchanges = clinic.currency_exchanges
%>

<div class="row">
  <div class="col-md-6">
    <a class="btn btn-success" onclick="openAddTransactionModal()">Agregar Movimiento</a>
    <% if @show_add_daily_cash_btn %>
        <a class="btn btn-primary" id="open_dc_btn">Abrir caja</a>
    <% end %>
  </div>
  <br>
  <hr>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Fecha Apertura</th>
    <th>Cuenta</th>
    <th>Responsable</th>
    <th>Saldo actual</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @daily_cashes.each do |dc|  %>
  <tr id="dc_<%= dc.id %>">
    <td>
      <%= dc.start_date.strftime('%d/%m/%Y') %>
    </td>
    <td>
      <%= dc.account.account_number+' ( '+dc.account.bank.name+' )' %>
    </td>
    <td>
      <% user = dc.user; %>
      <%= user.owner_name %>
    </td>
    <td>
          <% dc.dc_balances.each do |dcb| %>
              <%= number_to_currency(dcb.end, unit: dcb.currency.symbol+' ') %> (<%= dcb.currency.iso_code %>)<br>
          <% end %>
    </td>
    <td>
      <a title="Mostrar" href="<%= doctor_daily_cash_path dc.id %>" class="btn btn-primary btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-money-box"></i></a>
      <% if dc.user_id == session[:user_id].to_i || session[:role] == 'admin' %>
          <a title="Cerrar" class="open_close_dc_modal_btn btn btn-danger btn-icon waves-effect waves-circle waves-float" acnt="<%= dc.account_id %>" dcid="<%= dc.id %>"><i class="zmdi zmdi-close-circle-o"></i></a>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>

</table>


<div class="modal fade" id="open_daily_cash_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Abrir corte de caja</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <select class="selectpicker form-control" id="daily_cash_account">
              <option id="open_account_0" value="0" balance="0">Seleccione una cuenta local</option>
              <% @accounts.each do |a| %>
                  <option id="open_account_<%= a.id %>" value="<%= a.id %>" balance="<%= a.balance %>"><%= a.account_number %></option>
              <% end %>
            </select>

            <br>
            <% if @accounts.size == 0 %>
                <div class="alert alert-danger">
                  Parece que hay un corte de caja abierto de la cuenta o no tiene permiso para abrir corte de caja.
                </div>
            <% end %>
            <br>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="create_dc_btn">Abrir</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="add_transaction_window" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_transaction_title">Agregar Transacción</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">

          <div class="row">
            <div class="col-md-6">
              <strong>Tipo de Movimiento:</strong> <br>
              <select onchange="resetPrice()" class="selectpicker form-control" id="transaction_type">
                <%
                  clinic = ClinicInfo.find(1)
                %>
                <% @transaction_types.each do |tt|
                   if tt.id == TransactionType::REPORT && !clinic.charge_reports
                      next
                   end
                %>
                    <option value="<%= tt.id %>"><%= tt.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-6">
              <strong>Tipo de Operación:</strong> <br>
              <select class="selectpicker form-control" id="t_type">
                <option value="1">Ingreso</option>
                <option value="0">Egreso</option>
              </select>
            </div>
            <div class="col-md-6">
              <strong>Método de Pago:</strong> <br>
              <select class="selectpicker form-control" id="transaction_payment_method">
                <% @payment_methods.each do |pm| %>
                    <option id="payment_method_<%= pm.id %>" affect_local="<%= pm.affect_local %>" value="<%= pm.id %>"><%= pm.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-6">
              <strong id="account_label">Cuenta:</strong> <br>
              <select class="selectpicker form-control" id="transaction_account">
                <option value="">Seleccionar cuenta...</option>
                <% @all_accounts.each do |a| %>
                    <option id="account_<%= a.id %>" class="t_account account_office_<%= a.office_id %> <%= a.bank.is_local ? 'local_account' : 'bank_account' %>"
                            currency="<%= a.bank.is_local ? '' : a.currency_id %>" value="<%= a.id %>">
                      <%= a.account_number %> - <%= a.bank.name %> <%= a.bank.is_local ? '' : '('+a.currency.iso_code+')' %>
                    </option>
                <% end %>
              </select>
            </div>

            <div class="col-md-12">
              <strong>Cuenta Destino:</strong> <br>
              <select class="selectpicker form-control" id="to_account">
                <% @all_accounts.each do |a| %>
                    <option id="target_account_<%= a.id %>" value="<%= a.id %>"
                            class="<%= a.bank.is_local ? 'target_local_account' : 'target_bank_account' %>"
                            currency="<%= a.bank.is_local ? '' : a.currency_id %>">
                      <%= a.account_number %> - <%= a.bank.name %> <%= a.bank.is_local ? '' : '('+a.currency.iso_code+')' %>
                    </option>
                <% end %>
              </select>
            </div>

            <div class="col-md-6">
              <strong>Consulta:</strong> <br>
              <select onchange="setPrice()" class="selectpicker form-control" id="transaction_consult">
              </select>
            </div>

            <div class="col-md-6">
              <strong>Reporte:</strong> <br>
              <select class="selectpicker form-control" id="transaction_report">
              </select>
            </div>

            <div class="col-md-12">
              <strong>Concepto:</strong> <br>
              <select class="selectpicker form-control" id="movement_type">
                <option value="">Seleccione un concepto</option>
                <%
                  @movement_types.each do |data|
                %>

                      <%
                        movement_types = data['data']
                        movement_types.each do |mt|
                      %>
                          <option class="<%= data['category']['type'] ? 'ingress':'egress' %>" value="<%= mt.id %>"><%= data['category']['name'] %> | <%= mt.name %></option>
                      <% end %>

                <% end %>
              </select>
            </div>
            <div class="col-md-12">
              <strong>Monto:</strong><br>

              <%
                exchanges.each do |de|
              %>
                 <label style="font-size: 16px; margin-right: 10px;" class="">
                   <input type="checkbox" <%= de.is_default ? 'checked' : '' %>
                          class="add_currency_amount"
                          id="doctor_currency_<%= de.currency_id %>"
                          exchange="<%= de.value %>"
                          name="add_currency_amount"
                          value="<%= de.currency_id %>"> <%= de.currency.iso_code %>
                 </label>
              <% end %>

              <%
                exchanges.each do |de|
              %>
                  <div class="row" id="de_holder_<%= de.currency_id %>" style="display: <%= de.is_default ? 'block' : 'none' %>;">
                    <div class="col-md-10">
                      <input type="number" id="currency_input_<%= de.currency_id %>" class="form-control input-lg <%= de.is_default ? 'default_exchange' : '' %>" placeholder="Ingrese el monto" value="0">
                    </div>
                    <div class="col-md-2">
                      <span class="input-group-addon last"><%= de.currency.iso_code %></span>
                    </div>

                  </div>
              <% end %>
            </div>


            <div class="col-md-12">
              <br>
              <div class="form-group">
                <label for="activity_details">Detalles</label>
                <div class="fg-line">
                  <textarea class="input-sm form-control input-lg" id="transaction_details" placeholder=""></textarea>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_transaction_btn">Agregar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="close_daily_cash_window" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="close_daily_cash_title">Cerrar corte de Caja</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">

          <div class="row">
            <div class="col-md-12">
              <strong>Indique el tipo de operación que desea realizar:</strong> <br>
              <select class="selectpicker form-control" id="final_transaction">
                <option value="1">Cerrar caja</option>
                <option value="2">Retiro de Efectivo</option>
                <option value="3">Transferencia a Cuenta</option>
              </select>
            </div>


            <div class="col-md-12" style="display: none;" id="close_data">
              <% exchanges.each do |de| %>
                  <label style="font-size: 16px; margin-right: 10px;" class="">
                    <input type="checkbox"
                           class="close_dc_currency" name="close_dc_currency" value="<%= de.currency_id %>"> <%= de.currency.iso_code %>
                  </label>
              <% end %>
              <div>
                <div class="col-md-6"><strong>Monto</strong></div>
                <div class="col-md-6"><strong><br><br></strong></div>
              </div>
              <% exchanges.each do |de| %>
                  <div id="amount_target_holder_<%= de.currency_id %>" style="display: none;">
                    <div class="col-md-4">
                      <input type="text" class="form-control input-lg" value="0"  id="close_dc_currency_<%= de.currency_id %>">
                    </div>
                    <div class="col-md-2" style="padding-top: 15px;"><%= de.currency.iso_code %></div>
                    <div class="col-md-6 target_close_cd_holder" style="padding-top: 10px;" id="target_close_dc_<%= de.currency_id %>">
                      <select class="selectpicker form-control" id="target_account_close_dc_<%= de.currency_id %>">
                        <% @all_accounts.each do |a| %>
                            <option id="target_close_dc_option_<%= a.id %>" value="<%= a.id %>" currency="<%= a.bank.is_local ? '': a.currency_id %>" bank="<%= a.bank.is_local ? 'local': 'bank' %>">
                              <%= a.account_number %> - <%= a.bank.name %>
                            </option>
                        <% end %>
                      </select>
                    </div>
                  </div>
              <% end %>
            </div>

            <input type="hidden" id="close_daily_cash_id">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="close_daily_cash_btn" onclick="closeDailyCash()">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>