<%= wicked_pdf_stylesheet_link_tag 'pdf/daily_cash' %>

<div style="display: block; clear: both;">
  <div style="float: left; width: 30%">
    <%= wicked_pdf_image_tag "MEDSI_LOGOTIPO.jpg",:width => "80%" %>
  </div>

  <div style="float: left; width: 70%">
    <strong style="font-size: 18px;">Consultorio: <%= @daily_cash.account.office_name  %></strong>
    <div class="daily_cash_details" style="font-size: 14px; margin-top: 10px;">
      <strong>Caja: </strong><%= @daily_cash.account.account_number %><br>
      <strong>Fecha de Apertura: </strong><%= @daily_cash.start_date.strftime('%d/%m/%Y %l:%M %P') %><br>
      <strong>Aperturó: </strong><%= @daily_cash.user.owner_name %><br>
      <strong>Fecha de Cierre: </strong><%= @daily_cash.end_date!= nil ? @daily_cash.end_date.strftime('%d/%m/%Y %l:%M %P') : 'No disponible' %><br>
      <strong>Cerró: </strong><%= @daily_cash.close_user != nil ? @daily_cash.close_user.owner_name : 'El corte permanece abierto' %>
    </div>
  </div>
</div>

<div style="clear: both">

</div>


<br>

<div id="pdf_data">
  <%
    @transaction_types.each do |tt|
      items = @data[tt[0]]

    if items.size == 0
      next
    end

  %>
      <br>
      <strong class="section_title"><%= tt[1] %></strong>
      <br>
      <br>

      <% case tt[0]
           when TransactionType::CONSULTATION
      %>
          <table class="items_table" cellspacing="0" cellpadding="1">
            <thead class="table_header">
            <tr>
              <!--<th>No. Consulta</th>-->
              <th>Paciente</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th class="currency">Importe</th>
            </tr>
            </thead>
            <tbody style="font-size: 13px;">
            <%
              currencies = Hash.new
            %>
            <% items.each do |t| %>
                <tr>
                  <!--<td><%= t.chargeable.medical_consultation.folio %></td>-->
                  <td><%= t.chargeable.medical_consultation.patient.full_name %></td>
                  <td><%= t.date.strftime('%d/%m/%Y') %></td>
                  <td><%= t.date.strftime('%l:%M %P') %></td>
                  <td>
                    <span class="symbol"><%= t.currency.iso_code %></span>
                    <span class="amount"><%= number_to_currency(t.amount).sub '$', '' %></span>
                  </td>
                </tr>
                <%
                  amount = currencies[t.currency.iso_code]
                  if amount.nil?
                    currencies[t.currency.iso_code] = 0
                  end
                  amount = currencies[t.currency.iso_code]

                  amount = amount + t.amount

                  currencies[t.currency.iso_code] = amount

                %>
            <% end %>
            <tr class="total_section">
              <td>Total</td>
              <!--<td></td> -->
              <td></td>
              <td></td>
              <td>
                <% currencies.each do |key, val| %>
                    <span class="symbol"><%= key %></span>
                    <span class="amount"><%= number_to_currency(val).sub '$', '' %></span><br>
                <% end %>
              </td>
            </tr>

            </tbody>
          </table>

          <%
               when TransactionType::REPORT
          %>
              <table class="items_table" cellspacing="0" cellpadding="1">
                <thead class="table_header">
                <tr>
                  <th>Estudio</th>
                  <th>Paciente</th>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th class="currency">Importe</th>
                </tr>
                </thead>
                <tbody style="font-size: 13px;">
                <%
                  currencies = Hash.new
                %>
                <% items.each do |t| %>
                    <tr>
                      <td><%= t.chargeable.get_study %></td>
                      <td><%= t.chargeable.get_patient %></td>
                      <td><%= t.created_at.strftime('%d/%m/%Y') %></td>
                      <td><%= t.created_at.strftime('%l:%M %P') %></td>
                      <td>
                        <span class="symbol"><%= t.currency.iso_code %></span>
                        <span class="amount"><%= number_to_currency(t.amount).sub '$', '' %></span>
                      </td>
                    </tr>
                    <%
                      amount = currencies[t.currency.iso_code]
                      if amount.nil?
                        currencies[t.currency.iso_code] = 0
                      end
                      amount = currencies[t.currency.iso_code]

                      amount = amount + t.amount

                      currencies[t.currency.iso_code] = amount

                    %>
                <% end %>
                <tr class="total_section">
                  <td>Total</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <% currencies.each do |key, val| %>
                        <span class="symbol"><%= key %></span>
                        <span class="amount"><%= number_to_currency(val).sub '$', '' %></span><br>
                    <% end %>
                  </td>
                </tr>

                </tbody>
              </table>

      <% when TransactionType::OTHER %>

          <table class="items_table" cellspacing="0" cellpadding="1">
            <thead class="table_header">
            <tr>
              <th>Movimiento</th>
              <th class="">Detalle</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th class="currency">Importe</th>
            </tr>
            </thead>
            <tbody style="font-size: 13px;">
            <%
              currencies = Hash.new
            %>
            <% items.each do |t| %>
                <tr>
                  <td><%= t.t_type == 1 ? 'Ingreso' : 'Egreso' %></td>
                  <td class="other_movement_details"><%= 'Concepto: '+t.chargeable.movement_type.name+'. '+t.chargeable.details %></td>
                  <td><%= t.date.strftime('%d/%m/%Y') %></td>
                  <td><%= t.date.strftime('%l:%M %P') %></td>
                  <td class="<%= t.t_type == 1 ? 'income' : 'egress' %>">
                    <span class="symbol"><%= t.currency.iso_code %></span>
                    <span class="amount"><%= number_to_currency(t.amount).sub '$', '' %></span>
                  </td>
                </tr>
                <%
                  amount = currencies[t.currency.iso_code]
                  if amount.nil?
                    currencies[t.currency.iso_code] = 0
                  end
                  amount = currencies[t.currency.iso_code]

                  if t.t_type == 1
                    amount = amount + t.amount
                  else
                    amount = amount - t.amount
                  end

                  currencies[t.currency.iso_code] = amount

                %>
            <% end %>
            <tr class="total_section">
              <td>Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <% currencies.each do |key, val| %>
                    <span class="<%= val < 0 ? 'egress':'ingress' %>">
                      <span class="symbol"><%= key %></span>
                      <span class="amount"><%= number_to_currency(val).sub '$', '' %></span><br>
                    </span>
                <% end %>
              </td>
            </tr>
            </tbody>
          </table>

      <% when TransactionType::TRANSFER %>

          <div style="width: 75%; margin-left: auto; margin-right: auto;">
            <table class="items_table" cellspacing="0" cellpadding="1">
              <thead class="table_header">
              <tr>
                <th>Origen</th>
                <th>Destino</th>
                <th class="currency">Monto</th>
              </tr>
              </thead>
              <tbody style="font-size: 13px;">
              <%
                currencies = Hash.new
              %>
              <% items.each do |t| %>
                  <tr>
                    <td><%= t.chargeable.from.account_number+' ('+t.chargeable.from.bank.name+')' %></td>
                    <td><%= t.chargeable.to.account_number+' ('+t.chargeable.to.bank.name+')' %></td>
                    <td class="<%= t.t_type == 1 ? 'income' : 'egress' %>">
                      <span class="symbol"><%= t.currency.iso_code %></span>
                      <span class="amount"><%= number_to_currency(t.amount).sub '$', '' %></span>
                    </td>
                  </tr>
                  <%
                  amount = currencies[t.currency.iso_code]
                  if amount.nil?
                    currencies[t.currency.iso_code] = 0
                  end
                  amount = currencies[t.currency.iso_code]

                    if t.t_type == 1
                      amount = amount + t.amount
                    else
                      amount = amount - t.amount
                    end

                  currencies[t.currency.iso_code] = amount

                  %>
              <% end %>

              <tr class="total_section">
                <td>Total</td>
                <td></td>
                <td>
                  <% currencies.each do |key, val| %>
                    <span class="<%= val < 0 ? 'egress':'ingress' %>">
                      <span class="symbol"><%= key %></span>
                      <span class="amount"><%= number_to_currency(val).sub '$', '' %></span><br>
                    </span>
                  <% end %>
                </td>
              </tr>

              </tbody>
            </table>



          </div>

      <% end %>

  <% end %>


  <div class="summary">
    <strong class="section_title">Balance</strong>
    <table class="balance" cellpadding="1" cellspacing="0">
      <thead class="">
      <tr>
        <th>Saldo Inicial</th>
        <th>Saldo Final</th>
      </tr>
      </thead>
      <tbody style="font-size: 13px;">
      <tr>
        <td style="padding-left: 60px;">
          <% @daily_cash.dc_balances.each do |dcb| %>
              <%= dcb.currency.iso_code %> <span style="float: right;"><%= number_to_currency(dcb.start, unit: dcb.currency.symbol+' ') %></span><br>
          <% end %>
        </td>
        <td style="padding-left: 60px;">
          <% @daily_cash.dc_balances.each do |dcb| %>
              <%= dcb.currency.iso_code %> <span style="float: right;"><%= number_to_currency(dcb.end, unit: dcb.currency.symbol+' ') %></span><br>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>