<div class="card" style="padding: 20px">
  <div class="row">
    <div class="col-xs-3">
      <strong>Mes inicio</strong>
      <select class="selectpicker form-control bs-select-hidden" name="mes_ini_actual" id="mes_ini_actual">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
    <div class="col-xs-3">
      <strong>Mes fin</strong>
      <select class="selectpicker form-control bs-select-hidden" name="mes_fin_actual" id="mes_fin_actual">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
    <div class="col-xs-3">
      <strong>Año</strong>
      <select class="selectpicker form-control bs-select-hidden" name="anio_actual" id="anio_actual">
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
      </select>
    </div>
    <div class="col-xs-3"><span></span></div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <strong>Mes inicio comparativo</strong>
      <select class="selectpicker form-control bs-select-hidden" name="mes_ini_comp" id="mes_ini_comp">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
    <div class="col-xs-3">
      <strong>Mes fin comparativo</strong>
      <select class="selectpicker form-control bs-select-hidden" name="mes_fin_comp" id="mes_fin_comp">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
    <div class="col-xs-3">
      <strong>Año comparativo</strong>
      <select class="selectpicker form-control bs-select-hidden" name="anio_comp" id="anio_comp">
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
      </select>
    </div>
    <div class="col-xs-2">
      <input type="button" class="pull-right btn bgm-blue waves-effect" onclick="reload_comparative()" value="Cargar">
    </div>
    <div class="col-xs-1">
      <span></span>
    </div>
  </div>

  </div>


<div class="card" style="padding: 20px">
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="mini-charts-item bgm-red">
      <div class="clearfix">
        <div class="chart chart-pie stats-pie_co" id="consults_pie"></div>
        <div class="count" id="consults_prev" >
          <medium><div style="font-size: 13px">Consultas</div></medium>
          <h2><label id="consultation_amount"></label></h2>
          <small><div style="font-size: 9px">Comparativa</div></small>
          <h2><label id="consultation_amount_total"></label></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="mini-charts-item bgm-bluegray">
      <div class="clearfix">
        <div class="chart chart-pie stats-pie_p"></div>
        <div class="count">
          <medium>Pacientes</medium>
          <h2><label id="patients_amount"></label></h2>
          <small><div style="font-size: 11px">Comparativa</div></small>
          <h2><label id="patients_amount_total"></label></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="mini-charts-item bgm-lightgreen">
      <div class="clearfix">
        <div class="chart chart-pie stats-pi_l"></div>
        <div class="count" id="consults_prev"  >
          <medium>Ordenes de laboratorios</medium>
          <h2><label id="laboratory_orders_amount"></label></h2>
          <small><div style="font-size: 11px">Comparativa</div></small>
          <h2><label id="laboratory_orders_amount_total"></label></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="mini-charts-item bgm-teal">
      <div class="clearfix">
        <div class="chart chart-pie stats-pie_c"></div>
        <div class="count">
          <medium>Cirug&iacute;as</medium>
          <h2><label id="surgeries_amount"></label></h2>
          <small><div style="font-size: 11px">Comparativa</div></small>
          <h2><label id="surgeries_amount_total"></label></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="mini-charts-item bgm-blue">
      <div class="clearfix">
        <div class="chart chart-pie stats-pie_f"></div>
        <div class="count">
          <medium>Facturas timbradas</medium>
          <h2><label id="invoices_amount_stamp"></label></h2>
          <small><div style="font-size: 11px">Comparativa</div></small>
          <h2><label id="invoices_amount_stamp_total"></label></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="mini-charts-item bgm-red">
      <div class="clearfix">
        <div class="chart chart-pie stats-pie_fc"></div>
        <div class="count">
          <medium>Facturas canceladas</medium>
          <h2><label id="invoices_amount_cancel"></label></h2>
          <small><div style="font-size: 11px">Comparativa</div></small>
          <h2><label id="invoices_amount_cancel_total"></label></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="mini-charts-item bgm-pink">
      <div class="clearfix">
        <div class="chart chart-pie stats-pie_b"></div>
        <div class="count">
          <medium>Balance</medium>
          <h2>$<label id="balance_total"></label></h2>
          <small><div style="font-size: 11px">Comparativa</div></small>
          <h2>$<label id="balance_total_total"></label></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xs-12">
    <div class="mini-charts-item bgm-orange">
      <div class="clearfix">
        <div class="chart chart-pie stats-pie_i"></div>
        <div class="count">
          <medium>Ingresos</medium>
          <h2>$<label id="ingress"></label></h2>
          <small><div style="font-size: 11px">Comparativa</div></small>
          <h2>$<label id="ingress_total"></label></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="mini-charts-item bgm-bluegray">
      <div class="clearfix">
        <div class="chart chart-pie stats-pie_e"></div>
        <div class="count">
          <medium>Egresos</medium>
          <h2>$<label id="egress"></label></h2>
          <small><div style="font-size: 11px">Comparativa</div></small>
          <h2>$<label id="egress_total"></label></h2>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
<div class="card" style="padding: 20px">
<div class="row">
  <div class="col-xs-3">
    <strong>Datos</strong>
    <select class="selectpicker form-control bs-select-hidden" name="chart_type" id="chart_type" onchange="reload_barchart_data()">
      <option value="1">Ingresos</option>
      <option value="2">Egresos</option>
      <option value="3">Consultas</option>
    </select>
  </div>
  <div class="col-xs-9"><span></span></div>
</div>
<div class="row">
  <div style="text-align: center;font-size: 14px; font-weight: bold" id="barchart_title"> </div>
  <div class="col-xs-12">
    <div id="comparative_barchart"></div>
  </div>
</div>
</div>
<%= hidden_field_tag 'url_comparative_chart', url_for(:controller => 'doctor/statistics', :action => 'comparative_chart', :only_path => false) %>
<%= hidden_field_tag 'url_comparative_chart_egress', url_for(:controller => 'doctor/statistics', :action => 'comparative_chart_egress', :only_path => false) %>
<%= hidden_field_tag 'url_comparative_chart_ingress', url_for(:controller => 'doctor/statistics', :action => 'comparative_chart_ingress', :only_path => false) %>
<%= hidden_field_tag 'url_comparative_chart_consults', url_for(:controller => 'doctor/statistics', :action => 'comparative_chart_consults', :only_path => false) %>


