<%= hidden_field_tag 'url_graph_diseases', diseases_doctor_statistics_url %>
<%= hidden_field_tag 'url_download_graph_diseases', chart_diseases_pdfs_path %>

<div class="row">
  <div class="col-md-12">
    <div style="text-align: center;font-size: 14px; font-weight: bold"> Enfermedades </div>
  </div>
  <div class="col-md-offset-2 col-md-4">
    <strong>Fecha inicio</strong>
    <input class="form-control date-picker input-lg " value="<%= Date.new(Time.now.year, 1, 1).strftime("%d/%m/%Y") %>" type="text" name="start_date" id="start_date_graph_diseases" aria-required="true" aria-invalid="false">
  </div>
  <div class="col-md-4">
    <strong>Fecha fin</strong>
    <input class="form-control date-picker input-lg " value="<%= Date.new(Time.now.year, 12, 31).strftime("%d/%m/%Y") %>" type="text" name="end_date" id="end_date_graph_diseases" aria-required="true" aria-invalid="false">
  </div>
  <div class="col-md-12">
    <div class="col-md-offset-2 col-md-4">
      <label class="radio radio-inline">
        <input type="radio" name="graph_diseases_radio" id="graph_diseases_radio_one" value="1" checked>
        <i class="input-helper"></i>
        Gr&aacute;fica por personas
      </label>
      <label class="radio radio-inline">
        <input type="radio" name="graph_diseases_radio" id="graph_diseases_radio_two" value="2">
        <i class="input-helper"></i>
        Gr&aacute;fica por Incidencias
      </label>
    </div>
    <div class="col-md-6">
      <label class="col-md-6">Mostrar enfermedades con resultados mayores a:</label>
      <div class="col-md-2">
        <input class="form-control" id="more_than_diseases" type="number" value="0">
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1 col-md-offset-7">
    <button class="btn btn-info" onclick="start_by_type()">Cargar</button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success" onclick="download_graph_diseases()" >Descargar PDF</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div id="graph_diseases" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  </div>
</div>