<div class="col-xs-12">
  <div class="col-xs-4">
    <strong>Fecha inicio</strong>
    <input class="form-control date-picker input-lg " value="" type="text" name="start_date" id="start_date" aria-required="true" aria-invalid="false">
  </div>
  <div class="col-xs-4">
    <strong>Fecha fin</strong>
    <input class="form-control date-picker input-lg " value="" type="text" name="end_date" id="end_date" aria-required="true" aria-invalid="false">
  </div>
  <div class="col-xs-2">
    <input type="button" class="pull-right btn bgm-blue waves-effect" onclick="reload_statistics()" value="Cargar">
  </div>
  <div class="col-xs-2">
    <span></span>
  </div>
</div>
<br style="clear:both">
<br>
<div class="row">
  <div class="col-md-4 col-xs-12">
  <div class="mini-charts-item bgm-red">
    <div class="clearfix">
      <div class="chart chart-pie stats-pie_co" id="consults_pie"></div>
      <div class="count" id="consults_prev" >
        <medium><div style="font-size: 13px">Consultas</div></medium>
        <h2><label id="consultation_amount"></label></h2>
        <small><div style="font-size: 9px">Totales</div></small>
        <h2><label id="consultation_amount_total"></label></h2>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-4 col-xs-12">
  <div class="mini-charts-item bgm-bluegray">
    <div class="clearfix">
      <div class="chart chart-pie stats-pie_p"></div>
      <div class="count">
        <medium>Pacientes</medium>
        <h2><label id="patients_amount"></label></h2>
        <small><div style="font-size: 11px">Total</div></small>
        <h2><label id="patients_amount_total"></label></h2>
      </div>
    </div>
  </div>
</div>
    <div class="col-md-4 col-xs-12">
  <div class="mini-charts-item bgm-lightgreen">
    <div class="clearfix">
      <div class="chart chart-pie stats-pi_l"></div>
      <div class="count" id="consults_prev"  >
        <medium>Ordenes de laboratorios</medium>
        <h2><label id="laboratory_orders_amount"></label></h2>
        <small><div style="font-size: 11px">Total</div></small>
        <h2><label id="laboratory_orders_amount_total"></label></h2>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-4 col-xs-12">
  <div class="mini-charts-item bgm-teal">
    <div class="clearfix">
      <div class="chart chart-pie stats-pie_c"></div>
      <div class="count">
        <medium>Cirug&iacute;as</medium>
        <h2><label id="surgeries_amount"></label></h2>
        <small><div style="font-size: 11px">Total</div></small>
        <h2><label id="surgeries_amount_total"></label></h2>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-4 col-xs-12">
  <div class="mini-charts-item bgm-blue">
    <div class="clearfix">
      <div class="chart chart-pie stats-pie_f"></div>
      <div class="count">
        <medium>Facturas timbradas</medium>
        <h2><label id="invoices_amount_stamp"></label></h2>
        <small><div style="font-size: 11px">Total</div></small>
        <h2><label id="invoices_amount_stamp_total"></label></h2>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-4 col-xs-12">
  <div class="mini-charts-item bgm-red">
    <div class="clearfix">
      <div class="chart chart-pie stats-pie_fc"></div>
      <div class="count">
        <medium>Facturas canceladas</medium>
        <h2><label id="invoices_amount_cancel"></label></h2>
        <small><div style="font-size: 11px">Total</div></small>
        <h2><label id="invoices_amount_cancel_total"></label></h2>
      </div>
    </div>
  </div>
</div>
  </div>
<div class="row">
  <div class="col-md-4 col-xs-12">
  <div class="mini-charts-item bgm-pink">
    <div class="clearfix">
      <div class="chart chart-pie stats-pie_b"></div>
      <div class="count">
        <medium>Balance</medium>
        <h2>$<label id="balance_total"></label></h2>
        <small><div style="font-size: 11px">Total</div></small>
        <h2>$<label id="balance_total_total"></label></h2>
      </div>
    </div>
  </div>
</div>

  <div class="col-md-4 col-xs-12">
  <div class="mini-charts-item bgm-orange">
    <div class="clearfix">
      <div class="chart chart-pie stats-pie_i"></div>
      <div class="count">
        <medium>Ingresos</medium>
        <h2>$<label id="ingress"></label></h2>
        <small><div style="font-size: 11px">Total</div></small>
        <h2>$<label id="ingress_total"></label></h2>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-xs-12">
  <div class="mini-charts-item bgm-bluegray">
    <div class="clearfix">
      <div class="chart chart-pie stats-pie_e"></div>
      <div class="count">
        <medium>Egresos</medium>
        <h2>$<label id="egress"></label></h2>
        <small><div style="font-size: 11px">Total</div></small>
        <h2>$<label id="egress_total"></label></h2>
      </div>
    </div>
  </div>
</div>
  </div>
<div class="row">
  <div style="text-align: center;font-size: 14px; font-weight: bold"> Distribuci&oacute;n de pacientes</div>
<div class="col-md-3 col-xs-6">
  <%= content_tag :div, "",  id: "genre_chart" %>
</div>
<div class="col-md-3 col-xs-6">
  <%= content_tag :div, "",  id: "state_chart" %>
</div>
<div class="col-md-3 col-xs-6">
  <%= content_tag :div, "",  id: "age_chart" %>
</div>
<div class="col-md-3 col-xs-6">
  <%= content_tag :div, "",  id: "money_pie" %>
</div>
</div>
<div class="row">
  <div style="text-align: center;font-size: 14px; font-weight: bold"> Consultas por d&iacute;as</div>
<div class="col-xs-12">
<%= content_tag :div, "",  id: "consultation_chart", data: {consultations: consultations_chart_data} %>
</div>
</div>
<br style="clear:both">
<br>
<div class="row">
  <div style="text-align: center;font-size: 14px; font-weight: bold"> Ingresos y Egresos por d&iacute;a</div>
<div class="col-xs-12">
  <%= content_tag :div, "",  id: "money_chart", data: {transactions: transactions_chart_data} %>
</div>
  </div>
<input type="hidden" id="chart_day" value="1">
<%= hidden_field_tag 'url_get_genres_chart', url_for(:controller => 'doctor/statistics', :action => 'get_genres', :only_path => false) %>
<%= hidden_field_tag 'url_get_cities_chart', url_for(:controller => 'doctor/statistics', :action => 'get_cities', :only_path => false) %>
<%= hidden_field_tag 'url_consultation_chart', url_for(:controller => 'doctor/statistics', :action => 'consults_chart_data', :only_path => false) %>
<%= hidden_field_tag 'url_transacs_chart', url_for(:controller => 'doctor/statistics', :action => 'transacs_chart_data', :only_path => false) %>

