<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
  <%= wicked_pdf_javascript_include_tag "jquery" %>
  <%= wicked_pdf_javascript_include_tag "highcharts" %>
  <%= wicked_pdf_javascript_include_tag "highcharts/highcharts-more" %>

</head>
<body onload="onloadBody()">
<table width="100" style="width: 100%;">
  <tbody>
    <tr>
      <td colspan="3" style="text-align: center"><h2>Gr&aacute;fica de enfermedades</h2></td>
    </tr>
  <tr style="text-align: center;">
    <td>
      <strong>Fecha inicio:</strong> <%= @start_date %>
    </td>
    <td>
      <strong>Fecha Fin:</strong> <%= @end_date %>
    </td>
    <td>
      <strong>Enfermedades con resultados mayores a:</strong> <%= @more_than %>
    </td>
  </tr>
  </tbody>
</table>
<div id="graph_diseases" style="height: 400px; margin: 0 50px auto; width:100%; text-align: center;"></div>
<input type="hidden" id="categories_diseases" value="<%= @categories_graph.to_json %>"/>
<input type="hidden" id="series_diseases" value="<%= @series.to_json %>"/>

</body>
<script>
  function onloadBody(){
      var categories = JSON.parse($('#categories_diseases').val());
      var series = JSON.parse($('#series_diseases').val());

      var title = "Total de "+series[0].name.toLowerCase()+" con alguna enfermedad";
      Highcharts.chart('graph_diseases', {
          chart: {
              type: 'bar'
          },
          title: {
              text: ''
          },
          xAxis: {
              categories: categories
          },
          yAxis: {
              min: 0,
              title: {
                  text: title
              }
          },
          legend: {
              reversed: true
          },
          plotOptions: {
              series: {
                  stacking: 'normal',
                  enableMouseTracking: false,
                  shadow: false,
                  animation: false
              }
          },
          series:series
      });
  }
</script>
</html>






