<div class="card">
  <div class="card-body card-padding">
    <div class="row">

<%= form_for [:admin, @user] do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-xs-12">
      <div class="form-group fg-line">
        <%= f.label :user_name, :class=>"control-label" %><br>
        <%= f.text_field :user_name, :class => "form-control input-lg", :placeholder => "Nombre de Usuario" %>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group fg-line">
      <%= f.label :email, :class=>"control-label" %><br>
      <%= f.text_field :email, :class => "form-control input-lg", :placeholder => "Correo electronico"  %>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group fg-line">
      <%= f.label :password, :class=>"control-label" %><br>
      <%= f.text_field :password, :class => "form-control input-lg", :placeholder => "Contraseña"  %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
       Tipo de Usuario :
        <%= f.select :role_id, options_for_select(Role.all.map{|type| [type.name, type.id]}), {},:class => "selectpicker form-control"  %>
      </div>
    </div>

</div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= admin_users_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4"><%= @text_button %></button>
          </div>
<% end %>

