
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de usuarios</h2>
        </div>
      </div>
      <div class="col-xs-6">
    <%= link_to 'Agregar', new_admin_user_path, class: "pull-right btn bgm-green waves-effect" %>
  </div>
      <div class="col-xs-12">
<table  id="data-table-user" class="table table-striped" data-source="<%= admin_users_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id="id">ID</th>
    <th data-column-id="user_name">NOMBRE USUARIO</th>
    <th data-column-id="password">PASSWORD</th>
    <th data-column-id="email">EMAIL</th>
    <th data-column-id="type_user">TYPE</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>

  </div></div></div></div>