
<div style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;color: #585858;background: #CEECF5;">

    <table style="width:100%">
      <tr>
        <td style="width:20%"></td>
        <td style="width:60%">

          <div style="background: white;text-align: center;padding: 20px;border-radius: 25px;">
            <strong style="font-size: 20px;">
              Estimado <%= @personal_support.full_name %>
            </strong>
            <div style="font-size: 15px;">
              <br>
              <p>
                Por este medio le notificamos que se le ha convocado para su colaboraci&oacute;n
                en una cirugía programada por <%= @doctor_activity.gender.id == Gender::MAN ? "el": "la" %> <%= @suffix+" "+@doctor_activity.full_name %>, a continuación le
                presentamos más detalles.
              </p>
              <p>
                <strong>Descripci&oacute;n:</strong> <%= @activity.name %>
                <br>
                <strong>Informaci&oacute;n adicional:</strong> <%= @activity.details %>
                <br>
                <strong>Rol de participaci&oacute;n:</strong> <%= @personal_support.operation_role.name %>
                <br>
                <strong>Fecha y hora de inicio:</strong> <%= I18n.localize(@activity.start_date, :format => :email_personal_support) %>
                <br>
                <strong>Fecha y hora de terminaci&oacute;n:</strong> <%= I18n.localize(@activity.end_date, :format => :email_personal_support) %>
                <br>
              </p>
              <p>
                Para cualquier duda consulte con <%= @doctor_activity.gender.id == Gender::MAN ? "el": "la" %> <%= @suffix+" "+@doctor_activity.full_name %> al
                celular <%= @doctor_activity.cellphone %> o correo electr&oacute;nico <%= @doctor_activity.user.email %>
              </p>

              <%= image_tag attachments['logo.png'].url, size: "80x50" %>
              <br>
              <p>
                “Este mensaje es generado de forma automática desde la agenda electr&oacute;nica
                <%= @doctor_activity.gender.id == Gender::MAN ? "del": "de la" %> <%= @suffix+" "+@doctor_activity.full_name %>  a trav&eacute;s de la plataforma Medsi, por lo que si
                desea m&aacute;s informaci&oacute;n favor de llamar o escribir en las referencias del m&eacute;dico
                descritas anteriormente.”
              </p>

              <strong>Conoce Medsi.</strong> <a href="<%= root_url %>">www.medsi.com.mx</a>
            </div>
          </div>

        </td>
        <td style="width:20%"></td>
      </tr>
    </table>

  <br>

  <div id="footer_email_doctor" style="background: #00bcd4;padding: 20px;text-align: center;color: white;">
    &nbsp;
  </div>

  <div id="last_message" style="text-align: center;padding: 20px;font-size: 12px;">
    &nbsp;
  </div>

</div>