<div class="card">
  <div class="card-body card-padding">
    <div class="row">

<%= form_for [:admin, @disease] do |f| %>
    <% if @disease.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@disease.errors.count, "error") %> prohibited this disease from being saved:</h2>

          <ul>
            <% @disease.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-xs-6">
            <div class="form-group fg-line">
      <%= f.label :code, :class=>"control-label"  %><br>
      <%= f.text_field :code, :class =>  "form-control input-lg", :placeholder => "Codigo"  %>
    </div>
      </div>

          <div class="col-xs-6">
            <div class="form-group fg-line">
              <%= f.label :name, :class=>"control-label"  %><br>
              <%= f.text_field :name, :class =>  "form-control input-lg", :placeholder => "Nombre"  %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="btn-group bootstrap-select">
              <label class="control-label">Categoría</label><br>
              <%= f.select :disease_category_id,
                           DiseaseCategory.all.collect {|p| [ (p.code.to_s+" | "+p.name), p.id ] },
                           {}, class: 'selectpicker' %>
            </div>
          </div>



    </div></div></div>

<div class="col-xs-6">
</div>
<div class="col-xs-6">
  <span class="col-xs-3"></span>
  <a href="<%= admin_diseases_path %>" class="btn btn-danger col-xs-4">Atrás</a>
  <span class="col-xs-1"></span>
  <button type="submit" class="btn btn-primary col-xs-4"><%= @textd_button %></button>
</div>

      <% end %>