
<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de Enfermedades</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <% if can? :new, Disease %>
        <%= link_to 'Agregar', new_admin_disease_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
  </div>
      <div class="col-xs-12">

  <table id="data-table-disease" class="table table-striped" data-source="<%= admin_diseases_url(format: "json")%>"
         data-can-edit="<%= can? :edit, Disease %>"
         data-can-delete="<%= can? :destroy, Disease %>">
  <thead>
  <tr>
    <th data-column-id="id">ID</th>
    <th data-column-id="category">Categoría</th>
    <th data-column-id="code">CODIGO</th>
    <th data-column-id="name">NOMBRE</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
