<div class="card">
  <div class="card-body card-padding">
    <%= form_for [:admin, @medical_annotation_type] do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group fg-line">
              <strong>Nombre</strong>
              <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Nombre' %>
              <%= f.hidden_field :template %>
              <%= f.hidden_field :id %>
            </div>
          </div>
          <div class="col-md-12">
            <strong>Seleccione una plantilla pre diseñada en formato HTML</strong>
            <%= f.file_field :template_file, "accept" => ".html,.htm" %>
          </div>
          <div class="col-md-6 checkbox">
            <label>
              <input type="checkbox" id="require_upload" <%= @medical_annotation_type.require_upload ? 'checked': '' %>>
              <i class="input-helper"></i>
              <strong class="font_size_medical_history">¿La nota requiere carga de archivo?</strong>
            </label>
          </div>

          <div class="col-md-6 checkbox">
            <br>
            <label>
              <input type="checkbox" id="add_valoration" <%= @medical_annotation_type.add_valoration ? 'checked': '' %>>
              <i class="input-helper"></i>
              <strong class="font_size_medical_history">¿La nota puede incluir valoración?</strong>
            </label>
          </div>

          <div class="col-md-12">

            <div class="col-md-10">
              <div class="col-md-10">
                <strong>Contenido de la plantilla</strong>
              </div>
              <div class="col-md-2">
                <i id="show_linked_fields_btn" class="zmdi zmdi-info-outline pull-right" style="cursor: pointer; font-size: 25px;" title="Ver campos disponibles"></i>
              </div>


              <div class="col-md-12" id="linkable_fields_holder" style="margin-bottom: 15px; display: none;">
                  <% @linkable_fields.each do |f| %>
                      <div class="col-md-4">
                        <strong><%= f[:label] %></strong><br>
                        <label>[<%= f[:model] %>]</label>
                        <br>
                        <br>
                      </div>
                  <% end %>
              </div>


              <div id="template" class="col-md-12"></div>

              <div class="col-md-12">
                Para variaciones de fechas se puede usar<br>
                [CAMPO|FECHA] para obtener un valor con formato <%= date_month_name(Time.now) %> <br>
                [CAMPO|FECHA_HORA] para obtener un valor con formato <%= human_full(Time.now) %><br>
                [CAMPO|HORA] para obtener un valor con formato <%= only_hour(Time.now) %><br>
              </div>

            </div>
            <div class="col-md-2">

              <a id="add_field_btn" title="Agregar campo"
                      class="btn btn-success btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-file-text"></i></a>



              <% if @medical_annotation_type.id.present? %>
                  <a id="add_image_btn" title="Agregar imagen"
                          class="btn btn-primary btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-collection-image"></i></a>
                  <a id="add_linked_field_btn" title="Agregar campo de colección de datos"
                     class="btn bgm-orange btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-link"></i></a>
              <% end %>




              <div id="template_fields_holder">

                <% @medical_annotation_type.medical_annotation_linked_fields.each do |f| %>
                    <div class="template_field">
                      <strong><%= f.name %></strong>
                      <br><span><%= f.code %></span>

                    </div>
                <% end %>

                <% @medical_annotation_type.medical_annotation_fields.each do |f| %>
                    <div class="template_field" id="field_<%= f.id %>">
                      <%
                        data = JSON.parse(f.config)
                      %>
                      <strong><%= data['label'] %></strong> <i field_id="<%= f.id %>"
                                                               class="zmdi zmdi-delete delete_field"
                                                               name="<%= data['label'] %>"
                                                               url="<%= delete_field_admin_medical_annotation_types_path(f.id) %>"></i>
                      <br><span>[<%= data['code'] %>]</span>

                    </div>
                <% end %>

              </div>


              <strong>Imágenes</strong>
              <div id="template_images_holder">
                <% @medical_annotation_type.medical_annotation_images.each do |f| %>
                    <div class="template_field">
                      <label>[<%= f.f_key %>]</label><br>
                      <img src="<%= download_cli_medical_annotation_images_path(f.id) %>" width="100%">
                    </div>
                <% end %>
              </div>

            </div>

          </div>



        </div>
    <% end %>
  </div>
</div>

<div class="col-xs-6">

</div>
<div class="col-xs-6">
  <span class="col-xs-3"></span>
  <a class="btn btn-danger col-xs-4" href="<%= admin_medical_annotation_types_path %>">Atrás</a>
  <span class="col-xs-1"></span>
  <a class="btn btn-primary col-xs-4" id="save_medical_annotation_type_btn">Guardar</a>
</div>

<div class="modal fade" id="add_field_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar campo</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <% html_fields = [
                {
                    :type => "text",
                    :label => "Texto"
                },
                {
                    :type => "long_text",
                    :label => "Texto largo"
                },
                {
                    :type => "number",
                    :label => "Número"
                },
                {
                    :type => "date",
                    :label => "Fecha"
                },
                {
                    :type => "checkbox",
                    :label => "Checkbox"
                }
            ] %>
            <strong>Tipo de campo</strong>
            <select id="field_html_type" class="selectpicker form-control">
              <% html_fields.each do |hf| %>
                  <option value="<%= hf[:type] %>"><%= hf[:label] %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-8">
            <strong>Etiqueta</strong>
            <input type="text" class="form-control input-lg" id="field_label">
          </div>
          <div class="col-md-4">
            <strong>Código</strong>
            <input type="text" class="form-control input-lg" id="field_code">
          </div>
          <div class="col-md-12 date_config">
            <% date_formats = [
                {
                    :type => "only_date",
                    :label =>"Fecha"
                },
                {
                    :type => "date_hour",
                    :label => "Fecha y Hora"
                }
            ] %>
            <strong>Formato de fecha</strong>
            <select id="field_date_format" class="selectpicker form-control">
              <% date_formats.each do |hf| %>
                  <option value="<%= hf[:type] %>"><%= hf[:label] %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-12 checkbox_config">
            <strong>Valores del checkbox</strong>
            <input id="field_checkbox_values" type="text" class="form-control input-lg" placeholder="valor1|valor2|valor3">
          </div>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_new_field">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<% if @medical_annotation_type.id.present? %>
    <div class="modal fade" id="add_annotation_image" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Agregar imagen a la plantilla</h4>
          </div>
          <div class="modal-body">
            <%= form_for [:cli, @medical_annotation_image] do |f| %>
            <div class="row">
              <div class="col-md-12">
                <strong>Código</strong>
                <%= f.text_field :f_key, :class => "form-control input-lg", :placeholder => "Ingrese un código, por ejemplo LOGO_PLANTILLA" %>
                <%= f.hidden_field :medical_annotation_type_id, :value => @medical_annotation_type.id %>
              </div>
              <div class="col-md-12">
                <br>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file m-r-10 waves-effect">
                                            <span class="fileinput-new">Seleccione una imagen</span>
                                            <span class="fileinput-exists">Cambiar</span>
                                            <%= f.file_field :image, "accept" => ".jpg, .jpeg, .png, .gif" %>
                                        </span>
                  <span class="fileinput-filename"></span>
                  <a href="#" class="close fileinput-exists" data-dismiss="fileinput">×</a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="save_medical_image_btn">Aceptar</button>
            <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% if @medical_annotation_type.id.present? %>
<div class="modal fade" id="add_linked_field_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar campo</h4>
      </div>
      <div class="modal-body">

        <% MedicalAnnotationLinkedField.all.each do |f| %>

            <div class="checkbox m-b-15">
              <label>
                <input type="checkbox" value="<%= f.id %>" name="linked_field_check">
                <i class="input-helper"></i>
                <%= f.name %>
              </label>
            </div>

        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_linked_fields_btn" url="<%= add_linked_field_admin_medical_annotation_types_path(@medical_annotation_type.id) %>">Aceptar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<% end %>


<%= hidden_field_tag 'medical_annotation_types_url', admin_medical_annotation_types_path %>
