<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de facturas</h2>
        </div>
      </div>
      <div class="col-xs-12">
  <table id="data-table-admission_invoices" class="table table-striped" data-source="<%= cli_admission_invoices_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id="date">Fecha</th>
    <th data-column-id="folio">folio</th>
    <th data-column-id="patient" data-sortable="false">paciente</th>
    <th data-column-id="rfc_emisor">RFC emisor</th>
    <th data-column-id="rfc_receptor">RFC receptor</th>
    <th data-column-id="business_name">Razón social</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
<%= hidden_field_tag 'url_send_invoice_mail', url_for(:controller => 'cli/admission_invoices', :action => 'send_invoice_email', :only_path => false) %>
<%= hidden_field_tag 'url_cancel_invoice', url_for(:controller => 'cli/admission_invoices', :action => 'cancel_admission_invoice', :only_path => false) %>
<%= hidden_field_tag 'url_get_receptor', url_for(:controller => 'cli/admission_invoices', :action => 'get_receptor_email', :only_path => false) %>
<div class="modal fade" id="send_email_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center"> Enviar factura por correo electronico</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
          <div class="card-body card-padding">

            <div class="row" id="emails_div">

            </div>
            <div class="row">
              <a href="javascript:void(0);" onclick="addemailfield()"><i style="font-size: 1.33em" class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Agregar correo</a>
              <br>
              <div class="col-xs-12" >
                <strong >Correo electronico:</strong> <br>
                <input type="text" class="form-control input-lg" id="email_receptor" >
                <input type="hidden"  id="transac_receptor_id" >
                <input type="hidden" id="invoice_id">
              </div>
              <div class="col-xs-12" id="text_emails_div">

              </div>
              <!-- <input  type="button" onclick="addemailfield()" value="agregar email">-->
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div id="loading_image">
        </div>
        <button type="submit" class="btn btn-primary" id="send_email_btn" onclick="send_invoice_email()">Enviar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>