<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body card-padding">
        <div class="row">
          <div class="col-md-3">
            <strong>Fecha de inicio</strong>
            <input type="text" class="date-picker w-100" id="start_date" value="<%= only_date(Time.now.beginning_of_month) %>">
          </div>
          <div class="col-md-3">
            <strong>Fecha de fin</strong>
            <input type="text" class="date-picker w-100" id="end_date" value="<%= only_date(Time.now) %>">
          </div>
          <div class="col-md-3">
            <a class="btn btn-primary" id="generate_chart_btn" url="<%= load_data_cli_medical_consultations_path %>">Generar gráficas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card">
        <div class="row">
          <div class="col-md-4">
            <div class="small_chart z-depth-3">
              <div class="chart_title">Total de ECE</div>
              <div class="chart_holder_small" id="total_ece"></div>
            </div>
          </div>
          <div class="col-md-4" id="admissions_by_triage_holder">
            <div class="small_chart z-depth-3">
              <div class="chart_title">Admisiones<i class="zmdi zmdi-zoom-in icon_max_min"></i>
              </div>
              <div class="chart_holder_small" id="admissions_by_triage"></div>
            </div>
          </div>
          <div class="col-md-4" id="ece_by_date_holder">
            <div class="small_chart z-depth-3">
              <div class="chart_title">ECE por fechas<i class="zmdi zmdi-zoom-in icon_max_min"></i></div>
              <div class="chart_holder_small" id="ece_by_date"></div>
            </div>
          </div>


          <div class="col-md-4" id="consultations_by_type_holder">
            <div class="small_chart z-depth-3">
              <div class="chart_title">Consultas por tipo<i class="zmdi zmdi-zoom-in icon_max_min"></i></div>
              <div class="chart_holder_small" id="consultations_by_type"></div>
            </div>
          </div>
          <div class="col-md-4" id="consultations_by_office_holder">
            <div class="small_chart z-depth-3">
              <div class="chart_title">Consultas por consultorio<i class="zmdi zmdi-zoom-in icon_max_min"></i></div>
              <div class="chart_holder_small" id="consultations_by_office"></div>
            </div>
          </div>
          <div class="col-md-4" id="consultations_by_age_holder">
            <div class="small_chart z-depth-3">
              <div class="chart_title">Consultas por edades<i class="zmdi zmdi-zoom-in icon_max_min"></i></div>
              <div class="chart_holder_small" id="consultations_by_age"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
          <div class="big_chart z-depth-3">
            <div class="chart_title">Enfermedades por vector <i class="zmdi zmdi-zoom-in icon_max_min_map"></i></div>
            <div class="chart_holder_big" id="map-canvas">
            </div>
            <a style="cursor: pointer;" id="summary_disease_btn">Ver más ...</a>
            <div id="summary_disease" style="height:400px; overflow-y: scroll; display: none;">
              <table class="table table-condensed">
                <thead>
                <tr>
                  <th></th>
                  <th>Enfermedad</th>
                  <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-7">
    <div class="card">
      <div class="row">
        <div class="col-md-4" id="admissions_lines">
          <div class="small_chart z-depth-3">
            <div class="chart_title">Hospitalización<i class="zmdi zmdi-zoom-in icon_max_min"></i></div>
            <div class="chart_holder_small" id="admissions_by_day_count"></div>
          </div>

          <div class="small_chart z-depth-3">
            <div class="chart_title">Triage</div>
            <div class="chart_holder_small" id="admissions_by_day"></div>
          </div>

        </div>
        <div class="col-md-8">
          <div class="small_chart z-depth-3">
            <div class="chart_title">Financieros</div>
            <div class="chart_holder_big" id="finance"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
          <div class="big_chart z-depth-3">
            <div class="chart_title">Demográficos por pacientes</div>
            <div class="chart_holder_big" id="patients_by_city">
              <table class="table table-condensed">
                <thead>
                <tr>
                  <th>Ciudad</th>
                  <th>Personas</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<!--

<div class="card">
  <div class="card-body card-padding">

    <style>
      .report_item{
        padding-top: 15px;
        height: 100px;
        line-height: 30px;
      }
    </style>

    <div class="row">

      <%
        report = GeneralReport.new
        data = report.summary %>
      <% data.each do |item| %>
          <div class="col-md-4 text-uppercase text-center report_item <%= item[:color] %> c-white">
            <div class="f-20 p-3"><%= item[:total] %></div>
            <i class="<%= item[:icon] %> f-15"></i>
            <strong><%= item[:label] %></strong>
          </div>
          <div class="col-md-2 report_item text-center">
            <span class="f-20"><%= item[:data][:today] %></span><br>
            Hoy
            <i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i>
          </div>
          <div class="col-md-2 report_item text-center">
            <span class="f-20"><%= item[:data][:current_week] %></span><br>
            Semana actual
            <i class="zmdi zmdi-calendar zmdi-hc-fw"></i>
          </div>
          <div class="col-md-2 report_item text-center">
            <span class="f-20"><%= item[:data][:last_week] %></span><br>
            Semana pasada
            <i class="zmdi zmdi-calendar zmdi-hc-fw"></i>
          </div>
          <div class="col-md-2 report_item text-center">
            <span class="f-20"><%= item[:data][:current_month] %></span><br>
            Mes actual
            <i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i>
          </div>

      <% end %>

    </div>


  </div>
</div>

-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GMAPS_KEY'] %>"></script>

<script type="text/javascript">
    function initialize() {

        var holder = "map-canvas";
        var mapOptions = {
            zoom: 8,
            //center: myLatlng,
            disableDefaultUI: true
        }

        //var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        diseases_map = new google.maps.Map(document.getElementById(holder), mapOptions);
        //var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                diseases_map.setCenter(pos);
            }, function() {
                handleLocationError(true, diseases_map.getCenter());
            });
        } else {
            handleLocationError(false, diseases_map.getCenter());
        }


        google.maps.event.addListener(diseases_map, 'click', function( event ){
            console.log( "Latitude: "+event.latLng.lat()+" "+", longitude: "+event.latLng.lng() );
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);


</script>