
<% if @certificate.errors.size > 0 %>
    <h3>Campos Requeridos</h3>
    <ul style="color:red;">
      <% @certificate.errors.full_messages.each do |error| %>
          <li><%= error %></li>
      <% end %>
    </ul>

<% end %>
<div class="row">
  <div class="col-md-6">
    <div class="form-group fg-line">
      <span class="red">*</span><strong>Nombre</strong><br>
      <%= f.text_field :name, class: 'form-control input-lg required',:placeholder => "Nombre" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <span class="red">*</span><strong>Tipo de documento</strong><br>
      <%= f.select :type_certificate_id, options_for_select(@type_certificate.map{|tc| [tc.name,tc.id]} , @certificate.type_certificate_id), {:include_blank => 'Seleccione un Tipo de documento'}, {:class => "selectpicker form-control",'data-live-search' => 'true', :onchange => "set_value_type_certificate()" } %>

    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <span class="red">*</span><strong>Consultorio</strong><br>
      <%= f.select :office_id, options_for_select(@offices.map{|tc| [tc.name,tc.id]} , @certificate.office_id), {:include_blank => 'Seleccione un consultorio'}, {:class => "selectpicker form-control",'data-live-search' => 'true'  } %>
    </div>
  </div>
  <div class="col-md-6">
    <%
      patient_id = ""
      if @certificate.patient.nil?
        name = ""
      else
        name = @certificate.patient.full_name
        patient_id = @certificate.patient.id
      end
    %>
    <div class="form-group fg-line">
      <%= f.label :patient_id,"Paciente", :class=>"control-label bold" %><br>
      <%=  f.text_field :patient_id, :patient => patient_id, :autocomplete => "off" , :value => name, :class=>"input-sm form-control input-lg search-patient", :id=>"cetificate_patient_id",:placeholder => "Ingrese el nombre del paciente (opcional)" %>
    </div>
    <!--<div class="form-group ">
      <strong>Paciente</strong><br>
      &lt;!&ndash;<input type="text" class="input-sm form-control input-lg search-patient" name="cetificate_patient" id="cetificate_patient" placeholder="Ingrese el nombre del paciente (opcional)">&ndash;&gt;
    </div>-->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <strong>Dise&ntilde; de Certificado:</strong>
  </div>
  <div class="col-md-12">
    <div id="container_html_preview">

    </div>
  </div>
</div>
<%= f.hidden_field :container_html %>

<div class="row">
  <div class="col-md-6 col-xs-12">
  </div>
  <div class="col-md-6 col-xs-12">
    <span class="col-md-3 col-xs-12"></span>
    <a href="<%= index_certificate_doctor_certificate_index_path %>" class="btn btn-danger col-md-4 col-xs-12">ATRÁS</a>
    <span class="col-md-1 col-xs-12"></span>
    <button type="submit" class="btn btn-primary col-md-4 col-xs-12" >GUARDAR</button>
  </div>
</div>

<input type="hidden" id="url_type_certificate_container" value="<%= type_certificate_html_doctor_certificate_index_url %>"/>