
    <% if @type_certificate.errors.size > 0 %>
        <h3>Campos Requeridos</h3>
        <ul style="color:red;">
          <% @type_certificate.errors.full_messages.each do |error| %>
              <li><%= error %></li>
          <% end %>
        </ul>

    <% end %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group fg-line">
          <span class="red">*</span><strong>Nombre</strong><br>
          <%= f.text_field :name, class: 'form-control input-lg required',:placeholder => "Nombre" %>
        </div>
      </div>
    </div>
    <br>
    <strong>Contenido para el tipo de documento</strong>
    <div class="row">
      <div class="col-md-12">
        <div id="container_html_edit">

        </div>
      </div>
      <%= f.hidden_field :container_html %>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
      </div>
      <div class="col-md-6 col-xs-12">
        <span class="col-md-3 col-xs-12"></span>
        <a href="<%= index_type_certificate_doctor_certificate_index_path %>" class="btn btn-danger col-md-4 col-xs-12">ATRÁS</a>
        <span class="col-md-1 col-xs-12"></span>
        <button type="submit" class="btn btn-primary col-md-4 col-xs-12" >GUARDAR</button>
      </div>
    </div>
