
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2 class="page_title">Tipos de documentos</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Nuevo tipo de documento', new_type_certificate_doctor_certificate_index_path, class: "pull-right btn bgm-green waves-effect" %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-md-12" col-xs-6>
            <table id="data-table-type-certificate" class="table table-striped" data-source="<%= index_type_certificate_doctor_certificate_index_url(format: "json")%>">
              <thead>
              <tr>
                <th data-column-id="id">No.</th>
                <th data-column-id="name">NOMBRE</th>
                <th data-column-id="commands" data-formatter="commands"  data-sortable="false">OPERACIONES</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>