
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
          <h2 class="page_title">Documentos</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Nuevo documento', new_certificate_doctor_certificate_index_path, class: "pull-right btn bgm-green waves-effect" %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-md-12" col-xs-6>
            <table id="data-table-certificate" class="table table-striped" data-source="<%= index_certificate_doctor_certificate_index_url(format: "json")%>">
              <thead>
              <tr>
                <th data-column-id="id">No.</th>
                <th data-column-id="name">NOMBRE</th>
                <th data-column-id="type_certificate_id">TIPO DE CERTIFICADO</th>
                <th data-column-id="office_id">CONSULTORIO</th>
                <th data-column-id="patient_id">PACIENTE</th>
                <th data-column-id="commands" data-formatter="commands"  data-sortable="false">OPERACIONES</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>