<style>
  .panel-default{
      max-height: 559px !important;
      opacity: 1 !important;
  }
</style>
<div class="card">
  <div class="card-body card-padding">
    <h2>Nuevo Tipo de Documento</h2>
    <%= form_for [:doctor, @type_certificate], :url =>create_type_certificate_doctor_certificate_index_path, :html => {:onsubmit => "return set_value_container();"} do |f| %>
        <%= render 'form_type_certificate', f: f %>
     <% end %>
  </div>
</div>
