<style>
    .panel-default{
        max-height: 559px !important;
        opacity: 1 !important;
    }
</style>
<div class="card">
  <div class="card-body card-padding">
    <h2>Nuevo Documento</h2>
    <%= form_for [:doctor, @certificate], :url =>create_certificate_doctor_certificate_index_path, :html => {:onsubmit => "return set_value_container_certificate();"} do |f| %>
        <%= render 'form_certificate', f: f %>
    <% end %>
  </div>
</div>
