
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <h2>Ver Documento</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group fg-line">
          <strong>Nombre</strong><br>
          <span><%= @certificate.name %></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong>Tipo de documento</strong><br>
            <span><%= @certificate.type_certificate.name %></span>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong>Consultorio</strong><br>
          <span><%= @certificate.office.name %></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group ">
          <strong>Paciente</strong><br>
          <span><%= @certificate.patient.nil? ? "" : @certificate.patient.full_name %></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>Dise&ntilde;o de documento:</strong>
      </div>
      <div id="html_from_htmleditor" class="col-md-12" style="border: 1px black solid">
        <%= @certificate.container_html.html_safe %>
      </div>
    </div>

<br>
    <div class="row">
      <div class="col-md-6 col-xs-12">
      </div>
      <div class="col-md-6 col-xs-12">
        <div class=" col-md-3 col-md-offset-3 col-xs-12">
          <a href="<%= index_certificate_doctor_certificate_index_path %>" class="btn btn-danger pull-right">ATRÁS</a>
        </div>
        <div class=" col-md-3 col-xs-12">
          <a href="<%= print_certificate_doctor_certificate_index_path(@certificate, format: :pdf) %>" class="btn btn-info" target="_blank">IMPRIMIR</a>
        </div>
        <div class="col-md-3 col-xs-12">
          <a href="<%= edit_certificate_doctor_certificate_index_path(@certificate) %>" class="btn btn-primary" >EDITAR</a>
        </div>
      </div>
    </div>
  </div>
</div>
