
<div class="card">
  <div class="card-body card-padding">
    <h2> <strong>Nombre:</strong> <%= @type_certificate.name %></h2>


    <br>
    <div class="row">
      <div style="text-align: center" class="col-md-12">
        <strong >Contenido del documento</strong>
      </div>
      <div id="html_from_htmleditor" class="col-md-12">
        <p>
          <%= @type_certificate.container_html.html_safe %>
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 col-xs-12">
      </div>
      <div class="col-md-6 col-xs-12">
        <span class="col-md-3 col-xs-12"></span>
        <a href="<%= index_type_certificate_doctor_certificate_index_path %>" class="btn btn-danger col-md-4 col-xs-12">ATRÁS</a>
        <span class="col-md-1 col-xs-12"></span>
        <a href="<%= edit_type_certificate_doctor_certificate_index_path(@type_certificate) %>" class="btn btn-primary col-md-4 col-xs-12" >EDITAR</a>
      </div>
    </div>
  </div>
</div>