<p>Estimado paciente <%= @patient.full_name %></p>
<br>
<br>

Adjunto a éste correo puede encontrar la receta de su consulta del día <%= @consultation.date_consultation.strftime('%d/%m/%Y') %>.


<br>
<br>
<br>
<br>
<%= ClinicInfo.first.name %>
