<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de transferencias</h2>
        </div>
      </div>
      <div class="col-xs-6">

      </div>
      <div class="col-xs-6">
        <% if can? :new, ItemTransfer %>
        <%= link_to 'Agregar', new_cli_item_transfer_path, class: "pull-right btn bgm-green waves-effect" %>
        <% end %>
      </div>
      <div class="col-xs-12">
  <table id="data-table-item_transfer" class="table table-striped" data-source="<%= cli_item_transfers_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id="date">Fecha</th>
    <th data-column-id="from_warehouse">Almacen origen</th>
    <th data-column-id="to_warehouse">Almacen destino</th>
    <th data-column-id="user">Usuario</th>
    <th data-column-id="state">Estatus</th>
    <th data-column-id="commands" data-formatter="commands" data-sortable="false">OPERACIONES</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
