<div class="block-header">

  <h2>Transferencia de artículos</h2>


<input type="hidden" value="<%=@item_transfer.id %>" id="item_transfer_id">
<div class="card">
  <div class="card-body card-padding">
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-xs-12">
          <div class="new_purchase_section">
            Datos de la transferencia
          </div>
        </div>
        <div class="col-md-12" style="padding: 5px;"></div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong style="color: red"></strong><strong> Almacen origen: </strong>
            <%= @item_transfer.from_warehouse.name %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong style="color: red"></strong><strong> Almacen destino: </strong>
            <%= @item_transfer.to_warehouse.name %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="fg-line">
            <strong style="color: red"></strong><strong> Estatus: </strong>
            <%
              if @item_transfer.status == 0
                state = "Pendiente"
              elsif @item_transfer.status == 1
                state = "Aceptada"
              elsif @item_transfer.status == 2
                state = "Rechazada"
              else
                state = "Cancelada"
              end
            %>
            <%= state %>
          </div>
        </div>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_purchase_section">
            Medicamentos
          </div>
        </div>

        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_concepts_open" class="col-xs-12">

          <table id="medicaments_items" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Cant.</th>
              <th width="15%" style="text-align: center">Medicamento</th>
              <th width="30%" style="text-align: center">Lote</th>
              <th width="15%" style="text-align: center">Fecha de caducidad</th>
              <th width="10%" style="text-align: center"></th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <% if @item_transfer.status == 0  %>
                <%  @item_transfer.medicament_transfer_temps.each do |ic| %>
                    <tr id="medicament_purchase_item_<%= ic.id %>">
                      <td ><%= ic.quantity %></td>
                      <td ><%= ic.lot.medicament.comercial_name %></td>
                      <td ><%= ic.lot.name %></td>
                      <td ><%= ic.lot.expiration_date.strftime("%d/%m/%Y") %></td>
                    </tr>
                <% end %>
            <% else %>
                <%  @item_transfer.medicament_movements.each do |ic| %>
                    <tr id="medicament_purchase_item_<%= ic.id %>">
                      <td ><%= ic.quantity %></td>
                      <td ><%= ic.lot.medicament.comercial_name %></td>
                      <td ><%= ic.lot.name %></td>
                      <td ><%= ic.lot.expiration_date.strftime("%d/%m/%Y") %></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12" style="margin-top: 15px">
          <div class="new_purchase_section">
            Articulos
          </div>
        </div>

        <div class="col-xs-12" style="text-align: center"><span><br></span></div>
        <div id="table_item_open" class="col-xs-12">

          <table id="pharmacy_items" class="table">
            <thead>
            <tr>
              <th width="15%" style="text-align: center">Cant.</th>
              <th width="15%" style="text-align: center">Articulo</th>
              <th width="10%" style="text-align: center"></th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <% if @item_transfer.status == 0  %>
                <%  @item_transfer.pharmacy_item_transfer_temps.each do |ic| %>
                    <tr id="medicament_purchase_item_<%= ic.id %>">
                      <td ><%= ic.quantity %></td>
                      <td ><%= ic.pharmacy_item.description + "(" + ic.pharmacy_item.code + ")" %></td>
                    </tr>
                <% end %>
                <% else %>
                <%  @item_transfer.pharmacy_item_movements.each do |ic| %>
                    <tr id="medicament_purchase_item_<%= ic.id %>">
                      <td ><%= ic.quantity %></td>
                      <td ><%= ic.pharmacy_item.description + "(" + ic.pharmacy_item.code + ")" %></td>
                    </tr>
                <% end %>
                    <% end  %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div id="loading_image_open">
    </div>
    <div class="col-md-2">
      <a href="<%= cli_item_transfers_path %>" class="pull-left btn btn-danger">Atrás</a>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-6">
      <% if @item_transfer.status == 0 %>
      <% if @item_transfer.user.id == current_user.id %>
          <button class="btn bgm-orange" id="prepare_cancel_btn" >Cancelar</button>
      <% end %>
      <button class="btn bgm-blue" id="prepare_accept">Aceptar traspaso</button>
      <button class="btn bgm-red" id="prepare_reject" >Rechazar</button>
          <% end %>
    </div>


  </div>
</div>
</div>
<%= hidden_field_tag 'url_cancel_transfer', item_transfer_cancel_cli_item_transfers_url %>
<%= hidden_field_tag 'url_accept_transfer', item_transfer_accepted_cli_item_transfers_url %>
<%= hidden_field_tag 'url_reject_transfer', item_transfer_rejected_cli_item_transfers_url %>
<%= hidden_field_tag 'url_check_user', check_user_cli_item_transfers_url %>

<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cancel_title">Confirmar traspaso</h4>
        <br>
       Es necesario sus credenciales para continuar.
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <strong>Nombre de usuario o correo electronico:</strong> <br>
            <input type="text" class="form-control input-lg" id="user_name" autocomplete="off">
          </div>
          <div class="col-xs-12">
            <strong>Contraseña:</strong> <br>
            <input type="password" class="form-control input-lg" id="password" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="confirm_accept" >Continuar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm_cancel_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cancel_title">Cancelar transferencia</h4>
        <br>
        Es necesario especificar la razón/motivo.
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="fg-line">
              <strong style="color: red">*</strong><strong> Motivo/Razón </strong>
              <textarea rows="3" class="form-control input-lg" id="reason" > </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="cancel_transfer_btn">Continuar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm_reject_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cancel_title">Rechazar traspaso</h4>
        <br>
        Es necesario sus credenciales para continuar.
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <strong>Nombre de usuario o correo electronico:</strong> <br>
            <input type="text" class="form-control input-lg" id="user_name_reject" autocomplete="off">
          </div>
          <div class="col-xs-12">
            <strong>Contraseña:</strong> <br>
            <input type="password" class="form-control input-lg" id="password_reject" autocomplete="off">
          </div>
          <div class="col-xs-12">
            <div class="fg-line">
              <strong style="color: red">*</strong><strong> Motivo/Razón </strong>
              <textarea rows="3" class="form-control input-lg" id="reason_reject" > </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="confirm_reject" >Continuar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>