<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>MEDSI::Conectando tu salud</title>
  <%= stylesheet_link_tag 'application', params[:controller], :media => "all", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header" class="clearfix" data-current-skin="blue">
  <ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="logo hidden-xs">
      <a href="">MEDSI | Conectando tu Salud</a>
    </li>

    <li class="pull-right">
      <ul class="top-menu">
        <li id="toggle-width">
          <div class="toggle-switch">
            <input id="tw-switch" type="checkbox" hidden="hidden">
            <label for="tw-switch" class="ts-helper"></label>
          </div>
        </li>

        <li class="hidden-xss" id="chat-triggerd" data-trigger="#chast">

          <%= link_to logout_path do %>
              <i class="tm-icon zmdi zmdi-square-right"></i> Salir
          <% end %>
        </li>
       <!-- <li class="dropdown">
          <a data-toggle="dropdown" href=""><i class="tm-icon zmdi zmdi-more-vert"></i></a>
          <ul class="dropdown-menu dm-icon pull-right">
            <li class="skin-switch hidden-xs">
              <span class="ss-skin bgm-lightblue" data-skin="lightblue"></span>
              <span class="ss-skin bgm-bluegray" data-skin="bluegray"></span>
              <span class="ss-skin bgm-cyan" data-skin="cyan"></span>
              <span class="ss-skin bgm-teal" data-skin="teal"></span>
              <span class="ss-skin bgm-orange" data-skin="orange"></span>
              <span class="ss-skin bgm-blue" data-skin="blue"></span>
            </li>
            <li class="divider hidden-xs"></li>
            <li class="hidden-xs">
              <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
            </li>
            <li>
              <a data-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
            </li>
            <li>
              <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
            </li>
            <li>
              <a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>
            </li>
          </ul>
        </li>
        <li class="hidden-xs" id="chat-trigger" data-trigger="#chat">
          <a href=""><i class="tm-icon zmdi zmdi-comment-alt-text"></i></a>
        </li> -->
      </ul>
    </li>
  </ul>


  <!-- Top Search Content -->
  <div id="top-search-wrap">
    <div class="tsw-inner">
      <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
      <input type="text">
    </div>
  </div>
</header>

<section id="main" data-layout="layout-1">
  <aside id="sidebar" class="sidebar c-overflow">
    <%= render :partial => '/layouts/admin/sidebar_menu' %>
  </aside>
  <aside id="main_menu_small" class="scrollbar bs-item z-depth-2-bottom" style="display: none;">
    <ul id="small_menu">
    </ul>
  </aside>
  <div id="content">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</section>




<!-- rutas -->
<%= hidden_field_tag 'url_doctor_save_speciality', admin_identity_cards_url %>
<%= hidden_field_tag 'url_doctor_save_license', admin_licenses_url %>
<%= hidden_field_tag 'url_email_setting', admin_email_settings_url %>
<%= hidden_field_tag 'url_save_diseases', admin_diseases_url(:format => :pdf) %>
<%= hidden_field_tag 'url_disease_categories_diseases', disease_admin_disease_categories_url %>


<%= hidden_field_tag 'url_autocomplete_cities', admin_search_city_url %>
<%= hidden_field_tag 'url_autocomplete_doctors', admin_search_doctor_url %>
<%= hidden_field_tag 'url_autocomplete_patients', find_patients_doctor_patients_url %>
<%= hidden_field_tag 'url_autocomplete_medical_histories', find_disease_doctor_medical_histories_url %>
<%= hidden_field_tag 'url_autocomplete_medicaments', find_medicament_admin_medicaments_url %>
<%= hidden_field_tag 'url_autocomplete_pharmacy_items', search_pharmacy_item_cli_pharmacy_items_url %>
<%= hidden_field_tag 'url_autocomplete_persons', find_person_admin_persons_url %>
<%= hidden_field_tag 'url_setCurrentOffice', set_current_office_doctor_offices_url %>

<%= hidden_field_tag 'url_autocomplete_cie10', cie10_autocompletes_path %>

<footer id="footer">
  Copyright &copy; <%= Time.now.strftime("%Y") %> Tech Systems | Innovation & Development
</footer>

<%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>

<!-- Page Loader
<div class="page-loader">
    <div class="preloader pls-blue">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20" />
        </svg>

        <p>Cargando...</p>
    </div>
</div>-->

</body>
</html>