<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


  <%= favicon_link_tag %>
  <title>MEDSI::Conectando tu salud</title>
  <%= stylesheet_link_tag 'application', params[:controller], media: "all", 'data-turbolinks-track' => true %>
  <link rel="resource" type="application/l10n" href="<%= asset_path('viewFiles/viewpdf/locale/locale.properties') %>"/>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <%= subscribe_to "/messages/public" %>
  <%= subscribe_to "/messages/private/#{session[:doctor_username]}" %>

  <script>
    var socket_params = {
      doctor_username:"<%= session[:doctor_username] %>"
    };

    var notification_img_url = "<%= image_url('imagotipo-azul.png') %>";

    var patient_expedients_path = "<%= patient_expedients_path %>";
  </script>

  <% if session[:user_type_id] == TypeUser::DOCTOR %>
    <%= javascript_include_tag 'socket_doctor' %>
  <% elsif session[:user_type_id] == TypeUser::MEDICAL_ASSISTANT %>
      <%= javascript_include_tag 'socket_assistant' %>
  <% end %>

</head>
<body>

<header id="header" class="clearfix" data-current-skin="blue">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>

                <li class="logo hidden-xs">
                    <a href="">MEDSI | Conectando tu Salud</a>
                </li>


              <%
                style = ''
                appointments = Activity
                    .where('doctor_id = ? AND activity_type_id = ? AND activity_status_id = ?',
                           session[:doctor_id],
                           ActivityType::APPOINTMENT,
                           ActivityStatus::CONFIRM_PENDING)
                .order('start_date ASC')

                pending_link_requests = []


                count_not = appointments.size

                if count_not == 0
                  style = 'display:none'
                end

                waiting_room_patients = Activity.where('doctor_id = ? AND activity_status_id = ? AND (start_date BETWEEN ? AND ?)',
                                     session[:doctor_id],
                                     ActivityStatus::WAITING,
                                     DateTime.now.beginning_of_day,
                                     DateTime.now.end_of_day).all

              %>

                <li class="pull-right">
                    <ul class="top-menu">
                      <li class="dropdown">
                        <a data-toggle="dropdown" href="">
                          <i class="tm-icon zmdi zmdi-accounts-list zmdi-hc-fw"></i>
                          <i class="tmn-counts" id="waiting_count" style="display: <%= waiting_room_patients.size > 0 ? 'block':'none' %>">
                            <%= waiting_room_patients.size %>
                          </i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg pull-right">
                          <div class="listview" id="notifications">
                            <div class="lv-header">
                              Pacientes en espera
                              <ul class="actions">
                                <li class="dropdown">
                                  <a href="" data-clear="notification">
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="lv-body" id="waiting_appointments_list">
                                <% waiting_room_patients.each do |a| %>
                                  <a class="lv-item data_request" id="waiting_patient_<%= a.id %>">
                                    <div class="media">
                                      <div class="media-body">
                                        <div class="lv-title"><%= a.name %></div>
                                        <small class="lv-small" style="color: #3d3d3d;">
                                          <% if a.patients.size == 1 %>
                                              <%= a.patients.first.full_name %><br>
                                          <% end %>
                                          Hora: <%= a.start_date.strftime('%I:%M %p') %> <br>
                                        </small>
                                      </div>
                                    </div>
                                  </a>
                                <% end  %>
                            </div>

                          </div>

                        </div>
                      </li>

                      <li class="dropdown">
                        <a data-toggle="dropdown" href="">
                          <i class="tm-icon zmdi zmdi-notifications"></i>
                          <i class="tmn-counts" id="pending_appointments_count" style="<%= style %>">
                            <%= count_not %>
                          </i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg pull-right">
                          <div class="listview" id="notifications">
                            <div class="lv-header">
                              CITAS POR CONFIRMAR
                              <ul class="actions">
                                <li class="dropdown">
                                  <a href="" data-clear="notification">
                                    <!-- <i class="zmdi zmdi-check-all"></i> -->
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="lv-body" id="pending_appointments_list">

                              <%
                                if session[:role] == 'doctor'
                                  pending_link_requests.each do |req|
                              %>

                                      <a class="lv-item data_request" id="data_request_<%= req.id %>">
                                        <div class="media">
                                          <div class="media-body">
                                            <div class="lv-title">Vinculación <%= req.medical_expedient.code %> </div>
                                            <small class="lv-small" style="color: #3d3d3d;">
                                              Solicitante: <%= req.health_history.user_patient.full_name %> <br>
                                              Paciente: <%= req.medical_expedient.patient.full_name %>
                                              <br>
                                          <span class="actions_pending_appointment" style="font-size: 18px">
                                            <i class="zmdi zmdi-check-circle zmdi-hc-fw" title="Aprobar"
                                               onclick="changeStatusLinkRequest(<%= req.id %>,<%= ExpedientRequest::APPROVED %>)"></i>
                                            <i class="zmdi zmdi-close-circle zmdi-hc-fw" title="Cancelar"
                                               onclick="changeStatusLinkRequest(<%= req.id %>,<%= ExpedientRequest::REJECTED %>)"></i>
                                          </span>
                                            </small>
                                          </div>
                                        </div>
                                      </a>

                              <% end %>

                              <% end %>

                              <% appointments.each do |a| %>
                                  <a class="lv-item data_appointment" id="data_appointment_<%= a.id %>">
                                    <div class="media">
                                      <div class="media-body">
                                        <div class="lv-title"><%= a.name %></div>
                                        <small class="lv-small" style="color: #3d3d3d;">
                                          <% if a.user_patients.first != nil %>
                                          Teléfono: <%= a.user_patients.first.phone %><br>
                                          <% end %>
                                          Fecha: <%= a.start_date.strftime('%d/%m/%Y') %><br>
                                          Hora: <%= a.start_date.strftime('%l:%M %p') %> - <%= a.end_date.strftime('%l:%M %p') %>
                                          <br>
                                          <span class="actions_pending_appointment" style="font-size: 18px">
                                            <i class="zmdi zmdi-check-circle zmdi-hc-fw" title="Aprobar"
                                               onclick="updateAppointmentStatus(<%= a.id %>,<%= ActivityStatus::SCHEDULED %>)"></i>
                                            <i class="zmdi zmdi-close-circle zmdi-hc-fw" title="Cancelar"
                                               onclick="openCancelationModal(<%= a.id %>,<%= ActivityStatus::CANCELED %>)"></i>
                                            <i class="zmdi zmdi-calendar-alt zmdi-hc-fw" title="Reagendar"
                                               onclick="openNewScheduleModal(<%= a.id %>,'<%= a.name %>','<%= a.start_date.strftime('%Y-%m-%d %H:%M') %>','<%= a.end_date.strftime('%Y-%m-%d %H:%M') %>')"></i>
                                          </span>
                                        </small>
                                      </div>
                                    </div>
                                  </a>
                              <% end %>
                            </div>

                          </div>

                        </div>
                      </li>

                      <li id="" title="Directorio">
                        <a href="<%= doctor_address_books_path %>"><i class="tm-icon zmdi zmdi-account-box-phone zmdi-hc-fw"></i></a>
                      </li>


                        <li id="toggle-width">
                            <div class="toggle-switch">
                                <input id="tw-switch" type="checkbox" hidden="hidden">
                                <label for="tw-switch" class="ts-helper"></label>
                            </div>
                        </li>

                        <li class="hidden-xss" id="chat-triggerd" data-trigger="#chast">

                          <%= link_to logout_path do %>
                              <i class="tm-icon zmdi zmdi-square-right"></i> Salir
                          <% end %>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <div class="tsw-inner">
                    <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
                    <input type="text">
                </div>
            </div>
        </header>

        <section id="main" data-layout="layout-1">
          <aside id="sidebar" class="sidebar c-overflow">
          <%= render :partial => '/layouts/doctor/sidebar_menu' %>
          </aside>
          <aside id="main_menu_small" class="scrollbar bs-item z-depth-2-bottom" style="display: none;">
            <ul id="small_menu">
            </ul>
          </aside>
         <!--   <aside id="chat" class="sidebar c-overflow">
              <% #render :partial => '/layouts/doctor/sidebar_chat' %>

            </aside>
            -->
            <div id="content">
                <div class="container">
                <%= yield %>
                </div>
            </div>
        </section>

<div class="modal fade" id="modal_terms" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">

</div>

<%= hidden_field_tag 'url_autocomplete_cities', admin_search_city_url %>
<%= hidden_field_tag 'url_autocomplete_doctors', admin_search_doctor_url %>
<%= hidden_field_tag 'url_autocomplete_patients', find_patients_doctor_patients_url %>
<%= hidden_field_tag 'url_autocomplete_medical_histories', find_disease_doctor_medical_histories_url %>
<%= hidden_field_tag 'url_autocomplete_medicaments', find_medicament_admin_medicaments_url %>
<%= hidden_field_tag 'url_autocomplete_pharmacy_items', search_pharmacy_item_cli_pharmacy_items_url %>
<%= hidden_field_tag 'url_autocomplete_persons', find_person_admin_persons_url %>
<%= hidden_field_tag 'url_setCurrentOffice', set_current_office_doctor_offices_url %>
<%= hidden_field_tag 'url_terms_condition', doctor_terms_conditions_url %>

<%= hidden_field_tag 'log_out', logout_url %>
<%= hidden_field_tag 'doctor_info', get_doctor_session.to_json(only:[:id,:accept_term_conditions]) %>

        <footer id="footer">
            Copyright &copy; 2016 Tech Systems | Innovation & Development
            
            <!--<ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Reports</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Contact</a></li>
            </ul>-->
        </footer>

        <!-- Page Loader 
        <div class="page-loader">
            <div class="preloader pls-blue">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20" />
                </svg>

                <p>Cargando...</p>
            </div>
        </div>-->

<%= render :partial => '/layouts/doctor/modals' %>

</body>
</html>