<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <title>Software Médico MEDSI® | Conectando tu Salud</title>

  <meta property="og:title" content="Software Médico MEDSI® | Únete a la era Digital" />
  <meta property="og:description" content="Expediente Clínico Electrónico. Administra tu consultorio médico de manera fácil y segura. Facturación Electrónica ilimitada y simplifica la administración de tus citas y expedientes médicos desde tus dispositivos móviles." />
  <meta name="keywords" content="Expediente clínico electrónico, era digital, Salud, Medsi, Ginecología, Pediatría, Médico, programa para médicos, sistema médico, facturación médica, administración consultorio, agenda médica, citas">
  <meta name="author" content="Sistemas Tecnológicos J2 S.A de C.V , Tech Systems">


  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag 'index_main', 'data-turbolinks-track' => true %>


  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div class="pre-loader">
  <div class="load-con">
    <img src="<%= image_path('index_page/logo.png') %>" class="animated fadeInDown" alt="">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>

  <% if @show_banner %>
      <%= render '/layouts/guest/banner' %>
  <% end %>

<div class="wrapper">

  <%= yield %>

  <%= render '/layouts/guest/footer' %>
  <%= render '/layouts/guest/modals' %>

</div>

<%= javascript_include_tag 'index_main', 'data-turbolinks-track' => true %>

<script>
  $(document).ready(function() {
    appMaster.preLoader();
  });
</script>
  <%= hidden_field_tag 'url_autocomplete_cities', admin_search_city_url %>

</body>

</html>