<html>
<style>
  .medsi_email_body{
    background: #E6E6E6;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    padding: 50px;
  }

  #medsi_mail_container{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    background: white;
  }

    #medsi_email_content{
      padding: 30px;
      color: #606060;
      font-size: 14px;
      text-align: center;
    }

    #medsi_email_footer{
      padding: 30px;
      color: #606060;
      text-align: center;
      font-size: 12px;
      border-top: #606060 1px solid;
      margin-bottom: 30px;
    }

    .medsi_title{
      font-size: 30px;
      padding-bottom: 30px;
    }

</style>
  <body class="medsi_email_body">

  <div id="medsi_mail_container">

    <div id="medsi_email_content">
      <%= yield %>
    </div>

    <div id="medsi_email_footer">
      <% clinic_info = ClinicInfo.find(1) %>
      <%= clinic_info.name %><br>
      <%= clinic_info.address %> <%= clinic_info.city.format_city_state_and_country %><br>
      <%= clinic_info.telephone %><br>
      <%= clinic_info.contact_email %><br>
    </div>

  </div>



  </body>
</html>
