<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>MEDSI::Conectando tu salud</title>
  <%= stylesheet_link_tag 'application', params[:controller], media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header id="header" class="clearfix" data-current-skin="blue">
      <ul class="header-inner">
        <li id="menu-trigger" data-trigger="#sidebar">
          <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
          </div>
        </li>

        <li class="logo hidden-xs">
          <a href="">MEDSI | Conectando tu Salud</a>
        </li>

        <li class="pull-right">
          <ul class="top-menu">
            <li id="toggle-width">
              <div class="toggle-switch">
                <input id="tw-switch" type="checkbox" hidden="hidden">
                <label for="tw-switch" class="ts-helper"></label>
              </div>
            </li>



            <li class="hidden-xss" id="chat-triggerd" data-trigger="#chast">

              <%= link_to logout_path do %>
                  <i class="tm-icon zmdi zmdi-square-right"></i> Salir
              <% end %>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Top Search Content -->
      <div id="top-search-wrap">
        <div class="tsw-inner">
          <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
          <input type="text">
        </div>
      </div>
    </header>

    <section id="main" data-layout="layout-1">
      <aside id="sidebar" class="sidebar c-overflow">
        <%= render :partial => '/layouts/patient/sidebar_menu' %>
      </aside>
      <div id="content">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </section>



    <div class="modal fade" id="modal_terms" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    </div>


    <%= hidden_field_tag 'url_autocomplete_cities', admin_search_city_url %>
    <%= hidden_field_tag 'url_autocomplete_doctors', admin_search_doctor_url %>
    <%= hidden_field_tag 'url_autocomplete_patients', find_patients_doctor_patients_url %>
    <%= hidden_field_tag 'url_autocomplete_medical_histories', find_disease_doctor_medical_histories_url %>
    <%= hidden_field_tag 'url_autocomplete_medicaments', find_medicament_admin_medicaments_url %>
    <%= hidden_field_tag 'url_autocomplete_pharmacy_items', search_pharmacy_item_cli_pharmacy_items_url %>
    <%= hidden_field_tag 'url_autocomplete_persons', find_person_admin_persons_url %>
    <%= hidden_field_tag 'url_setCurrentOffice', set_current_office_doctor_offices_url %>
    <%= hidden_field_tag 'url_terms_condition', terms_conditions_patient_index_index_url %>

    <%= hidden_field_tag 'log_out', logout_url %>
    <%= hidden_field_tag 'patient_info', current_user.user_patient.to_json(only:[:id,:accept_term_conditions, :is_active]) %>

    <footer id="footer">
      Copyright &copy; <%= Time.now.strftime("%Y") %> Tech Systems | Innovation & Development
    </footer>
</body>
</html>
