<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>MEDSI::Conectando tu salud</title>
  <%= stylesheet_link_tag 'application', params[:controller], media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= subscribe_to "/messages/public" %>
  <%
     all_doctor_socket = []
     current_user.assistant.doctors.each do |doctor|
        if active_license_doctor? doctor
          all_doctor_socket.push({
                :doctor_username => doctor.user.user_name
                 })
  %>
          <%= subscribe_to "/messages/private/#{doctor.user.user_name}" %>
  <%    end
     end %>

  <%= javascript_include_tag 'socket_assistant' %>
  <% if params[:controller] != 'shared_assistant/index' %>
    <%= javascript_include_tag 'shared_assistant/working_schedule/index' %>
  <% end %>

  <script>
      var notification_img_url = "<%= image_url('imagotipo-azul.png') %>";
  </script>

</head>
<body>

<%
  assistant_permissions = {}
  Permission.all.each do |ap|
    assistant_permissions["#{ap.name}"] = [];
  end

  current_user.assistant.office_permissions.each do |p|
    if active_license_doctor? p.doctor
      assistant_permissions["#{p.permission.name}"].push( p.office.id);
    end
  end %>

<%= hidden_field_tag 'assistant_permissions', assistant_permissions.to_json %>
<input type="hidden" id="all_socket_params" value="<%= all_doctor_socket.to_json %>">

<header id="header" class="clearfix" data-current-skin="blue">
  <ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="logo hidden-xs">
      <a href="">MEDSI | Conectando tu Salud</a>
    </li>

    <%
       style = ''
       appointments = Activity.where(doctor: get_doctors_active_assistant_shared.map{|d| d.id}, activity_type_id: ActivityType::APPOINTMENT, activity_status_id: ActivityStatus::CONFIRM_PENDING).order('start_date ASC')

       count_not = appointments.size

       if count_not == 0
         style = 'display:none'
       end
    %>

    <li class="pull-right">
      <ul class="top-menu">

        <li class="dropdown">
          <a data-toggle="dropdown" href="">
            <i class="tm-icon zmdi zmdi-notifications"></i>
            <i class="tmn-counts" id="pending_appointments_count" style="<%= style %>">
              <%= count_not %>
            </i>
          </a>
          <div class="dropdown-menu dropdown-menu-lg pull-right">
            <div class="listview" id="notifications">
              <div class="lv-header">
                CITAS POR CONFIRMAR
                <ul class="actions">
                  <li class="dropdown">
                    <a href="" data-clear="notification">
                      <!-- <i class="zmdi zmdi-check-all"></i> -->
                    </a>
                  </li>
                </ul>
              </div>
              <div class="lv-body" id="pending_appointments_list">
                <% appointments.each do |a| %>
                    <a class="lv-item data_appointment" id="data_appointment_<%= a.id %>">
                      <div class="media">
                        <div class="media-body">
                          <div class="lv-title"><%= a.name %></div>
                          <small class="lv-small" style="color: #3d3d3d;">
                            <% if a.user_patients.first != nil %>
                                Teléfono: <%= a.user_patients.first.phone %><br>
                            <% end %>
                            Fecha: <%= a.start_date.strftime('%d/%m/%Y') %><br>
                            Hora: <%= a.start_date.strftime('%l:%M %p') %> - <%= a.end_date.strftime('%l:%M %p') %>
                            <br>
                                          <span class="actions_pending_appointment" style="font-size: 18px">
                                            <i class="zmdi zmdi-check-circle zmdi-hc-fw" title="Aprobar"
                                               onclick="updateAppointmentStatus(<%= a.id %>,<%= ActivityStatus::SCHEDULED %>)"></i>
                                            <i class="zmdi zmdi-close-circle zmdi-hc-fw" title="Cancelar"
                                               onclick="openCancelationModal(<%= a.id %>,<%= ActivityStatus::CANCELED %>)"></i>
                                            <i class="zmdi zmdi-calendar-alt zmdi-hc-fw" title="Reagendar"
                                               onclick="openNewScheduleModal(<%= a.id %>,'<%= a.name %>','<%= a.start_date.strftime('%Y-%m-%d %H:%M') %>','<%= a.end_date.strftime('%Y-%m-%d %H:%M') %>')"></i>
                                          </span>
                          </small>
                        </div>
                      </div>
                    </a>
                <% end %>
              </div>
            </div>
          </div>
        </li>

        <li id="" title="Directorio">
          <a href="<%= shared_assistant_address_books_path %>"><i class="tm-icon zmdi zmdi-account-box-phone zmdi-hc-fw"></i></a>
        </li>

        <li id="toggle-width">
          <div class="toggle-switch">
            <input id="tw-switch" type="checkbox" hidden="hidden">
            <label for="tw-switch" class="ts-helper"></label>
          </div>
        </li>



        <li class="hidden-xss" id="chat-triggerd" data-trigger="#chast">

          <%= link_to logout_path do %>
              <i class="tm-icon zmdi zmdi-square-right"></i> Salir
          <% end %>
        </li>
      </ul>
    </li>
  </ul>

  <!-- Top Search Content -->
  <div id="top-search-wrap">
    <div class="tsw-inner">
      <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
      <input type="text">
    </div>
  </div>
</header>

<section id="main" data-layout="layout-1">
  <aside id="sidebar" class="sidebar c-overflow">
    <%= render :partial => '/layouts/shared_assistant/sidebar_menu' %>
  </aside>
  <div id="content">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</section>



<div class="modal fade" id="modal_terms" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">

</div>


<%= hidden_field_tag 'url_autocomplete_cities', admin_search_city_url %>
<%= hidden_field_tag 'url_autocomplete_doctors', admin_search_doctor_url %>
<%= hidden_field_tag 'url_autocomplete_patients', find_patients_doctor_patients_url %>
<%= hidden_field_tag 'url_autocomplete_medical_histories', find_disease_doctor_medical_histories_url %>
<%= hidden_field_tag 'url_autocomplete_pharmacy_items', search_pharmacy_item_cli_pharmacy_items_url %>
<%= hidden_field_tag 'url_autocomplete_medicaments', find_medicament_admin_medicaments_url %>
<%= hidden_field_tag 'url_autocomplete_persons', find_person_admin_persons_url %>
<%= hidden_field_tag 'url_setCurrentOffice', set_current_office_doctor_offices_url %>

<%= hidden_field_tag 'log_out', logout_url %>

<%= render :partial => '/layouts/doctor/modals' %>

<footer id="footer">
  Copyright &copy; 2016 Tech Systems | Innovation & Development

  <ul class="f-menu">
    <li><a href="">Home</a></li>
    <li><a href="">Dashboard</a></li>
    <li><a href="">Reports</a></li>
    <li><a href="">Support</a></li>
    <li><a href="">Contact</a></li>
  </ul>
</footer>
</body>
</html>
