<div class="card">
  <div class="card-body card-padding">
    <div class="row">
<%= form_for [:cli, @medicament_movement], html: {:onsubmit => "return check_quantity();" } do |f| %>
    <% if @medicament_movement.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@medicament_movement.errors.count, "error") %> prohibited this attention type from being saved:</h2>

          <ul>
            <% @medicament_movement.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

          <div class="col-md-6 col-xs-12">
            <div class="">
              <strong>Almacen origen</strong><br>
              <%= f.select :from_warehouse_id, current_user.warehouses.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
    </div>
          <div class="col-md-6 col-xs-12">
            <div class="">
              <strong>Almacen destino</strong><br>
              <%= f.select :to_warehouse_id, current_user.warehouses.map{|data| [data.name,data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="">
              <strong>Lote</strong><br>
              <%= f.select :lot_id, Lot.all.map{|data| [data.name+" ("+data.medicament.comercial_name+")",data.id]}, {}, {:class => "selectpicker form-control"}  %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group fg-line">
              <%= f.label :quantity,'Cantidad', :class=>"control-label" %><br>
              <%= f.number_field :quantity, :class => "form-control input-lg", :placeholder => "Cantidad" %>
            </div>
          </div>

          </div></div></div>
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6">
            <span class="col-xs-3"></span>
            <a href="<%= cli_medicament_movements_path %>" class="btn btn-danger col-xs-4">Atrás</a>
            <span class="col-xs-1"></span>
            <button type="submit" class="btn btn-primary col-xs-4">Guardar</button>
          </div>
<% end %>

      <%= hidden_field_tag 'url_check_quantity_waste', url_for(:controller => 'cli/medicament_wastes', :action => 'check_quantity', :only_path => false) %>
