<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-header">
    <h2>Lista de movimientos de medicamentos</h2>
        </div>
      </div>
      <div class="col-xs-4">

      </div>
      <div class="col-xs-4">
        <% if can? :new, MedicamentMovement %>
        <%= link_to 'Movimiento de medicamento', new_cli_medicament_movement_path, class: " btn bgm-green waves-effect" %>
        <% end %>
            <% if can? :pharmacy_movements, MedicamentMovement %>
        <%= link_to 'Movimiento de artículo', pharmacy_movements_cli_medicament_movements_path, class: " btn bgm-green waves-effect" %>
        <% end %>
      </div>
      <div class="col-xs-12">
        <strong>Seleccione el tipo de movimiento</strong>
        <select class="selectpicker form-control" id="movement_type">
          <option value="0">Mediccamentos</option>
          <option value="1">Artículos de farmacia</option>
        </select>
      </div>
      <div class="col-xs-12">
  <table id="data-table-medicament_movements" class="table table-striped" data-source="<%= cli_medicament_movements_url(format: "json")%>">
  <thead>
  <tr>
    <th data-column-id="date">Fecha</th>
    <th data-column-id="from_warehouse">Almacen origen</th>
    <th data-column-id="to_warehouse">Almacen destino</th>
    <th data-column-id="lot">Lote</th>
    <th data-column-id="medicament">Medicamento</th>
    <th data-column-id="quantity">Cantidad</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div></div></div></div>
